[2020-09-21 13:37] tricoder42 commented on #334
@laszbalo This is a bug. JSX macros correctly remove comments, as you can see here: https://github.com/lingui/js-lingui/blob/next/packages/macro/src/macroJsx.ts#L99-L108 but JS macros don't. The if-clause is missing here https://github.com/lingui/js-lingui/blob/next/packages/macro/src/macroJs.ts#L55-L62

[2020-09-21 14:11] laszbalo commented on #334
@tricoder42  Thanks for your answer. It's a great relief. I only read the [tests](https://github.com/lingui/js-lingui/blob/2ff04e492b4d97d5c4d3ed330e743f06f7fd9ff2/packages/macro/test/js-defineMessage.ts#L16) for `defineMessage`, that's why I mistakenly believed that it will preserve the comments after transpiration.

[2020-09-22 12:24] Snaptags commented on #728
I'm happy to confirm: The warning is gone and is still working nicely. Thank you for the fix!

[2020-09-23 05:43] zimmicz commented on #730
Solved it by properly setting tsconfig.json target value to "es2016", as mentioned in the [docs](https://lingui.js.org/guides/typescript.html).

[2020-09-23 05:43] #730 closed

[2020-09-23 18:07] ThiefMaster commented on #334
Would you recommend a new project to start with the `3.0.0-13` prerelease or the latest 2.x version?

[2020-09-23 22:35] honi opened #742 "Should react rerender when calling i18n.activate?"
I've managed to configure a working project using Next.js and Lingui v3.0.0-13.

I'm using the default `i18n` export so macros work ok, and I'm passing it directly to the `I18nProvider`. Not sure if the provider is 100% needed if the macros compile to using the default `i18n` export as well.

Anyways, when I call `i18n.activate` the current components are not rerendered. Is this supposed to happen

[2020-09-23 23:47] honi commented on #742
Sorry for the noise, found [this](https://github.com/lingui/js-lingui/blob/next/examples/next-js/pages/_app.tsx#L21).

[2020-09-23 23:47] #742 closed

[2020-09-24 12:59] telpochyaotl commented on #334
@ThiefMaster, i'm no authority but I've asked the same question and was recommended to use 3.0.0-13

[2020-09-25 05:09] ljani commented on #334
@ThiefMaster: https://github.com/lingui/js-lingui/issues/707 could be a blocker.

[2020-09-25 05:41] tricoder42 commented on #334
@ThiefMaster Well, at this point I would recommend to wait until the end of October. I'm hoping to finish the release by the end of [Hacktoberfest](https://hacktoberfest.digitalocean.com/). Either way I'll be looking for new maintainers to gradually take over this project, but if I manage to finish the v3 release there's much higher chance this project will survive in longterm.

That said, I'll ta

[2020-09-25 06:14] dysticus commented on #738
As I expected, it was something on my configuration. After clearing npm cache, removing node_modules and reinstalling everything, it started working.

[2020-09-25 06:14] #738 closed

[2020-09-25 07:55] ThiefMaster commented on #334
Do you see there's a risk of the project being abandoned any time soon? I know how hard it can be to find maintainers...

FWIW, I wrote a [somewhat similar library](https://github.com/indico/react-jsx-i18n/) some time ago (gettext-based, less powerful integration since there's no babel macro/plugin involved except for string extraction) and I was actually thinking whether it doesn't make more sens

[2020-09-25 11:54] tricoder42 commented on #334
@ThiefMaster One could argue that this project has been abandoned for the last two years. I don't think it's fair to keep it forever in the state which it is right now — having a feature freeze on a master branch but leaving the development branch unfinished in pre-release. I'm just trying to be as transparent as possible about the current state and future plans.

I'm gonna provide support and rev

[2020-09-25 12:21] ThiefMaster commented on #334
I fully agree! And I think if there are open issues people are much more open to help (both during and outside of Hacktoberfest).

In case we decide to move our [main application](https://github.com/indico/indico) to lingui and thus discontinue our own library in favor of this one we'd certainly be open to contribute! We are currently trying it out in a [smaller side project](https://github.com/in

[2020-09-25 12:30] tricoder42 commented on #334
Perfect! Already lot of options how to move this project forward! Thanks for bringing up that uneasy but important question.

[2020-09-25 16:06] FredyC commented on #334
For me, V3 is already in very good shape. It's true I don't use much of advanced features, but those can be always polished later imo.

@tricoder42 Btw, check that todo for pseudolocale refactor in the first comment, that's a sure win :)

[2020-09-25 18:41] nathanforce opened #743 "[Pseudo Localization] Syntax tokens shouldn't be pseudo localized"
**Describe the bug**

Pseudolocalization mutates syntax tokens, for example in the follow `select` syntax the key "screener" is mutated as well as the `select` keyword.

[code]

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

**Expected behavior**
Syntax and tokens are unchanged, only actual language.

**Additional context**
Add any other context

[2020-09-25 18:43] nathanforce opened #744 "[PseudoLocalization] Pseudolocalize on Extract"
**Is your feature request related to a problem? Please describe.**
Text is pseudolocalized on compile rather than extract. This makes it hard to modify/fix any issues, for example #743

**Describe proposed solution**
`lingui extract` should run `pseudoLocalize`

[2020-09-25 20:41] telpochyaotl commented on #707
After looking at documentation and source code, and trying things out, i got this to work.

Using an approach like this:

`
const WatchLocale = ({ children }) => {
  const { i18n: lingui } = useLingui();
  // Skip render when locale isn't loaded
  if (!lingui.locale) {
     return null;
  }
  // Force re-render when locale changes.
  // Otherwise string translations (ie: t`Macro`) won't be updated

[2020-09-25 20:50] telpochyaotl commented on #334
I just added a comment to #707 with how i worked around the issue presented. Hope it helps. I don't think it is a blocker if one watches the locale changes acts when it happens.

[2020-09-25 20:58] telpochyaotl commented on #334
While it did take looking at documentation, code and trying things out. I did reach a point in the POC where I feel Lingui works quite well... I certainly have the best wishes for the project and will contribute if we find issues as we've picked it for our next app. Thanks a lot, it's pretty cool!

[2020-09-25 23:00] gregdburns commented on #442
It seems like this code could be improved by only loading intl if the Intl object doesn't exist:

`if (typeof Intl === 'undefined') {
  require('intl')
  require('intl/locale-data/jsonp/en')
}`

I'd be curious if anyone sees any potential issues with this.   In this case, it would avoid performance overhead if the Intl object did exist (i.e. iOS).

[2020-09-26 10:45] tricoder42 commented on #442
@gregdburns Sounds reasonable. Would you like to send a PR to documentation so others can easily find it? [react-native](https://github.com/lingui/js-lingui/edit/next/docs/tutorials/react-native.rst) tutorial might be a good place

[2020-09-27 10:31] landsman commented on #544
merged here https://github.com/lingui/js-lingui/commit/223ced9619522f5deff38ebbc25ccdeae12ef9e0

[2020-09-27 10:31] #544 closed

[2020-09-27 13:57] mediaxtend opened #745 "Escaping variables does not work in Webpack dev server"
**Describe the bug**
When using React and the Webpack built-in development server (`$ yarn start`), the variables escaping does not work as expected.
The same test work as expected in bundled script (`$ yarn build`).
Variables escaping is done using a pair of ASCII apostrophes, as described in the [ICU messages format](http://userguide.icu-project.org/formatparse/messages#TOC-Quoting-Escaping): `T

[2020-09-28 09:07] ccamusso opened #746 "Catalog statistics in json format"
Hi,
It would be very useful if the 'lingui extract' command could create a json file with inside catalog statistics info

Carlo

---

- [ ] Add `--stats <file>` option to `lingui-extract.ts` command. If it's present, write catalog stats as a JSON at the end of `extract` command
- [ ] Add documentation to CLI reference guide (`docs/ref/cli.rst`)

[2020-09-29 10:09] gryzzly commented on #442
We were able to solve this by updating `android/app/build.gradle` like this:

[code]

[2020-09-30 02:52] khaphannm commented on #353
Hi, even I installed babel-plugin-macros, but I still got the error, any suggestion ?

[2020-09-30 11:22] pniebrzydowski commented on #688
Have you tried running it with the [Ovrewrite Flag](https://js-lingui-git-next.lingui-js.now.sh/ref/cli.html#cmdoption-extract-overwrite) `--overwrite`?

[2020-09-30 19:01] tricoder42 commented on #746
Hi Carlo,
sure, that sounds reasonable. What about adding flag `--stats <file>` to `extract` command? Please use `next` branch as a base for your PR. Let me know if I can help with anything.

[2020-09-30 19:14] tricoder42 commented on #743
This definitely shouldn't happen, thanks for report.

Could you please checkout `next` branch and test, if the problem persists in v3? If so, feel free to send PR, but please use `next` branch as a base (it should be relesed early November). Let me know if I can help somehow

[2020-10-01 05:45] ccamusso commented on #746
Ok

[2020-10-01 12:03] joshhunt commented on #587
Is it correct that this option is not available for PO files (yet?)? There is currently no way to configure lingui to include line numbers/origins in PO files?

[2020-10-01 12:16] tricoder42 commented on #587
@joshhunt Not yet, but it's available in v3 (pre-release). It's not documented (yet), but I've definitely merged it https://github.com/lingui/js-lingui/blob/next/packages/conf/src/index.ts#L58

[2020-10-02 10:54] landsman commented on #587
@MarttiR is it same with https://github.com/lingui/js-lingui/issues/720 ?

[2020-10-03 21:55] ThiefMaster commented on #519
Is removing this really a good idea? During development I *really* do not want to have to bother compiling message dictionaries for stuff to work. I don't think there is any way in create-react-app based app to automatically rebuild the english/source locale, so it would require developers to run an extra tool just for translatable strings to work.

Would supporting runtime compilation in both dev

[2020-10-07 12:38] tricoder42 commented on #519
The webpack loader compiles catalogs automatically. If you don't use it, then you need to run extract after each update, but there was an open PR to add a watch mode.

That was the main reason why I removed them initially.

This works perfectly on the backend, but in frontend code you ideally want to remove any unnecessary text. If we keep the language defaults even in production, then we'll ship

[2020-10-07 19:30] ThiefMaster opened #747 "Trans inside Plural has surrounding whitespace"
I have this JSX:

[code]

When extracting, I get this:

[code]

As you can see, the one/other cases with Trans have a space at the end of the string, while the 0 case with the normal string doesn't have this space. I think the extra space is a bug, since it doesn't make sense there and surrounding whitespace is generally ugly.

[2020-10-07 20:20] tricoder42 commented on #747
Hi @ThiefMaster, what version do you use? 2.9 or the 3.0 pre-release?

[2020-10-07 20:34] ThiefMaster commented on #747
3.0 prerelease

[2020-10-08 10:21] cezarneaga commented on #415
Hi Cosmin @clehene ,

did you get this to work somehow? i have the same situation. component library in monorepo. not sure how to get it to work.
thanks,
Cezar
ps: @tricoder42 any input on this?

[2020-10-08 16:20] kv9991 commented on #317
This bug is still happens. In logs I can see users that have this error (~0.25%)
One time I saw this error by myself and I took a screenshot

<img width="429" alt="Screenshot 2020-10-08 at 19 17 09" src="https://user-images.githubusercontent.com/16166451/95485877-f978f700-099a-11eb-84a7-9b28d46e4094.png">

I'm using:
"@lingui/cli": "2.9.2",
"@lingui/core": "2.9.2",
"@lingui/macro": "2.9.2",
"@ling

[2020-10-08 21:13] FredyC commented on #317
@kv9991 I don't think anyone here has the capacity to fix the problem in V2 given it's even a problem to finish V3 😅 So unless you can reproduce it with V3, then you can essentially forget about it or fix it yourself.

Sorry if I sound harsh, just stating how it is.

[2020-10-08 22:18] ahmedosama5200 opened #748 "Review create-react-app setup guide"
Edit by @tricoder42:

Installation instructions for create-react-app projects are obsolete. They need to be updated to reflect latest changes in Lingui v3 and create-react-app.

- [ ] Setup LinguiJS in fresh create-react-app
- [ ] Update https://github.com/lingui/js-lingui/blob/next/docs/tutorials/setup-cra.rst

---

Original post by @ahmedosama5200:

In the official docs [here](https://lingui.js.

[2020-10-08 22:27] ahmedosama5200 commented on #748
It seems like the documentation hasn't been touched in a long time

[2020-10-09 05:08] tricoder42 commented on #748
@ahmedosama5200 You're right, that page hasn't been updated. If you have experience with CRA 3.4, could you please try it without `@babel/core` and `babel-core@bridge`? If everything works, please send a PR with update docs. Thanks!

[2020-10-09 12:45] ahmedosama5200 commented on #748
I don't understand. There are a lot of open issues. Is the project not well maintained. It's really worth your time. This is the only complete react i18n solution that has this small size.

[2020-10-09 17:20] sladek-jan commented on #334
Hi there, I'd like to just quickly share my experience with migrating to v3 – I would vouch for keeping the withI18n hook around. Other solutions (such as i18n-next) offer both the hook and the HOC, which is a good compromise IMHO. If withI18n is removed, migration of existing projects with a lot of class components is PITA.

[2020-10-10 02:04] fny commented on #747
A related problem:

`<Trans>Hello there are many <Plural value={this.state.number} one="child" other="children">`

[2020-10-10 02:19] fny opened #751 "How to Avoid <I18n />{({ it8n }) => ()}<I18n />?"
I have a lot of places where I need to make use of the i18n object.

What I *thought* I could do was to create an i18n instance, place that inside of the <I18nProvider />, and then pass that around throughout the app instead of wrapping *everything* in <I18n />.

Here's a complete example.

[code]

[code]

[code]

What ends up happening is that the language change for V1 is delayed. You change the

[2020-10-10 03:42] fny opened #752 "pluralize(id, config) Broken"
**Describe the bug**
[code]

Error:

[code]

- jsLingui version ``lingui --version`` 2.9.2
- Babel version ``npm list @babel/core`` @babel/core@7.11.6
- Create React App

[2020-10-10 03:43] fny commented on #752
Also i18n is not extracting these.

[2020-10-10 13:49] tricoder42 commented on #752
Hi @fny, this issue seems to be fixed in v3. I've just add plurals to `next-js` example (see 669caf2c) and both `<Plural>` component and `plural` macro work as expected.

I don't have resources to help you with v2, but if you send a PR I'm happy to merge it and release a patch.

[2020-10-10 13:49] #752 closed

[2020-10-10 13:53] tricoder42 commented on #751
I would suggest using active locale as an element key to force re-render of the whole app. Like this:

https://github.com/lingui/js-lingui/blob/1ef1afcacd55cee0e37f0077c5bf06d3ef03c549/examples/next-js/pages/_app.tsx#L24-L38

In your example it would be:

[code]

Lingui v3 no longer uses <I18n> component, but rather macros in combination with `useLingui` hook and the trick mentioned above.

[2020-10-10 13:53] #751 closed

[2020-10-10 13:55] tricoder42 commented on #748
I'm gradually working through them but as a solo maintainer I need all the help available. Me personally, I don't use create-react-app, but rather Next.js so I can't really help with fixing CRA example. If you're CRA user, go ahead and send a PR. I'm happy to answer any questions you have

[2020-10-10 14:12] tricoder42 commented on #451
Hey @MirzayevFarid! Good to hear you find this project useful 👍

Feel free to add your project to the documentation and send a PR (like #750)

[2020-10-10 14:13] tricoder42 commented on #735
Duplicate of #748

[2020-10-10 14:13] #735 closed

[2020-10-10 14:38] tricoder42 commented on #747
Indeed, I can confirm this is happening. I've added a test case to `feature/fix-trailing-whitespace` branch (see 0e51288e).

@ThiefMaster Could you please checkout the commit and try to fix it? It must be somewhere inside [macroJsx.ts](https://github.com/lingui/js-lingui/blob/next/packages/macro/src/macroJsx.ts) or [icu.ts](https://github.com/lingui/js-lingui/blob/next/packages/macro/src/macroJsx.

[2020-10-10 18:24] fny opened #753 "Invalid Message Catalogs Generated"
Using 3.0.0-13 to 3.0.0-16 after an extract and compile, I'm getting the following error:

[code]

[2020-10-10 18:26] tricoder42 commented on #753
Please create a repository with minimal example to reproduce this bug. Otherwise it's hard to help without knowing your full setup.

[2020-10-10 18:28] fny commented on #753
Will do.

[2020-10-10 18:59] fny commented on #753
Here is the repository: https://github.com/fny/bugreports-lingui

[2020-10-10 22:12] fny commented on #753
Yeah this looks like a bug that occurs when importing using the simple instead of po.

[2020-10-11 09:45] tricoder42 commented on #746
Hey @ccamusso, are you working on this issue or should I mark it as open for contributors?

[2020-10-11 10:01] tricoder42 commented on #334
Hey everyone,
new version `3.0.0-18` was just published today. Mostly bug fixes. I also setup a next.js project to play with (in examples) and it seems to work well. I went through open PRs and the top-most issue and I believe there're only few blocking issues:

- https://github.com/lingui/js-lingui/issues/747
- Update migration docs

Some issue can be closed later:

- https://github.com/lingui/js

[2020-10-11 10:06] tricoder42 commented on #707
@telpochyaotl Actually, in latest pre-release I made this behavior opt-out.

https://github.com/lingui/js-lingui/blob/f44ecdd7b6f47f1230262c73a3020e128820b162/packages/react/src/I18nProvider.tsx#L64-L71

[2020-10-11 10:06] #707 closed

[2020-10-11 10:08] tricoder42 commented on #705
This should be fixed in `3.0.0-18`. It happend during initial render before messages were loaded.

[2020-10-11 10:08] #705 closed

[2020-10-11 10:08] tricoder42 commented on #683
This should be fixed in `3.0.0-18` which prevents rendering before messages are loaded.

[2020-10-11 10:08] #683 closed

[2020-10-11 13:51] semoal commented on #334
Done the HOC mate, feel free to request if some changes are needed about passing refs like master version... or we just release it as minimal as possible
https://github.com/lingui/js-lingui/pull/756

[2020-10-11 15:20] telpochyaotl commented on #707
Thank you so much, i will take a look at this to see what the implications of your change and statement are 👍

[2020-10-11 16:30] ccamusso commented on #746
I haven't started, I'd like to but I think I'll be able to work on it

[2020-10-12 22:20] agwells opened #757 "React "two children with same key" warning from `<Trans>` macro"
**Describe the bug**
When using the `<Trans>` macro, if the language string contains two instances of the same variable, _and_ that variable's value is a JSX element, Lingui generates two sibling elements with the same `key` prop. This causes React to complain, because the `key` prop is required to be unique for sibling elements.

**To Reproduce**
Here is a Storybook story that reproduces the issu

[2020-10-13 06:46] tricoder42 commented on #757
Hi @agwells, yeah this might be probably bug. Could you please confirm it's hapenning also in v3 (it's in pre-release)?

[2020-10-14 12:02] semoal opened #758 "Hacktoberfest wrong count due ineligible repository"
Hi @tricoder42,

to hacktoberfest count the pull request, you need to add to github topic the hacktoberfest tag or `hacktoberfest-accepted` on the pull requests mate.

I don't care too much about the hackaton, but some users probably yes.

<img width="481" alt="Screenshot 2020-10-14 at 14 01 41" src="https://user-images.githubusercontent.com/22656541/95986152-d2e90f00-0e25-11eb-8077-cfe6bca02b59.p

[2020-10-14 12:04] tricoder42 commented on #758
Thanks! I've added repository topic. Could you please confirm it is working?

[2020-10-14 12:54] semoal commented on #758
Yes, now it's working properly i close the issue mate

[2020-10-14 12:54] #758 closed

[2020-10-15 01:44] davakos opened #759 "help wanted: strings not interpolated (displaying {var}) in "production" builds"
**Describe the bug**
I am experiencing an issue in my TypeScript application (bootstrapped by Create-React-App) where translation strings aren't properly interpolated when built for "production" (minified, etc.).

For example:
* if I run the app in "development" mode with `npm start` results: `Displaying 1 of 5` (expected)
* if I run the app in "production" mode" with `npm run build` and `serve -s

[2020-10-15 02:32] davakos commented on #759
In case it helps, this is my full `tsconfig.json`.
This was all created by create-react-app and I only changed target from es5 => es2016 and jsx from react => preserve

[code]

[2020-10-15 07:34] semoal commented on #759
Did you run `lingui extract` & `lingui compile`?

[2020-10-15 08:32] semoal commented on #759
I've created a sample repo for you https://github.com/semoal/lingui-v3-ts-redux

Also probably you're issue was not loading the catalogs correctly on v2 you need to require the messages.js (compiled catalogs) and load them in i18nProvider, on v3 you can do it directly with i18n.load

[2020-10-15 08:35] semoal commented on #759
Also i saw create-react-app alreadyy contains babel-plugin-macros, so probably you don't need to use craco.

https://github.com/facebook/create-react-app/blob/master/packages/babel-preset-react-app/create.js#L121

[2020-10-15 14:14] davakos commented on #759
Thank you very much for the quick response and sample!
I am adjusting my project now to see if I can resolve the issue.
I probably should have noted that I first saw this in an application I am creating using TypeScript and Lingui v3.0.0-13 and in *this* app I *am* importing the message catalog. I just didn't import the message catalogs in the create-react-app sample app I created to reproduce the

[2020-10-15 14:52] davakos commented on #759
Fixed.
The issue was my import of the message catalogs, specifically this line:
`i18n.load(locale, require("locale/en/messages"));`

I was loading the messages, but not using the actual exported messages object, so I adjusted to an es6 import:
[code]

and this resolved it.
Thank you very much for your help, please feel free to close/resolve this issue.
Best regards,

[2020-10-15 16:35] clehene commented on #415
Hey @cezarneaga. Yes we built an adapter. Likely suboptimal, but it works.
We can contribute it as a helper to lingui-js. Meanwhile I'm posting the code here

[code]

[2020-10-16 08:05] semoal commented on #757
I can confirm that is also happening on v3, i'll take a look

[2020-10-17 06:31] #747 closed

[2020-10-17 07:36] #568 closed

[2020-10-17 07:42] tricoder42 commented on #757
Thank you @semoal. I think it must be somewhere in `formats.ts` file (`@lingui/react` package), but there's an `index` set as a key here

https://github.com/lingui/js-lingui/blob/fe1be25f5ad2801c51122c0516c81882c3645a33/packages/react/src/format.ts#L67-L76
Maybe instead of using the `index` from translation which placeholders doesn' thave, we should simply create a unique id inside the forloop...

[2020-10-17 07:43] #759 closed

[2020-10-17 07:48] tricoder42 commented on #701
In v3 there's a [`defineMessage` macro](https://js-lingui-git-next.lingui-js.now.sh/ref/macro.html#definemessage)

[2020-10-17 07:48] #701 closed

[2020-10-17 07:49] tricoder42 commented on #629
Duplicate of #724

[2020-10-17 07:49] #629 closed

[2020-10-17 07:54] tricoder42 commented on #628
Hey @capaj, I can't find any mention about Lingui nor i18n in the repo. It must be misconfigured, because I'm not getting similar warnings... Feel free to checkout next-js example in `examples/next-js` directory. It uses Lingui, Typescript, but with Next.js

[2020-10-17 07:54] #628 closed

[2020-10-17 08:00] tricoder42 commented on #649
As I understand, the problem is using an "extra" `I18nProvider` (the problem section in OP is actually a suggested solution). Given how many libraries use global provider and they all deal with it somehow (including tests) I don't see any value in finding alternative solution.

However, if you come up with alternative solution, feel free to post it. It'll require probably different macros, rewrite

[2020-10-17 08:00] #649 closed

[2020-10-17 08:04] tricoder42 commented on #614
Hey @jbreckmckye, thanks for you suggestion. Not sure if we should clutter runtime code with this. We could actually use an upcoming `lingui check` #724 to validate placeholders agains the source string. It would require exporting this information to catalogs. Also, many localization management tools validate placeholders, e.g. Transifex.

[2020-10-17 12:05] tricoder42 commented on #630
Added to `next` branch. Thank you 👍

[2020-10-17 12:05] #630 closed

[2020-10-17 12:06] tricoder42 commented on #692
Indeed, the versions got mixed up. I'm working on new documentation, so it's gonna be fixed very soon.

[2020-10-17 12:06] #692 closed

[2020-10-17 12:17] #700 closed

[2020-10-17 12:18] tricoder42 commented on #700
Thanks for report. This seems to be related to upstreadm issue https://github.com/DefinitelyTyped/DefinitelyTyped/issues/20544. Fixed in 585e3b2

[2020-10-17 12:21] #525 closed

[2020-10-17 12:22] tricoder42 commented on #263
In v3, polyfills are loaded manually.

[2020-10-17 12:22] #263 closed

[2020-10-17 13:25] semoal commented on #757
Yes, absolutly I'll fix this

[2020-10-17 14:35] semoal commented on #607
is not introduced this yet? I can do a pr

[2020-10-17 15:00] semoal commented on #748
@tricoder42 Assign to me this Tomáš, I'll review the CRA setup, some days ago i've built a setup with redux and cra to another issue, so probably i could take a look to the documentation

[2020-10-17 15:44] semoal commented on #753
The problem is you're importing messages.js as default, you must extract the messages
[code]

[2020-10-17 15:53] semoal opened #764 "bug: Typescript i18n.load function type is not working properly"
**Describe the bug**
On Typescript with i18n.load function, passing the messages object is returning an error.

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

**Expected behavior**
Don't return an error

**Additional context**
Add any other context about the problem here.

- jsLingui version ``lingui --version``: `latest`

**Screenshots**

<img w

[2020-10-17 15:54] semoal commented on #764
I'll fix the issue, you can assign this to me @tricoder42

[2020-10-17 17:12] tricoder42 commented on #748
@semoal Go ahead. Thanks a lot! Feel free to ditch original setup guide completely, create a fresh CRA project, add Lingui and then document your steps. So far there's just Next.js project inside `examples` directory.

[2020-10-17 17:12] #753 closed

[2020-10-17 17:14] #764 closed

[2020-10-19 16:58] #757 closed

[2020-10-19 20:41] fny commented on #753
This doesn't work either.

[2020-10-19 20:53] semoal commented on #753
The fix for typescript inference is not deployed yet. https://github.com/lingui/js-lingui/commit/93b14953b99203f47a14be5afb75f19b4bd0b6a6#comments

Once deployed, I'll quote you, no worries.

[2020-10-20 08:14] #607 closed

[2020-10-20 08:21] tricoder42 commented on #334
Hey everyone,
new version 3.0.0-20 was just published now. First of all I would like to thank to @semoal for his incredible support. He did the most work on the latest release cleaning many outstanding issues: #756 #760 #762 #763 #765

I believe we just need to update the documentation and the release is ready to go 🚀

[2020-10-20 08:21] tricoder42 commented on #753
It was just published in `3.0.0-20`

[2020-10-20 08:46] lucax88x commented on #409
@dshuvalov  As you can read there https://github.com/kentcdodds/babel-plugin-macros/issues/141
you can add the stuff as dependency instead of devDependency with no problems

[2020-10-20 08:49] tricoder42 commented on #409
@lucax88x Perfect, would you like to send a PR with updated docs? Please `next` branch as a base, if you do so.

[2020-10-20 09:00] lucax88x opened #766 "[V3] Lingui compile always returns exit code 1"
https://github.com/lingui/js-lingui/blob/00cefac13d06b59c1bcace153be2d84a1c54560f/packages/cli/src/lingui-compile.ts#L117

[2020-10-20 09:01] lucax88x commented on #766
Should this line be one line below?

Otherwise this is inside forEach and will never retun true.

Infact, the compile always exits with code 1;

[2020-10-20 09:25] tricoder42 commented on #766
@lucax88x Good point! I had to missed that during a review. Could you please send a patch?

[2020-10-20 09:49] #766 closed

[2020-10-20 09:50] tricoder42 commented on #686
This should be fixed in latest release `3.0.0-20`

[2020-10-20 09:50] #686 closed

[2020-10-20 09:51] tricoder42 commented on #601
If anyone interested tackling this, feel free to reopen

[2020-10-20 09:51] #601 closed

[2020-10-20 09:51] semoal commented on #409
Got this on the the review of the documentation =) Assign me

[2020-10-20 09:56] tricoder42 commented on #409
Closed in #768

[2020-10-20 09:56] #409 closed

[2020-10-20 10:36] plourenco opened #770 "Plural macro does not support _0"
**Is your feature request related to a problem? Please describe.**
As per [beware of zeros](https://js-lingui-git-next.lingui-js.now.sh/tutorials/react.html#beware-of-zeroes) in linguijs' docs, some languages do not have a zero plural form, requiring the prop `_0` to be used instead of `zero`.

While using the [plural JS macro](https://js-lingui-git-next.lingui-js.now.sh/ref/macro.html#plural) it

[2020-10-20 10:37] ThiefMaster commented on #766
This was super fast :D I was just about to open an issue/PR about this as well.

[2020-10-20 10:47] ThiefMaster commented on #334
Getting #770 and #766 (the second one is already merged anyway) in the release would be great :)

[2020-10-20 10:47] tricoder42 commented on #770
I believe the macro supports it, it's just missing in type. Could you please send a patch?

[2020-10-20 11:18] plourenco commented on #770
Sure, I've confirmed it locally it was just missing the type.

[2020-10-20 12:46] dshuvalov commented on #409
Thank you guys. Where I can check updated docs?

[2020-10-20 12:53] tricoder42 commented on #409
@dshuvalov Latest version from `next` branch is deployed here https://js-lingui-git-next.lingui-js.now.sh/

[2020-10-20 21:05] semoal opened #774 "[V3] Migration should be done with a codemod?"
**Is your feature request related to a problem? Please describe.**
I found after writing the documentation there are several steps to migrate a large application:
- [x] NumberFormat and DateFormat components were removed. Use `date` and `number` formats from @lingui/core package instead.
- [x] Change import of components to `macro` from `react` package
- [X] plural parameters changed:
[code]
- [x]

[2020-10-21 07:12] ljani commented on #707
I was able to produce my issue with wrong translations. Here's a repro:
https://github.com/ljani/lingui-707

Running `npm start` and checking the dev tools shows these lines at least for me:
[code]

Notice how the second one is not translated. [The documentation states that the `t` macro should return `MessageDescription`](https://js-lingui-git-next.lingui-js.now.sh/ref/macro.html#jsmacro-t), whic

[2020-10-21 07:32] tricoder42 commented on #774
Well, this would be huge improvement and it would definitely easy the transition from v2 to v3. If you have spare time in your hand, feel free to do so. There're few more changes which you haven't mentioned:

- [ ] Rename `I18nProvider.defaultRender` prop to `I18nProvider.defaultComponent`
- [ ] Macros don't need to be wrapped inside `i18n._`: `i18n._(t'Message')` => `t'Message'`
- [ ] `setupI18n`

[2020-10-21 07:34] tricoder42 commented on #748
I believe this is fixed in #769

[2020-10-21 07:34] #748 closed

[2020-10-21 07:38] tricoder42 commented on #707
@ljani It seems you're using v3, but lot of your code looks like v2. Could you please check the latest docs and create-react-app example in `next` branch (`examples/create-react-app`)? It was just updated to latest version in #769 so you might find some answers there

[2020-10-21 07:43] ljani commented on #707
Are the docs published somewhere? I've been following the examples in https://js-lingui-git-next.lingui-js.now.sh/ref/macro.html

[2020-10-21 07:47] tricoder42 commented on #707
Yeah, that's the correct link. Lot of changes were published only few minutes ago, but looking at this page there're still outdated sections. I'll take a look later today

[2020-10-21 07:49] tricoder42 commented on #334
Hey everyone,
new version 3.0.0-21 was just published. Mostly small bug fixes, but I wanted to get it out. @semoal just did another incredible feat and updated the docs 👏  They should be deployed by now.

Please take a look and raise an issue if you find any problems.

[2020-10-21 07:49] ljani commented on #707
Oh, looking at the examples, you're not supposed to use `setupI18n` anymore? That's what got me confused as [this page](https://js-lingui-git-next.lingui-js.now.sh/ref/core.html) talks about `setupI18n` a lot.

[2020-10-21 07:51] tricoder42 commented on #707
`setupI18n` is optional now. If you use it, you should set `runtimeConfigModule` https://js-lingui-git-next.lingui-js.now.sh/ref/conf.html#runtimeconfigmodule, but unless you need something special, you're better off using the default `i18n` from `@lingui/core`

[2020-10-21 07:51] ljani commented on #707
Great, many thanks for the clear up!

[2020-10-21 12:13] dannysellers commented on #334
I don't want to throw a wrench into release plans, this seems somewhat minor (and I'm trying to familiarize myself more with the source / to start working on a patch), but FYI it looks like `i18nMark` no longer exists in v3. Is there a different mark-type function that should be used?

[2020-10-21 14:47] semoal commented on #334
We're going to write a codemod for helping users migrate from v2 to v3, on the related issue you have all the things that changed or are the recommended way to work.

[2020-10-21 19:14] semoal commented on #656
Uh, I tough that the script wasnt working properly, because I was used to see the stats.
Whats the problem? I could work on it, after the codemod

[2020-10-21 19:51] FredyC commented on #656
AFAIK it was commented out because of a change in how catalogs work. I don't really know specifics.

[2020-10-21 22:32] semoal commented on #774
I've already got 2/7 (in 1 hour or less), it's my first time with codemods and AST, i'll try to give it some time tomorrow!

[2020-10-22 03:07] tricoder42 commented on #774
You're awesome! No rush, there's plenty of time

[2020-10-22 03:17] tricoder42 commented on #656
Yes, now with multiple catalogs it's a bit more complex to calculate the stats. I didn't have time to fix it.

Regarding the UI, I guess we could display the overal stats as before. Not sure if stats per catalog would be anyhow helpful

[2020-10-22 12:13] semoal commented on #774
Only have pending the `i18n.t(), i18n.plural(), i18n.select() and i18n.selectOrdinal() methods are removed and replaced with macros` task, once I got this done I'll execute the migration to some large projects I have on my company with lingui! Let it go 🚀

<img width="836" alt="Screenshot 2020-10-22 at 14 05 31" src="https://user-images.githubusercontent.com/22656541/96870062-a27e2200-1470-11eb-88

[2020-10-22 12:14] tricoder42 commented on #774
Amazing 👏  This is something I tried few years back and failed. Great job 🙇

[2020-10-22 13:17] renchap commented on #334
I am working on upgrading a quite large app to Lingui 3.

So far I did this:
- rewrote the lazy loading & initialisation to use the new v3 functions
- replaced every usage of `<I18n>` with `useLingui`
- updated my `.linguirc` (this should be in the upgrade guide IMO)

I am now working on the places where I am using the `t` macro to get a `MessageDescriptor`, which is then displayed using `i18n._(d

[2020-10-22 13:21] tricoder42 commented on #334
@renchap Yes, to get a `MessageDescriptor` you should use [`defineMessage`](https://js-lingui-git-next.lingui-js.now.sh/ref/macro.html#definemessage). But if you don't need a lazy translations or set specific message IDs, then you can use `t` directly and remove `i18n._` call.

What changes have you made?

[2020-10-22 13:55] renchap commented on #334
Mmh, I was getting errors about `i18n` being undefined, but now it works correctly when just using `t`. Now it seems to work fine, I will do more testing

Changed from

[code]

to

[code]

It looks like it was previously trying to extract messages from my `node_modules` (took a long time and got warnings from files in `node_modules`), it works fine with the new config (copied from the docs).

[2020-10-22 14:51] semoal commented on #774
https://github.com/lingui/codemods, could you push something to this repo @tricoder42, so I can do a fork and push the OFFICIAL `lingui-codemod` CLI 👍🏻

[2020-10-22 14:54] tricoder42 commented on #774
@semoal I've invited you as a collaborator. Let me know if it enables write access for you

[2020-10-22 15:03] renchap commented on #334
I am also seeing an issue with HTML entities:

[code]

is rendered as:
![image](https://user-images.githubusercontent.com/42070/96890752-3e675800-1488-11eb-8df3-7591c1607b52.png)

My english `messages.po` (generated by Lingui) contains:
[code]

I read the change about HTML entities in the upgrade guide, but I am not sure what I am missing here.

This is the last issue I am seeing. I got weird erro

[2020-10-22 15:18] semoal commented on #774
Perfect mate, i've pushed the actual code CLI + Github Actions + V2-to-V3 transform :)

Pending to prepare is the publish method, i've run yarn link and used in some internal applications and worked pretty fine, anyways i'll keep taking some infomration

[2020-10-22 16:22] lucax88x opened #776 "[V3] Trans is eating up parent component"
**Describe the bug**
I think that screenshots will explain my issue better..

this
![Screenshot_2020-10-22_18-15-20](https://user-images.githubusercontent.com/6294464/96900999-00236600-1493-11eb-8d16-b7034e72eee9.png)

renders to
![Screenshot_2020-10-22_18-15-46](https://user-images.githubusercontent.com/6294464/96901032-0b769180-1493-11eb-89d6-254024ee50fb.png)

but

this
![Screenshot_2020-10-22_

[2020-10-22 19:01] semoal commented on #656
Tomáš I can work on it if you give me some guidelines, we are close enough to do some little corrections to the codemod so I can do it in parallel.

I'll write some docs on the website about the codemod an his usage in the migration-3.rst if you're agree with =)

[2020-10-22 19:44] renchap opened #777 "Babel macros do not works with TS "import type" before the macro import"
**Describe the bug**

When using `import type { … } from "@lingui/react"` before `import { Trans } from "@lingui/macro"` the macro does not use an import for `Trans`.
This results in an obscure `Uncaught ReferenceError: Trans is not defined` error.

Note: I can reproduce this with Lingui 2, not with Lingui 3, but I think this should be fixed as the error message is not explicit at all and finding

[2020-10-22 23:01] agwells commented on #757
Thanks!

[2020-10-23 04:53] tricoder42 commented on #777
Hey @renchap, thanks for the report. Could you please try:
- the pre-release version of v3 LinguiJS (even on some small example, e.g. the one from `examples/next-js` in `next` branch)?
- any other macro? Just to confirm this is specific to LinguiJS and not an upstream issue of `babel-plugin-macros`

[2020-10-23 07:21] renchap commented on #777
I just tested with v3 and I see the same issue. But in my v3 upgrade branch it does not happen anymore as I am no longer importing any type because `withI18n` has been replaced by `useLingui` everywhere.

I am not sure on how to test with another macro, do you have any example?

[2020-10-23 07:48] tricoder42 commented on #656
Well, you need to calculate stats for each catalog, combine them together and then print to console. I don't think it's complex or difficult, I just didn't have time to tackle it.

https://github.com/lingui/js-lingui/blob/bcc37800c57638022bfe492b4ba58011ebe37879/packages/cli/src/lingui-extract.ts#L34-L49

As I mentioned before I don't know if we should print stats for each catalog or just the tota

[2020-10-23 07:52] semoal commented on #656
Alright, lgtm I'll start later on

[2020-10-23 07:55] tricoder42 commented on #776
It's not eating it. I believe when `Link` sees a component as a child, it doesn't wrap it in `<a>` tag. What library it is?

[2020-10-23 07:55] tricoder42 commented on #776
Also, to test my hypothesis, what is rendered when you add `<strong>Register</strong>` as a child?

[2020-10-23 07:56] semoal commented on #774
@tricoder42 successfully migrated a project with:
[code]

319 files, using macros, jsx, react, practically all the cases, with date, plurals..

Only had to create a i18n.js, copy from create-react-app example, change .linguirc and all working 👍🏻

I'm pretty happy about this, we'll make the migration super easy

[2020-10-23 07:58] tricoder42 commented on #774
This is incredible. It'll definitely make the migration easier. Also great that you have just a huge repository to test it on. Well dome 👏

[2020-10-23 08:02] tricoder42 commented on #334
I believe you need to use UTF-8 character directly, e.g. `Let's go!`. Otherwise the macro see `&` and treats it as a special character, ignoring the rest. I couldn't figure out how to handle this properly :/

[2020-10-23 08:30] renchap commented on #334
Ok. I was using https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-unescaped-entities.md which forces you to escape these characters. I should be able to use the UTF-8 character, but I feel this should be considered as a bug in Lingui.
Unfortunately I dont know macros well enough to help there :(

[2020-10-23 08:31] lucax88x commented on #776
I am such an idiot, I am sorry for wasting your time.

[2020-10-23 08:31] #776 closed

[2020-10-23 08:35] tricoder42 commented on #776
Not a big deal, this will confuse more people. I wonder if it really happens because the child of `<Link>` is a `<Trans>` component or if it's because `<Trans>` component wraps the translation in a `<React.Fragment>`.

What router library do you use? Is it the `react-router-dom`?

[2020-10-23 08:37] tricoder42 commented on #776
Could you maybe try this simple test in your app? I wonder what will `<Link>` render in both cases:

[code]

[2020-10-23 08:38] tricoder42 commented on #334
Yeah, I don't like it either. Let me check.

[2020-10-23 08:39] lucax88x commented on #776
No, it's Link from nextjs.

Let me try this one.

[2020-10-23 08:42] lucax88x commented on #776
They both render a string.

The point is another one.

If Link has a text, it will render an anchor with text, otherwise it will just render the children component, weird stuff.

Not your problem.
Infact, it was quite impossible that a child component like Trans could eat a parent, but I was wondering maybe the macro was doing something wrong.. but no, Link fault.

[2020-10-23 08:47] tricoder42 commented on #776
Not sure what version you use, but `Next.js` recommends to always use `<a>` as a child of `<Link>`. In fact, there several props to handle cases when child component renders `<a>` on it's own: https://nextjs.org/docs/api-reference/next/link

Anyway, glad we get to the bottom of this 👍

[2020-10-24 11:10] tricoder42 commented on #334
Hey everyone, not sure if you've noticed, but @semoal wrote a codemod (#774) which makes migration from v2 to v3 very easy. Please check and let us know how it works for you: https://github.com/lingui/codemods/

At the moment I'm working on the documentation — from the feedback I've noticed there're lot of obsolete sections. If you're interested, here's the [preview of macro section](https://js-li

[2020-10-25 10:32] tricoder42 commented on #774
I believe we can close this as the `@lingui/codemods` package is managed in it's [own repository](https://github.com/lingui/codemods/).

Thanks again @semoal, this is a really helpful tool!

[2020-10-25 10:32] #774 closed

[2020-10-25 13:37] tricoder42 commented on #334
Hi all, I've updated all sections of reference documentation: https://js-lingui-git-next.lingui-js.now.sh/

I think we might need to update the [testing guide](https://js-lingui-git-next.lingui-js.now.sh/guides/testing.html). Does anyone has an experince with testing components with LinguiJS? Do you need any specific setup?

Otherwise it all seems to be good. Once we manage to fix the @renchap's h

[2020-10-25 14:51] #656 closed

[2020-10-25 19:25] semoal commented on #577
I can work on this, if anything you considered relevant for the V3 release @tricoder42 just let know I can help you

[2020-10-26 06:00] tricoder42 commented on #577
@semoal This is definitely nice-to-have, not essential feature for v3 release. Also, it would be great to figure out how the library could work when used in Next.js project, because they're working on locale detection on their own https://github.com/vercel/next.js/discussions/17078

I guess a new package (e.g. `@lingui/detect-locale`) would be the best — optional yet ready to be integrated into Li

[2020-10-26 08:53] tricoder42 opened #780 "Handling of HTML entities"
As @renchap pointed out [few days ago](https://github.com/lingui/js-lingui/issues/334#issuecomment-714557445), LinguiJS handles HTML entities differently that you would expect from JSX:

[code]

This is due to the fact that we're actually rendering strings. For example, this wouldn't render html entities either:

[code]

Even this:

[code]

I assume this isn't neither caused by React or Lingui, bu

[2020-10-26 09:01] renchap commented on #780
Why not use the UTF-8 character in the PO files? I think this is the standard practice, translators do not need to know the text comes from HTML, and their translations will be UTF-8 in this file, not escaped HTML entities.

[2020-10-26 09:09] tricoder42 commented on #780
Is it standard practice? If so, I'm not gonna fight that. Some characters could be lost, like `&nbsp;`, that's my only convern. Otherwise it's gonna be much easier

[2020-10-26 09:19] tricoder42 commented on #780
I've found two related issues:
- this is the issue when I actually decided to keep escaped html entities in catalos: #417
- another related — handling escaped entities in catalog #400

Based on these I have a strong feeling we should keep the escaped entities in catalogs and only decode them when rendering (most probably during compile step)

Thoughts?

[2020-10-26 09:20] tricoder42 commented on #780
@semoal How do you tackle html entities in your codebase?

[2020-10-26 09:27] semoal commented on #780
Hm, i have 5 projects with Lingui and no one uses unescaped html entities, always if i had to I've used ternary expressions, or just the utf-8 standard.

[2020-10-26 10:08] renchap commented on #780
`&nbsp;` is a non-breaking space, which is an UTF-8 character and usually handled correctly by translation tools. I am personally using POEdit and non-breaking spaces in french translations (mandatory before `?` and `!` for example in french) and it works correctly with LinguiJS 2.

[2020-10-26 10:11] tricoder42 commented on #780
@renchap Yeah, I'm more and more inclined to this option.

[2020-10-26 11:07] PutziSan commented on #334
I would refer to react-testing-library and the wrapper-usage: https://testing-library.com/docs/react-testing-library/setup#custom-render
Since also CRA refers to this project, I think it should bei fine to also stick only to this.

[2020-10-26 12:02] tricoder42 commented on #334
@PutziSan Perfect, I was hoping we could utilize react-testing-library. Could you please write a short example to [`guides/testing.rst`](https://github.com/lingui/js-lingui/blob/next/docs/guides/testing.rst) and send a PR? Feel free to remove anything else in that document, I don't think we need to preserve any of it.

[2020-10-26 16:31] semoal commented on #577
Assign this to me Tomáš, i've already started working on it 👍🏻

[2020-10-26 17:24] #780 closed

[2020-10-26 17:30] tricoder42 commented on #334
Hi all, new pre-release published — 3.0.0-23. Also, the codemod package is now available as `@lingui/codemods` (thanks @semoal). Please try and let us know how everything works.

I believe we're ready for final release. Let's sink it for few days to catch any outstanding bugs.

[2020-10-26 17:36] renchap commented on #334
There is still #777 (even if I worked around it), I am not sure how to troubleshoot this further and it also impacts v2, so probably not a blocker.
I will resume my v3 conversion branch on my big project and see if -23 works in staging.

[2020-10-26 21:39] semoal commented on #777
Tomorrow I'll take a look to this I guess what's the problem

[2020-10-27 06:04] tricoder42 commented on #777
I tried to fix it, but wasn't successful so far:
- I tried to add missing export types afec2dcfa4d
- I tried other macros (`preval.macro`) and it works fine
- It's not related to type import. You could import anything from `@lingui/macro` and `@lingui/react` packages in the same file to get this errror
- I also tried an alias for `Trans` macro, doesn't help

Looking at the `@lingui/macro`, it impo

[2020-10-27 12:01] renchap commented on #334
Updated my app with `3.0.0-23` and all seems fine.

You really need to clean up all caches when upgrading, otherwise the macro is updated but not the source file, so the cached one is reused and you end up with `t` macros still compiled to `{id: "…"}` from the cache, which will cause errors where you do not use `_` anymore. (this is a [known bbel-cache issue](https://github.com/kentcdodds/babel-pl

[2020-10-27 12:40] semoal commented on #777
I found the issue, i'll push a pull request asap :)

[2020-10-27 13:47] semoal commented on #777
Tested successfully with `yarn link @lingui/macro` with the new changes, and we get the expected result, correctly imported the @lingui/react with the correct `Trans` component!

Was easier than I expected ^^

[2020-10-27 15:29] #777 closed

[2020-10-27 15:30] tricoder42 commented on #777
@semoal Nice work 🥇

[2020-10-27 15:32] #577 closed

[2020-10-27 15:38] tricoder42 commented on #334
Hi all, new pre-release is out `3.0.0-24`. Fixed #777 and new package was written by @semoal, `@lingui/detect-locale`. You can use it to detect default locale from several sources. Here's the [documentation](https://js-lingui-git-next.lingui-js.now.sh/ref/locale-detector.html)

[2020-10-28 12:53] tricoder42 commented on #334
Hey everyone, `3.0.0` was just published to NPM 🎉

Thank you all for patience! Big thanks to @semoal who pushed the last features and fixes 👍  I'm gonna cleanup the backlog of issues in next few days and see what's still relevant.

[2020-10-28 12:53] #334 closed

[2020-10-28 13:05] semoal commented on #334
https://github.com/marketplace/stale
You could add `stale` @tricoder42 , will close automatically issues with no activity, you have 90 issues but some of them are really old

[2020-10-28 13:08] tricoder42 commented on #334
@semoal Yeah, I want to install something like that! Thanks for the tip 👍

[2020-10-28 13:14] tricoder42 commented on #334
Btw, I'm gonna re-publish LinguiJS 2.x docs to alternative domain soon. I'm just migrating `lingui.js.org` from GitHub Pages to Vercel.com. I'll post the new link when it's available.

[2020-10-28 23:15] fny opened #789 "Support for React v17"
Just wanted this to be on everyone's radar.

[2020-10-29 05:24] tricoder42 commented on #789
Hey @fny, please provide more information. What changes are in React 17? How does it affect Lingui? What components needs to be changed to suppoprt React 17? And finally, please provide the PR will required changes.

[2020-10-29 06:10] ScriptedAlchemy commented on #508
Yeah this is actually perfect for module federation. You can literally write module router module gates and point even complex requirements to other modules in webpack.

For this case though, remotes with module federation would make this quite simple to perform. And translations could be shared between separate apps, if you were to deploy or maintain MFE or just multiple separate applications

[2020-10-29 06:14] tricoder42 commented on #508
@ScriptedAlchemy I don't know much about module federation. Could you please create a PR with a proof of concept?

[2020-10-29 06:34] herrstucki commented on #566
Still an issue in v2

[2020-10-29 06:36] FredyC commented on #397
Whoa, this has been here for 2 years now, but I guess it's still valid. I mean I got used to writing proper plural translations since I am doing those for myself. But I can imagine if I decide on more languages later that will be translated somewhere else, it would be handy to have a tool to check it.

PS: You should probably configure Stale bot to ignore "triage: accepted" labels ;)

[2020-10-29 06:41] tricoder42 commented on #566
Hey @herrstucki, there was just new major version released, 3.0.0. Feel free to send a PR, but please also backport it to branch `stable-2.x` if you want to release the patch in v2.

[2020-10-29 06:44] tricoder42 commented on #397
Hey @FredyC, feel free to send the PR if you still find it valid 👍

Even accepted issues might become "stale" when author looses interest. The point is to get rid of issues which nobody has time to finish/close

[2020-10-29 07:26] FredyC commented on #397
Well, it's not immediate pain for sure and I don't really have a capacity right now. But I would appreciate it if you can keep it around in case somebody else gets interested in it.

[2020-10-29 07:35] herrstucki commented on #566
@tricoder42 Awesome! I'll do that when I find a minute but I'm not sure when that will be ;) So feel free to close the issue anyway, since it's not blocking anyone.

[2020-10-29 07:37] tricoder42 commented on #397
Well, nobody found it interesting in two years. If someone had a similar need, they can always find it or create a new issue. No big deal.

[2020-10-29 07:41] #566 closed

[2020-10-29 07:42] #397 closed

[2020-10-29 08:22] FredyC commented on #292
I guess I don't care about this that much anymore :)

[2020-10-29 08:22] #292 closed

[2020-10-29 08:25] FredyC commented on #138
I just want to add here I've been using http://localise.biz/ tool for a while now and really great with fair pricing. A lot of power under the hood.

[2020-10-29 08:27] tricoder42 commented on #138
@FredyC There's also https://lingui.js.org/misc/tooling.html where you could add it

[2020-10-29 08:28] FredyC commented on #312
@tricoder42 Do you consider issues marked with "bug" as obsolete too? I want to remind you that a lot of issues here are "stale" because of the delay with V3 release. It doesn't necessarily make them invalid even though they are older.

[2020-10-29 08:33] MartijnHols commented on #486
Still something I have to work around.

[2020-10-29 08:35] tricoder42 commented on #312
All developers get an email notification that the issue they opened is marked as stale. If they're still interested, they can come in and contribute.

Nobody says these issues are invalid. They're just marked as stale because, probably, there's no longer anyone who would like to work on them.

If this bug affects you, feel free to fix it and send a PR 👍

[2020-10-29 08:38] tricoder42 commented on #486
Hey @MartijnHols, please update the sandbox to the latest version so it's easier to spot the bug. Also, if you manage to fix it, please send a PR

[2020-10-29 08:58] max-mykhailenko commented on #443
I resolve this very easily, dynamic import on client side and simple import for SSR.

[2020-10-29 08:59] max-mykhailenko commented on #449
waiting for this!

[2020-10-29 09:01] tricoder42 commented on #449
@max-mykhailenko Reading comments above, isn't it already fixed in Babel 7? Have you tried the latest LinguiJS version?

[2020-10-29 09:02] tricoder42 commented on #443
@max-mykhailenko Does it mean this issue can be closed?

[2020-10-29 09:33] FredyC commented on #312
This specific issue doesn't affect me, I just find it "weird" to ditch even confirmed bugs.

And email notification? Since when? It must be an insane person to enable something like that 😆

[2020-10-29 09:38] tricoder42 commented on #312
The bug was confirmed two years ago. Is it still relevant now? Does it affect latest version? If so, fix it, send a PR. Otherwise there's no point keeping it open. It's not a security issue (in fact, security issues are never marked as stale)

I believe that's the default GitHub behavior — when you create an issue, you automatically get notifications from it. You can always opt-out.

[2020-10-29 09:56] semoal commented on #789
React 17 doesnt include any breaking chances, its compatible out of the box. We'll need too add that version range to accepted peer dependencies

[2020-10-29 10:00] alesn commented on #489
This is still relevant ...

[2020-10-29 10:04] renchap commented on #503
Still valid I think :)

[2020-10-29 11:25] ackvf commented on #410
I wonder, would this avoid the error? Simply removing the destructuring.

[code]

In retrospect, the pattern above kind of resembles `console.log.bind(console)` problem.

[2020-10-29 11:38] tricoder42 commented on #410
Yes, you're correct. This is normal behavior in JavaScript — value of `this` depends on how method is called, not where the method is defined.

[2020-10-29 11:38] #410 closed

[2020-10-29 11:59] ImADrafter opened #791 "Add fallback languages for the i18n instance."
First of all, I would like to thank all of you, your work on this library. Actually, v3 was launched before due date, so congrats!! :tada:

**Is your feature request related to a problem? Please describe.**
Linguijs does not allow you to decide fallback locales for specific languages.

Instead, lingui will show source language strings.

**Describe proposed solution**
Add fallback specific language

[2020-10-29 12:48] ackvf commented on #410
@tricoder42 So I suppose the general advice here is "don't reassign i18n methods, including destructuring"?
Do you think this advice could make it in the FAQ or somewhere? Or perhaps, people can google it here...

[2020-10-29 13:03] tricoder42 commented on #410
This isn’t related to Lingui. It’s a common JavaScript pitfall which is already documented elsewhere

On 29. 10. 2020 13:48 +0100, Vítězslav Ackermann Ferko <notifications@github.com>, wrote:

[2020-10-29 14:00] tricoder42 commented on #791
Related issue #280

I think it would be great, if Lingui used the default fallback locales specified by [CLDR](https://github.com/unicode-cldr/cldr-core/blob/master/supplemental/parentLocales.json) which users of the lib could customize to fit their needs

[2020-10-29 14:51] max-mykhailenko commented on #449
@tricoder42 Oh, I found that yesterday you released 3.0. Is the problem fixed there?

[2020-10-29 14:53] tricoder42 commented on #449
Please try to upgrade and check. There's also a codemod which makes the upgrade much easier. Unforutnately I don't have any source code with cyrillic

[2020-10-29 14:53] max-mykhailenko commented on #443
@tricoder42 I'm not an author of the issue, but workaround for my case at least exist.

[2020-10-29 14:55] max-mykhailenko commented on #449
@tricoder42 May I ask to send me link to codemod?

[2020-10-29 15:53] FSM1 opened #792 "Lingui Macro TS Error"
**Describe the bug**
React app fails to build when importing the Trans macro.

**To Reproduce**
Create React App Typescript with the use of <Trans> macro causes a compile failure:

[code]

**Expected behavior**
The app should compile

**Additional context**
Changing index.d.ts file to use `import {} from ...` instead of `import type {} from ...` resolves the issue.

The change to index.d.ts was ma

[2020-10-29 16:36] ThiefMaster opened #793 "Write .pot file"
**Is your feature request related to a problem? Please describe.**
Translation tools (Transifex, weblate, etc.) usually use a .pot file as an input file to load strings.
This is almost like a normal .po file but the msgstr is always empty.

**Describe proposed solution**
Add a command to create/update a pot file. The path to it should be customizable

**Describe alternatives you've considered**
Wh

[2020-10-29 19:42] tricoder42 commented on #793
Hey @ThiefMaster, please stick to the issue template when requesting a new feature — Describe your problem and suggested solution.

[2020-10-29 19:47] ThiefMaster commented on #793
updated ;)

[2020-10-29 19:53] tricoder42 commented on #792
Hi @FSM1, it's hard to guess where's the problem when you don't provide a repository or codemod with failing code.

I've just checked [`examples/create-create-app`](https://github.com/lingui/js-lingui/tree/main/examples/create-react-app) updated to latest versions of everything and the app works fine. Please check if there're any differences in configuration with your project.

[2020-10-29 19:56] tricoder42 commented on #793
Sounds good! I've been thinking about it for a while but never actually get a chance to code it...

There's already config for `catalogs`. What about if the `.pot` file location is based on catalog location? Or do you want to customize it completely? We definitely need a path per catalog.

[2020-10-29 19:58] ThiefMaster commented on #793
I was thinking of a cli argument but per catalog seems like a good idea..

Maybe something like this?

[code]

[2020-10-29 20:53] revskill10 opened #796 "Error: EPERM: operation not permitted, scandir 'C:/$Recycle.Bin/S-1-5-18' when running lingui extract"
**Describe the bug**
Running `lingui extract` results in error

[code]

**To Reproduce**
Use `next-js` example, and run `lingui extract`

**Expected behavior**
The command should run successfully.

- jsLingui version ``3.0``
- Babel version ``@babel/core@7.7.7``
- Your Babel config (e.g. `.babelrc`):

[code]

[2020-10-29 21:06] semoal commented on #503
Probably this feature could be a nice one on a 3.1.0 of lingui, @tricoder42 if you have some time to open other issue to write a little roadmap of 3.1.0, I could help as much as I can 👍🏻

[2020-10-30 08:01] tricoder42 commented on #796
Hi @revskill10, this seems to be a problem with your configuration rather than with Lingui. The error clearly states that you don't have permission to read from `C:/$Recycle.Bin/S-1-5-18`.

- What's LinguiJS your configuration?
- Do you have read permissions to folder `C:/$Recycle.Bin/S-1-5-18`?
- Why do you extract messages while inside a recycle bin?

[2020-10-30 08:09] tricoder42 commented on #793
It would be great if the `template` argument was optional or completely unnecessary.

There're two patterns of catalog paths (see [docs](https://lingui.js.org/ref/conf.html#examples) for more info):
- single path `locales/{locale}/messages`
- multiple paths (`{name}` acts like a glob pattern) `components/{name}/locale/{locale}`

I believe in both cases we could simply replace `\{locale\}.*$` with

[2020-10-30 08:15] tricoder42 commented on #503
@semoal I've just created a milestone and added two new possible features.

This issue isn't trivial because it depends on the framework. I would start with Next.js because it's closer to me. Just clarify — we're talking about splitting the compiled catalog, not the source one. We can already split the source catalog using `catalogs` attribute and, to be hones, even one large source catalog isn't

[2020-10-30 08:39] revskill10 commented on #796
@tricoder42 I just followed `next-js` example. The configuration is the same.
I don't know why `lingui extract` touch the recycle bin there.

[2020-10-30 08:40] tricoder42 commented on #789
Closed in 5f78a7104

[2020-10-30 08:40] #789 closed

[2020-10-30 08:42] tricoder42 commented on #796
Do you run `lingui extract` or `yarn lingui extract`? Where's located your repository? Is it inside `C:/$Recycle.Bin/S-1-5-18`? Do you have read permissions to access that folder?

[2020-10-30 08:48] ThiefMaster commented on #793
Sounds like a good idea!

[2020-10-30 08:53] tricoder42 commented on #793
Cool, go for it! Let me know if you need to help with anything

[2020-10-30 10:17] vonovak opened #797 "[question] how to add translation context in v3"
There have been several issues opened that are related to this but they are old and closed, so opening a new one for v3. I'd like to add translator context to the comment in the po files

motivation: when I have the following code

[code]

when translating into Czech for example, the translator does not know if this is `Ruský` (just an adjective) or `Ruština` (Russian language).

I'd like to influ

[2020-10-30 10:22] tricoder42 commented on #797
Yeah, at the moment you should use `defineMessage`:

[code]

It should be possible (and fairly straightforward) to extend `t` macro with this syntax:

[code]

... but I don't have enough time to work on this. Feel free to send a PR if you have time to dig in.

[2020-10-30 10:27] khmm12 commented on #606
@tricoder42

(may be off topic)

Global i18n instance leads to many issues:

- It's not possible to use lingui on server-side anymore. Before it was easy to create isolated instance for request, then pass to any place which requires i18n. Proxy + Continuation Local Storage is quite hacky. i18n._ + defineMessage looks awful: ```i18n._(defineMessage({ message: 'friend ' }))``` vs ```i18n._(t`friend`

[2020-10-30 10:35] tricoder42 commented on #606
Not sure what we could do here. React components can read `i18n` from context, there's no such mechanism from pure js objects. Is there a global objects which is specific to current request? Then you could create a simple wrapper, like:

[code]

Then you could configure macros (using `runtimeConfigModule`) to use your own `i18n` which would return unique i18n instance per request.

It does and I d

[2020-10-30 11:14] khmm12 commented on #606
There is no problem to provide instance. The problem is that all macros except `defineMessage` use imported global instance.

Assume we have async safe `getI18n` which returns right i18n instance. It can be done with Continuation Local Storage.

<details>
<summary>v2</summary>

[code]

---transformed--->

[code]
</details>

<details>
<summary>v3</summary>

[code]

---transformed--->

[code]

getI1

[2020-10-30 13:31] ImADrafter opened #798 "Improve error message when plurals aren't loaded"
## Tasks

- [x] show `console.error` "Plurals for locale {locale} aren't loaded. Use i18n.loadLocaleData method to load plurals for specific locale. Using `other` plural rule as a fallback."
- [x] Use `other` plural rule as a fallback

I know this isn't 100% accurate, because some locales, e.g. pl, ru, actually use `many` as a fallback rule, while `other` is used fo decimal numbers. However, this

[2020-10-30 14:01] tricoder42 commented on #798
Using fallback locale would be an option, but using loaded plurals from other locale seems weird. In both cases you'll end up with terrible UX, although it might be better than blank screen.

Why can't you fix the root cause and load the plurals *before* calling `i18n.activate`?

[2020-10-30 14:03] tricoder42 commented on #798
I think we could improve DX here and show better error message, e.g. `plurals not loaded, call i18n.loadLocaleData`, but I believe it's better to fix the app, rather that let the library display wrong messages

[2020-10-30 14:21] ImADrafter commented on #798
Thank you @tricoder42 for your quick response!

Hmm you mean make a dynamic import of the user language before activating ? Or should I call loadLocaleData with every possible locale ? Like preventing i18n to activate with an unsupported language.

[2020-10-30 14:25] tricoder42 commented on #798
I would start with this. Plurals are usually very small, just one function.

When you hit size issues, I would start loading locale data before activating. Check the `next-js`  example, it load message catalogs on demand, but locale data are bundled in the app.

[2020-10-30 18:27] alesn commented on #701
Is there a serious enough reason that what could in v2 be written as:
t('msgId')`text`
in v3 has to be written as:
i18n._(defineMessage({ id: 'msgId', message: 'text' }))
?
This for every single message with an id ... Count the additional number of characters that have to be written and decreased readability of code

[2020-10-30 18:28] MaxEvan commented on #796
I'm having the same issue on Windows 10. It seems to be only since we upgraded to version 3. Isn't it weird though that lingui is scanning the Recycling Bin when the default folder should be where the config file or the package.json is?

Here is my lingui.config.js
[code]

[2020-10-30 19:30] tricoder42 commented on #701
It was difficult to figure out api which would work for `t`, `plural` (and other macros), custom ids and also comments. `t('msgId')'text'` is simple, but then you need to figure out how to add translators comments and how to support other macros.

I understand the `defineMessage` macro isn't enough. I think we could use the same api of `defineMessage` with `t`:

[code]

Even though it's more verbo

[2020-10-30 19:40] alesn commented on #701
@tricoder42
Yes, I see. I'm now migrating to v3 and already came across places, where comments for translators are essential too ... The simple format `t('msgId')'text'` was at its limits like that in v2.

The format you propose is probably the best we can get ... Both flexible, yet keeping the verbose-ness of it within some reasonable limits.

[2020-10-30 19:49] tricoder42 commented on #796
Thanks @MaxEvan, that `console.log` output is helpful. Unfortunately I don't access to the win machine. Where did you get these entries?

I suspect the bug is somewhere in `getCatalogs` function: https://github.com/lingui/js-lingui/blob/aff1d092fc2f2848eefb129b931c488e3232fac9/packages/cli/src/api/catalog.ts#L307-L392

Another option is https://github.com/lingui/js-lingui/blob/aff1d092fc2f2848eefb

[2020-10-30 23:39] hectorcoronado commented on #503
Hi @tricoder42, jr. dev here, so bear with me please. I'm working with two different repos, both are React-based, but one is an app with redux, whereas the other is a component library without redux that other apps leverage. Both make extensive use of the `<Trans />` component, as well as the `_t()` macro in order to translate strings. I've been able to code-split/dynamically load catalogs in in t

[2020-10-31 01:38] MaxEvan commented on #796
I tried to log the things you asked for at line 280 but it didn't work because the code is breaking in the try catch at line 143. Here is the error message:

[code]

So it seems that it's trying to scan everything from C:\ and upwards somehow instead of just scanning starting from my root dir.

[2020-10-31 08:47] tricoder42 opened #800 "Support id and comment in `t` macro"
This is often requested feature — `t` macro should accept custom `id` and/or `comment`. Using `defineMessage` in combination with `i18n._` is unnecessary verbose.

## Proposal

TLDR: Same api as `defineMessage`, but the output will be wrapped in `i18n._` as `t` and other macros does:

[code]

This should be fairly easy, because all logic for parsing messge descriptors is already inside `defineMess

[2020-10-31 08:48] tricoder42 commented on #701
@tricoder42 This is often requested feature. I've created a new issue for it #800 . If you want, feel free to send a PR

[2020-10-31 08:48] tricoder42 commented on #797
Closed in favor of #800

[2020-10-31 08:48] #797 closed

[2020-10-31 08:55] tricoder42 commented on #798
Hey @ImADrafter, I believe we could improve error message to ease troubleshooting. I've added proposal for possible fix at the top of your OP. Feel free to send a PR if you have free time.

[2020-10-31 09:03] tricoder42 commented on #796
Interesting. What if you try `console.log(this.includes)` as a first statement in `collect` method (line 106)? Also `console.log(tmpDir)` few lines below (109) would be helpful.

It's weird that there's no output at all. `readdirSync` and `glob.sync` are all called after the `console.log(patterns)` I asked you before.

[2020-10-31 11:03] jesec opened #801 "'Trans' cannot be used as a JSX component."
**Describe the bug**
[code]

**To Reproduce**
[code]

**Expected behavior**
`<Trans />` is supposed to be a component.

**Additional context**
https://github.com/jesec/flood/blob/7e56cd99ac0e86207517af56ade9e7708d0f0688/client/src/javascript/components/alerts/Alert.tsx#L31

- jsLingui version:
[code]

- Babel version ``npm list @babel/core``
[code]

- Your Babel config (e.g. `.babelrc`) or framewo

[2020-10-31 18:06] MaxEvan commented on #796
console.log(this.includes) as a first statement in collect method => undefined
console.log(tmpDir) in collect method => C:\Users\Maxime\AppData\Local\Temp\lingui-6348

[2020-10-31 20:30] ScriptedAlchemy commented on #508
I'd need calls with the authors. Someone who knows how the loader works or whatever / has an idea how to fit my design together. If someone is willing to partner.

We can do a zoom call maybe @theKashey we could do this?

I'm burning out so I've gotta cut back on OSS.

What I can say is: please persevere and use MF for this splitting. Anything else put forth is gonna be complex and way more work.

[2020-11-01 10:41] tricoder42 commented on #508
@ScriptedAlchemy Got it. When you're available for a call? I'm in GMT+1 timezone, but I could be available anytime. Feel free to reach me by email.

[2020-11-01 11:06] tricoder42 commented on #606
@khmm12 I guess we could rewrite macros to wrap message descriptors into a function, rather than object method function:

[code]

becomes:

[code]

where `translate` (by default) is just a wrapper around `i18n._`:

[code]

but you could also use your own version using `"runtimeConfigModule": ["myI8n", "myI18nModule"]`. The original code would be the same:

[code]

but this time transformed into:

[2020-11-01 13:26] #801 closed

[2020-11-01 13:30] tricoder42 commented on #796
Released in [3.0.1](https://github.com/lingui/js-lingui/releases/tag/v3.0.1). Consider donating using [OpenCollective](https://opencollective.com/js-lingui) to support development and maintanence of this project 👍

[2020-11-01 13:30] tricoder42 commented on #801
Released in [3.0.1](https://github.com/lingui/js-lingui/releases/tag/v3.0.1). Consider donating using [OpenCollective](https://opencollective.com/js-lingui) to support development and maintanence of this project 👍

[2020-11-01 13:30] tricoder42 commented on #789
Released in [3.0.1](https://github.com/lingui/js-lingui/releases/tag/v3.0.1). Consider donating using [OpenCollective](https://opencollective.com/js-lingui) to support development and maintanence of this project 👍

[2020-11-01 14:07] tricoder42 commented on #489
@alesn Are you going to work on this?

[2020-11-01 14:07] #523 closed

[2020-11-01 14:10] tricoder42 commented on #415
New version has been released. Please check if the problem persist in the new version.

[2020-11-01 14:10] #415 closed

[2020-11-01 14:11] tricoder42 commented on #449
Alright, feel free to open a new issue with updated info if the problem still persists

[2020-11-01 14:11] #449 closed

[2020-11-01 14:14] kub1x commented on #709
Sadly after some time I tried to run `yarn lingui extract` again now with lingui v3.0.0 and JSON form of `.babelrc` but with no result again. `.po` files get created, but contain no extracted messages, only headers. I'm reopening as it is exactly the same symptoms as before. Only this time I see a nice table at the end, stating nothing got extracted.
[code]

I did try to put content of `.babelrc`

[2020-11-01 14:42] tricoder42 commented on #709
Missing trailing slash in your `include` paths. Without slash the path is treated as a file, not directory

[code]

[2020-11-01 14:42] #709 closed

[2020-11-01 15:12] kub1x commented on #709
@tricoder42 Did you try it after the fix? It didn't help for me. Still no messages gets extracted. There is also one message in `App.js` that wouldn't be affected by the config error you mentioned. I've pushed the `js/` fix in the repro repo and thank you for the catch. But it is not fixed.

[2020-11-01 15:20] tricoder42 commented on #715
Hey @ckknight, new version 3.x was released which changed rendering of translations inside Trans component. Please check if the problem persists.

[2020-11-01 15:20] #715 closed

[2020-11-01 15:21] tricoder42 commented on #437
Closing in favor or #798

[2020-11-01 15:21] #437 closed

[2020-11-01 15:26] tricoder42 commented on #727
As I mentioned before, there's no way to detect how commands are configured inside `package.json`. I guess we could improve help messages by user configurable commands:

[code]

and optionally disabling these help messages completely:

[code]

If you like the idea, feel free to send a PR

[2020-11-01 15:27] tricoder42 commented on #745
Hey @mediaxtend, new version 3.x was released which includes lot of improvements. Please upgrade and check if the problem persists.

[2020-11-01 15:35] tricoder42 commented on #614
Hey @jbreckmckye, if you're still interesting in validating placeholders, please send a PR. Adding a new command `lingui check` which performs various validations is a way to go in my opinion. Feel free to create just a base of check command and add your validation (i.e. placeholders in source locale and target locale match)

[2020-11-01 15:35] #614 closed

[2020-11-01 15:36] tricoder42 commented on #582
Hey @pybuche, new version 3.x was released which includes lot of improvements. Please check if the problem persists.

[2020-11-01 15:39] #582 closed

[2020-11-01 16:08] tricoder42 commented on #709
You're right, the root cause is that there're multiple paths. I've already fixed the bug and waiting for CI #803. Will release soon

[2020-11-01 16:21] kub1x commented on #709
@tricoder42 confirmed. That did it. Thanks!

[2020-11-01 16:43] tricoder42 commented on #709
@kub1x Released in [3.0.3](https://github.com/lingui/js-lingui/releases/tag/v3.0.3). Cheers 👍

[2020-11-01 18:03] #443 closed

[2020-11-01 18:04] tricoder42 commented on #456
Hey @ghostd, new version 3.x was published recently. Please check if you problem persist in the new version and feel free open new issue with updated example.

[2020-11-01 18:04] #456 closed

[2020-11-01 19:08] tricoder42 commented on #519
Closed as stale https://github.com/lingui/js-lingui/pull/543#issuecomment-720136511

[2020-11-01 19:08] #519 closed

[2020-11-01 19:08] tricoder42 commented on #388
Closed as stale https://github.com/lingui/js-lingui/pull/543#issuecomment-720136511

[2020-11-01 19:08] #388 closed

[2020-11-01 19:35] alesn opened #805 "Add config option for formatOptions - origins - lineNumbers: true / false"
The issue is described in https://github.com/lingui/js-lingui/issues/587

The current state is there is an option in Lingui configuration "origins", which enables / disables including file paths -and- line numbers of origin in the catalog. Origins provide some context information for the translator but at the same time, especially line numbers change regularly. The file part of the origin doesn't

[2020-11-01 21:57] mediaxtend commented on #709
@tricoder42, the extraction also fails with only one path (using `.linguirc` of [documentation](https://lingui.js.org/tutorials/setup-cra.html#install), for example): `"include": ["src"]`.
If I change it for `"include": ["src/"]`, translations are correctly extracted.
I'm using:
- Lingui 3.0.3
- CRA 4.0

[2020-11-01 22:03] tricoder42 commented on #709
This is mistake in docs. Directories must always end with slash

On 1. 11. 2020 22:57 +0100, MediaXtend <notifications@github.com>, wrote:

[2020-11-01 22:38] mediaxtend commented on #745
It still does not work using Lingui 3.0.3 and CRA 4.0.
Using the Webpack development server, no error occurs but the placeholder has been cleared: `Translated text with data placeholder:`.
In built code, it's working correctly: `Translated text with data placeholder: 2020-11-01T…`.
Thanks in advance for your investigations.

[2020-11-02 00:51] fny commented on #789
Just signed up as a donor. We'll definitely give more once we start
bringing in revenue. Cheers! 🍻

On Sun, Nov 1, 2020 at 8:30 AM Tomáš Ehrlich <notifications@github.com>
wrote:

[2020-11-02 06:10] ScriptedAlchemy commented on #508
I'm unavailable Monday. But see if there's a slot that'll work here this week.

I use this loader and likely can test out a federated translation layer in Q4 & provide feedback

https://calendly.com/s/ieqnQIF3

[2020-11-02 12:07] ThiefMaster commented on #616
any update on this? I don't think it should be [wontfix]...

[2020-11-02 12:35] ThiefMaster commented on #793
Thinking about this again, did you mean that you would write *both* the locale file *and* the template the same run?

If yes, there's one big disadvantage: I'd prefer to not have lingui write the .po files at all, but instead export the pot file to a translation tool and import the po files from there. Since there's a very good chance that different tools format po files differently (wrapping long

[2020-11-02 12:48] tricoder42 commented on #616
@ThiefMaster Is it still hapenning in v3? The only reason why it's marked as `wontfix` is that it wasn't updated for a very long time.

[2020-11-02 12:50] ThiefMaster commented on #616
tested with `3.0.0-21`; haven't tried the latest version yet ;o

[2020-11-02 12:53] tricoder42 commented on #793
Yeah, my initial thought was that we simply write `pot` and all `po` files, but I see your point.

I think we could handle both in one command, but we could make configurable how the `po` files are generated. Right now it simply updates all files locally. Other option could be set `pot` file to external service and download individual `po` files:

It would be great to have `extract` and `update`

[2020-11-02 12:56] tricoder42 commented on #616
Yeah, `cli` haven't changed much since that version. Let's assume this bug is still present. I'm not going to have enough time to work on it this week. If anyone has a spare time, feel free to dive in and send a PR.

[2020-11-02 13:03] ThiefMaster commented on #793
extract/update could stay as they are right now, while adding new `extract-template` and `sync-template` commands implementing this behavior..

Anyway, maybe a command to just create a template would be the best way to start - after all, when using an external tool, that's all you need :)

[2020-11-02 13:06] tricoder42 commented on #793
You also need a command, which dowloads all locales from external too, right? How do you handle that?

[2020-11-02 13:08] ThiefMaster commented on #793
weblate pulls/pushes directly from git (so you'd update the pot file and commit/push it)
transifex has a cli that does it (it may also have git integration, not sure)

[2020-11-02 13:10] tricoder42 commented on #793
Ah, cool! Yeah, then creating `pot` file might be enough. So, let's create a command `lingui extract-template` or `lingui template`? Whatever you find the best

[2020-11-02 13:14] ThiefMaster opened #808 "3.0.3 no longer extracts anything"
**Describe the bug**
After updating to 3.0.3 no strings are extracted anymore.
On 3.0.2 it still works fine.

output in 3.0.2:

[code]

and in 3.0.3:

[code]

in `--verbose` i don't see any files during "Extracting messages from source files…" in 3.0.3, while I do in 3.0.2

**To Reproduce**
I noticed it when updating lingui in https://github.com/indico/newdle.

**Expected behavior**
Strings being

[2020-11-02 13:17] ThiefMaster commented on #808
Looks like the `include` path needs a trailing slash now.. adding it fixed it, but I don't think this change in behavior was intended...

[code]

[2020-11-02 13:18] tricoder42 commented on #808
Yes, you're right. I've fixed it yesterday. The glob library needs to distinguish directories and files... I guess we could improve it by detecting folders automatically, but right now it needs to be set explicitly.

[2020-11-02 13:22] tricoder42 opened #809 "Accept catalog paths without ending slash"
**Is your feature request related to a problem? Please describe.**
Directories in catalog paths must end with slash, otherwise they're treated as files. This behavior is confusing for many users.

**Describe proposed solution**
Detect directories not by checking ending slash, but by checking `fs.lsStats().isDirectory()`

**Describe alternatives you've considered**
Explain users over and over, that

[2020-11-02 13:22] tricoder42 commented on #808
Closed in favor of #809

[2020-11-02 13:22] #808 closed

[2020-11-02 14:43] cezarneaga opened #810 "Documentation with regards to monorepo setup is unclear"
**Describe the bug**
Not really a bug. more a documentation improvement.
https://lingui.js.org/guides/monorepo.html page content is not telling enough about how to set this up.

**Expected behavior**
Perhaps a monorepo example in the examples folder would be a minimum helpful step.

Ideally, explaining challenges and use-cases that would be covered would also be in there.
eg: if a monorepo contain

[2020-11-02 14:59] cezarneaga commented on #415
Thanks! would like to try the v3 and see if this is still needed.

[2020-11-02 15:32] ThiefMaster commented on #793
What do you think about `lingui extract --template`?

[2020-11-02 15:45] tricoder42 commented on #793
`--template` is an option, so I would expect the command to create all `po` files and *also* `pot` file. If you're ok with it, then I agree.

[2020-11-02 15:46] tricoder42 commented on #810
All improvements to documentation are welcome! Feel free to send the PR 👍

[2020-11-02 15:47] ThiefMaster commented on #793
hm, `--template-only` then?

[2020-11-02 15:48] tricoder42 commented on #793
I don't know to be honest :) I don't have much experience designing command line interfaces. I guess `--template-only` is fine. At least it's explicit 👍

[2020-11-02 16:10] fny opened #811 "Extract Command Appears Broken"
**Describe the bug**

--overwrite isn't working.

**To Reproduce**

I add a translation.

[code]

Then I run

[code]

The message has been added to the messages.json dictionary.

[code]

I then modify the message.

[code]

And I run:

[code]

Messages.json is unchanged.

- jsLingui version: 3.0.1
- Babel version @babel/core@7.12.3
- Your Babel config (e.g. `.babelrc`) or framework you use: CRA v4

[2020-11-02 16:13] semoal commented on #811
This is a known issue, https://github.com/lingui/js-lingui/issues/616, you can work on it if you have some time =) 👍🏻

[2020-11-02 16:17] fny opened #813 "Message Diffs"
**Is your feature request related to a problem? Please describe.**

Say I have a component `<Trans id="SplashPage.sign_in">Click Here to Sign In</Trans>`

I go through the workflow with extract and add a translation to all my other languages. Later on, we decide to change the text to something similar `<Trans id="SplashPage.sign_in">Sign In</Trans>`.

It would be lovely for Lingui to report a list

[2020-11-02 16:53] ThiefMaster commented on #793
in the end i went for `lingui extract-template` since it felt cleaner

[2020-11-02 17:11] #809 closed

[2020-11-02 17:39] tricoder42 commented on #811
Indeed, there're multiple issues with `--override`.

Another related issue is #688

[2020-11-02 17:42] tricoder42 commented on #813
As far as I know Transifex does it. I expect that this is handled by localization management software. Not sure if it's worth to add it to the CLI. Once the localization starts to grow, you'd like to separate developers and translators and use a dedicated localization management service.

[2020-11-02 18:13] pybuche commented on #582
Thanks!
Actually I changed job so I'm not using lingui anymore :(
We may need an i18n lib in the future though, I'll keep you posted!

[2020-11-02 18:28] clehene commented on #415
Is the new behavior documented somewhere? I'd like to track that and change our code if that works.

[2020-11-02 21:31] #793 closed

[2020-11-02 21:32] #800 closed

[2020-11-03 00:27] cezarneaga commented on #810
Will gladly send a PR. Would however love it if we could chat for 5 min to give me the gist of it all.

I could just experiment until i get it right but would lose a lot of time needlessly.

[2020-11-03 07:16] ScriptedAlchemy commented on #508
Okay so a little more though for the meeting. If there's a branch somewhere in here that has some concept of splitting. That'll help.

We can create virtual modules.

But I'm hoping there's a possible way to make MF do all the splitting.

In the MF plugin, I can basically module.export a SPA, or many, and have them work together as a monolith.

There's two implementation tactics I see right away.

[2020-11-03 07:39] tricoder42 commented on #508
@ScriptedAlchemy At the moment there isn't any branch with prototype of poc. I tried it a year ago but on completely new repository where I stripped down all unnecessary packages and kept only `@lingui/loader`. On top of that I played with Webpack plugins, but without useful result.

I guess if you'd just drive me through concepts of MF, I could figure out how to fit it in Lingui. To be honest, pe

[2020-11-03 07:43] ScriptedAlchemy commented on #508
As seen in the low-level api we can access the hosts own remote like `window.app1.get('./translations/eng')`

Whats not mentioned is that we can extend what `app1.get` actually resolves inside the webpack runtime.

We also have a concept for "virtual modules" build into module federation, though this implementation is not publically known well as its not really documented.

You could point webpack

[2020-11-03 07:49] ScriptedAlchemy commented on #508
@tricoder42 yes we can do.

My examples only demonstrate very basic implementations. under the hood, i can make the system completely dynamic, far more than demonstrated.

NExt.js limits, we will have issues with next if we use the shared option without async importing it - if we use dynamic imports - it'll work on everything that webpack can compile.

Im on next.js, so id anticipate ensuring that

[2020-11-03 07:53] ScriptedAlchemy commented on #508
Please reach out if you have any questions, Extensive work was done on the webpack core to enable Module Federation. We have other ways to access asynchronous externals if we needed to, though i usually use this for importing URLs like third party scripts on demand.

DM me on twitter if you need me/i don't respond,my github has a lot of traffic and noise at the moment

[2020-11-03 07:54] tricoder42 commented on #508
@ScriptedAlchemy Nice! Perfect, thanks a lot. I'll read through the docs and examples in next few days 👍 Sounds exciting.

[2020-11-03 09:40] ThiefMaster commented on #616
[code]

This seems to fix it - the `nextCatalog` entries only have an `origin` but no `message`.

[2020-11-03 12:34] semoal commented on #508
I would like to join you (to the meet) if it is not indiscretion, this feature will be super and a massive step-forward to improve localisation libraries

I'll start to read all tho documentation you provided Zack! Amazing

[2020-11-03 13:26] semoal commented on #472
I worked on a solution to this without any external dependency.

The first render of `number("en", 1000)`, will work as normally, but the next (except if the value changes) will be cached in a Map.

I did some testing and passed from 279ms 10000 runs, to a median of 20-30ms 👍🏻

I'll create the pull request this evening

[2020-11-03 13:58] darlanmendonca opened #819 "Rendering a object instead string"
**Describe the bug**
Rendering a `[object Object]` instead of string

**To Reproduce**
Occurs when I use <Trans> inside a placeholder prop, e.g.

[code]

**Expected behavior**
Translated string or default string (key)

[2020-11-03 14:01] semoal commented on #819
In this cases is recommended to use t`Username` macro, because placeholder internally is not rendering as a normal jsx component.

Anyways, probably we should log something more descriptive or making it work, i don't know

[2020-11-03 14:03] darlanmendonca commented on #819
@semoal I'm already using macro

[code]

[2020-11-03 14:04] tricoder42 commented on #819
Not sure if we can do something about it. The same thing would happen if you use any other JSX component:

[code]

TLDR: Don't use JSX in props which expects string. Use `t` macro instead:

[code]

[2020-11-03 14:04] #819 closed

[2020-11-03 17:00] semoal commented on #791
I can work on this feature this week.

I tough about:

- Automatically resolve fallbacks according to CLDR data, `(probably we should add to config file if the user wants to enable that fallback or should we enable this for every config?`)
- Allow overriding it in config, sth like:
[code]
- We should keep fallbackLocale as string, in the future probably with fallbackLocales would be enough

[2020-11-03 18:24] tricoder42 commented on #791
I would enable it by default, but make it `opt-out` using `fallbackLocales: null`. It won't break existing configurations if we at the same time deprecate `fallbackLocale` and automatically migrate it to `fallbackLocales` (see below).

Definitely, exactly as you say 👍

I would make it deprecated, show a warning in a console, but convert it to:

[code]

There're 2-3 similar deprecation warning in `

[2020-11-03 18:26] #472 closed

[2020-11-03 18:28] semoal commented on #791
`default` looks self descriptive so I'll go in that way

[2020-11-03 23:36] MartinCerny-awin commented on #743
Hello @tricoder42 I can have a look at this issue

[2020-11-03 23:39] MartinCerny-awin commented on #463
I can probably add this functionality to the pseudolocalization library that js-lingui is using

[2020-11-03 23:42] MartinCerny-awin commented on #462
I will have a look if I can reproduce this issue

[2020-11-04 07:47] tricoder42 commented on #743
@MartinCerny-awin Perfect, thanks a lot!

[2020-11-04 07:49] tricoder42 commented on #463
@MartinCerny-awin Thanks! Definitely go for it

[2020-11-04 07:49] tricoder42 commented on #462
I believe this is the same bug as #743

[2020-11-04 07:51] #462 closed

[2020-11-04 09:31] miguelCT commented on #798
The question that comes to mind is, why do i have to load the plurals for **every language** if i'm officially only supporting a few of them?

For example, in my app I only support **'es' and 'en'**, so I loaded only these plurals. But I also use the language detector, so when a user from **'pl'** comes to the app, it could (at least) format dates and numbers to the 'pl' format, even though the ap

[2020-11-04 10:32] tricoder42 commented on #798
Unfortunately this isn't possible at the moment. You could instruct your locale detector to use `en` as a fallback locale (and it'll use `en` plurals), but then all dates and numbers will be in `en` as well. There's no way to tell the library to use `en` for messages, but `pl` for formatting.

That said, you don't need to load plurals for *every language*. Only for those locales you support.

[2020-11-04 12:38] darlanmendonca commented on #819
@tricoder42 `t`macro produces the same result :(

[code]

[code]

[2020-11-04 12:55] semoal commented on #819
Could you provide a minimal setup? Like a codesandbox or stackblitz? probably is something in your babel conf that is not correctly set

[2020-11-04 12:59] tricoder42 commented on #819
I've checked it in Codesandbox and it works: https://codesandbox.io/s/nextjs-lingui-djzqm

[2020-11-05 06:46] #570 closed

[2020-11-05 06:46] #425 closed

[2020-11-05 06:46] #468 closed

[2020-11-05 06:46] #429 closed

[2020-11-05 06:46] #595 closed

[2020-11-05 06:46] #514 closed

[2020-11-05 06:46] #591 closed

[2020-11-05 06:46] #293 closed

[2020-11-05 06:46] #702 closed

[2020-11-05 06:46] #280 closed

[2020-11-05 06:46] #708 closed

[2020-11-05 06:46] #445 closed

[2020-11-05 06:46] #722 closed

[2020-11-05 06:46] #726 closed

[2020-11-05 06:46] #721 closed

[2020-11-05 06:46] #725 closed

[2020-11-05 07:31] #412 closed

[2020-11-05 07:31] #436 closed

[2020-11-05 07:31] #333 closed

[2020-11-05 07:31] #447 closed

[2020-11-05 07:31] #464 closed

[2020-11-05 07:31] #465 closed

[2020-11-05 07:31] #404 closed

[2020-11-05 07:31] #474 closed

[2020-11-05 07:31] #470 closed

[2020-11-05 07:31] #484 closed

[2020-11-05 07:31] #511 closed

[2020-11-05 07:31] #421 closed

[2020-11-05 07:31] #524 closed

[2020-11-05 07:31] #529 closed

[2020-11-05 07:31] #522 closed

[2020-11-05 07:31] #420 closed

[2020-11-05 07:31] #527 closed

[2020-11-05 07:31] #521 closed

[2020-11-05 08:26] #791 closed

[2020-11-05 08:28] tricoder42 commented on #387
All related issues are already closed

[2020-11-05 08:28] #387 closed

[2020-11-05 08:29] #350 closed

[2020-11-05 08:30] #349 closed

[2020-11-05 08:30] #305 closed

[2020-11-05 08:31] #138 closed

[2020-11-05 08:31] #50 closed

[2020-11-05 08:31] #46 closed

[2020-11-05 08:31] #331 closed

[2020-11-05 08:31] #342 closed

[2020-11-05 08:31] #357 closed

[2020-11-05 08:31] #370 closed

[2020-11-05 08:31] #402 closed

[2020-11-05 08:31] #383 closed

[2020-11-05 08:31] tricoder42 commented on #114
Closing as a stale issue. Feel free to reopen with updates

[2020-11-05 08:31] #114 closed

[2020-11-05 08:33] tricoder42 commented on #317
As stated above, please create a repository or codesadbox with an example. There's been lot of changes in v3, also please try that. Reopen if the problem persists

[2020-11-05 08:33] #317 closed

[2020-11-05 08:35] tricoder42 commented on #489
Closing as a stale issue. Feel free to reopen when you start working on this or send PR right away 👍

[2020-11-05 08:35] #489 closed

[2020-11-05 08:35] #312 closed

[2020-11-05 08:39] FredyC commented on #349
Well, I think it would still be useful to watch for changes and extract. I often forget about it and there is no way to be warned about missing some extracted string. Having a capacity for I would certainly try to do it, but sadly not :/

[2020-11-05 10:29] tricoder42 commented on #710
Comments are actually supported already in v3:

https://github.com/lingui/js-lingui/blob/2d9e124b91f1ba7a65e9f997a3ba952679c6c23a/packages/macro/test/jsx-trans.ts#L332-L342

[2020-11-05 10:29] #710 closed

[2020-11-05 10:31] tricoder42 commented on #655
As mentioned in https://github.com/lingui/js-lingui/issues/655#issuecomment-621637390, this is a feature of React. Not related to Lingui

[2020-11-05 10:31] #655 closed

[2020-11-05 10:32] #512 closed

[2020-11-05 10:32] #322 closed

[2020-11-05 10:36] tricoder42 commented on #320
Closed, since the `NumberFormat` and `DateFormat` are no longer macros.

[2020-11-05 10:36] #320 closed

[2020-11-05 10:37] #139 closed

[2020-11-05 10:38] #394 closed

[2020-11-05 10:38] #475 closed

[2020-11-05 10:39] #278 closed

[2020-11-05 10:40] tricoder42 commented on #532
@kenpowers-signal v3 has just been released few days ago. Could you please check if this is still hapenning? Feel free to reopen if so.

[2020-11-05 10:40] #532 closed

[2020-11-05 11:46] semoal commented on #811
@fny can't reproduce this issue, can you provide a minimal repo?
I've tried with po and minimal and works as intended

![2020-11-05 12 45 24](https://user-images.githubusercontent.com/22656541/98237199-d2472280-1f64-11eb-9423-b5f1a7c814a0.gif)

[2020-11-05 11:50] semoal commented on #688
You need to use `--overwrite` flag in that case.
Example:
![2020-11-05 12 49 54](https://user-images.githubusercontent.com/22656541/98237635-79c45500-1f65-11eb-9c00-fde067671fd6.gif)

[2020-11-05 11:50] #688 closed

[2020-11-05 12:04] arcanis opened #822 "Configure the @lingui/core name in the macro"
**Is your feature request related to a problem? Please describe.**

I'm abstracting Lingui behind an intermediary layer, to eases maintenance (should we need to switch to a later version, we can make sure we can do this incrementally by simply updating our own layer). Unfortunately, `@lingui/macro` seems to hardcode imports to the `@lingui/core` package, meaning that Lingui still "leaks" into the

[2020-11-05 12:06] tricoder42 commented on #822
Hey @arcanis, you can configure them using [`runtimeConfigModule`](https://lingui.js.org/ref/conf.html#runtimeconfigmodule). Does it solve your problem?

[2020-11-05 12:18] semoal commented on #727
![Screenshot 2020-11-05 at 13 17 15](https://user-images.githubusercontent.com/22656541/98240141-45eb2e80-1f69-11eb-8ac0-8fd5cf973b08.png)
I've built a solution that searches the indicated commands in the package.json and indicates the correct one to run, if any found fallback to the standard usage (yarn or npm extract/compile)

[2020-11-05 12:24] tricoder42 commented on #727
That sounds awesome 👍

[2020-11-05 12:41] #727 closed

[2020-11-05 12:48] semoal commented on #486
https://codesandbox.io/s/epic-butterfly-ou8ww?file=/src/index.js
@MartijnHols here you have, updated the codesandbox to v3.x.x and looks fixed 👍🏻

[2020-11-05 13:05] miguelCT commented on #722
I have a question related to this issue and the question asked in #629. Aren't both issues related to the fact that, when missing translations are found, the process is not exited with an error?

In the line below, you can see that the process is exited, but not with a `1` code, so you cannot use the `--strict` flag in `compile` cli option to actually check in CI if the translation messages were f

[2020-11-05 13:30] #798 closed

[2020-11-05 13:40] tricoder42 commented on #722
Yeah, good point! Thank you @miguelCT, could you please send a one-liner PR?

[2020-11-05 14:17] semoal commented on #616
@ThiefMaster could you provide a reproduction repo like a sandbox or something similar? Couldn't reproduce any issue with overwrite in the cra example of js-lingui

[2020-11-05 15:19] miguelCT commented on #722
Sorry for the delay, I was busy at work.

I've seen that a PR has already been submited! Super fast :smile:
Thanks @semoal

[2020-11-05 15:29] davakos opened #826 "CRA4+TypeScript failure on jsx:preserve"
**Describe the bug**
Informational: This is not a LinguiJS bug, but does impact the ability to run Lingui when using Create React App 4 with TypeScript.
It appears that CRA4 currently fails if you set `"jsx": "preserve"` in your `tsconfig.json` file, which a Lingui requirement for preserving JSX and tagged template literals:
https://lingui.js.org/guides/typescript.html

In create-react-app project

[2020-11-05 15:37] semoal commented on #826
Thanks for pointing it out, I'm sure that will help future users, probably the issue will be fixed on his side asap

[2020-11-05 19:26] clehene commented on #415
@cezarneaga does 3 work properly? Can we remove the adapter?

[2020-11-05 19:39] semoal commented on #415
On v3.x, practically you don't need withI18n for anything, macros work out of the box for example:

[code]

and if you need i18n instance, you can directly import it from core
[code]

I'll try to find some time tomorrow to build a sample mono-repo with lingui 3 and multiple catalogs 👍🏻

[2020-11-05 21:26] clehene commented on #415
That's great. How does it work with shared components libraries.

In our case we have

* ui-1 - catalog-ui-1
* ui-2 - catalog-ui-2
* shared-components - catalog-shared-components

There are going to be different instances / catalogs. How do these get reconciled?

[2020-11-05 22:43] semoal commented on #415
They get merged by locale internally, you have more information in lingui website on configuration section.

Tomorrow I'll expand this a lit

[2020-11-06 01:44] levinqdl commented on #510
Hi, @tricoder42 is this available in latest version?

[2020-11-06 05:26] tricoder42 commented on #510
@levinqdl It isn't, unfortunatelly. The issue was closed due to lack of activity. Feel free to send a PR if you want to bring it to live. There're few problems to solve which I've desribed in this comment https://github.com/lingui/js-lingui/issues/510#issuecomment-495262690

[2020-11-06 11:41] fny commented on #683
This still isn't working for me in 3.0.1

[code]

[2020-11-06 12:14] semoal commented on #683
Don't use setupI18n if you're not editing more interanlly i18n configuration. It's recommended to use the i18n instance from lingui/core

I've tried your changes on create-react-app example on Lingui project.

[code]

And works perfect, can you install ` make-plural` to try if that's the problem, anyways on the new version we're realisng a better message for this case

[2020-11-06 12:41] fny opened #828 "Extract Command Extracts Nothing"
I upgraded from 3.0.0 to 3.03, and lingui extract is broken. The extract command shows there are zero updates.

I check the prior versions, 3.0.1 and 3.0.2 work fine.

[2020-11-06 13:05] semoal commented on #828
Looks like a regression with this Tomas change https://github.com/lingui/js-lingui/pull/803

Can you share your lingui.config pls?

[2020-11-06 13:19] semoal commented on #828
Yes, the problem is the mandatory ending slash to know that is a directory. This bug is already fixed on main and will be released in the next cycle (Tomáš spoke about the next tuesday)

If you change this defualt configuration:

[code]

to this:

[code]

Will be fixed. It's a temporal workaround because it'll be fixed next tuesday, you can use meanwhile the 3.0.2 👍🏻

[2020-11-06 18:15] fny commented on #683
That was all that needed to change! Thanks.

[2020-11-06 18:17] fny commented on #813
Understood. Given there's so much you guys have left to fix, I do agree that it doesn't make sense to add this as another thing to maintain.

[2020-11-06 18:17] #813 closed

[2020-11-06 19:59] Bertg opened #830 "@lingui/loader! Not working as advertised (typescript?)"
**Describe the bug**

Using dynamicActivate (async import) of pre compiled files works.
Prefixing ```@lingui/loader!``` to the import path fails hard.

**To Reproduce**

I have set up lingui (v3.0.3) with Typescript.

.tsconfig
[code]

.linguirc
[code]

.bablerc
[code]

I have a function ```buildDynamicActivate```

[code]

This works fine, but when I introduce ```@lingui/loader!```

[code]

the ru

[2020-11-06 20:42] semoal commented on #830
Yes, looks a bug with normalizePath, Ill take a look this night

[2020-11-06 20:53] semoal commented on #830
Alright found the issue, file extension is mandatory 👍🏻 :

[code]

to:

[code]

I'll try to see if i can do the error a bit more descriptive

[2020-11-06 21:54] semoal commented on #830
![Screenshot 2020-11-06 at 22 53 33](https://user-images.githubusercontent.com/22656541/98418333-ed0fb900-2082-11eb-9131-8e9cb5553462.png)

Okay, added this, the problem is webpack adds .js to imports that doesn't include extension, so the catalog was being searched with .js instead of catalog extension (.po|.json)

[2020-11-06 22:00] #830 closed

[2020-11-07 12:56] MartinCerny-awin opened #833 "Github Discussions"
I find slightly confusing that there are two discussion services - Spectrum and Gitter. I think it would be better to unify it by introducing third one 🙄  GitHub Discussions. It is for example used by react-hook-form https://github.com/react-hook-form/react-hook-form/discussions

I think it is better to have everything at one place. Gitter looks slightly more active for lingui community, but I fin

[2020-11-07 14:20] tricoder42 commented on #833
Yes, that would be great, bu it seems to be still in beta. Do you know how to applied?

[2020-11-07 15:01] semoal commented on #833
I posted on a public discussion in Vercel repo where @becca is proppsing internally some repos.
Its still closed but with some luck we'll get it sooner than expected

[2020-11-07 19:06] Bertg commented on #830
Amazing! That did it. I swore I tried the as well... anyway.

As a followup...

I'm noticing HMR being triggered when a change happens to the PO file, but the translations remain the same.
Obviously the translations should get reloaded at that time.

Is there already a way of doing this? (or should i create a feature request for this?)

[2020-11-07 19:19] Bertg opened #834 "Edge case may leave I18nProvider un-rendered"
**Describe the bug**

When translation are loaded async and out of react render loop it is possible that ```I18nProvider``` never renders.

**To Reproduce**

[code]

In our code base this, more often than not yield a blank page.

This is due to this piece of code in https://github.com/lingui/js-lingui/blob/8979aaf81e5f839a8406d3ac7516205113944c39/packages/react/src/I18nProvider.tsx

[code]

It is

[2020-11-07 20:14] Bertg commented on #830
An other followup...

The loader doesn't seem to work for pseudoTranslations:

[code]

[code]

[2020-11-07 23:57] MartinCerny-awin commented on #833
Adding link https://github.com/vercel/vercel/discussions/3874#discussioncomment-123748 so anybody who is interested can like it and maybe we get it sooner

[2020-11-08 07:10] tricoder42 commented on #830
@Bertg Yes, please. Unfrotunately there're multiple issues with pseudolocalization as I didn't manage to migrate it to v3 properly

[2020-11-08 07:14] tricoder42 commented on #833
Perfect, thank you both! I like GitHub discussions since I saw them first time, I just didn't understand how to enable it :) It's gonna be much better than Gitter and Spectrum.

[2020-11-08 07:14] #833 closed

[2020-11-08 07:22] tricoder42 commented on #834
Hey @Bertg, I noticed few glitches but couldn't figure out what's the problem.

Definitely 💯 agree with this. Especially when it can be disabled, it would be useful to show a user what option they have.

Can't we simplify it to this? `forceRefresh` inside effect is called only when `f === 0`, which is inital state. It's not called otherwise. This version might potentialy cause re-render, but it wo

[2020-11-08 09:42] MartijnHols commented on #486
Awesome! Thanks both!

[2020-11-08 11:06] #486 closed

[2020-11-08 11:25] semoal opened #837 "[Long-term feature] - Migrate from rst to markdown"
**Is your feature request related to a problem? Please describe.**
I think having the documentation with Python and Re-StructuredText adds complexity to new contributors to add changes.
- It's so complex to launch to js users (normally they don't have pip installed)
- It's complex to preview
- Have some design limitations

**Describe proposed solution**
- Migrate to mdx https://mdxjs.com/
- Add do

[2020-11-08 11:32] semoal commented on #834
https://github.com/lukeed/uid we could use this lukeed lib to generate a fast hash to remove the counter

[2020-11-08 13:28] Bertg opened #838 "@lingui/loader does not work with pseudo locale"
**Describe the bug**

@lingui/loader does not work with pseudo locale

**To Reproduce**

.linguirc
[code]

[code]

**Expected behavior**

Pseudo locale is loaded

**Additional context**

Add any other context about the problem here.

This is related to #830 and #836

- jsLingui version 3.0.3

[2020-11-08 13:47] MartinCerny-awin commented on #838
I think there were some changes and you need to include pseudoLocale string in locales array

[code]

Documentation will get updated with #836

[2020-11-08 13:59] Bertg commented on #834
I think a final solution might not need a force refresh.
I'll work on a PR later today/tonight.

The only issue I foresee is that this issue can not be easily replicated in a test.

[2020-11-08 15:19] tricoder42 commented on #837
I'm having an opposite opinion and it haven't changed over the years.

The first version of documentation was actually written in Markdown and published as a repository wiki. I consider reStructuredText superior to Markdown, because it's syntax allow user extensions. Markdown doesn't allow that — the only way to add new features is invent a new syntax (e.g. `remark` does that). It means that for r

[2020-11-08 15:31] semoal commented on #837
Interesting point of view Tom, was just a proposal but If you feel more conformable with rst, i'll go with rst (it's not that bad, in my case was just unfamiliar with it)

[2020-11-08 15:36] #837 closed

[2020-11-08 15:38] tricoder42 commented on #837
I honestly don't consider neither approach ideal (Markdown with superb integration vs superb reStructuredText with lack of integration). I just wanted to give you the full background story.

I would love to have indexed search (as Tailwindcss does). Interactive components would be great to understand how macros and message format works. New design would be great too. Not sure if it's worth it to m

[2020-11-08 15:49] tricoder42 commented on #834
Yeah, I feel your pain. I've spend several hours refreshing browser and trying figure out why it doens't work as it was supposed to work...

Any improvement here is appreciated. The way how Lingui works, if you try to render the app *before* the messages are loaded, you get a broken/empty page. We could make it somehow configurable and allow users to render text placeholder (sth like skeleton). Bu

[2020-11-08 15:52] semoal commented on #837
Yes, that was just we need with the current documentation. I'm super noob with rst eco-system, that's why I suggested markdown because there are amazing tools around it that could help us getting all that features.

To be honest I get hot thinking in a documentation like Tailwinds for Lingui haha

[2020-11-09 10:39] khmm12 commented on #606
@tricoder42

It still has downsides:

- No possibility to pass i18n instance explicitly via arguments/class context.
- No subscriptions and reactivity inside React components, which leads to the need of full React tree reload.

Because of bad architecture 🙂. It reminds me NavLink from react-router which didn't respond to history change inside pure components due to lack of subscriptions. But react

[2020-11-09 10:58] tricoder42 commented on #606
Could you please elaborate? Ideally post a code example of what you'd like to do, but can't neither with current or proposed api.

I'm not following anti-patterns. I just to a conclusion that change of locale is a rare event in lifecycle of an app and by reloading the whole app we can simplify API and use optimization techniques which otherwise wouldn't be possible (e.g. per-locale bundles). Histo

[2020-11-09 12:06] khmm12 commented on #606
Could you please elaborate? Ideally post a code example of what you'd like to do, but can't neither with current or proposed api.

The funny thing it looks the similar as v2 🙂

<details>
<summary>Server-side</summary>

[code]

[code]
</details >

<details>
<summary>React</summary>

[code]

[code]
</details>

I also know people who generate PDF documents on server-side via `@react-pdf/renderer` and

[2020-11-10 06:51] #744 closed

[2020-11-10 06:52] tricoder42 commented on #838
@Bertg Does it solve your problem when you add pseudoLocale to your `locales` as @MartinCerny-awin suggests?

[2020-11-10 06:53] #834 closed

[2020-11-10 06:55] tricoder42 commented on #822
Feel free to reopen if [`runtimeConfigModule`](https://lingui.js.org/ref/conf.html#runtimeconfigmodule) doesn't help

[2020-11-10 06:55] #822 closed

[2020-11-10 09:58] Bertg commented on #838
@tricoder42 No it doesn't.

The error does disappear, but the strings are not pseudo localised. (They are just english).

So I investigated a bit further:

I noticed a ```locales/en-fo/messages.po``` file getting created after running the extract command.
WhenI added a translation to this file, it would get pseudo localised

This get me to think about fallbacks, so I added this:

[code]

And 🎊 it

[2020-11-10 10:27] Bertg opened #844 "Function `t` macros do not get extracted"
**Describe the bug**

When extracting translations, macros like ```t({id: "Hello"})``` do not get correctly extracted.
Instead a ```msgid "undefined"``` is added.

**To Reproduce**

Using lingui 3.1.0 add a translation like this in source:

[code]

run ```lingui extract```

Find the wrong translation in the file. Also note that the line number is missing.

[code]

**Expected behavior**

Add the co

[2020-11-10 10:31] Bertg opened #845 "Multiple comments get ignored for same ID"
**Describe the bug**

A given translation ID may occur multiple times in the source code.
It is reasonable that some of these invocations have comments and other not, some comments may even be different.
Lingui only uses the comment of the first instance it find. If that instance does not have a comment, no comment is added to the PO file.

**To Reproduce**

Given the following file

[code]

when

[2020-11-10 14:04] Snaptags commented on #796
I still having this issue using 3.1.0 :-(

[2020-11-10 14:51] semoal commented on #796
I'll take a look on this since I downloaded parallels yesterday to fix other issue

[2020-11-10 15:09] nakkamarra commented on #845
@Bertg @tricoder42 I noticed this as well. However, if the different comments were to cause your translator to return separate translations for the same word given the comment (or context, as I'm thinking about it), how would we possibly encode it in the `.po` file? I believe the `msgctxt` field would be necessary to solving this though, which as per my understanding of gettext, acts as an additio

[2020-11-10 15:44] kuzmichDev opened #847 "Invalid typing for MessageDescriptor"
**Describe the bug**
Current declaration contains following interface with invalid type for values:

[code]

**Expected behavior**
type of values should be `values?: object;`

[2020-11-10 21:21] semoal commented on #828
Released 3.1.0 should be fixed, feel free to reopen

[2020-11-10 21:21] #828 closed

[2020-11-10 21:22] #811 closed

[2020-11-10 21:36] MartinCerny-awin commented on #838
The reason why you can specify any locale to be pseudolocation is that some users might have some validation checks. It is also easier to check valid locale in browsers.

You are right about default locale. Previously we were using translations from sourceLocale. It was not correct as it expects keys to be translation. I need to update documentation specifying that fallback needs to be added for p

[2020-11-11 00:19] arcanis commented on #822
Hey @tricoder42! This was exactly what I was looking for, thanks 👍

[2020-11-11 06:32] #847 closed

[2020-11-11 06:33] tricoder42 commented on #796
Thank you @Snaptags for debugging, but it's still rather weird that CLI searches the root of `C:\` instead of the src path.

[2020-11-11 06:38] tricoder42 commented on #845
@Bertg Yeah, this will require a bit of refactoring in extraction script...

@nakkamarra Unfortunately, `msgctx` isn't supported at the moment. Your best bet is include the `msgctx` string inside the ID:

[code]

We should review [Fluent](https://www.projectfluent.org/) before adding this feature to Lingui. I'm curious how they solve it. In the future I would like Lingui library to handle ICU Mess

[2020-11-11 07:46] Snaptags commented on #796
Can the shell version have an influence here? I'm using PowerShell Core 7.0.3

[2020-11-11 08:21] #844 closed

[2020-11-11 08:47] Bertg commented on #845
@nakkamarra I think context & comments should remain separate concepts. It can be that a comment is basically similar "CTA on a button", or "Button CTA". This does not warrant a separate translation or context.

However, the comments may give a hint to a translator that something might be up in their specific language. Eg: "CTA to remove a user" and "CTA to delete item" on a string like this "Remo

[2020-11-11 08:55] Bertg commented on #838
I'm going to push on this issue a bit more:

I just don't understand why this would be valuable. What is the use case for this feature exactly?
My suggestion can still be compatible with that use case as well, if a developer would choose to configure it that way.

100% agree. But it should be optional. I think that - in the vast majority of cases - the default behaviour would be good enough.
Also

[2020-11-11 09:25] Bertg commented on #845
@tricoder42

I've been looking into this, and the initial capturing phase (capture comment per message) is a very easy change.

[code]

This is a super simple change, but does change the entire internal representation quite a bit.

Is it OK for you if I continue in this direction?

[2020-11-11 09:28] tricoder42 commented on #845
It should be fine. Javascript doesn't have tuples, only arrays, so there's probably `const [filename, line] = origin` somewhere down the line and this change won't break it.

Feel free to go for it! 👍  You'll also need to change the `cli` package.

[2020-11-11 09:35] semoal commented on #796
I've tried with next-js example running: npx lingui extract or directly using yarn extract (with extract: lingui extract) on package.json, and couldn't replicate the issue.

Powershell 5.1 and the standard windows terminal both worked. If you can provide me some extra details to replicate the issue I take a further look.

[2020-11-11 09:36] MartinCerny-awin commented on #838
How would it be compatible if you have naming convention that locale has to end with $pseudo?

If you think it would be beneficial, then I think you can feel free to add this functionality. From my perspective it would be unnecessary complicating the functionality and the code. Currently there is one place where we call pseudolocalization which makes is simple for maintenance.

My plan is to add a

[2020-11-11 10:58] Snaptags commented on #796
I have the same behavior with cmd.exe, too. But I noticed that the catalog config is not the problem, but the default rootDir entry. Edited my first comment, because it was making false accusations :-)

[2020-11-11 11:43] Snaptags commented on #796
And this is not limited to Windows. If I run it in the WSL bash I get
![image](https://user-images.githubusercontent.com/1249745/98807714-598c0e80-241b-11eb-833e-3aca980b5dc0.png)
That is `extract` is still starting from / even though rootDir is ".'

[2020-11-11 11:48] Snaptags commented on #796
@semoal could you perhaps post your `lingui.config.js`?

My current one is
[code]

[2020-11-11 12:30] semoal commented on #796
With your config also fails for me on Windows, because rootDir "." goes to Windows homespace. Just removing it, works perfect on Powershell and normal cmd

[2020-11-11 12:35] Snaptags commented on #796
WITHOUT rootDir: ".", it is using the current working directory as expected 👍

But if I copy the default config from https://lingui.js.org/ref/conf.html I'd still expect it to work.
And I'd expect "." to resolve to the current working directory, too :-)

[2020-11-11 12:37] semoal commented on #796
Yes, absolutely, i forgot to add i'm looking to fix that asap.

[2020-11-11 12:39] Snaptags commented on #796
I'd appreciate that. Unfortunately I could not narrow down the problem. But I'm happy to help if you need additional debugging output, etc.

[2020-11-11 14:25] semoal commented on #796
Markus, just to confirm that with this change is fixed.

Can you change your `/node_modules/@lingui/cli/api/catalog.js`, line +- `549`, is the normalizeRelativePath func. Change to this, an let me know if the issue is fixed.

[code]

[2020-11-11 14:28] nakkamarra commented on #845
@tricoder42 Yeah, after some brief reading and grepping, nothing immediately jumps out at me from there docs about how it is handled. I was under the impression that `msgctxt` is part of the gettext spec and thus doesn't have anything to do with the message format but is a function of the `.po` file format.

From the `Fluent Syntax` section of [this article](https://hacks.mozilla.org/2019/04/fluen

[2020-11-11 14:31] tricoder42 commented on #845
Yeah, definitely. Personally I don't see a reason why you'd need to separate msgid and msgctx, when you can use them both as an id. I guess it might be useful when you use natural language keys.

[2020-11-11 14:40] nakkamarra commented on #845
@tricoder42 Well, I guess my issue with that is that it feels more like a hack than a solution, and it is unclear to me whether or not the context encoded in the IDs like that will be picked up a Translator / TMS the same way that a comment or a `msgctxt` would (meaning it might get glossed over based on the software/UI on their end).

[2020-11-11 20:54] Snaptags commented on #796
After applying your change it "succeeds" on Windows 10, but still fails in WSL Ubuntu, now reporting
[code]

On Windows it does not extract any texts though. I think the returned paths still are pointing to the file system root:
![image](https://user-images.githubusercontent.com/1249745/98862679-9aaa1000-2467-11eb-90a9-bb03ad243dcd.png)
(left: Ubuntu / right: Windows)

[2020-11-11 21:05] Snaptags commented on #796
On the other hand: I think `normalizeRelativePath` is supposed to return relative paths! If I change rootDir back to `./src` I get:
![image](https://user-images.githubusercontent.com/1249745/98864175-c62dfa00-2469-11eb-97c2-3b633ac76ff4.png)

i.e. the "logical" way to deal with "." would be to just return an **empty** string. But then I get even more exceptions from the glob tool…

[2020-11-11 22:03] semoal commented on #796
Yes I'll refactor that function tomorrow and we'll release a new patch versión at afternon

[2020-11-11 23:22] Bertg commented on #845
I have to follow @nakkamarra here. It is a hack.

Say we follow the hack approach and write `t({id: "Go go gadget machine / A CTA button"})`. We can't at this time use the id as the default. Which I think is a major use-case  in Lingui.

Writing ```t({id: "Go go gadget machine", ctx: "A CTA button"})``` is not that much more complex, but you get the id == default behaviour back; and you get the co

[2020-11-11 23:23] Bertg commented on #845
FYI I @tricoder42 The comments fix is in.

Had to do it differently still, but got it to work eventually ;)

[2020-11-11 23:51] nakkamarra commented on #845
Yeah, that definitely highlights my concern with it, since that is my exact use-case. As for the support in Fluent, I'm beginning to think that it isn't supported, at least as per the use case I envision (the [traditional gettext usage](https://www.gnu.org/software/gettext/manual/html_node/Contexts.html) of `msgctxt`), since Fluent doesn't seem to support using a message itself as the ID, so the p

[2020-11-12 07:46] Bertg commented on #845
@nakkamarra Well, first steps first would be to create a separate ticket for adding context support, instead of keeping the conversation here :)

This seems very reasonable as a suggestion.

[2020-11-12 07:52] Bertg commented on #838
Any locale ending in `$pseudo` would be pseudo localised. Any locale that is in the list of pseudo localised languages, would also be localised. Basically we add the `$pseudo`behaviour to the current system.

I want to emphasise that the `$pseudo` is a placeholder solution, it can be anything else (ex: "~en-GB")

I have not seen that part of the code yet. I don't want to make things to complicated

[2020-11-12 07:55] tricoder42 opened #856 "Support `msgctx`"
- [ ] Add `context` prop to message descriptor (used in `defineMessage` and `t` macros)
- [ ] Add `context` prop to `Trans` macro and also `Trans` component (from `@lingui/macro`)
- [ ] Collect `context` in extract plugin. In `cli` package, throw an error when file format is anything else than `po`
- [ ] Refactor `@lingui/core` to support lookup by context. Right now you get a translation using a

[2020-11-12 07:56] tricoder42 commented on #845
@nakkamarra I like your suggestion. I've just created #856 where I outlined what needs to be done. Feel free to ask me anything you might need if you want to work on this feature

[2020-11-12 08:06] #845 closed

[2020-11-12 10:15] Snaptags opened #857 "t macro does not work with message descriptor"
**Describe the bug**
Using this example from the documentation only the template literal text is being extracted.
Lingui ignores `message2`:
[code]

**To Reproduce**
minimal code sample:

[code]

**Expected behavior**
I'd expect both texts to be extracted to the po file:

[code]

**Additional context**
Add any other context about the problem here.

- jsLingui version 3.1.0
- Babel version 7.12.3
-

[2020-11-12 10:19] semoal commented on #857
https://github.com/lingui/js-lingui/pull/846 Already fixed there, we'll release this afternoon Markus.

[2020-11-12 10:22] Snaptags commented on #857
Perfect, sorry, must have missed that issue :-(

[2020-11-12 10:22] #857 closed

[2020-11-12 14:48] nakkamarra commented on #856
@tricoder42 Awesome, let me know if you'd like some help, I can maybe spend some time this weekend to make a PR.

[2020-11-12 14:50] semoal commented on #856
Feel free to take it a provide a pull request Nick, I assign this to you, if you dont mind

[2020-11-12 16:01] tricoder42 commented on #856
@nakkamarra Definitely go ahead. I've created the issue only to outline what's required to do

[2020-11-12 20:37] semoal commented on #796
@Snaptags give a chance to 3.2.0 just published

[2020-11-12 23:46] gitschwifty opened #859 "v3.2.0 fails to install due to missing file"
**Describe the bug**
The 3.2.0 version of Lingui cli fails to install due to file `@lingui/cli/lingui.js` missing.

**To Reproduce**

[code]

**Expected behavior**
Lingui installs into node_modules

**Additional context**
Tested with 3.1.0 and 2.9.2 (currently using in another project so known good) installs to make sure it was not due to a local issue.

Error message with personal data removed:
[

[2020-11-13 05:36] ifiokjr commented on #859
It looks like the project published without building:

- `@lingui/cli@3.2.0` https://unpkg.com/browse/@lingui/cli@3.2.0/
- `@lingui/cli@3.1.0` https://unpkg.com/browse/@lingui/cli@3.1.0/

This seems to be the case for all the scoped packages.

[2020-11-13 06:58] semoal commented on #859
Was the first time releasing with lerna, and we found a minor issue with contents --dir, already released a patch 3.2.1, and we'll work to fix the automatic versioning!

[2020-11-13 06:58] tricoder42 commented on #859
Sorry everyone. We're trying to automate our release pipeline and apparently there's a glitch.

I've just published [3.2.1](https://github.com/lingui/js-lingui/releases/tag/v3.2.1) and tested it locally.

[2020-11-13 06:58] #859 closed

[2020-11-13 08:43] Snaptags opened #861 "Function `t` macros do not extract template strings"
**Describe the bug**
You cannot use template strings with the t function:
[code]
results in
[code]

**Expected behavior**
[code]

**Additional context**

- jsLingui version 3.2.1
- Babel version 7.12.3
- Your Babel config: Create React App

[2020-11-13 08:53] semoal commented on #861
Same occurs with defineMessage macro, what should we do here? @tricoder42

[2020-11-13 08:57] Snaptags commented on #861
Thanks, Sergio. Just wanted to add this remark after trying to find a workaround using defineMessage :-)

[2020-11-13 09:04] Snaptags commented on #796
Thanks for fixing this, using 3.2.1 it works as expected. (Powershell Core and Ubuntu Bash)

I'd still recommend using `rootDir: "./src"` — Lingui will check a bunch of very large files (e.g. in ./build or ./dist) otherwise, making things really slow 😄

[2020-11-13 09:05] semoal commented on #796
Or use the `exclude` pattern is also an option, glad to help Markus :)

[2020-11-13 09:05] #796 closed

[2020-11-13 09:05] tricoder42 commented on #861
The problem is that neither macro handles template string.

[code]

I'm already working on the fix. Meanwhile please use these workaround ☝️

[2020-11-13 09:11] Snaptags commented on #861
Nice! Works for me :-)

[2020-11-13 09:25] semoal opened #863 "Improve the extract plugin so it throws a warning/error when it tries to extract message with `undefine` id."
Also we should improve the extract plugin so it throws a warning/error when it tries to extract message with `undefine` id.

_Originally posted by @tricoder42 in https://github.com/lingui/js-lingui/pull/862#issuecomment-726652017_

[2020-11-13 10:07] Snaptags opened #865 "TypeScript error when loading messages"
**Describe the bug**
I am using the code sample from https://lingui.js.org/guides/testing.html to render a I18nProvider for testing. TypeScript complains about the messages object imported:
[code]
It works in the production code where I import messages dynamically using "await import"

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

**Expected beh

[2020-11-13 10:09] Snaptags commented on #865
Just adding that to the CompiledMessage type in i18n.d.ts solves the problem, but I'm not quite sure that's the best way to solve it 😄
[code]

[2020-11-13 10:37] semoal commented on #865
Hm, and why messages are a function signature? did you extracted the messages?

[2020-11-13 10:38] semoal commented on #865
https://github.com/lingui/js-lingui/pull/765 I believe I fixed this issue

[2020-11-13 10:48] Snaptags commented on #865
Yes I extracted and compiled the messages. The resulting JavaScript file includes a function for any message containing placeholders of any kind:
[code]

[2020-11-13 10:58] semoal commented on #865
The types from @types, are for lingui 2.x, since Lingui was written in Flow. Lingui 3.0 has a full rewrite with ts and provides his own types.

[code]

This case isn't covered on our compiledMessage type, i'll add it asap! Thanks Markus for pointing it out

[2020-11-13 23:21] MartinCerny-awin commented on #861
It is is also not possible to use `components` for `t` function.

[code]

It this supposed to work? In documentation it is specified that `t` is equivalent for <Trans> https://lingui.js.org/tutorials/react-patterns.html?highlight=i18n%20_#element-attributes-and-string-only-translations

[2020-11-14 16:04] #861 closed

[2020-11-14 16:21] tricoder42 commented on #865
The type is missing because there shouldn't be any fucntions in compiled catalog. This format has been changed in 3.x, now it should be:

[code]

@Snaptags What version of @lingui packages you have? Could you please run `yarn list | grep @lingui` and post the output? Also, what's the output of `yarn lingui --version`?

When I look at compiled catalogs inside `next.js` directory I see the correct,

[2020-11-14 16:48] Snaptags commented on #865
Sorry, my bad. I did not run `lingui compile` in my test project and kept using the v2.x `messages.js` files 😢 We can close this issue then?

[2020-11-14 17:02] rafalp opened #866 "In some cases function t() macros message is not extracted when ID is present"
**Describe the bug**
When `t()` macro is used with object defining id and message, message part is skipped when extracted default locale.

**To Reproduce**

[code]

Run lingui extract. PO file will be generated discarding `message` part:

[code]

**Expected behavior**
PO file generated by `lingui extract` should contain following entry for default locale:

[code]

**Additional context**
Add any ot

[2020-11-14 17:44] darlanmendonca commented on #819
Hey folks!!
I updated my version from 2.9.1 to 3.0.3 and works!
Thanks @tricoder42 by your codesandbox, I use it as reference together to documentation.

[2020-11-14 18:21] rafalp commented on #866
I am at loss here. I've inspected my project closer and realized that `lingui extract` actually extracts message for some of macros, while it skips the others.

[2020-11-14 18:28] rafalp commented on #866
I've found that this is the case when `message` value is formatted string:

[code]

This won't work:

[code]

[2020-11-14 18:40] tricoder42 commented on #866
Hey @rafalp, this is known issue already fixed in #862. It wasn't released yet though. Meanwhile, please check possible workarounds https://github.com/lingui/js-lingui/issues/861#issuecomment-726641318

[2020-11-14 18:40] #866 closed

[2020-11-14 18:40] tricoder42 commented on #866
Duplicate of #861

[2020-11-14 18:41] tricoder42 commented on #865
Yes. Glad it works 👍

[2020-11-14 18:41] #865 closed

[2020-11-14 18:42] tricoder42 commented on #861
@MartinCerny-awin This definitely isn't possible. `t` macro and the whole *lowercase* macros family only returns strings. You must use `Trans` and other capitalized macros if you want to use components.

`t` - function - strings only
`Trans` - React component - renders string or components

[2020-11-14 18:51] rafalp commented on #866
Oooh, I've missed that comment! Thank you!

[2020-11-15 22:23] semoal commented on #503
Hi @theKashey , since we have right now version 3.X.X. really clean, we released some interesting new features and some hot-fixes so probably the next milestones are reasonably clean.

If you can provide some details of what you got, I'm open to help you or start working on it. This feature will be amazing.

[2020-11-15 22:24] semoal commented on #503
Feel free to open another issue if you found something not working correctly 👍🏻

[2020-11-16 14:21] rhnorskov opened #869 "Compile not working with unstranslated strings"
I am having an issue compiling messages, when some strings are untranslated. I am not able report one specific bug, as I am unsure what is intended behaviour and what is not. So to explain the issue I will walk through what I have tried, and hopefully it will make sense what the issue it.

So I created a fresh create-react-app following the instructions in the documentation. I then changed the loc

[2020-11-16 16:48] semoal commented on #869
The key here is we have developed a new feature called CLDR Parent locales.
Automatically if a message isn't translated falls-back to CLDR fallback language, https://github.com/lingui/js-lingui/blob/main/packages/conf/src/index.ts#L298

What's happening here? That en-US, is automatic searching for `en` locale but there isn't in your locales strategy.

With a simple non-nullish access on `getTransl

[2020-11-16 16:54] semoal commented on #863
I close this, because already does it. https://github.com/lingui/js-lingui/blob/main/packages/babel-plugin-extract-messages/src/index.ts#L134

[2020-11-16 16:54] #863 closed

[2020-11-16 17:27] semoal commented on #869
Also fixed that fallbackLocales if the CLDR parent was found, was overriding your settings.
Thanks for the report Rasmus, really appreciated 🥇

[2020-11-16 22:38] MartinCerny-awin commented on #838
I have tagged this issue is going to be closed with my documentation changes.

Feel free to do implement less configuration pseudolocale, but I think adding fallbackLocales is not difficult and provides greater flexibility for the users.

Your idea about supporting multiple pseudolocalization could be achieved by switching string to array, which would not be too complicated. On the other side, I d

[2020-11-17 07:08] tricoder42 commented on #863
Yeah, but that's only `Trans` macro. I guess we simply need to copy the same working to lines 162 https://github.com/lingui/js-lingui/blob/2bf9ebf64f9227d9e13222f368f369a54d6417fe/packages/babel-plugin-extract-messages/src/index.ts#L159-L163 and 195: https://github.com/lingui/js-lingui/blob/2bf9ebf64f9227d9e13222f368f369a54d6417fe/packages/babel-plugin-extract-messages/src/index.ts#L192-L196

the

[2020-11-17 07:14] #869 closed

[2020-11-17 09:21] Bertg commented on #856
I'll probably have some time to work on this tomorrow (Wed 17th Central European timezone).
Is someone wants to pair up, let me know.

[2020-11-17 15:37] nakkamarra commented on #856
@Bertg Yeah that sounds good. I've gotten started on this and am happy to chat about where I've gotten. However, I think there are some implications for the changes, particularly around how we will handle `missing` when message context is part of the equation, that I have not yet figured out.

[2020-11-17 22:55] #838 closed

[2020-11-18 21:01] artyomtrityak commented on #792
An issue is in new `import type ...` syntax.
I think `@babel/core@7.9` required

[2020-11-18 21:53] Bertg commented on #856
I worked a bit on this tonight and wanted to collect some feedback before finalising and creating a PR. (Especially @tricoder42)

https://github.com/lingui/js-lingui/compare/main...Bertg:msgctxt_support

What works:

- Extract messages and remain uniq based on context
- Lookup based on context

When extracting messages & during lookup at runtime an Object (hash) is used. Before these changes the k

[2020-11-19 13:25] nuragic commented on #510
Hi! I was looking for this feature as well, we're experiencing higher extract times right now (more code, more messages)...

FYI we  use lingui CLI within our development workflow using `lint-staged`... we run (commit hook)  `eslint` for linting and after that we run `lingui extract` and it works great; the only difference is that `eslint` do accept a list of files (so it actually lint only the st

[2020-11-19 17:26] semoal commented on #510
I could work on it this week at night, lets go

[2020-11-19 18:24] telpochyaotl opened #876 "Unable to use certain country-Language combinations"
**Describe the bug**
Unable to compile and load certain locales, such as 'en-GB', 'es-MX', 'es-ES', where 'en-US' and 'fr-CA' work correctly.

In earlier pre-release 3.x (next) version of lingui, I was able to define, extract and compile/load locales such as 'en-GB' and 'es-MX',

As of v 3.1.2, these locales can be defined and extracted but compiling or trying to dynamically load them generates th

[2020-11-19 19:38] semoal commented on #876
This is already fixed, look #869 we'll release a new version in a few days

[2020-11-19 21:02] telpochyaotl commented on #876
Thank you for the quick reply @semoal , another problem i see which could have served as a workaround and it doesn't seem to be fixed with #869 is the fact that conf's `fallbackLanguageMigration` is ignoring any configured fallbackLocales from user configuration and overriding it with the parent languages configuration, if it wasn't ignoring one could define the default fallback language and the i

[2020-11-19 21:11] semoal commented on #876
Hm thats also fixed, with the current version fallbackLocales were ignored if cldr found. On the new version if fallbackLocales are defined, take preference over cldr

[2020-11-21 11:25] semoal commented on #876
We released 3.2.2 give it a try mate

[2020-11-21 19:17] mkarachev opened #878 "[@lingui/react, Typecript] withI18n HOC should omit i18n property in wrapped components props"
**Describe the bug**
In components, wrapped with `withI18n` HOC, property `i18n` is required.

**To Reproduce**
[code]

**Expected behavior**
`with18n` HOC type should omit `i18n` property of passed component

**Additional context**
@lingui/cli: ^3.2.2
@lingui/core: ^3.2.2
@lingui/loader: ^3.2.2
@lingui/react: ^3.2.2
typescript: ^4.0.3

[2020-11-22 06:19] #878 closed

[2020-11-22 06:36] #876 closed

[2020-11-23 11:26] semoal commented on #510
I think I fixed this issue with two lines of code ..  I'll create a pull request once correctly tested

[2020-11-23 12:34] shubhamyedage opened #880 "Unhandled Rejection for locales configuration"
**Describe the bug**
I am facing one issue after extracting regrading `unhandled rejection`. The issue is related to the config file that's what I can say after a little digging. Here is how my config looks like,

But when I provide `locales: ['en', 'es', 'en-US', 'en-GB', 'es-MX', 'es-ES']` I wont get that error anymore.
The error snippet is here,
![image](https://user-images.githubusercontent.co

[2020-11-23 13:20] semoal commented on #880
Update to latest version please, we fixed this issue on 3.2.3, the problem is CLDR locales is returning `en-US` to "en", so if you don't define that locale, was failing, but it's already fixed

[2020-11-23 14:26] uqee opened #882 "MessageDescriptor['id'] should not be possibly undefined"
Hi, guys, first of all, thanks for the awesome library!

Seems like there's a minor issue in typings, though. I mean, `MessageDescriptor['id']` shouldn't be possibly undefined: [link to the code](https://github.com/lingui/js-lingui/blob/main/packages/core/src/i18n.ts#L32). Started to reproduce in `@types/lingui__core@3`.

[2020-11-23 14:48] #880 closed

[2020-11-23 14:51] tricoder42 commented on #882
Hi @uqee, well it can be undefined:

[code]

I guess we could improve it by making a separate type for `SourceMessageDescriptor` (i.e. which appears in source code and might have id undefine) and `MessageDescriptor` (i.e. which comes from compiled catalog and always have undefined id), but I'm not sure if it's worth it and how much changes it'll require.

By the way, you don't need `@types/lingui_

[2020-11-23 17:09] #510 closed

[2020-11-23 20:05] MartinCerny-awin opened #883 "Plural numbers TypeScript error"
[code]

Typescript does not allow to specify number on Plural component.

[code]

I tried to have a look how to fix it, but couldn't figure it out.

TypeScript version: 4.1.2
Lingui: 3.2.3

[2020-11-23 20:52] semoal commented on #883
I'll fix this later, so tomorrow version Will be fixed

[2020-11-23 21:56] semoal commented on #883
Looks like something changed internally in Typescript 4.1.2, in the future this could be a template literal type, but meanwhile to provide compatibility to 4.x.x typescript this workaround will work.
https://codesandbox.io/s/react-typescript-playground-forked-becf6?file=/src/index.tsx

[2020-11-23 21:57] semoal commented on #883
https://github.com/lingui/js-lingui/issues/770 was fixed here, but something changed on Typescript 4.1.0 :/

[2020-11-23 23:22] MartinCerny-awin commented on #883
Also I can see we have format prop in documentation https://lingui.js.org/ref/macro.html?highlight=plural#jsxmacro-Plural I do not see this one in typescript. Is it still available?

[2020-11-24 02:16] roypearce opened #885 "Typescript error with TransProps values not existing"
**Describe the bug**
I should be able to pass `values` into the `Trans` component, but the typescript for `values` does not exist.

[code]

**To Reproduce**
[code]

**Expected behavior**
Expect `TransProps` to have `values` defined

- jsLingui version 3.2.3

[2020-11-24 06:09] tricoder42 commented on #885
Hi @roypearce,
macros aren't designed to receive values. Usually, you would provide a default message which uses variables:

[code]

which would be transformed into real component from `@lingui/react`:

[code]

Note the `message` in this case will be removed from production bundle. It's only used for extraction and development.

So, if you want to pass variables manually, you should use `Trans` fr

[2020-11-24 06:09] #885 closed

[2020-11-24 06:12] tricoder42 commented on #883
It is supported in core, but not sure about the `macros` (I can't find any specific reference for `format` prop). Could you please try it?

[2020-11-24 14:29] #883 closed

[2020-11-24 18:07] roypearce commented on #885
Thanks for that information @tricoder42 it's helpful in trying to understand where the responsibilities lie with the different projects.

When you say

Does this apply to the message used with the `@lingui/macro` `Trans` component as well or is that only for `@lingui/react`'s `Trans` component?

[2020-11-24 19:52] MartinCerny-awin commented on #883
I have tried and the extracted string is same with format and without format. I will remove it from the documentation then.

[2020-11-24 20:09] MartinCerny-awin opened #886 "Using development version in Contributing file is outdated"
Recently we have removed `scripts/release.js` file, but CONTRIBUTING.md file with description how to use development version in your project did not get updated.

https://github.com/lingui/js-lingui/blob/main/CONTRIBUTING.md#using-development-version-in-your-project

When I try to run `yarn release --dev` I get
[code]

[2020-11-24 20:18] semoal commented on #886
Yess, good point Martin I'll create a pr later

[2020-11-24 23:32] fny opened #888 "Lingui Extract Erases All Messages when JSON is Invalid"
**Describe the bug**

Lingui overwrites messages.json if the messages.json is invalid on lingui extract.

**To Reproduce**

Run `lingui extract` with minimal output. Fill in values for one of the locales, and then make the json invalid (e.g.. drop a comma). Run `lingui extract` again. All of the messages will now be blank.

**Expected behavior**

Lingui should crash with an error that says the mes

[2020-11-25 06:34] tricoder42 commented on #885
Well, macros are transformed into Trans components both in production and development. That's how macros work.

`message` and `comment` props are removed from production bundles to save space. `message` is used only as a fallback when translation is missing and this all happens at the compile step. In production bundle you'll see only `<Trans id="my.id  values={{ myVal1: 'Hi', myVal2: 'Jon' }} />`

[2020-11-25 07:28] theKashey commented on #503
@semoal - all I've got is in the comment above. The general idea is to extract "translations" in the same way some CSS-in-JS do a static extraction, producing CSS files from js ones.
The only difference that such files have to pull translation from the other source and (optional) support runtime language selection.

[2020-11-25 09:19] semoal commented on #886
Done! Thanks Martin for notifying

[2020-11-25 09:19] #886 closed

[2020-11-25 09:43] semoal commented on #888
The error is in the codebase but is not correctly cached...
https://github.com/lingui/js-lingui/blob/main/packages/cli/src/api/formats/minimal.ts#L36

This function must throw an exception to step all the thread and don't overwrite the messages if something fails.

[2020-11-26 14:40] #888 closed

[2020-11-27 08:24] gbiryukov commented on #810
Practically we are facing an issue with `.po` files resolution in monorepo. lingui webpack loader converts absolute paths to relative [here](https://github.com/lingui/js-lingui/blob/main/packages/loader/src/index.js#L60) which leads to a problem that all translation resources always resolved relatively to current package and makes impossible to import `.po` files from another shared packages

[2020-11-28 20:02] SrBrahma commented on #442
This works, but adds 6MiB to the app size (but have all the languages). Does the import option have a smaller app size? I really believe that it does, but just want a confirmation.

[2020-11-28 20:23] SrBrahma commented on #442
This intl lib is discontinued, and its last update was on 2016. I think I will stick to the jscFlavor solution.

[2020-11-28 22:52] MartinCerny-awin opened #892 "Difference between SelectOrdinal and Plural"
Could we please clarify what is the difference between SelectOrdinal and Plural. In the documentation it says

with this example:

[code]

I do not understand why we couldn't use Plural to do the same.

[code]

these two Componets are extracted into

[code]

[2020-11-29 19:55] SebasG22 opened #894 "Module not found: Can't resolve 'fs' on monorepos"
**Describe the bug**
I'm trying to make some guides to use `lingui JS` in a monorepo with Nx but the docs are unclear about that.
The problem is that when you want to import a component that is in a shared library and use the `<Trans>` `lingui JS` fails with the following errors:
[code]

[code]

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:
1. There is a

[2020-11-29 20:16] SebasG22 commented on #810
This [bug](#894 ) is related to this conversation, regarding some unclear errors to setup monorepos

[2020-11-30 08:32] nuragic commented on #510
Wow! You rock! 🤘  Thanks! Looking forward to update

[2020-11-30 11:22] nsdeschenes opened #897 "Escape bracket gets escaped in messages"
**Describe the bug**
In linguijs v2, I was able to escape back ticks using `\`, however now in linguijs v3 the escape brackets are being escaped and thus breaking the translations when it tries to go and find the doubly escaped `\\`.

**To Reproduce**
[code]
Produces:
[code]

**Expected behavior**
Previously in v2 running extract on the original string would produce
[code]

- jsLingui version ``@l

[2020-11-30 12:51] semoal commented on #897
This could be fixed using the cooked value from babel extractor.
https://exploringjs.com/impatient-js/ch_template-literals.html#cooked-vs.-raw-template-strings-advanced
But not sure if this would be a breaking change or if it makes sense.

Example:

[code]

https://github.com/lingui/js-lingui/blob/main/packages/macro/src/macroJs.ts#L267

[2020-11-30 13:23] semoal commented on #897
I'm not sure if the pull request i opened is a good solution for this, probably Tomas has other opinion or something differnt in mind

[2020-11-30 15:28] tricoder42 commented on #897
@semoal I've never heard about `cooked` prop. It's first time I see it. I used `raw` before but that actually didn't work with html entities.

If you feel it would solve the problem in a more elegant way, feel free to use it. Usually regexp is a workaround in situations like this because it doesn't take into account if the backslashes are escaped or not. I guess you would need a stateful parser fo

[2020-11-30 15:45] tricoder42 commented on #892
Because plurals rules are different. English doesn't have `two` and `few` plural forms, only `one` and `other`.

In Czech is very similar:

[code]

[2020-11-30 16:25] #897 closed

[2020-11-30 21:14] MartinCerny-awin commented on #892
I am still confused. They both have the same props and they look to me that they are doing the same thing. Is it just different name for the same thing?

Why couldn't we do it the other way around?

[code]

[2020-11-30 21:21] semoal commented on #892
Probably the confusion is generated because the typescript types.

SelectOrdinal only accepts one|two|other, and plural accepts any of offset|zero|one|few|many|other?

Actually we're using Plural props as SelectOrdinal props but probably this is wrong.

[2020-11-30 21:30] MartinCerny-awin commented on #892
It is also in documentation
SelectOrdinal https://lingui.js.org/ref/macro.html?highlight=selectordinal#jsxmacro-SelectOrdinal
Plurals https://lingui.js.org/ref/macro.html?highlight=selectordinal#id1

[2020-12-01 06:04] tricoder42 commented on #892
Yeah, the api is the same. They both should actually accept the same props. The only difference is how `value` is mapped to plural form. Imagine this pseudocode:

[code]

If we could somehow set the types based on runtime values, then we could use:

[code]

Compare [Czech plural rules](https://unicode-org.github.io/cldr-staging/charts/37/supplemental/language_plural_rules.html#cs) and [English plu

[2020-12-01 19:41] MartinCerny-awin commented on #892
It makes sense now. I think it might be better to use PluralOrdinal instead of SelectOrdinal, but it is probably not worth a breaking change. Thanks for the explanation.

[2020-12-01 19:41] #892 closed

[2020-12-02 05:44] tricoder42 commented on #892
The names of macros are derived from ICU formatters, e.g. `{value, plural, ...}`, `{value, selectOrdinal, ...}` etc. I can't change the format and I thought that it'll be easier to remember to use the same names. But I got confused by it few times as well...

[2020-12-02 08:14] tricoder42 commented on #856
A hash could be made of the ID + context and used for lookup. We should weigh off the benefits of a smaller payload with the negative performance impact the hashing would have at runtime. Do note that with macros this performance impact woud not be felt at runtime, and could be a huge perforce improvements on bigger projects.

This is good idea. I wanted to do sth similar while ago, see https://gi

[2020-12-02 16:26] herrstucki opened #899 "Bad setState() call by I18nProvider"
**Describe the bug**

When I change the locale inside of a React app as a result of a route change, I get a React warning like

This is most likely the result of me calling `i18n.activate(locale)` _during_ a render (see reproduction below). However, wrapping it in a `useEffect` will double-render and not work during SSR.

I suspect this is a side-effect of triggering locale changes on a global whi

[2020-12-02 16:42] tricoder42 commented on #899
That would mean that you manage `locale` by yourself, e.g. you need to setup state for it and probably even a context so you can switch locale from anywhere in the app. I understand your reasoning that in *should* be possible, I just don't think it should be the default as it requires extra setup.

Also, if you'd like to remove `setState` completely, you would have to manage messages outside provi

[2020-12-02 17:11] herrstucki commented on #899
Isn't `locale` very often controlled by the URL/router – or at least it should be (how else would you link to a localized page otherwise)? So I'd argue that the default case should indeed be controlled.

I'm not sure I understand the point about the messages. Those have to be managed outside of the provider's state already (in v2 and 3 as well)?

I'll give it a shot 😄

[2020-12-04 08:36] Bertg commented on #856
Cool. With @tricoder42 and @nakkamarra blessings in my pocket, I'll see if I can wrap this up over the weekend.

[2020-12-04 11:52] amankkg commented on #861
@tricoder42 I wonder if this behavior is as expected:

[code]
Extracted output
[code]
AFAIU, such `t` calls should not be extracted

[2020-12-04 15:56] semoal commented on #833
Looks they enabled It Tom, could you check It?

[2020-12-06 00:27] ivandotv opened #900 "Strugling with React examples"
**Describe the bug**

I'm struggling to implement some examples from the:
https://lingui.js.org/tutorials/react-patterns.html#id2
It seems that `import { I18n } from "@lingui/react"` renderProp component doesn't exist anymore.

Is there a way to implement the below code, possibly without using `HOC`

**To Reproduce**

[code]

**Expected behavior**
Text in the `<option>` element should be translate

[2020-12-06 12:10] max-mykhailenko opened #901 "Documentation/clarifications for server side rendering"
Can't understand the correct way to use Lingui with SSR after updating to v3.

First of all I know that a lot of requests can be received in the same time, but you remove `setup18n` and now i18n is a singleton for all simultaneously requests. Is it correct (possible some macros magic fix this, but from docs can't understand)?

Next question is keeping `import { i18n } from "@lingui/core"` but not

[2020-12-06 17:41] semoal commented on #901
I start from the end. You're right you don't need that import internally will use that instance, so just use macros. (If you want to create a pr to fix the docs are welcome =) )

About the first question, `setupI18n` is not removed, you can still use it if you need some extra config, that returns a i18n instance that can be used anywhere. But in the 99% cases you can use the default `{ i18n } from

[2020-12-06 17:49] semoal commented on #900
https://github.com/lingui/js-lingui/issues/655#issuecomment-621637390

This is a duplicated of this issue. This is not a problem itself of lingui, it's a React problem.

You can use directly t`` macro from `@lingui/macro` package

[2020-12-06 18:00] max-mykhailenko commented on #901
@semoal thank you for your fast response. I'll create fix for this and for next section
<img width="717" alt="image" src="https://user-images.githubusercontent.com/1213198/101288144-9b7f5900-37fd-11eb-8ca4-eb779cbfcc18.png">
As I saw in types we should pass messages, but not catalogs
<img width="636" alt="image" src="https://user-images.githubusercontent.com/1213198/101288155-acc86580-37fd-11eb-9e

[2020-12-06 18:05] semoal commented on #901
Perfect, thanks you very much!

[2020-12-06 19:28] max-mykhailenko opened #902 "Bug with utf chars"
**Describe the bug**
My compiled messages files contains encoded UTF characters instead of simple utf

<img width="981" alt="image" src="https://user-images.githubusercontent.com/1213198/101289992-6a585600-3808-11eb-8d8e-91f3c7639437.png">

**To Reproduce**
Compile `po` file with Cyrillic characters

**Expected behavior**
Simple not encoded utf chars

- jsLingui version
[code]
- Babel version ``@b

[2020-12-06 19:57] semoal commented on #902
Could you provide a reproduction repo please Max?
You could use this as base :)
https://codesandbox.io/s/nextjs-lingui-djzqm

[2020-12-06 20:07] #900 closed

[2020-12-06 20:25] max-mykhailenko commented on #902
@semoal without any changes repo already has this problem.
<img width="623" alt="image" src="https://user-images.githubusercontent.com/1213198/101291478-c83d6b80-3811-11eb-8cf6-da3a2c093bba.png">

Correct utf char `Jméno` was replaced to `Jm\xE9no`

[2020-12-06 21:39] tolunayakbulut commented on #451
- Global CTO Forum
- https://globalctoforum.org/
- No, it is not open source.
- We have 10 developer in our company.

Global CTO Forum connects world's leading CTOs and technology stakeholders.

![global-cto-forum](https://user-images.githubusercontent.com/31761883/101293116-ad282700-3824-11eb-871c-8aa0648b9701.png)

[2020-12-07 08:34] VladMokrousov opened #904 "How to use Lingui with separate translations?"
Hi, documentation does not describe what the index.js file should be when we put translation messages for each component in it directory. We should put a translation of one of the components into messages like this i18n.load('en', messages). But how we can connect the other translations?
Thank you in advance and sorry for my English :)

[2020-12-07 09:21] semoal commented on #904
I'm not sure what you mean

messages.js will be something like this (after running lingui compile):

[code]

You need to import that file, that will contain all the translations of your entire application, or the translations that you defined in .linguirc

[2020-12-07 10:04] VladMokrousov commented on #904
I use @lingui/loader and this function

[code]
So only one component translation stored in messages. Can i put into messages translate for all components?

[2020-12-07 10:11] amankkg opened #905 "t macro with variable id extracted as message with undefined id"
**Describe the bug**
`t({id: foo})` calls are being extracted with `undefined` message id
[code]

**To Reproduce**

[code]

**Expected behavior**
No `messages.po` changes

**Additional context**
Dependencies

[code]

[2020-12-07 10:34] semoal commented on #905
No has sense to use t inside other t, mate. just  use:

[code]

[2020-12-07 10:40] semoal commented on #904
Sure! That's how it works.

Internal default configuration:

[code]

As you can see catalogs means files extracted from your source files, `include` is looking to your rootDir project, so any file using macro functions, or Trans component will be extracted to `<rootDir>/locale/{locale}/messages`

[2020-12-07 10:41] semoal commented on #902
I tough this was fixed by babel, i'll take a further look

[2020-12-07 11:01] semoal commented on #902
Well, I propose my solution, tell me what you think @tricoder42

1º Create a new configuration param called: `compilerBabelOptions` we already have a `extractBabelOptions`, so for me has sense to difference options of babel by command.
2º Edit https://github.com/lingui/js-lingui/blob/main/packages/cli/src/api/compile.ts#L45 to merge our defaut configuration of the generator with `compileBabelOptio

[2020-12-07 11:02] semoal commented on #904
Feel free to take a look to repository examples, and if you find a bug feel free to open a new issue!
Thanks for using Lingui!

[2020-12-07 11:02] #904 closed

[2020-12-07 12:05] VladMokrousov commented on #904
Sergio, I'll try to explain it better. I have a project structure like this

I use @lingui/loader and would like show Czech translation on the site. In index.js i use somthing like this
[code]
In this case i added on the site translation for RegistrationForm component. How i can add translations for RegistrationForm and LoginForm component?

[2020-12-07 12:24] semoal commented on #904
You can use `catalogsMergePath` in configuration file to merge catalogs to one file when compiled.

[2020-12-07 12:32] max-mykhailenko commented on #902
@semoal for me it's not something negligible because it increases total file size in five times.

[2020-12-07 12:44] VladMokrousov commented on #904
Thank you very much!

[2020-12-07 13:13] semoal commented on #902
<img width="1357" alt="Screenshot 2020-12-07 at 14 13 01" src="https://user-images.githubusercontent.com/22656541/101355049-565b3580-3896-11eb-9732-6e562ca06480.png">
I already got this fixed, I'll create a merge request asap

[2020-12-07 18:28] tricoder42 commented on #902
As I wrote in #906, since we don't support Babel 6, what about making it the default behavior? This could definitely save lot of space as @max-mykhailenko pointed out

[2020-12-07 18:30] tricoder42 commented on #904
In fact, you could even use `{name}` placeholder to match all components:

[code]

checkout the docs https://lingui.js.org/ref/conf.html#catalogs

[2020-12-07 18:35] tricoder42 commented on #451
Hey @tolunayakbulut! Glad to hear you use and like LinguiJS! Feel free to send PR directly like #806

[2020-12-07 18:36] semoal commented on #902
Has sense to me, we can set this to default yes

I'll update the pr later im out home right now

[2020-12-07 18:39] tricoder42 commented on #902
Thank you @semoal. If we make it default we should definitely mention it in changelog. If it changes msgids for someone, it might break translations (well, break. Those translations will be empty until they move translations from previous msgids)

[2020-12-07 18:46] tricoder42 commented on #833
Yes it does! Awesome https://github.com/lingui/js-lingui/discussions

Thank you guys for working on this! 🚀

[2020-12-07 18:50] tricoder42 commented on #861
Yeah, you're right. It shouldn't get extracted. Would you like to send a PR? This could be easy but grateful fix

[2020-12-07 22:02] ivandotv commented on #899
I'm having the same problem, there should be a way to `hook` in to react rendering when changing locale.

[2020-12-08 01:09] VladMokrousov commented on #904
Yeah, Tomáš, but i have a little bit more difficult structure of the project :)

[2020-12-08 02:09] VladMokrousov commented on #904
Hmm, strange, but catalogsMergePath doesn't work
![er](https://user-images.githubusercontent.com/24979591/101429220-5eba7b80-393d-11eb-8b05-eb76eba14030.jpg)

[2020-12-08 08:29] tricoder42 commented on #904
What version of LinguiJS do you use?

[2020-12-08 08:32] tricoder42 commented on #899
It depends on you app. You can set locale from URL (e.g. like Wikipedia) or you can set locale from cookie/localestorage or user settings (e.g. like Facebook). Both are perfectly valid usecases.

The `change` event fires when locale changes or when messages are loaded. If you want to get rid of it, you need to handle both. Otherwise everything is handled internally.

[2020-12-08 11:28] semoal commented on #904
I think it's an issue with actual 3.2.3, because we were using catalogsMergePath?: string, and i think jest validator when some type is optional is not working properly.
Ill fix this in the open pr about compilerOptions

[2020-12-08 12:17] semoal commented on #902
Yes once released we just have to edit the changelog with any addtioanl comments .

[2020-12-08 13:02] amankkg commented on #861
@tricoder42 sure, I'll take a look

[2020-12-08 13:06] amankkg commented on #905
@semoal it's needed for static translations, e.g. outside of react component

[2020-12-08 13:09] amankkg commented on #905
Bug is confirmed I think https://github.com/lingui/js-lingui/issues/861#issuecomment-740109052

[2020-12-08 13:18] tricoder42 commented on #905
You definitely shouldn't use `t` macro twice. If you want to use "lazy translations", use `defineMessage` instead.

[code]

Still, there's a bug that `t({ id: foo })` is extracted as undefined.

[2020-12-08 13:26] #902 closed

[2020-12-08 14:25] semoal commented on #510
😱  Released 3.3.0 with this fix/feature introduced!

[code]

[2020-12-08 14:25] semoal commented on #897
😱  Released 3.3.0 with this fix/feature introduced!

[code]

[2020-12-08 14:26] semoal commented on #888
😱  Released 3.3.0 with this fix/feature introduced!

[code]

[2020-12-09 01:38] VladMokrousov commented on #904
Yeah, version 3.2.3

[2020-12-09 09:40] max-mykhailenko commented on #902
@semoal @tricoder42 thank you guys, awesome work!

[2020-12-09 18:59] MartijnHols opened #913 "Support id and comment in `plural` macro"
Just like the `t` macro, it would be great if `plural` also accepted an id and comment.

**Describe proposed solution**
To be able to specify an id and comment in plural:
[code]

**Describe alternatives you've considered**
Adding the id and comment props to the existing options param seems less clean to me, especially when this is already the syntax available in `t`. Should be possible with a func

[2020-12-10 08:30] tricoder42 commented on #913
Sure, it could simplify the syntax a bit. Feel free to send a PR. It would be great if you could also update `select` and `selectOrdinal` macros to accept `id` and `comment`.

Just to document the current alternative:

[code]

[2020-12-10 08:46] MartijnHols commented on #913
Ah I was unaware that was the alternative; couldn't find it in the docs or any issues but I might not have used the right search criteria. I quite like that, but I agree that a merged version may be slightly simpler.

[2020-12-10 09:00] amankkg commented on #905
Note regarding `t` macro usage: I came to this in order to get a translation as `string`:

[code]

[2020-12-10 10:40] tricoder42 commented on #905
You need to use [`defineMessage`](https://lingui.js.org/ref/macro.html#jsmacro-defineMessage) for that

[2020-12-10 10:42] tricoder42 commented on #905
Actually, there're two mistakes in your example

[code]

[2020-12-10 18:44] ivandotv commented on #899
@herrstucki @tricoder42
I've managed to get around this issue by using the below code:
[code]
This both works on the client, and on the server (static rendering). It does render the component two times, but I guess this is okay since users don't change locale that often.
The only thing I'm concerned about now is memory leaks on the server ( since `lingui` instance is a singleton). I'm going to ope

[2020-12-11 14:58] amorphius commented on #397
I have the same issue with Russian translation of `other`. So should I stop using lingui.js because of poor support?

[2020-12-11 15:11] FredyC commented on #397
Or you can open a new issue with necessary details and perhaps even contribute a solution :) You know, such comments toward people that are doing something for free are really rude. Have you paid for the support?

[2020-12-11 15:21] amorphius commented on #397
I don't. But if this product (even free) doesn't satisfy my needs I have absolute right not to use it, correct?

[2020-12-11 15:24] FredyC commented on #397
Sure, and you have also an absolute right to stay silent about it and move along. Screaming "this is bad, I am going away" is useful how exactly? I would recommend you trying to contribute to open-source software to get the feeling of how depressing it is when someone says you are doing a bad job in your spare time.

[2020-12-11 15:34] amorphius commented on #397
You're right, sorry. I'm not using this library in my spare time but on the paid work so probably that's why I don't feel thankful because it's just my job.

[2020-12-11 20:10] MartijnHols commented on #642
It doesn't work if you use `<rootDir>` in your catalog path.

[2020-12-11 20:42] semoal commented on #642
Hm with latest versión, should work properly with rootdir, create a new issue if you find this not working properly

[2020-12-12 09:34] MartijnHols commented on #642
Yes on latest version. It's an easy test too if you're using @lingui/loader; just prepend your catalog paths with `<rootDir>/`.

[2020-12-12 09:39] semoal commented on #642
Alright, I'll take a look then

[2020-12-12 19:17] semoal commented on #642
Martijn could you tell me the differences to see the error in our example of create-react-app?
https://github.com/lingui/js-lingui/tree/main/examples/create-react-app

We are using <rootDir> in catalog paths, and @lingui/loader in `i18n.ts` and works as expected. Probably i'm missing something =)

[2020-12-15 12:04] amankkg commented on #905
I see how I misused that API, however I've digged into the codebase a bit and found a fix for initial problem with undefined `msgid`s.

Hope you don't mind checking it out 😃

[2020-12-15 13:57] #905 closed

[2020-12-15 13:59] tricoder42 commented on #905
I don't mind at all! Thank you for fixing it 👍

[2020-12-16 05:03] xpromx commented on #899
@ivandotv I had the same problem and I solve it just by doing:

[code]

If the locale provided by Next.JS is the same as the one set on Lingui, we don't need to activate the language again.

Also, I will reload the website when the user decides to change the language because I want to re-fetch the data from the API, and it simplifies the code. As you said, the users don't change locale that often.

[2020-12-16 12:39] ivandotv opened #916 "runttimeConfigModule fails silently"
**Describe the bug**
When using `runttimeConfigModule` user never knows if it's working or not. I have encountered this problem and wrote about it in #914

**To Reproduce**
Pass in invalid values.
[code]

**Expected behavior**
The error should be reported if the path is invalid.

**Additional context**

- jsLingui version: 3.2.3
- Babel version: 7.12.9
- Your Babel config: Next.js

[2020-12-17 20:34] aaronpropst opened #917 "Plural 0 doesn't seem to work."
## Describe the bug
When I call plural(0..  I get the other string despite a 'zero' property being defined.

## To Reproduce
using CRA:

index.js:
[code]
### Result
0 Learn all the Reacts!
1 Learn One React
10 Learn all the Reacts!

### Expected
0 Learn No React
1 Learn One React
10 Learn all the Reacts!

### Versions
- jsLingui version: 3.3.0
- Babel version: @babel/core@7.12.3
- Your Babel confi

[2020-12-17 23:33] nickvirdenfdtrl commented on #745
Following @tricoder42's suggestion, upgrading from `2.9.1` to `3.3.0` resolved my issue with escaping variables in translations from my source language (English).

For anyone that ends up here like me looking to upgrade, this general config below works:

dependencies:
`@lingui/core`: `3.3.0`
`@lingui/macro`: `3.3.0`
`@lingui/react`: `3.3.0`
`react`: `16.13.0`

devDependencies:
`@babel/core`: `7.9.

[2020-12-18 00:32] nakkamarra commented on #917
English does not have a zero-th case. This is described [in the lingui docs](https://lingui.js.org/guides/plurals.html):

`Funny fact for non-english speakers: In English, 0 uses plural form too, 0 books.`

[2020-12-18 03:11] aaronpropst commented on #917
Ah, ok, thanks!  So I guess my issue is with linguists and/or make-plural.  : )

I still have a use case for alternative messaging for zero cases.

I hacked that support onto my plural objects like so:

[code]

It'll use the zero case if the developer specified one, failing over to 'other' if they didn't.   I think it'll work for my purposes.  I wouldn't be surprised if it fails for some advanced

[2020-12-18 03:11] #917 closed

[2020-12-18 08:02] semoal commented on #745
Yes this was resolved in 3.3.0, in 3.2.x not resolved yet. For future users :)

[2020-12-18 08:02] #745 closed

[2020-12-18 08:45] EYHN opened #918 "@lingui/detect-locale@3.3.0 npm package missing esm/index.js file"
**Describe the bug**
The `@lingui/detect-locale` module, the latest version currently published to npm, there is `"exports.import": "./esm/index.js"` in `package.json` but the file is missing.

This will cause the webpack build to fail and prompt.
[code]

**To Reproduce**
[code]

Thanks for your great work.

[2020-12-18 10:20] semoal commented on #918
You're right mate, I'll fix this asap

[2020-12-18 10:21] semoal commented on #916
Perfect, do you want to create a pull request or should we leave it open for someone?

[2020-12-23 08:46] chuyik opened #919 "<Select /> choices are not extracted correctly"
**Describe the bug**
Some choices on `<Select />` macro are missing after `lingui extract` called.

**To Reproduce**
[code]

After extraction, `male` and `female` missing:

[code]

**Expected behavior**
[code]

**Additional context**
Add any other context about the problem here.

- jsLingui version `3.3.0`
- Babel version
[code]
- Framework: Create React App

[2020-12-23 09:12] chuyik commented on #919
However, if I use the `select` macro(not `Select`), it outputs as expected.

Dig into source code, I found that `Select` will detect if option matches plural rules, while `select` does not.

`select`: https://github.com/lingui/js-lingui/blob/23b06b5dfb/packages/macro/src/macroJs.ts#L318-L329
`Select`: https://github.com/lingui/js-lingui/blob/23b06b5dfb/packages/macro/src/macroJsx.ts#L296-L304

[2020-12-27 13:10] seeden opened #920 "compilation is not working with 3.3.0"
**Describe the bug**
I see compilation issues when I try to compile my code.

[code]

I fixed it with
[code]

**To Reproduce**
[code]

**Expected behavior**
Compile without errors

- jsLingui version ``3.3.0``

[code]

[2020-12-28 11:00] tricoder42 commented on #920
Interesting. Could you please send a PR and add a test case which covers this usecase?

[2020-12-28 16:59] davakos commented on #826
Update: This appears to be fixed in create-react-app/react-scripts 4.0.1.

I have not tested exhaustively, but this worked in my testing:
- Changed an application string, correctly shows "Missing Translation" in my running app per configuration of `setupI18n` option `missing`
- Running `npm run extract` properly extracts new strings into a message catalog file
- Running `npm run compile` properly

[2020-12-29 22:34] gitschwifty opened #921 "i18n._ returns any in typescript"
**Describe the bug**
The type definitions for Lingui @ 3.3.0 have i18n._() returning an any value, rather than a string.

**To Reproduce**
Caught with [@typescript-eslint/no-unsafe-assignment](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-unsafe-assignment.md) turned on. Any element expecting a string throws a lint error if passed the retur

[2020-12-29 22:36] gitschwifty commented on #921
Error I received when running npm i, fixed by adding blank lingui.js in cli but not of sure the root cause
[code]

[2021-01-01 20:51] semoal commented on #920
Or at least give us a sample repo to reproduce? I see that @babel/env is used where is deprecated that name, you should use `@babel/preset-env`

[2021-01-03 09:51] iampava opened #927 "Are catalogs not meant to be persisted in a store?"
**1. Describe the bug**
Storing the locale catalogs inside a MobX store leads to warnings in the console.

![image](https://user-images.githubusercontent.com/11327761/103475681-1feed880-4db8-11eb-960a-727d2b9a9d59.png)

**2. To Reproduce**
Created a sample project here: https://codesandbox.io/s/nice-smoke-vffru. Open the console and see that the warning messages are there.

If however we don't mak

[2021-01-03 11:03] semoal commented on #927
Whats the main objetive to save catalogs there?

[2021-01-03 11:53] iampava commented on #927
To be honest we don't do anything special with them. We only noticed these warning after updating to v3 so didn't pay much attention to whether or not they should be observables in the past.

[2021-01-03 21:18] semoal commented on #927
There's no reason to store catalogs on that store because they're static and they could be really big. So we can't help so much here mate =)

[2021-01-04 07:42] teebszet opened #928 "Extract is finding 0 messages for typescript project using tsc, not babel"
**Describe the bug**
Can't seem to extract messages from `.ts` files within the project.
Docs say lingui v3 works with typescript out of the box, but I'm not seeing that.

Possibly to do with my project not depending on babel? I don't have a .babelrc file because I use `tsc` to build and dev

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

**Expec

[2021-01-04 11:22] nsdeschenes commented on #897
Hi Guys, I have finally got around to attempting to update to lingui V3 however I have now encountered this. It seems that the fix only finds the first escape `\` and not the others present throughout the rest of the string.

[code]
Produces:
[code]

**Expected behavior**
Previously in v2 running extract on the original string would produce
[code]

- jsLingui version ``@lingui/cli@3.3.0``
- Babel

[2021-01-04 13:28] seeden commented on #920
I will try to reproduce it today and use preset- prefix

[2021-01-04 14:14] semoal commented on #897
https://github.com/lingui/js-lingui/blob/main/packages/macro/src/macroJs.ts#L11 probably in this line the g is required to remove all the occurences, could you try to patch your node_modules and give it a try?

[2021-01-04 20:04] semoal commented on #928
Could you share your tsconfig?

[2021-01-04 20:58] semoal commented on #928
Once i re-read the docs i understood that the problem is the documentation. To make Lingui to work you need `babel-plugin-macros`, so babel is required.

The out of the box meaning is that you don't need to install extra dependencies to handle types, because they are already inside of the library.

[2021-01-04 20:58] #928 closed

[2021-01-04 20:58] #927 closed

[2021-01-04 20:59] semoal opened #930 "Javascript section in docs is deprecated"
**Describe the bug**
Javascript section is deprecated

https://lingui.js.org/tutorials/javascript.html

**Expected behavior**
We should review each section of code, because is still v2.x code.

[2021-01-04 21:18] semoal commented on #508
I up this, because this should be our focus to mid-end term. :)

[2021-01-05 02:31] teebszet commented on #928
Yeah, I think the tricky part is I was able to extract using the same dependencies and syntax before I moved project to typescript and using lingui 2.x.x

I read the docs and thought this might be fixed upgrading to lingui v3, but it didn't help.

Still struggling to find the correct syntax where I don't have to use @lingui/macro and `t` as that is what I had before converting to typescript.

tsco

[2021-01-05 06:09] teebszet commented on #928
in case anyone else needs to extract translations from .ts files without using @lingui/macro, you need to add `/*i18n*/` on each line like this:

[code]

[2021-01-05 15:43] nsdeschenes commented on #897
Tried that and it fixed the issues, wondering if this change will be in the next update to the package ?

[2021-01-05 18:32] semoal commented on #897
Yes absolutely

[2021-01-06 10:43] istvan-szilagyi commented on #442
If you don't want to install any package, there is **jscFlavor** variable in the **app/build.gradle**, change that to the following from:

[code]
to:

[code]

This way Intl will be included in the JSC.

[2021-01-06 21:09] #918 closed

[2021-01-07 11:19] #746 closed

[2021-01-08 19:28] StupidIncarnate opened #933 "Monorepo: Error: Can't resolve 'module' in resolve-from"
**Describe the bug**
We have a monorepo where our ui projects ref a common ui package. I can:
- use t/Trans from `@lingui/macro` in the actual ui projects and start the project no problem
- use t/Trans from `@lingui/macro` in the common ui project and run extract/compile from the actual ui project to get it to build the po files in both locations.

However when I use t/Trans from `@lingui/macro` i

[2021-01-09 02:04] StupidIncarnate commented on #933
Looks like the fix ended up being that I needed 'babel-plugin-macros' declared in the root babel.config.js as well.

[2021-01-09 02:04] #933 closed

[2021-01-09 02:12] semoal commented on #933
Super!!cthat you found the issue that easy.

If you're interested in contributing to Lingui we're looking for people that used lingui v3 within a monorepo for improve the documentation about that.

[2021-01-09 10:31] zdzarsky opened #934 "Allow .ts extension for compiled messages file"
**Is your feature request related to a problem? Please describe.**
I am always frustrated when I have to allow ts to import js messages (eslint) or when I have to reconfigure the ts config to serve .mjs files.

Having imported
```import { messages } from './locales/en/messages.mjs';```
I need to:
- in `*.mjs` case allow typescript to serve multiple extensions
- in `*.js` case disable import extens

[2021-01-09 16:22] mjpieters opened #935 "Warnings for compilerBabelOptions other than empty."
**Describe the bug**
When using anything other than `compilerBabelOptions: {}` in my lingui configuration, I am issued a warning.

**To Reproduce**

create a lingui configuration file with

[code]

and run `npm run extract`, to be served with:

[code]

`npm run compile` produces the same message, albeit just once.

**Expected behavior**

The configuration is correct, and should not result in a war

[2021-01-09 18:17] mjpieters opened #936 "@lingui/macro has undeclared dependency on @lingui/react"
**Describe the bug**

You can't use `@lingui/macro` without installing react, because packages/macro/index.d.ts pulls in `react` and `@lingua/react`:

https://github.com/lingui/js-lingui/blob/4ad90d4c60b752e9f0d82f3dd71936711c51573d/packages/macro/index.d.ts#L1-L3

However, the dependencies are not listed in package.json.

**To Reproduce**

Install `@lingui/core` and `@lingui/macro`, _but no other

[2021-01-10 08:37] #463 closed

[2021-01-10 14:55] mjpieters commented on #934
If you use `lingui compile --typescript`, the compiler already emits TypeScript files (with the extension `d.ts`.

[2021-01-10 20:22] semoal commented on #935
We use `jest-validate` to validate the config is valid, but probably is not understaing well the `Record<string, unknown>`

[2021-01-10 20:24] semoal commented on #934
https://github.com/lingui/js-lingui/blob/main/packages/cli/src/api/catalog.ts#L347

improving a bit this method, this feature could be done, if someone wants to colarabote

[2021-01-10 20:28] semoal commented on #936
Lingui macro could be used on node environments where react is not required. I'm not sure how to fix this. Any recommendation?

[2021-01-10 20:31] semoal commented on #936
We could add as peerDependency react but i'm worried about because on newer npm peerDependencies will be auto-downloaded so a lot of node projects will install react without the need

[2021-01-10 20:57] zdzarsky commented on #934
I should find some time next week to prepare a pull request.

Currently I've found `lingui compile --typescript` and it does the job (but there is no eslint exclusion on `messages.d.ts` file). I will also try to add it.

[2021-01-11 07:06] amirqasemi74 opened #937 "Detecting message only with i18._"
I have Nestjs application. I was using lingui@2.9.2 as well without babel macros and Lingui cli could detect messages like this
and it was extracting them into .po files:
`i18n._("some message");`

But after upgrading to lingui@3 it can't detect the pattern  unless using it with macros:
```i18n._(t`some message`);```
and the problem it make is that Nestjs use `tsc` to compile files and macros not

[2021-01-11 07:08] amirqasemi74 commented on #936
Yes I have this problem two... react usage  must be removed from macro codes

[2021-01-11 10:18] mjpieters commented on #936
The project currently can't be used at all without @lingui-react and react, so any project that actually uses it must be using react _too_.

[2021-01-11 10:22] mjpieters commented on #934
Note that `lingui compile --typescript` merely adds a `.d.ts` file with a type definition for the `.js` file. It is also undocumented (but so is a lot of lingui 3, it appears).

[2021-01-11 11:25] semoal commented on #936
After some investigation I found that the`import type statement` says that a import type without that dependency will be converted to any and won't crash.
https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html#type-only-imports-and-export

I created this commands:

[code]

[code]

And after running `tsc` it compiled properly. What typescript version are you using? This feat

[2021-01-11 11:58] semoal commented on #937
https://github.com/lingui/js-lingui/issues/928
Here you have a similar issue. Probably could be a good idea to use babel instead of tsc directly. :)

[2021-01-11 11:58] #937 closed

[2021-01-11 12:57] amirqasemi74 commented on #937
The problem is that using babel in Nestjs instead of tsc in not straightforward and have issues.
I think providing some configuration can be good to support it as you was supporting in version 2

[2021-01-11 16:06] #616 closed

[2021-01-12 09:55] mjpieters commented on #936
I use:

- typescript 4.1.3
- browserify 17.0.0
- tsify 5.0.2
- babelify 10.0.0
- babel 7.12.10

with the browserify / tsify / babelify pipeline converting from typescript to browser-ready code. `tsconfig.js` contains:

[code]

(plus project-specific paths for `types`, `rootDir` and an `exclude` list next to the `compilerOptions`), and `babel.config.json` contains:

[code]

If I use:

[code]

and a

[2021-01-12 09:58] mjpieters commented on #936
Correction: the dependency is on `@types/react`, not `react`.

[2021-01-12 09:59] amirqasemi74 commented on #937
any idea?

[2021-01-12 12:58] semoal commented on #937
You have on the issue that i attached the solution without babel. Is using a comment to help @lingui know where are the translations

[2021-01-13 16:06] semoal commented on #921
I18n._ is not reccomended usage in v3. Check lingui/codemods repository for the newer methods of doing things.

[2021-01-13 16:06] #921 closed

[2021-01-13 16:23] semoal commented on #936
Couldn't be the problem browserify or tsfiy doens't handle correctly yet `import type` statement and they are thinking that import is a required dependency?

I can compile perfectly with tsc your code, so..

[2021-01-13 16:25] semoal commented on #920
Hello @seeden can i help you with your issue?, remind to give us a minimal setup for debuggin' your issue

[2021-01-13 17:22] FredyC opened #940 "Enable TypeScript based config"
**Is your feature request related to a problem? Please describe.**
I want to extract configured locales and default locales to a separate file (`i18n.config.ts`) so it can be consumed by other parts of the app without duplicating configuration with full type support. But such a file cannot be imported inside the `lingui.config.js` file.

Furthermore, Typescript based config allows using ESM easily

[2021-01-13 17:45] semoal commented on #940
Its a nice idea for me everything that improves development experience is welcome

[2021-01-13 18:28] gitschwifty commented on #921
Just for clarification, this part in codemods?
[code]

Definitely is nicer than using i18n._, must have missed that change in the 2.x->3.x migration guide. Thank you mate!

[2021-01-13 18:29] semoal commented on #921
Yes! You don't need i18n._ practically for anything, you can directly import the macros and use them. :)

[2021-01-13 18:58] #940 closed

[2021-01-13 18:59] #935 closed

[2021-01-13 20:22] #934 closed

[2021-01-13 20:26] semoal commented on #930
Fixed by https://github.com/lingui/js-lingui/commit/8d23e8830ea7333c7f7dc84962936f10d8b0d64b

[2021-01-13 20:26] #930 closed

[2021-01-13 20:35] semoal commented on #897
Released in 3.4.0 🥳

[2021-01-13 20:36] semoal commented on #934
Released in 3.4.0 🥳, also with the new version we accept lingui.config.ts thanks to @FredyC

[2021-01-13 21:55] zdzarsky commented on #934
Wow! Thanks @semoal, thanks @FredyC. Lingui is awesome, I'll be happy to contribute on later stages!

[2021-01-14 10:46] amankkg opened #944 "Snowpack plugin to transform dictionaries on the fly"
There is an original discussion https://github.com/lingui/js-lingui/discussions/924

TL;DR I have working plugin by the link in discussion above and I'd like to move it to LinguiJS repo

Any thoughts? I'll create a branch soon

[2021-01-15 19:17] StupidIncarnate opened #945 "Feature: Declare extra tags to look for in extract"
**Is your feature request related to a problem? Please describe.**
We have components for our text like Headers, Subtitles as a standard to where if we can bake in Trans in them, we wouldn't have to do:

[code]

**Describe proposed solution**
It'd be great if in the config or something, we can tell the extract to look for other custom tags and achieve something like:

{
transTags: ['Subtitle1', 'S

[2021-01-15 19:40] StupidIncarnate commented on #810
If I were to do documentation for it there's a couple caveats to consider:
- We do monorepo with babel-module-resolver https://github.com/lingui/js-lingui/issues/933, so not really current standard of lerna or yarn workspaces. Is that fine?
- I'd wanna ref an example repo since there's a lot of little config pieces. Would that just go here? https://github.com/lingui/js-lingui/tree/main/examples

T

[2021-01-16 11:05] #606 closed

[2021-01-18 01:06] micahbule commented on #503
Any particular update on this if we can already do this or if there's any existing workaround?

[2021-01-18 08:19] OnkelTem opened #946 "Error: Objects are not valid as a React child (found: object with keys {id})"
Sorry for not filling out the form, but I couldn't make appropriate posting on Stackoverflow as there is no "Lingui" tag, and I don't have enough reputation (>1500) to create such a tag. So basically you suggest impossible scenario and hence - my posting here which *links* to my Stackoverflow question here:

https://stackoverflow.com/questions/65770911/lingui-error-objects-are-not-valid-as-a-react

[2021-01-18 09:26] OnkelTem commented on #946
On the moment of posting I was using the old versions (2.8.x). Now I have them updated:

[code]

And it makes the same result.

Let me get familiar with the sandbox. I'll write back afterwards.

[2021-01-18 09:58] OnkelTem commented on #946
Ok, it's done.
I don't know the actual reason, but after I updated our code following patterns  from the sandbox, it now works!

Here is what I've changed:

[code]

[2021-01-18 10:29] semoal commented on #946
Great, glad that you got it working!

[2021-01-18 10:29] #946 closed

[2021-01-18 12:24] semoal commented on #944
https://github.com/lingui/js-lingui/pull/947
Related pr

[2021-01-18 12:34] PutziSan opened #948 "lodash.get is not declared as dependency (@lingui/conf)"
This will resuilt in an error with yarn v2:
[code]

I will add a PR for this, feel free to merge or close.

[2021-01-18 13:21] goozo opened #949 "Documentation typos"
**Describe the bug**
In the react docs (https://lingui.js.org/tutorials/react.html) there are multiple instances of the incorrect contraction `there're` this isn't correct English, it should be "there are", "there're" does not exist.
**To Reproduce**

visit these urls:

https://lingui.js.org/tutorials/react.html#beware-of-zeroes
https://lingui.js.org/tutorials/react.html#beware-of-zeroes
(multiple

[2021-01-18 13:54] ljani commented on #944
I wonder what changes would be needed to use the Snowpack plugin without `babel`/`babel-plugin-macros`, since many snowpack users try to avoid `babel` usage to gain better performance? Sure, there's `i18n._`, but it's not really typesafe and [`i18n.t` was removed in 3.0](https://lingui.js.org/releases/migration-3.html#plugins-presets). I think tagged templates would have made sense with Snowpack.

[2021-01-18 14:12] semoal commented on #944
Could you open another issue related to this? It's more complex that just a simple plugin to dynamic compile catalogs =)

[2021-01-18 15:12] namirsab commented on #433
This issue was automatically closed, but it's still happenning. If you just follow the tutorials from the website, you reach this error. Any news or plans to fix it?

[2021-01-18 16:13] amankkg commented on #944
In my case described here #924 we're using babel macros for other libraries too, even this way one can get better performance comparing to CRA, I believe

However, I haven't researched other scenarios actually. Any ideas or knowledge sharing in #924 is appreciated

[2021-01-18 17:01] PuuTheBear commented on #792
Had the same issue this was caused by using Typescript 3.7.5 and lingui 3.4.0

[2021-01-18 19:12] ljani opened #951 "Vanilla JavaScript/TypeScript improvements"
**Is your feature request related to a problem? Please describe.**
[Snowpack](https://www.snowpack.dev/) is an emerging [[1],[2]] build tool for web frontends. It focuses on build performance by using [`esbuild`](https://esbuild.github.io/) and additionally by avoiding transpilation with [`babel`](https://babeljs.io/). Thus, many Snowpack users try to avoid usage of `babel` in their development pi

[2021-01-18 19:53] ericvera opened #952 "Cannot process file /<path>.tsx: Duplicate declaration "Trans""
**Describe the bug**
When running `lingui extract` I get the error `Duplicate declaration "Trans"` ("t" seems to be OK).

**To Reproduce**

[code]

**Expected behavior**
No error on `lingui extract`

**Additional context**
- Tried v3.4.0 and still had issues
- CLI version v3.2.1 repros the issue
- CLI version v3.1.0 does not repro the issue
- @babel/core@7.12.10
- Using Lingui in a NextJS project

[2021-01-18 21:32] semoal commented on #952
Hi Eric! Thanks for using Lingui
Are you using plain lingui extract or are you passing NODE_ENV=production

[2021-01-18 21:40] ericvera commented on #952
I was using `lingui extract` with the `--overwrite` option, but also tried with without that option (same result). No NODE_ENV set. Also tried echo before the command to make sure it is not set.

[2021-01-18 22:04] semoal commented on #952
https://github.com/lingui/js-lingui/issues/433 We have here a similar issue here, let me create a sample repo (or if you could provide us a sample repo for reproducing the issue, I could check in detail tomorrow) :)

[2021-01-18 22:05] semoal commented on #952
https://codesandbox.io/s/nextjs-lingui-djzqm?file=/pages/index.tsx Here is a codesandbox that you could modify with your changes :)

[2021-01-18 22:10] #948 closed

[2021-01-18 22:11] ericvera commented on #952
I just set the NODE_ENV=test and it seems to work. I was not setting NODE_ENV=production, but I guess that would be the default?

[2021-01-18 22:14] semoal commented on #952
Probably in some process is setting up NODE_ENV=production, or the ci.. Dunno
Is not a directly issue with lingui, this is because lingui uses source code trough AST to explore what needs to extract, so if the code is generated via NODE_ENV=production babel applies other algorithm and brokes lingui.

Anyways I'll take a look to our internal babel generator if we can force this to be in NODE_ENV=de

[2021-01-18 22:21] ericvera commented on #952
Sounds good. For some more info...

I used `yarn repro` with the below `package.json` definition and it works. `a.js` just contains `console.log(process.env.NODE_ENV)` which prints out `undefined`.

[code]

[2021-01-19 15:18] BertrandBordage commented on #627
Is there any equivalent now to these version 2 syntaxes? I couldn’t find either in the docs or by trying plausible syntaxes.
[code]

[2021-01-19 15:37] amankkg commented on #951
I like the `... write an esbuild plugin` option but it will add yet another snowpack related package, given #947

Anyway, good to have alternative solutions since there are many other use cases people work with, e.g. one can just use typescript plugin without esbuild or babel at all.

[2021-01-19 19:27] semoal commented on #944
We'll release this the next tuesday :)

[2021-01-19 19:27] #944 closed

[2021-01-21 15:57] semoal commented on #949
Go for it! :)

[2021-01-22 14:42] fhuszti commented on #952
Thanks guys, changing `"extract": "lingui extract"` to `"extract": "NODE_ENV=development lingui extract"` fixed the problem on my fresh install with NextJS.
If I understood correctly what is said [here](https://github.com/lingui/js-lingui/issues/433#issuecomment-454678661) I can keep it like that and not worry about it because it doesn't need to have `NODE_ENV=production` when building for prod?