[2019-06-26 15:57] Hotell opened #529 "when Plural macro uses id, ICU is lost within extraction"
**Describe the bug**

When `Plural` uses `id`, ICU format is lost when extracting translations

`lingui extract` 👉
[code]

**To Reproduce**

[code]

**Expected behavior**

`extract` should pass ICU to default locale ( en ) as translation

[code]

**Additional context**
Add any other context about the problem here.

- jsLingui version `2.9.3`
- Babel version `babel-core@7.0.0-bridge.0`
- Your Babel

[2019-06-26 16:30] tricoder42 commented on #529
Meanwhile as a workaround, can you wrap it in `<Trans>` component?

[code]

[2019-06-26 17:28] Hotell commented on #529
That won't help.

It just extracts 2 messages, which are not bind together:

[code]

[2019-06-26 17:31] Hotell commented on #529
Ups, I mismatched `current` vs `expected` behaviour. Sorry. Updated https://github.com/lingui/js-lingui/issues/529#issue-461055049

[2019-06-26 17:41] Hotell commented on #82
I would reopen this issue.

Current version of lingui doesn't export valid getext nor json, when `Plural` -> `ICU` is used within codebase.

I've pinged PhraseApp folks. They're telling me that they support ICU but on the other hand, they have basically no idea, what format is supported regarding ICU (JSON/po).  Their docs doesn't mention anything related to ICU ->  `.po`  nor `.json` support this

[2019-06-26 17:56] jamuhl commented on #82
@Hotell you can give https://locize.com a try...you can import / export both .json or .po -> also it should take the extracted file from jslingui as source - if there should be changes meanwhile just send us a file over to support@locize.com and we will check that so import gets updated to latest.

[2019-06-26 19:23] tricoder42 commented on #82
Why the exported PO file isn't valid? Is it because ID is missing as you described in other issue or the file itself isnt' syntactically valid?

---

[Transifex](https://docs.transifex.com/localization-tips-workflows/plurals-and-genders) and [Crowdin](https://support.crowdin.com/icu-message-syntax/), two biggest localization management platforms which I know, seem to support both PO files and ICU

[2019-06-27 13:30] Hotell commented on #529
So I found the culprit.

When `sourceLocale` is set, it correctly creates the key -> ICU plural

[code]

**Output**

[code]

So I suggest 2 things:
- warn consumer during `lingui extract` about that he's using id for plurals but didn't set `sourceLocale`
- even if `sourceLocale` is not set I would always fallback to `en` and create proper id<->message pair

WDYT?

[2019-06-27 15:51] Hotell commented on #415
Ups so I found the real culprit.
**`lingui` CLI doesn't work within monorepo...**

It won't find root  `babel.config.js`. That's why it was behaving so strange all along...

No idea how to solve this situation...

[2019-06-27 15:55] nodkz commented on #489
I'm working on FLUENT integration right now.

For now implemented `format: fluent` for `@lingui/cli` and `@lingui/loader`: https://github.com/nodkz/js-lingui/commit/f38a9af95bc975d0f209eba6c1c818058c69905b

It remains to implement new `parser` option.

PS. @tricoder42 please review https://github.com/lingui/js-lingui/pull/530 I don't know why tests fail cause it perfectly works locally. This PR 53

[2019-06-27 16:02] nodkz commented on #489
Ouch, `parser` implemented in the `next` branch.
Ok, I'll port my changes to this branch.

@tricoder42 you may close #530 it not required anymore.

[2019-06-27 16:02] Hotell commented on #415
What lingui cli needs to support is:

[code]

[2019-06-27 16:06] Hotell commented on #415
HA! so actually that's supported already :D 👍

[code]

[2019-06-28 16:14] kenpowers-signal opened #532 "Plural macro does not support description prop"
**Describe the bug**

When using the `Plural` macro with React (and TypeScript), specifying a `description` prop causes `extract` to fail with the following error:

**To Reproduce**

[code]

**Expected behavior**

The TypeScript typings allow for a `description` prop on `Plural`, I would expect that it would work the same as the `description` prop on `Trans`.

**Additional context**

I tried modif

[2019-07-01 13:03] tricoder42 commented on #532
Hey @kenpowers-signal, what version is it? The `latest` or `next`?

[2019-07-01 13:08] tricoder42 commented on #415
Great, I'm glad you've figured it out.

So what's the summary? You have a monorepo, each package has it's own `.babelrc` or they all use the root `babel.config.js`? I'm just asking so I can include it in docs.

Cheers 👍

[2019-07-01 13:17] tricoder42 commented on #522
Hey @cdsanchez, that's great suggestion!

I think we could reuse the `format` option in config, which would receive either function or path to module:

[code]

or

[code]

What do you think?

[2019-07-01 13:17] tricoder42 commented on #522
Btw if you want to work on it, could you please use `next` branch as a base?

[2019-07-01 13:31] tricoder42 commented on #529
Does it happen only for plurals or for regualar messages as well?

That way we lost track which messages aren't translated. I understand it's painful when you get just ID and you don't know the default message, but that problem can be solved by several approaches:

1. Provide enough info in `description` or `msgId` so the translator can fill the  copy without the original - it sound a bit extreme,

[2019-07-01 13:32] Hotell commented on #415
Yes, one `babel.config.js` within root.

-> `lingui.config.js` within root
-> `lingui.config.js` per package(app) which extends/overrides from root

✌️

![image](https://user-images.githubusercontent.com/1223799/60440575-6557a600-9c15-11e9-8c8e-64b1745a6cac.png)

![image](https://user-images.githubusercontent.com/1223799/60440596-6f79a480-9c15-11e9-8ab0-cf5e5e03744e.png)

[2019-07-01 14:51] nodkz opened #533 "[next] Add typescript definitions to package bundle"
If we look at the latest packages, eg https://unpkg.com/@lingui/cli@3.0.0-6/
we don't see typescript definitions there.

Need to
- add `declaration: true` to `tsconfig.json`
- add `types: "path/to/index.d.ts"` to `package.json`

As a working package with build-in typescript definitions, you may look at
- https://unpkg.com/mongodb-memory-server-core@5.1.5/
- https://github.com/nodkz/mongodb-memory-

[2019-07-01 14:54] tricoder42 commented on #533
[react](https://github.com/lingui/js-lingui/blob/next/packages/react/package.json#L6) package already have correct `types` in `package.json`. It's just missing in `cli` and `macro` (and possibly others). Type definitions are generated next to build files.

[2019-07-01 17:05] nodkz opened #535 "[next] How to obtain all catalogs for server according to `lingui.config.js`?"
Under working on [lingui-express-middleware](https://github.com/nodkz/lingui-express-middleware) I met with a problem of obtaining current locales/catalogs.

### Reguar solution

Just require compiled files:

[code]

BUT users may not have compiled files. Also in DEV mode need to create an additional watcher which observe changes in `locales` folder and re-compile locales. Also we should require a

[2019-07-01 18:33] kenpowers-signal commented on #532
I just upgraded `@lingui/{macro,react,cli}` to `2.8.3` and encountered this issue.

![image](https://user-images.githubusercontent.com/49649953/60458505-c7f87400-9c0c-11e9-9024-80281de1f30f.png)

![image](https://user-images.githubusercontent.com/49649953/60458628-1d348580-9c0d-11e9-816d-95d0c27d6e29.png)

[2019-07-01 18:43] tricoder42 commented on #532
I see. Sorry for the problems.

If you would like to fix this issue in `master`, you probably just need to add `description` to this line: https://github.com/lingui/js-lingui/blob/master/packages/babel-plugin-transform-react/src/transformer.js#L2

I believe this issue is already fixed in `next`. I'll check and fix it myself if it isn't. I want to focus on `next` so I can release it asap.

[2019-07-01 18:50] kenpowers-signal commented on #532
@tricoder42 that change doesn't appear to fix the issue. I'm still getting the same problem.

[2019-07-01 22:09] Gerrel opened #536 "i18n._('key',...) Does not filter out component position tags."
I have a react app and want to use the Trans component and i18n side by side.
The [Trans] component formats the text properly and removes the tags, but [i18n._] does not.

I have the following PO file.
msgid "welcome"
msgstr "Hi <0>{name}</0>, welcome to Lingui!"

Using Trans it works proper.
[code]
RESULT: Hi Developer, welcome to Lingui!

Using i18n._ it does not.
[code]
RESULT: Hi <0>Developer<

[2019-07-02 09:16] MartijnHols commented on #486
I just ran into this bug. It also occurs when defining a var inside a switch case along the lines of;

[code]

[2019-07-02 19:17] tricoder42 commented on #536
Hi @Gerrel, you're right, this isn't supported at the moment. I'm not even sure how we should tackle this problem. `react` package uses `core` under the hood, so it's first translated with tags and in `react` package the tags are replaced with components.

At this point the easiest way would be a wrapper around `i18n._` call, which removes tag where it's necessary. Running it everywhere might affe

[2019-07-02 20:29] cdsanchez commented on #522
Thanks @tricoder42.

Cool! Yes, that config option is pretty close to what I have in my local fork.

To summarize the options that will be available in my PR:

Valid values for `config.format` may be:
1. A built-in formatter name ('po' etc)
1. An ES module name in which the specified module provides a default export of an object that satisfies the `TranslationFormat` shape
1. A JS object implement

[2019-07-04 11:18] en-davidh commented on #475
Is there a solution to this yet? Using version `2.8.3`. Issue is still the same.

I'm just looking for a way to let my translators decide whether to provide a translation in their language or not. If there is any workaround I can try, please let me know.

[2019-07-04 11:26] tricoder42 commented on #475
Hey @en-davidh, what if you set `fallbackLocale: "en",`? Doesn't it solve your problem? That way you can leave the translation empty, and it's filled with english translation, instead of ID.

[2019-07-04 16:22] tricoder42 commented on #334
Hey everyone,
new prerelease (3.0.0-7) has just been published to NPM.

[Documentation](https://lingui-docs-git-next.lingui-js.now.sh/) | [Migration guide](https://lingui-docs-git-next.lingui-js.now.sh/releases/migration-3.html)

See updated [Create React App example](https://github.com/lingui/js-lingui/tree/next/examples/create-react-app) or [React](https://github.com/lingui/js-lingui/tree/next/e

[2019-07-04 16:40] en-davidh commented on #475
hi @tricoder42. Thanks for the response.

The thing is, that I do not want to fall back to the english version. I want to be able to deliberately set the translation to an empty string.

I tried adding a callback to the `missing` prop on `I18nProvider` but it is never called, since `lingui compile` does not leave any entries "missing". I think this issue could be solved if there was a callback fun

[2019-07-04 16:54] tricoder42 commented on #475
@en-davidh Alright, in that case it's definitely new feature.

Could you please post a short example, how the callback would look like? I guess we could also leave the untranslated messages empty if `sourceLocale` isn't set (in such case, IDs are used).

[2019-07-04 19:34] FredyC commented on #334
Simply wow! This is the update I was waiting for and was holding off from trying previous versions. I definitely have to try this out soon as it sounds almost miraculous :) Well done!

About the laziness, so it means we cannot simply declare messages outside the component scope? I mean your migration guide does not mention what to use instead of `i18nMark`. Or is that what's `defineMessage` is for

[2019-07-04 19:58] tricoder42 commented on #334
Actually, feel free to wait a day or two. I want to simplify the events which might be a bit breaking change.

Well, you can, but with extra work:

[code]

You need to wrap each macro into function call to make it lazy. Otherwise the message might be translated *before* the translations are actually loaded. When you're inside your component you most probably have the messages loaded.

It also mean

[2019-07-04 20:37] FredyC commented on #334
Luckily, the `defaultProps` are going to be deprecated (cannot find the source right now, sorry) and default args in function should be used, so there shouldn't be any problem considering these are assigned during a function call. Of course, class components still need that, but let's kick into that dying beast :D

However, it's definitely more rare to have translations in default props than havin

[2019-07-04 21:35] tricoder42 commented on #334
If it's a performance issue, then you could cache it. Or write a `lazy` macro which wraps the function for you:

[code]

In that case you need to either clear the cache somehow on locale change or reload the page completely. Either way, suggestions and PRs are welcome :)

Yes. If you use it outside component, you need to wrap it in function as described above. `defineMessage` is really just a wrap

[2019-07-05 06:34] eliseumds commented on #334
Thanks for taking a pragmatic approach with this library. So many optimisations are lost because of runtime language switchers but 99.99% of the websites don't get any value out of it.

Sorry if this was already mentioned, but will the macro compiled static messages down to their translated versions (per-language bundles)? For ex, this:

[code]

into this:

[code]

[2019-07-05 06:58] tricoder42 commented on #334
Yes, this is planned, see #508 . It won't be shipped in 3.0, but it's one of reasons why js macros wraps entire message, instead of passing output to `i18n._` call. I have a small prototype where I test webpack 5 plugin for better message loading and I tried this feature there, although just simplified. In the end it should require just toggling a switch in configuration.

Few examples of JSX macr

[2019-07-05 07:43] JSteunou commented on #334
:clap: :clap: @tricoder42 this is terrific! I was thinking like @FredyC when I saw your message, this is the real v3 I was waiting for : macros are no brain to use and yay to Babel 7, finally !!

[2019-07-05 07:45] eliseumds commented on #508
@FredyC a server-side-rendered app would detect the language from the *Accept-Locale* header and would render the script tags accordingly:

[code]

All these files are aware of the language because they were built with an specific *publicPath* (`https://www.mycdn.com/{LANGUAGE}/`) so subsequent dynamic imports would just work. The idea is the same for a client-side-only app. You'd detect the langu

[2019-07-05 08:48] en-davidh commented on #475
it could either be a callback or just a simple flag in config.

Taking a closer look at the source code of `@lingui/cli/lingui-compile.js.flow` I noticed that (on line 91) it calls the `createCompiledCatalog` function with `strict: false`.
[code]
I do not know the intention of this parameter but if I change it to `true` it basically does what I need. Relevant code of that function (from `@lingui/c

[2019-07-05 08:52] en-davidh commented on #475
Just one more thing I wanted to mention: It seems strange to me that there is a `missing` property on `I18nProvider` but it is never called, since there is no way of setting entries `missing` in a compiled catalog (it always falls back to the id)

[2019-07-05 09:35] tricoder42 commented on #535
This could work 👍  You can get compiled messages as well, either by using webpack loader or extracting the logic from [`createCompiledCatalog`](https://github.com/lingui/js-lingui/blob/7e3f578f68005b7e728adbf314d274dc8a51d3fb/packages/cli/src/api/compile.ts#L126). I guess we could split the function into two: 1) compile messages and 2) write them to file. In your case you would only use the first

[2019-07-05 09:46] tricoder42 commented on #532
In `next` version, the `description` prop has been renamed to `comment`. I'll check if it's supported though.

[2019-07-05 10:16] en-davidh commented on #475
On a second thought, I think that a callback solution might be more flexible than the simple flag.
Using a callback I could implement a way of differentiating between strings that were **deliberately translated as empty** (eg "") and really **missing entries** (not yet extracted/compiled).

It even allows implementing certain *magic keywords* for the translators to use. (eg "<EMPTY>")

[2019-07-05 11:17] tricoder42 commented on #486
I tried it with latest code in `next` branch and with Babel 7, it works as expected (see https://github.com/lingui/js-lingui/pull/538/files#diff-e33ad105288519d96beb567e14abc881).

Do you both use Babel 6 and es2015 preset? `@babel/preset-es2015` didn't work (Babel couldn't find it even though it was installed) but when I replaced it with `@babel/preset-env`, it worked.

If it's related to Babel 6

[2019-07-05 11:20] tricoder42 commented on #481
LinguiJS 3 uses Babel 7 by default. See #537

[2019-07-05 11:20] #481 closed

[2019-07-05 11:21] tricoder42 commented on #471
`@lingui/loader` is probably what you want.

[2019-07-05 11:21] #471 closed

[2019-07-05 11:22] tricoder42 commented on #450
Cleaning issues. Feel free to reopen if you have more info.

[2019-07-05 11:22] #450 closed

[2019-07-05 13:08] Gerrel commented on #536
Could not find it in the docs...
Is there an option to escape the composition tags like in the case I want to use the following text?
[code]
The result output is now: Hi Developer</0>, welcome to Lingui! and you can style the variable surrounded with <0>

[2019-07-06 13:21] tricoder42 commented on #536
I guess the regexp is too gready. Usually you don't write `<` or `>` if you treat them as text but rather `&lt;` and `&gt;`

[2019-07-06 19:27] Gerrel commented on #536
ah yes I can work with that, thanks!

[2019-07-06 19:27] #536 closed

[2019-07-08 02:24] mschipperheyn commented on #334
I'm wondering what the use of `useLingui` vis-a-vis using the created `i18n` instance directly. The i18n instance seems to be used by `I18nProvider` directly. Is there any advantage using `useLingui`?

[2019-07-08 02:43] FredyC commented on #334
That's a good question, do we still need `I18nProvider` in case we use the global `i18n` instance? Looking at the code we do...

https://github.com/lingui/js-lingui/blob/6fc169aebbe0a8eb8d29e0305480d2acd76d9c35/packages/react/src/I18nProvider.tsx#L21

The hook is used in `Trans`, but technically it could be as simple as `return context || core.i18n` without that check, right?

[2019-07-08 03:45] mschipperheyn commented on #334
Getting the following error trying to compile with 3.0.0-7

[code]

Context
- multi workspace yarn based setup
- @babel/core 7.4.5

[2019-07-08 03:47] FredyC commented on #334
@mschipperheyn Migration to Babel7 is still on TODO list, so you might hold with that, otherwise, you probably need to follow same Babel setup as for V2.

[2019-07-08 05:55] tricoder42 commented on #334
`useLingui` will most probably be used only by `Trans`. You'll need to use it manually only if your component needs to re-render on locale change.

Yeah, that should work.

Babel 7 was merged (#537) but haven't shipped yet. It'll be in next pre-release.

[2019-07-08 09:21] FredyC commented on #334
How would that work? :) As long as there is the same `i18n` instance in the Context, it won't re-render on language change. The actual value in the Provider needs to change, but then a whole tree gets re-rendered no matter if you consume context or not. Yea it would be brilliant if only components consuming context would be affected, but sadly it's going from Provider all the way down.

[2019-07-08 12:30] mschipperheyn commented on #334
@FredyC Well, I'm running this against our production which does have a working v2 setup. We have a 7.0.0-bridge. The one thing that broke before which lead to me downgrade @lingui/cli was the implementation of that open source payment service which you guys have (I forget the name) which forced a specific version of core-js (I think babel 6 uses core-js 2 and babel 7 core-js 3) which caused all s

[2019-07-08 12:32] mschipperheyn commented on #334
In any case, I'll be here, when you guys support babel 7, to give it a whirl against our setup.

[2019-07-10 16:07] wilsonpage opened #540 "babel-runtime being bundled alongside @babel/runtime-corejs2"
**Describe the bug**

I'm writing a NextJS app and using `@lingui/react`. After inspecting my bundle I noticed I'm bundling both `@babel/runtime-corejs2` which seem to have duplicate content.

<img width="511" alt="Screenshot 2019-07-10 at 17 03 31" src="https://user-images.githubusercontent.com/1020551/60985280-1c020780-a335-11e9-9e0d-a231804d22af.png">

How can I prevent Lingui from bundling thi

[2019-07-11 06:06] tricoder42 commented on #540
Hey @wilsonpage, it seems that one package is `@babel/runtime-corejs2` (Babel 7.x) and the other one is `babel-runtime` (Babel 6.x). I'm afraid there isn't much we can do, these are completely different packages. Lingui v3 is going to use Babel 7 by default which should solve this problem (see #537).

[2019-07-11 08:40] wilsonpage commented on #540
Gotcha. Any rough idea when `v3` will be available to try?

[2019-07-11 09:20] tricoder42 commented on #540
The pre-release is available (see #334), but the date of final release is still unclear.

[2019-07-11 09:20] #540 closed

[2019-07-11 18:28] ggascoigne opened #541 "2.8.3: Minimize error after upgrade"
After upgrading from 2.7.4 to 2.8.3 I get the following build error.

[code]

This is in a create-react-app based project.

I've got no real idea where to start debugging this one.

- jsLingui version ``lingui --version``
[code]

- Babel version ``npm list babel-core``
[code]
- Your Babel config (e.g. `.babelrc`) or framework you use (Create React App, Meteor, etc.)
create-react-app 3.0.1

[2019-07-12 05:21] tricoder42 commented on #541
Hi @ggascoigne, the advice mentioned on CRA pages doesn't help? https://facebook.github.io/create-react-app/docs/troubleshooting#npm-run-build-fails-to-minify

[2019-07-12 13:44] ixrock opened #542 "Can't make it up & running in Webpack/Typescript project"
First off thanks for the project!
But I can't make it work with Typescript atm. Maybe you have some ideas what is wrong?
I was following all steps from the docs to setup project:
1) https://lingui.js.org/tutorials/setup-react.html
2) https://lingui.js.org/guides/typescript.html

## Configuration

**tsconfig:**
[code]

**package.json**:
[code]

**webpack.config.js**
[code]

## Errors:
1) `lingui ex

[2019-07-12 16:52] ggascoigne commented on #541
Which basically says use the latest react-scripts, which is what I'm doing.

[2019-07-13 23:27] landsman commented on #131
This is not working for me with Next.js

[2019-07-14 06:45] tricoder42 commented on #131
Hey @landsman, defaultProps in general are problematic. In future versions of LinguiJS they won't be even supported. Try to rewrite your code so it doesn't use translated messages in default props. I understand it isn't ideal, but it's necessary trade-off.

[2019-07-15 21:59] olafura commented on #425
@tricoder42 If I try your trick then I get a duplicate entry in the extract step. Which one is used and can you turn off the duplication?

[2019-07-16 05:35] tricoder42 commented on #425
@olafura Could you please post an example file, config and extracted messages?

[2019-07-16 21:34] olafura commented on #425
@tricoder42 I'm not able to replicate it must of been something I did incorrectly. Seems to work fine ;)

[2019-07-16 21:59] NSLS commented on #390
In the migration guide from v2 to v3 there is a line stating that `withI18n` HOC will be removed in favor of `useLingui` hook.

Does that mean that we would not be able to update our project using class components to the new version of lingui in the future?

[2019-07-16 23:55] NSLS commented on #334
I'm not sure where to post this as I don't have time right now to make a reproducible demo, but I still think it's worth reporting.

After trying to update a current project to get that precious `useLingui` hook, I was able to set up the project, but the `extract` cli would not detect the messages with the `t` macro.

<Trans> components would get extracted too.

Another thing worth noting is that

[2019-07-17 07:09] tricoder42 commented on #390
@NSLS It just means that you have to implement your own `withI18n` using `useLingui` hook if you want to use class components:

[code]

[2019-07-17 07:10] tricoder42 commented on #334
@NSLS Thanks for the report, but it's really hard to guess what's wrong without example code and your configuration.

Anyway, if you had a bit of time, please share what needs to be updated in migration guide and/or send a PR. Thanks a lot 🙏

[2019-07-17 14:30] NSLS commented on #334
I've spent some time gathering a reproducible demo based on our project boilerplate.

You can have a look at it here:
https://github.com/NSLS/lingui-3-example

I couldn't make it to work properly even though I have tried setting up lingui from scratch.

I would really appreciate if you could tell me what I'm doing wrong

[2019-07-18 06:12] Qrysto commented on #334
Sorry to ask but is this project still under active development? I'm considering adding this into my project but I'm concerned to see this v3 has been worked on for almost 1 year, and commits seem to be sparse recently.

[2019-07-18 06:16] tricoder42 commented on #334
I only work on this project in my free time, hence the slow development.

[2019-07-18 06:50] FredyC commented on #334
V3 is really close, I can feel it :) Seeing that latest update, it looks really hopeful. I haven't tried it yet though based on the instructions :)

[2019-07-18 07:20] tricoder42 commented on #334
Ah, it has already been 13 days since I wrote it... I've just started working full-time on one project to rush MVP before I go on vacation, so my time is limited.

On top of that, migration guide needs to be updated.

[2019-07-19 14:34] landsman commented on #527
@tricoder42 but this is not react doc I think. This is vanilla-js solution, right?

[2019-07-19 14:53] landsman opened #544 "how to debug exception in compile process?"
There is command line history:

[code]

And log:

[code]

There must be a problem with some key in locales file, but I don't know how to degug it.

Implementation is good, it worked before few changes in locale files.

Can you please provide me some steps how to debug this process?
Is there some better way how to find bad row in my locales file?

Thanks

[2019-07-20 23:47] landsman commented on #544
So, I debugged that.

There was problem with commented translate which was only in one of two locales.
I probably deleted this obsolete translate from one of locale and forgott it in second one.

Next problem was that this key was translated directly in `msgid` not in `msgstr`. Thanks this lingui searched this key in original language - moment of exception.

[2019-07-20 23:52] landsman commented on #544
Problem on screenshot:

![image](https://user-images.githubusercontent.com/3184228/61585351-b9d9ab80-ab59-11e9-9b94-bbbb8c6e80bb.png)

[2019-07-20 23:57] landsman commented on #544
@tricoder42 Can you please add some helper as I tried here: https://github.com/lingui/js-lingui/pull/545 ? :pray:

[2019-07-21 19:25] olessavluk commented on #483
Upgrading `react-scripts` to `v3` solved this issue
(guess this ticket can be closed)

[2019-07-21 22:36] olessavluk commented on #334
Hi!
In the [example repo](https://github.com/lingui/js-lingui/blob/next/examples/create-react-app/src/App.js#L15), there is a bug with image ```alt={t`logo`}``` property

It doesn't have any effect, original string always rendered
(I have changed translation and recompiled messages)

[2019-07-22 06:53] tricoder42 commented on #483
@olessavluk Thanks for the info!

@davidpenn Feel free to post additional info if upgrading react-scripts does fix the problem.

[2019-07-22 06:53] #483 closed

[2019-07-22 20:44] benmonro opened #546 "Add "practices/recommendations" section to docs"
**Is your feature request related to a problem? Please describe.**
I'm curious what files should be committed to source control and what should be .gitignored.  It would be nice if there was a section in the docs that listed these sorts of things.

**Describe the solution you'd like**
An update to the docs.

**Describe alternatives you've considered**
i haven't.

[2019-07-23 12:45] FabianMeul opened #547 "withI18nProps doesn't expose i18nHash."
**Describe the bug**
`withI18nProps` describes one prop: `i18n`.
It should also describe the `i18nHash` prop, that is placed on the WrappedComponent inside the `withI18n` HoC.

**To Reproduce**
n/a

**Expected behavior**
`withI18nProps` should be

[code]

**Additional context**
Add any other context about the problem here.

- jsLingui version `2.8.3`
- Babel version `7.5.5`

[2019-07-23 20:55] benmonro commented on #546
i guess it helps to RTFM

[2019-07-23 20:55] #546 closed

[2019-07-23 22:26] benmonro commented on #334
is there an eta on a final 3.x release @tricoder42 ?

[2019-07-24 07:12] tricoder42 commented on #334
@benmonro Unfortunately there isn't, at the moment. I guess the earliest realistic estimate is September.

[2019-07-24 10:26] #542 closed

[2019-07-26 06:11] nickluger commented on #508
I would really like to see this feature implemented.

Some people (like me) just want to generate different bundles for different countries/domains at build/compile-time and not allow any language switching on a certain domain. The user has to visit a different domain to get the right language.

A well known website that does it is:

https://www.amazon.com/
https://www.amazon.de/
https://www.amazo

[2019-07-26 09:47] MartijnHols commented on #486
This is with babel 7, but not from the `next` branch.

[2019-07-29 07:59] PutziSan opened #548 "`defineMessage`-macro returns message when NODE_ENV=`development`"
**Describe the bug**
During development `defineMessage({ id: "test-id", message: "my message" })` returns `my message` and not `test-id`. When building with `NODE_ENV=production`, everything works fine.

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

**Expected behavior**
During development `defineMessage({ id: "test-id", message: "my message" })

[2019-07-29 15:06] moodyjmz opened #549 "Use ES6 modules vs require"
I would like to use this with Polymer/Lit-Element, using require makes a build process in the middle of dev needed. Basically, have to drop their dev servers out and make one using web pack.

It would be cool if the project used es6 modules throughout as it would widen the base where this can be easily used.

[2019-07-29 16:26] dimensi commented on #449
My temporary solution
[code]

[2019-07-29 16:26] dimensi commented on #449
@tricoder42 any news?

[2019-07-30 11:37] Hideman85 opened #550 "[Feature REQ] Currency react input or currency parser"
I use ant design css library and I have a [InputNumber](https://ant.design/components/input-number/#API) and with that I able to provide a formatter to render the number but I need also to provide a parser do get number from a formatted string.

I want to be able to parse a formatted currency string back to a number and be lang agnostic.

The best would be to have directly some input components wi

[2019-07-30 16:10] tricoder42 commented on #549
Hey @moodyjmz, sounds good! Do you know how to configure Rollup to create ES6 modules? Would you like to take a look and send a PR? I would help you to navigate through build scripts.

[2019-07-30 16:11] tricoder42 commented on #449
The only news related to this issue is that the next version of LinguiJS is going to use Babel 7. I really don't know how to solve it in Babel 6.

[2019-07-30 16:14] tricoder42 commented on #550
Hey @Hideman85, I'm not planning adding any Date/Number components. In fact they're removed in Lingui v3 and should be provided by 3rd party modules. For example, date-fns provides parsing/formatting for dates. I believe there could be similar library for numbers. My idea is that we should just use existing libraries and hook them into Lingui instead of providing own formatting/parsing features.

[2019-07-30 16:14] #550 closed

[2019-07-30 16:15] tricoder42 commented on #486
@MartijnHols Alright, thanks for the info! I'll keep an eye on it, but hopefully it's already solved in `next`.

[2019-07-30 16:52] stovmascript commented on #420
I have a similar (maybe the same) problem. I'm trying to convert messages to `po` format after using the `lingui` format from the start. When I set `"format": "po"` in the config and run `npm run extract -- --convert-from lingui`, the files get converted, but are missing all of the translations.

Here's a small repro: https://github.com/stovmascript/lingui-extract-repro with 4 messages.

[2019-07-31 16:15] mxsxs2 commented on #273
For me a temporary solution is to change:
_S:\Job\Krisz\CustomerFrontend\node_modules\@lingui\cli\api\compat.js Line 12_
```var _babelCore = require("babel-core");```
To
```var _babelCore = require("@babel/core");```

Obviously this is not a good solution. However, it works.

[2019-07-31 16:16] mxsxs2 commented on #273
For me a temporary solution helped. Change:
_@lingui\cli\api\compat.js Line 12_
```var _babelCore = require("babel-core");```
To
```var _babelCore = require("@babel/core");```

Obviously this is not a good solution. However, it works.

[2019-08-02 18:09] MartijnHols commented on #486
I copied the codesandbox I found in another issue to reproduce the issue;

2.8.3: https://codesandbox.io/s/amazing-maxwell-13ymf?fontsize=14

I couldn't find either `next` or `3.0` in the readme, so not sure about the installation instructions to update it to use that.

[2019-08-05 09:05] moodyjmz commented on #549
@tricoder42 I'm not familiar with Rollup, I'll have a look though and if I can I'll do it.

[2019-08-05 11:28] JonesN3 commented on #420
It looks to be like the `convert-from` option is broken since v2.3, and in all versions where gettext/po is supported. I ended up writing a script to do the conversion manually.

[2019-08-08 00:41] theKashey commented on #508
There are two languages - one is __build-in__ (the one you have "used" in the code), and another one you may switch into.

The first one is "expected" to be on Application start, and the second one you may "await".

## The second one
The second one is __not__ a subject for the "real" code splitting - you may load all strings in a selected language without any "hurt" for the customer, as long as yo

[2019-08-08 11:23] bernharduw opened #551 "[next] "Unknown macro number" is thrown when using `number` macro"
**Describe the bug**
The `number` macros seems to be unimplemented in the `next` branch. When trying to import it, the project won't compile, I get the message `Unknown macro number`.

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

**Expected behavior**
The code should compile and number should be formatted with the current locale's format.

**Ad

[2019-08-13 10:22] bernharduw commented on #551
Found the solution: `number()` is part of `i18n` that you receive from the `useLingui()` hook. The documentation isn't up to date on that yet.

To use:

[code]

[2019-08-13 10:22] #551 closed

[2019-08-19 08:46] jbojcic1 opened #553 "Added locales included in prod bundle even if they are not imported"
Not sure if this is a bug or expected behavior but here is my situation.

I want to build all infrastructure for i18n into my app even though I don't need it yet. Because of that I have english as a default and one other language I use for testing. Here is how I am importing catalogs in my index.tsx while testing:

[code]

When building for prod, I remove hr catalog import so I have:

[code]

stil

[2019-08-19 09:06] #553 closed

[2019-08-19 09:07] jbojcic1 commented on #553
Sorry. It was a wrong import issue.

[2019-08-20 07:08] pauldariye opened #555 "SyntaxError: "export declarations may only appear at top level of a module""
**Describe the bug**

I am able to `extract` and `compile` without any problems, however using the `@lingui/loader` to load catalogs isn't working.

I've tried using the dynamic loader like so:

[code]

And the static loader

[code]

Here's a screenshot of the error I get

![Screenshot 2019-08-20 at 08 59 53](https://user-images.githubusercontent.com/3650761/63325187-eedc4800-c329-11e9-9f65-be53e0

[2019-08-20 11:42] NSLS opened #556 "[V2] Migrate to new context api"
**The problem:**
Since v3 release is a little bit delayed and the new context API and hooks are out for quite some time now, I feel frustrated that with all the other libraries I can use hooks to get something out of context, but with lingui v2 I still have to decorate my component.

**The solution:**
Because v3 will bring some breaking changes and will most likely take an additional time to make

[2019-08-21 08:20] cezarneaga commented on #334
i would love to be able to get .po files to do this for plurals:
[code]
this makes it easy for translators to toggle between the plural form when translating. below interface from transifex when the above format is present.

![Screenshot 2019-08-21 at 10 17 04](https://user-images.githubusercontent.com/645227/63414933-27008b00-c3fd-11e9-8307-d3dd357371e1.png)

[2019-08-23 18:58] bernharduw commented on #550
@tricoder42 Just found your comment. Does this mean that eventually the `i18n.number()` function will be also removed, so formatting numbers in lingui@next as described in https://github.com/lingui/js-lingui/issues/551#issuecomment-520778712 would stop working too?

[2019-08-24 20:04] kwassholm commented on #437
Had the same error but got rid of it when I setup the i18n with a language, i.e. :
[code]

[2019-08-26 08:59] tricoder42 commented on #556
Hey @NSLS,
migrating to new context API is a breaking change, so we should bump the major version anyway.

There are only few missing breaking changes which should be included in v3. I believe the best approach would be finish missing features and move anything what isn't breaking to consecutive releases.

I've just come back from vacation, so let me review what's missing in v3 and I'll get back t

[2019-08-26 09:03] tricoder42 commented on #549
Hey @moodyjmz, have you been able to figure out how to create ES6 modules with Rollup?

[2019-08-26 09:09] tricoder42 commented on #548
Hey @PutziSan,
I think this issue is fixed in https://github.com/lingui/js-lingui/pull/543/files#diff-43ddbf96c9ea592d8e5253508230cd3aL160 by @hjylewis. #543 is an effort to make production and development more consistent.

Let's close it as a duplicate and reopen it, if the problem persists in next pre-release

[2019-08-26 09:09] #548 closed

[2019-08-26 09:10] tricoder42 commented on #547
Hi @FabianMeul,
thank you for the report but `withI18n` HOC is removed completely in v3 and I don't plan to fix any issues in v2. If you wish, feel free to send a PR and I'll publish a patch release.

[2019-08-26 09:10] #547 closed

[2019-08-26 09:12] tricoder42 commented on #527
Not really, rendering of translations is related to React.

[2019-08-27 10:05] tricoder42 commented on #334
@cezarneaga That's how gettext-style message format works (i.e. Gettext, Polyglot), but not ICU MessageFormat or Mozilla's Fluent. It assumes that the source locale has 2 plural forms, which isn't true for all locales. Your usecase is also specific to Transifex (and possible other services) which doesn't support ICU MessageFormat, otherwise the editor could explode `{0, plural, one {Jarh} other {J

[2019-08-28 08:00] D19cannon opened #557 "Correct format of configuration file"
Hi guys,

I have been trying to set up Lingui for two days now. While following the documentation and a few tutorials I am not able to solve a few errors that are occurring.

I tried to set it up locally and globally many times. The Lingui command is running and working, however, the configurations are always a mess. Whenever I am able to solve one another simply just shows up.

For example:
I had

[2019-08-28 08:39] tricoder42 commented on #557
It looks like you're using configuration file (e.g. `lingui.config.js` or `.linguirc`). In such case, remove the `lingui` key and use just the configuration options:

[code]

If you had configuration in `package.json`, you would have to put it under `lingui` key. Does it make sense?

[2019-08-28 09:09] D19cannon commented on #557
Hey @tricoder42 thanks for your response!
In tried it earlier by removing that, but then nothing will be build in my message.json

I just removed it again to get the error and the following shows up:

`─daniel@DonBranco /Users/daniel/sites/konkka_v2  ‹system›  <master*>
╰─$ npm run extract

● Deprecation Warning:

 Option localeDir is deprecated. Configure source paths using catalogs instead.

[2019-08-28 09:32] D19cannon commented on #557
After removing all the imports, components, conf etc.

The following message start to occur (to be clear I am not using lingui any where)

![Screenshot 2019-08-28 at 12 30 44](https://user-images.githubusercontent.com/14916043/63843927-e4582900-c98f-11e9-942e-3b3732886b1c.png)

[2019-08-28 11:12] tricoder42 commented on #557
Please create a repository with minimal example. It's hard to debug it without looking at the source files. Also, take a look at `examples` directly in this repository. It contains working examples with correct configuration.

[2019-08-28 11:21] D19cannon commented on #557
No worries.
I deleted everything again and checked all the versions etc.

Got it somehow up and working. There was one minor thing that I noticed with the whole setup.

When using add-locale it creates a "locales" folder and in the documentation you use: locale/
https://lingui.js.org/tutorials/react.html

I am not entirely sure how I solved it. But starting over from a clean point and redo everyth

[2019-08-28 12:46] mxsxs2 opened #558 "Divide locale file into chunks"
**Is your feature request related to a problem? Please describe.**
The problem I have is the file size of the translation files. I have a very large project with a large amount of text which are in 7 different locales. This causes a long loading time for the site.

**Describe the solution you'd like**
Is it possible to chunk the localisation files? It would be great if a component could have a loc

[2019-08-28 13:07] #557 closed

[2019-08-28 16:00] tricoder42 commented on #558
This is already supported in `next` branch, see #326. More sophisticated approach is under development in #503.

[2019-08-28 16:00] #558 closed

[2019-08-29 12:24] D19cannon commented on #557
It is easy to make mistakes when people simply copy and paste your code.

[https://lingui.js.org/tutorials/react.html](url)

Also, might be nice to add some version requirements.
Such as, react-scripts v^3.0.0

**Update these lines in your documentations!!**
---------------------------------------------------
**Current:**
import catalogCs from './locale/cs/messages.js'

**Should be:**
import catal

[2019-08-29 12:42] tricoder42 commented on #557
Thanks for suggestions 👍  Feel free to send a PR. You can edit the file directly on GitHub without cloning the repo: https://github.com/lingui/js-lingui/edit/master/docs/tutorials/react.rst

[2019-08-30 19:51] NSLS commented on #556
Ok, I got your point.

I will try to have a look on what's missing or broken in the current state of v3 and provide some feedback in the appropriate issues

[2019-08-30 19:51] #556 closed

[2019-08-31 07:59] harryy2510 opened #559 "Cannot extract messages from compiled code"
**Describe the bug**
I've compiled code with babel in cjs. I am trying to extract messages from compiled code.

- Case 1

If I'm using
[code]

compiled code looks like

[code]

- Case 2
and if i use

[code]

compiled code looks like
[code]

When I am trying to extract messages, then Case 1, message gets extracted but in Case 2 message is not extracted.

**To Reproduce**
I will try upload sample co

[2019-08-31 17:04] nogrethumphrey commented on #473
In webpack configuration,there is no need to use ts-loader.Just use babel-loader is enough.In babel.config.js,add the TypeScript support for babel.    "@babel/preset-typescript". Then babel will be able to handle typescript and macros.

[2019-09-02 07:18] jbojcic1 opened #560 "date macro not working when used inside t macro"
**Describe the bug**
I have a message with a date that I need to translate outside of the React component, so based on https://lingui.js.org/ref/macro.html#jsmacro-t I tried using `i18n._(t`Today is ${date(name)}`)`, but it's not working. I am getting `Danas je [object Object]` in the result.

**To Reproduce**
1. Create react app with Create React App.
2. Add lingui-js and set it up so you can use

[2019-09-03 15:31] JSteunou commented on #334
@tricoder42 I dont really understand why you wont support full po / gettext format whereas your doc says it is the preferred catalog format to choose https://lingui.js.org/ref/catalog-formats.html

[2019-09-03 15:43] tricoder42 commented on #334
@JSteunou I use PO file with ICU MessageFormat instead of Gettext format. I understand that Gettext and PO file format and closely related and I don't use all features of this file format, but I definitely prefer ICU MessageFormat because it's more flexible. Even newest i18n format, Mozilla's Fluent, is based on ICU.

TLDR: I'm not planning support it because I don't use it. On the other hand, onc

[2019-09-04 05:35] nogrethumphrey commented on #468
@smeevil  Are u only using babel-loader? I currently have the problem that when using ts-loader and babel-loader together.Then i get something macro_Trans component not found after following the guide on linguijs for typescript.  From this link convert to JSX first.Then looks like Babel macros are not working with JSX.Could u help me a bit?
https://lingui.js.org/guides/typescript.html

[2019-09-06 05:05] sidoshi opened #561 "What are pros and cons of using default generated id over a specified one?"
I really like that we don't have to specify the id for each piece of text. But I want to be sure about the benefits each approach provides before making a decision. I couldn't find this documented anywhere so thought this is a good place to ask.

[2019-09-06 11:14] skovhus opened #562 "Add optional sort by origin/filename"
**Is your feature request related to a problem? Please describe.**
Currently, lingui sorts by message key. This might make sense in some project, but sorting by origin can often be more natural, e.g. translations from the same file grouped in the .po files.

Note that [GNU gettext](https://www.gnu.org/software/gettext/manual/gettext.html) there is an option called `--sort-by-file`.

I saw that thi

[2019-09-06 11:31] skovhus commented on #562
When cloning `js-lingui` I get 12 test failures on `master`... Would be nice to have thosed fixed before doing any changes. Any advice?

[code]

[2019-09-08 16:01] skovhus commented on #334
@tricoder42 thanks for all the great work!

I would like to help with shipping version 3. Let me know what I can do, either here or on kenneth.skovhus (at) gmail.com

[2019-09-09 13:24] longlho commented on #280
Since we just went thru this w/ `react-intl`, just FYI there's also legacy aliases: https://github.com/unicode-cldr/cldr-core/blob/master/supplemental/aliases.json (e.g `zh-CN` & `zh-TW` should resolve to `zh-Hans` & `zh-Hant` instead of just `zh`)

[2019-09-09 19:10] tricoder42 commented on #559
It's hard to tell without an example. Feel free to explore working `examples` in this repository

[2019-09-09 19:10] #559 closed

[2019-09-11 16:23] herrstucki opened #566 "CLI emits warnings on valid Babel options"
**Describe the bug**
When I use [documented Babel options](https://babeljs.io/docs/en/options#config-loading-options), I get a warning. *The configuration still works though*, it just seems that your validation is too strict.

**To Reproduce**

Example `.linguirc` file:

[code]

Produces this warning (repeatedly, probably for each source file?):

[code]

**Expected behavior**

No warnings for vali

[2019-09-16 14:51] arosendorff opened #567 "Possible to update activated language without I18nProvider"
Is there a way to change the active language, and generate a component update, without making any changes to the component that houses the I18nProvider? I am using [redux-sagas](https://github.com/redux-saga/redux-saga), and I want to change the active language within the sagas.

From what I can see, it seems the only way to update all translations is via the I18nProvider. Thus I am using its ref

[2019-09-20 09:56] johnparn opened #568 "Generate aggregated, compiled messages from multiple po-source files in custom location"
Hi,

and thanks for your hard work on linguijs!

We are working in a monorepo and are in the process of changing how handle the locale files. At the moment we use extract and compile on the whole project to generate two files, `/locales/sv.js` and `/locales/en.js`. Using react contex we handle the language switching. But as the project has grown and we are about to engage other teams to work on th

[2019-09-30 08:51] johnparn commented on #568
I've made a pull request for this https://github.com/lingui/js-lingui/pull/564.

[2019-09-30 12:54] ppozniak opened #570 "Webpack loader strict mode - should it stop the build?"
I have feeling that it can be confusing about when you should use webpack loader, mainly to that text in loader's source code
(https://github.com/lingui/js-lingui/blob/master/packages/loader/src/index.js):
[code]

Shouldn't it be the other way around? Because if you are building with missing key translations - it should fail, at least in my eyes. You shouldn't release to production with missing ke

[2019-10-04 10:40] CWBudde opened #573 "Add zero to plural macro"
**Is your feature request related to a problem? Please describe.**
In the german language there is often not only a dedicated distinction between one and other, but also for zero.

**Describe the solution you'd like**
In order to improve the wording it would be usefull to add a 'zero' section similar to 'one' and 'other'

**Describe alternatives you've considered**
I'm not that deep into js-lingui

[2019-10-04 11:53] tricoder42 commented on #573
Hey @CWBudde, according to CLDR, official plural rules are just `one` and `other` for [german language](http://www.unicode.org/cldr/charts/latest/supplemental/language_plural_rules.html#de).

Lingui uses CLDR rules, so the only option is to use `=0` exact rule:

[code]

[2019-10-04 11:53] #573 closed

[2019-10-07 10:40] vonovak commented on #334
@tricoder42 do you intend to invest into future development of the package, or do you think you will not have time to push it further? Please note that I'm looking for an honest answer whatever it's going to be. I'm asking because the project has not been very active and even CI seems to be broken (see #572).

If you intent do continue, perhaps you could try marking some issue and "good first issu

[2019-10-07 11:19] lucasriondel commented on #442
@guillaumeLamanda you saved my day. works like a charm (I was having issues with `react-intl` in my react-native app, but it's all gone now !

[2019-10-07 13:44] tricoder42 commented on #334
Hey @vonovak, thanks for bringing this up! I want to work on it during hacktober fest, but I'm constantly busy or not motivated enough to squeeze extra time from my day.

I'll do my best to focus on it this week and at least get the green build.

I was also thinking about splitting the work, but the project is in unfinished state when half of things are still in my head or broken. I need to give i

[2019-10-07 17:27] mschipperheyn opened #574 "[object Object] on a standard Trans in selects"
**Describe the bug**
I get [object Object] on some standard `<Trans id="ui.foo">Foo</Trans>` renders.

This happens only in some cases, and it seems to occur on Selects.
The id is in the po file and compiled to js.

I've tried downgrading to 2.7.4 which didn't help.

**To Reproduce**

https://codesandbox.io/s/boring-glitter-i847j

**Expected behavior**
Display js file or default.

**Workaround**
R

[2019-10-08 06:40] theKashey commented on #503
1. ✅Extract messages from the source code.
2. ✅Build the app
3. Add plugin, tap on the compilation emit, to analyze how modules are distributed in chunks ( stat.json)
4. Form the same "chunks" from translated messages, these translations-per-chunks could be added into webpack emit as well.
5. Add another plugin, to hook into `__webpack_require__.e`(requireEnsure) (like `mini-css-extract-plugin` do

[2019-10-08 12:39] ixrock opened #575 "3.0 various issues"
Hello!
When LinguiJS 3.x are planned to be released?
I just tested version: `^3.0.0-7` with my webpack/react/typescript project and found some issues.

## Configuration
**.linguirc**
[code]
**.babelrc**
[code]
**package.json**
[code]

## Issues

1) Incorrect types definitions in for `@lingui/macro`, it's not possible to import, for example: `import {Trans} from "@lingui/macro"`.

_Current workarou

[2019-10-12 15:06] tricoder42 commented on #334
@vonovak The build in `next` is green 💚

[2019-10-12 15:38] tricoder42 commented on #575
Hey @ixrock, thanks for a report! I've just fixed tests in `next` branch. Would you like to start fixing issues you've found and send a PR?

[2019-10-13 18:03] ixrock commented on #575
@tricoder42 I have no idea how to fix it or where to start.. :)
I tried to run tests in `next` branch and this is what I've got:

[code]

[2019-10-13 18:21] tricoder42 commented on #575
That's interesting, seems like the formatting doesn't work.

Have you tried latest `next`? I've just fixed all tests yesterday.
Do you use yarn or npm?
What OS and node version you have?

[2019-10-13 18:51] rovansteen commented on #334
@tricoder42 is the list in the op still up to date on what needs to be done for v3? I'd love to help out to get the new release ready :)

[2019-10-13 20:44] ixrock commented on #575
Yes, I did git checkout to `next` branch and ran `yarn`.
Node v10.16.3, MacOS 10.15 (Catalina)

[2019-10-14 06:08] tricoder42 commented on #575
@ixrock It seems you're missing the ICU data.

Try to run `NODE_ICU_DATA=./node_modules/full-icu yarn test` or enable full-icu support in node directly as described in [contributing docs](https://github.com/lingui/js-lingui/blob/master/CONTRIBUTING.md#setup-local-environment)

[2019-10-14 07:32] tricoder42 opened #577 "Detect locale"
User's locale should be detected automatically if possible, but also allow customization. The approach should work both on server and in browser and it should follow guidelines for [multilingual sites](https://support.google.com/webmasters/answer/182192?hl=en&ref_topic=2370587)

## Proposal

Websites which serve different content for each locale (e.g. Wikipedia) will always use just URL to detect

[2019-10-14 07:36] tricoder42 commented on #334
@rovansteen I've just update it. Once we have working example of SSR and CSR and there're no obvious bugs or obstacles, I believe we can ship it.

I've just added one issue which needs to be done #577 if you wanted to dig into something specific. It might be as easy as finding existing library and documenting how to use it with Lingui.

Thanks for helping!

[2019-10-14 08:34] FredyC commented on #577
We have been using https://github.com/fabulator/locales-detector. It's nice because it can be configured in various ways. Especially transformers are super useful. I am not so sure there is a need for a dedicated Lingui tool for detection. I mean each app has different needs. What about recommending one instead?

[code]

[2019-10-14 09:40] tricoder42 commented on #577
Pefect, that's what I meant with:

[2019-10-14 09:52] tricoder42 commented on #577
I checked `locales-detector` briefly and it lacks detecting locale from cookie, from HTTP header and detecting from URL only supports SearchParams. Plus it weights 2.2kb. The first two detectors (cookie, HTTP header) are *must* for SSR, detecting from other parts of URL is nice to have, unless the author of this PR needs it :)

I would rather find a different one or write it from scratch by copy-p

[2019-10-16 14:38] jbbr commented on #429
I have the same issue, since TypeScript 3.7 beta+ includes this feature, it's gaining popularity.
I would have expected this to work since lingui extract uses babel anyway.
Maybe this plugin for some reason doesn't work with babel-bridge compatibility package...

[2019-10-16 22:33] janicduplessis opened #578 "[v3] `t` macro uses global i18n instance"
**Describe the bug**
I'm using this library on the server and create a new i18n instance for each request so they don't conflict with concurrent requests. The issue is that when using the `t` macro it seems to do more than what I expect. Instead of converting the string to a message object like mentioned in the doc it gets transformed to a call to `i18n._(message)` which returns a translated strin

[2019-10-17 00:06] janicduplessis commented on #578
I went through the commits and this change seems to be done on purpose. I think this might need to be reconsidered as it will break regular server usage as well as react server rendering as soon as there are multiple concurrent requests.

[2019-10-18 12:27] smeevil commented on #533
The Macro ones would be very welcome :)

[2019-10-20 14:35] tricoder42 commented on #578
@janicduplessis Yeah, you're right. This is intentional. In the near future, I would like to generate per-locale bundles as described in #508 and for that I need to wrap message and i18n._ call into macro.

I understand that in server apps the bundle size doesn't matter and per-locale bundles are useful only in browser. So what about adding a config `macroStandalone` which would be true by default

[2019-10-21 03:11] janicduplessis commented on #578
@tricoder42 Could we do something like this instead?

[code]

[2019-10-22 15:00] tricoder42 commented on #578
There isn't much difference between these too. In both cases you need to wrap the macro to `i18n._` call. On top of that, the first wouldn't work for messages with parameters:

[code]

But the real question is the `i18n._` object. In `perLocale` bundles you don't need it at all, because translations are hardcoded in production bundle. Macro could potentially traverse in AST tree and remove the par

[2019-10-22 19:26] janicduplessis commented on #578
Ok I see. So my issue is mainly about injecting the call to the global `i18n._`, if we can avoid that we'd keep the ability to use any i18n instance.

For runtime localization we could keep the old transform so:
[code]

For compile time localization we could use a new helper and make `i18n._` pretty much a no-op. Not sure if this is always possible but for simple cases like this example it would b

[2019-10-22 19:37] janicduplessis commented on #578
Maybe I failed to address your point properly. Part of the issue is you'd like to remove the call to `i18n._` completely for compile time localization right? If the function become a no-op at runtime for localized bundles I don't think it will really cause perf overhead if that is the concern since it will probably be easily inlined by js engines.

[2019-10-25 17:39] semoal commented on #334
Have we tested the compatibility with Concurrent React(already is in a experimental branch, so we can start trying if our projects are working nice)?

If we find some bugs, will be a nice task to implement to v3? or we should add them to v2?

[2019-10-25 17:53] FredyC commented on #334
Let's not delay V3 further by worrying about Concurrent mode. I don't even think it's going to be breaking change, so it can surely be done later.

[2019-10-25 23:41] hjylewis commented on #577
I'm interested in taking a look at this. To clarify the detectors we would want would be:

* URL
	* Server-Side
	* Client-Side
* Cookie
	* Server-Side
	* Client-Side
* HTTP Accept-Language header (Just SSR)
* <html lang> attribute (Just CSR)
* navigator.language (Just CSR)

The desired library would provide these detectors and some sort of resolver (maybe a wrapper of fluent-langneg) that picks a

[2019-10-26 20:31] semoal commented on #560
Did you find any solution mate? I'm having the same problems.

[code]

For example, this is causing for me [ObjectObject]

[2019-10-27 12:02] jbojcic1 commented on #560
@semoal unfortunately I didn't. I tried to debug the issue a bit and it seems that date macro is not returning the proper icu message format. For example if I do:

`const messageDesc = date(today)`

I am getting:
[code]

If I then change id to `"{today, date}"` it seems to work fine. I trued to look into the code a bit but I don't understand babel macros nor icu message format enough.

js macros c

[2019-10-27 20:05] tricoder42 commented on #577
I consider `HTTP Accept-Language` header and `navigator.language` as a same kind of locale detector, each for different context (SSR vs CSR). So, I would update your classification to this:

- URL
  - client-side
  - server-side
- Cookie
  - client-side
  - server-side
- System preferences
  - HTTP Accent-Language (server-side)
  - `navigator.language` (client-side)

`html lang` is tempting and ea

[2019-10-28 14:05] tricoder42 commented on #334
@semoal I haven't tested it yet, but if you find any bug feel free to create PR against `next` (v3).

[2019-10-29 05:39] HommeSauvage opened #580 "Usage in NodeJS and less dependency on macros"
I have a node project that's done in a serverless architecture. I'm not intending to add webpack or any builders. However, because lingui is my main translation library in most of my front end projects, I wanted to use it in the backend too.

The only problem is that it's not easy to use the extract command, so using `i18n._({ id: 'text' })` is not detected and won't get extracted. Is there a way

[2019-10-30 17:40] pybuche opened #582 "Testing Library: nothing was returned from render"
**Describe the bug**
Hi,
I just started using lingui with React Native (via Expo), Typescript, everything works great, except that I am not able to run tests with `@testing-library/react-native` when a component contains a `<Trans>` tag (from `@lingui/macro`).

**To Reproduce**
`Component`
[code]

`test`
[code]

Triggered error:
[code]

I tried a lot of different configurations:
- Importing my com

[2019-10-30 22:08] hjylewis commented on #577
Sounds good. I have a question since I'm not as familiar with SSR:

Unless I'm mistaken, the user will have to explicitly pass the HTTP request to the URL, Cookie, and System Preferences detectors for SSR. Unlike CSR, the request (used to get the URL/cookie/headers) is not global like `document.cookie` or `document.location`.

Because of that, is it worth combining the CSR and SSR detectors? They'

[2019-10-31 22:31] mschipperheyn commented on #334
I'm having a go at migrating to v3 on our system. One thing I noticed is that `withI18n` was removed. While I support the focus on hooks, how do you use the programmatic `i18n._` api inside a React class?

[2019-10-31 22:58] mschipperheyn commented on #334
Another question I have is regarding monorepos. The new catalogs options seems a great way to deal with the various different catalogs generated in the various packages. But would you then store this in `lingui.config.js` at the root of the monorepo or at the package specific `lingui.config.js` that includes the root lingui?

[2019-11-01 18:28] dreadwail commented on #158
For those who come across this thread seeking a working example with Next.js, you can find it here now:

https://github.com/zeit/next.js/tree/canary/examples/with-lingui

[2019-11-02 13:08] alexkuz opened #583 "[v3] t('id')`message` is not working"
It seems that in new version ``` t('id')`message` ``` is not parsed by macros - I get `t is not defined` error as a result.

I noticed that tests are also missing this format.

`lingui extract` also fails generating files from it, giving the same record for all instances:
[code]

[2019-11-02 13:22] alexkuz commented on #583
looking at tests, seems like it is processed by macros after all, which generates `'{0}', { 0: t('id') }`, where `t`is undefined indeed, and default `message` is vanished)

[2019-11-03 16:32] mschipperheyn commented on #415
I have a monorepo with react and vanilla js using @lingui 2.8.3. No messages are extracted from the vanilla js files.

All my `t` and `Trans` imports are based on `@lingui/macro`.

Any ideas?

Root config
[code]

package config
[code]

[2019-11-04 12:18] tricoder42 commented on #583
Hey @alexkuz, what branch are you testing? In upcoming release the `t('id')'message'` is obsolete in favor of `defineMessage({ id: 'id', message: 'message' })`. There was too many variants to handle that I rather added another macro to add metadata (id, description) to message.

[2019-11-04 12:20] tricoder42 commented on #334
@mschipperheyn Yeah, I don't plan to ship `withI18n`. Maybe we could ship separate package `@lingui/hoc` as Apollo does, but it doesn't seem to be a big deal at the moment.

About the monorepos, right now I assume one global `lingui.config.js` in the root.

[2019-11-04 13:00] benmonro commented on #334
@tricoder42  it makes it more difficult for any project using class components from using 3.x. I would definitely support having some type of backward compatibility for teams with legacy codebases....

[2019-11-04 13:06] FredyC commented on #334
@benmonro The core idea of V3 is that `i18n` can be simply imported from `@lingui/core`. If I am not mistaken, there wasn't any good reason for keeping it in the Context.

[2019-11-04 19:37] alexkuz commented on #583
Ah, I see. I'm using `3.0.0-7`.
I guess I'll just use ```t'id'```, for brevity

Is this the shortest way to use it in a component?
[code]

[2019-11-05 06:36] tricoder42 commented on #583
Yeah, in `3.0.0-7` it is.

[2019-11-05 06:36] #583 closed

[2019-11-05 10:01] danielchabr opened #584 "`compile --strict` should skip missing pseudo translations"
**Describe the bug**
`lingui compile --strict` shouldn't fail with pseudo language missing translations

**To Reproduce**
Having pseudo locale enabled in config `pseudoLocale: 'pseudo'` run `lingui compile --strict` to compile messages catalogs. The command will fail even when all translations are available because pseudo lang is taken into account when checking for missing translations

**Expecte

[2019-11-05 18:15] alexkuz commented on #334
@tricoder42 speaking of SSR: I think it would be useful to add a warning here:
https://github.com/lingui/js-lingui/blob/da35f25f6927f30d2ac3aa58e7a9df9464346ca4/packages/react/src/I18nProvider.tsx#L61
, in case there's no locale set. I've spent some time trying to figure out why there's no SSR code generated, turned out it's because of async nature of i18n object.

[2019-11-06 03:28] sleepycat commented on #582
I had a similar problem with the next branch and using `setupI18n` and if memory serves, I needed to call load and activate separately for it to render:
[code]
Then I was able to pass it to the provider like this: `<I18nProvider i18n={i18n}>`.

Not sure if that applies to 2.8, but maybe it's a thread to tug on.

[2019-11-09 02:17] keerpawan commented on #574
I'm getting the same [object] [object] issue, but my use case is different.
I have an array
const x = [{text: <Trans>Hello</Trans>}]
In the render I have:
x.map((val) => <Trans>{val.text}</Trans>);

[2019-11-09 03:20] keerpawan commented on #574
Looks like i had an issue where my <Trans> was getting converted to an object. 🤦‍♂

This is my first time using lingui, so still learning

[2019-11-09 03:24] keerpawan commented on #574
I suspect, our issues are related... the select box must be converting the <trans> -> type object, which strips out the $$typeof: Symbol(react.element)

[2019-11-09 14:11] mschipperheyn commented on #574
Yes, the example does offer a workaround. So, hopefully, you'll be able to use that and move forward.

[2019-11-09 15:32] uqee commented on #560
same here, `number` also doesn't work:

[code]

transforms to

[code]

[2019-11-09 15:41] uqee commented on #560
hmm, looks like if `date` and `number` are imported from `@lingui/core` instead of `@lingui/macro`, it works

[2019-11-09 17:18] uqee commented on #560
and `plural` from `@lingui/macro` doesn't work either, but when imported from `@lingui/core` it's actually non-existent there (i.e. undefined), but being properly handled by macros :) also, typescript types want numbers to be strings, which is incorrect

[2019-11-09 17:19] uqee commented on #560
i guess, we should just migrate to lingui v3 soon

[2019-11-12 15:38] MarttiR opened #587 "Make catalog file line number references optional"
**Problem description**
Having line numbers in catalog files creates a *lot* of merge conflicts in a GitFlow-ish workflow when multiple developers are working on the same codebase. The same conflicts happen in each language catalog file and each one must be manually merged twice: first when merging feature branches to develop, and once more when merging to master.

**Preferred solution**
There sho

[2019-11-12 16:50] tricoder42 commented on #587
Hey @MarttiR! What if the `extract` command would resolve merge conflicts in catalog automatically in the same way how `yarn` does it?

Message references and sources would be extracted from the existing codebase and translations would be loaded from the current branch. Ideally we could use the latest translation in merge in case if both `develop` and `feature` branch has updates in translations.

[2019-11-13 08:28] MarttiR commented on #587
@tricoder42 I suppose that would be a step forward, but unless `extract` can parse a file that contains git conflict markers, it would still require manual steps from the developers (at least `git checkout --ours`) before the `extract` command could run at all. Any new translations merged in would be lost at that step, or they would have to be manually recovered from the feature branch. I think a

[2019-11-13 11:01] #584 closed

[2019-11-13 12:44] wpq0 commented on #574
FWIW, here's my work around https://codesandbox.io/s/silly-keller-475lp:
[code]

[2019-11-19 02:23] mpazik opened #591 "Translation validation"
In our team, we have a problem with the verification of translations. Sometimes translators do a typo in variable names or forgot to close a tag or mess up tags orders and nesting.
If there is a problem in translation js lingui in production mode throws a fatal exception as it can not match variables to the translation and the page is not rendered. Which is really bad.

Right now we have a test pa

[2019-11-20 02:36] theKashey commented on #503
* selected for development :)

[2019-11-20 08:27] maktouch commented on #415
Hey @Hotell,

Just to confirm, did you make this work in a monorepo, in which Components are being translated?

I'd love to replicate what you did and when I get it working, I'll help @tricoder42 with the documentation.

I'm currently facing a similar problem with monorepos, I can get everything to work except Lingui, and it's crucial to the developer's experience.

[2019-11-20 13:15] toolness opened #592 "<Trans> component's render method returns a string, which causes React to fail"
I am having problems using a relatively trivial integration of lingui with a Create React App (CRA) application.  The project is open-source and the PR I'm using to test out lingui is at https://github.com/JustFixNYC/who-owns-what/pull/184.  (This PR contains information about what versions of CRA, Babel, and lingui I'm using.)

The problem was that I had set up an `<I18nProvider>` with a very sim

[2019-11-20 21:09] dannysellers opened #593 "formatElements fails with multiple uses of same tag in same scope"
**Bug Description**
When formatting a string with multiple usages of the same component in the same scope, `formatElements` only considers the outermost opening and closing tags

**To Reproduce**
Use a Trans tag like `<Trans id="<0>Superscript</0> regular <0>super</0>" components=[{<sup />}] />`, observe rendered HTML is `<sup>Superscript&lt;/0&gt; regular &lt;0&gt;super</sup>`

[code]

**Expected

[2019-11-20 22:51] tricoder42 commented on #593
Fixed in #594

[2019-11-20 22:51] #593 closed

[2019-11-21 09:20] grapgrapMMT opened #595 "Why plural format mismatch with standard on po file"
**Describe the bug**

I want to translate this code through other platform.
There can accept po file, I extract strings to po file.
But they can not consume yours po file result.

In [this page](https://www.gnu.org/software/gettext/manual/html_node/PO-Files.html), They described the plural format, This is difference with lingui results.

So, can you explain why it is difference, and what can i do

[2019-11-21 22:40] toolness commented on #592
Oh geez, I am feeling a bit sheepish now.  I'm not very familiar with the project I was trying to use lingui on, and I didn't realize it's on **React 15.6.1**, which doesn't seem to support `render()` methods returning strings. The official [current React docs for `render()`](https://reactjs.org/docs/react-component.html#render) do indeed claim that `render()` can return strings:

In contrast, the

[2019-11-22 16:57] youngbob commented on #541
I tracked down what is happening here (same codebase as @ggascoigne, using create-react-app 3.2.0 ). We had set `compileNamespace` to `es` instead of the default `cjs`. On 2.7.4, the "lingui compile" command would generate compiled messages using "export default", but the webpack chunks created by @lingui/loader would be using "module.exports=". On 2.8.3, that behavior changed, and our webpack chu

[2019-11-24 08:11] petrpisek opened #596 "Missing msgstr values in po file"
**Describe the bug**
I'm defining a custom id as
[code]
In the .po file, after I run `npm run extract --format po` I'm getting
[code]
With the msg defined as
[code]

I'm getting
[code]
I expect the extract command to fill also `msgstr `value. The lingui format works as expected. Please advise how to fill  also the `msgstr `values, or confirm this is by design. Thanks.

**Expected behavior**
[code]

[2019-11-24 09:42] #596 closed

[2019-11-24 09:43] petrpisek commented on #596
caused by missing `sourceLocale` in `.linguirc`

[2019-11-25 06:24] tricoder42 commented on #592
Hey @toolness, good point, we should bump the minimum required version. Would you like to send a PR?

Regarding your issue - you can set [`defaultRender`](https://lingui.js.org/ref/react.html?highlight=defaultrender#global-configuration) to automatically wrap string into component you like.

[2019-11-25 10:39] toolness commented on #592
Thanks, yup, custom `defaultRender` is the route we took :)  Will submit a PR to bump the minimum required version soon (I just need to figure out what that minimum version is, it's surprisingly hard to find)!

[2019-11-26 06:47] dcorb commented on #587
This feature will be really useful, please consider to merge it. We came up with a workaround:
In a `removeOrigin.js ` file:
[code]

Then, as npm script:
`"compile-lingui": "lingui extract clean && node translations/removeOrigin.js && lingui compile"`

[2019-12-02 09:12] tricoder42 commented on #593
It has just been released in [2.9.0](https://github.com/lingui/js-lingui/releases/tag/v2.9.0).

[2019-12-02 09:12] tricoder42 commented on #587
It has just been released in [2.9.0](https://github.com/lingui/js-lingui/releases/tag/v2.9.0).

[2019-12-02 09:12] #587 closed

[2019-12-02 09:12] tricoder42 commented on #584
It has just been released in [2.9.0](https://github.com/lingui/js-lingui/releases/tag/v2.9.0).

[2019-12-02 13:25] semoal opened #599 "[2.9.0] - Crash pipeline cannot find module 'typescript'"
**Describe the bug**
Crash on Node projects without typescript

**To Reproduce**
Just use 2.9.0 without typescript installed as peer dependency.

[code]

**Expected behavior**
Not crash, should be built or something like that.

- jsLingui version: 2.9.0

What's the reason to put typescript as peer dependecy, when a lot of projects don't need typescript for anything.
Shouldn't be built before publi

[2019-12-02 13:33] tricoder42 commented on #599
Hey @semoal, what's the error message please? Could you please the code required to reproduce this error to a repository for quicker debugging?

@FredyC: My guess is that cli loads all modules, including Typescript transformer, and that breaks for projects which doesn't use typescript at all? Before these project get typescript installed without notice.

[2019-12-02 13:38] semoal commented on #599
Hi, I can't provide all my code, but it's just a react app with a custom webpack and babel. (not using create-react-app that probably provides typescript under the hood)

Here is the crash:

[code]

[2019-12-02 13:39] FredyC commented on #599
That's exactly what peer deps are for, to have list of dependencies that consumers should install.

Yea, that's about right, but since it's a CLI code, we can wrap `require('typescript')` to `try/catch` and be happy about it. Webpack won't complain there.

[2019-12-04 10:38] osartun opened #601 "Suggestion: Use JSON.parse for message catalogues instead of JS object literals"
Even though it sounds counter intuitive plain JS objects take longer to process than putting them into a string and calling `JSON.parse` on it.

_Source: https://v8.dev/blog/cost-of-javascript-2019#json_
_Video explaining it short and simple: https://www.youtube.com/watch?v=ff4fgQxPaO0_

**Is your feature request related to a problem? Please describe.**
Lingui's message catalogues are embedded as

[2019-12-04 11:27] tricoder42 commented on #601
Hey @osartun, as long as it doesn't make public API more complex, I'm not against it. Would be great to see a benchmark before we start optimizing things.

Anyway, feel free to submit a PR agains `next` branch. If you'd like to release it asap before v3, please backport it to `master` branch as well.

In case of any questions, feel free to ask!

[2019-12-08 23:35] theKashey commented on #599
It's more about - you are able to `require('typescript')` only to parse `.tsx`(if any found), not __statically__ import it for all cases.

[2019-12-10 13:50] osartun commented on #601
@tricoder42 Thanks for the quick response

Unfortunately I don't think I'll take this on myself anytime soon. So, if anyone else wants to tackle this I'd appreciate it.

[2019-12-19 14:49] meysamizadmehr commented on #334
In V2, it was possible to use a default value in the `Trans` component with id. It wasn't overriding it. For example:
[code]
Now in V3, the `id` generated and overridden. The above example is rendered as below:
[code]
Is there any way to not overriding the `id` if it exists?

[2019-12-19 14:53] vonovak commented on #334
@meysamizadmehr I think this deserves a separate issue.

@tricoder42 any news on when v3 could be ready so that the project becomes "more friendly to contributing" (as you said in https://github.com/lingui/js-lingui/issues/334#issuecomment-539018284) Thanks!

[2019-12-19 15:15] meysamizadmehr opened #604 "auto-generated message ID override id in V3"
**Describe the bug**
Auto-generated message ID overrides `id` property in the `Trans` component.  This component
` <Trans id="msg.hello">Hello World</Trans>` will transfformed to ` <Trans id="Hello World"></Trans>`.

**To Reproduce**

[code]

**Expected behavior**
The `id` should override the auto-generated message ID.

**Additional context**

- jsLingui version ``3.0.0-7``

.linguirc
[code]

[2019-12-24 07:29] theKashey opened #606 "`useLingui` should be "React friendly""
**Is your feature request related to a problem? Please describe.**
I want to have elements I could use anywhere in my code, so I do `thing = <Trans>Hello</Trans>`, however sometimes I have to pass this as a string to placeholders and other things.
I could use `Trans.render` to "renderProp" the message, but I would prefer `useLingui._` to translate what I have into the string. Unfortunately that is

[2019-12-28 18:10] hackwaly commented on #425
It doesn't work in 2.9.0.
I got
[code]

[2019-12-30 04:21] theKashey opened #607 "`render` in `Trans` should be a renderProp"
**Describe the bug**
Let's pick example from the docs
[code]

What it is "expected" to be? It's _ducks_ like a render prop, so it would __just__ render an `Icon` with `translation`

What it is? `React.createElement(render, { translation: value })`, so it would be a new, unique `Element` __every render__.

The bug is: that's just not usable at all. It shall be render prop, and could be it, without

[2019-12-30 08:42] gpolanco commented on #415
I have the same problem, any solution for monorepos?

[2020-01-08 00:47] clehene commented on #415
I was able to get the extraction working in a monorepo setup.
We have multiple applications and shared `common-ui` component library built with rollup.js.
In our case the problem was that we were configuring babel plugins directly through rollup rather than `.babelrc`

I was puzzled about how lignui actually works and then realized it uses `.babelrc` so once I had that (using `macros` plugin) the

[2020-01-09 12:15] iCasper1979 opened #609 "export declarations may only appear at top level of a module"
I am using the I18nLoader HOC and @lingui/loader loading message.json crashes with this error.
The error appears here:

/***/ "../node_modules/@lingui/loader/index.js!./locales/de/messages.json":
/*!*****************************************************************!*\
  !*** ../node_modules/@lingui/loader!./locales/de/messages.json ***!
  \***********************************************************

[2020-01-12 10:29] Goues commented on #599
Hello,

any progress on fixing this? Can you update documentation to say that typescript is now required in a minor bump?

Thank you

[2020-01-14 00:04] magicmark commented on #409
@tricoder42 should we reopen this issue? Had a chat about the eslint rule here https://github.com/benmosher/eslint-plugin-import/issues/1553

The current thinking is that the macro should indeed be a regular dependency - and that we should update the docs

[2020-01-14 04:40] tricoder42 commented on #409
Hey @magicmark, we should definitely discuss it in https://github.com/kentcdodds/babel-plugin-macros, because it affects all macros. I searched for relevant issues and could find any.

I guess we should:
1. Open ticket in https://github.com/kentcdodds/babel-plugin-macros with a link to https://github.com/benmosher/eslint-plugin-import/issues/1553 and explain the problem
2. Create a PR to https://g

[2020-01-14 16:18] nickmask commented on #521
Did you ever figure this out? Having the same issue.

[2020-01-14 16:22] aleccool213 commented on #521
@nickmask No :(

[2020-01-16 12:41] TedSean commented on #599
I am facing the same issue. any progress/update on this ?

[2020-01-16 13:05] cllpse commented on #273
I had to add `"babel-core": "^7.0.0-bridge.0"` as a devDependency to get Lingui to play nice.

[2020-01-16 13:19] FredyC commented on #599
It doesn't bother me personally, so either of you is most welcome to work on the PR.

[2020-01-17 15:27] OnkelTem commented on #496
So does this all mean that documentation is misleading regarding the appropriate location of the `locale` dir? It recommends to use just `locale` in the project root, but CRA will never be able to include anything outside of `src`, which means the the default location of must be `src/locale`, right?

[2020-01-17 19:47] jsmirandaiii commented on #599
Hi everyone, install typescript globally should fixed this issue.

`
npm install -g typescript
npm link typescript
`

then you can now
`
npm run extract
npm run compile
`

[2020-01-17 21:16] FredyC commented on #599
@jsmirandaiii That's just silly. Yes, it will work, but it's not a scalable solution. Working on the team it means everyone has to do it. And if running builds in CI, it would need to do the same.

I've outlined the proper solution above and it's not that hard (max 5 lines of code) so what about instead of figuring out hacks you try to collaborate and improve something?

[2020-01-17 21:23] theKashey commented on #599
😎I have an idea how to handle it in 3 lines of code...

[2020-01-18 09:05] #599 closed

[2020-01-18 09:16] tricoder42 commented on #599
Fixed in [v2.9.1.](https://github.com/lingui/js-lingui/releases/tag/v2.9.1) 🎉

[2020-01-18 09:18] FredyC commented on #599
Awesome job @theKashey.

Take the inspiration here, you other people who come here asking when it's going to get fixed. Just 5 minutes of thinking, another 5 minutes of coding and done. Definitely less time than trying to figure out a workaround ;) This is open-source software, it won't get better by complaining, but by doing.

[2020-01-18 09:32] tricoder42 commented on #609
Sorry, I can't help you here. Try to compare your config with working ones in `examples` directory.

Good luck 👍

[2020-01-18 09:32] #609 closed

[2020-01-21 16:56] yzalvov commented on #442
The most straightforward way found
[code]
[code]

Thanks to [hfossli](https://github.com/hfossli) ([source](https://stackoverflow.com/a/41935101/10234952))

[2020-01-29 11:23] jbreckmckye opened #614 "Type safety / provability regarding interpolation"
I'd like to know that messages using interpolation are type safe / provable, inasmuch as they can only use variables provided in the scope the message is used. I'm wondering how I can do that with LinguiJS.

I'll describe what I've tried so far.

Initially I had a crude (partial) solution to this problem using the JSX macros. I could use a `<Trans>` component that pulled all the variables it neede

[2020-01-29 20:26] VinSpee commented on #521
@nickmask the workaround is running `yarn lingui compile` and making this change:

[code]

With that being said, I'd love to have this working in dev too with a raw `.po`

[2020-01-30 14:20] VinSpee commented on #372
Hmm, I'm running into this issue as well, but I added "few" and "many" and am still getting a "missing" warning, even w/ fallbackLocale and sourceLocale specified:

## .linguirc.js:
[code]

## component.tsx
[code]

## generated messages.po:

### source locale (en):
[code]

### pseudo locale (en-PL):
[code]

In the ui, I'm seeing the "fallback" text applied in `I18nProvider` no matter which locale

[2020-01-30 16:17] VinSpee commented on #334
the two links (documentation and migration guide) are 404ing

[2020-01-31 19:27] ckknight commented on #549
You can compile ECMAScript modules by putting `"compileNamespace": "es"` in `.linguirc`

https://lingui.js.org/ref/conf.html#std:config-compileNamespace

[2020-02-08 11:50] jedrichards opened #616 "CLI command `extract --overwrite` deletes msgstr values in source locale po file"
**Describe the bug**

The first time `lingui extract --overwrite` is run then it generates po file entries for the source locale with identical `msgid` and `msgstr` values, e.g.

[code]

But then future runs of `lingui extract --overwrite` will remove the `msgstr` values in existing unedited entries, and changes the above to,

[code]

This renders the source locale po file seemingly invalid, and b

[2020-02-13 06:46] stephenjang commented on #334
@tricoder42 Please check the SSG improvements RFC of https://github.com/zeit/next.js/issues/9524

[2020-02-24 12:01] karolinakuzniewicz opened #618 "I18nProvider's language and i18n.language property can differ from each other"
**Describe the bug**
While setting up the `I18nProvider` with language and i18n as a props and switching the language, the `I18nProvider.language` will be updated while the `I18nProvider.i18n.language` will still contain the init value. Shouldn't the `i18n` instance rely on `I18nProvider.language` current value and update on its change?

**To Reproduce**
[code]

**Expected behavior**
`I18nProvider

[2020-02-26 22:10] tesseralis commented on #510
@tricoder42 @dephiros Is this feature still being worked on? I'm running into the same issue as well on my site and this would really help out!

[2020-02-28 13:49] dephiros commented on #510
Sorry I haven't been available to work on this ☹️

On Wed, Feb 26, 2020, 14:10 Nat Alison <notifications@github.com> wrote:

[2020-03-02 14:09] pybuche commented on #408
Hi !

Any updates on this ?
I have kind of the same problem, but only have the two first warnings:
[code]

At first glance, doesn't look to be a problem for lingui to work, but I'm not completely confident with that x)
I got this error by adding typescript to my project, I already had the `babel-plugin-macros` installed.

Here's my `.babelrc`:
[code]

Thanks !

[2020-03-03 22:08] agwells commented on #514
I experienced a similar issue. The same `ReferenceError', `is undefined` error, under similar circumstances. Except I saw it when running the application (compiled for "dev" mode) rather than during Jest tests. (We don't have a Jest test that executes this code path, so I don't know whether that would have worked or not.)

#### To reproduce

[code]

**Expected behavior**
The component displays the

[2020-03-09 16:26] maleetz commented on #503
Could this be as simple as modifying the `compile` process to emit modules per catalog + automatically generated modules containing translations that are shared between catalogs? After that point, webpack could handle bundling it correctly with the application and we wouldn't need a plugin at all.

Assumptions:

- Catalogs are defined by user to specify "entry points". Users would then include `lo

[2020-03-11 15:04] igorDolzh commented on #560
You could import `t` before `number` or `date` (It is a hack)
I made a fix for this https://github.com/lingui/js-lingui/pull/621

[2020-03-11 16:58] ckknight opened #622 "Use modern React Context"
**Describe the bug**
@lingui/react is using the legacy-styled React context, which leads to warnings in Strict Mode.

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

The console will have a warning akin to
[code]

**Expected behavior**
No warning within the console

**Additional context**
Add any other context about the problem here.

- jsLingui v

[2020-03-18 17:46] tricoder42 commented on #622
Next version (in `next` branch) already uses new context. It just waits until final release.

[2020-03-18 17:46] #622 closed

[2020-03-25 10:05] bitlab-code commented on #334
is there an ETA on a final v3 release @tricoder42, or has been abandoned?

[2020-03-25 10:08] tricoder42 commented on #334
There's no ETA unfortunatelly, but I'm working on it these days during lockdown... I'm trying to figure out what's the current status. I'm working on a Next.js example app, which I want to use to test SSR and SSG. I'll post few updates once I get another pre-release and I'll try to figure out how to split the workload.

[2020-03-27 10:13] lolenko opened #624 "Is there a way to prefix id with a file path"
I'll try to explain
it'll be really cool if you are able to provide such option when output key is path.to.file:id
so in code it's just \<Trans id="hello"\>Hello\</Trans\>  as it is now
but messages.js contains keys what look like path.to.file:id

it's inconvenient now to come up with an exclusive key every time

[2020-04-01 05:38] FredyC commented on #334
@tricoder42 I can imagine it's hard to work on that, you are probably not that motivated anymore, but to be honest we keep hearing from you pretty much the same on the loop. Just promises :/

I am currently standing in front of a new project that I know will require i18n on a rather big scale and even though I love the simplicity of Lingui and what features are planned for it, I will probably have

[2020-04-02 09:53] semoal opened #625 "Syntax Error on Plural React Component"
**Describe the bug**
This error happened after running yarn install, all was working correctly.
It's failing on all <Plural> components I have.

[code]
**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

**Expected behavior**
Don't explode.

- jsLingui version: 2.9.0
- Babel version `7.9.0`

[2020-04-02 10:07] semoal commented on #625
I've fixed it, but i'm not sure why:

In my babel config i have:
[code]

I've removed development settings to the preset and got fixed. :/

[2020-04-03 10:39] stekovinbranturry opened #626 "Migrate from 2.x to 3.x? But the latest release is v2.9.1"
I'm trying to upgrade lingui in my project from v1.x to the latest. Here is a doc about migrate to v3.x https://lingui.js.org/releases/migration-3.html . But the latest release is actually v2.9.1. So I guess it's not able to migrate to v3.x for now?

[2020-04-03 10:58] tricoder42 commented on #626
Hey @stekovinbranturry, please upgrade to 2.x for now. The 3.x release is long overdue but not finihsed yet. If you want to follow latest updates, please check #334

[2020-04-03 10:58] #626 closed

[2020-04-03 11:13] tricoder42 commented on #334
I need to revert to previous pre-release, because this one is unfortunatelly deadend. `i18n` instance can't be global.  Maybe we'll find a better way in the future...

1. Revert macros to previous format, i.e. i18n._(t`...`)
2. Create working example of Next.js project. Doesn't have to be perfect, just make sure it can work with proposed API. I wasn't able to get it working with global i18n instan

[2020-04-03 16:30] FredyC commented on #334
Can you elaborate more on why this change? Why cannot it be global?

For "nice to have" tasks you should perhaps open issues with detail for each one so it's not just in your head and other people can help when you have stabilized essentials.

[2020-04-05 14:52] #625 closed

[2020-04-05 21:12] marcelalburg commented on #273
Any news here to support "@babel/core" ?

[2020-04-06 08:11] pavelkuznetsov opened #627 "Question about removing DateFormat and NumberFormat in v3"
Hello. Thanks for excellent work with lingui!

I am using `NumberFormat` and `DateFormat` from `@lingui/react` in my project a lot. Today i couldnt find them in the docs, but in section `Migration guide from 2.x to 3.x` i found --> `NumberFormat and DateFormat components were removed. Use date and number formats from @lingui/core package instead.`

I'm just wondering is there any specific reason f

[2020-04-06 08:16] tricoder42 commented on #627
Hey @pavelkuznetsov, those components really haven't done anything else than wrapped `i18n.date` and `i18n.number` methods. Any reason why you prefer `<DateFormat value={date} />` over `i18n.date(date)`?

[2020-04-06 10:25] pavelkuznetsov commented on #627
@tricoder42, thanks for quick reply!

I just thought that `DateFormat` and `NumberFormat` are the right way to do this kind of formatting in react app, I think that is the only reason I prefered them in the past :) .

But, if I understand correctly, react components (`DateFormat` and `NumberFormat`) were decorated with `withI18n`, so they rerendered when the active language changed. How will this

[2020-04-06 10:32] tricoder42 commented on #627
Yeah, you need to pull `i18n` object from `useLingui` hook if you want to re-render on locale change. In your example, you need another component with `useLingui` inside:

[code]

You're right that `DateFormat` and `NumberFormat` triggered re-render by itself, while `useLingui` will trigger re-render of the whole component. I don't think it's a bit deal, because when you change locale you usually

[2020-04-06 10:32] #627 closed

[2020-04-07 13:58] capaj opened #628 "I always get "Missing message ID, skipping." when the id is not filled out"
**Describe the bug**
I tried adding js-lingui to this boilerplate: https://github.com/leebenson/reactql

and right out of the gate, I run into this:
[code]

**To Reproduce**
check out: https://github.com/capaj/reactql
and try adding jslingui

**Expected behavior**
extraction adds `<Trans>` even whem missing id fields

- jsLingui version ``lingui --version``: 2.9.1
- Babel version ``npm list babel-

[2020-04-07 17:40] meldafert commented on #609
The problem seems to be the `"compileNamespace": "es"` option in `.linguirc`.
This outputs the compiles lang files as esmodules (with top-level export), which are then fed into webpack as if they were cjs.

To fix this, just use `"compileNamespace": "cjs"` or remove the option as `"cjs"` is the default.

This option appears to be ignored in lingui-loader versions before 2.8.0, but now it is expect

[2020-04-07 17:41] meldafert commented on #555
The problem seems to be the `"compileNamespace": "es"` option in `.linguirc`.
This outputs the compiles lang files as esmodules (with top-level export), which are then fed into webpack as if they were cjs.

To fix this, just use `"compileNamespace": "cjs"` or remove the option as `"cjs"` is the default.

This option appears to be ignored in lingui-loader versions before 2.8.0, but now it is expect

[2020-04-07 17:42] #555 closed

[2020-04-07 19:26] tricoder42 commented on #334
Hey everyone, few updates:

- `i18n` instance remains global. I managed to get Next.js app working. It's not perfect, but good enough for now. It's n `examples/` directory if anyone were intesrested.
- The only macro which returns a message descriptor instead of translation is `defineMessage`. It has the same functionality as `i18nMark` in Lingui v2 - to mark strings for translation, but don't tra

[2020-04-07 19:34] VinSpee commented on #334
Wonderful news. Thanks @tricoder42!

[2020-04-08 10:50] nvdnvd00 commented on #628
I have the same issue

[2020-04-08 16:29] vkodimut opened #629 "lingui extract and compile fail the CI build when changes not committed"
I am trying to find a way when developer make changes to UI component but forget to run `lingui extract` and `lingui compile` and commit the changes to `/messages.json`.
As part of CI build when I run `extract` and `compile` commands I would like the build fail due to changes not being part of branch/PR.
I have tried `lingui compile --strict` option but no luck.

Could you please suggest anything

[2020-04-08 18:50] dananw opened #630 "Lingui JS auto Translation JSON file"
**Is your feature request related to a problem? Please describe.**
any auto-translation for lingui jS?

**Describe the solution you'd like**
i create a tools for simply Translation JSON file from lingui to other languages.

https://auto-translation.now.sh/

[2020-04-08 19:46] tricoder42 commented on #630
Pretty good! I'm gonna feature it in LinguiJS docs as soon as I finish v3. Great stuff 👍

[2020-04-10 23:25] nmoinvaz opened #633 "willActivate is not a function"
**Describe the bug**
When trying to use the `i18n.willActivate` function Javascript reports a function not found error. This function is mentioned in the migration docs [here](https://lingui.js.org/releases/migration-3.html) and also on this third-party blog [post](https://dev.to/stereobooster/i18n-of-react-with-linguijs-1-24oi).

**To Reproduce**
Attempt to use willActivate as mentioned in the mi

[2020-04-11 02:52] bfelbo commented on #580
@HommeSauvage We're in the same situation. Did you find a solution?

[2020-04-11 04:34] tricoder42 commented on #633
Hi @nmoinvaz, sorry for confusion, migration docs aren't updated yet. You can take a look at [`Create React App` example](https://github.com/lingui/js-lingui/blob/next/examples/create-react-app/src/i18n.config.js) and [`Next.js` example](https://github.com/lingui/js-lingui/blob/next/examples/next-js/utils/i18n.ts).

In short, `willActivate` was removed. `didActivate` was replaced by `i18n.on('chan

[2020-04-11 04:34] #633 closed

[2020-04-11 14:15] tricoder42 commented on #607
Hey @theKashey, good catch. Could you please create PR with this change agains `next` branch? The branch is stable again and ready for contributing.

[2020-04-11 14:27] tricoder42 opened #634 "Add formatOptions.origin to PO format"
Working on reference documentation for configuration I've found that `formatOptions.origins` is missing in `@lingui/conf` package (probably due to wrong merge). Moreoever, even the original [commit](https://github.com/lingui/js-lingui/commit/b1a109aa30f3fc3d8279cf978cd56528f7ca197a) adds this feature to `lingui` format only and not PO format.

This feature removes origin lines (e.g. `App.js:3`) fr

[2020-04-11 14:38] tricoder42 commented on #334
Hello and happy Easter holiday if you celebrate it 🐣

- New pre-release: **3.0.0-10**
- New task if you want to get involved #634 (this should be easy-moderately difficult)
- [Configuration reference](https://js-lingui-git-next.lingui-js.now.sh/ref/conf.html) was reviewed and updated. They should reflect config in latest pre-release. If you're native english speaker or english level 9000, feel fre

[2020-04-11 16:22] tricoder42 commented on #575
Hey @ixrock, I think all your issues are fixed in  latest pre-release. Please check it out and let me know if problems persist.

[2020-04-11 16:22] #575 closed

[2020-04-11 16:25] tricoder42 commented on #578
Hey @janicduplessis, unfortunatelly at the moment you have to use global instance with macros. You are able to use use the library *without* macros though. Maybe we'll revisit it in the future after v3 release, but right now I don't have resources to make it work.

[2020-04-11 16:25] #578 closed

[2020-04-11 16:30] tricoder42 commented on #606
Hey @theKashey, this proposal makes sense. I guess we need to call [`renderToString`](https://reactjs.org/docs/react-dom-server.html#rendertostring), because `i18n._` returns always a string.

Do you have any idea how to solve it so the `@lingui/core` doesn't need `React` as a dependency. Some kind of wrapped imported from `@lingui/react`?

Feel free to sketch your idea and send a PR. Please use `

[2020-04-11 16:51] tricoder42 commented on #562
This feature is already implemented in v3 (`next` branch). You can sort by messageId or origin.

[2020-04-11 16:51] #562 closed

[2020-04-11 16:54] tricoder42 commented on #561
I've opened [Kialo discussion](https://www.kialo.com/what-to-use-as-message-ids-in-internationalization-25159) to explore this topic. Please check all arguments and feel free to enter discussion.

[2020-04-11 16:54] #561 closed

[2020-04-11 16:56] tricoder42 commented on #567
This issue might be already solved in v3 (check #334, only pre-release available at the moment). You can call `i18n.activate('locale')` and `I18nProvider` will be updated automatically.

[2020-04-11 16:57] #567 closed

[2020-04-11 16:59] tricoder42 commented on #541
Sorry for the hassle. Not sure how breaking change slipped through minor release, but next release will be major anyway, so I'm closing this one to save time. Checkout #334 for more info.

[2020-04-11 16:59] #541 closed

[2020-04-11 17:04] tricoder42 commented on #535
Hey @nodkz, are you still interested in tackling this task? If so, feel free to reopen and send a PR using `next` branch as a base. I believe if you want to access `lingui.config.js` you need to write a custom macro (which has access to fs).  You'll need to take into account also new [`catalogs` config](https://js-lingui-git-next.lingui-js.now.sh/ref/conf.html#catalogs)

That macro could expand in

[2020-04-11 17:04] #535 closed

[2020-04-11 17:07] tricoder42 commented on #533
Types should be exported in all packages in latest pre-release (check #334 for latest status). I've tested especially types for `macros`.

Feel free to reopen and send a PR using `next` as a base if problem persists.

[2020-04-11 17:07] #533 closed

[2020-04-11 17:11] tricoder42 commented on #624
Personally I prefer original message to be used as a key. I understand that some people make their own IDs and they usually try to make them as helpful as possible for translators, eg: `Login Page \ Main sign up button`.

Anyway, this seems to be a duplicate of #402.

[2020-04-11 17:11] #624 closed

[2020-04-11 17:13] tricoder42 commented on #549
@moodyjmz Please try @ckknight suggestion and reopen if you problem persists.

[2020-04-11 17:13] #549 closed

[2020-04-11 17:22] tricoder42 commented on #334
Also if anyone has a spare time for coding, #406 implements a new feature. The PR is finished, with updated docs. It just requires a rebase against `next` branch and copy/migrate changes.

![](https://media.giphy.com/media/LSX5dYGZJ2Z7fy5rA4/giphy.gif)

[2020-04-11 19:00] FredyC opened #642 "Cannot read property 'locale' of null for `@lingui/loader`"
**Describe the bug**
App crashes when using `@lingui/loader`

**To Reproduce**
Install deps and run example of `create-react-app` from `next` branch.

**Expected behavior**
It should work :)

**Additional context**
![image](https://user-images.githubusercontent.com/1096340/79052362-4e2ef580-7c36-11ea-9e14-d9bd15691e4d.png)

It's coming from this line. Apparently the `getCatalogForFile` returns `nu

[2020-04-11 19:01] FredyC commented on #334
So I see that `localeData` is not exported from `@lingui/core`. In examples you are importing `make-plural` module. I wonder why is it as a dependency of the core if it's not used there? I see it more like a recommendation, custom implementation is possible.

I wonder how to approach the dynamic loading of `make-plural` to have it tree shaken. Having a simple generated file per locale which would

[2020-04-11 19:20] tricoder42 commented on #642
Unfortunatelly I can't test it on Windows. Let me know what you've found 👍

[2020-04-11 19:29] tricoder42 commented on #334
`make-plural` package has a [CLI](https://github.com/eemeli/make-plural/tree/master/packages/cli), which you can use to create your own bundle of locale data. I though about porting it to Lingui, but it's not a breaking change, just an improvement, so it can be implemented anytime later. As you say, `make-plural` is just one library. You can use any other which provides plural rules from CLDR data

[2020-04-11 20:11] FredyC commented on #334
Well, I don't think we need to add the command to generate those into a project. I am thinking about approach of providing default locale data pre-generated as a set of files inside the `core` package. Each file would export data for a single locale in a format you've described. The benefit is that such an approach can be tree-shaken and dynamically imported.

Btw, what about ordinals/cardinals fr

[2020-04-11 20:20] tricoder42 commented on #334
Plurals contains both ordinals/cardinals.

I though about re-exporting individual packages as well, but again: it's not a breaking change, just an improvement. It can wait after v3 release. Feel free to tackle it if you have spare time. `@lingui/core/locales/{code}`  would be good place, but you gonna need to change the build script as well.

[2020-04-11 20:33] FredyC commented on #334
Are you sure about that? When I look at the [plural definition for `en`](https://github.com/eemeli/make-plural/blob/master/packages/plurals/plurals.js#L213) it's much different than [ordinals](https://github.com/eemeli/make-plural/blob/master/packages/plurals/ordinals.js#L89) or [cardinals](https://github.com/eemeli/make-plural/blob/master/packages/plurals/cardinals.js#L10). Or do you mean [plugin

[2020-04-11 20:58] FredyC commented on #642
So it seems the `minimatch` is a culprit here. Looking at the `getCatalogForFile` when I have `src\locales\{locale}.po` in input the resulting regexp is `/^(?:src\/locales\/([^\/.]+)\.po)$/` expecting wrong separator and then match fails because webpack provides file name with backward slash as well.

https://github.com/lingui/js-lingui/blob/24d521ff385647f69f73188fd35e07079efdc1f3/packages/cli/sr

[2020-04-11 21:22] tricoder42 commented on #334
In plurals, second argument is ord which tells the function whether you want cardinal or ordinal plural form. It’s two functions merged into one. I’ve just checked english plural functions and it holds.
On 11 Apr 2020, 22:33 +0200, Daniel K. <notifications@github.com>, wrote:

[2020-04-11 21:24] FredyC commented on #642
I have found [micromatch](https://www.npmjs.com/package/micromatch) which seems to be the successor that actually works.

And now I am freaking out because snapshot testing is a huge problem here. All tests are failing for me because of wrong path separators in snapshots :/

[2020-04-11 21:35] tricoder42 commented on #642
If you know that the snapshots are correct, just accept them and yolo. I’ve checked appveyor which runs tests on windows and the tests pass there. Feel free to push even unfinished pr, I’m gonna check it in the morning. Cheers 👍
On 11 Apr 2020, 23:24 +0200, Daniel K. <notifications@github.com>, wrote:

[2020-04-12 03:32] janicduplessis commented on #578
👍 I'll investigate using without macros where this caused issues.

[2020-04-12 04:04] theKashey commented on #606
Well, `renderToString` would be an overpower, and well, not an option - you need `renderToString` only to render "random react components" inside `Trans`, and they could be random enough to require something(anything!) from context, which would be cut. Ie `renderToString` is all about isolation.

I do have a function called `dereference` which could translate `Trans` to a string, and if it will fo

[2020-04-12 04:04] theKashey commented on #607
Sure

[2020-04-12 08:16] stovmascript commented on #334
I'll take a stab at this.

[2020-04-12 09:11] tricoder42 commented on #606
I'm getting a little bit lost. Could you please show me few examples?

For example, why can't you run `thing = t'Hello'` instead of `thing = <Trans>Hello</Trans>`? And how the `dereference` function works, when you render component to string using current component tree?

[2020-04-12 23:49] theKashey commented on #606
For example - let's imagine I have a variable created as you've proposed
[code]
It is actually not usable until(it's an object) passed `through lignui`, so I am not able to do this - `<h1>{ProductName}</h1>`

So I am changing my code to `const ProductName = <Trans>GitHub</Trans>`.
Works this time with React code `<h1>{ProductName}</h1>` 👍, but if I need it to pass as a string anywhere - 😭.

So in

[2020-04-13 05:53] tricoder42 commented on #606
In v3 all js macros return translation, not an object:

[code]

I guess that solves your problem?

Why don't you use `i18n._` here?

[code]

[2020-04-13 06:22] theKashey commented on #606
Well, there is a cool feature of Lingui - you can just add it into your code, wrapping stuff with `Trans`.

[code]
So all "constants", by induction,  are expected to be "just wrapped" with Trans, and just work in the corresponding Components without any extra changes.
And it actually would, except a few rare cases which expect string as an input.

But you cannot pass `Trans` component into `i18n._

[2020-04-13 06:54] FredyC commented on #642
Fixed in #643

[2020-04-13 06:54] #642 closed

[2020-04-13 06:56] FredyC commented on #334
@tricoder42 I keep wondering if `i18n` is meant to be global, why is there a hard dependency on using `I18nProvider`? I mean using `<Trans>` fails because `useLingui` throws. It would be much nicer if it could just use `i18n` from a core in case there is nothing in the context. I can do PR if you agree.

[2020-04-13 07:07] tricoder42 commented on #334
What do you mean? In what cases `<Trans>` fails?

`i18n` object may be global, but it doesn't have to be. You can configure macros to use your own instance using [runtimeConfigModule](https://js-lingui-git-next.lingui-js.now.sh/ref/conf.html#runtimeconfigmodule). If we hardcode it to `Trans`, we loose this ability.

Using context is also required when you want to listen for changes in catalog/acti

[2020-04-13 07:21] FredyC commented on #334
![image](https://user-images.githubusercontent.com/1096340/79100979-ed073f00-7d67-11ea-85ff-5c44720302f9.png)

Consider the simplest of cases for a small app where I don't need multiple catalogs, no listening for changes. I simply want to import `Trans` and use it with default `i18n` instance exported from `core`.

I am merely suggesting that instead of `useLingui` throwing, it could use that expo

[2020-04-13 08:32] tricoder42 commented on #334
I'm just afraid this is going to be very difficult to explain and document.

Default approach:
- Don't use `I18nProvider`
- Don't use `useLingui`
- Always import i18n instance directly from `@lingui/core`
- When new catalogs are loaded or locale has chaged, force page refresh

Advanced approach (custom i18n instance, switch locale without refresh):
- Use `I18nProvider`
- Use `useLingui` when you n

[2020-04-13 08:41] tricoder42 commented on #606
So what do you say about upcoming `t` macro?

[code]

- use `t` when you need plain string
- use `Trans` when you need html markup

[2020-04-13 08:44] tricoder42 commented on #4
Close due to inactivity 🕴️

[2020-04-13 08:44] #4 closed

[2020-04-13 08:47] tricoder42 commented on #154
I'm closing this issue as it becomes a bit obsolete. If anyone recentl migrated from react-into to LinguiJS, feel free to send a PR with migration guide.

[2020-04-13 08:47] #154 closed

[2020-04-13 08:57] FredyC commented on #334
Well, I see it in a slightly opposite way. You make the default approach sound too difficult with those negatives there :)

But you are right it's not a breaking change. I will open a new issue with thoughts and we can get back to it when V3 is stable.

[2020-04-13 09:12] stovmascript commented on #334
I wasn't really following along, but what "page refresh" by default? Why would anybody want that in their JS app?

[2020-04-13 09:17] tricoder42 commented on #334
@stovmascript Switching locale without page refresh requires a little bit more complex setup. Even `react-intl` simply re-renders the whole app (without refresh) when locale changes.

On the other hand, this isn't very common user interaction. In 95% cases the correct locale should be detected. If it's not, you switch it, it's stored in cookies/localStorage and from that point you won't touch it a

[2020-04-13 09:22] tricoder42 commented on #591
Hey @mpazik, I would love to see this feature in Lingui.

1. How do you validate typos in message arguments? We could extend macros by adding "expected" arguments into message metadata and use it for validation. This would be useful e.g. when you use custom IDs, which doesn't include placeholders:

[code]

2. Validation of HTML should be possible without other changes I guess.

Please let me know

[2020-04-13 09:28] renchap commented on #508
Running your bundler once per locale will generate the most optimized code, but will incur a big slowdown in your build process.
An alternative, which should also be easy to implement, is to build it once using a placeholder catalog and then replace this placeholder with each locale's catalog, creating the final bundles.

This is definitely less optimized, but in practice if you manage a lot of la

[2020-04-13 09:33] tricoder42 commented on #508
This is great article, thank you @renchap 👍  Right now I don't work on this feature, as I'm busy with #334. I'll definitely review it later.

[2020-04-13 09:34] stovmascript commented on #334
@tricoder42 Sorry, last time I used react-intl was v2.3.0 and I don't even remember there being an option. Yeah, setup might be a little hurdle, but it's something you do once and then maybe some maintenance as you upgrade the lib. Nothing really changes throughout the app.

About it not being a common interaction, from my experience, the need to reload a JS app usually means there is some other p

[2020-04-13 09:45] FredyC commented on #334
@stovmascript It's a big difference if your app reloads out of bug and when it reloads after a specific user action (language change) that is under your control. If you fear that the user won't understand reload, you can always explain in before that action happens.

[2020-04-13 09:52] FredyC commented on #618
I suppose this is no longer issue since `I18nProvider` is accepting `i18n` instance only. I suggest closing this.

[2020-04-13 09:56] bitlab-code commented on #334
@tricoder42 consider in v3 that one of the advantages of having global i18n was that of not importing it every time when use the macro `t`

[2020-04-13 09:56] stovmascript commented on #334
@FredyC You've made my point about the loose end - you have to do more work to explain it to your users. Also as @tricoder42 noted, it's not isomorphic and the list will continue to grow as your app gets more complex.

I just don't think it's that big of a deal to configure your app to work without having to reload. If it seems it's not possible, then there's most likely some other issue in the ap

[2020-04-13 10:08] FredyC commented on #334
@stovmascript You don't **have to** explain, most users won't care that refresh happens. Unless it would reset form or something for them, that would be bad. Considering they will literally do it once per device if auto-detection fails, it's not such a problem.

I may think it's easy to make a dynamic switch of locale, but I tried in the past and there are so many small things you need to consider

[2020-04-13 11:50] sassanh commented on #334
In my webapp I already have this feature (switching language/locale without page refresh or application re-render) I spent some time to achieve it with linguijs. I don't expect to lose a feature after upgrading a library to a new version.

[2020-04-13 12:17] FredyC commented on #334
@sassanh Yea exactly, it's not easy to set up and I am sure if you would run some numbers you would realize it was a pure waste of time :) Nonetheless, nobody is saying it won't be possible to have dynamic locale switching further on. We are just talking here that it's generally easier not to bother about it and how that can simplify the use of the library if developer decides to follow that path.

[2020-04-13 14:16] sassanh commented on #334
I'm glad nobody is saying that because dropping a feature in the new version of a library without going with deprecation cycle is a strong signal for many developers to migrate from it. A good library shouldn't be opinionated about how it is used and I'm glad it's the case for lingui. There are cases in which switching language is not something that happens only once per device.

[2020-04-13 14:38] FredyC commented on #334
Can you elaborate on that? I am curious. Are you talking about enterprise software? Not sure they would actually use an open-source library maintained by one person (no offense).

[2020-04-13 14:47] tricoder42 commented on #334
Just to sum up, in v3 you'be able to:
- switch locale without refresh using combination of `I18nProvider` and `useLingui`
- switch locale with forced refresh which allows you to drop `I18nProvider` and `useLingui` completely.

Please keep the dicussion focused on features which might require breaking change of API or missing pieces. Everything else might be discussed and released later.

[2020-04-13 16:24] bitlab-code commented on #334
@tricoder42 what about the macro `t`?
you confirm that in v3, with `i18n` global, there is no more need to write:
[code]
but just
[code]
to have the translated text

[2020-04-13 16:36] FredyC commented on #334
@bitlab-code That is correct, it works just fine, I am using it with the latest version.

[2020-04-13 16:40] FredyC opened #649 "RFC: Better approach to I18nProvider and i18n instance"
_Note: In the end, I realized I am probably making a too big fuss about this, but it's sort of good summarization that I don't want to just throw away_

## Summary of behavior (as of 3.0.0-10)

The `@lingui/core` exports the `i18n`. There is no need to call `setupI18n` in most cases. The migration docs are [currently misguiding in that](https://js-lingui-git-next.lingui-js.now.sh/releases/migratio

[2020-04-13 16:48] tricoder42 commented on #649
I've just realized that you can also use `I18nProvider` to set `defaultRender` prop https://github.com/lingui/js-lingui/blob/d052f20a1f2d55501c4b42b02bb419211d9714c9/packages/react/src/I18nProvider.tsx#L52-L57

[2020-04-13 17:02] FredyC commented on #649
@tricoder42 That means what actually? :) It's probably very rarely used, hardly warrants as a main reason to require the use of `I18nProvider` imo ;)

[2020-04-13 17:04] tricoder42 commented on #649
Just a note it's not only for `i18n` instance. It was added for react-native support, where you need to wrap all strings in `<Text>` component.

[2020-04-13 17:09] tricoder42 commented on #560
Hey guys, please use `i18n.number` and `i18n.date` instead of macros. `date` and `number` macros were removed in v3. That should solve your issue. The other half (#621) is solved as well.

[2020-04-13 17:09] #560 closed

[2020-04-13 17:40] tricoder42 commented on #334
Hey everyone, I've updated roadmap in first comment ☝️

Once all breaking changes are implemented we can ship RC and work on documentation, bug fixes and final polishing. There isn't much stuff left, so we could see this land in ~2 weeks 🤞

[2020-04-13 22:43] theKashey commented on #508
Thank you @renchap - I was looking for this article for a while.
I could agree - the best code with translations, is code without translations, ie when they "disappear". As well as probably this solution is the only one truly bundler independent.
However I believe that we could do better (working on it right now)

[2020-04-13 22:57] theKashey commented on #591
(we are on one team) Right now we just checking that all required placeholders exists. Nothing more. That solves 99% of problems.
The check is separated per `{}` and `<>` placeholders, so they cannot change their types.

[2020-04-13 22:59] theKashey commented on #606
So - could `subject` be defined outside the React component, where no context is present and selected language, as well as possible translations are not known?

[2020-04-14 00:34] nmoinvaz opened #655 "Children of <option> can't be React elements"
**Describe the bug**
When using a `<select>` element instead of a `<ul>` element to switch the language, it does not translate dropdown text properly.

**To Reproduce**
Use the following code in `LocaleSwitcher.js`.

[code]

**Expected behavior**
I expect the text in the dropdown to be translated. Notice that the first `<Trans>` element is translated but not the `<Trans>` element in the `<option>`

[2020-04-14 07:42] tricoder42 commented on #591
How do you know what placeholders the message uses? You have them in message id?

[code]

[2020-04-14 07:45] tricoder42 commented on #606
No, you would have to use `defineMessage` for "lazy" translations:

[code]

I guess we could improve it here: If you pass message descriptor as a value, library will translate it automatically. If you pass an object, which isn't a descriptor, the library will throw an error.

[code]

[2020-04-14 08:40] FredyC opened #656 "[next] Refactor extraction stats output"
Currently, stats are commented out due to the complexity of multiple catalogs.

https://github.com/lingui/js-lingui/blob/03ce90086a698e0cc030d188c0a7e2cb4d0b787b/packages/cli/src/lingui-extract.ts#L49

We can discuss here how it should look like to be actually useful. Alternatively, it might be worth to keep extract command simple with some short summarization and instead add a new command that wo

[2020-04-14 08:41] FredyC opened #657 "[next] Refactor pseudolocale"
I never used pseudo localization so I am not sure how it's supposed to work, but it's currently commented out from extract command. This should be fixed before V3 comes out otherwise it's a breaking change.

https://github.com/lingui/js-lingui/blob/03ce90086a698e0cc030d188c0a7e2cb4d0b787b/packages/cli/src/lingui-extract.ts#L42

[2020-04-14 09:05] tricoder42 commented on #657
Pseudolocalization creates a catalog in another locale where all translations (or ids) and passed through `pseudolocale` function. I think the only missing piece here is add an extra locale at runtime and catalogs should handle the rest. This happens in `createCompiledCatalog`, so when you run `lingui compile`

[2020-04-14 12:53] kirillku commented on #334
Thanks for a great job! Really waiting for this to be released. I'm working on one project now and we are about to switch to from custom localization solution to some proper one. I want to proceed with `lingui`, but need `v3` changes to convince others. Is there anything I can help you with ? Or some good first contribution issues?

[2020-04-14 12:54] FredyC commented on #334
@kirillku There is a list in the first comment and also some open issues with Help wanted label.

[2020-04-14 19:09] tricoder42 commented on #334
@kirillku It would be really helpful if you try to follow [migration guide](https://js-lingui-git-next.lingui-js.now.sh/releases/migration-3.html) and update your project. I've just updated this document, so it should reflect latest changes. It definitely needs a review and proofreading. That would help me a lot 👍

If you want to get more involved, there're few issues where you either need to migr

[2020-04-14 22:26] mpazik commented on #591
@tricoder42 We load the source file (extracted translations) to memory and then compare translation agains it.
Not sure if loading a file to memory is an issue. Our source file have less then 100KB but it think it should be fine up to like 100MB which is a lot of text. Not sure if there are such cases.

Regarding what exactly we do check:
- all declared ICU variables in translation exists in the s

[2020-04-15 03:42] theKashey commented on #591
We are parsing the message format and checking that all placeholders used in translation were provided for the original translation. The secondary check, like are they are really provided to the `Trans`(a problem for `react-int`) is not required, as long as there is no way you can "forget" to provide it using standard semantic. However, `intl._` is not secured.

Actually, that broke Japanise trans

[2020-04-15 03:48] theKashey commented on #606
Yeah. This is a `macro` moment I was not able to understand - like `macro` works on imports, and I am getting `i18n` as a variable from context/renderProps.

Proposal - inject `i18n` or better replace `t` by a "React" version via babel:
[code]

[2020-04-15 06:31] tricoder42 commented on #606
`t` macro actually injects import of `i18n` instance:

https://github.com/lingui/js-lingui/blob/314a5ec6bdb13ee089e7f66b58e9a3408c4b9fa6/packages/macro/test/js-t.ts#L3-L13

[2020-04-15 06:38] tricoder42 commented on #618
Indeed, this should be already fixed in v3. New version should be released within few weeks. Thank you for raising an issue and sorry for late response

[2020-04-15 06:38] #618 closed

[2020-04-15 09:21] mpazik commented on #591
I see, the checks were relaxed recently in our repo, I haven't fetch master of that project since few weeks.
I agree that they sould only catch issues that would break page rendering.

[2020-04-15 15:15] grayhound commented on #574
Issue is old, but still here's my workaround. Just user "renderToString"

[code]

This will also help with some props for input, for example:
import { renderToString } from 'react-dom/server'

[code]

[2020-04-15 18:31] nmoinvaz commented on #655
Also when using the dropdown, reselecting a language that was previously loaded dynamically results in a `TypeError: Cannot convert undefined or null to object` in the call to `i18n.load`.

[2020-04-16 06:57] tricoder42 commented on #655
Hey @nmoinvaz, could you please create a repository with minimal example so I test it quickly? Cheers 👍

[2020-04-16 13:04] mpazik commented on #591
I did some more investigation and I changed my mind.
I think that any typo in the translation shouldn't break the page in the runtime, perhaps it could cause a giltch in the dispalyed text like variable would be ignored or an extra tag would be displayed like `Hello <1>`.

Some of the issues that used to break a page don't break it any more.
It will rise a bug for the remaining like using tag that

[2020-04-17 04:16] nmoinvaz commented on #655
See `nmoinvaz/js-lingui` branch `bugs/locale-switch-select`.

[2020-04-18 01:08] rafalp opened #659 "# in <Plural> is not formatted, format prop is not supported"
**Describe the bug**
[Documentation](https://lingui.js.org/ref/macro.html?highlight=formatted%20using%20number%20format#jsxmacro-Plural) for `Plural` mentions this:

...but I've didn't find this to actually be the case.

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

**Expected behavior**
Above component should display "10,000", but instead it di

[2020-04-18 18:30] rafalp commented on #659
Ok, this is super-weird: pluralization appears to work just fine once catalogues are provided, so its not a bug I guess? Sorry for hassle!

[2020-04-18 18:30] #659 closed

[2020-04-19 11:34] kirillku commented on #634
Should it be `formatOptions.origin` (as in the issue) or `formatOptions.origins` (as in the reference commit)?

[2020-04-19 14:25] tricoder42 commented on #634
@kirillku My bad, please keep `formatOptions.origins` from the reference commit.

[2020-04-19 18:40] newash commented on #580
For me `i18n._(/*i18n*/ { id: 'text' })` did the trick.
(see the note before https://lingui.js.org/ref/macro.html#t)

[2020-04-19 19:23] tricoder42 commented on #580
Indeed, adding `/* i18n */` does the trick. The CLI doesn't depend on macros. Feel free to browse [test cases](https://github.com/lingui/js-lingui/tree/next/packages/babel-plugin-extract-messages/test/fixtures), documentation is being updated at the moment.

[2020-04-19 19:23] #580 closed

[2020-04-19 20:07] tricoder42 commented on #334
Hey everyone, new pre-release **3.0.0-11** was just published to NPM.

Unfortunately I didn't have much time last week, but there're several merged PRs - compatability with Windows #643, improved typings #651 and other minor fixes. Lot of PRs are ready, just waiting for review. More improvements hopefully next week 👍

[2020-04-19 20:54] lucasecdb opened #663 "[next] Misleading migration guide regarding `i18n.load` and importing compiled catalogs"
**Describe the bug**

I'm getting a TypeScript error when using the method `i18n.load`. Probably something in my messages catalog is wrong, or the typings for the `CompiledMessage` type is incorrect. Here is the full error (I omited my catalog definition to reduce clutter):

[code]

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

The above code wi

[2020-04-20 08:11] tricoder42 commented on #663
It seems you're passing default import directly to i18n. You should only pass `messages`:

[code]

Snippet from Next.js example:

https://github.com/lingui/js-lingui/blob/b3c10f2452a0efc085c1bf4289241b3e7cebd943/examples/next-js/utils/i18n.ts#L7-L11

I noticed the migration docs have this wrong... Feel free to send PR if you have time. I might get to it later this week. All changes should be trivi

[2020-04-20 11:00] lucasecdb commented on #663
I'm actually only passing the `messages` export. This is how I imported it:

[code]

Sorry for not including it in the issue description :-/

[2020-04-20 11:06] lucasecdb commented on #663
If you want to take a look, I have my PR with the upgrade from `v3.0.0-5` to `v3.0.0-11` opened [here](https://github.com/cramkle/cramkle/pull/101).

[2020-04-22 08:52] Bhim3807 commented on #105
@tricoder42  same issue with my project also unable to extract messages after running lingui extract

[2020-04-22 10:33] mpazik commented on #591
I raised pull requests for cases that I found that could cause errors.
I'll try to raise PR for the feature this week.

[2020-04-23 07:58] panuhorsmalahti commented on #642
I still get this issue with 3.0.0-11. I checked that _getCatalogForFile is null for me (on Windows).

[2020-04-23 08:10] FredyC commented on #642
@panuhorsmalahti Can you try some reproduction repo? It works fine for me (also on Windows). Perhaps you have found a different edge case there.

[2020-04-23 08:16] panuhorsmalahti commented on #642
Yeah, it seems to be a different issue. The catalog glob in the function is a different path from the file:
catalogGlob: locale/*/messages.po
file: src\locales\en\messages.po

And the catalog location for me seems to be default: https://github.com/lingui/js-lingui/blob/next/packages/conf/src/index.ts#L43
I'll try changing that, sec.

[2020-04-23 14:16] mschipperheyn commented on #334
With regards to that "refresh" requirement. I hope this is not a hard page refresh. We use @lingui in react-native, and the concept of a page refresh doesn't exist there. Personally, I wouldn't mind a full app rerender for a language change.

[2020-04-24 02:03] VinSpee commented on #334
Hi!

Today I upgraded our app to 3.0.

I have some minor feedback on the migration guide which I will detail once I've completed the migration.

I have a question regarding the next.js example. How do I best detect the language and load the catalog on the server?

<details>
    <summary>in v2 I was using a (pretty complicated) approach like this:</summary>

[code]
</details>

I tried following the

[2020-04-24 16:46] GitDeluxe opened #679 "Lingui extract cause allocation failure in prod env"
**Describe the bug**
In production environement when I run ` lingui extrat && lingui compile` . I get this fatal error that indicate some allocation failure .

[code]
**Environement**

Prod environement :

WindowsServer 2016 RAM 8G0 CPU Xeon 2,4G
   node 10.1.3
  @lingui/react ^2.8.3 ,
   react 16.8.6
   @babel/core":  ^7.6.4 ,
   @babel/preset-env":  ^7.5.5 ,
   @babel/preset-react":  ^7.0.0 ,

I

[2020-04-24 17:38] Pa22 commented on #679
The same problem for me.

[2020-04-25 13:13] lx30011 opened #680 "[next] TypeError: t is not a function"
**Describe the bug**
Using the `t` macro causes a `TypeError: t is not a function` error.

**To Reproduce**
I'm currently in the process of migrating lingui in one of my Gatsby apps from v2 to v3 and encountered this issue.
I have a config file from which I source my site navigation links. I'm using the `t` macro to prepare the labels for translation:

[code]
The module has to use CJS instead of E

[2020-04-25 13:21] tricoder42 commented on #680
Macros can be used only in files which are transformed with `babel-plugin-macros`. I guess this file isn't (for the same reason it's not ES).

Your only option is to define messages manually:

[code]

`/*i18n*/` comment won't translate any string. It only marks them for extraction for `lingui extract` command. You need to translate them manually when you render them:

[code]

[2020-04-25 13:28] lx30011 commented on #680
Silly mistake, that's probably it. Thank you!

[2020-04-25 13:31] #680 closed

[2020-04-25 17:00] arcanis commented on #334
I have one question about something I didn't see mentioned in the migration guide: from what I gather, v2 supported message IDs with `t`:

[code]

However this doesn't seem to be the case anymore (the types seem to prevent it, and the code doesn't seem to support it anymore). Are IDs discouraged?

[2020-04-25 17:35] arcanis commented on #604
Together with `t` not supporting ids anymore, it sounds like custom ids aren't possible at all with the new macro implementations.

[2020-04-25 17:59] FredyC commented on #334
@arcanis AFAIK for the custom ID you have to use `defineMessage` or there was some way with magic comments for the `t` but I am not exactly sure how that looks like.

@mschipperheyn

As it was said, Lingui 3.0 won't prevent changing locale in runtime, it's just a bit more convoluted. I think that for a native app the equivalent of "page refresh" is a restart of the app. It may sound nasty, but the

[2020-04-25 19:45] bitlab-code commented on #334
I haven't tried the beta yet, but if you really need to restart the app to change the translation it seems an almost ridiculous solution

[2020-04-25 20:15] FredyC commented on #334
@bitlab-code For the last time, there is NO LIMITATION from the Lingui side that would force you to reload/restart the app. It's merely about that it's usually not worth the developer effort to figure out all edge cases for "dynamic locale change". I was on this boat in the past too, but @tricoder42 helped me to realize (#508) that it's unlikely to hinder user experience.

[2020-04-26 07:40] tricoder42 commented on #604
Custom ids in `Trans` should be supported. `t` macro doesn't support them - you should use `defineMessage` instead, which is more verbose.

[2020-04-26 07:42] tricoder42 commented on #604
What happens if you remove expression parenthesis? i.e. `<Trans id="msg.hello">Hello World</Trans>`

[2020-04-26 08:17] tricoder42 commented on #334
@VinSpee Thank you for you report!

That's not included in LinguiJS right now, but I would love to see that. There's an open issue if you had a capacity to tackle it (#577). An existing tool is also mentioned in that issue.

What do you mean? Preloading catalog on server and passing them to client? I haven't figured out this part yet, but it should be possible with current API.

[2020-04-26 15:05] lucasecdb commented on #663
I just figured out what was wrong with my typings. It wasn't because I was importing the `messages`, but because I was missing the `--typescript` flag in the `lingui compile` command. I didn't read the migration docs fully, but I suspect it's also missing there.

Anyway, the PR that adjusted the docs to use the `messages` property of the catalog was merged, so I think we can close this.

[2020-04-26 15:43] lucasecdb opened #683 "[next]: Describe how to load localeData in migration docs"
**Describe the bug**

This is an issue I encountered while migrating from the `3.0.0-5` version to `3.0.0-11`. I probably have to use `make-plural` somewhere in my app, but I don't know where because the migration docs didn't mention it.

**To Reproduce**

Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

<img width="457" alt="image" src="https://user-images.githubu

[2020-04-26 15:50] #663 closed

[2020-04-27 10:52] tricoder42 commented on #604
Fixed in #682

[2020-04-27 10:52] #604 closed

[2020-04-27 13:53] VinSpee commented on #334
@tricoder42 I think I've found a minimally viable implementation of, as you aptly described:

see below:

[code]

happy to move this to another issue or PR if it looks relevant to your vision.

[2020-04-27 14:17] tricoder42 commented on #334
@VinSpee Looks pretty good 👍 Just a small nitpick - could you please replace `language` with `locale` so it's consistent with the library?

Thank you for working on this 🙏

[2020-04-27 17:15] GitDeluxe commented on #679
@Pa22 I fix the problem by simply run only ` lingui compile` with my message.json commited in the project . it worked like a charm .
I can close the issue .

[2020-04-27 17:15] #679 closed

[2020-04-27 17:22] Pa22 commented on #679
How did you get your meesage.json for all your projects text while you didn't extract lingui?

[2020-04-27 21:52] ckknight opened #684 "Support comments inside JSX macros by ignoring empty jsx expressions"
**Describe the bug**
When using a `<Trans>` element with a nested element like `{/* This is a comment */}`, it complains of @lingui/macro: Property value of ObjectProperty expected node to be of a type ["Expression","PatternLike"] but instead got "JSXEmptyExpression" Learn more: https://www.npmjs.com/package/@lingui/macro

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal cod

[2020-04-28 07:06] tricoder42 commented on #684
@ckknight Yeah, that's a good point! Willing to dive in and send a PR? If so, please use `next` branch as a base.

[2020-04-28 07:12] tricoder42 commented on #683
Hey @lucasecdb, one minor issue is that you don't have to use `i18n` to wrap output of macro. Macro already returns `i18n._` call under the hood. This example should be enough:

[code]

Regarding plurals: Do you load `localeData` manually? https://js-lingui-git-next.lingui-js.now.sh/releases/migration-3.html#removed-i18nprovider-declarative-api

[code]

You're right, it's missing in migration docs

[2020-04-28 11:09] lucasecdb commented on #683
@tricoder42 oh, that's sweet! thanks :-)

yeah, I searched the typings on the `i18n` instance to see which method I should use to load the locale data. I didn't know about the `make-plural/plurals` entrypoint, that's nice.

I think I can help create a little section in the docs regarding the change to how to load locale data.

[2020-04-28 11:59] tricoder42 commented on #683
That would be awesome! Thanks a lot 👍

[2020-04-29 18:36] ckknight commented on #684
@tricoder42 yep, I'm on it.

[2020-04-29 19:09] #684 closed

[2020-04-29 20:31] nmoinvaz commented on #655
This is similar to #574.

[2020-04-30 06:22] tricoder42 commented on #655
Yeah, it seems for some reason the children of `<option>` are being converted to string, which means  we can't use `<Trans>` macro/component here. You need to use `i18n._` directly:

[code]

We should write it down in documentation as a known problems, but I'm afraid there's nothing else we can do about it.

It's not even related to Lingui - this is the same problem:

[code]

`Text` is rendered co

[2020-04-30 06:26] tricoder42 commented on #574
Hey @mschipperheyn, unfortunately this isn't related to Lingui as React itself doesn't allow `<option>` to have React elements. See https://github.com/lingui/js-lingui/issues/655#issuecomment-621637390

This would cause the same problem:

[code]

We have to use `i18n._` or `t` macro here

[2020-04-30 06:26] #574 closed

[2020-04-30 12:10] mschipperheyn commented on #334
@FredyC I would say that restarting an app would be *totally unworkable* and an *unacceptable hack*. This should not be even considered as a scenario for a shipping product. Phones save state,etc. There's no way to explain to a user to do that cleanly and be guaranteed of a good result. Rerendering the app from a provider down is another matter. Anything that can be done using code works for me.

[2020-04-30 12:16] tricoder42 commented on #334
@mschipperheyn Seriously? You're still reviving this topic even it was said many times that v3 will support hard/soft change of locales? You're picking scenarios which support your thesis but omiting cases from other side of spectrum, where hard refresh is acceptable. Try changing locale on Wikipedia. Open your phone and change the default locale. We could continue, but the bottom line is:

**Ling

[2020-04-30 13:49] mschipperheyn commented on #334
Well, @FredyC emphasized that this scenario would be the one. And if it's not the applicable scenario I'll take it back and be happy.

[2020-04-30 15:42] sassanh commented on #334
I totally understand @mschipperheyn there's a confusion here: The message that linguiJS v3 will allow changing locale without refreshing the app is always mixed with the message that "something is wrong with you if you have this requirement in your app, and you better reload your app because of this and that".

I think it is pointless and doesn't make sense to tell others how they should manage th

[2020-05-02 05:35] banyan opened #686 "[next] Type error with CompiledMessage"
**Describe the bug**

I'm trying this in the next version. `tsc` says the type is wrong but do I need to correct anything in my codes?

[code]

[code]

[code]

[code]

**To Reproduce**

[code]

**Expected behavior**
No compile error.

- jsLingui version ``lingui --version``

[code]

- Your Babel config
Create React App

[2020-05-03 20:10] sorokinvj commented on #273
Having the same error
[code]
while executing lingui extract
I have installed @babel/core - 7.6.0
Don't want to install babel-core, but what are my other options?
  "@lingui/cli": "^2.9.1",
   "@lingui/loader": "^2.9.1",

[2020-05-04 04:19] tricoder42 commented on #273
Unfortunately, Lingui 2.x requires at least `babel-core^7.0.0-bridge.0` if you want to use Babel 7 (`@babel/core`). Lingui 3.x (so far in pre-release) works with Babel 7 without bridge package.

[2020-05-04 04:19] #273 closed

[2020-05-05 18:06] nmoinvaz commented on #655
I can't seem to get create-react-app example working at all. I had to set the `value` on the `option` element. and use `e.target.value` to get past errors, but language strings are not updating.
[code]

[2020-05-06 17:53] capaj opened #687 "react tutorial in the docs is wrong/outdated"
Screenshot from the current page here: https://lingui.js.org/tutorials/react.html
![image](https://user-images.githubusercontent.com/1305378/81210836-c4730d80-8fd2-11ea-9c1d-3ad9ff266f49.png)

this is wrong.  Even TS typings do not allow to call the `load` with two arguments.
I had top do it like this to get my catalogs working:
[code]

this took me quite some time to figure out as my app was runn

[2020-05-07 08:05] gothy commented on #334
I'd like to second @arcanis concern about `t` macro not supporting message id anymore.
Does this mean we should use the full form from `core` like
[code]
?

[2020-05-07 08:22] tricoder42 commented on #334
Not really, you can use `defineMessage` macro:

[code]

I understand it's a more verbose as you had to pass the message descriptor to `i18n._`.

I guess we could extend the `t` macro that it would either stand as a template tag or it would be a function accepting object (as defineMessage does)?

[code]

The `message` attribute is processed as it would be a `t` macro, so you can actually use other

[2020-05-07 08:30] FredyC commented on #334
Yea, this has been my concern as well. I run into it when I was attempting to work on docs update where I saw the old syntax and I wasn't able to find the answer how it works now so I halted my work on that.

The extension to `t` macro would definitely make sense. Alternatively what about even less verbose version?

[code]

[2020-05-07 08:32] tricoder42 commented on #334
How it would look like with plurals?

[2020-05-07 08:34] FredyC commented on #334
Nothing surprising there? Point is to omit repeating `message` and make it implicit argument.
[code]

[2020-05-07 08:37] FredyC commented on #334
I think it's an interesting approach because you can then opt to use the `t(message)` syntax everywhere and it wouldn't require changing it too much if you want to add id or comment.

[2020-05-07 08:38] tricoder42 commented on #334
Yeah, I like how it's similar to `t(message)`, I just don't find the verbose variant as readable as the `objectExpression` variant:

[code]

[2020-05-07 08:43] gothy commented on #334
@tricoder42 missed the `defineMessage`. Thanks!

[2020-05-07 08:44] FredyC commented on #334
What about keeping all three variants?

[code]

Although, it always means people start questioning when to use which approach and things might be rather wild on bigger teams without rules set in the stone.

[2020-05-07 08:47] tricoder42 commented on #334
Yeah, that's what I would like to avoid. [There should be one-- and preferably only one --obvious way to do it.](https://zen-of-python.info/there-should-be-one-and-preferably-only-one-obvious-way-to-do-it.html#13)

[2020-05-07 08:51] FredyC commented on #334
It's nice to be zen, but good DX is sometimes more important. I certainly wouldn't like to declare verbose `t({ message })` everywhere. It's a clutter that makes code less readable.

On the other hand current `defineMessage` & `i18n._` is a clutter of its own. I mean, why is the `i18n` call necessary? Isn't it possible in macro to see the usage of variable returned from `defineMessage` and wrap it

[2020-05-07 09:02] gothy commented on #334
@tricoder42 another thing i find hard when working with the new *.po files and message ids is not having the default (`source` lang) string in the comments.
Native(legacy?) lingui format was very nice in this regard
[code]
You can see the source string right there and you don't have to jump back and forth to the source lang file, searching for the message id, figuring out the original message to t

[2020-05-07 09:04] tricoder42 commented on #334
I don't think that duplicating API would improve DX. It might be easier now, because we can't decide which one is better, but down the line it'll bring just confusion and problems when moving between codebases (or when introducing other team members to existing codebase).

Macro should control only the AST node it wraps. Although you can take a look *above*, I'm not sure you would catch all usecas

[2020-05-07 09:15] FredyC commented on #334
I don't follow. Right above you have declared `defineMessage` as the only (sane) way to add ID to message. That's not about lazy messages :) If it's possible to avoid `i18n._` call then it's a good solution too without hindering the use of `t'message'` when someone doesn't need to use IDs.

Alternatively, if you want to inline variant of `defineMessage`, what about something like `tx({ message })`

[2020-05-07 10:20] tricoder42 commented on #334
It is. Right now the only (sane) way to add ID to message is `defineMessage` which doesn't perform translation, but rather return a message descriptor. You need to pass it to `i18n._` call to get final translation.

I though that `defineMessage` is clear enough that you're just *defining*, not *translating* the message, but I'm open to any suggestion. It's similar name which is used in react-intl

[2020-05-07 10:43] kirillku commented on #334
Can we have `` t`message` `` and `t(id, message)`? I feel it's important to have first class support for ids. I'm not sure about statistics, but I feel it used even more widely.

Or maybe have something like `tId(id, message)`.

[2020-05-07 10:49] tricoder42 commented on #334
I used to explore these two variations earlier, but the problem is that you still need a way to add at least comments.

Also, there should be a way to define ids for other macros as well, e.g. `plurals`.

[2020-05-07 18:20] gothy commented on #334
Moving further into v3 without <DateFormat/> and trying to import `date` from core.

VSCode says that
[code]

Any hints on formatting dates in v3? :)

[2020-05-07 18:24] VinSpee commented on #334
here's what I've been doing @gothy

[code]

[2020-05-07 18:29] gothy commented on #334
@VinSpee got it. Thanks!

[2020-05-07 19:06] blasterbug commented on #437
This issue has been opened for 8 months ago. I encounter the same error now. Any update on that?

[2020-05-10 07:37] MartijnHols commented on #273
It would appear the docs are in an in-between state with https://lingui.js.org/ref/cli.html no longer listing the babel-core dependency, while the commands listed there still installing v2.

[2020-05-11 05:33] tricoder42 commented on #334
@gothy @VinSpee You don't need to wrap a single variable into `<Trans>` tag:

[code]

Originally, `DateFormat`, `NumberFormat`, `i18n.date` and `i18n.number` were transformed into ICU formatters, e.g. `Today is {now, date}`. I've found it unnecessary overhead and since I didn't have enough time to migrate it, I omit it in favor of simple function call.

[code]

becomes

[code]

which is transforme

[2020-05-11 05:34] tricoder42 commented on #334
Hey everyone, sorry for (yet another) delay. I've just finished another project so in next few weeks I'll focus on LinguiJS again. I'm just collecting feedback from issues and PRs from last months, so if you had any major problem with pre-release, please let me know.

[2020-05-12 20:21] gothy commented on #334
@tricoder42 another issue i've stumbled upon.
If you've an id for your translation and change the source lang string in the code, it doesn't get updated in the `/locale/<source lang>/messages.po` file after `extract`.

[2020-05-12 20:26] FredyC commented on #334
@gothy It would be probably best to set up some minimal reproduction. I haven't noticed any similar issues myself. Maybe even open a separate issue so it's not lost in here.

[2020-05-12 21:03] gothy opened #688 "v3: source lang file is not updated during extraction"
**Describe the bug**
If you've an id for your translation and change the source lang string in the code, it doesn't get updated in the /locale/<source lang>/messages.po file after extract.

**To Reproduce**
Here's a repro repo
https://github.com/gothy/lingui-v3-source-issue

1. Clone and have a look at https://github.com/gothy/lingui-v3-source-issue/blob/master/locale/en/messages.po

2. Run `yarn

[2020-05-12 21:35] vonovak commented on #334
this issue has become extremely long, I'd perhaps suggest to lock the discussion and instruct folks to open new issues instead of posting here

[2020-05-13 10:10] AOHUA opened #689 "[Next]: Error: Invalid locale ** (missing plural rules)!"
**Describe the bug**
Not able to run `compile` for some languages

**To Reproduce**
Add 'ma' or 'ta' in the configuration
Try to run `lingui compile`

**Expected behavior**
It should generate the messages.js file

**Additional context**
I used create-react-app to init the project.

How to config the plural rules?

- jsLingui version ``next``
- Babel version ``6.26.3``

[2020-05-13 10:56] dshuvalov commented on #409
Hi everyone

Anyone update about this issue.

After integrating this eslint plugin, I have got this issue.

[2020-05-13 11:18] dominikdosoudil opened #690 "[next] Unknown option "formatOptions" even with "lingui" format"
**Describe the bug**
While extracting messages, `cli` gives output:
[code]
However by the *new* docs: https://js-lingui-git-next.lingui-js.now.sh/ref/conf.html#formatoptions
it should be possible to configure it this way.

**To Reproduce**
(listing only lingui deps so it's clear what version I am using, ofc `react` etc. is needed as well but I believe that this error occurs even before any react f

[2020-05-13 14:10] jatinsandilya commented on #293
Hi the UI of the app I am working on is mostly server driven and this RFC is exactly we're looking for. Has there been any progress on this ?

[2020-05-13 16:23] FredyC commented on #293
@jatinsandilya Not likely since there is still a heavy workload to get 3.0 out. I guess you have to be patient or try to help out with 3.0 as much as you can, there are tasks in #334.

[2020-05-13 17:00] capaj opened #691 "TS error: Argument of type 'MessageDescriptor' is not assignable to parameter of type 'string'."
**Describe the bug**
TS problem occurs on line 4: `Argument of type 'MessageDescriptor' is not assignable to parameter of type 'string'.`

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

**Expected behavior**
the typing is correct

**Additional context**

- jsLingui version ``lingui --version`` 2.9.1
- Babel version ``npm list @babel/core``
[code]

[2020-05-13 21:25] toolness commented on #687
Oof, I ran into this problem as well!  Thanks for documenting it.

One thing I'm realizing is that the docs might actually be _too new_, not out of date!

It looks like version 3.x of lingui is in development, while what you and I are using is 2.x, because that's what's on npm.  According to the 2.x to 3.x migration notes, there is a section called [i18n.load loads a catalog for a single locale](h

[2020-05-13 21:45] toolness opened #692 "Some documentation on lingui.js.org appears to be for the unreleased version 3.x"
It appears as though the documentation on [lingui.js.org](https://lingui.js.org/index.html) may be for a version of Lingui that hasn't yet been publicly released.

For example, as a relatively new user of Lingui, here's some things I found confusing:

* There's a section on [migration from 2.x to 3.x](https://lingui.js.org/releases/migration-3.html) which is confusing because [npm currently thinks

[2020-05-13 21:46] toolness commented on #687
I think that the problem is that the docs on the site are actually being published from the `next` branch, not `master`--more details at #692, which I just filed!

[2020-05-14 04:53] tricoder42 commented on #692
Hey @toolness, thanks for raising this issue.

Docs from `master` branch is deployed to https://lingui.js.org (I've just re-deployed them).
Docs from `next` branch is deployed to https://js-lingui-git-next.lingui-js.now.sh/ (You can find more info about v3 in #334)

You're right, that some parts of v3 documentation are available in master. Since this realease is taking reaally long time, I've sync

[2020-05-14 14:16] telpochyaotl commented on #692
I had this exact same experience yesterday, thanks @toolness for creating this ticket.

As far as I understand v3 will be released soon, but it still would help new users if https://js-lingui-git-next.lingui-js.now.sh/tutorials/setup-cra.html described how to install v3. Presently you follow that guide and end up with 2.9.1 version installed and the rest of the tutorials don't fully work.

[2020-05-21 14:55] tstirrat15 commented on #437
@blasterbug which version of lingui are you using and how are you using it? I just ran into this issue while implementing v3 in my own project, and it was because I wasn't manually including pluralizations, which is expected by the library.

[2020-05-21 14:57] blasterbug commented on #437
@tstirrat15 latest version, with React and the standard tools (wepback, Babel)

[2020-05-21 15:04] tstirrat15 commented on #437
Meaning v3 or v2.9?

[2020-05-22 13:58] tstirrat15 commented on #334
This is a project that I'd like to start using, and I'd like to help along the v3 release so that we can start fresh with a stable API. Where is help most needed? I'm comfortable working on both code and documentation.

[2020-05-22 14:23] FredyC commented on #334
@tstirrat15 Check the first comment on the list of what's missing.

[2020-05-23 17:29] max-mykhailenko commented on #449
Also have this problem. How I can help to fix it?

[2020-05-25 04:37] tricoder42 commented on #691
Hey @capaj, thanks for bug report. This seems to be related to previous version. If you want to fix that, feel free to send PR agains `master`. I believe this should be already fixed in Lingui v3.

[2020-05-25 04:37] #691 closed

[2020-05-25 04:38] tricoder42 commented on #690
Thanks! This seems to be duplicate of #634 which is already fixed in #661

[2020-05-25 04:38] #690 closed

[2020-05-25 05:07] tricoder42 commented on #634
Fixed by @kirillku in 8d4af154. Thank you again 🙏

[2020-05-25 05:07] #634 closed

[2020-05-25 05:14] tricoder42 commented on #689
Right now lingui uses plurals defined in https://github.com/eemeli/make-plural which parses CLDR plural rules. `ma` and `ta` locales are missing even in [CLDR repository](https://unicode-org.github.io/cldr-staging/charts/37/supplemental/language_plural_rules.html) so there isn't much we can do about it :/

Unfortunatelly I don't know these locales. I guess the only option is to find the locale whi

[2020-05-25 05:14] #689 closed

[2020-05-25 05:57] tricoder42 commented on #686
Could you please try latest pre-release (3.0.0-13)? If it still doesn't work, could you please post full snippet? I.e. from where the `catalogJa` variable comes from?

[2020-05-25 06:00] tricoder42 commented on #687
I've just deploy docs from `master`, but @toolness is probably right that I might accidentaly update the old docs with v3 version... Unfortunately I'm not going to fix anything in master as I need to focus on releasing v3, but if you want to send a PR, I'm happy to review/merge it 👍

[2020-05-25 06:00] #687 closed

[2020-05-25 06:04] tricoder42 commented on #334
Hey everyone, new prerelease (3.0.0-13) has just been published to NPM.

@tstirrat15 Thanks for the help! Documentation would be really helpful as the docs are outdated which makes testing v3 really hard. [Configuration reference](https://js-lingui-git-next.lingui-js.now.sh/ref/conf.html) is the most accurate, but it still requires a review and proofreading. After that, if you go one by one from r

[2020-05-25 14:29] blasterbug commented on #437
@tstirrat15  2.9.1

[2020-05-26 13:30] toolness commented on #616
Thanks for reporting this, I actually ran into the same problem myself.  Until it's fixed, I'm working around it by post-processing the PO file after `lingui extract` using the same PO parsing/serialization library that lingui uses: https://github.com/JustFixNYC/tenants2/pull/1486.

[2020-05-27 14:01] turbothinh opened #700 "Typescript error for <Trans /> from `@lingui/react` without children"
**Describe the bug**
The Lingui 3 migration document says

but apparently it doesn't work, at least with Typescript.

**To Reproduce**
1. This show typescript error "Type 'string' is not assignable to type 'Element | null'.ts(2605)
"
[code]

2. Export this with `lingui export` works, adding translation to `en/message` works too but switching to other language shows raw key instead of `en` translat

[2020-05-27 15:12] turbothinh opened #701 "Custom id for t macro Typescript"
**Is your feature request related to a problem? Please describe.**
In Lingui 2, I can do **t('msgId')``**, but it is no longer possible with Lingui 3 in Typescript.

**Describe proposed solution**
Allow to use `t` macro with custom id in Lingui 3

[2020-05-27 15:27] max-mykhailenko commented on #443
@mschipperheyn Is it possible to generate several compiled files in different formats. One for SSR with es export, another with window.i18n for client side render?

[2020-05-28 08:18] stahlsparre opened #702 "(Core Javascript) syntax when mapping msgid and msgstr."
I'm currently building a Svelte (simillar to React/Vue but smaller) application. Since I can't parse .svelte files, I have my own dictionary of translations that I use. I map variables to my templates and use it like this:

[code]

When extracting texts, I need the .po files to end up looking like this:

[code]
(since my company is using monolingual translations with a `key` and a `string`)

To ac

[2020-05-28 16:37] mschipperheyn commented on #443
@max-mykhailenko I never looked at that option. But the docs should be able to point that out.

[2020-05-29 20:18] fbaralle commented on #442
Thanks a lot!! It works just fine with this simple import.

[2020-05-31 11:29] tienpham94 commented on #334
@tricoder42 When I try to migrate from v2.9.1 to v3.0.0-13 based on this guide the app breaks and there is no setupI18n exported from `@lingui/react`, seems like the guide is outdated
https://lingui.js.org/releases/migration-3.html#removed-i18nprovider-declarative-api
`import { setupI18n, I18nProvider } from '@lingui/react'`
Is there any place where I can see the updated changelog/migration guide

[2020-06-01 05:47] tricoder42 commented on #334
@tienpham94 Try this one https://js-lingui-git-next.lingui-js.now.sh/releases/migration-3.html (it's in the first post in this thread)

[2020-06-01 08:59] zsolt-dev opened #703 "custom plurals format not compatible with any translation tool"
There seems to be no translations tools working with linguijs right now.

In order for lingui to gain traction, it needs to work nice with translation tools. Problem is lingui custom plurals format.

For example, this is a response from webtranslateit.com customer support:

[2020-06-01 09:04] tricoder42 commented on #703
Hey @zsolt-dev, this library doesn't use a custom plurals format nor custom message format. It uses ICU MessageFormat. What webtranslateit refers to is a gettext message format, which is a different one.

If you want to add support for gettext then take a look at #677

[2020-06-01 09:04] #703 closed

[2020-06-01 12:09] tienpham94 commented on #334
Thank you @tricoder42 , I have another issue with `Plural from '@lingui/macro'` with lingui v3.0.0-13,
It throws `Uncaught TypeError: plurals is not a function` when I try to use Plural
[code]
![image](https://user-images.githubusercontent.com/25751050/83407598-bcfc2400-a419-11ea-9f1e-0c71f577d8d5.png)

[2020-06-01 12:57] FredyC commented on #334
@tienpham94 Have a look at the "next" branch, there are examples for different frameworks that work.

[2020-06-02 20:19] crhayes commented on #372
This may be related to @VinSpee's problem. I've noticed a problem when using `<Trans>` nested within `<Plural>`.

It seems as though import order matters:

[code]

Given the following translation:

[code]

When I import in the "incorrect order", I get the following:
[code]

When I import in the "correct order", I get the following:
[code]

The latter example here is what I expect in both scenarios

[2020-06-02 20:41] FredyC commented on #372
Yea, macros tend to suffer from ordering issues. It's kinda logical when you think about it. If `Trans` is first, it does its job of core transformation, and then `Plural` does its part but `Trans` no longer has an option to see that.

Honestly, I don't about any good solution for that. Only that `Trans` would need to analyze more deeply and if it sees a "known" macro, it would scream a warning.

[2020-06-03 05:39] tricoder42 commented on #372
This is already fixed in v3 (please checkout pre-release #334).

Ordering of imports doesn't matter, the top-most macro is always processed first and "consumes" all inner macros.

[2020-06-03 05:39] #372 closed

[2020-06-05 11:59] tienpham94 opened #705 "[Bug][v3-next] plurals is not a function"
**Describe the bug**
When upgrading to @lingui/react v3/next, when using `{Plural or plural} from "@lingui/macro"` I have an error: `plurals is not a function`
![image](https://user-images.githubusercontent.com/25751050/83871448-bed72780-a738-11ea-9591-a53dd2c17434.png)
I have made a demo for the bug using the example/create-react-app in next branch as a PR
https://github.com/lingui/js-lingui/pull

[2020-06-05 12:09] tienpham94 commented on #334
@tricoder42 I opened a bug https://github.com/lingui/js-lingui/issues/705 and a demo with the examples/create-react-app template https://github.com/lingui/js-lingui/pull/704 for the issue with `<Plural>` and `plural macro` from '@lingui/macro' with lingui v3.0.0-13/next
It crashes the app and show error `plurals is not a function` when I try to use Plural and plural macro
Could you please check wh

[2020-06-05 12:17] lucasecdb commented on #705
duplicate of #683

[2020-06-05 12:41] tienpham94 commented on #705
I added localeData manually but the error still persists
[code]

[2020-06-05 12:44] tienpham94 commented on #683
@tricoder42 I have the same issue with `plurals is not a function`, but when
I added localeData manually but the error still persists, like in this demo https://github.com/lingui/js-lingui/pull/704
Another issue where I described the problem thoroughly https://github.com/lingui/js-lingui/issues/705

[code]

[2020-06-06 16:13] zsolt-dev commented on #703
@tricoder42 thanks for response.

Any good on-line tools for translation that works with lingui? Something that plays nice with plurals, like this:
<img width="971" alt="image" src="https://user-images.githubusercontent.com/18726534/83948955-4009e980-a821-11ea-99fd-4e7097342294.png">

[2020-06-08 08:35] ojii opened #706 "typescript error with 3.0.0-13"
[code]

[2020-06-08 09:11] ojii opened #707 "v3 t macro not working?"
I'm trying to use the `t` macro from `@lingui/macro@3.0.0-11` in a create react app, but it doesn't seem to actually display the translated value.

To reproduce, see https://github.com/ojii/lingui-v3-t-macro-example

I expect both h1 and h2 to show the same value, but only the one using the `<Trans>` macro works, the one using `t` just shows the message id.

[2020-06-11 08:23] ixrock commented on #683
@tienpham94 you can try to import via one of the follows:

[code]

[code]

And apply as:
[code]

[2020-06-11 13:40] adamgruber commented on #433
I just started seeing this same issue because we run `lingui extract` as part of the build script. Not sure if this is an issue with jsLingui or a change in Babel.

[2020-06-12 01:12] rflmyk commented on #582
I have the same problem with the use of <Trans> component, someone have some idea how fix it?

[2020-06-17 07:48] iStefo commented on #683
Making sure that `loadLocaleData` is called **before** `load` is called the first time for a locale fixed the issue for me.

Instead of using `make-plural`, I used the browser's own Intl implementation like this:

[code]

[2020-06-17 15:42] Ugzuzg opened #708 "Plan to make the core library-agnostic"
**Is your feature request related to a problem? Please describe.**

I'm trying to create a [library for vue.js](https://github.com/Ugzuzg/vue-lingui) using `@lingui/core`. The main two issues I have are
- [the parts parser code](https://github.com/lingui/js-lingui/blob/next/packages/react/src/format.ts) is inside `@lingui/react` and will [have to be duplicated.](https://github.com/Ugzuzg/vue-lingu

[2020-06-18 11:14] mcwebb commented on #280
For anyone who's interested in a temporary (and hacky) workaround, you can run this as a post install script:
[code]

[2020-06-19 15:30] kub1x opened #709 "@lingui/cli v3 extract extracts no messages"
**Describe the bug**
When I run `yarn lingui extract` the po files gets created in the correct location, but they contain no messages, only header lines.

**To Reproduce**
* This is a Expo (react-native) project.
* Using `@lingui/react` for `useLingui` hook only.
* Using only macros, no `@lingui/react` components.

[code]
Running command `yarn lingui extract` with following output:
[code]
Po files

[2020-06-23 13:29] N1kto commented on #390
Hello guys. Just started using this amazing package and have a question concerning react hooks.

Though it's passed almost a year now since the last message in this thread, the current stable version is still 2.x (2.9.1), meaning there are still now hooks. However, it's fairy simple to create one (hook) yourself. As mentioned, I've just started using the package and might not know all the details,

[2020-06-24 12:18] Serban-PLT opened #710 "Comments inside Trans blocks result in JSXEmptyExpressionError"
**Describe the bug**
Hi! Not sure if a bug or by design, but when including a comment in a `<Trans>` block it gets parsed as empty JSX and throws the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

**Expected behavior**
I would have expected either ignoring the comment silently or if possible a clearer definition of why t

[2020-06-26 11:53] Minishlink commented on #686
Reproducing this on 3.0.0-13.

[code]

Got the typescript error but worse is : on runtime in development, it works great; but in release, it shows `Welcome to {title}`.

[code]

Compiled messages returns:

[code]

[2020-06-26 13:35] tricoder42 commented on #686
It should be without `i18n._`:

[code]

but ideally, you should use `Trans`:

[code]

[2020-07-01 09:36] ExoMemphiz commented on #582
"Solved" this by using i18n._(t``) for all of the translations, inside the Text elements.

[2020-07-10 16:20] landsman commented on #544
@tricoder42 can I help here somehow?

[2020-07-12 09:38] tricoder42 commented on #710
Hey @Serban-PLT, comments aren't probably supported yet. If you want to implement them, there's a huge [list of test cases](https://github.com/lingui/js-lingui/blob/next/packages/macro/test/jsx-trans.ts) for Trans macro. Just add yours and then provide implementation in [macroJsx.ts](https://github.com/lingui/js-lingui/blob/next/packages/macro/src/macroJsx.ts)

[2020-07-12 09:39] tricoder42 commented on #710
Also, please use `next` branch as a base.

[2020-07-12 09:43] tricoder42 commented on #706
Hey @ojii, please provide a test repository. It's really hard to test bugs like this.

[2020-07-12 09:43] #706 closed

[2020-07-12 09:46] tricoder42 commented on #708
Hey @Ugzuzg,

Sure, let's move it to separate package. Or maybe would be enough to move it to `core` pacakge?

Could you please provide more details? What exactly do you need and what solution do you suggest?

[2020-07-12 09:52] tricoder42 commented on #709
Hey @kub1x,
this might be bug that `@lingui/cli` doesn't correctly recognize yoru babel config. What if  you have a simple static file instead of function, e.g:

[code]

[2020-07-12 09:54] tricoder42 commented on #707
Interesting. What if you move `Message` and `Switcher` components to a separate file? Does it fix the issue?

[2020-07-14 21:00] ScriptedAlchemy opened #713 "Webpack 5 Support"
**Describe the bug**
I get a parser error when attempting to run a build with webpack 5

**To Reproduce**
Running a build returns with the following error.

[code]

**Expected behavior**
The build would pass.

**Additional context**
I'm using the @latest version of lingui and babel 7.10 with "@lingui/macro": "2.8.3"

I have tried implementing the following mentioned on this git issue but had other

[2020-07-15 06:49] tricoder42 commented on #713
Hey @ScriptedAlchemy, I don't know what changes are in Webpack 5 and currently I don't have enough time to dig into it.

Definitely try `@next` version of Lingui and try to play with [Loader source code](﻿﻿﻿﻿https://github.com/lingui/js-lingui/blob/next/packages/loader/src/index.js)

Let me know if you have any questions

[2020-07-15 18:25] ScriptedAlchemy commented on #713
Thank you. I'll report back anything i can on those. I know the webpack 5 core very well and do work directly on it. I've got lots of holes in my understanding of this project.

Willing to help us get something working if there's appetite to work together.

[2020-07-15 19:47] tricoder42 commented on #713
Yeah, definitely! I've been toying with Webpack 5 about a year ago when I was working on #508. Unfortunately I was working on proof of concept from scratch and there's nothing which we could use.

Let me know if you need any help 👍

[2020-07-15 20:35] ScriptedAlchemy commented on #713
Okay, so im heavily bound (at the moment to v2) but the only failure I seemed to have was with the loader.

Ive been able to "patch" it or attempt to in various ways but still run into issues. I just did a blind upgrade to v3 and run into this issue - which I also saw in v2s loader

[code]

[2020-07-15 22:55] ScriptedAlchemy commented on #713
@tricoder42 after digging deeper, i do not believe that v3 is required to address the issue that I run into.

I have been able to create a minimal repo that can serve as a point for replicating the issue.

This is also another issue I have experienced when patching the loader. Do you have any ideas what the issues could be and I can do my best to support form a webpack standpoint,

https://github.

[2020-07-16 00:22] ScriptedAlchemy commented on #713
Ive opened a pull request to introduce webpack 5 support. This might do the job and seems to work on the example repo I posted previously.

[2020-07-16 05:37] tricoder42 commented on #713
Hey @ScriptedAlchemy, this is pretty good 👏  I'm gonna check it later today and if everything works well, we can issue a minor release of 2.x. It seems to be easy to port it to 3.x as well.

Thanks for your work!

PS: Sorry I wasn't around, I just woke up 🌍

[2020-07-22 20:13] ckknight opened #715 "Trans element always passes children as an array"
**Describe the bug**
When using the `<Trans>` element with a nested element, the `children` prop for that nested element is always an array, even when it wouldn't otherwise be.

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

**Expected behavior**
`children` should be passed to the `X` component as a single `"Hello!"` string.

**Actual behavior**

[2020-07-22 20:55] ScriptedAlchemy commented on #713
@tricoder42 thank you!

[2020-07-23 21:27] joonazan opened #716 "More convenient way to translate React properties"
In my app there are a lot of properties that need to be translated. Putting `<I18n>{({ i18n }) =>` in front of every one seems like a lot of clutter to me. I am not familiar with Babel. Could I use it to make a code transformation that automatically adds those?

Also, I can't figure out how to translate @react-navigation/bottom-tabs at all. You can only translate one thing with one i18n but the i1

[2020-07-24 20:15] ScriptedAlchemy commented on #508
Just a heads up, Module Federation will likely enable per-locale bundling capabilities. Youd have to use the lower-level API, but I think it should be able to do this

[2020-07-27 17:31] #713 closed

[2020-07-27 17:34] tricoder42 commented on #716
Hey @joonazan, in Lingui v3 (currently available only as a prerelease) you can use `t` macro `<img alt={t'Translated image caption'} src={...} />`. Unfortunately it's a breaking change and can't be backported back to v2.

[2020-07-27 17:34] #716 closed

[2020-07-27 17:42] tricoder42 commented on #715
Interesting, thank you! I believe there should be a simple if-block to deal with this edge case. Could you send a patch either agains `next` branch or both `master` and `next` (in case you want to backport it to v2)? I guess all changes should be made in https://github.com/lingui/js-lingui/blob/next/packages/react/src/format.ts file.

[2020-07-29 17:22] kub1x commented on #709
@tricoder42 You're absolutely right! Changing babel config from module to JSON did the trick. Thank you very much.

[2020-07-31 02:41] alexalannunes commented on #442
wowwwwww!
Thanks!

[2020-07-31 02:42] alexalannunes commented on #442
Wowwwwwwww
!Thanks!!!

[2020-08-02 21:51] renchap commented on #508
This is not directly related to this issue, but an idea I had to reduce the number of JS loaded for the user would be to have per-sourcefile locales. Code-splitting is now very common and you might have this (simplified) situation where half of your app is in one bundle and half of it is in another bundle. But your locales are all in one place, and the translations for your whole app needs to be l

[2020-08-02 22:29] theKashey commented on #508
There is another issue for it - https://github.com/lingui/js-lingui/issues/503, I even have 90% of code needed to do the stuff, and it's more or less based on "virtual files".
I decided to make my life a bit more complex and support in-fly language change. As a result, I haven't finished the task in time.

Theoretically, this is a good task for module federation to make all heavy lifting for this

[2020-08-03 08:17] renchap commented on #508
Ho I missed this issue, nice work then, cant wait to see how it ends up working 👍

[2020-08-03 17:18] nikneb commented on #622
Still getting the same error. Is this fixed?
"@lingui/react": "^2.9.1",
"react": "^16.13.0",

[2020-08-03 17:48] nikneb opened #718 "Use modern React Context #2"
Getting the error in Strict mode:

[code]

And getting the same error for: I18n  and WithI18n

 Is this fixed?
"@lingui/react": "^2.9.1",
"react": "^16.13.0",

_Originally posted by @nikneb in https://github.com/lingui/js-lingui/issues/622#issuecomment-668140916_

[2020-08-04 06:54] tricoder42 commented on #718
Hey @nikneb,
as mentioned in linked issue:

Unfortunately it can't be backported to 2.x because it's a breaking change. If you want to try 3.x you need to use pre-release, because the final version still isn't available.

[2020-08-04 06:54] #718 closed

[2020-08-04 09:43] amankkg commented on #707
I had a similar issue and I guess it's due to async loading of translations. I used `useLingui` hook and during next update of a component `t` macro also shows valid translation

[2020-08-04 16:34] Ugzuzg commented on #708
`core` sound like the right place for this.

I haven't worked with babel at all, but as I understand, vue extracts javascript and passes it through babel, so it is possible to make the `t` macro work with vue by specifying the vue plugins in babel. `Trans` macro won't work, though, as it is react specific.

[2020-08-05 18:42] N1kto commented on #372
Hello guys. I have a similar issue (or maybe not). I have all working fine locally, but on production, something is wrong:
Local server:
![Screenshot from 2020-08-05 20-30-24](https://user-images.githubusercontent.com/5045863/89450247-88c71b80-d75a-11ea-9b33-2d5f712389b1.png)

Production:
![Screenshot from 2020-08-05 20-33-09](https://user-images.githubusercontent.com/5045863/89450498-ebb8b280-d75

[2020-08-05 21:18] N1kto commented on #625
I also had same error. Fixed with replacing `import { Plural } from "@lingui/react"` with `import { Plural } from "@lingui/macro"`

[2020-08-10 15:37] cayodonatti commented on #334
Hi, thank you for your work. I'm working on a test migration from 2.X to 3.X and the enzyme test examples doesn't work anymore, since I can't `new I18nProvider()`. Is there any direction I could go with those?

This is the current code

[code]

[2020-08-11 22:39] FSM1 opened #719 "Variables not being substituted in production build"
**Describe the bug**
Some interpolated string variables aren't being rendered in the production build, but render correctly when running the development server.

**To Reproduce**
[code]

**Expected behavior** - This works when running the CRA dev server
![image](https://user-images.githubusercontent.com/12774278/89955640-c7197a80-dc33-11ea-89bb-77c07a000e8e.png)

**Actual behaviour** - This is the

[2020-08-12 13:40] landsman opened #720 "Is possible to kill localization row numbers?"
I really love this tool!
There is just one thing which make me nervous in every code review in my team - comments in locale files.

**Example:**
[code]

Every single change in files: footer.jsx, header.jsx, header.jsx will make change in localization file too, because number of the row with translate will be changed.

Is somehow posible to disable these comments in localization files please?

[2020-08-12 13:51] tricoder42 commented on #720
Hey @landsman,
I'm afraid this feature is only available in pre-release of v3: https://js-lingui-git-next.lingui-js.now.sh/ref/conf.html#formatoptions (from #661).

For now you could run `sed` after extract: `yarn extract; find locales -type f -name "*.po" -exec sed -i '' '/^#:/d' {} +`

[2020-08-12 13:51] #720 closed

[2020-08-12 13:56] Spy-Seth opened #721 "@lungui/macro module undefined in test with jest and react-testing-library"
**Describe the bug**
When I try to render a component that use `Trans` and `Plural` tag from `@lungui/macro`, the imported component are 'undefined':

[code]

This lead to failing render as `undefined` is not a valid React component.

For now I have to mock component imported from @lingui/macro in my test:

[code]

**Additional context**
Add any other context about the problem here.

- jsLingui ve

[2020-08-12 14:40] Spy-Seth opened #722 "Add a CLI command to validate the catalog on CI"
**Is your feature request related to a problem? Please describe.**
One of the common problem with localization process is that as a developer you have to not forgot to run `lingui extract` before committing new/edited/removed string.

**Describe proposed solution**
Add a CLI command like `lingui check-catalog` that verify that all the key of the application are present in all catalog. It will retu

[2020-08-12 15:03] landsman commented on #720
@tricoder42 thank you for reply and workaround solution!
So, these comments is not required for correct work of Lingui, right?

[2020-08-12 15:09] tricoder42 commented on #720
Definitely not now
On 12 Aug 2020, 17:04 +0200, Michal Landsman <notifications@github.com>, wrote:

[2020-08-13 00:05] oceantume commented on #390
I found a pretty simple solution for this.

I'm implementing this amazing library in a new React project, but I absolutely did not want to rely on Higher Order Component because they create messy components files that are hard to reason about.

Here's the heavily commented solution in TypeScript that I came up with. It basically leverages React context to propagate the i18n object value and any fo

[2020-08-13 03:01] oceantume commented on #556
@ignatevdev I know this is an old thread, but I found it while looking around for a way to replace the `withI18n` with a hook so I figured I'd add a comment with the solution I came up with.

Using the new context api and a special provider component that receives the i18n instance via withI18n, I was able to reproduce the same behaviour as the hoc in a hook instead. Here's the full solution : htt

[2020-08-14 14:00] nathanforce commented on #719
Hello,

I'm seeing a similar issue but within my `jest` tests instead of `production`.  After the macro is parsed there is no `values={}` prop passed to `<Trans />`.

[2020-08-14 14:45] nathanforce commented on #719
For me the issue was related to my components be transpiled by `ts-jest` before the macro was able to handle them.

[2020-08-15 22:14] FSM1 commented on #719
This doesnt seem to be the case in my instance. The values prop is being passed in to `<Trans>` correctly.

This is the production build (where the substitution doesn't work):
![image](https://user-images.githubusercontent.com/12774278/90322474-e4608880-df54-11ea-8b83-9d1fee3dcd70.png)

The same <Trans> component in the development build:
![image](https://user-images.githubusercontent.com/12774278

[2020-08-16 01:44] FSM1 commented on #719
Additionally, just tested with lingui 3 and still receiving the same results.

[2020-08-17 00:59] makenosound commented on #445
I’ve bumped into this same issue today too (also for Maori) and it would definitely be nice to have a mechanism for specifying additional custom locales.

[2020-08-17 06:21] makenosound commented on #722
Would love this too. I’m planning on doing a manual version by comparing files before/after `extract` on CI, but it feels like a very useful bit of core functionality.

[2020-08-17 15:24] tricoder42 commented on #722
Hey @Spy-Seth, good idea!

Do you mean location of messages which weren't extracted or which are missing translations? [`lingui compile --strict`](https://lingui.js.org/ref/cli.html#cmdoption-compile-strict) already checks for missing translations.

I'm thinking if we could actually create a `lingui check` command which would run a series of checks:
- Check that running `lingui extract` won't add

[2020-08-17 15:29] tricoder42 commented on #721
Hey @Spy-Seth. Yeah, this is weird. Well `Trans` and `Plural` aren't real components, but rather macros which are replaced with `Trans` components from `@lingui/react` package at compile time. So, I don't know if `console.log({ Trans, Plural }); // { Trans: undefined, Plural: undefined }` is actually a bad thing because it's not a valid usecase. What about `console.log(<Trans id="msg" />);`

I've

[2020-08-17 15:40] Spy-Seth commented on #722
The location of the message that need to be extracted.

My initial point was only focus on the missing message in the catalog.

It's a good idea to also provide some check at compile time to detect earlier errors in the catalogs.

But given that each team have its own workflow (external translation tools, external translator, automated translation platform...) and its own quality target (for some

[2020-08-17 15:48] tricoder42 commented on #722
Good points! Alright, feel free to send a PR. Could you please base it on `next` branch? Thanks a lot!

[2020-08-18 10:00] dimaqq commented on #649
+1 to update the migration docs, it took me a while to come up with sane setup...

It was even worse because `t` and/or `Trans` macro inject `i18n` which is not the same as the global `i18n` so that:

Following doesn't compile (attempt to redefine `i18n`):
[code]

Following compiles but doesn't work correctly, because `Trans` uses instance from provider, and `t` uses an injected global instance:
[

[2020-08-19 08:43] Spy-Seth commented on #722
I will propose you something in the next weeks

[2020-08-19 16:24] tricoder42 commented on #722
Perfect! Let me know if you need anything. I'm working on Lingui again after a long period of time, so I'll be available.

[2020-08-24 07:19] SilentImp opened #725 "How to pass variables to select?"
I have a gender-dependent translation for Italian.
A string that I want to translate also includes the variable.
I tried:
[code]
generated: `  "{gender, select, female {Find {professionPluralName} near you} other {Find {professionPluralName} near you}}": "{gender, select, female {Find {professionPluralName} near you} other {Find {professionPluralName} near you}}",`
But `professionPluralName` was r

[2020-08-24 07:27] SilentImp opened #726 "Context for single language in N language environment"
I have cases when translation depends on different things in different languages.
For example in Italian articles before the word would change if the name of the city that I pass to the translation string starts with "a" or other letters.
I may use the `<Select />` component for that.
It will generate a complex string, like `"{0, select, a {{humanReadable, plural, one {{humanReadable} professional

[2020-08-24 08:03] SilentImp commented on #725
It looks like if I write it this way it works properly:
Looks like if I write it in this manner it's works:
[code]

[2020-08-24 10:31] khmm12 commented on #719
@FSM1 Do your catalogs contain the translation? In development lingui creates missing catalogs values on the fly.

[2020-08-24 14:43] FSM1 commented on #719
@khmm12 by catalog, do you mean the `.PO` file or the generated `messages.js` file?

Either case, while I am not sure what fixed the issue in my case, but something in this commit fixed the issue: https://github.com/carboclan/dapp.honeylemon.market/commit/cfd5b4a3c0d74e39f60d41b8d721ad01263788ed

[2020-08-24 14:43] #719 closed

[2020-08-24 16:51] khmm12 commented on #719
@FSM1

`messages.js` in that case. Compiled lingui catalog is `messages` + `localeData`.

[This line](https://github.com/carboclan/dapp.honeylemon.market/commit/cfd5b4a3c0d74e39f60d41b8d721ad01263788ed#diff-c6107620ccd3ed63b6fdd205c81f76dcR13) fixed the issue in your case since you use v3 version where `load` has been splitted into `load` and `loadLocaleData` [(Migration guide)](https://js-lingui-

[2020-08-24 19:32] amankkg opened #727 "`lingui extract` command prints possibly misleading messages"
**Is your feature request related to a problem? Please describe.**
Not really a problem, more like a UX issue.

After `lingui extract` command finishes there is a message which is likely to be irrelevant due to user's different script configuration. The message is:

[code]

**Describe proposed solution**
Print a message without assuming that there are user-defined npm scripts at all:
[code]
And, i

[2020-08-27 10:08] Spy-Seth commented on #721
In fact it seems my babel configuration was not loaded in test: I'm using 'ts-jest' (https://kulshekhar.github.io/ts-jest/) to test my TS files. And it does _not_ load the babel configuration by default: https://kulshekhar.github.io/ts-jest/user/config/babelConfig.

After updating my setup to correctly have the macro running, I still got an internal error in the lingui macro code :cry:

[code]

I

[2020-09-01 07:37] MirzayevFarid commented on #451
- We’re using LinguiJS at [Radity](https://radity.com/)

- ![logo-midnight@3x](https://user-images.githubusercontent.com/29518613/91811146-173a9a00-ec40-11ea-9d20-981cfcf59877.png)

- https://radity.com
- Radity develops digital products and build web and mobile applications (20 Team members)

Thanks for such an amazing work!

[2020-09-02 10:49] Snaptags opened #728 "npm peer dependency warning when using TypeScript 4"
**Is your feature request related to a problem? Please describe.**

**Describe proposed solution**
Add TypeScript 4 to the list of allowed peer dependencies.

[2020-09-09 11:34] zimmicz commented on #204
Following https://lingui.js.org/tutorials/react-patterns.html I get `t is not defined` when translating element attribute.

package.json
[code]

webpack.config.js

[code]

babel.config.js
[code]

lingui.config.js
[code]

[code]

Even `console.log(t)` right after import block throws an error. Is there anything I'm doing wrong?

[2020-09-09 12:24] zimmicz opened #730 "[v2] t macro is not defined"
**Describe the bug**
`t` macro is not defined with `create-react-app` and typescript

**To Reproduce**
[sandbox](https://codesandbox.io/s/wispy-sky-6l1xm?file=/src/App.tsx)

**Expected behavior**
`t` should be defined

**Additional context**

- jsLingui version 2.9.1
- Babel version 7.11.6

[2020-09-09 20:42] laszbalo opened #731 "When exported as ES module, use the .mjs file extension"
**Is your feature request related to a problem? Please describe.**
For a while node.js natively supporting es modules, but expecting those files to have .mjs extension. At the moment I can set the module format to `es`, but in order to use that, I have to use module bundler.

**Describe proposed solution**
When module format set to `es`, the file extension of the generated files should be `.mjs`.

[2020-09-09 20:57] tricoder42 commented on #731
Hey @laszbalo, this sounds like a good idea. Feel free to send a PR and use `next` branch as a base 👍

[2020-09-10 09:42] laszbalo commented on #731
Hi,

I tried adding this, but after half an hour of trying, I was not even be able to run the tests  :(

[code]

For the time being I will just stick to the above one-liner to rename the message files. I might revisit this later, when I have more time.

P.S. Actually I have never worked with Typescript before. Should I have had Typscript in my class path?

[2020-09-10 09:53] tricoder42 commented on #731
Not sure if `npm` can handle `yarn` workspaces. Could you please try to install dependencies using `yarn`? If there're still errors, could you please post them here? Thanks 👍

[2020-09-11 09:56] ljani commented on #707
I think I'm seeing the same problem. To me, it looks like the string is translated twice. Once without the correct instance and second time with the correct instance, but with wrong key (eg. `Show 10`):

[code]

Thus, static texts work fine for me.

[2020-09-11 13:39] toolness opened #733 "Remove the opencollective dependency from the master (2.x) branch"
The unused `opencollective` dependency was removed from the `next` branch in #480, but it remains in the `master` branch (and on the latest published version in npm).  In my project, I ended up replacing it with a stub module (https://github.com/JustFixNYC/tenants2/pull/1661) but it would be nice to see #480 back-ported to `master` and re-published to npm, if possible.  Aside from the removal of u

[2020-09-11 13:50] laszbalo commented on #731
[code]

One snapshot test is failing:

[code]

Also, got warning like this:

[code]

Interestingly, when I run the tests in normal mode with `yarn test`, all the snapshot tests pass. My timezone is British Summer Time, so if I run the tests in watch mode with the time zone set to UTC, `TZ=UTC yarn watch`, all the tests pass.

Should not all the npm scripts which run tests have the TZ environment v

[2020-09-11 13:55] laszbalo commented on #731
Also,

it does not come up as a failed test, but I got this error message on the console:
[code]

[2020-09-11 15:00] #728 closed

[2020-09-11 15:01] tricoder42 commented on #731
Yes, exactly. The problem was missing `TZ` env var in `watch` command. I've just pushed fixed `package.json` to `next` branch, along with other changes. Could you please `git pull` latest changes and `yarn` install new dependencies? Then try to run `yarn watch` again and it should work.

[2020-09-11 15:19] tricoder42 commented on #733
Just released 2.9.2 with removed opencollective dependency.

[2020-09-11 15:19] #733 closed

[2020-09-11 15:42] laszbalo commented on #731
That's great. Thanks. Did the change, working on adding tests to `Catalog.writeCompiled()`. Since it's almost five o'clock, probably sending it tomorrow 😉

[2020-09-11 17:45] ljani commented on #707
Production bundle seems to differ, it only returns `Show`, but in the correct translated language though. In development it always returns English `Show 10` as the key is not found.

[2020-09-11 20:59] telpochyaotl commented on #707
I am using "next" and i have the same issue... from react, if I output `<div>{t`whatever`}</div>`  it doesn't get translated, but `<Trans>whatever</Trans>` does ...

[2020-09-14 12:29] ahmedosama5200 opened #735 "Why do I need to install @babel/core ? Isn't that already installed when using create react app ?"
In the documentation [here](https://lingui.js.org/tutorials/setup-react.html), It says you need to install @babel/core and @babel-core@bridge even when using create-react-app. Isn't it already installed ?

[2020-09-14 14:29] laszbalo opened #736 "Turn @lingui/core into a dual ES and CJS module"
**Is your feature request related to a problem? Please describe.*

**Feature request**

I want to have named ES imports inside my ES module node app and don't want to transpile the module related stuff, e.g.:
[code]
Want to run it like this:
[code]

But the above code does not work, because Node can only do default imports from CJS modules, not named imports that `@js-lingui/core` uses.

**Describ

[2020-09-15 08:14] dysticus opened #738 "Not able to upgrade from 2.8.3 to 2.9.2 - lingui extract blocks on jsx"
**Describe the bug**
Let me start by saying that I possibly have an error in my own code somewhere, but after a lot of searching and debugging, I can't seem to find it. I'm in the middle of the process of upgrading the packages in our package.json. For LinguiJS this means upgrading from 2.8.3 to 2.9.2. Whereas the command `lingui extract` runs smoothly in a previous version, it now stops with the

[2020-09-15 11:35] laszbalo opened #739 "Make the Babel extractor to support all the file extensions that Babel supports"
**Is your feature request related to a problem? Please describe.**
Hi, it would be really great, if Lingui's extractor could extract the messages from .mjs files. Since Lingui's is using Babel for that, why not to add support for all the [default extensions Babel](https://babeljs.io/docs/en/babel-core#default_extensions) supports?

**Describe proposed solution**
Make the Babel extractor to use the

[2020-09-15 11:41] tricoder42 commented on #739
Hey @laszbalo, sounds good! Feel free to send a PR 👍

PS: I'm gonna review the other PRs of yours today. I've just got back from vacation and I'm kinda busy

[2020-09-15 12:52] laszbalo commented on #739
No worries. Just take your time. Hope it was a good one.

[2020-09-15 16:20] aohua commented on #715
Hi @ckknight, are you sure that you are getting ["Hello!"] instead of "Hello"? I can reproduce the issue, however, it is because of [React.Children.onlyChild throws on text child](https://github.com/facebook/react/issues/1104).

[2020-09-16 20:01] laszbalo commented on #334
Hi,

I want to add comments to the messages. I know, that I have to use `defineMessage` macro for that.

Hope I am wrong on this, but it seems that Lingui by design leaves the comments, meant for the translators, inside the bundle.

[code]

After the transpile step the long comment is still there:
[code]

Am I missing something here?

[2020-09-20 18:03] tricoder42 commented on #657
Closed in #741. Thanks @laszbalo

[2020-09-20 18:03] #657 closed

[2020-09-21 08:07] #736 closed

[2020-09-21 08:07] tricoder42 commented on #739
Closed by #740

[2020-09-21 08:07] #739 closed

[2020-09-21 08:20] tricoder42 commented on #727
Hey @amankkg, what command you use to run `lingui`? CLI tries to detect it and show appropriate help message (see https://github.com/lingui/js-lingui/blob/next/packages/cli/src/api/help.ts). We could tweak it to provide accurate command.

That might be confusing as well, because `lingui` isn't global. Or do you mean `npm run "lingui extract"`?

I don't consider it as viable alternative. I like hel

[2020-09-21 08:50] amankkg commented on #727
Here is my scripts section
[code]
and when I run `locales:extract` script I see this message
[code]

No, my suggestion is to not pre-assume that there is a specific npm script for any lingui command. Other option might be a message like `(use "npx lingui extract" to ...)`.

OK. As I can see now there are few templates for these commands: `npm run compile|extract`, `yarn compile|extract` and `yarn

[2020-09-21 08:59] tricoder42 commented on #727
Yeah, exactly. Looking at your `scripts` there's no way to make it work for everyone. Let's keep it open for a while and think it through. Changing help texts isn't a breaking change so we can do it anytime.

[2020-09-21 09:01] #731 closed

[2020-09-21 12:06] ifiokjr commented on #437
Someone opened a [similar issue](https://github.com/remirror/remirror/issues/647#issuecomment-687654519) in [remirror](https://github.com/remirror/remirror) which is using lingui. It turns out the issue was that their webpack build process was excluding `.mjs` files which the underling `plurals` library uses for `esm` builds.

Perhaps something similar is happening here. Check that `.mjs` files ar