[2021-01-24 14:18] 96RadhikaJadhav commented on #949
@semoal Can you please review my PR. Please let me know if any other changes required.

[2021-01-25 08:54] semoal commented on #952
Exactly, basically node_env=production applies changes to code that lingui can't interpret

[2021-01-25 22:01] pauloborges commented on #743
Should this be really closed?

[2021-01-25 22:42] semoal commented on #743
Probably this issue is already fixed mate.

[2021-01-26 06:38] pauloborges commented on #743
Unfortunately no, the issue still happens with 3.4.0.

[2021-01-26 08:28] semoal commented on #743
oh, alright i'll take a look then

[2021-01-26 09:07] MartinCerny-awin commented on #743
I think Select is the last one that is missing. I am waiting for this issue to get fixed https://github.com/lingui/js-lingui/issues/919

@pauloborges is it Select that you are having issues with?

[2021-01-26 09:31] pauloborges commented on #743
@MartinCerny-awin, exactly!

[2021-01-26 09:40] semoal commented on #743
Okay i fix #919 asap

[2021-01-26 11:27] chuyik opened #957 "Macro `t` with template string id could not be extracted"
**Describe the bug**
Macro `t` will NOT be extracted to message catalog, if we pass id with a template string like ``t({id: `id`})``.

**To Reproduce**

[code]

Only `today1` is extracted, but `today2` is missing:
[code]

**Expected behavior**
`today 2` should also be extracted.

**Additional context**
Add any other context about the problem here.

- jsLingui version `3.4.0`
- Babel version `@babe

[2021-01-26 12:53] chuyik opened #959 "Macro `Plural` are not extracted correctly with `component` prop"
**Describe the bug**
If marco `<Plural>` is passed with `component` prop, this prop will also be extracted to message catalog.

**To Reproduce**

[code]

This code will extracts incorrect message like follows:

[code]

Please notice that ``component {{Div}}`` is appended to `message.translation` and `message.message`.

**Expected behavior**
The `component` prop should be ignored.

**Additional con

[2021-01-26 19:03] #959 closed

[2021-01-26 19:05] semoal commented on #743
@MartinCerny-awin #919 is merged feel free to improve select pseudolocaliaztion.

You can introduce this test:
[code]

[2021-01-26 23:38] nmoinvaz opened #962 "React hook for detecting localization change"
**Is your feature request related to a problem? Please describe.**
In several of my classes that use Lingui, I have noticed a particular pattern where I want to trigger a callback when the localization changes, but when the component is unmounted I want that particular callback to not be triggered (because it shouldn't exist).

**Describe proposed solution**
I propose a React hook similar to `useL

[2021-01-27 09:27] #743 closed

[2021-01-27 10:33] #919 closed

[2021-01-27 12:14] pauloborges commented on #743
Awesome! Thanks for the quick fix!

A final question: any idea when a new release would be drafted?

[2021-01-27 12:48] semoal commented on #743
We like to release new version each Tuesday. So the next Tuesday will include this fix =)

[2021-01-27 15:35] #949 closed

[2021-01-27 15:38] #792 closed

[2021-01-27 15:48] semoal commented on #952
I think i got a fix for this "issue", babel transform api allows to overwrite NODE_ENV variable internally, so probably won't be required to use nODE_ENV=development before lingui extract command.

@ericvera next tuesday we'll release a new version with this change introduced if you can tell us if this fixes the issue, would be amazing =)

[2021-01-27 15:51] semoal commented on #433
This issue probably will be fixed next Tuesday, meanwhile you can pass NODE_ENV=development before lingui extract command. @namirsab

[2021-01-27 16:08] ericvera commented on #952
Happy to.

On Wed, Jan 27, 2021 at 9:49 AM Sergio Moreno <notifications@github.com>
wrote:

[2021-01-29 16:31] #882 closed

[2021-01-30 21:40] morel6c commented on #642
@semoal @tricoder42

The project with React (examples) does not work. Here is the error in screenshot. Tested on January 30, 2021. The Lingui project has a lot of bugs, to this day even with version 3.4.0, extraction does not work well, compilation does not work well either, production interpolation always returns the name of the variable {var} and the loader (@lingui/loader) returns "TypeError: C

[2021-01-30 22:01] semoal commented on #642
Haha :) I'll conclude with your super useful commentary about Lingui... That Lingui with 150.000 DOWNLOADS MONTHLY, used by the biggest companies and maintained and created for FREE, probably "LINGUI PROBLEMS" are just your problems. Don't be a shame for the community and do something useful for it.

Thanks 👍🏻

[2021-01-30 22:18] msixc commented on #642
Does it make sense that it works in some people and not in others? My intention was not to shock you, I'm part of the community myself but just to make you understand that the project works in some people and not in others and it's not normal. If you need a specific configuration, you have to mark it somewhere. For the create-react-app project, I followed the README "yarn install - yarn start" and

[2021-01-30 22:36] semoal commented on #642
A lot of projects work for some people and not for others, its normal because programs are made by humans that makes mistakes.

We try to keep Lingui as much as maintained as we can, practically we release a new version each tuesday.

Sincerely i would like to all projects being as good maintained as Lingui is.

About your issue, I think in the next version is fixed(Next tuesday), because we did a

[2021-01-30 22:48] msixc commented on #642
@semoal Yes you didn't lie but the heart of lingui if I may say so, is the extraction (yarn extract) and compilation (yarn compile - prod). It's different actions must be universal for all users, if a yarn extract works for one user and not for another it's not the same dependency. It was just constructive criticism to get the team to look at the problems and fixes. It's still used by big companie

[2021-02-01 09:32] control-flow opened #965 "Documentation on t in react common patterns is incorrect"
**Describe the bug**
In my understanding the example in the react tutorial section of the API documentation is incorrect.

[code]

The `t` macro is resolved to `i18._(msg)` during compile step. The documentation in the macro section seems to be correct (https://lingui.js.org/ref/macro.html#t).

**To Reproduce**
* Setup default app by follow the instructions.
* Create a standard react app with the

[2021-02-01 09:36] semoal commented on #965
Yes, we have some sections of the documentation still doing the things like version 1.
Thanks for opening the issue, we'll look into it mate

[2021-02-01 16:17] jack1913 opened #966 "CLI/Watch - Extract with [files] marks other strings as obsolete in messages file"
**Describe the bug**
I am in the middle of writing a little script to automate extraction of strings using `chockidar` as watcher.

Unfortunately I have came across 2 errors.

1. **CLI** - Whenever I pass a `[files]` string into the cmd it is not recognized and command is extracting from all source path provided in config file of lingui. But for my case it is not really important, just pointing th

[2021-02-01 16:33] mjpieters commented on #936
I didn't have time until now to investigate further. The difference between your test and my setup is a setting that `tsc --init` has set in `tsconfig.json`:

[code]

See the [`skipLibCheck` docs](https://www.typescriptlang.org/tsconfig#skipLibCheck):

If you set that to the default `false`, you'll see the same errors:

[code]

[2021-02-01 20:05] jack1913 commented on #966
I have just took a quick look through the code of `@lingui/cli` and found what lines could/should be changed to make this work as intended (as I assume).

https://github.com/lingui/js-lingui/blob/14f24f2725771dcea0793de146abc9b86ea88789/packages/cli/src/api/catalog.ts#L233-L239

These lines do not really get into account the fact of providing `[files]` option. I think if you could make it like thi

[2021-02-01 20:14] semoal commented on #966
Hm Jack youre probably right. tomorrow we have a planned release, could you create a PR fixing this and we'll release it tomorrow?

[2021-02-01 21:25] jack1913 commented on #966
@semoal I have made the pull request - https://github.com/lingui/js-lingui/pull/967

[2021-02-02 09:40] semoal commented on #743
Released ^3.5.0

[2021-02-02 09:41] semoal commented on #948
Released 3.5.0

[2021-02-02 09:41] semoal commented on #944
Failed to publish the package due permissions issue, I'll speak with @tricoder42 if he can publish it manually.

[2021-02-02 09:42] semoal commented on #959
Released 3.5.0

[2021-02-02 09:42] semoal commented on #952
@ericvera Released 3.5.0 give it a try plz

[2021-02-02 09:43] semoal commented on #919
Released 3.5.0

[2021-02-02 09:43] semoal commented on #433
Released 3.5.0 with this fix

[2021-02-02 09:54] chuyik opened #968 "Changelog is broken with 3.5.0 release"
**Describe the bug**
Hi there, Thanks for the release! I found that Changelog is not rendered correctly with these release,
I think it's the problem with the text `<Select /> pseudolocalization`, as the quotes are not escaped.

3.5.0: https://github.com/lingui/js-lingui/blob/ad08fa2c5c3a3b5ed9098c5719a09b8b7bb5ef5b/CHANGELOG.md
3.4.0: https://github.com/lingui/js-lingui/blob/1dbc26cd8fe323fb511f09

[2021-02-02 09:55] semoal commented on #968
Yes, just saw i corrected it on releases page  https://github.com/lingui/js-lingui/releases

[2021-02-02 09:55] #968 closed

[2021-02-02 10:26] SleepWalker commented on #952
The error is still there. It still does not work without `NODE_ENV=development `

[2021-02-02 10:28] semoal commented on #952
Alright i'll take a deeper look, tough that forcing babel to use development was enough, but looks that NODE_ENV always has precedence.

If any of you has a reproduction repo where i can try will be super

[2021-02-02 10:43] SleepWalker commented on #952
I'll try to debug it a little bit. Looks like the error happens somewhere after [transformFileSync](https://github.com/lingui/js-lingui/commit/f368b353e975dab4024b755eb9d70f48b535a693#diff-20e9e7ece9d8ad2716019366457a9022f80aafff627a1f9201dc10ec1fd22a70R27) call. I have commented out that call and the error is still there.

[2021-02-02 10:50] Bertg commented on #856
Hi! Sorry I've been quite busy. I'll make some time this weekend to wrap this up.

[2021-02-02 11:29] SleepWalker commented on #952
In my case the solution is to pass `babelrc: false` in the options here:

https://github.com/lingui/js-lingui/blob/main/packages/cli/src/api/extractors/typescript.ts#L50-L55

Here is babelrc from my project:

[code]

The conflicting part is inside `babel-plugin-transform-react-remove-prop-types` which is enabled by `next/babel` in isProduction mode (detected from `process.env`:

https://github.com

[2021-02-02 13:45] semoal commented on #966
Jack, I'm thinking calmly about your idea and what about to integrate this to Lingui in a native way?

[code]

This will run the chokidar instance (or any alternative of file-watcher) and run extract only in the changed files. For me looks a pretty interesting addition to Lingui.

Do you want to work on it?

[2021-02-02 15:24] jack1913 commented on #966
Sure, I can work on this. I already have a working code I can implement it natively, but I will sit to it by the end of the week.

[2021-02-02 18:17] ericvera commented on #952
Same as @SleepWalker. Also still seeing the issue with the latest version.

[2021-02-03 14:48] pauloborges commented on #743
Thanks! Upgraded it and it's working as intended.

[2021-02-04 09:27] semoal commented on #936
I've doing some investigation and you're right that with `skipLibCheck` false, it crashes. (Typescript default settings and the recommended one is to keep skipLibCheck to true. Anyways we could fix this...

1º From our side we could publish inside macro package a global.d.ts file without dependencies of react, or @lingui/react just @lingui/core.
2º Inside node environments you'll need just:
	- `li

[2021-02-04 11:37] khmm12 commented on #901
Hey @semoal 👋

How does it work on concurrent environments?

Before it was possible to create as many instances as you want and use them isolated from each other. Now it became impossible without CLS on server-side.

Yeah it's possible to get rid of macroses and live without them, but loose a syntax sugar and extracting of messages via CLI.

[2021-02-04 15:40] mjpieters commented on #936
I don't really have much of an opinion on how this is solved, sorry. :-) I'm still green around the ears when it comes to NPM / typescript packaging options.

[2021-02-04 21:23] #894 closed

[2021-02-05 10:18] capaj opened #969 "Make message compilation available in the browser"
**Is your feature request related to a problem? Please describe.**
I would like to be able to turn an ICU plural like this:
`'{value, plural, =0 {No Resources} one {# Resource} other {# Resources}}'`

Into this:
[code]

in the browser,
**Describe proposed solution**
 ideally like this:
[code]

**Describe alternatives you've considered**
I have tried to import it from '@lingui/cli/api/compile' but

[2021-02-05 13:39] capaj commented on #969
In the meantime I'll be using this:
[code]

but it would be mich nicer not having to copy paste that bit into my own code

[2021-02-05 20:15] pauloborges opened #970 "Second plural placeholder is ignored"
**Describe the bug**

Given a message like `{input, plural, other {# + #}}`, one would expect both `#` placeholders getting replaced by the plural value. But only the first one is actually replaced.

**To Reproduce**

[code]

Final message is `<p>5 + #</p>`.

**Expected behavior**

Both placeholders should be replaced, resulting in a final message of `<p>5 + 5</p>`.

**Additional context**
Add any

[2021-02-07 15:19] semoal commented on #936
I'll fix this in the next tuesday release, we'll going to do that create a node.d.ts types for node environments where react is not included, and if someone is using node environments only has to create that lingui-env.d.ts file or modifiying types: [] on tsconfig pointing that node.d.ts file

[2021-02-07 15:22] semoal commented on #969
Is it impossible to adjust current compile method to make it work with/out webpack? Would be a great addition to adjust compile method to make it work in browser and don't brake compatibility with webpack.
If you're interested in improving this feel free to submit a pull request mate

[2021-02-07 15:37] amirqasemi74 commented on #928
this is a clean solution. i think cli should support extraction without babel macros

[2021-02-08 09:52] mjpieters commented on #936
Note that I'm targeting the browser, but am just not using react. Targeting the "no react" version to be the same as "node only" may be confusing for others in the same situation.

[2021-02-08 10:47] semoal commented on #936
Yes probably I'll call it global.d.ts, because should work in any environment

[2021-02-08 16:25] stefanbugge commented on #904
Maybe I am misunderstanding something, but my experience is that setting the `catalogsMergePath` option results in no compile output at all.
Looking into `lingui-compile.ts` I correctly see catalogs being merged to a variable `mergedCatalogs` but after that the variable is not used to produce any output.
https://github.com/lingui/js-lingui/blob/main/packages/cli/src/lingui-compile.ts#L83

[2021-02-08 23:49] #936 closed

[2021-02-09 12:31] jack1913 commented on #966
@semoal I have commited the v1 of the watch mode, pls check out if this implementation is acceptable.

I've added 2 functionalities:
1. `--watch` for `lingui extract`
2. `--watch` for `lingui compile` - I think in some implementations of Lingui it can be useful.

[2021-02-10 19:01] ocavue opened #975 "Document compatibility steps for Vite integration"
**Describe the bug**

`@lingui/core` doesn't provide a valid ESM package. Thus, it can't work with [Vite](https://github.com/vitejs/vite), which is an ESM based bundler.

`node_modules/@lingui/core/esm/index.js` will import `i18nModule` from `node_modules/@lingui/core/index.js`. However, `node_modules/@lingui/core/index.js` only export module in CJS way instead of in ESM way.

**To Reproduce**

[c

[2021-02-10 22:24] semoal commented on #975
Alright, never tried Vite, could you tell me what do we need? Just shipping esm on each package is enough?

[2021-02-11 07:21] talhatahir commented on #627
@BertrandBordage i am looking for something similar to this as well, the document of Lingui only handles the simpler case : `i18n.date(value)` my code repo contains formatting for some special dates.

[2021-02-11 07:26] talhatahir commented on #627
Found this  @BertrandBordage https://github.com/lingui/js-lingui/issues/299

[2021-02-11 09:17] ocavue commented on #975
Shipping ESM on each package should be fine. That might means you should build twice for each package: one for CJS and one for ESM.

BTW, I saw that `@lingui/core` provides two CJS files:`cjs/core.production.min.js` and `cjs/core.development.js`. This might be impossible to implement in ESM package since esmESMdoesn't allow `export` inside a `if` block.

[code]

[2021-02-11 09:49] cdohotaru commented on #372
@N1kto Late to the party but I had the exact same issue and hopefully this helps somebody in the future.

In my project there is a command which is run to generate the .po files. This command reads several .json configuration files and create the messages.po files based on the content of those files. The config looks something like this:
`{
  "compileNamespace": "cjs",
  "localeDir": "src/features

[2021-02-11 12:00] BertrandBordage commented on #627
@talhatahir Thanks for sharing!
For now I settled on using this:
[code]

[2021-02-11 12:10] semoal commented on #627
Why? You can perfectly use number() macro, or date() macro

[2021-02-11 12:30] BertrandBordage commented on #627
@semoal Thanks for insisting on it, I now see that we can use:
[code]
I was initially trying to use `import { number } from '@lingui/core'` or `import { number } from '@lingui/react'` but it was throwing `TypeError: Object(...) is not a function` when I was running `number(value, { maximumFractionDigits: 0 })`.
I would classify this as a documentation issue since `date` and `number` are often used

[2021-02-11 12:37] semoal commented on #627
Yes, we have tons of pending work inside documentation because v3 has been an amazing rework internally of how Lingui works. Tomas and me pushed hard to release the v3, but documentation it's a bit "old".

The codemod is really helpful and probably will migrate 90/95% of the codebase to lingui v3 best practices. So if you have any doubt the codemod will resolve your question

[2021-02-12 00:22] lgenzelis commented on #642
Hi folks! :) I see that the issue is closed, but I'm observing the exact same behavior reported by @msixc . To reproduce it:
[code]

<img width="1050" alt="Screen Shot 2021-02-11 at 9 22 27 PM" src="https://user-images.githubusercontent.com/4582440/107716028-405f5c00-6caf-11eb-80dd-8b803a583fdd.png">

(my `yarn` version is 1.22.10, just in case)

Am I missing some step?

[2021-02-12 14:33] lgenzelis opened #976 "`create-react-app` example not working"
**Describe the bug**
After a fresh clone of the repo, I can't run the  `create-react-app` example.

This is the result:
<img width="1078" alt="Screen Shot 2021-02-12 at 11 29 05 AM" src="https://user-images.githubusercontent.com/4582440/107780509-87883400-6d25-11eb-9c21-dc70eceb7dd8.png">

Also, terminal output shows:

[code]

**To Reproduce**
[code]

**Expected behavior**
Example should work.

**

[2021-02-12 14:34] lgenzelis commented on #642
I open a new [issue](https://github.com/lingui/js-lingui/issues/976), since this one is closed.

[2021-02-12 14:45] semoal commented on #976
We resolved it on 3.5.x version, if you do yarn install you will see that 3.2.3 is installed.

I'll create a commit now updating all examples versions, thanks for the reminder

[2021-02-12 15:37] lgenzelis commented on #976
Just pulled your commit. You forgot to update `@lingui/react` under dependencies to 3.5.1 as well. :) I did it, and now the example works fine. Thanks a lot for the speed with which you tackled this @semoal  🙌 🙌     

[2021-02-12 16:11] semoal commented on #975
I've just started working on this and got it working sucessfully and we should ship this esm packages... but Lingui at least today won't work on Vite.

Lingui is a library heavily inspired and created above `babel-plugin-macros`, actually there's a similar issue for Snowpack integration, so we should decide together an alternative implementation of macros for this new bundlers like vite, esbuild,

[2021-02-14 19:14] #976 closed

[2021-02-16 12:55] goozo opened #977 "Locale data for locale "xx" not loaded. Plurals won't work correctly."
**Describe the bug**
It seems (or at least I could not find) documentation regarding a couple of things for React Setup.

I was having issues in browser and in tests where I'd see the warning "Locale data for locale "xx" not loaded. Plurals won't work correctly."

**To Reproduce**
follow the current example on https://lingui.js.org/tutorials/react.html

**Expected behavior**
addition to the docs e

[2021-02-16 22:00] capaj commented on #975
please let's aim to support these bundlers. `babel-plugin-macros` are elegant, but as more and more project get developed with vite/snowpack they will be blocked from using lingui.js. We need a way to resolve this incompatibility.

[2021-02-17 07:57] semoal commented on #977
Lingui uses plurals defined in `make-plural` which parses CLDR plural rules. Is it required to Lingui to know what plurals are referenced to each locale.
We'll create a section explaining this more deeply, it's a really lightweight lib with treeshaking so you don't have to worry too much about bundle size.

[2021-02-20 07:15] ocavue commented on #975
@semoal What is the progress of ESM shipping?

[2021-02-20 23:37] semoal commented on #975
I could work what i've expected last week, so probably i'll finish the pending work tomorrow or monday for introduce it on the next release (tuesday 23)
Sorry for the delay =)

[2021-02-22 21:08] aulneau commented on #975
@semoal I see your work in https://github.com/lingui/js-lingui/pull/979, are you planning on adjusting all packages to have this same esm output? testing that PR, I see `detect-locale` needs the same updates. `/core` works perfectly in my vite app :)

[2021-02-23 10:03] semoal commented on #975
Yes, I'm going to adjust all the modules that were universal:
- detect-locale
- react
- core

I tough that detect-locale was already fixed. Don't you have a esm folder inside the detect-locale package?

[2021-02-23 17:35] semoal commented on #975
Released 3.6.0 with ESM for the universal packages (core, detect-locale, react).

We have some internal discussions how we'll resolve the "incompatibility" without macros dependency. We'll create another issue once we conclude with something viable with the progress and open to collaborate.

[2021-02-23 17:36] semoal commented on #966
Released your funcitonality with 3.6.0. Thanks for the contribution!

[2021-02-23 17:36] #966 closed

[2021-02-23 18:04] capaj opened #982 "Mention in the docs that non BCP-47 locales are possible. For example Brazilian Portuguese ."
**Is your feature request related to a problem? Please describe.**
Can linguijs support Brazilian Portuguese ? According to the docs it does not.
In https://lingui.js.org/ref/conf.html#locales it says that locales `Each locale must be a valid BCP-47 code.`
but looking at https://unicode-org.github.io/cldr-staging/charts/latest/supplemental/language_plural_rules.html
there's only `European Portugue

[2021-02-23 18:17] semoal commented on #982
Does plurals change from pt to pt-br?

[2021-02-23 18:19] capaj commented on #982
no, but if you're suggesting I use just `pt` in my `lingui.config` that won't work, because we want to support `pt-pt` as well, which is that european portugese. Obviously both of these need to have their own message catalog.

[2021-02-23 18:22] semoal commented on #982
But just asking, I'm not sure about this:
[code]

[code]

I think this should work, and if doesn't, must work.

[2021-02-23 18:32] capaj commented on #982
Oh yeah, that works, I just forgot to use `kebabCaseLang`
`i18n.activate(kebabCaseLang)` instead `i18n.activate(lang)` as have the languages in Graphql enum and those don't support dashes.

Anyway I'll keep this open, because IMHO the documentation should be amended to say something like:
[code]

[2021-02-23 18:51] #982 closed

[2021-02-24 08:40] alexeiapostol opened #984 "lingui/core plurals doesn't work in production"
**Describe the bug**
it seems that ` i18n.loadLocaleData` is doesn't work in production, reason why plurals doesn't work too

**To Reproduce**

[code]

[code]

[code]
**Expected behavior**
In both production and development environments  App component should render `Found one entry.`, but in production, is returned json key value (`{count, plural, zero {Found no entries.} one {Found one entry.} ot

[2021-02-24 10:29] semoal commented on #984
What's this?
[code]

[2021-02-24 10:33] semoal commented on #984
Take a look to create-react-app example in the examples/ folder and check how syntax plural works..

[2021-02-25 18:19] capaj opened #986 "How to use plural without a macro?"
**Is your feature request related to a problem? Please describe.**
I want to use lingui on the serverside where I compile my code with typescript. Please add a way to use a plural other than a macro.

**Describe proposed solution**

[code]

**Describe alternatives you've considered**
Compiling with babel, but I'd rather avoid that.

**Additional context**

[2021-02-25 18:36] capaj commented on #986
oh you can just do

[code]
too bad it's not documented anywhere.

[2021-02-25 18:36] #986 closed

[2021-02-26 10:39] alexeiapostol commented on #984
I'm using i18n_ instead of macros ([@lingui/macro - Reference](https://lingui.js.org/ref/macro.html))

and I'm using this
[code]

because simple `import { i18n } from "@lingui/core";` doesn't work with plurals in production mode

[2021-02-26 10:41] alexeiapostol commented on #984
what is difference between these two files?

[code]

[2021-02-26 16:12] capaj opened #989 "Have a way to do extraction when not using babel or react"
**Is your feature request related to a problem? Please describe.**
I have a TS file(not a TSX file) with an arbitrary string and I would like to localize it. I actually have hundreds of files like that and a the moment I cannot use extraction, because extraction needs babel macro or at least a JSX <Trans /> component.

**Describe proposed solution**
Ideally I can import `t` from '@lingui/core' and

[2021-02-26 19:24] donocode opened #990 "Raise event for missing translation requested"
**Is your feature request related to a problem? Please describe.**
I want to ensure that we are not showing content to our customers that includes missing translations by logging every time a translation key is requested that has no corresponding value in the current locale. The log should include the locale and requested translation key so we can quickly identify sections of the app which have be

[2021-03-01 12:08] semoal commented on #990
Contributions are welcome, for me it's a good adittion to the api

[2021-03-01 12:09] semoal commented on #989
https://github.com/lingui/js-lingui/issues/951
Also related to this, we're discussing it internally how to resolve for this situations

[2021-03-01 19:12] tommie-lie commented on #977
While refactoring our own code, I also stumbled upon every `load()` being accompanied by a `loadLocaleData`. I noticed `make-plural` is a dependency of lingui anyway and there even is some (apparently?) dead code that uses it: https://github.com/lingui/js-lingui/blob/main/packages/core/src/dev/loadLocaleData.ts

I am always a big fan of computers doing stuff for me, so when lingui can even tell me

[2021-03-03 16:27] armandabric commented on #952
After upgrading from v3.2.3 to v3.6.0 I encounter the same error. Forcing the NODE_ENV to development fix the issue.

[2021-03-03 16:48] armandabric opened #994 "React plural component insert the react key in the ICU message format"
**Describe the bug**
After upgrading to v3.6.0 (from v3.2.1), when I run `lingui extract` it seems to generate an invalid plurals. `lingui compile` trigger the error:

[code]

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

Running `lingui extract` generate the folowing `.po` file:

[code]

In the previous lingui version it was extracted like this

[2021-03-04 13:49] semoal commented on #994
I'll release a new version with this change fixed, thanks for reporting it out mate

[2021-03-04 14:00] semoal commented on #994
Released 3.7.0

[2021-03-04 14:00] #994 closed

[2021-03-04 14:00] semoal commented on #990
Released 3.7.0

[2021-03-04 14:00] #990 closed

[2021-03-04 14:01] #920 closed

[2021-03-05 19:45] #826 closed

[2021-03-08 21:45] donocode opened #998 "CLI - Extract [files...] arguments ignored"
**Describe the bug**
Using `lingui extract file1.js file2.js` is expected to extract messages only from the two files provided, this does not appear to be the case as when providing file arguments all files are processed anyway. In the docs this argument is presented https://lingui.js.org/ref/cli.html#extract.

This was mentioned in #966 but the conversation never addressed it

**To Reproduce**
1.

[2021-03-08 22:44] adamgruber commented on #433
I updated to `@lingui/cli 3.7.1` and `babel-plugin-macros 3.0.1` but I'm still seeing this issue.

[2021-03-09 10:27] semoal commented on #998
Yes, actually it's a regression, i'll check it as soon as possible.

[2021-03-10 10:34] samsaggace opened #999 "@lingui/loader with webpack 5 and jest"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

I use `@lingui/loader` to dynamically generate the js locales from the po and created a transformer in jest to use the loader (instead of webpack).
It was working fine with webpack 4 but when trying to migrate to webpack 5, I have an issue with my unit tests failing with:
[code]

From what I see in the source code of the loader, there is spe

[2021-03-10 17:07] iffjey opened #1000 "Using plural macro inside defineMessage macro"
**Describe the bug**
I have troubles using `plural` macro inside `defineMessage` macro, because currently placeholder for `count` value is creating defaultValue inside MessageDescriptor.

I believe it works fine in production because `defineMessage` compiling into `id` string.

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

— App.i18n.js
[code]

— App.js

[2021-03-11 12:07] blasterbug commented on #431
I don't think this should be close, cause it's an actual problem and I just run into it...

[2021-03-11 12:09] semoal commented on #431
Feel free to open another issue with your versions, case etc, If we can reproduce the problem, 100% i will help :)

[2021-03-11 16:25] capaj commented on #975
@semoal can you clarify why the macros are a problem?
vite is able to run babel macros by default. just put it in `.babelrc` and it will run them.

[2021-03-11 16:41] capaj opened #1001 "@lingui/conf on npm has no main file"
**Describe the bug**
![image](https://user-images.githubusercontent.com/1305378/110821878-cc55ab00-8290-11eb-8be6-e79fb57035bc.png)
these are all the files that get installed from npm, so the main
[code]
in package.json is pointing to a file that does not exist.

**To Reproduce**

install from npm

**Expected behavior**

main file is present

**Additional context**
This is causing me issues gettin

[2021-03-11 20:25] AlexSCorey opened #1003 "Plural component requires extract string on each update"
**Describe the bug**
In development, when I update strings inside a `<Plural>` I have to run extract-strings to render those updated strings properly. I do not have to do that for strings marked for translation inside `i18n.()`.  Is this expected.

**To Reproduce**
Create <Plural count={jobs} one= "job" other="jobs"/>

replacing the Plural component with the raw I18n function also does not render

[2021-03-12 06:21] ocavue commented on #975
@capaj can you post a document link about this vite feature?

[2021-03-13 09:48] capaj commented on #975
@ocavue it's not documented, but Vite uses babel to support react-refresh. You can see it in the source-code here: https://github.com/vitejs/vite-plugin-react/blob/feec17691f09d1e19efaeae65021b37c367873d1/src/transform.ts#L22

so if you're using fast refresh plugin babel transform is run and it respects your `.babelrc`

if you're not using fast refresh, you can use https://github.com/itsMapleLeaf/

[2021-03-13 16:50] #508 closed

[2021-03-14 18:21] semoal commented on #1001
Hm, did you tried to reinstall @lingui/conf? I've installed the package on a empty project and loooks fine to me.

<img width="404" alt="Screenshot 2021-03-14 at 19 20 28" src="https://user-images.githubusercontent.com/22656541/111079465-6a987980-84fa-11eb-8dda-2c03846e0806.png">

[2021-03-14 19:15] semoal commented on #998
Released on 3.7.2. Thanks for reporting this issue mate.

[2021-03-14 19:15] #998 closed

[2021-03-14 19:15] semoal commented on #999
Released on 3.7.2. Thanks for reporting this issue mate.

[2021-03-14 19:15] #999 closed

[2021-03-14 20:41] samsaggace commented on #999
Wow, that's awesome, thanks! 👍

[2021-03-15 09:47] capaj commented on #1001
indeed it has the file. Not sure what happened on my system. Might have been some NPM glitch. Sorry for the trouble.

[2021-03-15 09:47] #1001 closed

[2021-03-15 09:56] capaj commented on #975
So it seems that `getConfig` was some weird glitch on my side.
I have updated the POC on master to use the actual `@lingui/macro` and it works :tada:!

The only issue is, when I try to remove this resolve alias:
[code]
it always breaks down like this:
[code]

And I suspect this is down to the bundled file. So the only thing that needs to happen for lingui.js to work with vite is to fix this bundli

[2021-03-15 10:03] capaj commented on #975
Until that is fixed, users can still use lingui just fine, they just need to add `Trans` file from this repo into their own repo and alias it with https://github.com/capaj/vite-lingui-poc/blob/fc1720153356c4bba902da9e43a5cc03578f47ff/vite.config.ts#L10

[2021-03-15 10:04] semoal commented on #975
Give it a try to the pull request i've did tonight to you @capaj, everything works fine without aliasing.

[2021-03-15 12:52] Skippidar opened #1005 "Enzyme + linguiJS v3 error"
**Describe the bug**
Using v3 linguiJS with enzyme for testing results in error 'useLingui hook was used without I18nProvider'

**To Reproduce**
Test any component with ```<Trans>``` or any other component\macros

[code]
Run tests and get error
[code]
And tests fail because initial strings result in empty strings after component was rendered.

Enzyme environment setup:
[code]

**Expected behavior*

[2021-03-15 13:47] capaj commented on #975
Thank you very much @semoal.
I did a lot more investigations in my POC repo today and I think I have a solution: https://github.com/capaj/vite-lingui-poc

We should close this issue or rename it, because lingui.js is indeed compatible with vite.
Here's a running react app bundled with Vite as proof: https://capaj.github.io/vite-lingui-poc/

here's the source code: https://github.com/capaj/vite-lin

[2021-03-15 13:55] semoal commented on #975
Yes, we should document everything we found.

[2021-03-15 16:14] iffjey commented on #1000
Okay, so I decided to look into this problem and find out in tests about `arg` macro 😅

[2021-03-15 16:14] #1000 closed

[2021-03-15 21:06] donocode commented on #998
Thanks for the speedy fix!

[2021-03-15 21:21] darkowic opened #1006 "Eslint plugin to enforce usage"
**Is your feature request related to a problem? Please describe.**
There are different ways of defining messages. It can be by using id only, message only, or message and id.

**Describe proposed solution**
There is some plugin for lingui but looks like its not open source (?) https://www.npmjs.com/package/eslint-plugin-string-to-lingui

Do you have propositions for API? I can try to implement it.

[2021-03-16 13:22] JSteunou commented on #503
until having it all automatic hooked on build split feature from webpack or other builders, could it be possible to add this feature through a naive implementation with *namespace* concept. On every call to Trans / t adding a *namespace* parameter which will be used to split the catalogue files.

To avoid boilerplate maybe some configuration could be added to automatically set this namespace for a

[2021-03-16 13:42] semoal commented on #1006
That could be an amazing idea. https://github.com/lingui/codemods
In this repo we introduced practically all the migrations from v2 standard to the new standard.

Every transform has a little description of the behaviour, so probably could be helpful.
https://github.com/lingui/codemods/blob/main/transforms/v2-to-v3.ts

[2021-03-16 13:54] adam-thomas-privitar commented on #810
One issue with lingui's monorepo support is that practically, theres no way of having the extraction be aware of every package. Since lingui affectively runs per package.

This is a problem since if you have some core translations you want shared in a `core` module, and these are used across many other modules, they'll end up being extracted to each package they are consumed in, rather than being

[2021-03-16 14:11] semoal commented on #810
I have to find time to analyze one option that was introduced by Tomas on v3 that is `catalogsMergePath`, I'm not sure if it's working properly but was introduced to fix the case you described.

We can have multiple modules but at the end of extracting wrap them in a single space, this will allow having @module/i18n in our monorepo where every package inside that monorepo could load any translatio

[2021-03-18 13:30] nathanforce commented on #805
I'd also like to keep origins but remove line numbers.  In our case the line numbers are incorrect and they don't offer much other than noise in PRs.

[2021-03-18 16:41] semoal commented on #503
It's a good idea if you want to collaborate @JSteunou, we're open to collaborations.

[2021-03-18 17:39] JSteunou commented on #503
My hands are full but if at some point we are in the need of this feature at work I might sell it to be able to work on it on work time. But that could take years because the todo list is already huge so if someone want to tackle it before, go.

[2021-03-19 12:25] ptmkenny opened #1008 "Trouble with Ionic + TypeScript"
**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

I'm using Ionic version 5 with React.  My whole project is in TypeScript.  I just installed lingui according to the [create-react-app instructions](https://lingui.js.org/tutorials/setup-cra.html) (Ionic uses create-react-app).

***App.js**

[code]

**loginForm.tsx**

[code]

With code like this, I get two er

[2021-03-19 12:34] semoal commented on #1008
Could you provide us a little repo with this code to analyse this issue? I'll be glad to help

[2021-03-19 13:52] ptmkenny commented on #1008
Thanks, please check this repo: https://github.com/ptmkenny/lingui-js-debug

`npm install`

`ionic serve`

will fail to compile with this error:

[code]

[2021-03-19 17:58] semoal commented on #1008
Found, the problem is that you're importing Trans from Lingui react package, import always Trans from macro package and date() and number() from core.

In v3.0.0 we simplified core to avoid future issues of people importing Trans from react but then not running the macro.

[2021-03-19 17:59] semoal commented on #1005
You need to wrap your <Pagination component with <I18nProvider /> the error is self-explanatory.
You can check the source code of Lingui where we have tests with jest wrapping our jsx components with I18nProvider.

[2021-03-19 17:59] #1005 closed

[2021-03-19 18:01] #805 closed

[2021-03-20 12:33] ptmkenny commented on #1008
Ok thanks.  I'll also add that for anyone using PHPStorm, after setting up Lingui, if you have Eslint support enabled, you have to close and re-open the IDE or there will be a bunch of mysterious errors.

[2021-03-20 12:33] #1008 closed

[2021-03-21 11:55] ptmkenny opened #1011 "How do I use a variable in t()?"
**Describe the bug**

I don't understand how I need to wrap my JSX to use variables within strings with t().

I'm trying to translate the local notifications for my Ionic app with code like this:

[code]

And here is the output:

[code]

So when I use t(), the variable does not get used.

Is there a way to insert the value of the variable with t() without breaking it up into several strings?

[2021-03-23 10:24] JSteunou opened #1012 "Issue with babel configuration and babel macros plugin"
**Describe the bug**

Using webpack to bundle, I have a babel config for build and I though to be able to use the same configuration for linguijs extraction configuration. But there is an issue with babel macros plugin loaded twice and triggering a bunch of error with lingui cli extract. I had to make one config for lingui without macros, and one for webpack with macros.

**To Reproduce**

Step by

[2021-03-23 10:44] semoal commented on #1012
That's strange. In my company projects we're using the same babel config for lingui & bundling.
Could you provide us a minimal repo, so we can debug?

[2021-03-23 10:57] JSteunou commented on #1012
We are using yarn (v1) workspace, with lingui on one workspace only for now, maybe that's very specific to our setup.

I will try to provide you a minimal repo as soon as I can.

[2021-03-23 14:32] JSteunou opened #1013 "formatOptions does not accept lineNumbers"
**Describe the bug**

Documentation says `formatOptions` default value is `{ origins: true, lineNumbers: true }`

Setting those both to false trigger this warning

[code]

**To Reproduce**

using this settings

[code]

**Expected behavior**

no warning or document in sync with the correct value to use

**Additional context**

- jsLingui version ``lingui --version`` 3.7.2
- Babel version ``npm list

[2021-03-23 14:53] semoal commented on #1013
This feature wasn't released yet, sorry.
Released right now with 3.8.0! :)

[2021-03-23 14:53] semoal commented on #805
Released right now with 3.8.0! :)

[2021-03-23 14:57] JSteunou commented on #1013
Ahah ok. What was the odds hu...

[2021-03-23 15:31] JSteunou commented on #1012
In the meantime for those having the same issue, 2 workarounds:

1. one config for webpack, one for linguijs, the 1st extending the 2nd to add babel plugin macros
2. or naming the instance to avoid collision with the once already loaded `['macros', {}, 'the-name-you-want']` and keeping only one config.

@semoal I cannot help to think the root of the issue could be here https://github.com/lingui/js

[2021-03-23 15:53] nathanforce commented on #1013
@semoal This formatting is only happening for `.json` files? Is that intended or shall I open an issue?

[2021-03-23 16:30] nathanforce opened #1014 "fallbackLocales CLDR Parent Confusion"
**Describe the bug**

We are getting the following warning when building our app using the webpack loader.

[code]

.linguirc
[code]

None of our code references the parent locale, `es`, at all.  My best guess is that in trying to resolve a translation the loader is eventually reading the resolved config's fallbackLocales which are a combination of our actual config + CLDR parents. For example.

[

[2021-03-23 16:30] semoal commented on #1013
No, this formatOptions are allowed for `.po` files or lingui format, json files doesn't have extra information about line numbers or origins, just key-value

[2021-03-23 16:50] semoal commented on #1014
I think we have a little bug in this situation, re-reading the code.
https://github.com/lingui/js-lingui/blob/main/packages/conf/src/index.ts#L308
We're still searching on config.locales the cldr fallbacks, instead of just using the default one.

If you want to patch it on your node_modules and give it a try if it works, i'll release a fix at the end of today.

[code]

This should be the fix, just

[2021-03-23 17:45] nathanforce commented on #1014
Thank you @semoal. I just confirmed that the patch resolves the warning.

[2021-03-23 18:41] semoal commented on #1014
Great, I'll release the fix in a few hours IM out home right now

[2021-03-23 19:02] semoal commented on #1014
The release workflow have just started, we'll be released in a few minutes. 3.8.1 👍🏻

thanks for the reporting mate!

[2021-03-23 19:02] #1014 closed

[2021-03-23 21:14] #945 closed

[2021-03-24 03:05] machycek opened #1016 "Vite integration"
**Is your feature request related to a problem? Please describe.**
[Sveltekit](https://svelte.dev/blog/sveltekit-beta) has officially been released to public and I would love to use lingui with it. I see lot of people betting on Vite (Next has some plans as well) so it might be worth considering creating a plugin

[2021-03-24 09:13] semoal commented on #1016
We already have a little example with Linguijs + vite + react working.

Lingui.js is a library heavily built around `babel-plugin-macros`, this plugin allows to Lingui to compile strings on build time and be the lightest library out there and probably the fastest.

Vite setup with React works good because if you add the `reactRefresh` plugin adds babel under the hood, but i'm not sure how will wor

[2021-03-24 10:03] konrad-marzec commented on #721
I have same issue, `ts-jest` with `babelrc` and `lingui` version: `3.8.1`.

[2021-03-25 19:20] iffjey commented on #1011
I believe you should use it like this

[code]

Look at MessageDescriptor type [here](https://github.com/lingui/js-lingui/blob/ecf83c37e177cb10f157fb8913d73e18662e3ca4/packages/core/src/i18n.ts#L31)

[2021-03-25 20:37] semoal commented on #1011
message property it's also interporlated this behaviour should work as expected:
[code]
It's extracted by lingui to:
[code]

I've added a test to corroborate https://github.com/lingui/js-lingui/commit/38ccf3a8abe5bbc0ef296a1135be789ebd864e99 👍🏻

I think the problem of your code @ptmkenny is that you need to run extract & compile, if you expect to console log a macro and see something, you're wrong

[2021-03-26 15:05] ptmkenny commented on #1011
Ok thanks, I didn't realize I couldn't debug using console.log.  I've got it working now, thanks again!

[2021-03-26 15:05] #1011 closed

[2021-03-28 04:53] #951 closed

[2021-03-29 13:24] #962 closed

[2021-03-30 09:51] dmn-bernard commented on #957
Yup this is pity I work on a project where backticks are enforced via eslint. Now I have to copy paste `// eslint-disable-line` everytime I use  the `t` macro with an id 😓

[2021-03-30 10:08] semoal commented on #957
Just for curisosity, do you enforce the backticks always? The default rule by eslint is to use singlequote or doublequote, and if you're using + "" + "", replace it with backticks. I don't get the utility of forcing backticks to every string.

Anyways, this behaviour could be a good addition that's why triage accepted, but couldn't find time to work on it since isn't urgent at all.

[2021-03-31 02:44] zuiidea opened #1018 "Failure in calculation of multiple variables"
**Describe the bug**
Failure in calculation of multiple variables.

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

code demo ：https://github.com/zuiidea/js-lingui/commit/87f8be5298f806ffe0b89534484d42baff99023c

**Expected behavior**

- I get message ID `Hello, {0}` by run `lingui extract`.
- I modified and compiled the messages in `Česky` langua

[2021-03-31 08:36] zuiidea commented on #1018
I found the cause of this problem：
It may be a problem with ESM packaging，I used CJS to temporarily solve my problem.

example:
[code]
change to

[code]

You may need to set loadLocaleData to avoid console errors:

[code]

[2021-03-31 08:58] semoal commented on #1018
you don't need setupI18n just use the singleton instance, and loadLocaleData you must load the plurals.
After the issue don't have so much sense to me that the issue is related to esm, anyways i'll try to take a look asap

[2021-03-31 09:11] semoal commented on #1018
You only need to translate the translation file of cz. As you can check the en.po file is automatic translated, but the po file of cz is:
[code]

If you change it to:

[code]
Will work as expected

[2021-03-31 09:20] whytspace opened #1019 "Cannot pass "values" directly to <Trans /> component"
I updated to version 3 (3.8.1) from version 2 (2.9.1). Had to make a few adaptions but nothing too serious. I like the new version 👍

**Describe the bug**
The is one problem after upgrading that I need help with: I have been using the `<Trans />` component from `@lingui/macro` heavily throughout the code, mostly like this:

[code]

Now, it seems that `values` is not part of the type definition of

[2021-03-31 09:38] semoal commented on #1019
Try to import the Trans component from the macro package instead of the react one.

[2021-03-31 09:46] semoal commented on #1019
To explain this a bit more for future users, since Lingui.js internally was replacing @lingui/react imports to @macro imports, we decided in v3 to recommend use directly the macro import to avoid that extra computations steps.

I'm assess of adding some warning to Trans import from the React package suggesting the usage of macro package

[2021-03-31 10:23] whytspace commented on #1019
@semoal Thanks for the reply. I just double checked my code: I am importing `Trans` from `@lingui/macro` in my code. Seems I wrote `@lingui/ react` only here in my example.

The only thing I import from `@lingui/react` are `useLingui` and `I18nProvider`

[2021-03-31 10:27] semoal commented on #1019
Ah damn, you're right the type is wrong.
https://github.com/lingui/js-lingui/blob/main/packages/macro/index.d.ts#L31

Let me fix this and I'll release it in a few minutes

[2021-03-31 10:37] semoal commented on #1019
There we go, released mate v3.8.2. Give it a try and feel to close if we resolved the issue.
Thanks for reporting this out! 🥇

[2021-03-31 12:52] zuiidea commented on #1018
I understand！sorry, I found that `@lingui/loader` is not used to process`message.json` files in my project.
Thank you very much for your reply.

[2021-03-31 13:24] whytspace commented on #1019
@semoal Thanks for fixing this so quickly! Works perfectly fine now.

---

Just as a note for others that might also stumble upon this problem:

Whenever I defined a type for the `values` property I now had to explicitly cast it to `{}`, otherwise compiler would complain about missing index structures of my type.

[code]

Example:

[code]

[2021-03-31 13:24] #1019 closed

[2021-03-31 16:15] kopax-polyconseil opened #1020 "export PluralProps from lingui"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when I use `@types/lingui__core` because my IDE and typescript shows a typing error dispate `select.d.ts` being defined.

**Describe proposed solution**

I propose to export PluralProps from @lingui/core` as a named param.

**Describe alternatives you've considered**

Copy and past the typing in my code, that

[2021-03-31 16:19] semoal commented on #1020
Since version 3 @types/lingui aren't required because are bundled already on the package

[2021-04-01 03:19] zuiidea opened #1021 "Run `lingui extract-template` and report an error when `format` is `minimal`"
**Describe the bug**

My lingui config is：

[code]

Run `lingui extract-template`，I got the error：

[code]

If I change `format` to `po`，it work

**Expected behavior**

No Error.

**Additional context**

- jsLingui version `3.8.1`
- Babel version `latest`
- Your Babel config `Create React App`

[2021-04-01 07:26] whytspace commented on #1019
3.9.3

4.2.3 is the latest now. I guess it's about time that I upgrade. :)

[2021-04-01 07:45] semoal commented on #1021
There's no sense to use extract-template as minimal format. Am i wrong?

Look at the issue https://github.com/lingui/js-lingui/issues/793

[2021-04-01 10:44] kopax-polyconseil commented on #1020
How do you import `PluralsProps` to use it in our application?

[2021-04-02 11:27] kopax-polyconseil opened #1022 "Cannot extract using i18n.plural : undefined is not iterable!"
Hello, we use lingui v2.9.2 and we got issue extracting using `i18n.plural`:

This works:

[code]

This fail:

[code]

It fails when we run `lingui extract --clean`, with the following error:

[code]

We rather use the synthax of `i18n.plural` instead of `i18n._`, how can this be fixed ?

### Reproduction

- [`package.json`](https://github.com/pass-culture/pass-culture-app-native/blob/master/packa

[2021-04-02 12:47] amankkg opened #1023 "Update @lingui/cli peerDependency babel-plugin-macros to v3"
**Is your feature request related to a problem? Please describe.**
Not really, just an annoying warning of `npm` on peer deps version mismatch (default `npm@7` behavior is strict on this, by default)

[2021-04-02 13:18] amankkg commented on #1023
Seems like it is also used by `@lingui/macro`

[2021-04-02 16:31] doc-sultan commented on #957
I think developers should be free to use any eslint rules on their own choice.
I would like to try to fix that issue, but before start doing it I would like to know, is this fix not against the philosophy of lingui maintainers or maybe some other reasons were to implement it the way it is?

[2021-04-02 16:37] semoal commented on #957
The "common" behaviour is to define id like a simple string with double/single quotes, that's why the standard implementation works. When Tom refactored the v2 codebase to v3, probably didn't though about this use case, but is not against the philosophy of Lingui, it's just okay, (no free time on my side, and still less on Tom side)

Feel free to take it and ping me if you need some guidance =)

[2021-04-02 16:44] semoal commented on #1022
Hey mate, i could take a look to the issue. But... what do you think if you give some days and i migrate your entire codebase to Lingui v3 with the best practices?
Is it possible for your side?

[2021-04-02 17:31] kopax commented on #1022
HI @semoal , I am quite surprise of your proposition and of course, I can only accept if that solve the problem. I have tried to migrate the whole today but the upgrade step was not straightforward so I rolled back.

You can fork and create a repo, I'll reproduce the PR when needed.

[2021-04-02 17:36] semoal commented on #1022
I took a look and looks there's no much to change and I'm sure that for the future will be easier for you, with all the power of Lingui with plurals, select and other cool methods.

(Of course will be a good real example how a migration to v3 can be done and useful for documenting or fixing any that is wrong on v3)

I'll create a fork this weekend and probably in a few days I'll create a pr! 👍🏻

[2021-04-03 13:07] #1023 closed

[2021-04-04 02:41] villasv commented on #951
Came here from #989 and just wanted to voice my support for this part of the proposal:

Having to adopt babel just for the sake of macros was really painful.

This is what I tried initially and was willing to forsake the typing (perhaps even make a PR improving it), but as said in #989, it won't produce a catalog when running `lingui extract`.

[2021-04-04 02:44] villasv commented on #989
Any pointers at the work one would have to accomplish to add support for `i18n._` message extraction?

[2021-04-04 03:30] villasv commented on #989
From what I gathered looking at the [babel-plugin-extract-messages](https://github.com/lingui/js-lingui/blob/c567ea4c40f6e5b6f00f2930bdc9388e4b95dc9f/packages/babel-plugin-extract-messages/src/index.ts), it looks like messages are found thanks to the /*i18n*/ comments inserted by the `t` macro (or the `Trans` tag).

Looks like [a while back](https://github.com/lingui/js-lingui/commit/b5a11f4fa97f9

[2021-04-05 17:00] semoal commented on #957
Released this feature on 3.8.3 guys!
Thanks to everyone and special to thanks to @sultan99 who resolved this issue!

[2021-04-05 17:00] #957 closed

[2021-04-06 07:29] #1018 closed

[2021-04-06 08:18] semoal commented on #1003
Hey Alex, sorry for the late response.
Are you compiling the catalogs? If i can reproduce this issue someway, i accept some guidance

[2021-04-06 08:52] marswong commented on #713
get in trouble again:

[code]

dependencies:

[code]

`next.config.js`:

[code]

[2021-04-06 08:53] semoal commented on #713
Let me create a reproducible repo and we'll fix the issue asap :)

[2021-04-06 15:42] semoal commented on #1022
Along today or tomorrow I'll create the pull request mate, I'm polishing some details :)

I'm already green our your entire suite =)
[code]

[2021-04-06 15:45] kopax-polyconseil commented on #1022
Thanks @semoal that's great, did you manage to use `i18n.plural` API? May I have a check on your branch?

[2021-04-06 15:51] semoal commented on #1022
Yes, just tried to use the <Plural /> macro and the plural() macro and both works nicely :)

.tsx file somehwere there:
[code]

.po extracted:

[code]

[2021-04-06 21:24] AlexSCorey commented on #1003
@semoal I saw that you left some feedback on my PR.  Thanks for doing that.  We do compile the strings when we start the dev server.

Here is an example of what I see.  The first 2 screen shots are generating the strings 'second' and 'seconds' by using the `<Plural/>` component.
![Screen Shot 2021-04-06 at 5 18 36 PM](https://user-images.githubusercontent.com/39280967/113780022-945d4e80-96fc-11eb-

[2021-04-07 07:36] JSteunou opened #1028 "peer dependency on babel plugin macros is too strict"
[code]

But all working fine with >= v3

[2021-04-07 08:00] semoal commented on #1028
Update to 3.8.3, https://github.com/lingui/js-lingui/commit/c567ea4c40f6e5b6f00f2930bdc9388e4b95dc9f

[2021-04-07 08:31] semoal commented on #1003
Yes, Lingui offers some plugins for auto-compiling the catalogs when you import them.
https://lingui.js.org/ref/loader.html

In some cases when Webpack isn't used you can use --watch via the cli args of lingui compile which runs a Chokidar instance and auto-refresh the catalogs (but this feature is really new and could have some bugs)

The recommended approach always it's to use dynamic imports()

[2021-04-07 08:36] JSteunou commented on #1028
Damned, you're  faster again :D

I will learn and update 1st next time ;)

[2021-04-07 08:36] #1028 closed

[2021-04-07 12:30] kopax-polyconseil commented on #1022
@semoal, I just rebased and tested your PR: and it seems the syntax in `i18n.ts` is not valid:

[code]

Result on startup error:

[code]

Do you have a clue? I am now investigating.

[2021-04-07 12:33] semoal commented on #1022
Yes, that's my bad (not an expert react-native developer, just web ^^) looks metro/native/expo i don't know how it's called doesn't support dynamic imports
https://github.com/facebook/metro/issues/52#issuecomment-496322379

you reimplement this to:
[code]

[2021-04-07 12:52] kopax-polyconseil commented on #1022
@semoal thanks again for your support, so far, I have removed the import the dynamic import part and there's an issue with `make-plurals`:

[code]

I've checked and followed the recommendation to clean the projet, despite the module is existing in `node_modules`, I can't get my app to start, if you have a clue, thanks, otherwise I'll keep digging.

[2021-04-07 12:55] semoal commented on #1022
https://github.com/eemeli/make-plural/issues/15
Looks like you have to accept your metro config to accept .mjs files, since make-plural resolves to browser instead (also make sure that is installed, i'm not sure about that haha)

[2021-04-07 12:57] kopax-polyconseil commented on #1022
OK, so far I also disabled the import for plurals and now we got this:

![image](https://user-images.githubusercontent.com/77674046/113869970-9fbe8180-97b1-11eb-981c-8d2a5fff5a0c.png)

[2021-04-07 13:00] semoal commented on #1022
Actually loading the plurals is required, so the loadLocaleData is mandatory :/

[2021-04-07 13:01] kopax-polyconseil commented on #1022
Yes, I just succeded to load the plural editing my `metro.config.js` with :

[code]

I still have the error from the screenshot.

[2021-04-07 13:06] kopax-polyconseil commented on #1022
I figured the cause, it seems that now undefined cannot be `trimed()`, so we cannot use undefined variable in template literrals, this cause most of the page of our application to crash. Is there a soft mode or something we can use ?

[2021-04-07 13:07] semoal commented on #1022
Let me hotfix this 👍🏻

[2021-04-07 13:18] kopax-polyconseil commented on #1022
![image](https://user-images.githubusercontent.com/77674046/113872748-718e7100-97b4-11eb-9d59-aa2a4e5dd790.png)

I added some logging to see what value is result...

[2021-04-07 13:21] kopax-polyconseil commented on #1022
This seems to work: `    return result && result.trim && result.trim();`

[2021-04-07 13:25] semoal commented on #1022
Result shouldn't be a function because are the messages interpolated, I'm checking if i can reproduce the issue in our test suite

[2021-04-07 13:28] kopax-polyconseil commented on #1022
I still see a lot of unicode chars displayed, I have tried to remove them, using some HTML code. Can you tell me how for example I can replace `\u00a0` ?

[2021-04-07 13:30] kopax-polyconseil commented on #1022
I've tried both and none of them work. Why would you strip the charactères? Perhaps you can add an option to toggle the feature for such cases?

[2021-04-07 13:36] semoal commented on #1022
I can't remember now why Tomas took that direction, we had issues with some bundlers and we decided to keep it like just html entities.
What's the case that doesn't work?

[code]

In this case is recommended to use it like this:
[code]

[2021-04-07 13:40] kopax-polyconseil commented on #1022
We use syntax literal so it's a template literal that caused to be a `function` instead of a `string`:

[code]

I've updated the `interpolate` and it work with the updated snippet.

We use a lot of unicode charactères to add unbreakable spaces, etc... Can this feature be restored?

[2021-04-07 13:46] semoal commented on #1022
Let me review the unicode topic

[2021-04-07 14:09] seeden opened #1031 "defineMessage and react components | question"
Is there any way to use defineMessage with variables which are react components?
I tried these variants without any luck

[code]

Thanks

[2021-04-07 15:26] AlexSCorey commented on #1003
@semoal I have installed that loader, and implemented the dynamic imports, and it still renders the strings incorrectly.

[2021-04-07 15:33] semoal commented on #1031
Hm, I don't get the objective mate.

[2021-04-07 15:35] semoal commented on #1003
Does it happen on the pull request i've reviewed? I can download it and give it a try, sorry for not being as helpful as i want. But we'll resolve this issue for sure

[2021-04-07 15:35] semoal commented on #1022
Give me tonight to analyse how can we solve the unicode part and tomorrow we conclude this ;)

[2021-04-07 15:37] kopax-polyconseil commented on #1022
Alright, thanks again for helping us in the migration process ! Good luck,

[2021-04-08 08:57] semoal commented on #1022
We're going to unlock this @kopax :shipit: I've just opened a pull request fixing the unicode part 👍🏻

[2021-04-08 09:16] kopax-polyconseil commented on #1022
Allright, let me know when it's released so I can follow with another try.

[2021-04-08 09:37] semoal commented on #1022
https://github.com/lingui/js-lingui/releases/tag/v3.8.4
Released 3.8.4

[2021-04-08 09:47] kopax-polyconseil commented on #1022
[code]

[2021-04-08 09:52] semoal commented on #1022
Strange right? in Appbutton there's any lingui translation :/

[2021-04-08 09:56] kopax-polyconseil commented on #1022
I've just clear all the cache and tried once more and now the app start but the issue with unicode chars remains:

![image](https://user-images.githubusercontent.com/77674046/114007258-7826f200-9861-11eb-9e54-27589fa1bb5a.png)

[2021-04-08 10:05] semoal commented on #1022
Did you extracted and compiled other time?

[2021-04-08 10:13] kopax-polyconseil commented on #1022
I just did and the error remain.

[2021-04-08 10:14] semoal commented on #1022
Ah fuck, i'm stupid

I'm checking your unicode characters ann don't have two slashes :/

\u00a0

And i've introduced the check with \\u LMAO

[2021-04-08 10:14] kopax-polyconseil commented on #1022
I forgot to upgrade macro and cli, just a sec I try again

[2021-04-08 10:15] semoal commented on #1022
Give a moment and i release a hotfix for this!... fucking rush (but easy fix at least)

[2021-04-08 10:23] kopax-polyconseil commented on #1022
OK so we have a bunch of other issue, I will list them here

[2021-04-08 10:23] semoal commented on #1022
No, you're right, i checked the double because babel adds a new one, so the regex is correct.

[2021-04-08 10:25] kopax-polyconseil commented on #1022
###  Unicode chars present and titles are missing

![image](https://user-images.githubusercontent.com/77674046/114011254-52035100-9865-11eb-8b2d-466dd438ee6a.png)

![image](https://user-images.githubusercontent.com/77674046/114011371-6e06f280-9865-11eb-99f6-665382de1054.png)

[2021-04-08 10:31] semoal commented on #1022
The unicode chars to the descriptions it's strange. No exists `\u00a06` this unicode char.

In the code we have this:
[code]
Check if there's none strange syntax in the space between `le` and ${}, or try to extract to:
[code]

About the other one, if you give me where it's situated that string i could check hehe ^^

[2021-04-08 10:37] kopax-polyconseil commented on #1022
We use an unbreakable space between `Le` and the day: `Le\u00a06 mai 2021` should display `Le 06 mai 2021`

For example, thoses titles doesn't get displayed :

- https://github.com/pass-culture/pass-culture-app-native/blob/semoal-refactor-to-lingui-v3/src/features/home/pages/Home.tsx#L100

[2021-04-08 10:44] kopax-polyconseil commented on #1022
Fix the unicode issue in our page, we still try to understand why title in our application disappeared

[2021-04-08 10:52] kopax-polyconseil commented on #1022
v3 seems to be less stable, for example, to fix the title:

[code]

After:

[code]

[2021-04-08 11:03] semoal commented on #1022
These were all bad practices from v2, and not recommended because weren't working as macros, that's why now all the imports come from macros packages and not the react one.

These has sense since how this code it's executed and interpreted by typescript. This in v2 was working because was not doing the macro correctly giving us a lot headhache to debug why something was translated or not (also the

[2021-04-08 11:05] semoal commented on #1022
Probably the v3 version was a bit crazy in terms of strictness, but in this way we keep the code maintainable in our side and your side.

I'll work this months in a eslint plugin to enforce the correct usage, also i've developed a [codemod](https://github.com/lingui/codemods) for automatic migration from v2 codebases to v3 :)

[2021-04-08 11:06] kopax-polyconseil commented on #1022
That's perfect enough for our requirements, thanks for giving us a bit of your road map, we'll update and may have some feedback in the next weeks if things goes wrong. Thanks à lot for fixing this for us. I hope your mate won't blame your for restoring the unicode feature :)

[2021-04-08 11:11] semoal commented on #1022
The unicode feature it's a great addition, i found why that code was here https://github.com/lingui/js-lingui/issues/897 and now has more sense the fixes we did for you guys =)

There are tons of new features to the v3 branch, while the v2 isn't maintained anymore:

- Automatic fallback locales with CLDR parent definitions
- Watch mode for compiling & extracting catalogs
- Shipped ESM (compatible

[2021-04-08 11:29] kopax-polyconseil commented on #1022
@semoal , we got two test failing despite the usage of the custom render:

![image](https://user-images.githubusercontent.com/77674046/114019192-63049000-986e-11eb-915e-57b195633c02.png)

Do you have a clue ?

[2021-04-08 11:46] semoal commented on #1022
Ugh that's the first time I see that. I'm out of home right now(lunch) give me 1 hour more or less and I take a look

[2021-04-08 11:48] kopax-polyconseil commented on #1022
No worries, it's not an emergency, it seems that plural format the number according to the local, while this is not what we use to have. I decided to keep the new behavior but I am interested also in disabling it.

[2021-04-08 12:33] kopax-polyconseil commented on #1022
It's all merged. I'll close it for now and re-open it if needed. Thanks again for helping us migrating the library, that's really cool.

[2021-04-08 12:55] kopax-polyconseil commented on #1022
We have another issue here:

https://github.com/pass-culture/pass-culture-app-native/blob/4bc0d48d0d51cba8332e706eb1ffdd1a195ab602/src/features/firstTutorial/pages/FirstTutorial/components/SecondCard.tsx#L27

Despite `amount` value being `500€` here, it gives me the following logs when I check the value:

[code]

The text is not displayed:

![image](https://user-images.githubusercontent.com/776740

[2021-04-08 13:03] kopax-polyconseil commented on #1022
This fix the error :  `text={t`dans l’année de tes 18 ans, obtiens l’aide financière pass Culture d’un montant de ${deposit.toString()} à dépenser dans l’application.`}`, I am now concerned of the risk to have a bunch of error like this unspotted. `deposit` is of type `string` so that shouldn't be an issue.

[2021-04-08 13:06] AlexSCorey commented on #1003
@semoal first, my team has commented at how helpful you have been so no worries, we are appreciative.  The issue does happen on the PR you have reviewed so that might be a good place to start.  Let me know if you need help getting it running.

[2021-04-08 14:07] semoal commented on #1022
I've tried to replicate the issue on the example/create-react-app application which uses create-reac-app under the hood and couldn't reproduce it.
I'm going to TRY to launch your application (if it's possible and will be more efficient) :/ Looks something related to react-native because in web (even with strictmode) doesn't log any error

[2021-04-08 14:18] kopax-polyconseil commented on #1022
I don't think you can, as explained in our `README`, if you want to run iOS, you will need our `ios/GoogleService-Info.plist` , and for android, there's also `google-services.json` and `android/keystores/development.keystore.properties`. I am not allowed to share those.

How about bootstrapping a fresh react native application for such test?

Considering the role of lingui, I have doubt about it,

[2021-04-08 14:20] semoal commented on #1022
Yes, i'm going to bootstrap a react native application.

Give it a try if you can to reproduce it in a  create-react-app example, update lingui to latest (make sure installed is 3.8.4) and tell me if you can reproduce it

[2021-04-08 14:28] kopax-polyconseil commented on #1022
Yes, that's unfortunate, I am already on it.

[2021-04-08 15:07] semoal commented on #1022
![Screenshot 2021-04-08 at 17 06 51](https://user-images.githubusercontent.com/22656541/114050764-d6b59580-988c-11eb-9bbc-891830038e50.png)
Can't reproduce it on a practically copy of setup of your application (metro-typescript-react-styled-components)

[2021-04-08 15:18] seeden opened #1033 "Vietnamese support | bug"
From unknown reason lingui is not able to compile few Vietnamese strings.
It is working fine when I remove it from my .po file.
I am using latest version 3.8.2

Here is content of .po file
[code]

I see next error stacktrace:
[code]

[2021-04-08 15:20] kopax-polyconseil commented on #1022
Thanks, I was still working on my boilerplate, so I am giving up. I will try to see if there's a way to start the application without those keys to see if we can investigate further.

[2021-04-08 15:24] semoal commented on #1022
We could talk on a meeting if getting these keys are so risky for an external developer, I'm open to anything, just want to help :)

[2021-04-08 15:26] kopax-polyconseil commented on #1022
Perhaps a peer programming session over meet can help solve this?

[2021-04-08 15:27] semoal commented on #1022
I'm sure that worst can't go =) today i'm busy at work, so if you want to try to reproduce and  if not we speak tomorrow?

[2021-04-08 15:34] kopax-polyconseil commented on #1022
If you can't reproduce it I have doubt on how to reproduce it myself with a fresh native project.

I've checked with our team and starting the app without those secrets is not possible.

I am almost sure I can help you investigate if you want to dig to the root cause through a peer programming session, let me know if you want to schedule that tomorrow.

So far, I warned the dev team that v3 now br

[2021-04-08 15:38] semoal commented on #1022
Yes, let's schedule tomorrow. I have already picked 9:30 and 14:00, i'm free all the afternon

[2021-04-08 15:40] semoal commented on #1033
Could you give me the current message which is causing the error? So i can add it to the testing suite -> reproduce -> and fix it =)

[2021-04-08 15:58] kopax-polyconseil commented on #1022
OK, I've just scheduled on meet a 1h slot between 2pm and 3pm, you have the right to update the time, I am also free for the call the whole afternoon, looking forward with thanks !

[2021-04-08 16:03] seeden commented on #1033
It is already in the description.

[code]

[2021-04-08 16:17] kopax-polyconseil commented on #1022
We got another issue which is blocking for us. After releasing our application in app center with a real android build, it seems that the unicode chars are not replaced in every place, for exemple:

![image](https://user-images.githubusercontent.com/77674046/114061162-67dd3a00-9896-11eb-9c10-3b91079739ee.png)

2nd thing is that the bug with the text on `<SecondCard />` is not fixed (see https://gi

[2021-04-08 16:22] semoal commented on #1033
Looks like the issue is our dependency `messageformat-parser` which is used for parsing the ICU messages
I'll try to analyze if we can workaround around Lingui and if not, we'll have to open an issue there

[2021-04-08 16:34] semoal commented on #1033
Looks like I found an "easy" fix, i'll create a release in a few minutes.

[2021-04-08 16:41] semoal commented on #1033
Alright, we don't need to change anything. Just remove that \b from the msgstr is not valid

[2021-04-08 16:44] semoal commented on #1033
https://github.com/lingui/js-lingui/commit/9b2705feada95f5272346bacee54a26b5518af5e
Just pushed a commit for improving the log if some syntax is not valid. :)

Will be released in a few minutes

[2021-04-08 17:07] seeden commented on #1033
This is not work as well and it is without \b

[code]

Can you check it as well? Thank you

[2021-04-08 17:20] semoal commented on #1033
I can't see that character mate, dunno how to test it hehe
![Screenshot 2021-04-08 at 19 20 16](https://user-images.githubusercontent.com/22656541/114069638-80058700-989f-11eb-8f97-d159b5514987.png)

[2021-04-08 17:23] semoal commented on #1033
https://stackblitz.com/edit/typescript-9kphuq?devtoolsheight=33&file=index.ts
You can use this website to test if that library is the problem or not =)

[2021-04-08 17:29] seeden commented on #1033
It is not working https://stackblitz.com/edit/typescript-9x4cdq?devtoolsheight=33&file=index.ts

[2021-04-08 17:37] semoal commented on #1033
Alright then, I'll create a bug in his repository. I've tried with his new version which is in beta and works good, but it's a major release and breaks lingui so i'll have to find time to work on it :/

[2021-04-08 17:44] semoal opened #1034 "Migrate `messageformat-parser` to new AST `@messageformat/parser`"
**Is your feature request related to a problem? Please describe.**
Since this issue  https://github.com/lingui/js-lingui/issues/1033 we saw that `messageformat-parser` won't work with ASCII characters, and probably is not maintained anymore.

**Describe proposed solution**
Migrate our process to match the new AST structure.

**Describe alternatives you've considered**
Any, but open to listen/read

[2021-04-09 07:32] #899 closed

[2021-04-09 07:40] kopax-polyconseil commented on #1022
Hi @semoal , I've just tested a production build with lingui 3.8.6 and I still have unicode issue in production, now `messages.po` looks like this:

[code]

And view is still showing invalid chars:

![image](https://user-images.githubusercontent.com/77674046/114146252-a49d4580-9917-11eb-892f-a35d18615821.png)

[2021-04-09 11:42] ptmkenny opened #1037 "Translating defaultProps with t()"
**Describe the bug**
When defaultProps are translated with t(), the translated value is never shown.

**To Reproduce**

For example, here is a simple component.

[code]

Run `lingui extract`. Translate `loading.text` to something else, such as "Getting ready translated". Run `lingui compile`.  Change the app language and cause the loading component to trigger.  The text will be `Getting Ready...`,

[2021-04-09 11:47] semoal commented on #1037
For dynamic translations it's recommended to use defineMessage mate. Give it a try

[2021-04-09 12:01] ptmkenny commented on #1037
Thanks!  Based on the [defineMessage docs](https://lingui.js.org/ref/macro.html#jsmacro-defineMessage), I tried this:

[code]

But when I trigger the load component, I still see the original English `Getting Ready...`, and not the translation.

[2021-04-09 12:33] semoal commented on #1022
Quick update:

One thing we can't fix without breaking others users, it's not stripping spaces at the end of strings.

# Not inmediately fix
For example this case:
[code]
Should be like this if you want that space, or ``" "``:
[code]

# Inmediately fix

- The error about maximum exceeded was a refactor i've did to try something new related to event emitter but didn't worked well (as you could chec

[2021-04-09 12:40] kopax-polyconseil commented on #1022
![image](https://user-images.githubusercontent.com/77674046/114181117-60269f80-9941-11eb-9673-282a5472ddc3.png)

APO saw this in the production testing build, I am not sure with which version but it was this morning, so probably the one from yesterday.

I am now testing the latest.

[2021-04-09 13:09] #965 closed

[2021-04-09 13:20] kopax-polyconseil commented on #1022
https://github.com/pass-culture/pass-culture-app-native/pull/864/files

This is how we solve the unicode issue, but now our `messages.po` does not interpolate the value, it just concatenate part of sentences from message file, ex:

https://github.com/pass-culture/pass-culture-app-native/pull/864/files#diff-cb154b350261abe067422a25938a2b4ff16788f9319324330616d7c75583d6a7L1218-R1219

That's not bloc

[2021-04-09 13:26] pascalrogalla opened #1039 "Origins loss for second locale when formatOptions.lineNumbers is set to false"
I'm using lingui version 3.8.9

In my config I have defined two locales

`"locales": ["en", "de"]`

and set formatOptions.lineNumbers to false

`"formatOptions":{"origins": true, "lineNumbers": false}`

My catalogs path is `locales/{locale}/messages`

**Describe the bug**
After I run `lingui extract` I got the following result:

My `locales/en/messages` turned from
[code]
into
[code]
(Which is fin

[2021-04-09 16:28] semoal commented on #1037
Let me try to reproduce it, if you can a codesandbox/stackblitz someting like that where i can debug it, would be really helpul

[2021-04-09 17:39] ptmkenny commented on #1037
Thanks.  I tried to set up a codesandbox but it keeps giving me strange errors.

I did manage to make a GitHub repo to reproduce the problem: https://github.com/ptmkenny/csb-ionic-lingui

`npm install`
`npm install -g @ionic/cli`
`ionic serve`

And then you will see "Default Title" at localhost:/8000 instead of "タイトル"-- even though the app is set to show Japanese only in [App.tsx](https://github.c

[2021-04-12 10:15] semoal commented on #1037
Sorry for the delay mate, I'm really busy right now with Rematch book and other projects and couldn't reproduce it since today.

![Screenshot 2021-04-12 at 12 01 43](https://user-images.githubusercontent.com/22656541/114377405-ea137a00-9b86-11eb-848b-1e59aa55f733.png)

I made it work, but I have to investigate the root cause looks like ionic is adding a i18n import somewhere and replaces the lingu

[2021-04-12 10:55] semoal commented on #1037
Alright, let me wrap some of my findings:

### `i18n._()` inside defaultProps doesn't re-render when changing locale.

This could be caused to how React re-renders it, I'm not an expert of how this is handled internally by React so not sure how can i help here, I'm open to any contribution that improves this experience.

Possible workaround:
[code]
With these changes correctly re-renders the compo

[2021-04-12 13:49] #901 closed

[2021-04-12 15:52] ptmkenny commented on #1037
Wow, thank you so much, this is very helpful.

This thorough response makes me very glad I chose lingui from among the many i18n js options. 😄

[2021-04-13 07:05] semoal opened #1040 "Benchmarks suite for extract & compile"
**Is your feature request related to a problem? Please describe.**
I've helped some projects to migrate to v3 and some of them told me that v3 was a bit slower (by perception) than v2.
I want to be sure that we don't introduce any change that makes everything slower, so I would like to introduce a full suite of performance tests

**Describe proposed solution**
I have to look what frameworks work w

[2021-04-13 10:53] kopax-polyconseil commented on #1022
Hello @semoal , I'd like to know if action will be taken regarding the issue we have with string, we still find a lot of view displayed like follow after migration to v3:

![image](https://user-images.githubusercontent.com/77674046/114541519-1c8ca800-9c57-11eb-801e-15dd9a03880f.png)

Also, our test execution time has increased from 4 to 8 min because of :

    Jest did not exit one second after th

[2021-04-13 11:58] kopax-polyconseil opened #1041 "Test unit in v3 create open handles in Jest for every test"
Following https://github.com/lingui/js-lingui/issues/1022, I have created two separate bug identified in v3.

**Describe the bug**

Since we migrated to v3, each test of our app hang and the following warning appear :

[code]

**To Reproduce**

This is how:

- we export our test utilities: https://github.com/pass-culture/pass-culture-app-native/blob/master/src/tests/utils.tsx#L68
- we write tests:

[2021-04-13 12:05] kopax-polyconseil opened #1042 "React native development cause t`text ${interpolated} example` to return function instead of string"
Following #1022, I have created two separate bug identified in v3.

**Describe the bug**

In a React Native application, we use metro and target iOS, Android and web.

Within our development environment (this bug is not happening within our production build), we often have issue with template literral not interpolating string and returning function, this cause warning everywhere in our application

[2021-04-13 12:06] kopax-polyconseil commented on #1022
I've created two separate issues and suggest that we close that one so newcomers can get the proper feed and have this one linked.

[2021-04-13 13:55] semoal commented on #1041
Hey Dimitri! Hope you had a good weekend.

This is already a known issue https://github.com/lingui/js-lingui/issues/899, didn't know how to fix it "easily".

Meanwhile a workaround for the testing suite it's just:

[code]

forcingRenderOnLocaleChange to `false` in this way the i18n.activate() will just run once, if the locale doesn't change, in your case it's always fr so..

I've tried your codeba

[2021-04-13 13:56] #1022 closed

[2021-04-13 14:10] kopax-polyconseil commented on #1041
Hi @semoal and thanks, I hope you had a good week-end too.

I am checking the workaround now.

You are lucky cause my test without `--runInBand` locally takes `Time:        106.702s`

Our CI takes even more time, `219.71s` + `291.29s` :

[code]

If you try to run the test with `yarn run test:unit --runInBand` locally (as in our CI), you will also have the test process hanging.

[2021-04-14 20:42] #970 closed

[2021-04-15 07:42] #1037 closed

[2021-04-15 16:16] #969 closed

[2021-04-16 09:53] macko911 opened #1044 "Extract sometimes ignores key when using backtics for id parameter."
**Describe the bug**
When running `lingui extract --clean`, the result is different in 2 seemingly identical environments. Unfortunately I didn't find out what difference there is between the two computers that could lead me to the cause of the issue. Maybe you will know what is wrong with the extraction or with our usage of the `t` macro.

The problem is with using backtics `` instead of quotes '

[2021-04-16 11:26] semoal commented on #1044
This feature is on this line: https://github.com/sultan99/js-lingui/blob/c8d32066c7ef340b5f221573db2ce665d9ab8e06/packages/babel-plugin-extract-messages/src/index.ts#L240

If you can add a `console.log(value)` to see if it's different between your environments, would be easier to debug.

If we can't see any difference we can meet up in a fast call and we debug it together :)

[2021-04-17 04:01] #913 closed

[2021-04-19 05:06] danhtran94 opened #1045 "Webpack 5 support"
**Describe the bug**
`@lingui/loader` not working with webpack 5

**To Reproduce**
run latest nextjs with following config:
[code]

**Expected behavior**
Errors:
[code]

**Additional context**
lingui config:
[code]

- jsLingui version `3.8.9`
- Babel version `7.13.15`
- Your Babel config
[code]

[2021-04-19 09:20] kopax-polyconseil commented on #1042
Hi @semoal , I hope you add a good weekend. Did you had any tought on that one?  The v3 migration added some complexity to our devs, as in this commit https://github.com/pass-culture/pass-culture-app-native/pull/917/commits/dba46af21fb65e411075299cddd2fea55aa9bcf2  . I would love to know if you have a plan to work on it soon, as we may decide to revert to v2 to prevent mistakes. I myself, have no

[2021-04-19 09:41] semoal commented on #1045
Released https://github.com/lingui/js-lingui/releases/tag/v3.8.10, give it a try and tell me if everything works fine :)

[2021-04-19 09:51] semoal commented on #713
@marswong @colinaaa give it a try to 3.8.10, I've released a fix. I've tried with our next-js example which uses webpack 5 under the hook and worked nice

[2021-04-19 10:52] colinaaa commented on #713
@semoal this works nice for me! Thanks a lot!

[2021-04-19 15:52] EreHuc opened #1048 "lingui/loader with JSON file in NextJS projects"
**Describe the bug**
Hi, I actually work with NextJS and I need to implement an i18n. I decided to use lingui over other lib but I encounter and error when I try to use lingui/loader to dynamically load and compile my .json file I got errors:
when
[code]

But if I change my configuration to default ( .po files ) and change my import to import .po file everything works perfectly.

Notice I use Next

[2021-04-19 15:55] semoal commented on #1048
Great to have this issue Romain, just today tried to fix the @lingui/loader to work with Webpack 5.
If I have some free time this night I'll take a look.

Thanks for reporting and decide to use Lingui =)

[2021-04-19 15:56] EreHuc commented on #1048
Well I'm using Webpack 4 not 5

[2021-04-19 15:56] semoal commented on #1048
It's the same Loader (was just saying that just today I've working on that module)

[2021-04-19 17:46] danhtran94 commented on #1045
It fixed when update to `v3.8.10`
Thank you for awesome repo :D

[2021-04-19 20:06] #1045 closed

[2021-04-19 21:07] semoal commented on #1048
Meanwhile I fix this issue, I have to speak with some Webpack maintainers to understand a new change on the js parser.

You can use an alternative approach (recommended by the way by the webpack team):

Your webpack configuration:

[code]

[code]

This will say to Webpack that .json files with the @lingui/loader import must be loaded (yes or yes) with javascript parser / generator, if not, webpack

[2021-04-20 08:10] SanichKotikov commented on #503
Hi,

Is there any way to extract messages separately for different pages(folders)? For example, I have next project structure:

[code]

and I want to get next jsons (with messages):

[code]

[2021-04-20 10:25] EreHuc commented on #1048
Thanks it works !

[2021-04-21 12:08] stovmascript opened #1049 "Duplicate extracted plurals"
**Describe the bug**
Identical `plural` macros with different value variable names result in duplicate extracted messages.

**To Reproduce**
[code]

Observe 3 missing translations instead of 1.

**Expected behavior**
All messages to be deduplicated regardless of the value variable name.

**Additional context**
Add any other context about the problem here.

- jsLingui version `3.8.10`
- Babel versi

[2021-04-21 14:04] semoal commented on #1049
Not sure if it's an issue itself. I don't know if how macros works is possible to "fix" this, since these variables are the same because you know are the same, but could not be the same on runtime.

I'll try to find time to focus a bit on Lingui

[2021-04-21 14:43] semoal commented on #1042
Actually I'm really busy with my current job and other noise I have around me, once I find time I'll work on this issue and I'll create a pr on your repository doing it simple another time.

Sorry for the inconveniences but OSS doesn't give me enough to focus on every issue all my entire time

[2021-04-21 17:55] ptmkenny commented on #1037
Just an update to this: I've found a way to handle defaultProps which works better for me.  Sharing in case it helps anyone else:

[code]

Doing it this way (set the default to null, and then use a conditional in the render to check for the default) correctly renders the default value, and I can also pass t() as a prop, which will be rendered correctly.

[2021-04-21 20:50] stovmascript commented on #1049
Not sure if it was obvious enough, but as you can see:

https://github.com/monitora-media/js-lingui/blob/8915b7e3bb2e163b9f5e61e83f60f207d2f1fdef/examples/js/src/messages.js#L98-L99

There is a workaround by passing the variable to `parseInt` or some other pass-through function, which makes Lingui merge the plurals correctly.

[2021-04-22 11:01] seeden opened #1050 "lingui adding new characters into translations during extract"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

- jsLingui version ``lingui --version``
- Babel version ``npm list @ba

[2021-04-22 11:07] seeden opened #1051 "lingui adding new characters into translations during extract | bug"
I have .po file with next context

[code]

When I use `lingui extract` it change content of the file to
[code]

As you can see there is an addition *\b* character that was not in the original file.

Lingui also changes other characters as well and it is not able to parse it anymore after this operation.

Here is my .linguirc file
[code]

FYI:
It is not working with all the latest versions of lingu

[2021-04-22 11:57] #1050 closed

[2021-04-22 12:22] JovanShandro opened #1052 "Support for svelte"
Hi! I tried to use the plain javascript version on svelte but couldn't manage to make it work. Is there any plan to also add support for svelte in the future?

Thank you!

[2021-04-22 12:52] semoal commented on #1052
Currently I'm alone maintaining this project, but I'll be happy to add Svelte support to Lingui, but right now I'm out of free time.

In a few weeks probably I'll could find some time to take a deeper look on this.

[2021-04-26 08:48] sapandiwakar commented on #1037
For anyone coming here searching to localize `defaultProps`, there is a small mistake in https://github.com/lingui/js-lingui/issues/1037#issuecomment-816633278. You should use `defineMessage` inside `defaultProps` (since this is an object that is evaluated only once) object and then translate the message inside the component like this:

[code]

[2021-04-26 11:31] root-io opened #1053 "TypeError undefined is not a function"
**Describe the bug**
[code]

[code]

See https://github.com/libreotp/webapp/blob/master/src/App.tsx

**To Reproduce**
Upgraded from 3.7.1 to 3.8.10

**Additional context**

- Babel version `@babel/core@7.12.3`
- Babel version and config from CRA 4.0.3
- Chrome 84.0.4147 (Android)

[2021-04-26 11:59] semoal commented on #1053
Yay, i'll take a look in a few hours

[2021-04-26 16:01] rumata2 opened #1054 "Passing dynamic variables as id to Trans macro?"
**Describe the bug**
We are trying to use Trans from lingui/macro by passing ID as variable (react native 0.63.4). However in that case id is simply ignored.

**To Reproduce**
Example:
``
            <Trans id={titleIdMessage}>
              Welcome <Text style={styles.primary}>Home!</Text>
            </Trans>
``

Where titleIdMessage is some string variable (e.g. titleIdMessage = 'mykey').
mykey

[2021-04-27 05:45] marswong commented on #713
Works like a charm, thx :)

[2021-04-29 07:40] cdaycmc opened #1055 "t in attribute not updating when activating language change"
**Describe the bug**
t in attribute not updating when activating language change

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:
[translate.zip](https://github.com/lingui/js-lingui/files/6396988/translate.zip)

[code]

**Expected behavior**
I would expect t`` to change when activating language change.

**Additional context**
Using <Trans/> in the attribut

[2021-04-29 08:42] semoal commented on #1055
Could you add i18n.activate inside an useEffect and give a try?
If you confirm the issue persists, I'll try to reproduce it asap

[2021-04-29 21:21] nathanforce opened #1056 "Macro uses wrong config"
**Describe the bug**

The macro is resolving the config [here](https://github.com/lingui/js-lingui/blob/main/packages/macro/src/index.ts#L7) which falls back to cwd. This is causing warnings in my test runs because of missing plurals.  After some digging, the plurals are missing because the transformed code is importing `i18n` from the default location rather than the one specified in my `.linguir

[2021-04-30 01:48] cdaycmc commented on #1055
Changed to useEffect.  It does change, but now its a cycle behind ie. click `pt` and everthing changes to Portuguese except the `t()`, but then if you click `en` then everything changes to english, but the `t()` changes to Portuguese and vice-versa.

[code]

[2021-04-30 08:24] semoal commented on #1055
No, sorry probably I've explained wrong, just the i18n.activate(en)

[code]

[2021-05-01 17:42] #916 closed

[2021-05-01 20:11] bitlab-code commented on #1054
this can't work: macro are executed at compile time, it's just transform your source code

[2021-05-02 23:31] cdaycmc commented on #1055
No, changing to above still doesn't change the t().

[code]

[2021-05-03 19:50] mschipperheyn commented on #920
I have had the same issue and it was caused by "old" style @lingui `i18n._(t('id')`Message`)` 2.x references still existing in the code.

[2021-05-05 02:20] #984 closed

[2021-05-05 23:32] cdaycmc commented on #1055
Closing this as I got it working.  No need for useEffect
- activate lang at load
- on click, activate lang, setState for re-render

[code]

[2021-05-05 23:38] cdaycmc commented on #1055
However it appears that activating a language does not cause a React re-render for `t()` macros, where as `<Trans/>` do re-render. I'm guessing this might still be a bug.

[2021-05-06 08:49] semoal commented on #1055
https://codesandbox.io/s/nextjs-lingui-forked-u7qpt?file=/lingui-example/i18n.ts
Here you have, a working example, also we have a complete example in the examples/create-react-app example which is working correctly.

I tried to start your project but depends of private dependencies.

[2021-05-06 08:50] semoal commented on #1055
In the previous code you pasted, it's also wrong...
[code]
This causes an infinite loop because you're not specyfing to only render on mount.

[code]
This is the correct code, and must work as expected

[2021-05-06 23:29] cdaycmc commented on #1055
I found the issue comparing my code to yours.  Moving the I18nProvider to a higher component updated the translations as required for `t()`.

Note: no useEffect is required for this to work.

[code]

[2021-05-06 23:29] #1055 closed

[2021-05-08 03:47] #977 closed

[2021-05-11 13:12] datagutt opened #1058 "Extracting fails when next/dynamic is used"
**Describe the bug**
When using Next.js dynamic imports, Lingui is unable to extract messages from the pages/components using dynamic imports.

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

When extracting pages/index.js, i get this error:
```Cannot process file app/pages/index.js: Cannot read property 'pagesDir' of undefined```

**Expected beha

[2021-05-11 13:49] semoal commented on #1058
Actually crashes internally Next but extracts correctly the value to the messages file. (Tried with @canary version of Next and the latest)

Actually the fix from our side is to remove the Typescript extractor located here: https://github.com/lingui/js-lingui/blob/main/packages/cli/src/api/extractors/index.ts#L6, we already discussed this on https://github.com/lingui/js-lingui/discussions/1047 and

[2021-05-11 22:40] #1020 closed

[2021-05-12 06:30] iStefo commented on #1003
Thank so you much, that's great to hear. Don't worry about the release, next week is absolutely fine!

[2021-05-12 07:44] root-io commented on #1053
No, maybe due to some service worker/cache issue, let's close this, thanks :)

[2021-05-12 07:44] #1053 closed

[2021-05-13 20:55] rajuashok commented on #333
Just checking in here, looks like this is still an issue with this lib and it does not handle SSR and SSG on nextjs?

[2021-05-14 12:31] MartijnHols opened #1063 "In development when using ESM version messages are not "compiled""
**Describe the bug**
In development, before extracting new messages, translations are not being compiled meaning variables are not being replaced with their values.

**To Reproduce**
Set up a project that uses the ESM imports in development mode.

[code]

This will render `This should be {somethingElse}!` when using the development ESM version of the library @lingui/core (`dev.esm.js`). This becom

[2021-05-14 12:39] semoal commented on #1063
https://github.com/lingui/js-lingui/pull/1059
It's already fixed, on the next tuesday will be released

[2021-05-17 09:19] SanichKotikov opened #1064 "How to wrap component and function, and extract messages to separate chunks"
**Is your feature request related to a problem? Please describe.**
I have a large project with feature-folders, and wanna extract messages separately by these features, and load only needed messages chunk in runtime. For example I have the next project structure:

[code]

From that structure I wanna get next files:

[code]

So, when a user routes to `/some-feature`, the app should load related mes

[2021-05-17 12:33] kopax-polyconseil commented on #1042
Hi @semoal , I hope you are good. Sorry I forgot to reply but I read you. I am glad that you are fixing this issue because it's kind of annoying having to explain those bugs to others. We are currently deploying the app to production, I presume we can take care of testing the next version  starting next week if you have solved it by then.

Otherwise, let me know how we can help,

[2021-05-17 17:51] pierrekarliler commented on #721
Same issue with version `3.8.10`

[2021-05-17 18:16] semoal commented on #721
Since this issue it's closed, you can open a new one with a reproduction repo and I'll could help much more than just reading same issue :)

In our examples folder, create-react-app contains a testing-library suite where we test our pre-releases and works as expected, so i'm inclined to think that it's something related to your configuration.

Anyways, feel free to open a new issue with a repro li

[2021-05-18 07:50] semoal commented on #1064
Hello, this is a great question and somehow related to #503.
Right now, we don't have a plugin which extracts to chunks the messages, once I get some free time I want to work on that direction, I already have some ideas and improvements to that field.

Meanwhile, probably https://lingui.js.org/ref/conf.html#separate-catalogs-per-component-placed-inside-component-dir this should work for you.

You

[2021-05-18 10:05] #1003 closed

[2021-05-18 10:05] #1039 closed

[2021-05-18 11:04] semoal commented on #1042
Released 3.9.0 give it a try when you can, but i'm pretty sure that will fixed :)

[2021-05-18 11:04] #1042 closed

[2021-05-18 11:05] semoal commented on #1058
Released 3.9.0 give it a try when you can, but i'm pretty sure that will fixed :)

[2021-05-18 11:05] #1058 closed

[2021-05-18 11:05] semoal commented on #1063
Released 3.9.0 give it a try when you can, but i'm pretty sure that will fixed :)

[2021-05-18 11:05] #1063 closed

[2021-05-18 11:05] #1031 closed

[2021-05-18 11:06] #1012 closed

[2021-05-18 11:06] #1044 closed

[2021-05-18 18:33] timonbimon opened #1067 "Lingui extract fails with orderBy 'origin'"
**Describe the bug**
lingui extract fails when orderBy is set to `origin`. Works if the default setting is used.

![image](https://user-images.githubusercontent.com/14793026/118704859-d8716200-b817-11eb-8c00-9d6975002207.png)

Any ideas what might be going on?

- jsLingui version 3.8.10
- Your Babel config: Create-React-App 4.0.0

[2021-05-18 18:40] semoal commented on #1067
Probably it's a bug and should be fixed

packages/cli/src/api/catalog.ts
Line 650, you can try to debug your node modules code with some console.logs, and submit a pull request with the fix.

[2021-05-18 18:44] timonbimon commented on #1067
OK actually found the issue
I had a line like this at the bottom

[code]

without a
```#: src/...```
above it => since this is what orderBy sorts on it crashed

[2021-05-18 19:35] kopax-polyconseil commented on #1042
Hi @semoal , I was going to write to you a message. Thanks for meanwhile taking care of fixing the issue.

We were supposed to go prod today, unfortunately this is what we got in production (with the old version):

![image](https://user-images.githubusercontent.com/77674046/118712163-be884d00-b820-11eb-87bc-12f3e582ef0a.png)

We're done for today, but we'll definitely try to upgrade to 3.9.0 and s

[2021-05-19 06:03] mofmn opened #1068 "Lingui usage in Rails React project"
This is only really a request for documentation solving this issue. I didn't think it right to report it as a bug, as it is more that the setup instructions aren't working for my use case.

I have followed the instructions in my Rails project that implements a lot of react code on the front end (eventually i foresee the entire front end will become a React project with just a rails backend.) I wou

[2021-05-19 08:10] semoal commented on #1068
There are some plugins which are mandatory to make Lingui work since Babel it's the responsible under the hood of transforming the code to AST and read where are the <Trans> macros. (also built on top of babel)

https://lingui.js.org/tutorials/setup-react.html

Make sure you have installed `@babel/core` and `babel-plugin-macros` as devDependencies.

Also If you use this syntax:

[code]

`import()`

[2021-05-19 08:49] mofmn commented on #1068
So, after some fiddling, it seems i had to use this command to add all the various parts of babel that it was missing (just the core and macros did not seem sufficient, as i tried those first) -

yarn add --dev @babel/preset-env @babel/preset-react @babel/core @babel/cli @babel/plugin-proposal-class-properties @babel/plugin-syntax-dynamic-import @babel/plugin-transform-runtime

Not certain every o

[2021-05-19 09:04] mofmn commented on #1068
So i had this line in my babel config:
`plugins: [
        '@babel/plugin-proposal-class-properties',
        {
          loose: true
        }
      ],`

in my babel config, changing it to false removed all the warnings, but i am unaware of the impact of this setting.

[2021-05-20 18:14] RafaelVidaurre opened #1069 "Conflict with twin.macro running extract"
**Describe the bug**
Importing [twin.macro](https://github.com/ben-rogerson/twin.macro) throws `Duplicate declaration "Trans"`.
(same error as https://github.com/lingui/js-lingui/issues/952)

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:
1. Setup twin.macro with the `emotion` preset
2. Import twin.macro and `@lingui/react` in this **precise order:**

[co

[2021-05-21 09:36] semoal commented on #1069
There's someting that twin.macro does especial to others macros because for example with `styled-components/macro` works correctly, looks an interersting issue.

Thanks for reporting this, I'll take a deeper look the next week

[2021-05-21 15:21] nathanforce commented on #1056
Something like [find-up](https://www.npmjs.com/package/find-up) should work.  Might need to cache/optimize perf though.

[2021-05-22 16:07] kopax-polyconseil opened #1070 "[report] Production with Lingui v3"
**Describe the bug**

Our project went to production this week, this ticket is made to track all the issue we have with lingui v3, and we have a lot

Todo:
- [ ] : Cannot build application locally outside CI due to template literral not being interpolated locally
- [ ] : Lingui is editing test translation during during CI build:

[code]

- [ ] Lingui is editing message during build

![image](https

[2021-05-23 16:47] #975 closed

[2021-05-25 07:57] SanichKotikov commented on #1064
@semoal thanks. Extracting works as needed for now with next config:

[code]

It only works when I use `import '@lingui/..'`, but I need use my own wrapper with custom path, for example:

[code]

I've been playing around `runtimeConfigModule` but no luck. How does it work?

[2021-05-25 09:50] datafoo opened #1071 "Built PO file contains header with incorrect letter case"
**Describe the bug**
Extracting PO file generates a file containing the header "Mime-Version: 1.0\n".

**Expected behavior**
Extracting PO file should generate a file containing the header "MIME-Version: 1.0\n" (note the difference in letter case).

**Additional context**

- jsLingui version ``lingui --version``: 3.9.0
- Babel version ``npm list @babel/core`` 7.14.3

"MIME-Version: 1.0\n" seems to

[2021-05-25 10:00] datafoo opened #1072 "Built PO file contains each of the several references on a dedicated line"
**Describe the bug**
Extracting messages that occurs in several places in the code results in an entry containing all references on a dedicated line:
[code]

**Expected behavior**
Extracting messages that occurs in several places in the code should result in an entry containing all reference in a single line:
[code]

**Additional context**

- jsLingui version ``lingui --version``: 3.9.0
- Babel ve

[2021-05-26 00:49] nakkamarra commented on #1072
Hmm interesting, the `gettext` documentation seems to confirm this: https://www.gnu.org/software/gettext/manual/html_node/PO-Files.html ,
but I'm not sure that I totally agree, I think for some common strings like `Submit` that are referenced in tens of files, this could result in some ridiculously long comments. Following the conventions of the original implementation is probably best though, and

[2021-05-26 00:51] nakkamarra commented on #1071
If you grep this repo for `mime` it seems like a one line change just needs to happen in a few TS files and you can feel free to submit a quick and easy PR for that. However, it would be important to also update the example docs too, so that someone such as yourself wouldn't get confused when encountering contradictory information in the docs / repo / CLI output.

[2021-05-26 00:57] nakkamarra commented on #1070
I've run into this before. I don't think `Lingui is editing` anything, but rather examples looks like a merge conflict got committed in your source code. [The documentation calls this out] (https://lingui.js.org/ref/conf.html?highlight=merge%20conflict#lingui) and if you check your source code / catalog files, there is probably some unwanted instance `HEAD` there. You should take care to check for

[2021-05-26 07:37] datafoo commented on #1072
Above all, it would prevent back and forth fighting with different formats used by all tools involved (lingui, poedit, …) and would save a lot of time.

[2021-05-26 08:05] semoal commented on #1070
Yeah actually I was going to say the same about the first part, sometimes .po files gets conflicts and that >>>>> strings came from there.

About template literals not being interpolated locally was an issue with ESM builds, Lingui needs a development runtime to make it work and another for production, when I've introduced ESM I forgot to export that ESM development and just published ESM producti

[2021-05-26 08:14] kopax-polyconseil commented on #1070
Hi @semoal , we'll definitely try to upgrade to 3.9.0 asap.

Some of the errors we had were happening when generating the messages.po on a up to date branch. Since, we had to unplug some translation not to risk to display those.

I'll improve the report as soon as we'll have time to investigate the translation issues we have. Thanks!

[2021-05-27 08:51] capaj opened #1075 "if the message has curly brackets in itself, compilation is broken"
**Describe the bug**
if the message has curly brackets in itself, compilation is broken

**To Reproduce**

[code]
extract and try to compile

**Expected behavior**
compilation works fine
**Additional context**
message format

[code]

- jsLingui version ``lingui --version`` 3.8.10
- Babel version ``npm list @babel/core`` 7.14.0
- Your Babel config (e.g. `.babelrc`) not relevant

[2021-05-28 01:27] nmoinvaz opened #1076 "i18n._ does not format values in production build"
**Describe the bug**
When using `i18n._` with the second argument "values" those values are not inserted into the string in production build, but they are inserted into the string in development when running `npm run start`.

**To Reproduce**
I have created a sample repository that can be used to reproduce the problem:

https://github.com/nmoinvaz/lingui-values-bug

Relevant code file:
https://git

[2021-05-28 05:48] braineo opened #1077 "Mark translation fuzzy when source string has changed"
**Is your feature request related to a problem? Please describe.**
I've been working with GNU gettext and Qt linguist, one thing I miss a lot from those 2 tool chains is

 detecting source string has changed and mark translated language fuzzy when I'm using fix message ID

so that translator take a quick look, whether
1. it is just a typo fix in source text and no need to touch translation, or
2.

[2021-05-29 12:44] moodysalem opened #1078 "t macro will not change on locale switch"
**Describe the bug**
when you use the t macro inside a memoized component, the translation text will not change when the locale is switched, unless the component also rerenders

this behavior contrasts the Trans macro which always rerenders on locale switch

**To Reproduce**

create a component that allows you to switch the active locale

set the force render on switch to false

render a pure/memo

[2021-05-30 11:57] vonovak commented on #1078
hi, I believe the way to do this currently is

[code]

but I'm not sure how that is different from

[code]

perhaps someone more knowledgeable can clarify

[2021-05-30 14:09] moodysalem commented on #1078
i'm pretty sure that would double translate, but something like this would be fine for us as a workaround

[code]

[2021-05-31 03:53] #1016 closed

[2021-05-31 13:09] snih opened #1079 "React app crashed when chrome auto translations is on"
**Describe the bug**
Probably I figured out reason of #317 .

First case. If I open my app with turned on chrome autotranslations, my app will crash with an error
[code]

There are also second case, when translations not changed as expected. Second case relates to [this article](https://guoyunhe.me/en/2019/06/02/fix-react-issues-with-google-translate)

I can't figure out, why sometimes app is cras

[2021-05-31 13:10] snih commented on #317
@kv9991 maybe [this info](https://github.com/lingui/js-lingui/issues/1079) will be helpul for you

[2021-06-01 15:25] kopax-polyconseil commented on #1042
Hi Semoal, I just tested 3.9.0, we still have the sames string not being displayed with the function error in development. Seems not fixed.

[2021-06-01 15:26] kopax-polyconseil commented on #1070
Hi @semoal, we just tested 3.9.0 and we still see the is not a function error on the same string as before in development.

I presume #1042 should be re-opened.

[2021-06-04 17:49] #1071 closed

[2021-06-07 19:37] AlexSCorey commented on #1076
I have the same issue using CRA webpack config and marking strings with ``` t`string` ```.  To avoid this rendering we have had to run npm run extract strings.  I am using @lingui/macro `3.9.0`

[2021-06-08 22:49] semoal commented on #1072
I'm happy to accept this if this is converted in an extra option to formatOptions https://lingui.js.org/ref/conf.html#formatoptions

For example, could be called `inlineReferences`, boolean. By default should be the current behaviour and if someone wants the references in one line, can enable it.

Should pretty easy to implement it :)

[2021-06-08 22:51] semoal commented on #1075
Yeah this is an error itself from the `message-format` parser dependency we have in the cli, there's also an issue with Vietnamese support which is fixed in the new package. #1033

I'll try to find time as soon as possible to migrate to this new parser which probably fixes all this situations where we don't have any control :/

[2021-06-08 22:52] semoal commented on #1077
I don't remember to see fuzzy messages on Lingui codebase. If you want to create a pull request, contributions are welcome =)

[2021-06-08 22:54] semoal commented on #1079
Could you create a reproduction repo please?
Also, it's recommended to use Trans from the @lingui/macro package instead of the react one.

[2021-06-08 22:56] semoal commented on #1078
Give me tomorrow (already late on Spain) for explaining this correctly, the principal differences between the examples you provided, and in my opinion the correct approach you should take in your project accept's it.

[2021-06-09 07:15] datafoo commented on #1072
It seems the serialization is done with [pofile](https://github.com/rubenv/pofile) and here is a related issue: https://github.com/rubenv/pofile/issues/13.

[2021-06-09 13:38] renchap commented on #1079
I think this might not be lingui-specific but a more general problem with Google Translate & React, see https://bugs.chromium.org/p/chromium/issues/detail?id=872770

Google Translate adds `<font>` elements to the page, which breaks React reconciliation as the React-managed DOM has been modified out of React.

[2021-06-10 10:23] #989 closed

[2021-06-11 18:04] nakkamarra commented on #1076
Looking at your example, this seems to be an issue that I've seen @tricoder42 answer before many times. The issue is essentially that, when the `NODE_ENV=production`, Lingui **does not include a default formatter**  and AFAICT this is intentional, to keep the size of production builds small. However, it comes with the oft-reported-as-a-bug caveat that attempting to render something that doesn't ex

[2021-06-11 19:16] nmoinvaz commented on #1076
I am not using catalogs with string extraction because in my use case the localization files are loaded dynamically.

[2021-06-11 21:44] nakkamarra commented on #1076
Ah, I see. I hadn't read that deep in. Cloning your repo and messing around a touch, and I can't get `<Trans>` or `t` to properly apply formatting either, something that I know for certain that the two do correctly in a production environment. This points moreso to something being broken in your project's setup than the library's API itself.

One thing I noticed is your example doesn't have a ling

[2021-06-11 22:25] nmoinvaz commented on #1076
I'm not so sure if it is due to lack of a package being installed because it does work in development mode. Another project I have does use additional babel plugins and it also has the same problem.

[2021-06-14 12:35] AlexSCorey commented on #1076
@nmoinvaz I too think there is a packaging problem here. LingUI recently udpated to resolve a very similar issure in their development environments, and that was resolved via some packaging https://github.com/lingui/js-lingui/pull/1059

[2021-06-14 16:26] nmoinvaz commented on #1076
@AlexSCorey 3.9.0 version of LingUi does have that commit in it. So I downgraded LingUI to the version prior (before #1059) to see if that was the cause. I used the following command lines:
[code]
However, the problem is still present in 3.8.10.

[2021-06-14 16:40] nmoinvaz commented on #1076
You are right, `Trans` with `values` parameter is not working in production either. I have updated my repo with to also show `Trans` not working.

I'm not using anything special, just create-react-app and lingui.

[2021-06-14 16:41] semoal commented on #1076
Hello guys, @AlexSCorey issue you mentioned was occurring in development environment when we replaced some Plurals' keys for example, we had to re-run extract, this is fixed since 3.9.0.

About your issue @nmoinvaz just cloning your repo right now, give a me a few minutes and I take a look

[2021-06-14 16:44] nmoinvaz commented on #1076
1. I don't use string extraction because I load all localization remotely/dynamically. I use `i18n.load` to load new localizations.
2. Same as above

[2021-06-14 16:45] semoal commented on #1076
That's the tick of the story ^^, are these localization remotely compiled?

[2021-06-14 16:47] semoal commented on #1076
If they aren't, basically with the structure when we run `lingui compile`, it won't work.

On 3.10 I've released a new tool called `remoteLoader()` which accepts a .json structure, .po string, .csv string, and under the hood compiles it to Lingui.

BUT, there are some issues i'm struggling with (node dependencies with babel that can't be released to front-end), I'll try to get it fixed today.

[2021-06-14 16:54] nmoinvaz commented on #1076
They aren't compiled. In my main application (not the repo), I am remotely loading json key/value pair files that have the localization id and the string value using `fetch` and passing it to `i18n.load`.

When using `fetch` I do some thing a bit differently for my use case:
The first URL that succeeds I use and load using `i18n.load`.
* myserver.com/locales/es-MX.json (language-country code)
* my

[2021-06-14 16:58] nmoinvaz commented on #1076
I tried with @lingui/core@3.10.2 but the issue still persists. .☹

[2021-06-14 17:00] semoal commented on #1076
I explained to you, why it fails in the previous comment. It won't work as simply .json because Lingui doesn't accept that, they need to be compiled.

I'm working on this feature (since someone requested it too), and this feature could be possibly just using the `remoteLoader` utility function

[2021-06-14 17:09] nmoinvaz commented on #1076
I see. I think I must have missed this comment in the docs for `i18n.load`. I suppose I saw the example and just went with it.

![image](https://user-images.githubusercontent.com/1364432/121931407-6b5aca80-ccf8-11eb-988a-756fcb3fe366.png)

[2021-06-14 17:41] semoal commented on #1076
![Screenshot 2021-06-14 at 19 40 31](https://user-images.githubusercontent.com/22656541/121935137-66be0280-cd48-11eb-9e6e-ce03627144ed.png)

Production build with `remoteLoader()`:
[code]

[2021-06-14 17:43] semoal commented on #1076
Polish some details and I'll release a new version with this new tool

[2021-06-14 19:34] semoal commented on #1076
Released with 3.10.3 with:
[code]
Once I get free 10 minutes, I'll write a section in the documentation

[2021-06-14 19:46] nmoinvaz commented on #1076
I might be a good idea to update the example code for `i18n.load` located here https://lingui.js.org/ref/core.html to use `remoteLoader`. And then the warning below it can also be removed.

[2021-06-14 20:21] seeden commented on #1033
still an issue

[2021-06-14 22:55] vonovak commented on #1070
Not that anyone asked for my opinion but I circled here browsing through the repo and reading https://github.com/lingui/js-lingui/issues/1022

I just wanted to give @semoal a friendly recommendation to think carefully before spending time with issues that do not provide clear reproduction steps (as explained in https://stackoverflow.com/help/minimal-reproducible-example). It appears that you even

[2021-06-15 23:30] joshhunt commented on #1006
It would be neat for a linter to pick up on trying to do silly things like

[code]

This would probably rely on (typescript) type information, which I'm unsure can be used in an eslint plugin...

[2021-06-16 06:51] semoal commented on #1006
Once I cleanup my backlog with Rematch, I'll give priority to this since v3 it's pretty stable.
I want to create a little roadmap for the next version (not major, just minor)

- Refactor some libraries which are "deprecated" like messageformat-parser
- Performance benchmarking and optimizations.
- Eslint-lingui
- Bug fixes, bug fixes and more bug fixes :)

[2021-06-16 15:03] kuzmichDev opened #1087 "@lingui/remote-loader unable to process ICU select"
Hi!
Remote loader unable to parse ICU Select, with following error:

[code]

Example:

[code]

[2021-06-16 15:24] nmoinvaz commented on #1076
@semoal how long does it normally take npm to pick up the new release?

[2021-06-16 15:31] semoal commented on #1087
Yep, confirmed native JSON.parse is not smart enough. Releasing a new version right now

[2021-06-16 15:36] semoal commented on #1087
Give it a try to 3.10.4, just released. Should work fine :)

[2021-06-16 15:40] semoal commented on #1076
Hm, should be instant give it a try to 3.10.4, just released a fix about remoteLoader.
Should be already available

[2021-06-16 17:23] nmoinvaz commented on #1076
Figured it out, works like a charm in development and production builds! Thank you.

[2021-06-16 17:23] #1076 closed

[2021-06-17 10:36] #856 closed

[2021-06-18 07:43] #1087 closed

[2021-06-19 15:15] #1041 closed

[2021-06-20 09:42] seeden commented on #901
@semoal can you answer https://github.com/lingui/js-lingui/issues/901#issuecomment-773242945 I would like to know this answer too and I have no idea how to fix it without my own "t``" macro

[2021-06-20 13:08] seeden opened #1090 "add support to pass custom i18n to "t" macro"
Hi.

I am using lingui on the server-side and everything works fine except macro "t"
It is using global i18n.
My react application is using custom i18n values.

I would like to use "t" as a hook (which will use my custom i18n value from I18nProvider)
[code]

My first idea was to create custom babel macro but I lose auto "extraction" of translations.

Can you add this hook or add support for passin

[2021-06-21 21:42] tannerlyons commented on #1090
This is also something I'm interested in. We are using lingui in a design system where we want the final distro to be very tree-shakable i.e. if a component isn't consumed, neither are its translations. We don't own the final build system so we cannot delegate this work to webpack in all cases.

We've figured out a way to do this but cannot use macros since we create our own version of i18n lazily

[2021-06-22 00:43] donocode opened #1091 "Extract plugin overwriting temp files incorrectly if no default lingui config exists"
**Describe the bug**
In the extract babel plugin the results are being written to temp files so that the temp files can be read later, transformed and merged into message files. I have multiple files named `utils.ts` in different directories, like `i18n/utils.ts`, `navigation/utils.ts` etc and during extract the extracted messages of all of these are thrown away with only the last transformed file

[2021-06-22 09:29] sinapis commented on #975
Is there documentation anywhere?
Does the repo you published can be used with Typescript, or there are some changes need to .babelrc etc?

[2021-06-23 14:11] nakkamarra commented on #856
Hey @semoal I've got some time to work on this, I'm going to take a look today + tomorrow, if you'd like to reopen it.

[2021-06-24 04:59] max-mykhailenko commented on #901
In my case I just always import i18n instance from React Context. For generating i18n I use setupI18n method. As I saw it works good. Looks like it’s not a singletone at every time used correct language.

Of course will be better to have better way to do that.

@khmm12 how did you solve it in your case?

[2021-06-24 07:28] khmm12 commented on #901
@max-mykhailenko

Well, there are 2 different issues: a) wrong lingui instance on server-side due to concurrency, b) stale translations on client-side due to lack of granular subscriptions.

a) Wrong lingui instance on server-side (and isomorphic applications of course) I solved via AsyncLocalStorage + Proxy + lingui runtimeConfigModule.

<details>

<summary>example</summary>

[code]

[code]

</de

[2021-06-25 13:00] kopax-polyconseil commented on #473
I have the same issue when trying to configure `react-native-web` and an ejected `create-react-app` to support Web in [our React Native project](https://github.com/pass-culture/pass-culture-app-native/tree/jest-web). So far, jest cannot use lingui, I keep having this error.

I have tried every advices here, none did work

Any clue why this error keep happening ?

[2021-06-25 13:26] kopax-polyconseil opened #1092 "TypeError: macro_1.t is not a function"
**Describe the bug**

Hi everyone, I am trying to understand how to configure the macro properly as it seems the documentation example does not work in an ejected created react app imported in our project.

When running `yarn test:unit:web`, we are having this error:

    A clear and concise description of what the bug is.

**To Reproduce**

[code]

**Expected behavior**

I expect lingui macro to

[2021-06-26 10:32] #503 closed

[2021-06-27 22:57] #1049 closed

[2021-06-28 07:10] JSteunou commented on #503
nooo stale bot please keep it up keep it up :)

[2021-06-28 07:58] kopax-polyconseil commented on #473
@ryan-zheng-teki I am still stuck trying to configure our test, I've opened an issue with reproduction [here](https://github.com/lingui/js-lingui/issues/1092)

So far, I already configured @babel/preset-typescript in the webpack configuration, I am already using babel-loader, I use the babel-plugin-macros. I don't get why but the macro doesn't get properly loaded.

- https://github.com/pass-cultur

[2021-06-28 08:31] kopax-polyconseil commented on #1092
I have created a `babel.config.web.js` for ts-loader and I try to fix it that way, this is how the file look like:

[code]

In `jest.config.web.js`, this is how I configure it:

[code]

I have now this error:

[code]

I have no clue on which error is best, it seems like this error is at least going into the babel plugin macros and lingui macro.

[2021-06-28 08:54] kopax-polyconseil commented on #407
How do you get ride of ts-jest ? That's the only way for I to get the test running.

[2021-06-28 09:07] kopax-polyconseil commented on #1092
I solved it by not using ts-jest but babel-jest with:

[code]

As explained in jest configuration.

[2021-06-28 09:07] #1092 closed

[2021-06-28 15:20] JSteunou commented on #920
@semoal I think you can re-open this ticket or maybe it is better if I open a new one, you tell me, but I can reproduce this issue if I use `MessageDescriptor` as the documentation says

[code]

This does not work and triggered the `findIndex` error

[code]

This does work

[code]

[2021-06-28 19:55] seeden commented on #1051
Please reopen this issue. It was not fixed

[2021-06-28 20:13] #1052 closed

[2021-06-29 09:40] normanzb commented on #324
We are still experiencing this with below versions:

[code]

Is it a regression issue?

[2021-06-29 09:46] normanzb opened #1093 "Regression: Newline ignored when used in the <Trans> component (React Native)"
**Describe the bug**
It seems bug https://github.com/lingui/js-lingui/issues/324 still existing in "@lingui/macro" 3.9.0

**To Reproduce**
Please see referred ticket.

**Expected behavior**
Please see referred ticket.

**Additional context**
Please see referred ticket.

## jsLingui version ``lingui --version``
3.9.0

## Babel version ``npm list @babel/core``

[code]

- Your Babel config (e.g. `.ba

[2021-07-03 01:59] indiejoseph commented on #433
Updated to 3.10.2, and still seeing this issue.

[2021-07-06 14:28] TriStarGod opened #1095 "Load plural values dynamically"
**Is your feature request related to a problem? Please describe.**
As per https://lingui.js.org/guides/dynamic-loading-catalogs.html#final-i18n-loader-helper , messages can be loaded dynamically using the example function. However, the same thing is not true for plural.

**Describe proposed solution**
Is a way to make plural dynamically load? If not, can such a possibility be implemented?

**Descr

[2021-07-07 12:48] timonbimon commented on #805
A question: I tried setting lineNumbers to false which works great for the default (english) translation messages, but doesn't for the second (German) messages.po file? There I get a bunch of "empty" origins (see below). Any ideas how to also get the origins (without line numbers) in the second messages.po file?

![image](https://user-images.githubusercontent.com/14793026/124761622-455cca80-df32-1

[2021-07-07 12:58] alesn commented on #805
@timonbimon: Are you using the latest version of Lingui? This was happening in a previous version but it's working fine for me in the latest

[2021-07-07 13:25] timonbimon commented on #805
Thanks updating helped indeed! Sorry for the noise!

[2021-07-08 09:19] reastyn opened #1096 "Custom localization languages"
**Is your feature request related to a problem? Please describe.**
When I try to compile with `lingui compile` I get an error with `Error: Invalid locale custom_locale (missing plural rules)!`. I need a way to specify custom_locale plurals in the config itself. The only thing I want is to bypass the if statement here
https://github.com/lingui/js-lingui/blob/ab68c06775c37bf5960536f274ed35fb2420f6a8

[2021-07-08 20:56] ruscoder commented on #1096
I'm also interested in how to add locales for languages that aren't presented in `make-plurals` package, e.g. Kinyarwanda language (rw). Also, get the same error.

[2021-07-09 09:03] reastyn commented on #1096
In that case the api could be more verbose -
[code]

If it needs to be available in all config forms then
[code]

[2021-07-18 08:47] peleteiro opened #1097 "ICU select does not generate valid Typescript for keys starting with numbers."
**Describe the bug**
ICU select does not generate valid Typescript for keys starting with numbers.

**To Reproduce**
Given the translation key:

[code]

it compiles to:

[code]

**Expected behavior**
It should quote keys starting with a number, or IMHO every key for simplicity's sake.

[code]

**Additional context**
Add any other context about the problem here.

- jsLingui version ``lingui --versi

[2021-07-19 12:59] jinyang1994 commented on #1078
Has the problem been fixed? @semoal

[2021-07-20 16:09] JSteunou opened #1098 "Unicode characters are removed from .po when they are in msgstr"
**Describe the bug**

When using po format and adding some unicode char like `\xA0` in `msgstr` it works at runtime, but running the CLI to extract messages remove all of those char

**To Reproduce**

[code]

Save it, extract again, boom, `\xA0` is gone

**Expected behavior**

Should keep this char

**Additional context**
Add any other context about the problem here.

- jsLingui version ``lingui -

[2021-07-20 16:37] antoinewg opened #1099 "Cannot update a component (`I18nProvider`) while rendering a different component"
**Describe the bug**
After updating to the latest version of React and React Native, we have this warning:

[code]

[code]

The stack trace is not easy to read but basically when I remove the wrapper `I18nProvider`, the warning disappears, along with the translations obviously.

**To Reproduce**

I can provide the link to the repo which is open source if needed. Otherwise, here are the relevant co

[2021-07-22 05:41] orangain opened #1100 "Escape sequence in t`...` gets escaped in messages"
**Describe the bug**

When I use an escape sequence in a template literal ``t`...` ``, the escape sequence gets escaped in messages after `lingui extract`. https://github.com/lingui/js-lingui/issues/897 seems to be a similar issue.

**To Reproduce**

[code]

`lingui extract` produces the following message:

[code]

In this situation, unexpected `\n` is rendered.

![image](https://user-images.githu

[2021-07-22 12:27] ianatha commented on #433
Still seeing this issue:

[code]

[2021-07-24 13:59] cah4a commented on #901
@khmm12
I think I have a better solution:

[code]

The `setupI18n` function will create a fresh instance of i18n for every page, so there won't be concurrency issues.

[2021-07-24 14:26] khmm12 commented on #901
@cah4a

It's a good solution while you don't use `t` macros together with something similar to react-ssr-prepass or streaming.

[2021-07-24 14:46] cah4a commented on #901
@khmm12 Thanks for the clarification!

I think something like `const {_} = useI18n()` will work good instead of `t` macros

[2021-07-24 15:38] #810 closed

[2021-07-24 21:54] #1067 closed

[2021-07-25 12:23] #1068 closed

[2021-07-27 17:05] #1056 closed

[2021-07-27 17:05] #1069 closed

[2021-07-31 09:21] #1064 closed

[2021-08-02 16:16] Manubi commented on #433
me too at latest lingui

Exactly the same for me.

[2021-08-03 07:55] Manubi commented on #952
Just wanted to let you know, I just switched to lingui and the fix was the node enviornment.
`yarn run NODE_ENV=development lingui extract --clean && lingui compile`

[2021-08-09 07:59] datafoo commented on #1072
A maintainer of the PO file format recommended me (by email) to normalize the PO files before committing them in order to avoid merging problems.

   `msgcat --width=80`

He also mentioned:

One way to do so is to use the GNU libgettextpo library and in particular its file positions API
<https://www.gnu.org/software/gettext/manual/html_node/po_005ffilepos_005ft-API.html>.

The problem of normaliza

[2021-08-09 07:59] #1072 closed

[2021-08-12 06:42] gbiryukov opened #1110 "Redundant warning Unknown option "extractors""
**Describe the bug**
When config has option `extractors` specified — cli prints warning:
[code]
Option itself seem to work tho. However it seems to have extra issue with documentation, [usage with `require.resolve`](https://github.com/lingui/js-lingui/blob/main/docs/ref/conf.rst?plain=1#L525-L526) does not work, usage with reference to extractor — works.

**To Reproduce**
Add to your config:
[code

[2021-08-15 03:09] #1077 closed

[2021-08-15 14:44] #1079 closed

[2021-08-16 00:09] himdel opened #1113 "import { t as something } extracts {0} instead of text"
When trying to use a different name for `t`, extraction *almost* works, but not quite...

**Works:**

[code]

extracts

[code]

**Breaks:**

[code]

extracts

[code]

It clearly finds the right place, line 84 is indeed where that `` _`string` `` can be found, but fails to extract anything meaningful.

(That behaviour is not limited to `_`, I'm getting the same result regardless of `_` vs `x`, jsx/

[2021-08-17 07:09] aladinflux opened #1114 "Issue when using different version of lingui + pnpm with typescript"
**Describe the bug**
When using `pnpm` as a package manager, you install different versions of lingui (even minor), typescript checks will fail. This is happening because of the latest update of `@lingui/core@3.10.4` and `@lingui/react@3.10.2`.

[code]

**To Reproduce**
Create a `nextjs` app and use `strict: true` in `tsconfig.json`.
Using pnpm as your package manager, Install the latest versions

[2021-08-18 10:33] axe312ger opened #1115 "short syntax of { t } from "@lingui/macro" is broken"
**Describe the bug**
In my GatsbyJS project, I am not able to use the short syntax of the macros t function. (`import { t } from "@lingui/macro"`). I am pretty sure I experienced similar issues when playing around with NextJS & linguiJS a few weeks ago.

As soon I pass an config object instead of a string, it works.

This seems to be related to #920, the fix in the comments resolves the issue for

[2021-08-18 11:03] truong-hua opened #1116 "Lingui generate duplicated gettext msgid"
**Describe the bug**
I have 2 code that causes lingui generate duplicated msgid as follows:
[code]
and
[code]

which all generates
[code]
but has different `#. js-lingui:icu` in the comment above which cause it can not be deduplicate through `msguniq`

**Expected behavior**
It should not causes duplicate gettext msgid because gettext does not support it

**Additional context**
I think lingui conte

[2021-08-18 23:31] nmoinvaz opened #1120 "Ability to provide global values to I18nProvider"
**Is your feature request related to a problem? Please describe.**

In the documentation it says you can pass `values` to the `Trans` element:
[code]
However, I have a global object which contains all my values and I would rather not pass into every component the individualized values.

**Describe proposed solution**

My proposal is to have a `values` option in `I18nProvider` element.
[code]

**De

[2021-08-19 20:44] bmartel opened #1121 "TypeError: Cannot read property 'en' of null when specifying `"fallbackLocales": false`"
**Describe the bug**

When specifying `"fallbackLocales": false` in the lingui config, lingui is not able to compile translations if missing a `msgStr`.

**To Reproduce**

Minimal app:

https://stackblitz.com/edit/nextjs-sy24jx?file=src/locales/en/messages.po

Config used:

[code]

Error output when compiling:

[code]

**Expected behavior**

Defaults to using msgId given the `fallbackLocales` was

[2021-08-20 16:03] nobiit opened #1122 "@lingui/macro: Unknown macro default"
**Describe the bug**
Unable to compile Typescript project with @lingui/macro.

**To Reproduce**
See demo project here: https://github.com/nobiit/lingui-macro-ts-bug

**Expected behavior**
I can use @lingui/macro with Typescript project.

**Additional context**
- jsLingui version ``3.10.2``
- Babel version ``7.15.0``
- Your Babel config (e.g. `.babelrc`) or framework you use (Create React App, Mete

[2021-08-21 02:55] #1070 closed

[2021-08-22 08:13] #1006 closed

[2021-08-22 08:13] #1040 closed

[2021-08-24 02:17] ianatha commented on #1115
@axe312ger You're supposed to use ``{t`translationTest`}`` (note backticks instead of quotes). See [tagged template literals](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals#tagged_templates) if you're curious about this syntax.

[2021-08-24 08:15] axe312ger commented on #1115
ahhhhhhh nice. lemme try that. thanks!

[2021-08-24 12:24] axe312ger commented on #1115
Yeah with template literals it does work. Sorry for overlooking this in the docs.

[2021-08-24 12:24] #1115 closed

[2021-08-25 09:18] avalladaresm commented on #707
@tricoder42 I saw you reply to telpochyaotl but I don't understand what you meant with "I made this behavior opt-out." I'm having the same issue. I'm generating a translation message in a helper function, outside a functional component. But when I use a macro to display the text in JSX as
[code]
no matter what the current locale is, "Required field" is always displayed, and if I remove the message

[2021-08-25 10:16] khaphannm commented on #975
many thanks @capaj for the POC

[2021-08-28 01:20] #1090 closed

[2021-08-28 01:20] #1091 closed

[2021-08-30 11:26] semoal commented on #1113
We use strict import names to know where and how to extract the values. Probably we could do something like identifying in the AST if you're using an alternative name and look for that instead, but not sure If I have the bandwidth to do that.

[2021-08-30 11:30] semoal commented on #1114
We had to release some internal modifications of EventEmitter and versions should be exact to avoid such issues.

We recommend always keep the @lingui/* packages at the same version, which would mean that are compatible.

[2021-08-30 11:30] #1114 closed

[2021-08-30 11:32] semoal commented on #1095
make-plural package it's side-effect free and tree-shakeable that means if you use:

[code]
or
[code]

Will only import "en" plural.

[2021-08-30 11:32] #1095 closed

[2021-08-30 11:34] semoal commented on #1098
https://github.com/lingui/js-lingui/pull/1032/files
We remove extra-scaped literals, probably we should add there. /x together with /u.

What do you think?

[2021-08-30 11:37] semoal commented on #1122
.babelrc must be on root of the project, not inside src

[2021-08-30 11:37] #1122 closed

[2021-08-30 12:12] JSteunou commented on #1098
I m not sure, because my issue is not for char in the key or message extracted by the macro logic, but in po files `msgstr` section aka the final translation.

The issue here is that running the CLI to discover new translation keys corrupt the current dictionary which is kind of worse I guess?

[2021-08-30 12:18] semoal commented on #1098
Macro is the responsible of generating the final translation.

[2021-08-30 12:53] JSteunou commented on #1098
Ho ok I did not understand that. With that name I supposed it was only the part responsible for extraction from code (babel-macros / Macro). Also the tests from the commit you linked shows a test with extraction key, not value from dictionary.

Then yeah it might be linked, worth the shot

[2021-08-31 08:37] aladinflux commented on #1114
The issue is still there, `@lingui/react` is at `3.10.2` but `@lingui/core` is at `3.10.4`. Can you release all `@lingui/*` at `3.10.4` so that we can update the rest of the packages?

[2021-08-31 13:44] #1093 closed

[2021-08-31 20:59] avalladaresm commented on #707
Fixed it! Since the project I'm working on was last updated 8 months ago by the owner, he was calling the `i18n` config as (maybe in an old version it worked this way?)
[code]
changed it to (after updating the library to the latest version)
[code]
and the `t()` macro started working fine in a JSX file.

Thanks!

[2021-09-01 10:07] chuyik opened #1124 "Add `sideEffects: false` to package.json so webpack can remove dev.esm.js on production"
**Describe the bug**
dev.esm.js is packed into production bundle with webpack 5.

![image](https://user-images.githubusercontent.com/6262943/131652967-36e7df02-4b0c-451e-bb40-733551d451e1.png)

**To Reproduce**
use webpack 5 to pack bundle.

**Expected behavior**
dev.esm.js should not be packed.

**Additional context**

- jsLingui version `3.10.2`
- Babel version `7.15.0`

[2021-09-01 10:27] semoal commented on #1124
Happy to see that you're using Rematch and Lingui, two of my hobbies.

Adding sideEffects to false will automatically say to webpack that dev shouldn't be bundled? Or should we add exports: {} on package.json?

[2021-09-01 11:11] chuyik commented on #1124
Wow I didn't know that you are also the maintainer of Rematch.

Since webpack does not know that `dev.esm.js` is pure function and has not side effects, we need the to set sideEffects to false (see Sean's [answer](https://stackoverflow.com/questions/49160752/what-does-webpack-4-expect-from-a-package-with-sideeffects-false)), and `dev.esm.js` is gone in my test:

![image](https://user-images.github

[2021-09-01 11:14] semoal commented on #1124
Great, I'll adjust the packages accordingly this afternoon and we release a new version the next Tuesday, since I want to include some more bug fixes :)

[2021-09-01 11:15] chuyik commented on #1124
Good to know, thanks!

[2021-09-01 19:51] TommasoAmici commented on #333
I have been using lingui with nextjs on https://fantaasta.com and I can get it to SSG pages with the default locale, but translations are done client-side. Ideally translated pages should be SSG too.

This is my setup:

[code]

[code]

[2021-09-02 07:52] semoal opened #1128 "3.11 Roadmap"
Hello Lingui folks 👋🏻

This new version will be released the next Tuesday, usually, each Tuesday if we have something to deploy, we release a new version.

# Bug fixes

- [X] #1101
- [X] #1108
- [X] #1119
- [X] #1123
- [X] #1089
- [X] #1088
- [ ] #1098
- [ ] #1110
- [ ] #1097

# Docs fixes

- [X] #1102
- [X] #1104
- [X] #1103

# Improvements

- [ ] #1124
- [ ] #1107

If you feel that something is

[2021-09-06 21:44] #1124 closed

[2021-09-06 21:46] #1098 closed

[2021-09-06 21:46] #1110 closed

[2021-09-06 21:47] #1097 closed

[2021-09-07 14:16] cvincent-atmanco opened #1130 "Country-coded language codes breaks plurals when using po-gettext format"
We are currently in the process of converting the localization of our application from 2-letter ISO Codes to 4-letter ISO Codes, and we use lingui for localizing all of our front-end applications.
We renamed all of PO files (`messages.en.po` -> `messages.en-CA.po`), and changed our `lingui.config.ts` `locales` from `en` to `en-CA`.

For the PO files content, following the [GNU Documents](https://w

[2021-09-07 17:14] semoal commented on #1130
This is a good pick mate, going to fix it right now. `node-gettext` only offer plurals for 2-letter iso locales, so you're solution is perfectly valid

[2021-09-07 18:02] #1130 closed

[2021-09-07 23:23] semoal commented on #1128
Released 3.11.1. (Had to re-release with 3.11.1 because found a little bug related to extraction) Really recommend installing 3.11.1 directly

[2021-09-10 14:32] JSteunou opened #1132 "Malformed extracted words when '\n' is a variable inside a template literal"
**Describe the bug**

Extracted template literal containing `${'\n'}` lead to malformed string that break JS modules after build

This is a regression from v2. I see this issue while migrating a project from v2 to v3

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

in po you will see

[code]

**Expected behavior**
A clear and concise description o

[2021-09-13 13:38] JSteunou opened #1133 "Weird warning about babel configuration from lingui"
This one is tiny issue, but it seems there is sort of a babel configuration checker withing linguijs, but it appears to be outdated.

I have those warnings

[code]

when building my app with lingui v3, but those babel options are actually correct.

[2021-09-14 10:39] #1096 closed

[2021-09-15 14:02] woltsu opened #1134 "Dependency scan reporting a "Regular Expression Denial of Service" vulnerability"
**Describe the bug**
[Snyk](https://snyk.io/), which is a cli tool similar to npm audit, is reporting a high severity "Regular Expression Denial of Service" vulnerability for `@lingui/macro` library's dependency `ansi-regex`.

**To Reproduce**
After [setting up snyk](https://docs.snyk.io/getting-started), run `snyk test .` in a project that contains the dependency `@lingui/macro`.

**Expected beha

[2021-09-15 15:15] justindomingue commented on #1078
Bump @semoal

[2021-09-15 15:48] gramalinbechtel commented on #904
Is this issue addressed. catalogsMergePath doesn't output to a compiled file

[2021-09-15 19:32] semoal commented on #904
No, it doesn't. Feel free to create one and we'll work on fixing this for the next iteration

[2021-09-16 06:46] AlgoTrader opened #1136 "I18nProvider remounts all the children, but not rerender"
**Describe the bug**
`I18nProvider` implementation has a very unpleasant effect of changing own key when locale changes. It declares, that forceRenderOnLocaleChange force rerender of all children. Sorry, but its not a rerender, it's full remount of it's children. As a result React.memo is killed and state of all the components is reset. I have google map inside and its remount is slow and flickeri

[2021-09-16 06:49] AlgoTrader commented on #1099
do change locale in setTimeout(..., 0). then it disappears

[2021-09-16 07:05] AlgoTrader commented on #1136
comments in code: `We can't use useMemo hook either, because we want to recalculate value manually. useMemo can be used like this`

[code]

i18n is not changed, but dependency list can hold it's properties, then memo is recalculated on deep changes in i18n

There is another stuff in code:

[code]

useState may be passed a function as a parameter, it is named initialState, but you use it like useMe

[2021-09-16 08:08] semoal commented on #1136
Hi mate, when we worked on the reimplementation of Lingui 3 we forgot a lot about the React side, also we lost a bit the north. I'll be happy to review a pull request from you making the React implementation much better than it is right now.

[2021-09-16 10:34] semoal commented on #1134
As you can see the vulnerabity is not fixable from @lingui side, pretty-format is the responsible. Probably updating jest-validate to a newer version where they update pretty-format could be enough.

[2021-09-17 22:48] mattdaly opened #1137 "configPath is not set when calling getConfig in babel-plugin-extract-messages"
**Describe the bug**
When using a lingui config that is not located at the root, extraction fails because babel cannot find the config. The result is a `Cannot process file <filename>: Cannot find module <config>` error for each file being processed, and no translations being extracted.

**To Reproduce**
Place a lingui config in a nested directory and pass its path to the `--config` argument when

[2021-09-17 23:35] semoal commented on #1137
Will look into it asap :)

[2021-09-20 02:30] micahbule commented on #433
Any particular update on this one? not even sure why this ticket was closed.

Dependencies:
[code]

Any updates on this?

[2021-09-27 16:37] #1133 closed

[2021-09-27 16:38] semoal commented on #1137
Will look in to this tonight, for releasing a new version this week :)

[2021-09-27 16:53] JSteunou commented on #1136
instead of using `key` a wrapper with the prop `lang` could be used or a state, to re-render on `lang` change

[2021-09-27 19:47] #1100 closed

[2021-09-28 16:26] #1137 closed

[2021-09-29 13:26] sanmont3drepo commented on #1114
Having the same problem today with lingui 3.11.1

[2021-09-29 13:28] semoal commented on #1114
Just update all the packages to the same version, it should be fixed since that version

[2021-10-06 17:17] Anonymous-dev-v commented on #952
The error is still there. `Duplicate` declaration "Trans"`

[2021-10-07 16:29] softionsrl commented on #466
Not sure about Preact X, but on Preact 8 using `render` seems to alleviate the issue:

[code]

[2021-10-08 07:04] cameronbraid opened #1145 "@lingui/macro: Property value of ObjectProperty expected node to be of a type ["Expression","PatternLike"] but instead got "TSFunctionType""
**Describe the bug**

[code]

**To Reproduce**
Not sure, just happened when I added a new function to a class I was working on.

- jsLingui version :
[code]
- Babel version
[code]
- Your Babel config (e.g. `.babelrc`) or framework you use `gatsby`

[2021-10-14 23:13] nmoinvaz opened #1148 "No locales defined message when using remoteLoader"
**Describe the bug**
When using the `remoteLoader` I get an error when running `npm run build` that states `No locales defined`. This is expected in my use case as I am remotely loading all the localizations.

**Expected behavior**
No warning message when building.

**Additional context**
May there could be a configuration option to turn it off.

[2021-10-18 11:48] sanmont3drepo opened #1149 "Examples don't work with extract"
**Describe the bug**
The examples folder (I tried master and tag 3.12.1) dont work with extract.
in examples/js extract dont work with i18n._(...) . And in create-react-app it just throws an error "TypeError: ext.match is not a function
" and doesnt work at all.

**To Reproduce**
for both examples run `yarn install` beforehand

- in examples/js add ``i18n._("extract doesnt work");`` in src/message

[2021-10-18 15:42] semoal commented on #1148
It's remote but you need to specify on lingui config which locales are available in your application.

[2021-10-18 15:42] #1148 closed

[2021-10-19 11:14] kucher-mx opened #1150 "Using ComponentWillReceiveProps life cycle method is deprecated"
While passing jest test, I get warning about using deprecated life cycle method, in my case I'm warned of using ComponentWillReceiveProps in component **t**, look attached screenshoot
<img width="431" alt="image" src="https://user-images.githubusercontent.com/51436439/137898690-b1b612c2-9cfc-4023-b10b-6ff9c179bef8.png">

Should pass jest tests without warnings of using deprecated life cycles

npm

[2021-10-19 13:23] esseb opened #1151 "SyntaxError exception when value contains a double escaped hexadecimal escape sequence"
**Describe the bug**
`i18n._()` does not handle double escaped hexadecimal escape sequences such as `\\x20`.

The failing string comes from https://github.com/minimaxir/big-list-of-naughty-strings.

[code]

**To Reproduce**
I added this testcase to the [latest main](https://github.com/lingui/js-lingui/tree/8ee42cbfe26bc6d055748dcf2713ab8ade7ec827) locally. I can add the testcase as a PR but I don'

[2021-10-21 22:00] reworkk opened #1153 "Do not use key in react provider"
Why is the key used in provider? Because of this the whole component tree under provider is re-rendered.
I think its possible to avoid using key.
https://github.com/lingui/js-lingui/blob/main/packages/react/src/I18nProvider.tsx#L113

[2021-10-21 22:09] reworkk commented on #1153
Oh, maybe I was wrong, it doesnt refresh page completly, but the whole component tree under provider, which is also not the best solution. Сorrect me if I misunderstood.

[2021-10-22 07:17] #1150 closed, assigned to nobody

[2021-10-22 14:27] baldurpan opened #1154 "Partial extractions have some unexpected results"
**Describe the bug**

Running ``lingui extract`` on certain files (using either husky or running manually) is giving some unexpected results.

1. it looks like obsolete translations aren’t being marked as obsolete (``#~msgid ""``)
2. unrelated file path comments are being removed in other unrelated translations

Regarding the second point, I haven't seen this happening in our example repo used bel

[2021-10-24 19:02] #1153 closed, assigned to nobody

[2021-10-26 15:10] sitole opened #1157 "Use lingui.js with multiple packages"
Hey,
four our frontend we are using monrepository architecture.
We have split codebase per application and library (ui, utils..).

So, now we want to implement Lingui in our UI package. So we want prepare some React components separately with and then use this components in applications. It works well expect translations. We have installed Lingui in this packages and also works well. Its no proble

[2021-10-28 14:16] matthewlilley opened #1158 "Support for SWC"
We just dropped bable in favor of SWC but it seems Lingui isn't yet compatible with this compiler.

[2021-11-05 17:56] #1113 closed

[2021-11-05 19:51] ardeois opened #1162 "Extract `--overwrite` command not using IDs as default message"
### Describe the bug

I noticed an issue with `lingui extract --overwrite` command. If I understand well this command is supposed to force the `msgstr` in catalog files to the value set in the source code, right?

This works well when you have custom ids, but if your project has some translations (using `@lingui/macro`) without custom ids, `--overwrite` command will not use the default value as `m

[2021-11-08 14:23] joshhunt opened #1164 "create-react-app example fails with "ext.match is not a function""
**Describe the bug**

The example CRA project fails in the `yarn extract` step with the error "TypeError: ext.match is not a function"

**To Reproduce**

1. Checkout repo `git clone git@github.com:lingui/js-lingui.git`
2. Navigate to the example and install dependencies `cd js-lingui/examples/create-react-app; yarn`
3. Start the project with `yarn start`

**Expected behavior**

The example runs.

[2021-11-09 16:59] JSteunou commented on #1132
will check with latest version but did not see any related fix

[2021-11-11 00:50] matthewlilley commented on #1158
@semoal after speaking to the Next.js team this will not be available for some time, and they recommend against using it for something like this when it comes because of the perf hit.

[2021-11-14 16:14] vonovak commented on #1078
@semoal I'd still be interested in your comment on this, thank you :)

[2021-11-16 15:05] germanferrero opened #1167 "Make plurals fallback to those of locale fallback"
**Is your feature request related to a problem? Please describe.**
TLDR; Make plurals fallback to those of locale fallback.

We are migrating to Lingui for [our preact web application](https://github.com/germanferrero/lime-app/tree/a509fbb760953d46d869468415b4586ccbbbf438).
We choosed `@lingui/detect-locale` to detect the browser locale with `fromNavigator`. But, we only have full support for engl

[2021-11-17 14:43] JSteunou opened #1168 "Unicode characters are transformed when they are in msgstr in .po and in hex format"
**Describe the bug**

bug #1098  is still here but on another form: I recently had a case with `\xAD` which is unicode for *soft hyphen*. After a locales extraction it disappears :fearful:

**BUT** looking closely it was in fact still here but completely invisible:

* git diff shows a space instead of `\xAD`
* gitlab or vscode show nothing but resizing the screen allow to play with the word break

[2021-11-17 16:52] JSteunou commented on #1168
Alternative or temporary solution is to use unicode UTF-16  format with double escape `\\u00ad`

Dunno why the double escape, but it works that way

[2021-11-19 09:34] lukehowkins opened #1169 "@lingui/cli dependancy cli-table when using 0.3.7 breaks extract"
**Describe the bug**
getting error:
[code]

**To Reproduce**
run `lingui extract`

**Expected behavior**
to extract without error

**Additional context**
https://github.com/Automattic/cli-table/issues/152

- jsLingui version 3.12.1
- Babel version  7.16.0

**Workaround**
Have added `"cli-table": "0.3.6",` in my project dev-dependancy

[2021-11-21 16:53] #1078 closed

[2021-11-21 19:48] drod66 commented on #1169
The issue seems to be that `slicedToArray()` returns numbers instead of strings when the parsing finds number values. Later on, cli-table try to do a `split()` on a Number object (expecting a string, i.e. `"100"` instead of `100`).

[2021-11-22 11:07] #1099 closed

[2021-11-23 03:10] a1ooha opened #1171 "Use lingui.js with constant out of react component"
I have a constant like this, and import it or define it out of react component. But, the webpage only show the raw messages.

[code]

If i move the constant above into the react componet, everything works fine.

[code]

DATA must be defined out of react component, what can i do to show the translated messages?

[2021-11-23 15:50] #1171 closed

[2021-11-23 16:12] callms commented on #1169
For those having this issue and using npm, you should pin the version 0.3.6 of `cli-table` in your `package-lock.json`

1. edit the file, and locate the section `@lingui/cli`
2. remove the `cli-table` key in `requires`
3. add the following object in `dependancies`:

[code]

In the meantime I also submitted #1172 if the maintainers here would like to take a precautionary action (essentially prevent

[2021-11-24 12:20] dmitryshelomanov commented on #1169
same error

[2021-11-24 12:40] semoal commented on #1169
Hi guys, we'll take care of this (and the other issues/discussions) asap this week. Sorry for the inconveniences.

[2021-11-26 14:27] #1162 closed

[2021-11-26 14:46] semoal commented on #1164
Yep, examples are a bit outdated. Will update them asap. Thx for reporting this out

[2021-11-26 14:46] #1164 closed

[2021-11-26 14:47] #1145 closed

[2021-11-26 14:48] semoal commented on #1149
Will update examples accordingly, sorry for the inconvenience.

[2021-11-26 14:48] #1149 closed

[2021-11-26 14:49] semoal commented on #1157
This is something I want to explore for a long time, how Lingui works with monorepo of UI's and how can these translations co-exist together.
Will try to get some free time and create a repo where we can play and update Lingui to work nicely with monorepos.

[2021-11-27 11:51] semoal commented on #1169
Fixed this on latest version. 3.13.0.

[2021-11-27 11:51] #1169 closed

[2021-11-29 17:57] alexbu92 opened #1173 ""Module not found: Can't resolve 'fs'" with Next.js 12"
**Describe the bug**
After installing the npm packages, creating a `lingui.config.js` and trying to use the Trans macro in a component like so:
[code]
compilation errors out with:
[code]
I've seen solutions mentioning adding the babel plugin, but Next.js 12 doesn't use Babel anymore.

Can I get the macros to work or should I fallback to the React Lingui components?

[2021-11-29 18:25] semoal commented on #1173
Lingui depend exclusively of Babel and his macros. Until nextjs with SWC doesn’t offer a way of parsing AST we can’t do much here. Sorry

[2021-11-30 15:34] Hideman85 commented on #1158
I will add my vote to this topic, I'm also looking forward to not use babel nor webpack anymore...

[2021-12-07 13:26] leikoilja commented on #1078
Has it been fixed or explained, @semoal ?

[2021-12-09 08:40] shouze commented on #1158
@semoal looks like swc plugin 2.0 is on the way, stay tuned :hourglass_flowing_sand: to know if js api is kept or if it's mandatory to write a rust plugin or not at the end. So the best thing to do at the moment is to subscribe to https://github.com/swc-project/swc/issues/2635#issue-1043151813 :wink:

[2021-12-09 13:40] khmm12 opened #1175 "JSX macros aren't working inside JSX expressions in JSX macros"
**Describe the bug**

Since v3 JSX macros aren't working inside JSX expressions in JSX macros. v2 macros are working as expected.

The issue is reproducible in any nesting level.

**To Reproduce**

[code]

**Expected behaviour**
[code]

**Actual behaviour**
[code]

**Additional context**

- `lingui`: `3.13.0`
- `@babel/core`: `7.16.0`

[2021-12-09 14:03] semoal commented on #1175
Thx @khmm12  will take a look as soon as possible. Indeed looks a regression

[2021-12-09 14:59] JSteunou commented on #1136
plzzz stale bot :)

[2021-12-10 17:41] renchap commented on #1157
I am having a similar issue: In a monorepo, I have both a web React app, a react-native mobile app, and a shared library with some common code.

I am not sure how to properly handle this, as:
- we have many common strings between the web & mobile apps, so it would be great to only translate them once
- we want to have some strings in the shared library translated
- we do not want to ship mobile-on

[2021-12-13 14:48] root-io opened #1177 "Improve doc for the use of make-plural with React Native"
**Describe the bug**
[code]

I had to add the following config in `metro.config.js`:
[code]

**Additional context**

- jsLingui version `3.13.0`
- Babel version `7.16.0`
- Babel config from the React-Native's framework

[2021-12-14 11:27] juanluispaz opened #1178 "Lingui extract doesn't handle i18n._ strings"
**Describe the bug**
Lingui extract ignores i18n._

**To Reproduce**

[code]

**Expected behavior**
The text should appear in the .po file

**Additional context**
I review the source code and I found the function [isI18nMethod](https://github.com/lingui/js-lingui/blob/5feb120e8c75d7b8c082d5c4b68185ef5dcc3ebc/packages/babel-plugin-extract-messages/src/index.ts#L124) defined at babel-plugin-extract-

[2021-12-14 11:30] semoal commented on #1178
Hola Juan,

To get extracted you have to use the t`` macro. In that way the `babel-plugin-extract-messages` can know which value has to extract, the i18n it's used to interpolate between locales, plurals etc..

Since v3, you don't need to use i18n you can just use directly the macro.

For example:

[code]

[2021-12-14 11:58] juanluispaz commented on #1178
Hi,

The macros are wonderful, but in the context where I'm using this it is not possible till we finish the migration and we can drop the restriction.

[2021-12-17 04:49] truong-hua commented on #1116
don't stale

[2021-12-20 14:40] voisinhugo opened #1180 "Macro t doesn't always provide non-breaking spaces in final translations"
## Description

I'm working with French translations, which need non-breaking spaces (nbsp: \u00a0) before some characters. But with the "object" use of the t macro, the extracted strings do contain the nbsp, but the final strings don't (contain a classic whitespace instead: \u0020).

## How to reproduce

Using the t macro with an object:

[code]
I get the translated wording, but with a whitespace

[2021-12-20 21:40] tannerlyons commented on #1178
@juanluispaz , you can use this workaround:

[code]

The extractor uses `/*i18n*/` as a marker for things to extract.

[2021-12-23 09:32] voisinhugo commented on #1180
This was due to a wording change while keeping the same key: the `messages.po` file wasn't updating. I removed it and re-regenerated it, and it's fine now!

[2021-12-23 09:32] #1180 closed

[2021-12-24 08:36] divyansh7924 opened #1181 "i18n.activate(language) takes time to activate language"
**Describe the bug**
We are using the `@lingui/core` package in our backend to translate emails and push notifications.
We just found out that activating a language using `i18n.activate(_language)` takes some time to activate a language. We need to translate a term into different languages at once. Using `i18n.activate('zh-Hant-TW')` doesn't change the language to `zh-Hant-TW` instantly and we get

[2021-12-24 09:12] semoal commented on #1181
Hey! Yes, this is a "known" issue since we use under the hood a class which extends an EventEmitter for doing the i18n like a singleton class where you can use it anywhere.

One thing I noticed on this line, is that probably we should use here: `this._locale` and `this._locales` instead of `this.locale` which is filled after eventemitter occurs.
https://github.com/lingui/js-lingui/blob/main/packag

[2021-12-26 03:24] #1151 closed

[2021-12-28 03:16] maxfetz commented on #433
I go insane but this error still lives on. Isn't this the only outstanding purpose of this library???
Why the issue was closed. Even the NODE_ENV set to development is not helping!

[2021-12-28 11:06] semoal commented on #433
@maxfetz
In the same way, I can try to fix this issue and other issues, you can contribute to. Your comment sucks and doesn't help open-source for anything.

@micahbule

This is incorrect, on production pipelines the command `lingui extract` can use NODE_ENV=development and won't affect your production bundle, since it's an independent command.

I know this sucks somehow but we have life and we al

[2021-12-28 19:05] gemcloud commented on #952
I fixed the issue on my nextjs project on windows 10, windows 11!!!
Points are: 1 & 2
  **1. First of all you must install "npm i cross-env" on windows system (windows 10, 11).**
  **2. You have to use "NODE_ENV=development" command**
         **Notice: cross-env NODE_ENV=development! cross-env NODE_ENV=development!! cross-env NODE_ENV=development!!!**
  use below command on "package.json"
[code]

[2021-12-28 22:33] maxfetz commented on #433
Sorry for my little rant. I was very frustrated.

My project looks similar to this one: [@ivandotv/nextjs-translation-demo](https://github.com/ivandotv/nextjs-translation-demo)

To reproduce the problem

1. Clone the repository.
2. run `yarn`
3. run `yarn lang:extract`

Now this only works under Linux and yarn. With npm and/or Window (and yarn) you need to set the environment variable with cross-e

[2021-12-31 11:50] divyansh7924 commented on #1181
Hey @semoal
I tried it out, but the fix didn't work. Can you check if this is what you meant?
https://github.com/divyansh7924/js-lingui/commit/8cdbf20e7f733676c8376afd858bcbd415e41c4f

Thanks!

[2022-01-04 14:20] borjaMiralles commented on #1178
I can confirm that this workaround works, thanks @tannerlyons

[2022-01-04 14:58] OliverJAsh opened #1183 "TypeScript guide is out of date"
https://lingui.js.org/guides/typescript.html

This guide mentions `babel-preset-react`, `babel-preset-env`, and `@lingui/babel-preset-react`, but as far as I can see these were only necessary for Lingui v2—not for v3. I'm new to Lingui so I could well be wrong!

[2022-01-04 16:00] semoal commented on #1183
Yep, they're not required anymore for Lingui v3. CRA setup should work out of the box, or at least the only one required should be `babel-plugin-macros` :)

[2022-01-04 20:55] OliverJAsh opened #1185 "Suggestion: preserve names of dates and numbers inside ICU Message"
Given this source file:

[code]

This will extract the following ICU Message:

[code]

Whilst the name of the `name` variable is preserved in the ICU Message, the names of the date (`firstUploadDate`) and number (`numberOfPhotos`) are lost and replaced with numbers (`0` and `1` respectively).

I was wondering if it would be possible to amend the macro so that it preserved these names, resulting in

[2022-01-04 21:01] OliverJAsh opened #1186 "Suggestion: option to flatten ICU Messages"
FormatJS's `extract` command has an option called `--flatten`. The documentation is self-explanatory so I'll paste it here:

Do you think it would make sense to have something similar in Lingui?

[2022-01-07 12:58] fdev opened #1188 "Allow named components in Trans in @lingui/macro"
The [documentation of `Trans`](https://lingui.js.org/ref/macro.html#trans) has the following example:

[code]

Since the number tags don't provide much context to the translator I was hoping I could use named tags instead as such:

[code]

Unfortunately, it seems only numbered tags are supported.

[2022-01-07 14:05] zsolt-dev opened #1189 "How to use named segments without using the extract?"
Our current workflow of translations is:

1. Add new **named** segments directly to webtranslateit.com, for example:
`"formNotValid": "Form validation failed. Please correct the items highlighted in red."`
2. Download the json file from webtranslateit.com into the codebase
3. Use translation as `t('formNotValid')`

I like it much more than automatic extracting from the codebase, since the source s

[2022-01-07 15:41] semoal commented on #1189
Hi!
What do you mean by is there any way of do it with Lingui?

[2022-01-07 16:35] zsolt-dev commented on #1189
Hi @semoal,

Thank you for your reply.

I would like to use it the way the i18next works.

Examples:

[code]

I need to use it like this:
`t('myName', { name: 'Fred'});`

Plural example:
[code]

I need to use it like this:
`t('numBooks', { count: count })`

[2022-01-10 08:02] JSteunou commented on #1132
did not check, forgot to test, will do asap

[2022-01-10 13:09] semoal commented on #1132
We didn't work on it yet mate, there isn't enough bandwidth from my side to tackle all the issues. Any contribution it's welcome

[2022-01-12 06:20] aladinflux opened #1192 "Macros not working with latest NextJS"
**Describe the bug**

The macro stopped working with NextJS 12.0.7.

**To Reproduce**
Simply start with a bank NextJS project, follow Lingui's implementation details and add the macros. Import any macro into a component.

**Expected behavior**
Macros should work correctly.

**Current behavior**
NextJS is unable to compile the page with error:
[code]

**Additional context**
Add any other context ab

[2022-01-12 08:56] semoal commented on #1192
Hi, I have multiple multiple projects on 12.0.7 of Next.js and they work fine with latest lingui version.
If you can provide a reproducible repo I could take a look.

Thanks

[2022-01-12 08:57] semoal commented on #1185
Yeah, this is a good idea, I'm sure we can do this :)

[2022-01-12 08:58] semoal commented on #1186
Will be an amazing feature for sure, but probably too big for our current bandwitdth. But open to review any contribution for sure :)

[2022-01-12 08:59] semoal commented on #1188
Yep, it's a nice addition. Also related to #1185

[2022-01-12 09:04] semoal commented on #1189
If I understood you correctly, you could use the t macro directly with the id of your json file.

[code]
And that will generate a key myName but the message will be the complete one.

Does it work? :)

[2022-01-12 10:07] aladinflux commented on #1192
Here's there repo: https://github.com/aladinflux/lingui-issue

[2022-01-12 10:26] semoal commented on #1192
It was a bug with Next 12.0.7 but they fixed it in 12.0.8, just released a few hours ago. Give it a try, in my case it's fixed.

[2022-01-12 10:51] usercao opened #1193 "Macros not working with latest ViteJS(ICEJS)"
**Describe the bug**
The macro stopped working with ICEJS ^2.0.0.

**To Reproduce**
Simply start with a bank ICEJS project, follow Lingui's implementation details and add the macros. Import any macro into a component.

[code]

**Expected behavior**
Macros should work correctly.

**Additional context**
ICEJS is unable to compile the page with error:

- jsLingui version `3.13.0`
- Babel version `7.1

[2022-01-12 11:12] semoal commented on #1193
Didn't know about ice framework. But I guess they migrated to SWC or something similar, and they don't use babel anymore.

Check it out, because Lingui needs babel and babel-plugin-macros. If you see the errors the TypeScript files are not even transformed.

[2022-01-12 11:18] semoal commented on #1193
If you create a `babel.config.js`:

[code]

And you install these dev dependencies, will work as expected. For sure that they removed under the hood babel. :)

[2022-01-12 15:01] semoal commented on #1193
I've tried creating the babel.config.js and works fine so far. Give it a try, instead of using the ice-js config.

[2022-01-12 15:11] usercao commented on #1193
Are you using the `ice-test` added by the repo I provided? I tried and it doesn't work.

[2022-01-12 15:42] semoal commented on #1193
[code]

Add as dev dependency also babel-plugin-macros.

[2022-01-13 13:39] usercao commented on #1193
@semoal Thank you very much for your patient answer. After joining `babel.config.js`, you can run `yarn lingui extract --clean` but not `yarn start`. Now I understand that it should be the problem of `icejs`, thank you again.

[2022-01-13 13:41] #1193 closed

[2022-01-14 13:18] tommhuth opened #1194 "Consistent warning that "I18nProvider did not render ...""
When using `I18nProvider` from `@lingui/react` in a Next app, I got a consistent console warning every-time warning that

[code]

We load the locale async in an `useEffect` like

[code]

meaning activate will always get called, though not in the initial server side render output. Is this warning an indication of an issue or problem? If so how can I fix it? Setting `forceRenderOnLocaleChange` to `f

[2022-01-14 21:16] ggascoigne opened #1195 "unable to load resources with create-react-app v5"
**Describe the bug**

I'm upgrading a working app from create-react-app v4 to v5, the largest change being the switch over to webpack 5.

When my app tries to load the resource bundle, the UI gets provided with a file containing this:

[code]

The equivalent file with webpack 4 used to have that embedded `__webpack_require__` replaced by a map of messages.

**To Reproduce**

The same bug is easily

[2022-01-15 16:18] zsolt-dev commented on #1189
Hi @semoal,

I do not think we understand each other :)

Imagine 2 files:

segments.json (or whatever other format you support):
[code]

And now you want to use these segments in javascript like this:
[code]

So again, I do not have the full segment texts in the code, just the IDs. So I do not "extract" segments, but create them directly in webtranslateit.

If lingui supports this, please provide

[2022-01-16 09:06] benbender commented on #1183
Yes, it should be fixed. Original bug was this one: https://github.com/vercel/nft/issues/257

[2022-01-16 09:06] benbender commented on #1192
Yes, it should be fixed. Original bug was this one: vercel/nft#257

[2022-01-17 01:46] dmitryshelomanov commented on #1194
+1

[2022-01-17 02:21] dmitryshelomanov opened #1196 "catalogsMergePath is not working"
Aded catalogsMergePath then run compile and files with messages not created

- jsLingui version ``3.12.1``
- Babel version ``├── @babel/core@7.16.0
├─┬ babel-preset-razzle@4.2.7
│ └── @babel/core@7.16.0 deduped
└─┬ razzle@4.2.7
  ├─┬ babel-jest@26.6.3
  │ ├─┬ @jest/transform@26.6.2
  │ │ └── @babel/core@7.16.0 deduped
  │ └─┬ babel-plugin-istanbul@6.1.1
  │   └─┬ istanbul-lib-instrument@5.1.0
  │

[2022-01-17 08:19] JSteunou commented on #1168
wait a minute

[2022-01-17 21:48] ryall commented on #1069
This issue still exists. Would be good to reopen

[2022-01-19 21:17] ggascoigne commented on #1195
FYI injecting

[code]

into the webpack loaders fixes the problem. I'm using patch-package for this, but I expect that you could also use craco.

[2022-01-20 01:49] cameronbraid commented on #721
@armandabric did you find out what the cause was,  I am hitting the same error and have run out of ideas

[2022-01-20 03:34] cameronbraid opened #1197 "using ts-jest causes error in @lingui/macro"
**Describe the bug**
Error is

[code]

**To Reproduce**
[code]

[2022-01-20 03:34] cameronbraid commented on #721
fyi I made a standalone repro and issue https://github.com/lingui/js-lingui/issues/1197

[2022-01-20 10:39] usercao commented on #1194
`I18nProvider did not render. A call to i18n.activate still needs to happen or forceRenderOnLocaleChange must be set to false.`
Me too.

[2022-01-21 14:28] #1181 closed

[2022-01-21 18:32] tfhult opened #1198 "Message context (msgctxt) not working"
**Describe the bug**
When providing context to a message, the context is treated like an ID in the generated `en.po` file.

**To Reproduce**
With the version `3.13.1` with `create-react-app`, and not specifying `orderBy` in `lingui.config.js`:

[code]

**Expected behavior**
3 messages should be created in the generated `en.po` file, like this:
[code]

**Actual behavior**
This is created in the `en

[2022-01-22 09:58] cmlenz opened #1199 "Interpolation broken by change in 3.13.1"
**Describe the bug**
We upgraded from LinguiJS 3.13.0 to 3.13.1 and started seeing many errors logged in the console, all looking like this:

[code]

We are definitely loading the locale data though, so we investigated further.

Looking into the few changes in 3.13.1, the only significant commit seems to be f8f47a2. And ignoring the formatting changes in that commit, the only functional change tha

[2022-01-22 13:17] benbender opened #1200 "Missing "beforeChange"-event"
I just want to start to dynamically load my translations. I thought I could simply hook into the "change" event and import my message-catalog from there. I was missing that this event is propagated **after** the locale is set. Therefor the messages are missing while setting the new locale in `i18n` and my plan failed miserably... ;)

**Describe proposed solution**
I would love to have an event whi

[2022-01-24 10:31] JSteunou commented on #1199
I was about to create the same issue, upgrading from 3.11 to 3.13.1 I had the same issue and make baby step updates until finding same problem on same version.

[2022-01-24 10:49] semoal commented on #1199
Just released 3.13.2, sorry for the "bad fix" and thanks for reporting out that quickly.

Hope everything it's running fine again.

[2022-01-24 10:50] semoal commented on #1200
Hi! :)
What do you mean by dynamically? We already offer a plugin for Webpack that creates chunks on demand given a locale.

[2022-01-24 10:51] semoal commented on #1198
Thanks, I'll try to fix as soon as I can. Contributions are welcome =)

[2022-01-24 10:54] benbender commented on #1200
Hey :)

I want to import locales dynamically via `await import("../locales/$locale/messages.js")` for codesplitting. Building is done on pr by weblate.

[2022-01-24 11:00] semoal commented on #1200
https://github.com/lingui/js-lingui/blob/main/examples/create-react-app/src/i18n.ts#L20
https://lingui.js.org/guides/dynamic-loading-catalogs.html
Check this out, we offer a plugin that loads dynamically any catalog, even the .po ones are transformed on the fly.

I'm sure that you don't need the event, https://github.com/lingui/js-lingui/blob/main/examples/create-react-app/src/App.tsx#L17

[2022-01-24 11:03] JSteunou commented on #1199
Thank you for the quick fix and release ;) Trying it just now

[2022-01-24 11:09] cmlenz commented on #1199
Looks good now, thanks!

[2022-01-24 11:09] #1199 closed

[2022-01-24 11:15] JSteunou commented on #1132
The issue is still here indeed, I played with it a little and I think I got the logic behind it. Since v3, placeholders are named when they can be named, but if using direct string like ``` t`This is ${'completely'} silly` ``` it will be extracted as `This is {completely} silly` because `completely` is the name of the *variable* and this come with this handy feature in v3.

But, in the AST this is

[2022-01-24 11:33] JSteunou commented on #1200
clearly you do not need an event, just load & activate your locales when you need to. Here is an example from my code (way before the dynamic loads was introduce in linguijs, which is another solution)

[code]

[2022-01-24 12:24] benbender commented on #1200
Some more context: I'm using `LinguiJS` in a monorepo-setup and it generally works amazingly! I'm aware of the `build your own helper and drag it around`-solution, but its impractical in my case, as I would need to redefine it in every package as the paths are not stable. Additionally I liked the idea of simply calling `i18n.activate(locale)`and using a hook without any additional methods/function

[2022-01-24 14:00] benbender commented on #1200
yes, exactly. And thats why I could have the other parts (f.e.) in a common-package in a monorepo-setup and just relying on the event locally.

[2022-01-24 16:43] JSteunou commented on #1200
Then you can do this abstraction on your side. If your common base code is able to start the change logic on i18n object but is missing the catalog, you could make your own eventemitter from this base that would wait for a reponse from specific package that would return the loaded catalog to helper the common part activate the lang.

2 keys, own i18n instance + dependencies injection

[2022-01-24 17:02] benbender commented on #1200
Sure. But may I ask why my suggestion doesn't seem to be even considered? I for one would think that some kind of more elaborated event-system could benefit the developer experience enormously and the event-system is already in place, so the increase in pkg-size would be negligible. Am I missing smth?

[2022-01-24 17:25] JSteunou commented on #1200
I'm no maintainer of linguijs so I was just trying to help you in case you were stuck, that's all :) And because I was also like @semoal quite sure you do not need this event. (You can go with an event oriented solution, but I'm pretty sure you can do without and with better and more readable code)

Feel free to post a MR without your solution and your use case, I'm very curious about this solutio

[2022-01-24 18:04] benbender commented on #1200
Basically: these two lines would enable:
[code]

something like:
[code]

It removes the need for the external function which is needed to bind `i18n.activate()` and `i18n.load()` together. Now you can simply import the global `18n`-object and call `.activate(locale)`

[2022-01-25 11:22] JSteunou commented on #1200
@benbender ok now I see, thank you for the example.

But will it work? I mean `activate` is sync, event is sync, but your import + load part is async. That's why I'm using a helper to

1. await async import
2. load
3. activate

[2022-01-25 13:28] dmitryshelomanov commented on #1194
@tommhuth You need to set forceRenderOnLocaleChange={false}

And create local instance like this

[code]

On **ssr** I created thunk with webpack **dynamic import**
First SSr render completed with correct locales
On static (**no ssr**) mode app waiting for tryToLoad locale (its quickly operation)

[2022-01-25 13:31] dmitryshelomanov commented on #1194
SSR steps
-> fetchData
-> create store
-> render app (locales already)

(Between page navigation we can local locales same)
-> go to page
-> call fetch
-> render page with next data

Static steps

-> render app
-> call fetch inside effects
-> try import and set flag to store
-> in root return null if false (its more usable then fonts change from lang to another lang)

[2022-01-26 12:21] tulodzieckim-simplito commented on #1175
Any news about this?

[2022-01-26 20:38] tommie-lie commented on #1195
I found another solution using webpack's [inline match-resource](https://webpack.js.org/api/loaders/#inline-matchresource) syntax. Unfortunately, webpack doesn't support this syntax in combination with variables, so you have to write out all different import paths explicitly, which may become unfeasible with many languages. But at least this does not require craco or patch-package.

[code]

[2022-01-27 09:01] 0xJem opened #1201 "Variables within JS/JSX macros are not substituted"
**Describe the bug**

We have tried a few approaches to using the JS/JSX macros in a way that replaces variables, but have not found one that works. Instead, "{0}" is displayed in place of the variable in the production build.

**To Reproduce**

The following have been attempted:
[code]
[code]
[code]

**Expected behavior**

According to the docs (https://lingui.js.org/tutorials/react-patterns.html

[2022-01-27 18:02] caresx commented on #1197
I was able to fix this issue by setting [compilerOptions.jsx](https://www.typescriptlang.org/tsconfig#jsx) to "preserve". When this is set to a value like "jsx", Babel TypeScript appears to do JSX transformations before handing over control to plugins like macros. Lingui's macro operates on the AST that still contains JSX nodes.

[2022-01-28 00:32] cameronbraid commented on #1197
@caresx You Beauty !  Thanks heaps.  Confirmed that it works for me in my other project too.

[2022-01-28 00:32] #1197 closed

[2022-01-28 00:34] cameronbraid commented on #721
FYI to make this work follow https://github.com/lingui/js-lingui/issues/1197#issuecomment-1023498786

[2022-01-28 17:57] djhojd commented on #1201
I had the same issue, make sure you are loading the compiled message catalogs in production.

[2022-01-31 14:10] MarkMurphy commented on #952
I think this should probably be re-opened. This is still an issue today with the latest version of lingui, as of writing that's 3.13.2

[2022-01-31 15:31] semoal commented on #952
Will try to take a deeper look if we can resolve this somehow internally in the Lingui CLI

[2022-02-02 09:58] baldurpan commented on #1154
@semoal I noticed that you added a `bug` label but then it was marked with `wontfix` and closed.
Does this mean it will not be fixed?

[2022-02-02 10:20] semoal commented on #1154
We have a bot that marks issues as wontfix after no activity, but indeed this is a bug and shoudn't be closed. I'll try to get some time for Lingui asap.

[2022-02-02 12:16] daryawood opened #1203 "Inconsistent numbers localisation in different runtimes (node and chrome)"
**Describe the bug**

`i18n.number(1)` with locale "ar" returns different results depending on runtime.

node@14.8.0

[code]

Chrome console (96.0.4664.110)
[code]

**To Reproduce**
You can run the following commands in a chrome's console and in node@14 runtime to see the difference

[code]

**Expected behavior**
Arabic numerals should be translated correctly everywhere

**Additional context**

-

[2022-02-04 15:53] JSteunou commented on #1198
@semoal I started https://github.com/lingui/js-lingui/pull/1205

For now all I succeed to do is adding more tests to find out where the issue might be. With my little knowledge on lingui's internal, it seems the 1st implementation is wrong: context is used as message way to early in the chain. The *context* information does not arrive at the catalog build step. I added failing tests that shows thi

[2022-02-04 15:54] JSteunou commented on #1198
@nakkamarra if you have some time to put on this one I would appreciate ;)

[2022-02-06 20:45] RandomEngy opened #1206 "Typescript without React?"
There is a [React Typescript sample](https://github.com/lingui/js-lingui/tree/main/examples/create-react-app), but it assumes you are using React. There is a [Vanilla JS sample](https://github.com/lingui/js-lingui/tree/main/examples/js), but without TypeScript integration.

I'm a bit confused: do I need Babel? The React example doesn't seem to use it.

I have a minimal project set up here to attem

[2022-02-07 11:55] 0xJem commented on #1201
@djhojd Hi, thanks for the response! I read about passing catalogs as a parameter to `I18nProvider`, but we are using a different approach (the one documented here: https://lingui.js.org/guides/dynamic-loading-catalogs.html#final-i18n-loader-helper), and I don't see a way to achieve the same.

In the meantime, I've been able to reproduce the issue reliably and have documented this in our repo: htt

[2022-02-07 12:33] 0xJem commented on #1201
So I think I've figured out the cause of this. We didn't run the lingui extract command, so the `.po` files did not contain the interpolated string. Doing the same (not running `extract`) with a non-interpolated string not containing a variable, it loads fine.

[2022-02-09 14:06] xelossan opened #1207 "Problem with fallback locales"
Hi, not sure if it's a bug, just the way it works or I'm using it wrong, but I have a problem with fallback locales (I'm using @lingui/react 3.13.2).

I have following config file:
[code]
and strings defined for pl and en locales.

My initialization code looks like this:
[code]

Now, when the user's locale is for example pl-pl, or en-us, I assumed that calling `i18n.activate('pl-pl')` will use str

[2022-02-11 16:55] sakulstra commented on #1136
Was just running into this as well.
I feel like having this behavior as a default is a weird choice.

probably just stupidity on my side:
Didn't realize the remount for quite some time and now have to refactor every use of `t` which is sad. Would have rather notices it earlier :sweat_smile:

[2022-02-14 13:42] armandabric commented on #1158
This issue is not stale. The nextjs team have done some progress on the subject: https://github.com/vercel/next.js/discussions/30174

[2022-02-16 09:43] MichaelHoste commented on #1207
Hi @xelossan

Shouldn't your list of locales in your config file also include "pl-pl" and "en-us" for the `i18n.activate` to work?

[2022-02-16 21:50] paales opened #1211 "Lingui extract all translations for files that are outside of the root of the rootDir"
**Describe the bug**
When extracting translations, we're running into the issue that we're missing lots of translations

**To Reproduce**

I've got this in our configuration

[code]

So we're also gathering translations from `'<rootDir>/../../packages/**/*.tsx'`. This however somewhat works, but there seems to be going something wrong while writing temporary files in the babel-plugin-extract-messa

[2022-02-18 06:52] Cielquan commented on #333
I found this guide here and just set it up accordingly in my next app.

https://blog.logrocket.com/complete-guide-internationalization-nextjs/

I did not test it yet though, but thought I drop it here, so it may help someone, before I forget it later.

[2022-02-18 09:47] boy-incerta opened #1212 "net::ERR_HTTP2_PROTOCOL_ERROR when importing macro's from other file"
**Describe the bug**
For my project, I want to keep all strings marked for translation in one file. This way I can tell LinguiJS to only scan one file when running `lingui extract` instead of the entire project. It has the following form:

[code]
Then, in my app, I want to reference those as such:
[code]

However, from the moment I want to reference the AppTranslations file, it crashes with all ki

[2022-02-23 22:50] #1116 closed

[2022-02-24 02:43] truong-hua commented on #1116
don't stale

[2022-02-25 07:43] samsaggace commented on #999
So sorry, I don't have access to this codebase anymore (I changed company) and don't really remember what I did 😅
Sorry

[2022-02-25 11:00] um-synth opened #1213 "Fallback locales not taken into account for `pseudoLocale`"
**Describe the bug**
Hi.

When setting up a pseudo local I have a problem that instead of using values of fallback `locale`, pseudo local messages are generated from the `ids`. In our case ids are not the same as default values, which makes pseudo local language a bit useless.
Not sure if this is intentional or a bug? Following the documentation, I would consider that a bug.

**To Reproduce**
Our

[2022-02-25 16:32] ggascoigne commented on #999
Pity, thanks for the reply though.  Take care.

[2022-02-28 20:40] ianatha commented on #433
no, not really stale...

[2022-03-05 16:41] Hideman85 opened #1214 "[Bug?] Macro produced a non parsable JSX"
**Describe the bug**
I'm still using the version **2.9.2** (did not found the time to migrate) I have the following produced by the macro:
[code]
This fails to be parsed by acorn-jsx or babel.
Note having `<Trans id={"We only accept \"{accept}\""} values={{ accept: accept }} />` works.

Original code is:
[code]

Do you know if this is happening in newer versions?
Can I upgrade macros without migra

[2022-03-06 01:47] RandomEngy commented on #1206
I've gotten it a little bit further. It turns out the config I needed in package.json was `"extractors": ["@lingui/cli/api/extractors/typescript"]` . I've extracted the strings to .po files and compiled them to the message.ts file and have set up the initialization.

However, I've got a different error now when I try to build with webpack 5:

[code]

It looks like it's trying to call some node API

[2022-03-06 03:40] RandomEngy commented on #1206
Finally got it working, following steps in https://github.com/Microsoft/TypeScript-Babel-Starter . I had to abandon `ts-loader` and switch to `babel-loader`.

[2022-03-06 04:14] RandomEngy commented on #1206
Now I need to apply it to my project with yarn workspaces and Typescript project references. Before I would just compile with `tsc -b` but [I can't do that with Babel](https://github.com/microsoft/TypeScript-Babel-Starter/issues/35). 😞

I'm wondering if at this point it might be easier to migrate to Lit so I can use their localization library. If anyone is using Lingui successfully with yarn works

[2022-03-10 06:45] meglio opened #1215 ""cli extract" fails when I do not use macro and have no babel macro package installed"
**Describe the bug**

I'm using Next.js. I do not need macros, so I decided not to install @babel/macro etc. I did it because I want Next.js to use SWC.

**To Reproduce**

Create a minimal Next.js project.
Do not install anything related to macros.
Run `yarn extract`.

Console logs gets lots of warnings - `lingui-extract.js` tries to use `babel-plugin-macros`.

**Expected behavior**

extract/compi

[2022-03-11 13:34] primozs commented on #1069
@RafaelVidaurre Hi, did you solve this issue?

[2022-03-12 14:56] OssiPesonen commented on #952
I managed to get around this issue using @gemcloud's comment. However, cross-env is for Windows users mostly and I work both on OS X and Windows, so I had to create a separate command for my Windows extracts. Not a big deal, but this issue still exists with Next.js 12.1.0 and @lingui/cli 3.13.2, @lingui/macro 3.12.1 and @lingui/react 3.13.2. Added Lingui to my project today, in fact.

[2022-03-12 17:45] #1178 closed

[2022-03-15 09:23] fdev commented on #1188
I'm replying to keep this issue from going stale. I would still like to see this implemented.

[2022-03-15 16:27] marcvangend opened #1216 "Document lingui.config.js format"
**Situation**
I prefer `lingui.config.js` over `.linguirc` for configuration because my IDE knows the .js file extension. However I could not find the expected syntax in the documentation.

**Proposed solution**
Document that a lingui.config.js file should look like this (at least: this worked for me!)

[code]

**Alternatives I've considered**
To solve the problem that IDE's do not interpret `.lin

[2022-03-15 21:26] marcvangend commented on #1194
I ran into the same issue after applying the [dynamic loading method](https://lingui.js.org/guides/dynamic-loading-catalogs.html). It seems that it is triggered by the `<I18nProvider>` component when it is first rendered, _before_ the useEffect hook runs.

**Maintainers, please correct me if I'm wrong.**
As far as I can see things still work as expected. The warning doesn't seem to do any harm, bu

[2022-03-17 13:58] boy-incerta commented on #1212
My bad, I was mixing a few things up.

[2022-03-18 06:57] marcvangend opened #1217 "How to get a list of available languages?"
Sometimes I need to loop over the list of available languages. For instance when creating a language switcher component. This list is already configured in .linguirc. From the [setup instructions](https://lingui.js.org/tutorials/setup-cra.html):
[code]
However I don't see a way to retrieve this data. At first I expected that `const { i18n } = useLingui(); const locales = i18n.locales;` would do th

[2022-03-18 09:39] boy-incerta opened #1218 "V3 't' macro's still not seem to be working in 3.13.2"
**Describe the bug**
As per [#707](https://github.com/lingui/js-lingui/issues/707) It still looks like V3 t macro's don't work anymore. I have used [this reproducible example](https://github.com/ojii/lingui-v3-t-macro-example) and tried what @tricoder42  suggested (move components to other file). This had no luck. I also tried changing the messages to local data to exclude async loading of locale

[2022-03-19 10:30] creaux commented on #1218
I can confirm exactly the same problem.

- jsLingui 3.13.2
- babel 7.12.13
- @nrwl/react 13.8.5
- react 17.0.2
- webpack 5.70.0

Did you try so far some other version working or some other workaround?

[2022-03-21 02:25] micahbule commented on #1078
This is still happening on the latest version.

TL;DR: Use `<Trans />` in your React application as much as possible. Explanation below.

Based on observation, it may have something to do with how React works with data changes and how lingui functions in general.

The basic of React component re-rendering relies on two things:
- If any of the prop changes its value
- If its state changes its value

[2022-03-21 09:58] Sitole commented on #1157
Still actual?

[2022-03-21 17:18] nmoinvaz commented on #1148
For our application, the list of locales that are supported are also loaded dynamically.

[2022-03-22 17:25] marlonjan commented on #722
Hi there, I've also observed the issue that @armandabric described, forgetting to run `lingui extract` and committing the changes seems to be quite common. As a result, changes in `.po` files often end up in later commits or even later pull requests, in which case it tends to make the code review process slightly confusing.

I found the following command quite useful to check that there are no unc

[2022-03-24 07:03] sharonyogev commented on #1213
Hi, this is because [`compileSingleKey`](https://github.com/lingui/js-lingui/blob/0e270a394e3317dd243519445feafae8b6e3214c/packages/cli/src/api/compile.ts#L28) uses the `key` and not the `translation`
But, when I tried to replace it with `translation` some of the translations failed the compilation process, for example:
* `{count, plural, one {boy} other {# boys}} {count, plural, one {girl} other