[2018-10-09 23:19] agwells commented on #357
@FredyC Thanks for the feedback! I'm actually already using Lingui's pseudo-localization feature, and I agree, it's very useful for manually checking for missing language strings. Particularly for dynamic stuff that might be missed in static code analysis.

Strictly speaking, if it's 100% accurate it's a _validator_, not a _linter_. ;) A linter checks for "bad code", which may include definite bug

[2018-10-10 05:58] tricoder42 commented on #359
Hi @JSteunou, you're right, `lingui extract` adds plugin on it's own. I think we could fix it [here](https://github.com/lingui/js-lingui/blob/master/packages/cli/src/api/extractors/babel.js#L35) by providing plugin name: `['macros', {}, 'lingui-extract-macros'],`. Would you like to send a PR?

In Babel 7 we inspect the babel config so we could add `macros` plugin conditionally. I'm not sure if suc

[2018-10-10 06:03] tricoder42 commented on #357
@agwells Wow, `kiwi-linter` looks great.

I was thinking about it and we could check children & whitelist of html props if they contain string. Maybe even check if that string is a natural language using NLP libs (https://github.com/spencermountain/compromise), but that would only work for english and supported languages.

I have no idea how to check other props, especially for custom components.

[2018-10-10 08:04] JSteunou commented on #359
Why not just removing `"macros"` [here](https://github.com/lingui/js-lingui/blob/master/packages/cli/src/api/extractors/babel.js#L35)

It's already written in the doc that `"macros"` should be added in the plugins list, and obviously babel 7 (I dont know about babel 6) does not allow to put the same plugin twice, so the user's babel configuration is already ready to work with lingui extract comman

[2018-10-10 08:09] FredyC commented on #353
I am not sure why do you think that global `i18n` is a problem. Can you elaborate more on that? For a namespacing, you can easily have different instances of `i18n` and import the one you want. Not sure about chunking what do you mean by that? And why it's problem for a 3rd components? If such component would allow passing `i18n` in props, then there is no issue with it. On the contrary, it feels

[2018-10-10 08:14] FredyC commented on #359
I kinda agree with JSteunou, macros plugin should be more like peer dependency considering there is a such limitation with Babel 7.

[2018-10-10 08:47] tricoder42 commented on #359
Actually, this is a good point. If you use macros, you should have them in your babel config anyway. If lingui extract detects a framework and adds a preset (like `react-scripts`), these presets should already have them.

@JSteunou Ok, feel free to remove it and add peer dependency for `@lingui/cli`.

[2018-10-10 09:08] tricoder42 commented on #353
Good point. Even if we have a *global* i18n, there should be a way to define messages without translating them (i.e: lazy translations).

[code]

The API looks good to me: `t` is used for message definition, `i18n` performs translation. `i18n.t` is a shortcut to do both at the same time. `i18nMark` is actually replaced with `t`, `plural`, etc. macros, because it's more flexible and it works in all

[2018-10-10 13:43] #359 closed

[2018-10-10 13:48] tricoder42 commented on #341
I see. We have to figure out the API to handle situations like this. Right now, defaults and fallbacks are resolved at build time. Runtime catalog is simple id->translation mapping.

[2018-10-10 15:03] tkvw commented on #341
Yeah, so I discovered this when moving from development to production; the parameterized messages didn't get interpreted.

The only way to share state between client and ssr is by a serializable object (json). So for this I need to compile the messages on the client side. Another solution would be to async require the messages, but then the initial (ssr) render wouldn't have any messages or to sim

[2018-10-10 15:04] tricoder42 commented on #341
Alright, closing this for now 👍

[2018-10-10 15:04] #341 closed

[2018-10-10 15:08] tkvw commented on #341
It would be interesting to have a `create compiler` macro which creates a compiler for selected locales. This compiler could be used on a json catalog on the client on first render.

[2018-10-10 15:13] tricoder42 commented on #341
There's already open issue for it #342. It might be easy to do by exporting compiler in subpackage as described here: https://github.com/lingui/js-lingui/issues/342#issuecomment-424687026. There're might be few problems to solve, because `lingui compile` does few more things on top of compiling messages, as described at the end of [this comment](https://github.com/lingui/js-lingui/issues/342#issue

[2018-10-10 16:44] tkvw commented on #341
That's why I said a `create compiler` macro, which would generate a `compiler.js` (like the compiled catalogs) which contains the pluralize methods for the selected locales. This would allow the compiler to be small and support the required locales. But that's just an idea.

[2018-10-11 09:45] fllprbt commented on #349
@FredyC duly noted. I am quite new in this lovely project so I would like to ask some questions before submitting my opinion:

Is there a possibility to autogenerate catalogue translations? I am considering the following as the typical workflow:

- add new message to source
- re/generate catalogs
- manually add the translation
- compile

So by that notion, wherever I want to add something new I ha

[2018-10-11 11:04] tricoder42 commented on #349
@fllprbt Usually, you don't need to watch for changes in catalogs. In development mode, messages are compiled on-the-fly, so as long as you're using source language, you're good.

If you want to see translated messages, you need to:

1. Run `lingui extract` to generate source catalog
2. Manually add translation
3. Run `lingui compile` to get compiled catalog (unless you're using `@lingui/loader`)

[2018-10-11 11:37] FredyC commented on #349
I don't see how it would make sense to run `lingui extract --watch-compile` if I want auto compile only? Seems rather confusing to be actually executing extract command imo.

[2018-10-11 21:54] dephiros opened #362 "Optimize build with webpack"
**Is your feature request related to a problem? Please describe.**
At the company I am currently working at, we are trying to figure out a way to load translation strings more efficiently(only load what is used + user language)

**Describe the solution you'd like**
I am not familiar enough with webpack to know exactly what need to be developed(plugin, loader) but the general solution is:
- For eac

[2018-10-12 04:46] ShaneMckenna23 commented on #350
I can work on this issue over the weekend. I spent this week implementing react-intl into an application at work so its fresh in my mind!

[2018-10-12 05:16] tricoder42 commented on #350
@ShaneMckenna23 Thanks, that would be great!

@t04glovern No worries, thank you for the effort anyway 👍

@khaoptimist97 You can access `i18n.language`. `i18n` object you can get either using `withI18n` HOC or [`I18n`](https://lingui.js.org/ref/react.html#component-I18n) render-prop component.

[2018-10-12 09:11] tricoder42 opened #363 "Improve JS macro"
## Is your feature request related to a problem?

Consider existing implementation:

[code]

This implementation has several disadvantages:

- you have to explicitly import all i18n formatters (`t`, `plural`)
- the `i18n._(t'Hello')` construct is just more complex that previous `i18n.t`

## Describe the solution you'd like

[code]

This will be transformed to:

[code]

`i18n` is a single entry mac

[2018-10-12 15:43] dephiros commented on #362
Thank you @tricoder42 , I will keep looking into this and report back if I make any progress

[2018-10-12 19:46] FredyC commented on #363
I am definitely a big supporter of global `i18n` as I am already using it in two apps that way. I would love to see some better support for descriptions there, eg. `i18n.desc('description')'Hello world'`. Although I am not sure how to go about custom ID there, probably something `i18n('id').desc('description')'Hello world'`. It's a bit more verbose probably, but I kinda prefer it instead of commen

[2018-10-13 02:06] segmentationfaulter opened #364 "How to use this library with create-react-app?"
Since using this library requires me to install some babel plugins, which I cannot do while using `create-react-app` unless I eject. So how can I use this project with `create-react-app`?

[2018-10-13 08:42] FredyC commented on #364
Have a look at [create-app-rewired](https://github.com/timarney/react-app-rewired) which helps to do exactly that. However, note that it's not working for CRA 2.x and it's uncertain it will ever work.

[2018-10-13 08:44] tricoder42 commented on #364
@segmentationfaulter You should use `@lingui/macro` because `babel-plugin-macros` is already included in Create React App v2.

You can follow [tutorial](https://lingui.js.org/tutorials/react.html), but skip the step when adding plugin to babel config.

[2018-10-13 08:44] #364 closed

[2018-10-13 08:52] tricoder42 commented on #363
Yeah, this is something we need to solve.

One solution might be this:

[code]

It's flexible and we can add any data in the future (e.g. context).

On the other hand, it's a bit verbose, but I either saw projects using `id` and `description` for every message or using `description` very rarely. For me it's totally ok to write object with description once in a while (I use Message ID as keys by de

[2018-10-13 09:06] FredyC commented on #363
Yea, I think it's good to support `i18n({ description: "Help text" })'Default message'` eventually also, but as you say it's rather verbose. I really do like `i18n.desc('description')'Hello world'` as it feels more like part of the message. Personally, I can imagine using description over custom ID all over the place to mimic a context in a way. Using both is probably only for projects which opted

[2018-10-13 09:32] tricoder42 commented on #363
What about this?

[code]

This was early proposal of macros.

[2018-10-13 19:12] gurschitz commented on #346
@tricoder42
Do you happen to know what exactly in Create React App 2.x is solving the issue? I've ejected my application and I've also encountered the same problem.

[2018-10-13 19:16] tricoder42 commented on #346
It's hard to tell. Could you please publish your repository or at least a minimal example to debug it?

[2018-10-13 19:46] gurschitz commented on #346
Actually, my bad, sorry. I forgot to add the "macros" plugin to .babelrc - now it seems to be working!

[2018-10-13 19:46] tricoder42 commented on #346
Great! I'll add this solution to troubleshooting. Thanks!

[2018-10-15 17:34] tricoder42 commented on #363
Yeah, this is something we need to solve if we allow to use `i18n` object anywhere. How to explain to the users, that in some places they can use `i18n` directly, but in other places they need to use lazy translations?

Default props are gonna always use lazy translations - i.e. instead of translating immediately, the translation will be performed during rendering.

Interesting. Especially the ide

[2018-10-16 06:44] FredyC commented on #363
Um, I might be missing something, but why is it such a problem to do a translation of defaultProps (and anything top level)? I mean a macro gets transformed to a runtime code like `i18n._('Hello {world}', { world })`. As long as the catalog is loaded it should be able to read a message from it and return it. Why it should be a problem? Ensuring that the catalog is loaded before loading other modul

[2018-10-16 16:58] pybuche commented on #118
Hey !

I just started using `lingui` and indeed, having a loader for my dev env is very convenient.

But I don't get how I switch to prod "compile" mode with `@lingui/loader`...

Say I import my catalogs this way:
[code]
Do `messages.js` files generated through `lingui compile` are useful here?
I guess they are not loaded at all with this method, am I right?

In this case, is there a significant p

[2018-10-16 17:17] tricoder42 commented on #118
Hey @pybuche,
if you use `@lingui/loader`, you don't have to run `lingui compile` manually. Loader actually creates production ready compiled catalogs.

These two import statements are identical:

[code]

[2018-10-16 21:21] dephiros commented on #334
Would love to see this rolled out. I am scanning through the docs to create an internal presentation for developers to use jsLingui at my job and it is a bit confusing since there are examples of both babel-transform plugin vs macro for both js and react.
I might be wrong but it seems like clearing up the approaches is a goal of v3?

[2018-10-17 13:37] kompot commented on #362
This is basically the main reason we are trying to move away from `react-intl`.
We have 200kb+ (unzipped) language bundles already and there are not getting any smaller.

In case someone has time to tackle this, I guess he/she might take some clues from
https://github.com/webpack-contrib/i18n-webpack-plugin

Also this this approach should remove runtime calls for lots/most translations that do not

[2018-10-19 05:15] tricoder42 commented on #334
@dephiros Yes, exactly.

I would like to release v3 after React Conf. I expect some changes in React to be announced at the conference so I want to wait and see what they come up with.

[2018-10-24 22:45] agwells opened #368 "Object spread in <Trans> causes an error in "lingui extract""
**Describe the bug**
Let me preface this by saying, this is a fairly small bug, with a few different possible workarounds. But it looks like it may be an easy fix.

I was trying to do [lazy translation](https://lingui.js.org/tutorials/react-patterns.html#lazy-translations), but I wanted to support not just static strings, but also strings with placeholders (and potentially also plurals). So, inste

[2018-10-24 22:47] agwells commented on #368
It looks like the problem is that JSX object spread is represented in Babel's AST as an "attribute" that has no "name" node under it. So the `.reduce` call that tries to gather up data about all the `<Trans>` tag's props, needs to do something like `if (!item.name) return acc;`

Unfortunately I don't have time to test this out right now.

[2018-10-25 15:01] ghostd opened #369 "Small typo in the documentation"
Hi,

It seems there is a small typo in the documentation.
Go here: https://lingui.js.org/tutorials/setup-react.html
The documentation contains `babel-plugin-macro` but the plugin name is [babel-plugin-macros
](https://github.com/kentcdodds/babel-plugin-macros)

Regards

[2018-10-25 17:39] ziyafenn opened #370 "Any way to add line breaks for translation?"
Hi there! Thanks for the amazing framework!

I wonder if there is any way i could add line breaks to my `i18n._(t``);` component that it also appears correctly on the .po files?

The thing is when i add `${'\n'}` inside  `(t``);` the line break appears as {0} and it is not clear if it's a line break or just a variable. + It is also not best solution, as the same sentence without line break will ap

[2018-10-25 21:31] tricoder42 commented on #370
Hey @ziyafenn,
yes, this was fixed in #324, but it's scheduled for release in 3.0 which might take some time. I'm currently at React Conf, but I might try to backport it and release in 2.x next week.

Looking at it now, I'll leave this open, because #324 fixes only newlines in JSX, but I haven't considered the usecase with template literals.

[2018-10-25 21:32] #369 closed

[2018-10-25 21:57] ziyafenn commented on #370
hey @tricoder42
actually, i don't have an issue with the rendering new lines inside `<Trans>`. For me, it does somehow render new lines. Same goes for `i18n._(t``);`.

My issue is actually to display those new lines in .po editor so translator knows that he should also add those new lines in translation.

For example, in Poedit if you would add a new line break with **Enter**, you'd see that it ad

[2018-10-26 08:25] ghostd opened #372 "Nested Plural and Trans"
Hi,

I don't know if i misread the [documentation](https://lingui.js.org/tutorials/react.html#variables-and-components) or if it's a bug.

I did copy/paste the following example from the documentation:
[code]

When i extract the translations i get:
[code]

So when the count is '1', i get the correct translation (with the correct values). If i force the `value` attribute to `2` i got nothing (empty

[2018-10-26 10:11] FredyC commented on #372
Have you used Trans from `@lingui/macro` or from `@lingui/react`? I haven't tested this out yet, but it might work with macros only.

[2018-10-26 10:53] ghostd commented on #372
You're right, i forgot to mention i use the macro.

[2018-10-26 13:01] ikhilko opened #373 "Lingui production version broke RN internal polyfill"
**Describe the bug**
Production version of Lingui packages are minified(optimized) by Google Clojure Compiler and it by default adds build-in polyfill of Symbol.iterator and other (monkey patching global). This broke some of build-in polyfills in RN. As a result it lead to unexpected behavior of polyfilled Set/Map/etc. In my real use case Set used in RN Native Modules to store callbacks and after

[2018-10-26 14:19] ikhilko commented on #373
@tricoder42 Have a nice speech on React Conf! 😄

[2018-10-27 10:10] ghostd commented on #372
I pasted this code into the `webpack-react` example :
[code]

When i re-run the messages extraction, i don't get a new entry.

[2018-10-28 14:46] Shermayster commented on #351
@kalabhairava are you started working on this? Maybe I can help you?

[2018-10-28 15:39] ghostd commented on #372
I get the expected behavior for my use case with the following syntax:
[code]

[2018-10-28 16:02] kalabhairava commented on #351
@Shermayster, my apologies :disappointed:

I'm caught up with a lot of work since the last few weeks, so I wasn't able to take a look at this issue. Please remove the `assigned` label, so that others can pick it up if they want. If it is still open after a weeks, I can take it up.

My apologies again :disappointed:

[2018-10-28 23:09] tricoder42 commented on #372
Hey @ghostd, this is definitely a bug. I'm just refactoring macros, so I'll take a look.

[2018-10-29 13:49] wilkinsonjack1993 opened #375 "Element attributes that require a translated string show warnings due to proptype being an object."
**Describe the bug**
I am trying to create a search bar using the material UI searchbar which has a placeholder attribute. This placeholder attribute has a propType of string, however I want to pass it a translatable string using the pattern outlined [here](https://lingui.js.org/tutorials/react-patterns.html#id2). I have tried using the i18n method in order to create a string only translation but

[2018-10-30 12:29] mschipperheyn commented on #364
What if you don't want to use `@lingui/macro` because you have a lot of components built using `@lingui/react`? Can you still use create-react-app? I'm getting constant errors:

using `withI18n` and `i18n.t('ui.key')`Default`

[code]

I have latest CRA and . babelrc

[code]

[2018-10-30 14:25] andys8 opened #377 "Type error: Cannot compile namespaces when the '--isolatedModules' flag is provided."
**Describe the bug**
I'm trying to get started with `js-lingui`.

[code]

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

**Expected behavior**
Should compile

**Additional context**
Using `create-react-app`, newest version where they introduces `typescript` support

[code]

#### `tsconfig.json`

`create-react-app` needs `isolatedModules` set to `

[2018-10-30 14:46] andys8 commented on #377
It looks like it's only an issue with the module systems, typescript imports and my understanding.

Using `require` over `import` will fix it :+1:

[code]

[2018-10-30 15:27] FredyC commented on #364
@mschipperheyn Why not just find & replace that import? Nothing else changes as far as I know.

[2018-10-30 16:27] #377 closed, assigned to nobody

[2018-10-30 16:34] tricoder42 commented on #377
Hey @andys8, I honestly don't know anything about Typescript, but you could also try set `compileNamespace` to `es` if it helps:

https://lingui.js.org/ref/conf.html#compilenamespace

[2018-10-30 16:48] andys8 commented on #377
Wow, cool, missed that option. `"es"` will work with `import`. Can we add it to the typescript part of the documentation? https://lingui.js.org/guides/typescript.html#webpack-setup

[2018-10-30 16:53] tricoder42 commented on #377
Absolutely! Could you please create a PR?

[2018-10-30 18:06] andys8 commented on #377
Created PR #378. Created another (minor) one for the same chapter before, when you're already looking at it ;)
https://github.com/lingui/js-lingui/pull/376

[2018-10-30 22:49] #373 closed

[2018-10-31 05:40] tricoder42 commented on #368
Hey @agwells, unfortunately you can't use object rest spread operator on Trans component. What you can do, however, is to pass message descriptor to `id` prop:

[code]

Trans component is mostly a facade for `i18n._` which accepts message descriptors as documented.

Please let me know if it solves your problem.

Object rest spread operator isn't supported because it's hard to find out at built tim

[2018-10-31 05:40] #368 closed

[2018-10-31 05:43] tricoder42 commented on #364
@mschipperheyn

1. Custom .babelrc doesn't work with CRA by default
2. You need a plugin to make `i18n.t` work. That's the reason you're getting those errors.

You still can use LinguiJS without macro and plugins, but you have to write message format manually.

[2018-10-31 05:43] tricoder42 commented on #368
I'm gonna leave this open, because the error message should be better and more descriptive.

[2018-10-31 06:03] tricoder42 commented on #375
@wilkinsonjack1993 You're correct, it's supposed to work like that. I tried your example but didn't get the same error. I suppose your App component is wrapped in I18nProvider, right?

What version of LinguiJS and Babel do you use?

[2018-10-31 11:34] wilkinsonjack1993 commented on #375
Hi @tricoder42,

Thanks for getting back to me. I did a refactor of the component that I was using to load the local and pass it into the I18nProvider and it seems to work perfectly now. No idea what I changed exactly to fix it but I think it's safe to assume that this was an error on my side and not with the lingui library.

Thanks for your help - I'll close off the issue :)

[2018-10-31 11:34] #375 closed

[2018-11-01 10:58] rovansteen opened #382 "<Plural /> not extracted"
**Describe the bug**
When using the `<Plural />` component from `@lingui/macro` the translation is not extracted to the messages file.

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

And then run `npx lingui extract`

**Expected behavior**
I expect the messages json file to contain the following line:
` "{0, plural, one {# Form} other {# Forms}}"

[2018-11-01 11:41] ghostd commented on #382
Hi,

Maybe a duplicate of #372 ?

[2018-11-01 11:43] rovansteen commented on #382
@ghostd don't think it's a duplicate, as in my case the plural translation is not extracted at all. Could be related of course, thanks for mentioning!

[2018-11-01 19:54] stereobooster commented on #139
there is also z85 - string safe variation of base85 (`85^2= 7225`)

[2018-11-01 22:52] chinchang opened #383 "Default message in PO file not set when merging"
**Describe the bug**
I have this in my component using the `Trans` component:

[code]

Extracting from above I expect this:

[code]

instead it generates:

[code]

If the default is not filled in translation, then how would a translator know the source string.

**To Reproduce**
As mentioned above.

**Expected behavior**

In my po file:

[code]

**Additional context**

- jsLingui version ``lingui -

[2018-11-01 23:10] tricoder42 commented on #383
Well, this is tricky.

Convention is that `msgid` is source and `msgstr` is translation. Filling source into translation is just odd. That's the drawback of using keys as sources: translator needs to see two catalogs, one for source language (EN) and one for target one.

If we add default message to `msgstr`, then we can't tell easily if all messages are translated or if any translation is missing

[2018-11-02 05:30] chinchang commented on #383
@tricoder42  Appreciate your super quick response!

Well, I forgot to mention that the behaviour would be very correct for only the set source locale. If I have `"sourceLocale": "en"` set in my `.linguirc` you'll notice extract reports 0 missed translations for that particular locale. So it also makes sense that the translations are prefilled from source code because that locale anyways doesn't ne

[2018-11-02 06:05] tricoder42 commented on #383
That makes sense!

I'm looking at the code, at it is supposed to work like that

https://github.com/lingui/js-lingui/blob/7e53688490ccb8ec981fcfd7a10a9fdc4dd9153f/packages/cli/src/api/catalog.js#L66-L73

It might be caused by `deserialize` method in `po.js`, which does extract `defaults` prop.

https://github.com/lingui/js-lingui/blob/7e53688490ccb8ec981fcfd7a10a9fdc4dd9153f/packages/cli/src/api/f

[2018-11-02 06:35] tricoder42 commented on #383
Yeah, that's expected. It is allowed to edit catalog for `sourceLocale` manually to fix messages without touching the code. This makes it hard to update automatically, because we can't tell if the message was changed by translator or by developer in the code.

There is however [--overwrite](https://lingui.js.org/ref/cli.html#cmdoption-extract-overwrite) option for `lingui extract` which force upda

[2018-11-02 06:37] chinchang commented on #383
Cool! I'll try that option. Thanks for your help and this awesome library @tricoder42 :)

[2018-11-02 06:39] tricoder42 commented on #383
I'll keep it open because there's still a bug

**Additional context**
- Only happens when merging existing catalogs.
- Might be related to this code, which is missing `defaults` prop: https://github.com/lingui/js-lingui/blob/7e53688490ccb8ec981fcfd7a10a9fdc4dd9153f/packages/cli/src/api/formats/po.js#L49-L71

[2018-11-02 09:37] chinchang opened #384 "Build starts failing when integrating with a Babel 6 preact project"
**Describe the bug**
When I add @babel/core and babel-core/@bridge packages to my preact app (on Babel 6), the build starts failing with:

[code]

**To Reproduce**

I have a minimal project setup with preact-cli here -> https://github.com/chinchang/preact-lingui/

This is the specific commit to integrate lingui -> https://github.com/chinchang/preact-lingui/commit/1b61f18a02ec0760019dc878873fb0a157

[2018-11-02 10:06] FredyC commented on #384
I think you should communicate this within Preact repo as a configuration for Babel 7 is not related to Lingui really.

[2018-11-02 10:09] chinchang commented on #384
@FredyC I was not sure where to ask this but since Lingui explicitly mentions supporting apps with Babel 6 also, I thought about asking here.

[2018-11-02 12:00] FredyC commented on #384
Well, it supports Babel 6, but at the moment you've installed that bridge, you have essentially updated to Babel 7. Please sort this out with Preact or try my advice above.

[2018-11-02 18:41] tricoder42 commented on #384
@chinchang Indeed, it looks like misconfigured babel.

1. I don't understand why you add `lingui` environment to you Babel config

https://github.com/chinchang/preact-lingui/blob/1b61f18a02ec0760019dc878873fb0a15759555e/.babelrc#L8

Lingui doesn't need specific configuration. It's enough to add `babel-plugin-macros`.

2. Once you add @babel/core and babel-core/bridge, you use Babel 7. It looks lik

[2018-11-02 18:41] #384 closed

[2018-11-02 19:40] tricoder42 commented on #384
If anyone has the same problem, here's the PR which fixes problems described above: https://github.com/chinchang/preact-lingui/pull/1

[2018-11-02 20:13] chinchang commented on #384
@tricoder42 I added babel environment for `lingui extract` to work. Otherwise it wasn't able to parse JSX as there is no global babel environment available. I guess you added `babel-preset-preact` instead, in babelrc for the same reason, correct?
All is working in your PR now. Thank you very much for your help :)

[2018-11-02 20:45] tricoder42 commented on #384
I understand your motivation but you can't create babel environments just like that. Babel environment must be supported by the library (e.g `jest` uses `test` env) and in that case it's always documented.

Lingui doesn't use Babel environments at the moment. In the future, it'll use the standard `production` and `development`, but when it happens, it'll land in docs first.

Glad it works now! Che

[2018-11-06 12:21] fagerbua opened #385 "Interpolated values not shown in production"
**Describe the bug**
Interpolation of values in translated strings doesn't work in production. During development it works perfectly fine, but in production my app shows texts like 'Log out: {username}`. There are no crashes or error messages.

**To Reproduce**
The behavior occurs whenever I build the project with `NODE_ENV=production`. I can try to make a minimal reproduction if necessary, just w

[2018-11-06 13:37] tricoder42 commented on #385
Hey @fagerbua, do you load compiled message catalogs to your app? You can compile them either manually and then import `.js` files or use `@lingui/loader` webpack loader.

[2018-11-06 14:05] fagerbua commented on #385
Thanks for putting me on the right track! Your comment lead me to do the obvious thing: to check if strings are translated at all when I use a non-default language. Turns out they are not, so it's likely an issue with the catalog loading.

You've likely considered it already, but I wonder if it's possible to have some sort of warning when this happens unintentionally? As long as you stick to the d

[2018-11-06 14:05] #385 closed

[2018-11-06 20:30] natmegs opened #386 "Trans values and Plurals broken in production build"
**Describe the bug**
When serving a production build, usages of `Trans` macro with values, as well as `Plural`s, are rendered as they appear in messages catalog instead of with appropriate replacements. It appears to be a problem with the production bundling of the `@lingui/core` package.

**To Reproduce**
Minimal set up with code sample below. Run `npm i` before starting.

To see it working in de

[2018-11-07 09:16] tricoder42 opened #387 "Improve DX by adding warnings about misconfigurations"
Tracking issue for several improvements which would improve developer experience

### Messages aren't formatted in production

- Related issues: #385 #386 #388
- Cause: Missing translations in non-default language, catalogs not loaded
- Fix: `lingui compile --check` already warns about missing translations, but that's opt-in. Default message should be used when translation is missing. In developme

[2018-11-07 09:17] tricoder42 commented on #385
@fagerbua Definitely good point. I created a tracking issue, where I would like to list similar improvements https://github.com/lingui/js-lingui/issues/387

[2018-11-07 09:17] tricoder42 commented on #386
Hey @natmegs, I wonder if it's similar issue as https://github.com/lingui/js-lingui/issues/385#issuecomment-436263590? Do you have all messages translated in the language you're trying to use?

[2018-11-07 15:05] natmegs commented on #386
Hi @tricoder42, seems similar but all messages are extracted to the message catalog. When I change the `@lingui/core/index.js` file in node_modules to use the development bundle instead of production bundle it works as expected.

[2018-11-07 15:07] tricoder42 commented on #386
I see. Do you load compiled message catalogs to your app? That might be another issue, in development messages are compiled on-the-fly

[2018-11-07 15:08] natmegs commented on #386
Yes I'm using the catalog from `/locales/en/messages.js` and ran lingui compile before building.

[2018-11-07 15:15] tricoder42 commented on #386
Ah, yeah sorry, I see it now in the example.

This line looks suspicious:
[code]

There should be `en: catalogEn` to load catalog for `en` locale:

[code]

[2018-11-07 18:30] revinguillen commented on #382
FWIW, it looks like doing `import { i18nMark } from '@lingui/react';` is a sufficient substitute for importing `Trans`; I have a file with a bunch of `i18nMark`d strings, and one `<Plural>`, and if I remove the former, the latter no longer extracts properly.

[2018-11-08 05:14] yalishizhude opened #388 "Documentation: All catalogs including sourceLocale must be compiled. Default messages aren't available in production."
**Describe the bug**
`@lingui/core/cjs/core.production.min.js` Found a bug in this file.

[code]

**To Reproduce**
**Remember, must use the production js,development is ok.**
[code]

**Expected behavior**
My name is yalishizhude

**Additional context**
My name is {name}

- jsLingui version ``2.7.0``
- Babel version ``6.26.0``
- framework you use (Create React App)

[2018-11-08 11:00] ikhilko commented on #373
@tricoder42 are you have any plans to release it?

[2018-11-08 12:38] tricoder42 commented on #388
This might be similar issue as in https://github.com/lingui/js-lingui/issues/385. Could you please try to load compiled catalog with translated messages?

[code]

[2018-11-08 12:40] tricoder42 commented on #382
This indeed looks like a bug. Extract plugin checks the imports and macro adds them. There must be some misconfiguration fo both. I'll check over the weekend.

[2018-11-08 12:42] tricoder42 commented on #373
Good point! I'll take a look tomorrow in the morning, I completely forgot!

[2018-11-08 16:54] #382 closed

[2018-11-08 16:57] tricoder42 commented on #363
I've just updated the [RFC](https://lingui.js.org/rfc/001_macros_message_descriptors.html).

Things to consider:
- translation of default props (or anything when modules are loaded)
- namespaces

[2018-11-08 16:59] revinguillen commented on #382
Fantastic, thank you so much; I look forward to using this in production 👍

[2018-11-08 21:14] natmegs commented on #386
Ah yes you're right that solved it for the reproduction case but I've been trying to figure out why my original case was still broken. Turned out to be because of issue described in #382 because I didn't import `Trans`. Thanks for the help!

[2018-11-08 21:15] #386 closed

[2018-11-09 06:05] yalishizhude commented on #388
Yes, I have my own catalogs.The almost full code as follows:
[code]

[code]

[code]

I cannot precompiled the catalogs, because as the codes show, `srcFieldName` and `destFieldName` are dynamic decided by variables(some logic or some requests' response, something like this), not static.

[2018-11-10 22:10] tricoder42 commented on #388
@yalishizhude That's fine. You need to compile catalogs especially for messages with formatting.

Use `lingui extract` to get message catalogs and then `lingui compile` to get final js module. Don't write it manually.

Let me know if it helps

[2018-11-12 06:20] tricoder42 commented on #382
Released in [v2.7.1](https://github.com/lingui/js-lingui/releases/tag/v2.7.1)

[2018-11-12 23:08] aralroca opened #390 "React Hooks support"
I'd like to start a discussion about react hooks in lingui-react. I know that at this moment is just in alpha, but maybe is time to start thinking about a better alternative of i18n renderprops.

IMO, I don't like this alternative:

[code]

The reasons are:

* So much code to just one thing
* Renderprops are creating an extra useless wrapper
* Having a lot of renderprops like this is not so much r

[2018-11-12 23:17] hundsim opened #391 "Message catalog for locale "en" not loaded."
**Describe the bug**
No translations are showing up, and I'm getting the warning:

**To Reproduce**
I've followed the Get started guide and upon running `yarn extract` we can see that lingui recognizes the two translated strings I've created. I have run `yarn compile` as well.

Catalog statistics:
┌──────────┬─────────────┬─────────┐
│ Language │ Total count │ Missing │
├──────────┼─────────────┼─

[2018-11-13 06:40] ghostd commented on #391
Hi,

Did you extract then compile your catalogs? How do you load them? Can you paste your loading code please?

[2018-11-13 08:06] tricoder42 commented on #390
Hey @aralroca,
thank you for suggestion. I already mentioned hooks briefly in my talk at [React Conf 2018](https://www.youtube.com/watch?v=soAEB7ltQPk&t=25m47s), but let's give it a proper discussion here.

In upcoming v3 we're planning to abandon both HOC and render prop component. They both have the same purpose: consume i18n object from context and provide it to child component. Question is (an

[2018-11-13 10:15] hundsim commented on #391
@ghostd Thanks, good catch. I didn't understand that manual loading of translations was necessary.

For posterity, this is how I solved it:

`import catalogSv from './locales/sv/messages.js'
import catalogEn from './locales/en/messages.js'
const catalogs = { sv: catalogSv, en: catalogEn }

return (
  <I18nProvider
    language={locale}
    catalogs={catalogs}

    <App/>
  </I18nProvider>
)
`

[2018-11-13 10:16] #391 closed

[2018-11-13 10:35] hundsim opened #392 "Improve documentation how to work with message catalogs"
I wanted to give this project a shot, because on the surface things looked promising. But struggling with it for a couple of hours I honestly wonder why so complicated?

I apologize for the negativity, please only refer to this as some constructive feedback from someone that truly gave the package a fair chance 🙏

1. Confusion CLI vs yarn/npm commands. The guides instruct you to insert script comm

[2018-11-13 11:19] tricoder42 commented on #392
1. Originally I used global `lingui` command, but it's easier and safer to use local commands. There might be sections in docs which weren't updated correctly.

If you've found such places, feel free to send a PR or list them here so I can fix them faster.

2. Could you please elaborate on how it didn't work? It's exactly as you say: Messages should be extracted from source code automatically. Mai

[2018-11-13 12:17] hundsim commented on #392
1. At bullet number 4 in the [installation guide](https://github.com/lingui/js-lingui/blob/master/docs/tutorials/setup-cra.rst) we're instructed to "Add following scripts to your package.json". But in the [React guide](https://github.com/lingui/js-lingui/blob/master/docs/tutorials/react.rst) we're told to use `lingui ...`:

2. E.g. I started out having the contents of a Trans tag to be <Trans>Surv

[2018-11-13 18:43] aralroca commented on #390
I agree with all you said.

My proposal was in order to keep the same functionality that the current HOC and RenderProps.

However, after have knowledge about v3 I think different. As you said, the case of re-render the translations is very rare. So I agree to use macros directly instead.

About useLingui on top of the app I also agree. I guess that for now is the only possible hook here.

[2018-11-13 19:33] aralroca commented on #390
@tricoder42 BTW, I have a question about your elegant example:

[code]

Is there some inconvenient to use it outside the component?

[code]

In this case, I understand that now there is no need to re-render.

[2018-11-13 19:40] aralroca commented on #390
Sorry, I closed the issue unintentionally. I re-opened again.

About the issue, maybe we should go in the `useLingui` direction

[2018-11-14 02:49] huan086 opened #393 "Reuse of component"
**Is your feature request related to a problem? Please describe.**
When using `<Trans><p>Paragraph 1</p><p>Paragraph 2</p></Trans>`, we get the first `<p>` converted to `<0>` and the 2nd converted to `<1>`. It looks like the translator will be restricted to only two paragraphs of text.

**Describe the solution you'd like**
It would be nice if we could collapse similar components to the same index,

[2018-11-14 05:50] yalishizhude commented on #388
It doesn't work though I tried two diffrent ways~
1. I follow the plugin's instruction to add configuration to package.json like this:
![image](https://user-images.githubusercontent.com/3870098/48462627-df1c5a00-e813-11e8-9eb4-4ef6b83865ae.png)
Then I compile my project.Nothing changed.
2. I follow the setup guide and installed some packages,added scripts.
But it showed error:

![image](https://us

[2018-11-14 06:36] tricoder42 commented on #393
It's hard to tell in general case if the components can be collapsed, but we could add an exception for built-in tags (`p`, `br`, anything tag in lower-case letters) when elements have the same props:

[code]

Interested in sending a PR?

[2018-11-14 06:54] huan086 commented on #393
Not so soon. Will need some time to read and understand the code again. You have been so active in developing this! 😄

[2018-11-14 10:00] tricoder42 commented on #388
1. You don't need to change you Babel config

2. There's actually bug in `compat.js` file, I'll release fix soon. It also means you have mismatch in you babel-core version.

    What version of `babel-core` and `@babel/core` do you have installed? Please run `yarn list babel-core @babel/core` and paste the output here, thanks

[2018-11-14 13:43] tricoder42 commented on #392
1. Fixed. All mentions of global installation are removed from docs.

2. No, actually this is supposed to work like that. Imagine you already have the message translated. If you change the message ID and the former message is removed, you lost the translation. Now it's marked as obsolete, so you can copy the translation manually and then run `extract --clean` to remove all obsolete messages.

[2018-11-14 14:59] #392 closed

[2018-11-14 17:03] adamscybot opened #394 "Configure how extract plugin finds messages for extraction"
**Is your feature request related to a problem? Please describe.**
I want to proxy all uses of `@lingui/macro` and `@lingui/react` through another, internal package. This prevents a direct coupling to the lib when you have a large system. It also means managing versions is easier as thats centralised. Also it means we can make cross cutting changes to the way things work across a whole app. This i

[2018-11-15 06:09] yalishizhude commented on #388
![image](https://user-images.githubusercontent.com/3870098/48533577-0d676b80-e8e0-11e8-8d9d-24b2e654e6cb.png)

[2018-11-16 12:26] wilkinsonjack1993 opened #396 "Can't use t macro without default message"
**Describe the bug**
When using the lingui <Trans> component like so:
[code]
This will render the result: "DeleteDelete"

However, I expected when using the 'i18n.t' component, that the behaviour would be the same e.g.
[code]
However, this fails when running the lingui extract command with error:
`ReferenceError: Can't find variable: t
    in I18n (created by ...)
    in ... (created by ...)`

**T

[2018-11-16 13:24] FredyC opened #397 "Validated plural rules and warn about missing ones"
**Describe the bug**
When plural for some language is not translated yet or missing particular form for a given value, the empty string is returned

**To Reproduce**

[code]

Have this extracted with `en` as a sourceLanguage, then switch to eg. `cs`.

**Expected behavior**
For `booksNum < 5` I would expect that `other` form will be used as a fallback if one/few is missing in translation. When the

[2018-11-16 15:44] ripern commented on #163
@tricoder42 I might be misunderstanding something but why do you first state that in production you need to reference messages.js and then in the sentence after mention that there is a webpack loader which allows you to NOT have to reference messages.js directly?  I have used the latter way in dev but had problems with it in production, so just looking for an answer to if the dynamic loading shoul

[2018-11-17 23:51] AlanGreene commented on #394
This sounds similar to https://github.com/lingui/js-lingui/issues/72 and @tricoder42 provided some suggestions about how it might be addressed. I'm not sure if the suggestion is still valid with changes made in the intervening year, still getting up to speed on this great library.

[2018-11-18 10:48] stereobooster commented on #350
<details>
  <summary>`I18nLoader` for v3</summary>

[code]

</details>

[2018-11-18 14:56] tricoder42 commented on #394
Hey @adamscybot, good suggestion. I'm working on new version of macros, which transforms `t` macro to `i18n._` call, where `i18n` is a global object imported from `lingui/core`. Similarly, `Trans` macro is transformed to `Trans` component imported from `lingui/react`. I'm planning to add similar option you're suggesting, so the macro uses e.g `i18n` imported from `@my-org/intl` instead.

[code]

W

[2018-11-18 19:59] stereobooster commented on #350
Done https://github.com/stereobooster/react-lingui-example

[2018-11-19 06:43] tonyxiao commented on #194
are there any comparisons with react-i18next available?

[2018-11-19 06:50] tricoder42 commented on #194
@tonyxiao Not that I'm aware of, I've never used it. Feel free to write up comparison, if you have experiences with both libs.

[2018-11-19 10:17] webdevbe opened #398 "I18n._ calls with variables not properly translated in production"
**Describe the bug**
I found that several translation entries in my application are not properly translated. It happens in entries where text and variables are mixed as can be seen in the code below. Surprisingly, this does work when running a local dev server, but not when checking in prod.

**To Reproduce**
I tried creating a minimal reproducing example, without luck.
These are a couple of strin

[2018-11-19 10:29] ripern opened #399 "Should messages.js be referenced in production or can strings be dynamically loaded?"
@tricoder42 In https://github.com/lingui/js-lingui/issues/163 you wrote

I might be misunderstanding something but why do you first state that in production you need to reference messages.js and then in the sentence after mention that there is a webpack loader which allows you to NOT have to reference messages.js directly?  I have used the latter way in dev but had problems with it in production,

[2018-11-19 12:47] tricoder42 commented on #399
Hey @ripern,
both in production and development, you can't *dynamically* load messages at runtime. Right now you have to load messages from external file.

You need to load *compiled* messages. It's recommended to load compiled messages even in development to have the same environment as in production.

To load compiled messages, either reference them directly (`messages.js`) or compile catalog (`

[2018-11-19 12:47] tricoder42 commented on #398
Hey @webdevbe, do you load compiled message catalogs? What file with messages do you import?

[2018-11-19 12:56] tricoder42 commented on #397
I noticed this behavior as well. I'm not sure if `other` should be considered as a fallback. Some languages use `other` form for decimal numbers and `many` as a fallback for integers (Polish, Russian).

What about raising error in development to catch missing message early? It should be also checked during `lingui compile --check` to avoid runtime errors.

[2018-11-19 12:59] tricoder42 commented on #396
Hi @wilkinsonjack1993,
the problem is that template literal is expected after t('message.delete').

As a workaround, use `i18n._('message.delete')` instead of `i18n._(t('message.delete'))`.

[2018-11-19 13:01] tricoder42 commented on #394
Do you mean runtime `Trans` component or `Trans` as a macro?

You should be able to use custom `Trans` macro, but you have to transform it into runtime `Trans` from `@lingui/macro`.

[2018-11-19 13:18] webdevbe commented on #398
Yes, I import the compiled catalog (.js) with `import catalogEn from './locales/en/messages.js'`

[2018-11-19 13:19] tricoder42 commented on #398
Could you please create a repository with minimal example so I can check it?

[2018-11-19 13:20] FredyC commented on #397
Well, I am not sure if it should be really considered an error. I definitely would not like for this to be blocking deployment because we are missing eg. Japanese translation for a single sentence :)

I am mostly coming from the fact, that `other` is only required prop in `Plural`, at least based on current TypeScript definition. Thus it felt like a good fallback variant.

How are other translatio

[2018-11-19 13:32] FredyC commented on #397
I guess it wouldn't be a that bad thing, after all, being able to check if all translations are present, including all plural forms. As long as it would be under `--check` thus not preventing compilation it would be possible to leave the decision in hands of upper management if they want to release now with something missing or rather ensure a translation.

PS: I don't know anything about Japanese

[2018-11-19 13:38] ripern commented on #399
Yes it makes sense. I'm now using `import catalogEn from "locales/en/messages.js"` and letting build server run `lingui compile`.

Then it would probably be nice with a section discussing this before linking to, https://lingui.js.org/guides/dynamic-loading-catalogs.html, because currently when reading https://lingui.js.org/tutorials/react.html and seeing "Let’s deal with language switching later…

[2018-11-19 20:18] sbogdaniuk opened #400 "How to handle HTML characters and codes, tags"
Is there are any way to use html characters into translations?
Similar to react-intl **`<FormattedHTMLMessage />`**

[code]

Thanks.

[2018-11-20 06:48] ghostd commented on #400
Hi,

I think the current API does not provide a direct mapping for `FormattedHTMLMessage`, but you can create a component translating your text with the API and injecting the translation with a `dangerouslySetInnerHTML` attribute. This is what `FormattedHTMLMessage` does for you:
https://github.com/yahoo/react-intl/blob/763f3fcbf87abc1a2a1021f684217f56bf8d4581/src/components/html-message.js#L86

[2018-11-20 06:52] tricoder42 commented on #400
It's possible to use HTML entities in translations, but the problem is that they're converted to characters.

This is already fixed in https://github.com/lingui/js-lingui/issues/268, which preserves HTML entities in messages.

Tags are supported out of the box. Just wrap your message in `<Trans>` macro.

[code]

[2018-11-20 08:14] webdevbe commented on #398
I tried it, but as described in the ticket, I wasn't able to reproduce it in that example. I can try again though. In the meanwhile, are there any debugging steps I can follow to check where it fails? Or do you maybe already have some ideas what it could be?

[2018-11-20 08:20] tricoder42 commented on #398
If it works in development, but not in production, it usually means there's a problem with compiled catalogs. That could also mean the catalogs aren't loaded properly. How do you load the `catalogEn`? Is it similar to this?

[code]

Finally, don't forget to activate the target language (even if it's the default one, `en`)

[2018-11-20 09:31] webdevbe commented on #398
It wasn't currently this, I had
[code]

So I changed to
[code]

But unfortunately no luck. I'll investigate the compiled catalogs now.

[2018-11-20 10:30] webdevbe commented on #398
**Fixed it!**

I was indeed wrong with loading the catalog. The reason why your previous info didn't work for me, is because I had set up the i18n object in a separate file. Implementing the activating behaviour there, solved the issue.

Thanks a lot for your help!

[2018-11-20 10:30] #398 closed

[2018-11-20 19:10] sbogdaniuk commented on #400
Hi @tricoder42 , thanks for reply.

I'm talking about situations where I don't know about content of translates.
For example:

[code]

[code]

So basically, it's hard to predict what will be in translations strings.

[2018-11-20 19:16] tricoder42 commented on #400
Yeah, that's not supported at the moment :/

I'm thinking how to implement it, but it feels to be insecure, so I don't think this should be added to `Trans` component. I'll leave it open for later, but I don't plan to work on such feature anytime soon.

[2018-11-21 14:17] tricoder42 commented on #334
If the question was "What's the timeline", then unfortunately I don't know at the moment. There're few breaking changes which I want to release in v3 and some of them aren't definitive (e.g. catalog loading API, macros).

Otherwise yes, keep watching this issue or PR #344, which is the `next` branch. v3 will be released when it's merged to master.

[2018-11-21 18:43] nuragic commented on #334
@tricoder42 Ok got it! Please make us know in case you need help to tackle some task to be done in order to shipping v3. Cheers

[2018-11-22 07:22] antonlyaptsev opened #402 "Marcos id generator"
**Is your feature request related to a problem? Please describe.**
-
Consider existing implementation macros generates id from default translation if no key provided
[code]

It can be frustrating when the project uses file structure like this:
[code]
Developer should use different custom id in each BuyButton and keep in mind all of them
[code]

**Describe the solution you'd like**
-
I found experi

[2018-11-22 09:07] tricoder42 commented on #402
Hey @antonlyaptsev, although I don't sympathise with it, I saw similar requests in other issues.

# Implementation

## Config

All macros run at build time, which means we have access to filesystem and we could load [Lingui config](https://lingui.js.org/ref/conf.html) directly. Macros config is still experimental and I saw few comments where @kentcdodds mention, we would like to move away from the

[2018-11-22 09:09] tricoder42 commented on #399
Yeah, good point!. `dynamic loading catalogs` section will go away completely in next version. The API is much simpler.

Alright, closing this. Cheers 👍

[2018-11-22 09:09] #399 closed

[2018-11-23 12:50] stereobooster opened #404 "t and Trans behaviour is inconsistent"
**Describe the bug**

Assume there is no fallbackLocale. And we have following code

[code]

After compiling it will be

[code]

First one preserve default in source code, but second one not.

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

**Expected behavior**

I expect them to behave consistently either both remove default from compiled version

[2018-11-27 17:42] stereobooster opened #405 "Extract with keys"
**Is your feature request related to a problem? Please describe.**

Given following code:

[code]

and config

[code]

`yarn extract` will produce

[code]

**Describe the solution you'd like**
Is there a way to output empty string? Because id can be differentiated from default value

[code]

**Describe alternatives you've considered**
none

**Additional context**
I would expect that `yarn compile

[2018-11-27 19:21] tricoder42 commented on #394
Could you please post just a short example what you have and what's the expected outcome?

[2018-12-02 10:05] FredyC opened #407 "Jest testing with Lingui and TypeScript"
I've finally got some time allocated to a catch up on unit tests with our Lingui powered TypeScript app and it turned out to be quite a challenge. I do realize it's not something everyone has experience with, but perhaps some ideas will come out of this.

The issue is that Jest cannot use Webpack configuration to transpile the code. It has it's own `ts-jest` transform and adding Babel to the mix i

[2018-12-02 11:04] tricoder42 commented on #407
How does `ts-jest` work? Does it support Babel plugins or it transform typescript and then let Babel plugins do their part?

[2018-12-02 12:09] FredyC commented on #407
Yes, it's fairly similar. I've decided to make my own transform like that because of the transparency of the config otherwise it's rather entangled code in `ts-jest`.

[ts-jest using babel](https://github.com/kulshekhar/ts-jest/blob/master/src/ts-jest-transformer.ts#L142)
[my transform using babel](https://github.com/FredyC/ts-jest-lingui/blob/master/jestTransform.js#L33)

There seems to be someth

[2018-12-02 15:17] NSLS commented on #400
For anyone stumbling upon this, you can put your html characters or codes into translations, but to make them work you have to insert the text as dangerouslySetInnerHTML, like:

[code]

This will work, but be cautious not to substitute user input into such translations, as it would open a potential XSS vulnerability

[2018-12-03 00:35] mschipperheyn opened #408 "Migration problem @lingui/macro missing modules and errors"
**Describe the bug**
After trying to migrate to `@lingui/macro` I get this error:

[code]

The code that triggers the issue:
`import { t, Trans } from '@lingui/macro';``
It also has a warning associated because the import is a developer dependency

packages.json
[code]

**To Reproduce**

[code]

**Expected behavior**
Shouldn't error out

**Additional context**
Add any other context about the probl

[2018-12-03 01:12] mschipperheyn commented on #408
Adding
[code]

to the webpack config seems to do the trick

[2018-12-03 01:24] mschipperheyn opened #409 "[Documentation] prevent @lingui/macro should be listed in the project's dependencies"
**Is your feature request related to a problem? Please describe.**
Because @lingui/macro is based on preprocessing files it's part of dev dependencies. However, because it is used as an import in jsx files, eslint complains

[code]
**Describe the solution you'd like**
Documentation should describe how to disable this for @lingui/macro only. It would not be undesirable to have to fix this on a file

[2018-12-03 09:47] ackvf opened #410 "TypeError: Cannot read property 'locales' of undefined"
I have a React application where I generate a PDF using `pdfmake`. However, inside the pdf script, I cannot use React components and I am getting issues with `number` and `date`.

This is my React component
[code]

Now in `makePDF.js` I cannot use React components, but regular functions instead.
[code]
which gives this error
[code]
However, binding the functions to the i18n object fixes the issue

[2018-12-04 21:06] stereobooster opened #412 "Developer experience report"
**What and why**: I feel like authors don't see the context of some tickets I posted. So my idea is to explain the background behind those tickets and our travel in adapting Linguijs.

**Setup**: we (our team) use CRA2 unejected + React 16.6 + Linguijs 2.7.1.

## Flow

The first issue is that [Flow types doesn't work](https://github.com/lingui/js-lingui/issues/348). [I tried to fix it](https://git

[2018-12-05 07:39] tricoder42 commented on #412
Hey @stereobooster,
thank you for bringing this up! I'm sorry for lack of attention, but I was very busy in last month.

- Translation keys - this is a really nice summary! It would be great include it in docs, because it contains a lot of valuable info.

- First try - Syntatic keys + Defaults - yeah, the bugs are annoying. I'll take a look.

- Silent errors - In some cases this can't be solved, e

[2018-12-05 08:32] stereobooster commented on #412
No pressure. I'm open source maintainer myself. I know how hard can it be.

Let's distinguish two cases:

**Static bundles** when we have

[code]

**Dynamically loaded translations**

[code]

So for static bundles `defaultProps` will work, right? Because translation function will be "compiled away".

But for dynamically loaded translations at the moment of evaluation of JS, there is chance that we

[2018-12-05 09:23] primozs opened #413 "work with storybook"
I cant make lingui work with storybook.

Anybody else have this issue?

Maybe I am just lacking documentation?

I tried:
- Same babel config as in dev.
- global and local custom storybook lingui provider
- adding @lingui/babel-plugin-transform-js @lingui/babel-plugin-transform-react to storybook custom webpack config and in storybook custom babelconfig.

Any ideas?
Cheers

[2018-12-05 17:05] Neophy7e commented on #273
I've also had the same issue with next.js 7.0.2

The issue on my side was fixed by install babel bridge this way

`yarn add @lingui/cli@2.7.2 babel-core@7.0.0-bridge.0 @babel/core`

[2018-12-06 08:33] tricoder42 commented on #412
@stereobooster You're right! That should be initial approach to fix this. I was thinking too far ahead, how to handle it automatically.

I'm gonna write down extended roadmap to #344 later this week because few good idea popped up in last few weeks.

Thank you for your feedback! 👍

[2018-12-06 22:32] chaselal commented on #351
The documentation suggests this work is already done.

https://github.com/lingui/js-lingui/commit/f789af1de083b5fe81c8662036eb0aead74f6ed5#diff-4cf0ca2c328ede20791c3f181ed03586R11
[code]

Am I missing something?

[2018-12-06 22:35] stereobooster commented on #413
here you go https://github.com/stereobooster/react-lingui-example/tree/storybook

[2018-12-08 19:07] FredyC commented on #407
@tricoder42 Do you have possibly any ideas? It's starting to be fairly limiting as I am getting `@lingui/babel-preset-react is probably missing in babel config` in tests which ends up with no text to be rendered :/

Do you possibly see any reason why the following output coming from Typescript won't be correctly handled by Lingui Babel plugins in the next step? In both tests it just stays the exac

[2018-12-08 20:10] FredyC commented on #407
Ok, I think I got some lead. The plugin needs ESM syntax, right? Well, that turned out to be an issue as `ts-jest` is forcing compilation to CommonJS because Jest doesn't understand anything else. I [created an issue](https://github.com/kulshekhar/ts-jest/issues/906) if there some way around that, but after some digging I don't think it would be possible.

So I am wondering, since Macros are still

[2018-12-08 20:54] FredyC commented on #334
I would like to help to get this moving as well. I think it's rather a massive undertaking to do this alone. Perhaps, you don't need to ship a "perfect" version 3? Might be better to focus on breaking changes to have the stable API layer and other improvements can come in small batches later when there is no pressure to manage everything at once.

Can you please some more details what are you work

[2018-12-09 08:36] primozs commented on #413
@stereobooster Hello, thank you for an example!
For current version I had to make the storybook provider a bit differtly. For reference:
[code]

Cheers!

[2018-12-09 08:36] #413 closed

[2018-12-09 09:35] tricoder42 commented on #334
I'm in the middle of refactoring macros. There's ongoing [discussion](https://github.com/lingui/js-lingui/issues/363) about the syntax, but the implementation should be following:

1. Macro converts AST to tokens
2. Tokens are converted to ICU MessageFormat message
3. Macro is replaced with runtime call with ICU Message Format

Step 1 and 3 are different for JS and JSX. Step 2 is always the same.

[2018-12-09 11:34] FredyC commented on #363
I am still a bit confused about that lazy loading. You have these two in the same scope. How would a user know which one to use? I assume that non-lazy variant shouldn't be used in _top_ scope but only inside the functions? It's kinda hard to enforce that and imo leaves unexperienced user stumbling.

[code]

[2018-12-09 12:05] tricoder42 commented on #334
How so? The exact answer is few paragraphs below: `The WIP is in rfc/001-macros-v2. I'm working on Step 1 for JS macros.` There you can see the current status. The three steps described above is the whole picture of new macros.

`Independent tasks are Step 1 for JSX or Step 2. Any feedback in the discussion is appreciated. Also, I don't know how macros work with Typescript. That's probably somethi

[2018-12-09 12:17] tricoder42 commented on #363
The RFC isn't about exact implementation, but rather about the syntax. I wanted to figure out in advance and show how it's different from current implementation.

To address your concerns: Lazy translations are required everywhere where catalogs aren't loaded yet.

1. We might throw hard error in development if user tries to use eager translation in such context.
2. I'm still thinking about "impli

[2018-12-09 12:43] FredyC commented on #363
Ok, approach 2 definitely sounds good, perhaps too good to be true? Are there any caveats you can think of? Except it feels magical, but that means it's easy to use and that's what this should be about, right?

I mean why you wouldn't go with implicit laziness in the first place if it works the best in most cases? In what cases it might not work?

[2018-12-09 12:48] tricoder42 commented on #363
I don't know to be honest.

One problem might be when you try to use `String.prototype` methods inside your render function:

[code]

So, you always have to remember to convert any "translatable" strings explicitly with `toString`.

Also, I'm a bit worried that no matter how good the approach will be, there's always gonna be usecases where you want lazy/eager translation explicitly. For those scen

[2018-12-09 13:20] FredyC commented on #363
Sound good to me. What about having an actual `t.eager` that would add the `toString` call there? I don't mean it as a replacement, but basically to avoid questions from the newcomer "why is toString here?". It would easier to comprehend with such semantics imo.

I am curious. Are you planning some dev warning when `i18n` is not in the scope? Or is it going to be injected during the transformation

[2018-12-09 13:35] tricoder42 commented on #363
One approach is require `i18n` in the scope, as React does it. Drawback is that users have to configure their linters that `i18n` might be unused variable.

I was planning to convert `t` macro to `import i18n from "@lingui/core"` as we talked about. If you want to override it, you can set `coreModule` in lingui config. `coreModule: "./i18n.config.js"` for default export or `coreModule: ["i18n", ".

[2018-12-09 14:04] FredyC commented on #363
This is going to be a problem in TypeScript sadly. There is a `noUnusedLocals` option in TypeScript itself (not TSLint) and it does not allow any exceptions. The `React` is an only built-in exception.

Personally, I wouldn't really mind the same what I am doing right now with `i18n.t`. Yes, it's a bit longer, but it's more explicit and easy to comprehend which `i18n` instance is used. I am not sur

[2018-12-09 14:15] tricoder42 commented on #363
The only possible solution would be to transform `i18n` macro into `i18n` object, which I'm trying to avoid. The inevitable question is: when should I import i18n from core/config and when from macro? Sure we could add warnings to runtime `i18n.t`, but for me this approach feels unnatural, ie. when I import soemthing from macro package and then call runtime methods on it (e.g. i18n.activate).

It

[2018-12-09 15:10] FredyC commented on #363
I guess it has to be based on naming imported variable exactly `i18n` and in that case, you know that you don't import anything. It could be two-phase transform (if that's possible). It would first convert `i18n.t` to just a `t` (and friends) while ensuring the import. Second, the phase would common for everything and just do the `i18n._` transformation not caring about import being available.

I

[2018-12-10 18:03] ackvf commented on #204
So, what is the official solution when using lingui 2.7?

[2018-12-11 14:07] tricoder42 commented on #204
@ackvf If you're having this error, you most probably misconfigured babel. See this comment https://github.com/lingui/js-lingui/issues/204#issuecomment-381973698

[2018-12-12 10:31] stereobooster commented on #390
Hooks will be trivial if we will migrate to new context, then we can do

[code]

[2018-12-12 16:16] diegolacarta opened #415 "No messages extracted outside of react"
No messages get extracted when using:

[code]

They get extracted when using it like:
[code]

They also get extracted as expected when using a react component:

[code]

any ideas?

[2018-12-12 16:50] diegolacarta commented on #415
"@lingui/cli": "2.7.2",
    "@lingui/loader": "2.7.2",
    "@lingui/macro": "2.7.2",
"@lingui/react": "2.7.2",

[2018-12-12 17:11] tricoder42 commented on #415
Could you please also post your Babel config? Do you have `babel-plugin-macros` enabled?

[2018-12-12 17:50] diegolacarta commented on #415
[code]

react-intl in there just while transitioning away from it

[2018-12-13 06:58] tricoder42 commented on #415
That looks good. Could you also please show how babel transforms the file with i18n? `babel src/file.with.i18n.js`

Finally, does extract work for `Trans` imported from `@lingui/macro` package?

[2018-12-13 06:59] tricoder42 commented on #415
There's also an example repo with js-macros (no React): https://github.com/lingui/js-lingui/tree/master/examples/vanilla-js Maybe it would help you find the root cause.

[2018-12-13 11:04] stereobooster commented on #412
One more twist.

Let's assume we added check in development `if (process.env.NODE_ENV === "development") {`. Now when people try to use language before it was setted it will throw. And error message clearly explains what the problem, users understand it and can fix it.

But then they switched to dynamic import and `React.lazy`, so language get setted before components load. So code like this will

[2018-12-13 11:10] tricoder42 commented on #412
💯 Yes! That's exactly what I'm planning once I finish v3.

That's fine. I mentioned it in my talk at [React Conf](https://www.youtube.com/watch?v=soAEB7ltQPk&index=27&list=PLPxbbTqCLbGE5AihOSExAa4wUM-P42EIJ&t=0s) that this limitation could actually solve lot of problems and as you said: in practice you don't change language too often.

Why not? You just need to dispatch action everytime language c

[2018-12-13 11:19] diegolacarta commented on #415
I'm using typescript, following the setup from https://github.com/lingui/js-lingui/blob/master/docs/guides/typescript.rst

I could debug at which point babel plugin is not doing what it should, or if you could point me into where to look that'd help

Trans doesn't work when imported from @lingui/macro:
`<Trans>random text</Trans>`
...
[code]

[2018-12-13 11:21] tricoder42 commented on #415
Right, so now we now the macros doesn't work.

It would be great to see how transpiled source code looks like. Unfortunately I don't use Typescript, but maybe you run TS before Babel?

[2018-12-13 11:21] diegolacarta commented on #415
Also not even this works:
[code]

[2018-12-13 11:31] diegolacarta commented on #415
This is the final code after building with webpack:

Original:
[code]

Transpiled:
[code]

[2018-12-13 11:37] diegolacarta commented on #415
I just tried changing my .linguirc to:
[code]

Adding "macros" it now extracts the message, but doesn't translate it

[2018-12-13 11:43] diegolacarta commented on #415
and then finally adding:
"presets": ["@babel/preset-react", "@lingui/babel-preset-react"],

to .linguirc seems to make everything work as expected.

I thought it would picks up my .babelrc from the proyect

[2018-12-13 14:32] tricoder42 commented on #415
Interesting. What's your project structure? Do you have `.babelrc` right next to the `package.json`? And how do you run the `lingui extract` command?

[2018-12-13 14:46] diegolacarta commented on #415
yes, .babelrc is at same level as package.json, and I run lingui extract via npm script: `npm run extract-locales`

[2018-12-13 14:47] tricoder42 commented on #415
Could you please share minimal example so I can take a look? It should work as you described, pick the config from `.babelrc`

[2018-12-13 16:04] diegolacarta commented on #415
will try to reproduce when I find some time

[2018-12-15 11:38] PinkyRabbit commented on #273
Can you share versions of packages? Because after to hours I still cant call `babel-core`...
[code]
Error:
[code]

[2018-12-17 03:56] nickluger opened #416 "Upgrade Flow"
**Upgrade Flow to latest version**
The newest version of Flow (`flow-bin`) is causing many type errors. The version defined here is
` "^0.79.1"`, whereas the most current Flow version is `"^0.89.0"`, a gap of ten versions.

I had no Flow errors using `0.86.0` on my side.

Maybe its time to upgrade?

[2018-12-17 07:57] tricoder42 commented on #412
Hey @stereobooster, this really looks great!

I can't spend much time before the holidays, but I scheduled day off at work so I can work on Lingui next week.

It would be great to eliminate as much choices as possible, but the problem is that everyone has a slightly different usecase. Having this overview and guide would help users to pick the best option for them. Really nice idea 👍

[2018-12-19 10:37] wilkinsonjack1993 commented on #394
@tricoder42 I think this example should work:
In a core module you would have something like (ProxyLingui.js):
[code]
This helps us control the modules that we import in the other modules in our app and can allow us to theoretically swap in and out different translation solutions in an easier manner.

This core module is then consumed by another module like so (Translatable.js):
[code]
This should

[2018-12-19 13:44] stereobooster commented on #412
I want to repeat there is no pressure from my side. I already using the library and it works for me. I just want to make it better, so I share my ideas. I do not expect it will get priority.

Other idea is to implement this logic as JS library, so it can be reused for frontend and CLI. And create CLI application (`lingui doctor`?) which would be able to detect some answers based on project (`packa

[2018-12-19 16:48] JSteunou commented on #263
Since Intl has a [pretty good support](https://caniuse.com/#feat=internationalization) do you think it would be easier the other way ? without polyfill the default and `--with-polyfill` to add it.

It would also mitigate the breaking change.

[2018-12-20 05:10] stephanschubert opened #417 "Bug: HTML entities in auto-generated IDs"
I'm unsure whether this is a bug in `lingui` or in `gatsby` but my guess is that's an issue that should be fixed/considered here in any case:

**Bug description**

HTML entities in the default message are used for the auto-generated IDs:

[code]

Running `lingui extract` results in:

[code]

Running `gatsby develop` results in the following error (_scroll right_):

[code]

**Expected behavior**

I

[2018-12-20 06:55] tricoder42 commented on #417
Hey @stephanschubert,
this is already fixed in https://github.com/lingui/js-lingui/pull/344/commits/fe0e2c852aaecce79d66541ed9608fb0256d5a98 but waiting for v3 to release. The fix should be probably considered breaking change, because it changes generated messages which might result in review of message catalogs.

The fix keeps any html entities as a part of message, e.g: `<Trans>&larr; Previous</

[2018-12-20 06:55] #417 closed

[2018-12-20 07:56] stephanschubert commented on #417
@tricoder42 Ah okay, great 👍

[2018-12-21 13:31] MartinCerny-awin opened #418 "Flow: I18nProviderProps required language property"
I am passing i18n property to I18nProvider and this object contains language property. I do not want to specify language property again on I18nProvider. Everything works correctly if I do not do so, but flow complains about `property ``language`` is missing in  props`

Possible solutions
1) Change language in I18nProviderProps to optional https://github.com/lingui/js-lingui/blob/master/packages/re

[2018-12-26 18:01] MadSheogorath commented on #390
Since linguijs v.2 doesn't operate with React context but with Legacy Context which is obsolete it seems you can't get I18nProvider context via hooks. But still there are 2 ways of getting i18n object:

I've got used to CoffeScript, so...

[code]

There is another way though. But I would not recommend it for the obvious reason:

[code]

It will work... but don't do that :)

[2018-12-27 19:28] gothy opened #420 "Extract + convert-from doesn't work as expected"
**Describe the bug**
Expected to transform from lingui format to minimal.

**To Reproduce**
Using 2.7.2 version, having an existing setup with default "lingui" format.
```yarn extractTrans --convert-from lingui --format minimal```
gives a warn on the `--format` param and does absolutely nothing to the existing `/locale/<lang>/messages.json` files

**Expected behavior**
`/locale/<lang>/messages.jso

[2018-12-29 16:05] hatton opened #421 "Interpolation breaking if variable is surrounded by single quotes"
**Describe the bug**
Interpolated variables surrounded by single quotation marks are treated as literal text.

**To Reproduce**

If I compile
[code]
then messages.js has:

[code]

Note that "value" has lost its surrounding single quotes and has not been identified as an interpolated value.

One workaround is to use double quotes instead:
[code]

which compiles to:

[code]

- jsLingui version 2.7.2

[2018-12-30 08:07] tricoder42 commented on #337
@bjrn If you want to backport it to v2, please send a PR. It should be easy fix by adding `id` prop here https://github.com/lingui/js-lingui/blob/master/packages/react/src/Render.js#L36. Thanks!

[2018-12-30 12:32] revskill10 commented on #334
Code splitting is very much needed for me to scale.

[2018-12-31 08:37] revskill10 opened #422 "Feature request: Collocate extracted and compiled messages per component"
I'd love to have extracted/compiled messages files to be collocated per components when running with `lingui extract` and `lingui compile` instead of having all terms located in one big `messages` file.

This is for code splitting when SSR.

Currently, i have to manually change the locale folder when running compiling to enable this feature.
Suggestion: If the `extract` and `compile` allow for `--

[2019-01-01 05:06] #422 closed

[2019-01-01 10:01] tricoder42 commented on #422
There's a PR to add similar functionality https://github.com/lingui/js-lingui/pull/326

[2019-01-01 15:51] revskill10 commented on #422
@tricoder42 In the mean time, i set a `LOCALE_PATH` variable when running `lingui`, it solved this issue for me.
The only thing is that, i need to merge all `messages.js` into one `messages.js`, is there a function to do it ?

[2019-01-03 21:04] ghostd commented on #363
Hi,

Not sure if it's the right place to add a link to the new [facebook open sourced project](https://facebookincubator.github.io/fbt/docs/autoparam), but the "desc" seems to be automatically extracted (that could be interesting too). And the "hashToText" could be related to the message key optimization.

Regards

[2019-01-04 07:33] FredyC commented on #363
@ghostd Let's not bloat the V3 requirements more than necessary, there is enough trouble getting it out as it is.

Besides, as much as good it looks on a paper that it will auto internationalize strings in jsx, the Lingui `<Trans>` beats it as you can wrap whole structures in it. Sure, it's not automatic, but way more powerful imo.

[2019-01-04 07:42] tricoder42 commented on #363
`fbt` is actually very similar and I would like to try similar approach someday. I checked the demo and with `<fbt>` you can wrap elements as well. They just do one extra step, when they replace children of `fbt` with translation at compile time, but something we could do with macros as well.

So, I'm glad they published it because I'll definitely take a look into it. After the v3 is released 😳

[2019-01-07 12:56] zxbodya opened #423 "Possibility to have empty translations"
**Is your feature request related to a problem? Please describe.**
I have some cases, when message translation expected to be empty for some locales(in case message should not be present for specific locale/country, or when it is not written yet like page description for SEO).

**Describe the solution you'd like**
Allow to opt out from default behaviour returning message id when translation is emp

[2019-01-07 15:41] dirant opened #424 "Build fails when using preact-cli"
**Describe the bug**
When trying to compile a simple stateless component with preact-cli the buld fails with the following error.
There is another error regarding the 'fs' module, but it was fixed by adding "fs: 'empty'" to the node property of the webpack config

× ERROR ./node_modules/import-fresh/node_modules/resolve-from/index.js
Module not found: Error: Can't resolve 'module' in '. . .'
 @ ./

[2019-01-07 15:59] dirant commented on #424
Solved:
The babel-plugin-macros plugin was not included in the config

[2019-01-07 15:59] #424 closed

[2019-01-07 16:36] ripern opened #425 "Having default language in code vs in its translation file"
This is somewhat related to https://github.com/lingui/js-lingui/issues/276, however:

Today I have the default language strings, English, inside code as in `<Trans>Some text</Trans> `
and other languages in messages.po (translation files). This makes it easy when updating other languages, however if any English is changed, this is needed:
A. update code with new English
run yarn extract, which gen

[2019-01-08 16:38] pybuche opened #426 "Nested variable translations inside a Trans tag"
**Is your feature request related to a problem? Please describe.**
Hi,
I cannot figure out what is the best option for me, when I have a translated sentence that carries variable word that has to be translated too.

**Describe the solution you'd like**
Let's say I have something like:
[code]

And I expect the result to be:
[code]

**Describe alternatives you've considered**
Currently, the only way

[2019-01-08 23:48] professorplumb opened #427 "Plural strings with variable placeholders break pseudolocalization in specific cases"
**Describe the bug**
When a `plural` expression containing template strings with variable placeholders is marked and extracted, compilation fails due to pseudolocalization if at least one of the plural forms has the variable placeholder followed by just a single word with no punctuation.

**To Reproduce**
Run `lingui extract` on this file:
[code]
Extracted form:
[code]
Running `lingui compile` on

[2019-01-09 16:24] tricoder42 commented on #426
Hi @pybuche,
this is difficult. For a start, you should create translations for each city. It means the app won't automatically translate the city name (unless you connect to the 3rd party translation service and query the translation at runtime):

[code]

Then, what you're doing is actually right. I'm afraid there's no better way.

Tricky thing is that some languages (e.g. Czech) have several gra

[2019-01-09 16:24] #426 closed

[2019-01-09 16:41] pybuche commented on #426
Alright, thanks for your answer!
I agree that it looks difficult, still it seems to me that this is a pattern that can be quite common for large international websites :/

I'm OK with the solution, and anyway I can't see a better option, even with synctactic sugar from a new feature for lingui.

[2019-01-09 20:13] vitexikora opened #429 "Extract chokes on "obj?.function" (optional-chaining + "function" attribute)"
**Describe the bug**
Cannot parse source code containing a optional chaining followed by an attribute name "function".

**To Reproduce**

[code]
[code]

**Expected behavior**
To work

**Additional context**
js-lingui 2.7.2
@babel/plugin-proposal-optional-chaining
(plugin included in extractBabelOptions)

[2019-01-10 11:17] pybuche commented on #426
@tricoder42 I tried to implement your solution.

It's fine, but I'm a bit embarrassed about the "define city names in your code" thing.
Currently, I have 2 inputs for my catalogs:
- both french & english catalogs, simple JSON format
- an SQL table for all my database data that has to be translated

When I initiate my App and my `I18nProvider`, I simplify use this function:
[code]
`translations` be

[2019-01-10 16:57] professorplumb commented on #427
Fixed by PR #428

[2019-01-10 16:57] #427 closed

[2019-01-10 18:10] zxbodya commented on #423
issue is fixable by properly configuring I18n:

[code]

[2019-01-10 18:10] #423 closed

[2019-01-11 04:37] martino87r opened #431 "Error in compiling catalog"
**Describe the bug**
While compiling a simple catalog I'm getting:

[code]

**To Reproduce**
Compile the attached catalog with default settings
[messages.po.txt](https://github.com/lingui/js-lingui/files/2748080/messages.po.txt)

**Expected behavior**
Generated catalog should work out of the box

**Additional context**
Using the lazy variant

- jsLingui version ``lingui --version`` 6.5.0
- Babel v

[2019-01-11 04:49] martino87r commented on #431
Seems that the loader doesn't work with `po` files but only the older `json` format

[2019-01-12 18:37] wtgtybhertgeghgtwtg commented on #429
`foo?.bar` is optional chaining, not nullish coalescing (which would be `foo ?? bar`).

[2019-01-12 21:05] vitexikora commented on #429
Thats true, my bad.

[2019-01-13 18:30] yaitskov opened #432 "Dynamic import is not supported"
**Is your feature request related to a problem? Please describe.**
I am trying to build light application on top of preact. I want to split app into parts via dynamic loading.
My app must have i18n. Once I attached linguijs according the manual translation extracting fails:

[code]

[2019-01-13 18:54] yaitskov commented on #432
my bad. I missed section
[code]
in .linguirc

[2019-01-13 18:54] #432 closed

[2019-01-14 00:53] agwells opened #433 ""Duplicate declaration" error when running "lingui extract" with NODE_ENV=production"
**Describe the bug**
I've recently upgraded my LinguiJS package versions from 2.7.0 to 2.7.2. Since the upgrade, my build step to extract language strings crashes with an error message about a duplicate declaration of `Trans`. After some experimentation, I discovered that this only happens when the `NODE_ENV` environment variable is `production`. If I set `NODE_ENV` to `development` or `test`, it

[2019-01-15 11:53] martino87r commented on #431
No idea why/how but it's working now, closing the issue

[2019-01-15 11:53] #431 closed

[2019-01-15 12:25] iamnimnul opened #434 "Improve docs / dependencies for lingui-cli"
[Problem]
I have an existing application and following this docs https://lingui.js.org/tutorials/setup-react.html#install I wasn't able to set up lingui straight. I was getting an error which wasn't very clear:

[code]

After short investigation, became that I don't have `react-scripts` in my `package.json` `dependencies`.

[Solution]
Probably updating docs and/or dependencies list for `lingui-cli

[2019-01-15 14:00] iamnimnul commented on #41
I had same error but caused by the different issue. `react-scripts` were missing in dependencies. https://github.com/lingui/js-lingui/issues/434

[code]

[2019-01-15 19:56] mschipperheyn opened #435 "How do you add a link to a t() style message identifier?"
**Describe the bug**
I use `@lingui/macro`. I can't seem to get a html tag into a translated text element

**To Reproduce**

[code]

This results in: `I accept the [object Object]`

**Expected behavior**
I would expect to be able to include HTML

As a temporary work around I used
[code]
but that only works if you can formulate the text in such a way that the link is at the end. Which is not always

[2019-01-16 02:40] professorplumb commented on #388
We are experiencing the same issue in a production environment.

Development:
[code]

Production:
[code]

This happens regardless of what we do with the catalogs: whether they're compiled or completely blank (`{}`), and whether or not the string appears in the catalog.  (If it doesn't, it should be returned as-is with the interpolation performed, unless I misunderstand.)

[2019-01-16 07:18] tricoder42 commented on #435
Hi @mschipperheyn,
I'm afraid that's not possible with current implementation. `i18n._` only returns a plain string, while `<Trans>` component can handle inner components.

What about:
[code]

You could even translate the link to terms and conditions to point it to localized document:

[code]

The full example would be:
[code]

[2019-01-16 07:18] #435 closed

[2019-01-16 07:23] #434 closed, assigned to nobody

[2019-01-16 07:35] tricoder42 commented on #425
Hey @ripern,
you're right, this is one disadvantage of using English inside code.

I usually change English copy in english translation file (e.g. `en/message.po`):

[code]

This works fine for some time. I didn't have to change too many lines manually.

Using this approach, we could build an extra command which updates any changed messages in code based on message catalog. For example, if we prev

[2019-01-16 07:44] tricoder42 commented on #388
That's the problem. Since the messages with formatting are compiled offline, when the message is missing, it can't be interpolated. In development, the messages are compiled on the fly, but in production the parser is removed from bundle.

[2019-01-16 07:58] tricoder42 commented on #425
I've start collecting feedback to document pros/cons of both approaches here: https://www.kialo.com/25159 Feel free to join.

[2019-01-16 08:23] tresko opened #436 "NumberFormat (currency) different text on server and client"
**Describe the bug**
I use Next.JS and when I format currency, the NumberFormat component returns different text on a client and a server.

```Warning: Text content did not match. Server: "€ 10" Client: "€10"```
```Warning: Text content did not match. Server: "US$ 10" Client: "$10"```

**To Reproduce**
[code]

**Expected behavior**
Formatted text must be the same on a server and a client.

**Addit

[2019-01-16 08:35] tresko commented on #436
I think that I use the default (small-icu).

[2019-01-16 08:36] tricoder42 commented on #436
You might be missing the locale data. Could you please try with `full-icu` if it resolves the problem?

[2019-01-16 08:44] tricoder42 commented on #421
Hi @hatton, thank you. I can confirm this is a bug. `extract` works fine, but `compile` is a problem. Interested is sending a PR?

[2019-01-16 08:46] tricoder42 commented on #416
Honestly I'm thinking about striping flow completely and potentially moving to Typescript.

`flow-bin` is only a development dependency, so it shouldn't affect your own codebase. If there're any new type errors, I'm not going to fix them probably.

If you wish to fix them, feel free to send a PR.

[2019-01-16 08:46] #416 closed

[2019-01-16 09:03] tresko commented on #436
I installed [full-icu](https://www.npmjs.com/package/full-icu) and run the server with  `node --icu-data-dir=./node_modules/full-icu server/app.js`, but this doesn't resolve the problem.

[2019-01-16 09:38] tresko commented on #436
@tricoder42 I installed Node v10.15.0 and everything works perfectly. I think, that we can close this issue.

[2019-01-16 09:38] tresko commented on #436
Previous Node version was v9.11.1.

[2019-01-16 10:44] tricoder42 commented on #436
Thanks for the info! Let's keep it open until we mention it in docs.

[2019-01-16 14:05] vitexikora commented on #429
package.json with lingui config: https://pastebin.com/arJkrSg1
(with config in .linguirc it was throwing errors ...)
.babelrc: https://pastebin.com/McUE57bn
webpack.config.js: https://pastebin.com/5uVhJdy3

[2019-01-16 16:33] jamieholliday opened #437 "plurals$$1 is not a function"
I've just noticed an error that was previously working correctly in my setup. I'm having a hard time tracking down what is causing it.

`TypeError: plurals$$1 is not a function
    at Object.plural (/node_modules/@lingui/core/cjs/core.development.js:101:43)`

This only seems to happen when using the <Plural> macro

`<Plural
            value={1}
            one="There is # message"
            oth

[2019-01-17 03:41] eliseumds commented on #436
I'm using [sebastian-software/lean-intl](https://github.com/sebastian-software/lean-intl) as a polyfill and it works great, but ideally we wouldn't even need it. I just opened an [issue on react-intl](https://github.com/yahoo/react-intl/issues/1234) suggesting that users become able to suppress hydration warnings. Maybe it makes sense for js-lingui too.

[2019-01-17 12:02] jamieholliday commented on #437
After a bit more investigating it looks like this is caused by setting a new instance of i18n so we could use translations outside of react as suggested in docs:

[code]

Removing the i18n prop gets rid of the the error

[2019-01-17 15:00] ripern commented on #425
Yes, I'm doing the "traditional" approach.
The only advantage I see with the transformation you suggested is that we remove the need for coming up with message ids, which is nice I guess but probably not worth that much.

My question was rather if it's best to do
1. `<Trans>welcomePage.title</Trans>`
or
2. `<Trans id="welcomePage.title"></Trans>`

When you wrote

I assume you referred to 2 above b

[2019-01-18 15:50] AOHUA commented on #349
Any updates on this feature?

[2019-01-18 20:41] LStAmour commented on #351
You can install types with `npm install --save-dev @types/lingui__core` or `yarn add -D @types/lingui__core`: https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/lingui__core

Also `npm install --save-dev @types/lingui__react` or `yarn add -D @types/lingui__react`: https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/lingui__react

And `npm install --save-dev @type

[2019-01-19 17:53] fllprbt commented on #349
@AOHUA Yes, I am still on it but I am really busy. Would you like to contribute or you are interested about the feature's delivery? If you are after the former, I could share you the existing developments.

[2019-01-20 17:01] AOHUA opened #439 "Throwing error when using lingui cli with nps"
**Describe the bug**
When using nps to run the script, throwing error:
TypeError: Cannot read property 'includes' of undefined

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

inside package-scripts.json
[code]
when running scripts with [nps](https://github.com/kentcdodds/nps), throwing error:
TypeError: Cannot read property 'includes' of undefined

**Exp

[2019-01-20 17:16] AOHUA commented on #349
@fllprbt I would like to help if the tasks can be separated. I also want to know if in the mean time is another way to run `lingui extract` before we push the code to our branch(except git hook)? Because right now before every push we will need to run `lingui extract` and `lingui compile` to extract the latest po file. Any suggestions? Thank you!

[2019-01-20 18:55] fllprbt commented on #349
Here you are,

https://gist.github.com/fllprbt/5bd1e53a06ef4823a8e258fbf7c7913b

**linguiWatch** is the core, from utils just take the **toWatchmanDirs** function (should be tested extensively)

and also do not forget to add `  .command("watch", "Watch for changes in source files and catalogs")`

in your **lingui.js** so that the actual thing runs.

I am afraid I cannot help you with your second q

[2019-01-22 14:11] guillaumeLamanda opened #442 "Android bug with NumberFormat : Can't find variable Intl"
**Describe the bug**
I have a bug with number formating on Android (React-Native). I have the following error : `Can't find variable Intl`.
I have tried react component (`NumberFormat`) and js way `i18n.number`.

**Expected behavior**
Formatted number on Android, like it work on iOS. 📱

I made a minimal snack reproduction of this here : https://snack.expo.io/@glamanda/lingui-android-bug-on-rn

The

[2019-01-22 16:42] ripern commented on #425
After evaluating this further, I see the advantages of using default language in code (like what I already have). Mainly because I realized there are more cons than pros with making up my own message ids. This means I'm also positive to your suggestion about the command that would update msgid with English msgstr as well as its corresponding string in source code. That wouldn't need to be run very

[2019-01-23 02:04] agwells commented on #433
Thanks for the confirmation about `NODE_ENV`. That's what I figured, because `lingui extract` is just statically analyzing the source code, so it would be weird if it had separate `development` and `production` modes. :)

It was just due to the sequence of steps in our build pipeline, that we were running `lingui extract` with `NODE_ENV=production`. It's at the beginning of a stage that compiles t

[2019-01-23 10:01] ripern commented on #405
For some reason, `yarn extract` for me will produce what you want. Is it still working the same unwanted way for you?
Both `<Trans id="LinguiJS.example"/>` and `<Trans id="LinguiJS.example">Hello</Trans>`
will generate
[code]

[2019-01-23 10:30] ripern commented on #405
Actually I was missing
[code]
in config, and after adding them I get what you get in en/messages.po
but not in the other language files (there msgstr is empty). I'm guessing that is by design.

[2019-01-23 11:49] cJayyy commented on #194
I am also interested in this comparsions. Currently my choice lays between these two.

@tonyxiao Have you found anything since?

[2019-01-23 12:12] cJayyy commented on #15
According to [i18next docs](https://github.com/i18next/react-i18next#how-will-my-code-look-like) this doesn't seem to be up-to-date. In their [example sandbox](https://codesandbox.io/s/8n252n822) complex message extraction results into one piece.

[2019-01-23 12:17] tricoder42 commented on #15
@cJayyy Yeah, sorry, this issues was opened almost 2 years ago. Meanwhile, `react-i18next` implemented similar concept with few exceptions. The main one is that they process JSX children at runtime - because of that you have to use double curly braces for variables. Unfortunately, [`object as a child`](https://github.com/i18next/react-i18next/issues/465) isn't a valid JSX so some linters might not

[2019-01-23 12:17] #15 closed

[2019-01-23 13:03] vonovak commented on #442
hi! this is a problem with your react native environment, check out the `Note` in the docs: https://lingui.js.org/tutorials/react-native.html

[2019-01-23 14:43] mschipperheyn opened #443 "SSR: Loading i18n bundles on demand, but SSR locale should be loaded sync"
**Is your feature request related to a problem? Please describe.**
It's more of a 'Not sure if this is possible' / documentation question.

**Describe the solution you'd like**
I use SSR and want to dynamically load locales. I understand about
[code]

Since the server side rendered bit knows the "current locale", which may vary per user, I want that current locale to be sync loaded instead of asyn

[2019-01-23 15:51] cJayyy commented on #333
Hi guys,

Have you encountered any progress on this topic?

@tricoder42 I can't find your Next.js example anywhere. Is it up yet?

Cheers

[2019-01-23 17:15] disintegrator commented on #333
@cJayyy https://github.com/disintegrator/next-with-lingui

This is my attempt at figuring it out with @tricoder42. He left some notes about it worth reading: https://github.com/disintegrator/next-with-lingui/issues/1

[2019-01-24 09:49] mbrevda commented on #386
Even if en is the default locale?

[2019-01-24 15:18] tricoder42 commented on #442
@guillaumeLamanda Please let me know if the `Note` in docs by @vonovak doesn't work for you. I'm closing this otherwise.

Cheers 👍

[2019-01-24 15:18] #442 closed

[2019-01-24 15:19] tricoder42 commented on #405
You should use `sourceLocale` only when you use messages as IDs. With custom keys you should omit this config.

[2019-01-24 15:19] #405 closed

[2019-01-24 15:21] tricoder42 commented on #433
Ah, cool! I'm glad you figured out a workaround. I'll keep it open just in case I find a root cause.

[2019-01-24 15:23] tricoder42 commented on #425
Try to set `"sourceLocale": "en"` Lingui config. Then you should get:

#: src/views/EULAView.jsx:131
msgid "eula.ihaveread"
msgstr "I have read the <0>Terms of Service</0> and agree."

[2019-01-25 12:40] guillaumeLamanda commented on #442
Hi all, and thanks for the help !
I have read the note, unfortunally, I was not able to use a custom javascript core because I use standelone app with expo.
Anyway, I made it work using [intl](https://www.npmjs.com/package/intl), so I am able to use latest release of lingui. 💯
I updated my snack if someone is struggling on it like I was. 😄
https://snack.expo.io/@glamanda/lingui-android-with-intl-p

[2019-01-25 18:24] stephanschubert commented on #437
I am getting the same error and it seems like a bug to me:

[code]

[2019-01-25 21:02] #439 closed

[2019-01-25 21:03] tricoder42 commented on #439
Closed by #441, thank you @AOHUA ⚡️⚡️⚡️

[2019-01-25 23:13] haruelrovix commented on #183
Hi @tricoder42 @machour @ktunkiewicz ,

Is it possible to implement this but use a combination of `i18n` and `t` macro instead of `Trans` component?

e.g.

[code]

Thanks.

[2019-01-26 16:19] ripern commented on #425
That worked, thanks!

What are some of those problems?  Are there for example features that work when using the "traditional" approach but not when using custom ids?

[2019-01-28 22:21] aaronshaf opened #445 "Can't add Haitian (ht) or Māori (mi)"
[code]

Result:

[code]

[2019-01-28 22:49] aaronshaf commented on #445
Perhaps the make-plural function needs to be wrapped? Compare: https://github.com/messageformat/messageformat/blob/master/packages/messageformat/lib/plurals.js

[2019-01-29 08:44] tricoder42 commented on #445
As described in make-plural https://github.com/eemeli/make-plural/issues/11, CLDR is missing plural rules for Maori and Haitian. The wrapper would solve the problem as a temporary solution until these languages are added to CLDR.

Do you know what plural rules these languages use? If so, feel free to send a PR. I believe we could have just an object of locale data for each locale and if the locale

[2019-01-29 12:38] ripern opened #446 "How will Lingui react if adding a language using a translation management tool"
In the translation management tool Weblate that I'm using it's possible to add translation for a new language. At the end of [this paragraph](https://docs.weblate.org/en/latest/formats.html#adding-new-translations) in Weblate docs it's mentioned that sometimes the format supports adding a new language without a specific file. However, I'm using the gettext monolingual PO format so Weblate suggests

[2019-01-29 16:36] aaronshaf commented on #445
It'd be nice to have a fallback for these situations that doesn't break the whole build (especially in scenarios where we support dozens of other languages).

[2019-01-30 14:31] szewczykmira commented on #388
I'm quite confused right now - is this bug fixed or not? I also encounter it. I've checked and I have translations for selected language and it still doesn't interpolate variables.

[2019-01-30 18:58] professorplumb commented on #388
The base issue - that language catalogs need to be compiled in a production setting in order for interpolations to work - has not been "fixed".  If I understand @tricoder42 correctly, this is intended behavior and won't be changed.

You can either set up your environment so that catalogs are compiled before being deployed to production, or (what we did) use [@lingui/loader](https://lingui.js.org/r

[2019-02-02 04:07] osdiab opened #447 "Next React example: loads default locale needlessly?"
**Describe the bug**
Maybe I'm misunderstanding how `activate` and `willActivate`  are supposed to work, but it seems that the example code will load the `defaultLocale` strings no matter what, even if the page load is for a different locale. That doesn't break anything but it seems inefficient.

**To Reproduce**
1. Clone the repo
1. In the example project, add in the `loadCatalog` function a sing

[2019-02-03 02:09] dimensi opened #449 "Don't transform сyrillic to unicode by cli command `compile`"
The compile command transforms all Cyrillic text into Unicode sequences, which greatly increases the size of the code.
![image](https://user-images.githubusercontent.com/11390039/52171654-bbf9aa80-2771-11e9-9205-93813caf222f.png)

english text 9kb, russian 40kb.
![image](https://user-images.githubusercontent.com/11390039/52171635-67562f80-2771-11e9-96b5-6fc791d0d16c.png)

If i keep my text in cyri

[2019-02-04 10:19] tricoder42 commented on #449
Hey @dimensi,
this seems to be upstream issue: https://github.com/babel/babel/issues/4909

I think we could at least force UTF-8 characters in message catalogs. Want to take a look and submit a PR?

[2019-02-04 11:08] dimensi commented on #449
@tricoder42
Honestly, I was already thinking about pr, but I didn’t figure out where the code in general gets the text and is saved. So no matter how much I want, I can’t provide pr (

[2019-02-04 13:20] dimensi opened #450 "Ability to cut defaults text"
Now at the moment when we use a custom `id` together with `defaults` text, it helps a lot with `lingue extract`, we thus immediately collect `sourceLocale`, which is very cool, but since in production we later load these languages separately, there is no sense in defaults text , because `sourceLoce` already counts as `defaults` text, but it continues to occupy space in our production build code.

[2019-02-04 13:23] dimensi commented on #449
@tricoder42 https://babeljs.io/blog/2016/11/16/6.19.0

[2019-02-04 13:50] tricoder42 commented on #450
This should already work. Here's the [test case](https://github.com/lingui/js-lingui/blob/master/packages/macro/test/fixtures/jsx-trans-production/actual.js) and [transformed output](https://github.com/lingui/js-lingui/blob/master/packages/macro/test/fixtures/jsx-trans-production/expected.js).

Could you please post an example of the code and the transformed output? Do you use macros or plugin?

[2019-02-04 14:10] dimensi commented on #449
@tricoder42, I try set this property, it's not help.

[2019-02-04 14:32] dimensi commented on #449
@tricoder42 I read the entire issue of the link you gave. Unfortunately, only 7 versions of babel-generator can fix this. Need add
[code]

[2019-02-04 15:06] dimensi commented on #450
https://e2f451e4-9fb3-46b2-afb3-97e722c7a6ec.ws-eu0.gitpod.io/
![image](https://user-images.githubusercontent.com/11390039/52216546-8820a100-28a7-11e9-8eaa-39b7c0ca710e.png)
![image](https://user-images.githubusercontent.com/11390039/52216568-966ebd00-28a7-11e9-8727-80889e5ef3aa.png)

[2019-02-06 01:46] dysonpro commented on #310
Thanks for the tip! I had the same issue in Node 8 and I changed my `targets` to:
[code]
That fixed the error for me.

[2019-02-07 09:10] tricoder42 opened #451 "Who uses LinguiJS?"
**Do you use LinguiJS in production or for hobby project? Please let us know so we can add you to the [showroom](https://lingui.js.org//misc/showroom.html)!**

- If want, feel free to edit the [documentation page](https://github.com/lingui/js-lingui/blob/master/docs/misc/showroom.rst) directly and send a PR.
- Otherwise please provide:
  1. Your company name
  2. Link to your website
  3. Does the

[2019-02-07 09:13] tricoder42 commented on #446
1. There's no way to get `.pot` file at the moment. I plan it for next release though. Right now the best thing is to get the plain message catalog without any translations (i.e. add a new locale, which you'll never translate)
2. `add-locale` just creates a new directory with empty `messages.json` or `message.po` file. If you create it manually, there's no difference. When you run `extract`, the c

[2019-02-07 09:13] #446 closed

[2019-02-07 09:15] tricoder42 commented on #447
Absolutely, it shouldn't be called twice. This is unstable API which will be most probably redesigned before publishing v3 beta.

Thank you for the report, I'll take a look!

[2019-02-07 09:17] tricoder42 commented on #409
I've never seen this `eslint` rule. Could you please send a PR with proposed solution? We should probably also add it to documentation of [babel-plugin-macros](https://github.com/kentcdodds/babel-plugin-macros/), because it'll affect all macros.

Thank you for bringing this up! 👍

[2019-02-07 09:19] tricoder42 commented on #418
I completely trust your judgement and I would go for 2). I'm converting the codebase to Typescript anyway, which will be published in v3. Not sure if it's worth it to fix flow typings at this point.

Thanks for suggestion though, feel free to send a PR if you want to fix it in v2. 👍

[2019-02-07 09:19] #418 closed

[2019-02-07 09:22] tricoder42 commented on #334
## Update 2019-02-07

- New macros are almost ready and I'm close to publish another pre-release.
- I'm gradually converting codebase to Typescript (so far just Macros and part of Core)
- Offline compilation of message catalogs will be most probably dropped in v3 and replace with runtime formatting. Alternative methods for size reduction will be used instead (ie. minification of IDs or per-locale

[2019-02-07 09:39] mbrevda commented on #334
Could you elaborate on that last point?

[2019-02-07 09:49] tricoder42 commented on #334
@mbrevda Current solution is compile ICU MessageFormat messages into JS function. Thanks to that production bundle doesn't ship with message format parser (which is huge). On the other hand, it's not possible to load messages dynamically (e.g. from 3rd party source). Also, for large number of messages, the benefit of stripping message parser is lost because these JS functions are larger than strin

[2019-02-07 10:13] mbrevda commented on #334
Got it, thanks! Also, just watched the talk which already addressed additional concerns. Would love to see the docs on how integrated the build steps are.

[2019-02-07 17:31] mschipperheyn commented on #409
Well, the rulle that gives the error is `import/no-extraneous-dependencies`. It basically warns you when you include in to be deployed code imports that are in `devDependencies` instead of `dependencies`. Perhaps the easiest solution would be to simply put `@lingui/macro` in dependencies, assuming that tree shaking will prevent it from being included when not necessary.

[2019-02-08 08:21] pristas-peter commented on #362
Hi, I did the second part (locales per chunks) in my personal react-intl-extract-webpack-plugin. You can check the implementation here:
https://github.com/pristas-peter/react-app/tree/master/packages/react-intl-extract-webpack-plugin

[2019-02-10 07:13] SleepWalker commented on #443
@mschipperheyn You can convert async imports into sync `require` for node, but it won't work with react, which expects the same tree for the first rendering on server and browser side. So if you want to wait for locales to be loaded on server side, you should do the same on browser side too.

To achieve this you can use something like [react-jobs](https://github.com/ctrlplusb/react-jobs), but the

[2019-02-10 22:59] lexkrstn commented on #408
Setting `node.fs = 'empty'` doesn't help me with webpack 4.
After a bit of research it seems like I've found the solution: just put `"babel-plugin-macros"` into the "plugins" section of your `.babelrc` file.

[2019-02-11 15:45] GargantulaKon commented on #408
Did you add it as node module dev dependency too?

[2019-02-12 07:05] lexkrstn commented on #408
@GargantulaKon No, I didn't. It's a dependency of `@lingui/macro`, not the dependency of my project. Also if at some point the library quit relying on it, I'll be warned and just remove it from the `.babelrc`.

[2019-02-13 15:51] schlesingermatthias opened #453 "Passing values to props with just message id"
Hi,
I'm trying to pass values to the `Trans` component while only specifying a messageId. Like so:
`<Trans id="login.email_sent" values={{ email }} />`

And in my PO file I have:
[code]

The result string says: `An email has been sent to`

Shouldn't that work? What do I need to do to make it work? Thanks in advance.

[2019-02-14 07:40] #453 closed

[2019-02-14 12:44] omrllm opened #455 "bash: lingui: command not found..."
**Describe the bug**

I'm following your guide on the docs and I'm stuck at `lingui extract` in the [extracting messages](https://lingui.js.org/tutorials/react.html#extracting-messages) section but any `lingui` command doesn't work anyway.

In the root of my folder I have .linguirc:

[code]

package.json:

[code]

**Expected behavior**

`lingui` should work; `npm run extract` and `npm npm run add-

[2019-02-14 16:02] ghost opened #456 "Plural translation not working with React and po file"
**Describe the bug**

I am not able to translate text using Plural component.

**To Reproduce**

Plural component (from "@lingui/react") is used as this :
[code]
And the po file using `lingui extract` looks like this :
[code]
So I would expect translation to work if I complete it this way :
[code]

**Expected behavior**
I would expect my text to be properly translated in french.

**Additional cont

[2019-02-18 00:05] simonlc commented on #372
Any progress on this? I'm running into the same issue. I've tried using macros and the react versions, though neither work.

[2019-02-19 12:35] SilentImp opened #457 "Allow escaping placeholders"
**Describe the bug**

Both react [FilePond](https://pqina.nl/filepond/docs/patterns/frameworks/react/) and [lingui.js](https://lingui.js.org/) use `{}` chars to mark variables.
When you try to add FilePonf label for translations you get an error because lingui expect you will pass a value of the variable, but it actually FilePond's variable.

**To Reproduce**
Steps to reproduce the behavior, possi

[2019-02-19 12:58] tricoder42 commented on #457
LinguiJS uses ICU MessageFormat. Could you please try [escape argument](http://userguide.icu-project.org/formatparse/messages#TOC-Quoting-Escaping using apostrophes?

[code]

[2019-02-19 14:15] SilentImp commented on #457
@tricoder42  I have tried to do it this way:

[code]

After extractions I get inside `message.json`:

[code]

But I still get an error:

[code]

[2019-02-20 07:31] chrischen opened #459 "Support React.Fragment shorthand <> tags."
**Is your feature request related to a problem? Please describe.**
When running lingui extract, `<React.Fragment></React.Fragment>` works, but `<></>` shorthand does not work.

**Describe the solution you'd like**
It should work without having to use React.Fragment tags explicitly.

**Describe alternatives you've considered**
I have to convert all `<></>` to `<React.Fragment></React.Fragment>`.

*

[2019-02-20 07:55] chrischen commented on #459
Hmm. I think I re-ran installation and got `^7.0.0-bridge.0` added and it works now.

[2019-02-20 07:55] #459 closed

[2019-02-20 09:33] chrischen commented on #443
I haven't tested this yet, but what about using @loadable/components and @loadable/server and then doing the catalog loading in the lazy-loaded component? @loadable should already handle lazy loading while maintaining the SSR/client aspects for you.

[2019-02-20 09:43] chrischen commented on #14
Is catalog splitting planned for 3.0? Currently my app is setup to dynamically split based on components so bundle size never grows beyond the core libs, except for the js-lingui catalog, which will still grow as the app grows.

[2019-02-20 15:13] chrischen opened #460 "Macros don't work with ts-loader."
**Describe the bug**
<Trans>Some Text</Trans> is empty if no `defaults` prop is set.
I'm not totally sure if this is a babel-plugin-macros issue or an issue with lingui.

**To Reproduce**
Use ts-loader in webpack before passing to babel-loader.

Initialize with <I18nProvider> with no props.
[code]

**Expected behavior**
I Expect `Some Text` to render in the absence of a translation.

**Additional

[2019-02-20 18:16] mschipperheyn commented on #443
I already use `react-async-bootstrapper` so that might be the way to go for me.

[2019-02-21 03:30] chrischen commented on #460
I managed to fix it by migrating from ts-loader to babel's support for typescript via @babel/preset-typescript.

[2019-02-21 08:14] tricoder42 commented on #460
Hey @chrischen, the macros only work with babel right now. There's an [ongoing effort](https://github.com/kentcdodds/babel-plugin-macros/issues/94) to bring macros to TS as well

Feel free to update the macro docs and send a PR or there's even a dedicated guide to using [LinguIJS in Typescript](https://github.com/lingui/js-lingui/blob/master/docs/guides/typescript.rst) projects.

[2019-02-21 08:14] #460 closed

[2019-02-21 08:16] chrischen commented on #460
I was using both babel and ts-loader for webpack. I think i can maybe help update the docs with my solution, which was to get rid of ts-loader.

[2019-02-22 14:25] ianmartorell commented on #415
I'm having the same issue with `lingui extract` not picking up strings from ``i18n._(t`...`)``. I'm importing `t` from `@lingui/react`, since my project is on React Native and macros don't work (`babel-plugin-macros` tries to import Node standard modules `path`, `os` and `fs`, should it actually work?). The docs don't mention anything about using lingui without macros though, is it possible? This

[2019-02-26 13:06] redbugz opened #462 "Pseudolocalization fails with exact or offsetting plurals"
**Describe the bug**
When using exact or offsetting plurals, pseudolocalization fails with an error:
```Error: Can't parse message. Please check correct syntax: "{mēśśàĝēśĆōũńţ, ƥĺũŕàĺ, =0 {Ţĥēŕē'ŕē ńō mēśśàĝēś} one {Ţĥēŕē'ś # mēśśàĝē ĩń ŷōũŕ ĩńƀōx} other {Ţĥēŕē'ŕē # mēśśàĝēś ĩń ŷōũŕ ĩńƀōx}}"```

**To Reproduce**
- Enable pseudolocalization in config
- Add exact or offsetting plurals as documented

[2019-02-26 13:39] redbugz commented on #462
It appears to also fail on DateFormat:
[code]

[2019-02-26 13:55] redbugz opened #463 "Allow pseudolocalization to generate longer strings using `extend` or other options"
**Describe the solution you'd like**
When using the `pseudoLocale` option, consider using the `extend` and/or `append` and `prepend` options of `pseudolocale` to generate longer strings to help simulate longer languages.

**Additional context**
Pseudolocalization can help developers find layout/clipping/wrapping problems and other issues with longer strings before those longer strings come back fr

[2019-02-26 21:07] redbugz commented on #462
It also fails on `Select` and `SelectOrdinal`

[2019-02-28 00:11] redbugz opened #464 "webpack loader doesn't seem to compile pseudoLocale"
**Describe the bug**
When using the webpack loader `@lingui/loader!locale/${language}/messages.json` it doesn't seem to generate the pseudoLocale like `npm run compile` does. It just displays the `fallbackLocale`

**To Reproduce**
Set up a project with the webpack loader and `pseudoLocale` configured in `.linguirc` or similar.

[code]

**Expected behavior**
The webpack loader should generate the p

[2019-03-01 13:29] redbugz commented on #462
Could a parser like https://github.com/yahoo/intl-messageformat-parser be used instead of the regex for this purpose? would that make it more robust?

[2019-03-03 12:41] toolness commented on #422
Wait, does #326 actually solve all of @revskill10's problem?  It seems like he wants splitting of _both_ source catalogs _and_ compiled message catalogs, but [RFC-002](https://lingui.js.org/rfc/002_catalogs.html) (which #326 implements) has a big note at the top that reads:

This makes it seem as though #326 will actually only solve part of the problem addressed in this issue, and will not actuall

[2019-03-04 07:26] chinchang opened #465 "Not able to work with "Sanskrit""
This is not really a bug nor a feature request. Rather a question. I actually wanted to add "Sanskrit (sa)" locale and got an error that its an unknown locale. Upon further investigation I found that though bcp47 supports "sa", `make-plural` doesn't have it's plural form listed.

My questions:
1. Is there a way to make `lingui` work even if `make-plural` doesn't have a language's plural form?
2. A

[2019-03-04 10:28] chinchang opened #466 "Trans macro results in undefined tag with nested HTML in Preact"
**Describe the bug**
Undefined tag on the page when using lingui `Trans` macro on nested HTML in a **Preact** app.

**To Reproduce**
Demo: https://codesandbox.io/s/n00p94kz9m
Using `Trans` macro on nested HTML.

Example:
[code]

**Expected behavior**
The nested HTML should have rendered.

**Additional context**
Works fine with react.

- jsLingui version 2.7.4
- Babel version ``npm list babel-core`

[2019-03-04 21:41] smeevil opened #467 "Correct type for I18n HOC?"
Hi there,

I'm trying to figure out the correct type for the I18n HOC but it seems to elude me.
Could someone point me in the right direction to replace the 'any' type with the correct one ?

Much obliged :)
Gerard.

[code]

[2019-03-04 22:00] smeevil opened #468 "Having trouble to get @lingui/macro working with React Native & Typescript"
**Describe the bug**
I'm using react-native with typescript, running .tsx files.
Using the regular `import {Trans} from "@lingui/react";` works as a charm, however I'd like to use the <Trans/> macro as it looks a lot more intuitive and clean.

I went down a rabbit hole using rn-nodeify and install path, os, fs, stream, module, buffer, constants, asyncstorage-down which got me further along, though

[2019-03-05 10:34] cJayyy commented on #467
I would suggest using [@types/i18n](https://www.npmjs.com/package/@types/i18n).

[2019-03-05 18:43] dephiros opened #469 "How to ignore test files"
**Is your feature request related to a problem? Please describe.**
- We recently have test that include `Trans` or `t`. Is there a way to exclude `*.test.js(x)*` files from being extracted? I see `srcPathIgnorePatterns` options but that is for folder and not files?

**Describe the solution you'd like**
A way to exclude files that match some patterns

**Describe alternatives you've considered**
Rig

[2019-03-06 09:41] huan086 opened #470 "Special handling of Fragment in Plural component"
**Is your feature request related to a problem? Please describe.**
`<Plural>` attributes `one`, `other` and others require that we wrap everything in `<span>`. The localized ICU message becomes `{num, plural, other {<0>There are <1/> items</0>}}`, which is confusing to localize because I'll have to remember to always start and end with `<0>`

**Describe the solution you'd like**
It would be nice t

[2019-03-06 15:25] brumeregan opened #471 "Compile translation for prod"
Hi,
I need some help/advice.
I don't want use compile cli within the project, how can I achieve that all translations with values turn to functions as in dev mode?
For now I created wrapper with precompiled languageData for needed translations and dynamically create catalog with needed LanguageData and as a message I inserting translation.json. But it simply an object without functions..
Any sugge

[2019-03-07 10:04] cipix2000 opened #472 "Performance issues with formatters"
**Is your feature request related to a problem? Please describe.**

Lingui takes a lot of time to create number and date formatters, showing in the profiles consuming 25% to 85% of render time.

This is due to repeatedly creating Number and Date formatters: https://github.com/lingui/js-lingui/blob/master/packages/core/src/formats.js#L31  and https://github.com/lingui/js-lingui/blob/master/packages

[2019-03-07 10:20] Noitham opened #473 "Reference Error : macro_1 is not defined."
**Describe the bug**
I've been trying to set up linguiJS on my app but I get "macro_1 is not defined" error when trying to compile it.
It's a React Native App using TS.

**To Reproduce**
Follow all the installation process.

npm run extract
 -try with a msgstr for test
npm run compile
All seems to work at this point. I get my locales folder with both messages.po and messages.js. There's also a _bu

[2019-03-07 22:11] smeevil commented on #468
Found the solution :D
It turned out that I needed to update the `babel.config.js`.

Previously non working:
[code]

Updated working:
[code]

This might be something worth to add to the documentation ?
Anyways, feel free to close the issue :)

[2019-03-08 08:11] cipix2000 commented on #455
This is not a lingui issue. If you want to call lingui directly from the CLI you should install it globally (https://yarnpkg.com/lang/en/docs/cli/global/).

Otherwise use
`yarn extract`
 or
`./node_modules/.bin/lingui`

[2019-03-08 16:41] smeevil commented on #467
It turned out I was using the i18n imported from @lingui/react while it should have been from @lingui/core...

All is well in the world again :)

[2019-03-08 16:41] #467 closed

[2019-03-11 15:54] omrllm commented on #455
Otherwise you can type inside the app folder `npm run` and the command that you want, like `npm run extract` or `npm run compile` instead of `lingui extract` or `lingui compile`.

[2019-03-11 15:54] #455 closed

[2019-03-13 14:40] Skippidar opened #474 "Compile po files to JSON"
**Is your feature request related to a problem? Please describe.**
In big projects i don't want to include all translations to bundle, i'd like to use only necessary translation, but now "lingui compile" compiles messages to js module format only

**Describe the solution you'd like**
It would be great to be able to set output format of compiled files
1) JSON - just build json formatted messages ob

[2019-03-15 11:20] Skippidar commented on #372
Got same bug.
Had to set "few" and "many" props, then translations appeared. As I can see, empty (or not set) "few"\"many" prop doesn't result in fallback to "other" prop.

[2019-03-15 15:11] BramDecuypere commented on #443
@mschipperheyn did you get lingui to work?
We are currently using gatsby and I'm running into the same issues.

[2019-03-16 13:58] mschipperheyn commented on #443
@BramDecuypere I have not had more time to look into this.

[2019-03-16 14:28] revskill10 commented on #443
I'm using React Suspense for data fetching. Is there any example/guiding to lazy load lingui with Suspense ?

[2019-03-18 17:19] donatoaz commented on #177
Hi @HriBB , can you share a little bit more of your implementation? I am having a hard time visualizing what should be the content of your `server/.cache/translations.js`.

When you say manually, do you mean your dataset changes very infrequently? What if your changes were more frequent? is it something you'd be able to automate? Perhaps via a cronjob or anything periodical.

I have a very simple

[2019-03-19 09:05] polo13999 commented on #273
same here

[2019-03-19 10:00] whytspace opened #475 "allow empty translations, setupI18n not working with I18nProvider"
Hi,

I don't know if I'm using this correctly, but basically I want to allow translators to leave *translations empty*.
Since my original translation (en) is very likely to change I use IDs only and want to leave the translation completely up to the translators/translation (`po`) files.
When calling "lingui compile" all empty `msgstr`s from the `po` file will automatically be replaced by the IDs.

[2019-03-19 13:49] vractal commented on #404
I believe i'm facing some testing problems regarding this issue. Trans component gets weird behaviour and shows id instead of defaults in snapshots, while t works as it's suposed.

[2019-03-19 21:46] dephiros commented on #471
@brumeregan ,
I am a bit unclear about your question so I will try my best:
- If you don't want to use `compile cli` and use webpack, you can use the jslingui webpack loader: https://www.npmjs.com/package/@lingui/loader
- If you don't want the message to be compile at all and just want jsLingui to work with string as in DEV, there is a few tricks that you can do to ship the dev mode to prod: https

[2019-03-20 08:28] cipix2000 commented on #474
As far as I know there's no solution for splitting the translations per bundle. Different people use different solutions - this is one of them that I'm familiar with: https://github.com/SectorLabs/lingui-multi

[2019-03-22 11:50] Noitham commented on #473
Solved issue by switching to Babel TS support, can be closed.

[2019-03-22 11:50] #473 closed

[2019-03-24 18:16] sangaloma commented on #437
Anything new here? I am having the same issue

[2019-03-26 09:24] JSteunou commented on #334
@tricoder42 Coming at you to check on this v3, do you need any help?

Do you think you should split this big release into smaller chunks to release earlier then iterate more often on it do add features one by one?

I cannot help to think this is a too big release for one release & for one man's job.

How can we help you to solve that?

[2019-03-26 09:41] FredyC commented on #334
@JSteunou Currently the biggest hurdle is being solved in #479, come and join :)

[2019-03-26 11:58] revskill10 commented on #334
@tricoder42 I suggest NOT to drop support for offline compiling.
In my current system, i use a 3rd party application to translate, then i pull translations for offline compilation to import into the application.
I think, a `deprecation notice`, combinated with a migration path  is more useful for future release.

[2019-03-26 12:45] FredyC commented on #334
Oh damn, I read that update, upvoted it, but did not realize what the offline compilation means. Please keep that. We have a similar workflow setup as @revskill10 and it works just fine for us.

Also, runtime formatting sounds kinda more expensive than doing as part of the build process.

[2019-03-26 17:57] mschipperheyn opened #480 "Remove opencollective dependency"
**Describe the bug**
`opencollective` dependency is still part of `@lingui/cli`. It forces the inclusion of `babel/polyfill` 6.23.0, which creates problems in mono repo's with different versions of core-js

**Expected behavior**
`opencollective` from `@lingui/cli` was indicated as removed. But it isn't

**Additional context**
Add any other context about the problem here.

- jsLingui version 2.7.4

[2019-03-26 23:29] mschipperheyn opened #481 "Upgrade to babel 7"
**Is your feature request related to a problem? Please describe.**
I am trying to set up a mono repo based on @babel 7. I'm encountering issue with version conflicts of core-js that are caused by @lingui depending on babel 6. Bridging doesn't work because of the lower level dependency on core-js which significantly changed its structure between v2 and 3.

**Describe the solution you'd like**
Upgra

[2019-03-27 23:31] revskill10 commented on #390
I prefer this API:
[code]
It's just the same as `<I18n>` render props api.

[2019-03-28 13:04] davidpenn opened #483 "Unable to Extract React + Typescript (with or without eject)"
**Describe the bug**
``lingui extract`` throws an error "Unknown option"

**To Reproduce**
[code]

[code]

**Expected behavior**
No error

**Additional context**
Add any other context about the problem here.

- jsLingui version ``2.7.4``
- Babel version
[code]

[2019-04-01 09:16] jorendemaeyer1996 commented on #475
Also got the same issue, anyone?

[2019-04-01 21:45] ovidius72 commented on #473
I'm having a similar issue when i upload the app in release mode. I see the error is y.i18n.t is undefined and y.i18n.t is not a function. Don't know what the y is.
While developing it works fine in the Android Emulator Device and in the physical device.
Any suggestion?
Thanks

[2019-04-02 09:30] dcorb opened #484 "Ignore compiled catalogs?"
In the documentation says that is safe to ignore the *compiled* catalogs ? `locale/**/*.js `https://lingui.js.org/guides/excluding-build-files.html

It doesn't make sense to me. I understand is ok to ignore ` _build` folder, but why to ignore the compiled `.js ` catalog that should be normally should be committed and loaded in production?

[2019-04-02 13:24] evdama commented on #407
is there a resolution to this issue now?

[2019-04-02 15:09] FredyC commented on #407
Get rid of ts-jest :D I just switched to Babel Typescript and don't worry about it anymore.

[2019-04-02 15:09] #407 closed

[2019-04-03 14:09] cezarneaga opened #485 "passing strings to Helmet"
Hi lingui people 👋,

experimenting if i can move easyname.com to Lingui. i am getting stuck here:

i need to pass a string to Helmet(react-helmet) and i have this:
[code]
but in this case <code> part is treated as string not markup.
does `t` support something like:

[code]

or, is there an alternative?
thanks!
Cezar

[2019-04-04 09:37] LeoIannacone opened #486 "Wrong variable in literal strings"
**Describe the bug**
Lingui confuses variables (?)

**To Reproduce**
Try this code:

[code]

Now use babel to transpile it, you will get this:
[code]
As you can see the second "limit" variable is still **limit**

**Expected behavior**
The second snip code should use **_limit** variable as follow:
[code]

**Additional context**

- jsLingui version ``2.7.4``
- Babel version
[code]
- .babelrc:
[code]

[2019-04-05 10:10] mmakarin opened #487 "<Plural> doesn't work"
**Describe the bug**
`<Plural />` doesn't translate text. `<Trans>` and` i18n._` work properly.

**To Reproduce**
messages.json
[code]

[code]
**Actual behaviour**
`1 channel`
**Expected behavior**
`1 канал`

- jsLingui version 2.7.4
- Babel version 7.4.0

[2019-04-05 12:52] #487 closed

[2019-04-09 15:40] tricoder42 commented on #486
Hey @LeoIannacone, this is definitely a bug! Do you have a chance to test it with Babel 7?

[2019-04-10 15:03] LeoIannacone commented on #486
I spent some time trying to reproduce it with react-create-app, but the ejection failed for different reasons and I gave up.

[2019-04-12 12:13] couds commented on #413
Hi Im trying to setup lingui with storybbok with knob addon to select the current language. (So I can use storybook to check how the component will look on diferent languages easily, I had setup a decorator like to change the language, I added all catalogs to the provider on setup because for storybook I dont need split code for that. But I cant get the storybook to reflect the change of the langu

[2019-04-12 12:22] couds commented on #485
Hi @cezarneaga

I'm doing this to get it working. I hope this help

[code]

[2019-04-12 21:09] olafura opened #488 "Semi scrambled text to find problems with translations"
This project is doing it for linux apps:
https://github.com/hadess/gettext-pseudolocale

It references:
https://github.com/combatwombat/Lunicode.js

This might be a nice debug feature.

[2019-04-14 03:11] mschipperheyn commented on #334
I had a number of problems with core-js version conflicts when I tried to set up a mono repo using react-native and applied @lingui. I ended up nohoisting @lingui/loader to get rid of that. Since mono repos are more and more common, perhaps making that part of the overall release plan might be a good idea.

[2019-04-14 11:50] mschipperheyn commented on #334
Dropping the compile time parser seems like a bad idea to me. Sounds to me like you're saying that you think that in certain scenario's the growth in package size for the parser will be offset by a reduction in other areas depending on message id size. Gut feeling is that if that's the case, it should be possible to compile the message ids to something small(er) and achieve an overall size reducti

[2019-04-14 11:56] mschipperheyn commented on #273
Ah yes, another thing that may or may not help people. I'm working on a babel 7 mono repo and I @lingui caused me problems with conflicts between core-js versions. Downgrading @lingui/cli to version 2.6.1 (only that package) solved my problem, because the component that as causing my core-js headaches was removed in that version (and later came back)

[2019-04-17 17:03] zenyr commented on #484
I _used to_ include .js catalogs in git but soon I found out that I want to build a fresh copy of .js catalogs from external .json files on each build anyway.

[2019-04-17 23:38] chrischen opened #489 "Mozilla's Fluent Message Format Support"
**Is your feature request related to a problem? Please describe.**
Mozilla's new Fluent format is similar to MessageFormat from ICU but supports asymmetric localization (where the source and target language don't have a different number of possible translations depending on a variable or number or context).

[code]

**Describe the solution you'd like**
Consider the support of Fluent formatted tran

[2019-04-21 20:57] filipcro opened #490 "One default message for multiple keys"
**Is your feature request related to a problem? Please describe.**
I have many forms in my application. Some of them have email field. Now if I want to specify a default message and custom key I need to use `<Trans id="auth.email">Email</Trans>` every time.

If i use `<Trans id="auth.email">Email</Trans>`, I can't use `<Trans id="auth.email" />` anymore because extract command will throw error:
[c

[2019-04-21 21:15] filipcro commented on #484
It is an auto generated file and you need to recreate it after each change anyway. You don't lose anything if you delete this file, because original translation files are enough to recreate it.

If you commit it you will produce conflicts, which somebody will need to solve, in this minimized and transpired (basically unreadable to human) file. Do you really want this? And this will happen often on

[2019-04-21 22:50] dcorb commented on #484
@zenyr  @filipcro  thanks for your answers. It has sense to add the compilation step to the CI
And it's true that is creating git conflicts sometimes (easily dismissed re-generating the compiled catalog)

But the doc says it's "safe" to ignore them, without giving explanations... if you git-ignore it, and you deploy your git repo content, translations will not work (aka, it's not "safe"). You need

[2019-04-22 07:51] filipcro commented on #484
If you have CI make it run compilation.

[2019-04-24 14:55] ppozniak commented on #385
@fagerbua know it's a pretty old issue, but I'm facing the same issue right now. Do you remember what exactly was the cause in your scenario?

I'm having this only production mode. It's with the default language, but I'm importing even the default `messages.js`. Running out of ideas 😢

Imported object with catalogs seems to look fine - it's a function that takes one parameter, and looks like it sh

[2019-04-24 15:24] ppozniak commented on #385
I think I found a solution:

[code]
I didn't pass catalogs to setupI18n, nor set the language. This helped.

[code]

Leaving just in case anyone has the same problem.

[2019-04-24 15:26] ppozniak commented on #388
Leaving here in case someone has the same problem.
For me it was caused by using `setupI18n`, but not setting the default value there.
[code]

[2019-04-24 16:05] ppozniak opened #491 "Interpolation doesn't work on fallback locale in production mode"
Connected to:
https://github.com/lingui/js-lingui/issues/385

**Describe the bug**
Given I'm using webpack in production mode and    "fallbackLocale": "en" is set in .linguirc
Given a trans component with some variable:
[code]
When using i18nProvider and `setupI18n`
[code]
When language is set to existing catalog (en), everything works fine.

But when language is set to non existing catalog (let's

[2019-04-29 03:13] AOHUA opened #493 "Placeholders are shown in the build version"
**Describe the bug**
I tried to set up lingui with create-react-app 2.0 following the document [here](https://lingui.js.org/tutorials/setup-cra.html)

However, when I run dev server it works fine, but after I build the project and host it with http-server, all the placeholders are displayed  on the page instead of the translations.

For example that I have messages as below:
`
msgid "Edit {a} and

[2019-04-29 05:54] AOHUA commented on #385
I'm having the same problem, this solution doesn't work for me. Could you post your .linguirc file as well? Thank you.

[2019-04-29 08:39] ppozniak commented on #385
@AOHUA
It kind of fixed my issue, but I also had to do additional thing.
On thing that could help from .linguirc is
[code]

So for me it started to work when language was set to existing language (the one that you have files for), but if you set current language to not existing one, the interpolation failed.

So what I did is:
[code]
Where `catalogs` is just an object
[code]

Hope that helps you.

[2019-04-29 14:53] #485 closed

[2019-04-29 14:53] cezarneaga commented on #485
i was thinking about it all wrong.

[2019-04-30 04:17] mschipperheyn opened #494 "@lingui breaks hooks"
**Describe the bug**
React Hooks is very sensitive to having multiple versions of React active, especially pre-hooks verisons. @lingui specifies React 16.4 as a dependencies and as such gets a local version installed that is loaded in parallel to the actual version 16.8.4.

I'm getting hard errors which are likely caused by this.

**To Reproduce**
Load a hooks based React using `@lingui/macro` and

[2019-05-03 07:47] AOHUA commented on #493
This issue disappeared after I reinstalled node modules.

[2019-05-03 07:47] #493 closed

[2019-05-05 02:09] #494 closed

[2019-05-07 15:59] cezarneaga opened #495 "Invariant Violation: "Minified React error #130;"
**Describe the bug**
everything works fine in development. crashes mysteriously on production builds.

Can't really repro, but i cansay that i dont have wrong exports and imports correspondents.
same code worked before lingui so cannot understand what could be so messed up.

- jsLingui version  2.7.4
- Babel version
[code]

[2019-05-10 00:30] bullfrognz commented on #473
@Noitham Could you please be more elaborate on what you mean by 'switching to Babel TS support'? I am experiencing the same error and my project is setup to use typescript. Thanks

[2019-05-10 08:04] ovidius72 commented on #473
@bullfrognz I solved using this `babel.config.js` file:

[code]

install the following dev dependencies:
- "@babel/core": "^7.4.0",
- "@babel/runtime": "^7.4.2",
- "@lingui/babel-preset-react": "^2.7.4",
- "@lingui/cli": "^2.7.4",
- "@lingui/loader": "^2.7.4"
- "@lingui/macro": "^2.7.4"
- "babel-plugin-macros": "^2.5.1",

[2019-05-13 13:29] benel opened #496 "How to build i18n for React outside `src`?"
Thank you for this great tool.

A student of mine used your tool and library to internationalize a Web-Extension implemented with React. She used the [recommended settings for React](https://lingui.js.org/tutorials/setup-cra.html#install):

[code]

However, I'm a bit puzzled by the path of generated files:

    src/locale/_build/
    src/locale/**/*.js

I first thought about a misunderstanding in

[2019-05-13 14:45] tricoder42 commented on #496
Hi @benel,
files are build inside `localeDir`, but that will also move the message catalog files. So with `localeDir` set to `locales/` you'll get:

[code]

[2019-05-13 14:53] benel commented on #496
Thank you @tricoder42!

If I understand rightly, I could have:
- `src` for my existing source files,
- `build` for my existing builded files,
- `locales` with both LinguiJS source files (`.po`) and LinguiJS build files (`.js` and `.json`),

but there is no way to put LinguiJS source files in `src/locales` and LinguiJS build files in `build/locales`, right?

Is it already a suggested (or planned) f

[2019-05-13 15:02] tricoder42 commented on #496
Yeah, you're right.

It's probably related to #326, but this usecase wasn't considered. I'll keep it in mind, once I resume work on that PR. Feel free to add any feedback on suggestions there.

Thank you 👍

[2019-05-13 15:02] #496 closed

[2019-05-13 23:30] bullfrognz commented on #473
@ovidius72 Thank you for sharing your configuration but unfortunately the error still appears I use the NumberFormat component from @lingui/macro package. Would you please share your tsconfig file? Appreciate the help!

[2019-05-14 00:39] ovidius72 commented on #473
this is my tsconfig:
[code]
I haven't used the NumberFormat so far, so I can't tell if it will work.

[2019-05-14 16:01] ppozniak commented on #65
Apologise for necro posting but does `--strict` checks for missing files, or actual translations?
Cause it seems not to work with translations. I have all translations missing, for sure, and it still exits successfully.

[2019-05-14 19:19] tricoder42 commented on #65
@ppozniak Yeah, it should fail for missing translations. Could you please make a repo with example?

[2019-05-15 06:45] semoal opened #498 "{0,date,date0} , SSR Next.JS"
**Describe the bug**
Date are not getting formatted {0,date,date0}, i got all working except this.

With the DateFormat ```<DateFormat
                  value={new Date(dateFrom)}
                  format={{
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit'
                  }}
                />```works correctly, but i need for some com

[2019-05-15 08:35] semoal commented on #498
Nevermind, got it working rewriting _app.js and _document.js, something wrong.

If someone needs help, feel free to send me a email and i send you a paste of the commit that got it working!

[2019-05-15 08:35] #498 closed

[2019-05-17 08:44] tricoder42 commented on #490
Hi @filipcro, thank you for reporting. Indeed, there's a bug on this line:

https://github.com/lingui/js-lingui/blob/df10717743f38c3bb4336c54327d211729b4a11b/packages/cli/src/api/extract.js#L25

Would you like to send a PR? Thank you 🙏

[2019-05-17 08:47] tricoder42 commented on #488
There's already pseudolocalization in LinguiJS - https://lingui.js.org/tutorials/cli.html?highlight=pseudolocalization#pseudolocalization

The documentation could be definitely better though.

Feel free to send a PR if you would like to improve it! Thank you 🙏

[2019-05-17 08:47] #488 closed

[2019-05-17 11:25] filipcro commented on #490
Sure, I'll fix it.

[2019-05-17 15:38] ppozniak commented on #466
Noticed the same issue after starting to use `preact-compat`.
The final result of it is `<undefined></undefined>`

[2019-05-17 16:24] chinchang commented on #466
I believe it is because of the lack of fragments support in preact 8, which might be required in case of nested HTML. Seems to be working fine with Preact X.
Again, just a guess.

[2019-05-17 17:20] olafura commented on #462
I also get a similar error for:
[code]
[code]

[2019-05-17 17:53] tricoder42 commented on #334
Latest release: 3.0.0-4 (`@next` tag)
[Migration guide](https://lingui.js.org/releases/migration-3.html)

---

Hey everyone!
I've finished first large part of refactoring for v3, new API for JS macros.

TLDR:
- all macros are transformed into message descriptors, which are passed to `i18n._` function

[code]

- comments and custom IDs can be add by wrapping the macro in `defineMessage` macro:

[co

[2019-05-17 17:59] tricoder42 commented on #466
I have to idea to be honest.

Maybe there's sth specific to `preact` for rendering children/elements. The function for formating elements is in [format.js](https://github.com/lingui/js-lingui/blob/master/packages/react/src/format.js).

I'm not plannig to support Preact anytime soon, as I want to focus on #334.

I'm gonna close this for now. If you figure out the problem, write tests with preact an

[2019-05-17 17:59] #466 closed

[2019-05-17 18:01] tricoder42 commented on #495
Please share at least code snippet which fails, otherwise I really can't help. There were several issues with production build, so try to search them.

[2019-05-17 18:01] #495 closed

[2019-05-17 18:57] lucasecdb commented on #334
@tricoder42 the `next` tag on npm is still pointing to version 3.0.0-3

[2019-05-17 21:25] tricoder42 commented on #334
@lucasecdb Ah, my bad! I have a bug in release script, which I need to fix. Re-deployed again as 3.0.0-5

[2019-05-17 22:31] tricoder42 opened #503 "Message files splitting"
It seems that one unsolved problem in JavaScript internationalization is automatic splitting of message files, similar to code splitting.

I would like to tackle this problem in v3 and figure out, what API changes we need to make to get it done.

Related issues: https://github.com/lingui/js-lingui/issues/474 https://github.com/lingui/js-lingui/issues/362

---

Code splitting creates main bundle wi

[2019-05-17 22:35] tricoder42 commented on #474
@cipix2000, it looks like `lingui-multi` splits source catalogs and then (probably) creates production catalog for each of them. I'm working on the first part (splitting of source catalogs) in #326. I would like to have production catalogs generated automatically based on chunk stats, but there's lot of things to figure out.

@Skippidar Thanks for suggestion! I'm not sure how output file format is

[2019-05-18 21:18] Skippidar commented on #474
@tricoder42 Yes, i think just one file. Just to be able to load it as vocabulary. Now i do this just adding <script> tag for each file i need ant when they load i add their data to global object window.languageSettings.

The other problem is that i have several translation files - one "main" and one file per lib i have (local lib), so i have to load
/apps/[appName]/locales/en/messages.js
/libs/[li

[2019-05-18 21:24] Skippidar opened #506 "Using renderToString with components"
When i need to use translation in function - i use ```renderToString(<Trans>Some string</Trans>)``` but it's not translated, just outputs "as is".

Is it possible to make it using translations or should I use i18n._(t``Some string``)? The problem is that i have to add withI18n and pass proptypes to start using it (adding renderToString() is just simplier, as i think)

[2019-05-19 05:41] tricoder42 commented on #506
You definitely also need to add `<I18nProvider>` around the `<Trans>` tags and load catalogs in it. Otherwise the Trans tags can't actually translate, so it simply returns default message.

I guess for you the easiest might be to import `i18n` directly and then call `i18n._` on it:

[code]

[2019-05-19 05:41] #506 closed

[2019-05-19 05:48] tricoder42 commented on #474
That's exactly the problem I would like to solve very soon. First step is finish #326. That would allow you to configure source of messages - either your code or catalogs from 3rd party libs. As a result, you'll have a message catalog with yours messages and 3rd party messages, where all 3rd party ones will be translated by default. You'll be allowed to override their translations if needed.

Next

[2019-05-19 05:53] tricoder42 commented on #484
Hi @dcorb, I consider compiled catalogs as build artifacts. I don't include production bundle (e.g. next.js `_next` folder or CRA `build` folder) in git, so I don't include `messages.js` either.

The documentation could be improved though. Would you like to send a PR?

[2019-05-19 05:58] tricoder42 commented on #470
Doesn't it work that way already? Someone on gitter said few days ago that he wrapped message in `<>` fragment. I'm not sure if `React.Fragment` would work as well, but if you're interested, do you want to send a PR?

If yo checkout `next` branch, it could be achieved in macro package here:

https://github.com/lingui/js-lingui/blob/next/packages/macro/src/icu.ts#L83-L105

[2019-05-19 06:00] tricoder42 commented on #363
Resolved in #499

[2019-05-19 06:00] #363 closed

[2019-05-19 06:02] tricoder42 commented on #351
`next` branch was rewrite in typescript, so `core` and `react` packages include auto-generated definition files. Checkout #334 for info about pre-release.

[2019-05-19 06:02] #351 closed

[2019-05-19 06:09] tricoder42 commented on #362
Closing in favor of #503.

Thank you @pristas-peter, I'll definitely check it out!

[2019-05-19 06:09] #362 closed

[2019-05-19 08:08] #490 closed

[2019-05-19 08:13] tricoder42 commented on #337
I'm closing it in favor of `next` branch and upcoming v3 release. Feel free to send a PR if you want to backport it to v2.

[2019-05-19 08:13] #337 closed

[2019-05-19 11:16] FredyC commented on #334
@tricoder42 Thank you for finally moving this forward. I will definitely try it out later, but I am still a bit annoyed by that `i18n._(t'message')` syntax to be honest. I know we have been all over it and there is no easy path out, but still, it feels that by transitioning to macros we gained some and lost some.

I am actually thinking about writing my own macro, that upon seeing import from `@li

[2019-05-20 00:57] zxs2162 opened #507 "How to use dynamic key"
**Describe the bug**
When using dynamic key, the value does not work

**To Reproduce**
In message resource file, we  have below definition:

firstTiltle: 'First Title',
secondTitle:'Second title'

[code]

**Expected behavior**
i18n.t should support dynamic variable.

**Additional context**
Add any other context about the problem here.

- jsLingui version ``lingui --version``
2.7.4
- Babel version

[2019-05-20 05:51] tricoder42 commented on #507
You should use [`i18n._`](https://lingui.js.org/ref/core.html#I18n._) instead.

[code]

[2019-05-20 05:51] #507 closed

[2019-05-20 06:50] tricoder42 commented on #480
Fixed in `next`

[2019-05-20 06:50] #480 closed

[2019-05-20 06:53] tricoder42 commented on #348
Hey @masahitojp, thank you for bug report. Flow typings are removed completely in next release in favor of Typescript.

[2019-05-20 06:53] #348 closed

[2019-05-20 06:55] tricoder42 commented on #14
Closing in favor of #326 and #503. Both will land in v3.

[2019-05-20 06:55] #14 closed

[2019-05-21 02:21] zxs2162 commented on #507
Thx. It works.

[2019-05-21 06:36] tricoder42 commented on #334
We might actually end up with `i18n.t`, `i18n.plural` etc macros where `i18n` object itself will be a macro.

I've just finished a draft of [RFC003 - Per-locale bundles](https://lingui.js.org/rfc/003_per_locale_bundles.html). Relevant example is in the [i18n context](https://lingui.js.org/rfc/003_per_locale_bundles.html#i18n-context) section:

[code]

The point of wrapping everything in macro (eve

[2019-05-21 06:41] tricoder42 opened #508 "Per-locale bundles"
Discussion for RFC 003: https://lingui.js.org/rfc/003_per_locale_bundles.html

**Introduction from RFC**

Per-locale bundles are another build time optimization to reduce size of internationalized JavaScript applications.

Consider this example - we have an internationalized app which loads translation from external file:

[code]

If we generate the production bundle in Engish locale, it will roug

[2019-05-21 07:31] theKashey commented on #508
Combinatoric explosion - per language bundles * per browser builds == 🥳

Plus it’s not quite clear how to detect the “locale” to use. For example for us it could be or browser setting, or user setting, we have to read from a server side first - that makes things(without SSR) more complicated.

[2019-05-21 07:42] tricoder42 commented on #508
What are per-browser builds?

Don't assume it will fit to any scenario. It should be optional as described in RFC.

I expect there's gonna be global `getLocale` function, which will be injected by webpack plugin to the top of `index.html`. In such function, you can check localStorage, cookie for cached locale settings or call API, on the first load. That will make the first experience a bit slower

[2019-05-21 07:49] FredyC commented on #508
Well, as much as great it sounds on paper, I cannot imagine it in practice. What about code splitting? A single bundle is easy, but I cannot imagine how to would instruct which chunk in which locale to load.

We are currently using code splitting for catalogs as well so only the catalog for a selected language is loaded. I am not exactly convinced it's a bottleneck to read a message from a compile

[2019-05-21 07:54] FredyC commented on #508
Oh and btw, what about service workers and caching for offline apps? By default, it caches all bundles. That would be quite an overkill to multiply the number of code bundles by a number of locales. That could lead to hundreds of MB of data downloaded (on the background). That's very sad for any metered connection.

[2019-05-21 07:55] tricoder42 commented on #508
@FredyC Code splitting with per-locale bundles works out of the box. That's the beauty of it.

Forget about loading catalogs or splitting catalogs. There're no runtime catalogs in per-locale bundles.

To make it easier to understand: Imagine you have all source in `src/` and you don't use internationalization at all. Now you copy `src` to `src_cs/` and you hardcode translations into the code. You

[2019-05-21 08:05] tricoder42 commented on #508
@FredyC Btw, at the conference, Tom Occhino, the engineering director of the React group, mentioned that they're doing the same at Facebook. If you open dev console in facebook you can see per-locale chunks being loaded (notice the `en_GB` part):

![Snímek obrazovky 2019-05-21 v 10 02 24](https://user-images.githubusercontent.com/827862/58078738-b8b6ed00-7baf-11e9-9448-99bcd5bfdff3.png)

So, it's

[2019-05-21 09:18] theKashey commented on #508
Another moment - would it also increase built times. Significant.

[2019-05-21 09:29] tricoder42 commented on #508
Obviously. Build time * number of locales.
On 21 May 2019, 11:18 +0200, Anton Korzunov <notifications@github.com>, wrote:

[2019-05-21 10:38] FredyC commented on #508
I do understand the underlying principle of per-locale bundles, but how would you inform bundler into which files to write those bundles? It might require bundler specific plugins, or not?

When the user changes language, I would rather download a small file with translations than a whole app code because a couple of strings has changed.

Honestly, I wouldn't most likely use it. One thing is Faceb

[2019-05-21 10:40] FredyC commented on #334
Despite not being a fan of per-locale bundles, I do like the `i18n.useLingui()` approach and other stuff around it. It certainly looks a lot let verbose and useful. Are you going to make an RFC for that as well?

[2019-05-21 11:18] tricoder42 commented on #508
The simplest solution is running the bundler once per each locale with different env var: `env LINGUI_LOCALE=cs yarn build`. Macro would replace strings with translations and webpack would generate chunks `[locale]/[chunkName].js`. From here there's lot of way to simplify it with custom plugins, but the main idea is the same.

That's what I would call "micro-optimization". How often do you switch

[2019-05-21 12:40] FredyC commented on #508
How? :) You need to somehow modify webpack config to do that. Even to add a plugin it's either about ejecting or using some of those override tools. The worst thing is if you forget or mess up this manual configuration part, it will basically write everything into a single bundle and you will get only the last locale in a row.

Fair enough, but it's still an unnecessary cost the user on a metered

[2019-05-21 13:03] tricoder42 commented on #508
Yes, you need to update webpack config. Decent frameworks allows you to do that, e.g. Next.js. You would need update webpack config even for automatic splitting of message catalogs as described in #503, so the configuration overhead is about the same.

You need to weight the unnecessary costs. Either one time cost when app is loaded with wrong locale or repeated cost, when you browse the website a

[2019-05-21 13:05] tricoder42 commented on #491
Hi @ppozniak,
unfortunatelly this is "expected". Since the messages are compiled at build time, there's no runtime parser and you can't format messages (e.g. default ones) at runtime.

Next version will probably support optional runtime parsing.

[2019-05-21 13:05] #491 closed

[2019-05-21 13:24] FredyC commented on #508
Care to elaborate? I load a single language bundle on initial app load. If the user changes language, I will load another. Nothing extra is ever getting loaded.

Sorry, that number is for a whole app. The initial one is 130kB. But as a user navigates throughout the app, other bundles are being loaded. It's true though that user would rarely change the language after clicking through the whole app

[2019-05-21 13:35] tricoder42 commented on #508
**per-locale bundle**

[code]

**locale agnostic bundle**

[code]

There're two parts of extra data:
- constant overhead - localization library itself, ~3-5kb in case of LinguiJS
- linear overhead - every message is roughly tripled. Once in source code, once as message key in catalog and once more as a translation. That may vary in length, but it has roughly the same length as message key. It coul

[2019-05-21 16:00] josh-stevens commented on #493
I noticed this happen locally a week ago. I saw this issue and reinstalled my node modules and it seemed to resolve itself. But it came up again in our deployment environment.

I will do a little more investigating to see why this might be coming up in our environment. I really like the way this library works compared to other intl libraries so I'd rather not switch out if I can help it.

[2019-05-21 21:37] theKashey commented on #508
- per locale builds with more than one locale in a build? Strings are quite fast to parse, and strings from a same language groups might compress better together.

So example we target ~20 languages. We might create bundles for 5-languages-in-bundle, ending with just 4 bundles, which would be not much bigger than single-language-bundle. (but this would require research about _pairing_ and _gziping

[2019-05-22 11:48] ywg-jean commented on #334
Hi,
I was curious to see how the new linguijs would behave with next and SSR as I am currently shopping for an I18n solution for my project.

I created a demo app at https://github.com/ywg-jean/linguijs3-next
I was able to make it work in what is probably not a very optimal way; but at least:
- The initial SSR rendered html can be rehydrated
- Toggling language on the frontend works

PS: I am fair

[2019-05-22 13:05] tricoder42 commented on #334
Hi @ywg-jean,
I actually want to test v3 with Next.js as well, because:
- it covers both SSR and client-side localization
- I have a Next.js project which I need to translate ;)

I'll keep you posted about updates. I just skimmed through your repo and I'll post some notes later today.

Thanks for bringing this up 👍

[2019-05-22 20:05] dephiros opened #510 "Run lingui extract for specified files"
**Is your feature request related to a problem? Please describe.**
I am trying to run `lingui extract` in CI steps to warn developer if they forget to run `lingui extract`. However running `lingui extract` over the entire project takes ~10mins

**Describe the solution you'd like**
`lingui extract` should take an optional glob that narrow down the list of files the command run on

**Describe altern

[2019-05-22 20:27] tricoder42 commented on #510
Have you considered [`srcPathDirs`](https://lingui.js.org/ref/conf.html#srcpathdirs) and [`srcPathIgnorePatterns`](https://lingui.js.org/ref/conf.html#srcpathignorepatterns)?

[2019-05-22 20:40] #408 closed

[2019-05-22 20:43] tricoder42 commented on #408
The installation steps are [documented](https://lingui.js.org/ref/macro.html#installation) but probably in an unexpected place. Any suggestions where it should be mentioned?

[2019-05-22 20:44] tricoder42 commented on #469
`srcPathIgnorePatterns` are used as regular expressions, so you can match files with them.

[2019-05-22 20:44] #469 closed

[2019-05-22 20:47] tricoder42 commented on #409
Yeah, sounds like a good idea. The tree shaking won't be even necessary. The production code won't see `macro` package as it's removed in build step (even the import).

[2019-05-22 20:49] tricoder42 commented on #450
Is it a production build? The default message is only removed when NODE_ENV is set to production.

[2019-05-22 20:52] tricoder42 commented on #390
`useLingui` hook was already added to `next` version. See #334 if you want to test it.

[2019-05-22 20:52] #390 closed

[2019-05-22 22:27] dephiros commented on #510
@tricoder42 , I will try to explain the use case a bit better. Let's say my project have these files:
src/a.js
src/b.js
src/c.js
src/d.js

After running `lingui extract` the first time with `srcPathDirs`, we will have a `messages.json` with messages from all the files. However that run get expensive as we add more files(~10mins)

What we want to do is to create a wrapper command that:
- developer

[2019-05-23 02:45] eliseumds commented on #334
I'm a fan of per-language bundles. After working on a website with very complex and long pages, I benchmarked it and it actually improved the performance after I converted react-intl messages into static strings. Not sure if the gains would be the same with LinguiJS, but it definitely makes sense.

[2019-05-23 04:39] tricoder42 commented on #510
Make sense, thank you for explaining!

`srcPathDirs` and `srcPathIgnorePatterns` might help to speed up the extraction, but this is completely different issue.

The tricky part here will be checking if message is obsolete. Since we don't extract messages from all files, we need to check origin of messages: if there're any messages in previous catalog extracted from specified files, but now they're

[2019-05-23 09:02] tricoder42 commented on #396
This is fixed in `next` version. See #499 and #334 for more info.

[2019-05-23 09:02] #396 closed

[2019-05-23 11:10] tricoder42 commented on #334
Most of codebase is already written in Typescript and build is green after a very long time. Further progress should be faster from now 🚀

[2019-05-23 15:01] dephiros commented on #510
Hi @tricoder42, thank you for reopening the issue.
I will try to work on this but a bit busy at the moment so it might be slow going

[2019-05-23 15:16] tricoder42 commented on #510
No worries. I already merged #326, so you can start it from `next` branch.

It's gonna take a while to figure out how it should work, especially with new catalogs API.

With new catalogs, you might have messages split between several files:

[code]

It means, when you run `lingui extract src/componentB/`, it should only updates messages inside `src/componentnB/locales/*/messages.po` catalogs.

Whe

[2019-05-23 15:21] tricoder42 commented on #332
Closing as won't fix. I can't imagine at the moment how this could be done (probably by extending macros even further?), but if anyone has suggestion, feel free to send a PR 👍

[2019-05-23 15:21] #332 closed

[2019-05-23 16:35] dephiros commented on #510
I have good news. I just talked to people at my company and there is interest to support this which means things might be able to move a bit faster.

@tricoder42 , do you have an idea for v3 release timeline? If it is still a bit a way, we might also be interested in backporting this to v2 so we can start using it soon in our company

[2019-05-23 20:50] tricoder42 commented on #510
@dephiros That would be great!

I set the deadline for milestone to beginning of June. I believe the beta could be ready in 1-2 weeks and then I want to test it on several projects (CRA, Next, Gatsby) to find obvious bugs.

Backporting is always an option, just keep in mind that catalogs are a bit different. In v2, you always have just one catalog, while in v3 you can have many. That might complic

[2019-05-23 21:50] josh-stevens commented on #388
I think the documentation was unclear on how to do this. I didn't realize I needed a catalog for my source locale, I thought it would just fallback to using that when the locale was not set. Indeed it does fallback to using that, the only thing it fails to do is interpolate variables. Finally fixed my own issues when I added an `en` catalog and added it as `sourceLocale`/`fallbackLocale` in my lin

[2019-05-24 04:02] rwu823 opened #511 "[loader] 2.8.3 SyntaxError: Unexpected token export"
**Describe the bug**
Throws errors:

[code]

**To Reproduce**
Steps to reproduce the behavior, possibly with minimal code sample, e.g:

[code]

**Expected behavior**
Import the messages without any errors, version `2.8.0` is fine

**Additional context**
Add any other context about the problem here.

- jsLingui version `2.8.3`,

[2019-05-24 09:08] JSteunou commented on #334
@tricoder42 bundles feature looking great, looking forward for it but I'm concerned the DX is dropping down a little because of the new API. Looks like double function call to do ```i18n._(t`my message`)```

I dont know how it could be possible but in a idealistic world a simple ```i18n.t('my message')``` would be the best for DX

[2019-05-24 09:34] tricoder42 commented on #334
@JSteunou It's annoying, but if we want to simplify it, we need to turn whole `i18n` object into macro. I posted an example few comments above:

[code]

The API would be the same for per-locale bundles (new feature) and locale agnostic bundles with runtime loading of catalogs (as it's now).

`i18n.t` looks great, but at the moment there's lot of confusion how it works which leads to several bugs i

[2019-05-24 12:03] lucasecdb commented on #334
I think the `i18n.useLingui()` is also confusing, because it looks like it's doing some side effects, as it doesn't "return" anything (although I know it returns after the macro is applied), but it's necessary for the macro to work and may break in obscure ways if you forget to include it.

another thing I think is a good argument against this is that, by constraining the macro to only be applied

[2019-05-24 12:26] FredyC commented on #508
Btw, how is it going to work server side? Right now we can build a static site and it can be hosted from anywhere. With per-locale bundles, what will decide which file to pull? Is it possible with some client-side code that is locale agnostic? I mean it would be annoying to download eg. "en" locale every time and then download "cs" when client-side code kicks in and figures out which one to use.

[2019-05-24 12:28] FredyC commented on #334
What is the `i18n.useLingui()` going to do anyway? I mean macro is imported, why the extra hook call? This approach looks slightly better (and is compatible with classes), but not sure how that works. Is it actually possible to return a macro function from another function call?

[code]

@lucasecdb Btw, you can make your own HOC that has `useLingui` inside and then easily wrap any class component

[2019-05-24 12:30] lucasecdb commented on #334
exactly, that's what I meant by "before you could write your own HOC or render props component and pass the i18n object from the hook down", but if the i18n is in a macro that won't be possible, right?

[2019-05-24 12:38] tricoder42 commented on #508
SSR and static sites are two completely different things.

SSR - there's no need for per-locale bundle, because you don't need to optimize for bundle size.

Static site - since the site is static, it's just HTML/CSS with locales already baked in. Static sites work on the same principle as per-locale bundles, they're just served on different urls.

btw that's why I want to have unified API which wo

[2019-05-24 12:42] tricoder42 commented on #334
Macros are always transformed into runtime code, so as @FredyC says: `i18n.useLingui()` macro is simply transformed into `const { i18n } = useLingui()` hook call. You can write your own HOC as required.

To avoid duplicate identifiers:

[code]

But we're getting back to question if we really need to pass `i18n` through context...

[2019-05-24 12:50] FredyC commented on #508
I did mean static with JS included that drives the logic, not things like Gatsby.

So you mean you have to go to `site.com/cs` or `site.com/en`? That would mean there needs to be some detection script sitting at "site.com" which will redirect the user to appropriate language version. That kinda slows things down slightly as it's unlikely people will be going to specific language versions directly.

[2019-05-24 12:53] lucasecdb commented on #334
But if you pass it from a HOC, there will also have shadowing:

[code]

[2019-05-24 12:54] FredyC commented on #334
Funny, that's what I was promoting in earlier days that global instance should be enough. It's unlikely you want to have different locales or catalogs per component tree.

I am not sure what you mean by that. I was referring to `i18n.useLingui` version which is seemingly doing nothing.

[2019-05-24 12:55] tricoder42 commented on #508
I was talking about static site, i.e. site without client side endering.

If you're talking about client side rendering, then you need to [detect locale](https://github.com/lingui/js-lingui/issues/508#issuecomment-494277755) early. You can always cache it to cookie or localeStorage, if detection is time consuming (i.e. if it requires to call the backed). In most cases, guessing locale from ACCEPT_

[2019-05-24 12:58] tricoder42 commented on #334
Good point! I don't have an answer yet, feel free to suggest different API.

[2019-05-24 12:58] lucasecdb commented on #334
it sounds like having a global i18n object would solve a lot of problems 😄

[2019-05-24 13:02] tricoder42 commented on #334
We just need an escape hatch for SSR in multi-threaded environments.

[2019-05-24 14:19] FredyC commented on #508
Yea, detecting (and persisting) is an easy part, but how do you tell the backend what locale to load? Is it just going be the same construct I am using for a code splitting? https://github.com/lingui/js-lingui/issues/508#issuecomment-494280290

[2019-05-24 14:25] FredyC commented on #334
I assume that SSR is not really using prebuilt bundles as the browser does? Never really tried it. If it runs the code from the source, why it should be a problem to have a global variable?

The multi-threaded environments are exactly what in Javascript terms? Separate processes? Each of those processes can have its own global variable, or not? I am really fishing here, probably best to leave this

[2019-05-30 14:42] MrLoh commented on #280
Hi, I'm pretty unexperienced with internationalization and have a special use-case where I want to create pseudo locales for white label app deployments. So instead of e.g. `en-US` and `en-UK` I want custom identifiers like `en-Client1` so I can have different version of the same language. Should this be possible out of the box, or are only 'real' locales supported. (Luckily I only need to support

[2019-05-30 14:54] tricoder42 commented on #280
@MrLoh What is `white label app deployment` if I may ask?

As far as I know, you only need to use known language (i.e. the first part of locale), but then you can use any prefix, like `en-dev` or `en-Client1`. `xyz` would fail, because language `xyz` doesn't exists. Also, if you're looking for pseudolocalization, checkout [docs](https://lingui.js.org/tutorials/cli.html#pseudolocalization).

@ghost

[2019-05-30 15:14] queicherius commented on #472
@tricoder42

This is actually quite a big deal, especially for sites that display a lot of formatted numbers. Reusing the formatter is ~27x faster than recreating it. I recently ran into this issue as well ([small blog post for context](https://blog.david-reess.de/posts/hBEx9w-on-number-formatting-and-performance)) and as a result had to write my own `<NumberFormat />` components for the time bein

[2019-05-30 15:15] MrLoh commented on #280
@tricoder42 that should fit my bill, thanks for the super quick reply.

FYI: With white label app deployment I mean, that we develop one (react native) app codebase, which we then publish as several distinct apps with a different app-ID, Icon, Theme, texts to the App Store for each of our clients.

[2019-05-30 15:18] hjylewis commented on #486
I was able to write a test to reproduces this bug.

I'm not sure what the cause is yet since I'm not super familiar with babel. It is definitely the result of the lingui macro and [babel-plugin-transform-block-scoping](https://babeljs.io/docs/en/babel-plugin-transform-block-scoping) which is included in the `es2015` preset.

I'm not sure how the ordering of babel works. Thoughts?

[2019-05-30 15:53] tricoder42 commented on #472
Indeed, this needs to be improved. Thank you @cipix2000 for reporting.

As @cipix2000 said, I want to fix formatters in v3. I want to have an API where you can specify your own formatters (e.g. to use date-fns instead of NumberFormat). As part of this refactoring, I'll make sure the formatter itself is memoized.

I'm not going to fix it in current version, but if anyone were interested I'm happy t

[2019-05-30 15:54] tricoder42 commented on #280
I see! That way you can ship customized locales to each customer. Interesting! Thank you for sharing 👍

[2019-05-30 15:56] tricoder42 commented on #486
As far as I know:

    Plugins run before Presets.
    Plugin ordering is first to last.
    Preset ordering is reversed (last to first).

Could you please create a small repository with minimal example?

[2019-05-31 16:15] tricoder42 opened #512 "Configurable formatters"
**Is your feature request related to a problem? Please describe.**

1. I don't want to use built-in formatters (e.g. I would like to format dates using [date-fns](https://date-fns.org/) instead of [Intl.DateTimeFormat](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DateTimeFormat))
2. I want to use custom formatters, e.g. relative time format.

**Describe the solu

[2019-05-31 16:17] tricoder42 commented on #257
New catalogs were already merged to `next` branch and will be released in next major release, LinguiJS v3.0. See #334 how to test pre-release.

[2019-05-31 16:17] #257 closed

[2019-05-31 16:22] tricoder42 commented on #397
As there's no easy way to determine "fallback" rule, let's simply raise validation warning/error when message is missing:

1. In macro, validate plural rules based on `linguiConfig.sourceLocale` value.
2. In `lingui compile --check`, validate plural rules for each locale. This will be tricky, as we need to parse message and find plural formatters. On the other hand, we need to parse message anyway

[2019-05-31 16:26] tricoder42 commented on #394
Extraction script is looking for `/* i18n */` comment when collection messages, but `Trans` macros are still expected from `@lingui/macro`.

Feel free to add `extractModuleSourceName` to `@lingui/conf` and update `babel-plugin-extract-messages`. Please use `next` branch as a base. It'll be released very soon anyway.

[2019-05-31 16:34] tricoder42 commented on #393
@huan086 I'm closing this as it isn't very urgent, but feel free to reopen when you have a PR. In `next` version the `components` prop of `<Trans>` tag has changed and now it's possible to name the tags:

[code]

[2019-05-31 16:34] #393 closed

[2019-05-31 16:42] tricoder42 commented on #388
Indeed, this needs to be documented. It's common misconception.

In short:
- There're no default messages in production. They're stripped to save the bundle size. If message is missing translation, it's replaced with default one at compile time.
- All catalogs (including sourceLocale) must be compiled. This is especially important for messages with formatting.

Feel free to add it to docs and send

[2019-05-31 16:50] tricoder42 commented on #489
I'm in favor of supporting Fluent, but I don't have capacity to work on it.

- `@lingui/macro` was refactored, that the code is parsed into tokens and message is generated from these tokens. Right now the only implemented message format is [ICU](https://github.com/lingui/js-lingui/blob/next/packages/macro/src/icu.ts). You could implement Fluent in the same way.

- `@lingui/conf` probably needs ano

[2019-05-31 20:38] tricoder42 commented on #481
Hey @mschipperheyn, could you please paste full dependency list for core-js?

[code]

I'm afraid we can't simply upgrade to Babel 7, because lot of people still use it. `@babel/core` is a peer dependency, so it shouldn't pull unwanted libraries unless you install them. You can choose between `@babel/core@bridge` (for v6) and `@babel/core@^7.0.0`. In `next` branch I made few changes, namely `babel-

[2019-06-03 05:29] tricoder42 commented on #334
Hey everyone,
new prerelease (3.0.0-6) has just been published to NPM.

[Documentation](https://lingui-docs-git-next.lingui-js.now.sh/) [Migration guide](https://lingui-docs-git-next.lingui-js.now.sh/releases/migration-3.html)

See updated [Create React App example](https://github.com/lingui/js-lingui/tree/next/examples/create-react-app) or [React](https://github.com/lingui/js-lingui/tree/next/exa

[2019-06-03 09:51] HichemBenChaaben commented on #413
I like the idea and i just wrote a custom addon for this to test language switch within storybook

https://www.npmjs.com/package/storybook-addon-linguijs

[2019-06-03 16:20] ppozniak opened #514 "Imported constants in <Trans> break Jest/Enzyme tests"
**Describe the bug**
Everything works as usual, however tests are failing, saying that variable is not defined.
This happens only when **variable is used in \<Trans\> and it's imported from different file**.
![image](https://user-images.githubusercontent.com/13921243/58816990-934fc780-8622-11e9-91c0-4510e5d97998.png)

All fine if constant is in the same file or is a class property etc.

**To Repro

[2019-06-04 11:18] tricoder42 commented on #413
@HichemBenChaaben Nice! Would you like to add it to the docs?

There's no section for it, so what about if we create [a new section](https://github.com/lingui/js-lingui/new/master/docs/misc) called `Tooling` (`docs/misc/tooling.rst`) and start listing 3rd party libraries there?

The documentation is in RestructuredText format, but feel free to sketch it and I'll finish it 👍

[2019-06-04 11:20] tricoder42 commented on #514
Hey @ppozniak, that's really weird. Could you plase create a small repository with Jest, babel config and failing file?

[2019-06-04 13:05] ktunkiewicz commented on #511
I had the same issue and managed to get around it. The reason for this behaviour is that the CLI tool is choosing to use Babel 6 because some of your other project dependencies pull in babel-core@6.

Correct me if I'm wrong, but as far as I understood the Lingui works with both Babel 6 or 7 and chooses to use one of these depends on which one is available. Obviously, it prefers 6 over 7.

Anyways,

[2019-06-04 13:13] tricoder42 commented on #511
@ktunkiewicz I believe it should be possible. There's already a [wrapper](https://github.com/lingui/js-lingui/blob/master/packages/cli/src/api/compat.js) around babel core functions, so we could conditionally import the correct package, e.g. based on `extractBabelVersion` config option.

Would you be interested in sending a PR? It should:

- [ ] Add `extractBabelVersion` to `@lingui/conf` (values

[2019-06-04 13:17] HichemBenChaaben commented on #413
@tricoder42 Sure i'll do ! 👍

[2019-06-04 14:07] ktunkiewicz commented on #511
Ah, I didn't read the source code of compat.js before, I see now that this simply imports Babel 6.

I'm playing with the source code now to see how to do that and it looks like this is slightly more complicated than just importing conditionally, because if it is supposed to be controlled by config option I'll have to make that config value be passed to some place where the `transform` from Babel 6

[2019-06-04 14:20] tricoder42 commented on #511
It's not that simple: `babel-core` is either `6.26.3` (Babel 6) or `7.0.0-bridge.0`, which imports `@babel/core` (Babel 7).

Thanks for looking into this 🙏

[2019-06-04 23:38] ktunkiewicz commented on #511
what do you think about something like this? https://github.com/ktunkiewicz/js-lingui/pull/new/extractBabelVersion

[2019-06-05 00:26] hjylewis commented on #486
Here's a test that reproduces the bug https://github.com/lingui/js-lingui/pull/515

https://github.com/hjylewis/js-lingui/tree/issue-486/packages/macro/test/fixtures/t-var

[2019-06-05 01:22] hjylewis commented on #457
Looks like this is present in the newer version of [messageformat-parser](https://github.com/messageformat/messageformat/blob/master/packages/parser/test.js#L27) but not in version `2.0.0` that @lingui/core uses.

Here's the messageformat-parser [changelog](https://github.com/messageformat/messageformat/blob/master/packages/parser/CHANGELOG.md)

[2019-06-06 12:26] mschipperheyn commented on #334
I think you should seriously consider dropping babel 6 for version 3. Most libraries have with their major release upgrades and it will remove a lot of problems. On a large scale project with React, node, Material-ui, Razzle, React Native Web etc, @lingui is one of an ever shrinking few that still works with Babel 6. Supporting babel 6 in version 3 makes no sense at all.

Dude, just dump it.I stru

[2019-06-06 12:32] tricoder42 commented on #334
I wish! There's an open PR which add `extractBabelVersion` to config #517. Since babel is just peer dependency, it's up to you what you install. Using this config option you could skip installing babel-core bridge and use @babel/core (ver 7) directly.

If all this effort fails, we'll have to drop it, but I'm afraid it'll cause more problems :/

[2019-06-06 12:44] mschipperheyn commented on #334
Ok, my understanding is that the babel 7 bridge is only needed if the library is based on babel 6, with its own dependencies such as core-js. That is was is causing the problems. If you base on babel 7, and just say: "sorry babel 6 users, time to upgrade". If it can work without the bridge out of the box, I'm good.

[2019-06-07 05:08] hjylewis commented on #457
Actually, I think this is an actual non-production bug with how the lingui compiler parses escaping characters that would exist even after upgrading to messageformat-parser@4.0.0.

In messageformat-parser@2.0.0, using `\\` instead of `'` should escape the curly braces
(i.e. `Maximum file size is \\{filesize\\}`).

In non-production env, messages that are [compiled to strings](https://github.com/li

[2019-06-07 05:40] hjylewis commented on #457
In fact, I was wrong earlier; `messageformat-parser@2.0.0` actually contains support for `'` as an escape character already which might explain the behavior in #421.

[2019-06-07 05:44] hjylewis commented on #421
Try using `''` double apostrophes i.e.
[code]

The [ICU MessageFormat](http://userguide.icu-project.org/formatparse/messages#TOC-Quoting-Escaping) actually uses `'` as escape characters hence why the text in-between is treated as literal text.

Instead, a pair of apostrophes `''` will be converted to a single one `'`

[2019-06-07 06:28] hjylewis commented on #388
This is definitely one of the more confusing things about this library for new users.

While documentation will certainly help, I'm curious what the motivation is for having the runtime compiler format default-messages in development which hides issues that will occur in production. I could be overlooking a reason why the runtime compiler in development is necessary.

This sets developers up for a

[2019-06-07 08:08] tricoder42 commented on #388
This is good point, actually. My motivation was easier setup, but now it's hard to detect if the setup is completed before the production deployment.

I'm in favor of removing implicit runtime parser in development mode.

[2019-06-07 20:40] tricoder42 commented on #334
@mschipperheyn Just to clarify - the PR wasn't merged yet and it's not part of pre-release either. I'll let you know when I merge it.

[2019-06-08 01:52] hjylewis opened #519 "Remove implicit runtime parser in development mode"
**Is your feature request related to a problem? Please describe.**
There is a confusing inconsistency between development and production mode that conceals user error during set up. See the thread in #388 for more details.

**Describe the solution you'd like**
Remove the default runtime parser in development mode

[2019-06-08 01:53] hjylewis commented on #388
Sounds good. I created an issue #519 to track this work.

[2019-06-13 13:24] hjylewis commented on #519
@tricoder42 Should we go ahead and make the API change documented [here](https://github.com/lingui/js-lingui/issues/342#issuecomment-424687026)? Rename `i18n.messageFormat` and export `icu` to its own package? =

[2019-06-13 15:56] aleccool213 opened #521 "Warning when using psuedolocaliation with non-compiled .po files"
**Describe the bug**

We manually import our language catalogs using in a Next.JS app. We want to use psuedo-localization. I read the [documentation](https://lingui.js.org/tutorials/cli.html#pseudolocalization) and it requires that we use the `compile` command. I tried to perform this workflow without the `compile` command only to get this warning in console and that pseudo-localization was not wo

[2019-06-15 00:07] cdsanchez opened #522 "Support for custom message catalog loader"
**Is your feature request related to a problem? Please describe.**
Hello! Great work on js-lingui, looks great so far! We use a custom message catalog format that we would like to continue using as the canonical source of translations in our project. js-lingui, however, does not currently have the option to allow me to use a custom message catalog format.

**Describe the solution you'd like**

I w

[2019-06-17 04:53] tricoder42 commented on #519
I would start with removing conditional development blocks from core:

https://github.com/lingui/js-lingui/blob/e9fead052517ba1deda4e3491a9389d12f93437c/packages/core/src/i18n.ts#L164-L168

That way the app will break in development if it's misconfigured.

---

I'm not sure about the API from linked issue. Alternative might be compiling messages when they're loaded, so the core always works with c

[2019-06-18 05:54] ljani opened #523 "lingui extract crashes with unhelpful error message with accidental default import"
**Describe the bug**
I accidentally had imported `Trans` as a default import from `@lingui/macro` and when I tried to run `lingui extract`, it crashed with obscure error message. As this was my and probably others' first interaction with `lingui`, I'd say it definitely should provide a better developer experience.

**To Reproduce**

[code]

And then run `lingui extract`, which prints the following

[2019-06-18 08:13] tricoder42 commented on #523
Hi @ljani, thank you! We could definitely improve troubleshooting.

In `next` version it shows an error `Unknown macro default`, which we could definitely improve:

https://github.com/lingui/js-lingui/blob/07a5cb77ddd2400cfe0e9c827dc7d91435059afd/packages/macro/src/index.ts#L12-L14

Feel free to send a PR - either improve error message in next version or backport it to master. It shoudl be pretty

[2019-06-18 21:12] hjylewis commented on #457
@tricoder42 This is fixed in v3. Should this be closed?

[2019-06-18 21:38] hjylewis commented on #519
I'm down to keep the compilation outside of `core` that way `core` can always expect compiled messages.

Maybe compiling (runtime and cli) can add metadata like `__js_lingui: { compiled: true }` that can be checked for when messages are loaded that way it can fail and provide useful error messages when a user tries to load uncompiled messages.

[2019-06-19 01:33] hjylewis commented on #519
Actually, this is more complicated than I thought since the cli compiler does more than just compile messages to function. Namely, it also resolves default and fallback messages.

My guess is there are already inconsistencies between the implicit runtime parser and the cli one (fallback locale isn't respected) and I'm worried more will develop over time which will lead to confusion. I think more t

[2019-06-19 08:20] tricoder42 commented on #457
@hjylewis Yeah, good point! 👍

[2019-06-19 08:20] #457 closed

[2019-06-19 08:23] tricoder42 commented on #519
You're right, the CLI actually builds message catalogs by resolving translations, fallbacks and defaults and then compiles it. Runtime parse would just compile it, leaving building message catalog up to user.

Sounds good to me. First, let's make production/development runtime consistent and then we can figure out how to support other usecases (e.g. raw catalogs, etc).

Thanks 👍

[2019-06-19 15:56] nodkz opened #524 "I want to write lingui-express-middleware"
I want to write `lingui-express-middleware` with TypeScript but if you accept this package to your monorepo I'll start to do it with plain JavaScript.

I want to fork https://github.com/i18next/i18next-express-middleware, keeping the same configuration features.

Thoughts?

[2019-06-19 15:57] nodkz commented on #524
Or maybe already exists express middleware for linguajs?

[2019-06-19 16:44] josh-stevens commented on #437
So I was using i18n.plural() which worked in development but didn't work when deployed in a production environment. I get `l.c.plural is not a function`. I'm about to try a deploy where I switch to using `i18n._(plural())` which also worked in local development but no idea if it will work deployed

[2019-06-19 19:41] josh-stevens commented on #437
So `i18n._(plural())` worked using the plural macro. This is definitely a bug, since it works in development mode. But it would be just as good to update the docs on this page to reflect correct usage: https://lingui.js.org/guides/plurals.html

[2019-06-20 23:55] aldeka opened #525 "Lingui ignores whitespace in multi-item Trans tags"
**Describe the bug**
Any whitespace following a span wrapped by a lingui `<Trans>` tag is removed, contrary to React's own behavior.

**To Reproduce**

In React, the following markup

[code]
produces "Welcome Jane to your website."

When wrapped with a lingui Trans tag, like so:

[code]
the output is "Welcome Janeto your website." -- the space after the span is removed.

**Expected behavior**

I e

[2019-06-21 08:34] tricoder42 commented on #525
Hi @aldeka, sorry for problems. This issue is already fixed in `next` branch:

https://github.com/lingui/js-lingui/blob/e9fead052517ba1deda4e3491a9389d12f93437c/packages/macro/src/macroJsx.ts#L13-L28

If you want, backport it to `master` branch and please send a PR. I believe the relevant lines are in `babel-plugin-transform-react`:

https://github.com/lingui/js-lingui/blob/f212786af02cb7c97476464

[2019-06-21 14:48] tricoder42 commented on #524
Hi @nodkz,
thank you for yout interest! In general I'm trying to minimize the amount of packages in this monorepo.

What about adding it to [lingui](https://github.com/lingui) GitHub organization? I could add you as a maintainer/contributor. What do you think?

I'm looking at the source code of `i18next-express-middleware` I would like to add language detection to LinguiJS in near future, but I do

[2019-06-22 19:19] landsman opened #526 "official solution for language switcher"
Hi guys,

I am looking for official tutorial how to get array/object of added locales.
Manually added my custom array to `package.json` is generated warnings:

[code]

**Config:**
[code]

I do not want to create another static file with this definition. There is missing some clear dynamic solution in my eyes. Am I right or I just mistaken and there is some doc about this?

[2019-06-22 21:49] landsman opened #527 "doc: not working link to rendering reference"
I wanted to send PR with fix but I can not find the right article:
https://github.com/lingui/js-lingui/blob/master/docs/ref/macro.rst#render

[2019-06-23 17:54] tricoder42 commented on #526
Hi,
this will be solved in `next` version, where locales are defined in config:

[code]

See #334 for more info.

As for now, you should create a separate file manually with runtime config and read values from there.

[2019-06-23 17:54] #526 closed

[2019-06-23 17:55] tricoder42 commented on #527
Right article for what? Could you be more specific please?

[2019-06-24 02:29] just4fun opened #528 "Feature: Could we extend/inherit existing locale to new locale?"
**Is your feature request related to a problem? Please describe.**

My app supports Singapore market at the beginning, so I created **en** locale for it. These days we were asked to support another market, Australia, which will use English as well, but the content is a little different. Instead of creating new locale like **en_AU** and copy and paste all translations from **en**, then do according

[2019-06-24 07:46] landsman commented on #527
For not working link: https://github.com/lingui/js-lingui/blob/master/docs/ref/rendering-translations

[2019-06-24 09:28] tricoder42 commented on #528
Yes, this is one of planned features, see #280

If you'd like to move it forward, feel free to send a PR. Use `next` branch as a base.

[2019-06-24 09:28] #528 closed

[2019-06-24 09:29] tricoder42 commented on #527
Ah, interesting. The link should point to this section: https://github.com/lingui/js-lingui/blob/master/docs/ref/react.rst#rendering-of-translations

[2019-06-24 16:01] just4fun commented on #528
@tricoder42 thanks for the information.

[2019-06-26 07:37] nodkz commented on #524
@tricoder42 great!

Now I'm working on https://github.com/nodkz/lingui-express-middleware
When it will be ready I'll ping you for repo transferring.

But also I'm working under integration with Fluent, so when I got a complete working solution I'm also ping you. Did somebody write a Fluent format for Lingui or not?

[2019-06-26 07:43] tricoder42 commented on #524
I don't think so, but that would be actually great!

Thank you for your contribution! 👍

[2019-06-26 12:38] Hotell commented on #415
I'm facing similar issue. The whole extraction behaves very weird/doesn't work.

**Versions:**

[code]

- We're using typescript with babel7 , so types are just stripped away, that definitely shouldn't be the cause of this issue
- it's a monorepo project

**config:**

[code]

[code]

## Additional bugs:

- `Plural` doesn't work with `id`

[code]

[2019-06-26 13:23] tricoder42 commented on #415
Hey @Hotell, what's your babel config? It seems you're mixing macros with plugins. You should use either one and not mix them together.

[2019-06-26 13:28] tricoder42 commented on #415
Ideally please create a repository with minimal example so we can debug the issue quickly.

[2019-06-26 13:28] Hotell commented on #415
[code]

I'm not sure I follow

[2019-06-26 13:29] Hotell commented on #415
Also `Plural` gets caught when used from `@lingui/react`

[2019-06-26 13:34] Hotell commented on #415
I wished I'd have time for that hah. That's a non trivial request when taking into consideration the size of the project...

[2019-06-26 13:46] tricoder42 commented on #415
If you use macros, definitely don't import `Plural` from `@lingui/react`.

In LinguiJS 2.x (current version), there're two ways how to transform components into ICU MessageFormat - plugins and macros:

**Plugins**:
- add `@lingui/babel-plugin-transform-{js,react}` to `.babelrc`
- import `Trans`, `Plural` and other components from `@lingui/react`
- this approach is deprecated and removed in LinguiJ

[2019-06-26 13:50] Hotell commented on #415
I'm using `@lingui/macro` with v2 solely. It doesn't work with `Plural` -> strangely enough id does when `Trans` "low level" ICU is used directly `<Trans id={ '{count, plural, one {At least # lower-case letter} other {At least # lower-case letters}}' } />`

I'm gonna try to use v3 and get back here with results ( if there will be any )

In the meantime I appreciate your time and help ✌️.

Cheers

[2019-06-26 13:53] tricoder42 commented on #415
Unfortunately, the v3 isn't production ready yet :/ See #334

I'll try to setup the repo this evening. I'm suspicious that it's either Typescript related (LinguiJS uses TypeScript 2.x, not Babel preset) or related to some babel plugins.

[2019-06-26 14:01] Hotell commented on #415
I appreciate your efforts Tomas, but it's open source... In my experience it should be consumer responsibility to provide demo which simulates described "bug", not the authors. Our time as maintainers is very precious. So please don't waste your time on creating repro. I'll do it, when I find some time today...

cheers 👍

[2019-06-26 14:18] tricoder42 commented on #415
I know, you’re right. I’m just open-source junkie - when I see a problem I can’t resist solving it. If I weren’t super busy at work right now, I would already start working on it ;)

Let me know if I can further help or clarify something.

Cheers
On 26 Jun 2019, 16:01 +0200, Martin Hochel <notifications@github.com>, wrote:

[2019-06-26 15:03] Hotell commented on #415
Hmm so, I've converted weback js/flow/react example to typescript with latest versions of deps. Looks like works there (attached) Check `Form` within `Children.tsx`.

- There are some type errors because 3rd party definitions are not correct...
- I didn't tried tests ( not important at the moment )
- I might submit PR with this example, WDYT ?

Everything works, hmm. Looks like I don't have `@ling

[2019-06-26 15:09] Hotell commented on #415
so after adding `"@lingui/babel-preset-react": "2.8.3",` `Plural` macro works.

- strange thing is that CLI won't crash when that plugin is missing 👀

[2019-06-26 15:42] Hotell commented on #456
I was facing similar issues although with `Plural` from `@lingui/macro` 👉 https://github.com/lingui/js-lingui/issues/415#issuecomment-505874642

Make sure you have  `@lingui/babel-preset-react` installed and set within presets within your babel config. That solved my problem

<p>
   <Plural
      id="Inbox.messagesCount"
      value={messagesCount}
      one="There's # message in your inbox"