[2017-01-31 23:15] tricoder42 opened #1 "Warn about children of Plural, Select, Ordinal components"
Children of these components are ignored. Either warn or throw an error.

[2017-01-31 23:16] tricoder42 opened #2 "Warn about missing `value` variable in Plural, Select, Ordinal"
`value` props is required for these components and essential for generating of ICU message id. Either warn or throw an error.

[2017-01-31 23:17] tricoder42 opened #3 "Type-check offset in Plural"
The `offset` prop must be a number, not a variable. Either warn or throw an error.

[2017-01-31 23:21] tricoder42 opened #4 "Warn about missing and unused elements in Trans"
`Trans` might either require a component at `index` which is missing or use fewer components than is provided. Warning/error should be raised in both cases.

[2017-01-31 23:25] tricoder42 opened #5 "HMR and change of active language"
`Trans` component gets messages from context. Relying on an update of context is unsafe. `I18nProvider` should notify `Trans` components using listen/subscribe pattern.

**Bonus**: Figure out how HMR is working with message catalogues.

[2017-01-31 23:30] tricoder42 opened #6 "Custom formats for variables"
ICU format supports custom formats for numbers and dates.

Add `Number` and `Date` components which use `Intl.dateTimeFormat` and `Intl.numberFormat` (see https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl)

Example:

`<Trans><Number value={count} style="percent" /> of surface</Trans>`

should result in:

`"{count, number, percent} of surface"`

[2017-02-04 14:56] #5 closed

[2017-02-04 15:26] tricoder42 opened #7 "Convert ICU message to React element tree"
Parse ICU message as a string and return a tree of React elements. This transformation allows using custom Format elements  #6 and also speeds up rendering of messages with inline components.

[2017-02-08 22:00] tricoder42 opened #10 "Pure JS interface"
React components are great because they care of updates after language/message changes. However, sometimes it's necessary to get string directly instead of React node tree, e.g: for element attributes, `document.title`, etc. Sometimes it needs to be done even out of the `ProvideI18n` context, e.g. inside sagas (from redux-saga).

## Phase 1 - Translation of raw ICU message format

[code]

This is

[2017-02-08 22:51] tricoder42 commented on #10
### Variable names

Tagged template literals don't provide name of variables passed in, so it's not possible to get `Hello {name}` instead of `Hello {0}`. One solution might be provide wrapper for parameters, like:

[code]

or pass variable inside object 🎉

[2017-02-12 14:11] #10 closed

[2017-02-12 14:12] tricoder42 commented on #3
Fixed as part of #12

[2017-02-12 14:12] #3 closed

[2017-02-13 10:28] tricoder42 commented on #2
Fixed in https://github.com/lingui/js-lingui/commit/fca2586458cfa7299ad7ede3d0c2fe41598014c5

[2017-02-13 10:28] #2 closed

[2017-02-21 03:31] MrOrz opened #13 "Avoiding "Localisation function not found for locale""
`i18n.t` requires activated language to match one of the [CLDR language codes](http://www.unicode.org/cldr/charts/latest/supplemental/language_plural_rules.html). If not, `i18n.t` will fail within messageformat.js, with an error message that is not so informative: `"Localisation function not found for locale"`.

lingui can detect this when running the CLI`lingui add-locale`, and when `i18n.activat

[2017-02-21 06:06] tricoder42 commented on #13
Good point, thank you!

I would love to provide more meaningful help and give a hint what locales are valid, but it's a bit complicated. From the [http://cldr.unicode.org/index/cldr-spec/picking-the-right-language-code](docs):

1. Find ISO-639-3 language code
2. Use the two-letter code if there is one.
3. Verify that the code is in http://www.iana.org/assignments/language-subtag-registry
4. If the

[2017-02-21 06:06] #13 closed

[2017-02-22 14:00] tricoder42 opened #14 "Catalog namespaces"
I've been thinking about namespaces for a while and https://github.com/i18next/react-i18next/issues/199#issuecomment-281654374 made me to write it down.

## Multiple namespaces

Sometimes are messages split in several message catalogs. Both catalogs might contain message with the same ID and it that case it would be overwritten without namespacing messages from different catalogs.

This feature al

[2017-02-22 14:40] tricoder42 opened #15 "Why React components instead of key or functions"
Just to make it clear, there're two i18n APIs:

- `lingui-i18n`, for vanilla javascript (`i18n.t'Hello World'`). This works without React and it's a base for future integrations.
- `lingui-react`, for React components (`<Trans>Hello World</Trans>`) which under the hood uses `lingui-i18n`, so it's possible to use it for translation of attributes (`<Trans title={i18n.t'Title'}>Hello World</Trans>`)

[2017-02-22 14:50] davidfurlong commented on #15
@tricoder42 I felt a bit bad hijacking the thread too, but I didn't know where to take the conversation. This is good.

Well you shouldn't be skipping changes to the HOC passed translation props anyways, so this shouldn't pose an issue.

You could theoretically return a html styled string from the function served by the translation (and then parse it) (instead of just strings, have something like:

[2017-02-22 14:51] davidfurlong commented on #15
What do you mean by this?

[2017-02-22 14:52] davidfurlong commented on #15
But the translators have no idea what the tags are?

[2017-02-22 14:53] davidfurlong commented on #15
could be solved by a memoized function

[2017-02-22 14:55] davidfurlong commented on #15
I like the way the contents automatically become the key

[2017-02-22 15:03] davidfurlong commented on #15
The method of using
`<Trans></Trans>` everywhere encourages having big translation blocks. I'm not sure whether its best principles to keep them small or not, but I'd imagine so

[2017-02-22 15:14] tricoder42 commented on #15
The component skipping update might be high above the HOC. It might not even be aware of some i18n going on down in tree. This is common bug in `formatjs` and I guess other libs too: You switch language, but not all translations are updated. So they recommend to **reload** the page, to avoid any problems, but it's unnecessary.

I'm working on sth similar. `lingui-cli` will have a `compile` method,

[2017-02-22 16:24] davidfurlong commented on #15
I suppose this could be the case, but it seems you have written bad `shouldComponentUpdate` methods if you are stopping rerender propagation for the entire subtree when the change in props does need to propagate.

Ah I see. Yes this is an eye sore and I don't want this kind of crap in my codebase.

Well thats committing each translation to using the same HTML elements. It also seems like its addin

[2017-02-22 17:40] davidfurlong commented on #15
I threw together a little proof of concept

https://github.com/DeedMob/react-location-translations

[2017-02-22 20:38] tricoder42 commented on #15
The problem is that language/messages are passed in context and only the last component receives it from HOC as props. Updates in context needs to be handled carefuly, as described here https://medium.com/@mweststrate/how-to-safely-use-react-context-b7e343eff076#.mohyrubc7

Yes, sometimes it makes sense and it's possible:

[code]

This will result in three messages:

1. "Click <0>here</0> to set p

[2017-02-23 12:21] davidfurlong commented on #15
You're totally right. Thanks for telling me this, I haven't used React's contexts.

Yeah everyone will have babel anyways.

I have updated my mini localized components library to reflect this change and I'm quite happy with it. Demo @ https://deedmob.github.io/react-local-translations/example/index.html

[2017-02-24 13:00] tricoder42 opened #16 "Add support for range pluralization rules"
Interesting feature. Plurals have next to ordinal and cardinal also third category: range: http://www.unicode.org/cldr/charts/28/supplemental/language_plural_rules.html

From: https://github.com/yahoo/react-intl/issues/868

[2017-02-24 13:01] tricoder42 commented on #15
@davidfurlong That's a good stuff! I'm a bit busy this week with other projects, but I'm going to push custom formats this weekend. I'll take a look at local catalogs after that.

[2017-03-06 11:41] #1 closed

[2017-03-06 11:41] #6 closed

[2017-03-06 11:46] tricoder42 commented on #16
Question is, how to extend ICU MessageFormat with ranges. MessageFormat allows formatting of single variables in form `{argument, formatType, formatArguments}`. However, range depends on two arguments.

Two possible variants:

1. `{argument1 argument2, range}` - Probably breaks a lot of MessageFormat parsers
2. `{argument1, range, argument2}` - Valid ICU and also it can be read as `argument1-argum

[2017-04-05 07:11] tricoder42 opened #17 "[WIP] Create new, structured documentation"
⚠️ **Work in progress**

[Documentation](https://lingui.github.io/js-lingui/)

# Website

- [ ] New homepage (based on https://date-fns.org/)
- [ ] Quick search bar
- [x] Auto build after commit to master
- [x] Make available package changelogs after release

# Content

## Tutorials

- [x] Javascript
- [x] React
- [x] CLI
- [x] Testing

## References

- [x] `lingui-i18n` - i18n for Javascript proj

[2017-04-21 15:57] brunesto opened #19 ".js files shipped in npm are not ES5"
Hi, it seems to me that the .js files shipped in npm are not ES5, so it wont work with IE11 and older

    $ npm install --save-dev lingui-i18n
    $ cat node_modules/lingui-i18n/lib/compile.js | grep -Hn '{ language,'
    (standard input):73:    return formattedMessage(context({ language, params, formatStyles }));

it should be  { language:language, params:params ...
And I guess there is the same

[2017-05-18 10:37] tricoder42 commented on #19
Fixed in latest releases on npm (https://github.com/lingui/js-lingui/commit/73b6195300b881d3b6bf5383601104eafa8122a4)

[2017-05-18 10:37] #19 closed

[2017-05-18 13:06] brunesto commented on #19
Thanks! just tested it on IE11 and it works fine now

[2017-05-18 13:34] tricoder42 commented on #19
Good to hear, thank you for reporting a testing!

[2017-06-16 19:50] tricoder42 opened #21 "Warn about missing `babel-plugin-lingui-react`"
`lingui-react/Trans` renders empty components when babel plugin isn't installed.

[code]

[2017-06-16 20:53] tricoder42 commented on #21
Fixed in e49cb6be9bc887b677cfa0043b9c50829b109d10

[2017-06-16 20:53] #21 closed

[2017-06-18 15:02] tricoder42 opened #23 "Allow built-in components in render prop"
Just a small nitpick.

It's possible to use React.Component to render translation: `<Trans render={Component}>...</Trans>`, but built-ins can be passed as elements only: `<Trans render={<h1 />}>...</Trans>`.

Proposal: `<Trans render="h1">...</Trans>`

It's like 4 chars difference, but nice to have 😸

[2017-06-29 10:05] akkie opened #25 "Cannot find flow definition for lingui-react"
I try to use `lingui-react` with a project that uses flow. But I cannot get it working with flow, because flow cannot find the library definition.

Currently I get the error:
[code]

I've tried all the suggestions spread around in issue trackers or blocks. But none of them works. Flow typed does also not create stub definitions for the library. It's also not possible to include it as lib from the

[2017-06-29 10:47] tricoder42 commented on #25
Hey @akkie,
flow types are included in `lib` directory according to [this](https://github.com/facebook/flow/issues/1996#issuecomment-301816552) suggestion from flow maintainers.

Do you have `node_modules` in your `[ignore]` section in `.flowconfig.ini`? Again, according to flow maintainer, you [shouldn't do that](https://github.com/facebook/flow/issues/1996#issuecomment-294374339). Ignore 3rd par

[2017-06-29 11:48] tricoder42 commented on #25
Broken flow types are fixed in the latest release of `lingui-react`. If you remove `node_modules` from `[ignore]` section in your `.flowconfig`, the `lingui-react` flow types will be loaded correctly.

Let me know if you still have some problem 👍

[2017-06-29 13:37] akkie commented on #25
Thanks for your answer :+1:

Ignoring the `node_modules` directory may be discouraged, but it's mostly the only solution to avoid a lot of errors, because flow [typecheck also files which are not imported into a project](https://github.com/facebook/flow/issues/869).

If I ignore all files from `node_modules` expect those starting with `l` and `m` (`<PROJECT_ROOT>/node_modules/[^lm].*`),  I get the

[2017-06-29 13:41] akkie commented on #25
This is my `.flowconfig`:

[code]

[2017-06-29 13:46] tricoder42 commented on #25
As I understand, the correct way is to ignore broken libs explicitly:

For example:

[code]

**Regarding getters/setters error** - this seems to be bug in flow itself: https://github.com/facebook/flow/issues/2826
Add `unsafe.enable_getters_and_setters=true` to `[options]` as a temporary workaround.

**Regarding other errors** - what version of libs do you have? Have you updated lingui-* packages t

[2017-06-29 14:09] akkie commented on #25
I've updated the version and have exact the same versions you listed.

[2017-06-29 14:11] tricoder42 commented on #25
Yes, I've found the problem: I can't supress flow errors in my code, because suppressing comment depends on configuration. I'm trying to fix all errors without comments now.

[2017-06-29 14:34] tricoder42 commented on #25
Alright, after series of patch releases, it's finally fixed. I've just updated my project which uses `lingui-react` and I got no errors from `lingui-` packages.

The latest version is `lingui-react@0.12.5`

Let me know if it helps.

[2017-06-30 05:52] akkie commented on #25
@tricoder42 Awesome! No it works. Thanks :+1:

[2017-06-30 05:52] #25 closed

[2017-06-30 07:06] akkie opened #27 "The library make-plural has issues with CSP"
The library `make-plural` uses a [new Function](https://github.com/eemeli/make-plural.js/blob/efa478629027e43c64c242ec61d4a793fe57de41/src/make-plural.js#L202) construct, which violates the script-src CSP rule.

Please see: https://developer.chrome.com/extensions/contentSecurityPolicy#relaxing-eval

The policy against eval() and its relatives like setTimeout(String), setInterval(String), and new F

[2017-06-30 07:10] tricoder42 commented on #27
Interesting, thanks!

I'll see if we can replace it with anything. After all, all plural rules are from CLDR repository and there's plenty of libs out there which parses CLDR data.

[2017-06-30 07:14] tricoder42 commented on #27
Probably this one, because soon I'll need more data from CLDR https://www.npmjs.com/package/cldr

[2017-06-30 07:22] akkie commented on #27
It uses also the [new Function](https://github.com/papandreou/node-cldr/blob/4efcaa509141340c63c76dfc42e18c678b3c8195/lib/cldr.js#L833) construct. So I'm not sure if would also violate against the CSP rule.

[2017-06-30 07:28] tricoder42 commented on #27
Good point!

I need to focus on next major release coming in few days. I'll come back to this once the release is out.

Switching underlying lib won't break public API, so it can be done anytime. Although this one is a potencial security issue and should be resolved asap.

[2017-06-30 07:35] tricoder42 commented on #27
Thinking about it, this issue will be probably solved in next release.

`make-plural` will be used in browser only during development. For the production build, message catalogs are precompiled and plural rules are injected to them. I looked at one of these compiled message catalogs and there's no `new Function`, just generated plural function.

We could precompile all plural rules for development

[2017-06-30 11:03] eemeli commented on #27
I replied to the upstream comment; unfortunately `new Function` is a rather core part of the make-plural compiler. But that should not stop you from being able to use the library here; the compilation really should not be a part of your runtime.

Had a quick look at how you're using make-plural atm and in the `compile-messages` branch. I'd recommend that you replace `loadLanguageData` with somethi

[2017-06-30 11:13] tricoder42 commented on #27
@eemeli No worries, thank you for your response.

I've done something similar what you suggests only few minutes ago (https://github.com/lingui/js-lingui/commit/e3355a4df9c412219d90e8cd4d8b91a33dd4b8a9), but your version is much better! Thank you again ;)

Cheers!

[2017-07-03 20:02] Peping opened #31 "React - Using <Trans> with object properties"
I haven't had much luck doing
[code]
it always renders `Hello undefined`. However if I change it to
[code]
I get `Hello Foo`, which is the output I expected in the first case. Is this a bug that's easy to fix? I'll be happy to PR if you point me in the right direction.

[2017-07-03 20:10] tricoder42 commented on #31
This isn't bug, it's known [limitation](https://lingui.gitbooks.io/js/content/ref/react.html#variables-inside-components) (Link to new docs, but it's also mentioned in [old one](https://github.com/lingui/js-lingui/wiki/Ref:-React#variables-inside-components))

However, this should at least raise an error or warning in console.

[2017-07-03 20:15] Peping commented on #31
Now that you mention it I do remember seeing it in the docs. I'll look into what I can do to make this happen.

[2017-07-03 20:19] tricoder42 commented on #31
I think we could support object properties:

Before:
`<Trans>Hello {props.user}</Trans>`

After:
`<Trans id="Hello {props_user}" values={{ props_user: props.user }} />`

We could also convert constants:

Before:
`<Trans>Hello {props.user}</Trans`

After:
`<Trans id="Hello {0}" values={{"0": 42}} />`

I don't know if we should support anything else (like function calls). What do you think?

[2017-07-03 20:24] tricoder42 commented on #31
It's this line: https://github.com/lingui/js-lingui/blob/next/packages/babel-plugin-lingui-transform-react/src/index.js#L224

All we need is calculate name, instead of `exp.name`.

If you want to explore AST tree, great tool for it is [astexplorer.net](https://astexplorer.net/#/gist/a144c515a90d0ed102d2e3983d8137bd/0a23e59ef456d5357d0a41f28360dbfd8d98c40d)

[2017-07-03 20:27] Peping commented on #31
I think it's technically possible and definitely useful in some situations. The only problem I see is with generating parameter keys.

`<Trans>You rolled {Math.floor(Math.random() * 6 + 1)}</Trans>`
turns into
<Trans id="You rolled {???}" values={{"???": Math.floor(Math.random() * 6 + 1)}} />

The first time I used parametrized messages in Lingui it felt so much like React that I forgot there was

[2017-07-03 20:29] tricoder42 commented on #31
We could treat it as *positional argument* instead of *named argument*.

`<Trans id="You rolled {0}" values={{"0": Math.floor(Math.random() * 6 + 1)}} />`

[2017-07-03 20:31] Peping commented on #31
That's probably a good idea for constants and complex expressions. For simple expressions like `name` or `object.name` we could do named arguments.

[2017-07-03 20:32] tricoder42 commented on #31
Originally, I wanted to keep messages as clean as possible, so I would rather do:

[code]

rather than

[code]

but that's just my taste :)

However, argument name is useful also for translator who gets a small hint what the argument might be. 🤔

[2017-07-03 20:34] tricoder42 commented on #31
I agree to use *positional arguments* for constants and complex expressions, while *named arguments* for variables and object properties.

What about `messages[0].title`? :) Go for `messages_0_title`? Then we can go deeper: `messages[props.featured].title`, which would be like `messages_props_featured_title` and that's probably over the line :/

[2017-07-04 08:36] tricoder42 commented on #31
I tried to generate name from expression, and it works:

[code]

[code]

It could literally works with *any* expression (the if condition just need to match other cases like `CallExpressions`, etc)

However, I don't think it's a good idea in general case. Ideally, all *static* values could be used as named arguments (variables, object properties, array indexes), while *dynamic* values (function ca

[2017-07-04 08:54] Peping commented on #31
Agreed. I'm right there with you.  Stick with named arguments for simple identifiers, positional arguments for any other expression.

[2017-07-04 09:20] tricoder42 commented on #31
Fixed in `next` branch, I'll release it with upcoming major release:

[code]

[code]

Thanks for suggestions! 👍

[2017-07-04 14:35] #23 closed

[2017-07-04 14:35] #27 closed

[2017-07-04 14:35] #31 closed

[2017-07-04 14:36] tricoder42 commented on #7
Fixed in 1.0

[2017-07-04 14:36] #7 closed

[2017-07-06 13:27] akkie opened #32 "babel-plugin-lingui-extract-messages doesn't work when targeting IE 11"
If I add the browser `ie 11` to my [babel-preset-env](https://github.com/babel/babel-preset-env) config, then I get some errors if I try to build my application:

[code]

I'm not sure if this has to do with js-lingui or if it's an issue from another component.

[2017-07-07 11:15] tricoder42 commented on #32
Thank you for bug report!

Unfortunately, I'm not able to replicate it. There's major release coming in next few days, could you please try it?

[code]

And then run: `lingui extract`

`babel-plugin-lingui-extract-messages` is no longer part of `babel-preset-lingui-react`. It's add manually by CLI when running `lingui extract` (the reason is performance - messages shouldn't be extracted on every b

[2017-07-07 12:50] akkie commented on #32
OK. Will test it if the new version is released.

Could it not test if the catalog is up-to-date based on a timestamp cached for every catalog. So that  the catalog gets automatically built if something has changed?

[2017-07-07 13:15] tricoder42 commented on #32
That could work, but still you need a catalog only when extracting messages for translators, not for development. Also, having babel plugin added in `lingui extract` has another advantage, that it works also for projects which can't edit the babel config.

[2017-07-07 14:55] tricoder42 commented on #32
@akkie I've just published new major version, could you please try if the bug is still there.

There're few backward incompatible changes covered in [Migration guide](https://lingui.gitbooks.io/js/content/guides/migration-1.html). Most of changes are low-level api, only few affects [react](https://lingui.gitbooks.io/js/content/guides/migration-1.html#react-api)

[2017-07-09 14:21] LFDMR opened #33 "lingui cli add-locale"
Hi,
I just upgraded to the new version 1.0.0 of lingui, and I am encountering a problem with the command
`lingui add-locale en`
I got this messages if I don't create my locale path

[code]

And when I create the path I got:
[code]

Here is my config:
[code]

[2017-07-10 05:17] tricoder42 commented on #33
Thanks! It's fixed in lingui-cli@**1.0.2**

[2017-07-10 05:20] #33 closed

[2017-07-10 06:55] tricoder42 commented on #32
I've just tried following `.babelrc` config:

[code]

in [tutorial repository](https://github.com/lingui/tutorial-lingui-react/tree/master/recommended), but I still get no error.

Closing now, feel free to reopen when you have more info.

[2017-07-10 06:55] #32 closed

[2017-07-10 08:34] akkie commented on #32
I try to migrate to 1.0.1, but for me it's not really clear how a catalog should look like. Previously we had message files in the form:
[code]

But now we have a catalog in the form:
[code]

Does this mean that the files are now structured like this:
[code]

If yes, then [this](https://lingui.gitbooks.io/js/tutorials/react.html) part of the documentation is outdated.

[2017-07-10 08:52] tricoder42 commented on #32
Yes, good catch, sorry for mistake.

It should be:

[code]

(just wrap messages in dictionary)

However, it's better to load compiled message catalogs during development, so it works exactly as in production:

[code]

You can compile catalog with `lingui compile`. (I guess we could add webpack loader to handle compilation automatically.)

[2017-07-10 08:54] tricoder42 commented on #32
Tutorial fixed in https://github.com/lingui/js-lingui/pull/36

[2017-07-10 08:59] akkie commented on #32
It's a bit confusing sometimes you use:

[code]

and sometimes:

[code]

[2017-07-10 09:05] tricoder42 commented on #32
I went through docs and it's consistent now.

Recommended way is `import catalog from 'locale/en/messages.js`.

The other way is supported for backward compatibility and when you can't/don't want to compile messages. I should probably remove it from docs completely, so it's less confusing.

[2017-07-10 10:51] akkie commented on #32
Yes, I think it's better to remove it or to explain the difference between the two file formats.

JSON: Source file from which the catalog will be built
JS: Compiled message catalog

Anyway, I cannot get the lib to work. Is it normal that the compiled format has the form:
[code]
?

[2017-07-10 11:15] tricoder42 commented on #32
My apologies! I was fixing every little detail before the major release and I forgot to document the most important part: `unpackCatalog` from `lingui-i18n`

The message catalog is "minified"  and need to be unpacked before loaded:

[code]

I've updated [tutorial](https://lingui.gitbooks.io/js/tutorials/react.html#loading-translated-messages) in https://github.com/lingui/js-lingui/pull/37

Also, t

[2017-07-10 11:32] akkie commented on #32
Thanks :+1:

Yea, I use this in a similar manner.

If I compile my German messages file, then the compiled catalog contains only the English variant.

My source file contains as example:
[code]

The compiled catalog contains then:
[code]

It seems that it uses the key also as value.

[2017-07-10 11:53] tricoder42 commented on #32
I see. I was able to replicate this error by using old-style message catalog. Format of message catalog have changed as stated in migration guide (https://lingui.gitbooks.io/js/content/guides/migration-1.html#cli).

All you need is run `lingui extract`. It will merge translations from previous catalog (even if it's in old format) and generate a new one.

Finally, `lingui compile` should work as ex

[2017-07-10 12:14] akkie commented on #32
Sorry, I should better double check the documentation :wink:

Can it be the case that `lingui extract` doesn't work with flow?

[code]

[2017-07-10 12:21] tricoder42 commented on #32
I'm using flow as well without any issues. `lingui-cli` only extends your `.babelrc` config, but I guess you use `react` plugin, which adds support for flow syntax.

Is `fetchCatalog` class method? Standalone functions must have `function` keyword after `async`:

[code]

without `function`, I'm getting the same error:

[code]

[2017-07-10 12:39] akkie commented on #32
Yes, it's a class method.

I use [neutrino.js](https://neutrino.js.org/) which does all the magic.

Any idea for a workaround?

[2017-07-10 13:04] tricoder42 commented on #32
Isolate `I18nApi` component, so it doesn't have any translations in it and then ignore it using [`srcPathIgnorePatterns`](https://lingui.gitbooks.io/js/content/ref/cli.html#srcpathignorepatterns-array) config:

[code]

Please update to latest lingui-cli@**1.0.3**. I fixed pattern matching so it excludes also files, not only directories.

Does it work for you as a temporary workaround? I don't have

[2017-07-10 13:24] akkie commented on #32
I use flow also in react components, so your proposal won't work. I've created a `i18n` env in babel which adds the necessary presets and plugins.

[code]

Then I can execute `cross-env BABEL_ENV=i18n lingui extract`.

I'll ask in the [Neutrino.js Slack Channel](https://neutrino-slack.herokuapp.com/) if there is a way to execute third party commands with the generated babel configuration.

[2017-07-10 13:31] akkie commented on #32
@tricoder42 Is it intended that the `origin` entry in the `messages.json` points multiple times to the same line in the same file?

An example:
[code]

[2017-07-10 13:33] tricoder42 commented on #32
No, that's definitely bug.

[2017-07-10 14:37] akkie opened #38 "Neutrino: Template literals do not work when targeting IE 11"
If I target the browser `ie 11` in my `babel-preset-env` config, then the translation which are based on template literals do not work. I think it's because `babel-preset-env` pulls in `transform-es2015-template-literals`. It generates then code like this:

[code]

Without the `transform-es2015-template-literals` plugin, it creates code like:
[code]

If I'm right then you transform also template l

[2017-07-10 14:46] tricoder42 commented on #38
Is `lingui-react` the last preset in your `.babelrc`?

[2017-07-10 15:05] akkie commented on #38
It's currently the only plugin. The other plugins will be added by neutrino.

[2017-07-10 15:09] tricoder42 commented on #38
Could you please give me more info how you configure neutrino? Where do you add `lingui-preset`?

I'm thinking about creating `neutrino-preset-lingui` and adding required presets.

[2017-07-10 15:15] akkie commented on #38
This is for the 0.x version of lingui. But the config is mostly the same for the project I'm currently working on.

https://github.com/setusoft/silhouette-play-react-seed/blob/master/app-ui/.neutrinorc.js

https://github.com/setusoft/silhouette-play-react-seed/blob/master/app-ui/.babelrc

[2017-07-10 15:52] tricoder42 commented on #32
Fixed in https://github.com/lingui/js-lingui/pull/39, lingui-cli@**1.0.4**

[2017-07-10 16:04] tricoder42 commented on #38
What if you change `neutrino-preset-react` config:

[code]

instead of adding `lingui-react` to `.babelrc`?

[2017-07-10 16:08] tricoder42 commented on #38
Another option might be using `lingui-transforms-js` and `lingui-transform-react` plugins directly. Plugins run before presets, so that would work too. But I consider both options as a workaround. This should be easier.

[2017-07-10 22:51] LFDMR opened #41 "lingui-cli extract"
Hi,
I have upgraded the package since last time, here is my config:
[code]

But I encounter a problem when I do `lingui extract`, `Unexpected token`.
The code is fine and works when I `yarn build` it or `yarn start` it

[code]

Thanks

[2017-07-11 04:31] tricoder42 commented on #41
Do you use Create React App?

How does your babel config looks like?

[2017-07-11 07:34] akkie commented on #38
[code]

This works for me. But You're right. This should be easier.

[2017-07-11 07:37] tricoder42 commented on #38
That's interesting. Presets should be in reverse order (first preset at the bottom). So I would expect, that you need to put `lingui-react` below `env`.

I need to figure out how to deal with frameworks like create-react-app or neutrino.

[2017-07-11 08:16] tricoder42 commented on #38
Closing for now.

I'm gonna add info about integrations to docs.

[2017-07-11 08:16] #38 closed

[2017-07-11 08:43] akkie opened #42 "Cannot import default instance of I18n"
The documentation states :

```import i18n from 'lingui-i18n'```

But if I try to import it in my tests I get the warning:
[code]

Same if I try to import the instance in the application itself.

Importing `setupI18n` works as expected.

[code]

[2017-07-11 09:18] LFDMR commented on #41
The project I used is from
[https://github.com/davezuko/react-redux-starter-kit](url)

And I have modified the app.js to the bare minimum in order to test your amazing project.
in ~/routes/Home/components/HomeView.js
[code]

[2017-07-11 11:11] tricoder42 commented on #42
Just to clarify, `import i18n from 'lingui-i18n'` throws the error, right?

There's a test case, that default export is defined. Looking at both ES and CommonJS dist files, there's default in both.

I tried:

[code]

and it works.

- What version of lib do you have?
- What's your environment? Babel, Webpack, Neutrino?

[2017-07-11 11:31] tricoder42 commented on #41
I see, thank you. This is another project with hard-codes babel config inside webpack.

Temporary workaround - add **.babelrc** to root of your app (copy of config from react-redux-starter-kit):

[code]

Once you have this, you can remove it from [webpack config](https://github.com/davezuko/react-redux-starter-kit/blob/master/build/webpack.config.js#L57).

Meanwhile I need to figure out how to sol

[2017-07-11 11:31] #41 closed

[2017-07-11 11:56] akkie commented on #42
Maybe it's because of this [issue](https://github.com/webpack/webpack/issues/706).

Also see: https://stackoverflow.com/questions/33505992/babel-6-changes-how-it-exports-default

[2017-07-11 12:22] tricoder42 commented on #42
Yes, that's *"correct"*.

In babel, you can use: `import i18n from 'lingui-i18n` (btw it's the same as `import { default as i18n } from 'lingui-i18n'`).

In Node.JS, you have to use `const i18n = require('lingui-i18n').default`, because the whole export looks like:

[code]

I can't use `module.exports = exports["default"];` because then we would miss `setupI18n` and `unpackCatalog`

[2017-07-11 12:23] tricoder42 commented on #42
I was thinking about dropping this default export completely, so we get rid of one global object, but that's another topic. I'll check if there's nothing we can do about mixing default and named exports.

[2017-07-11 18:31] tricoder42 commented on #38
Added section about integrations https://lingui.gitbooks.io/js/guides/integrations.html

[2017-07-11 18:31] tricoder42 commented on #41
Added section about integrations to docs https://lingui.gitbooks.io/js/guides/integrations.html

[2017-07-12 20:34] tricoder42 commented on #42
Closing, unfortunately this is common caveat when mixing named and default exports.

I've added named `i18n` export and recommend use it to avoid confusion. Default export will be removed in 2.0.

[code]

[2017-07-12 20:58] #42 closed

[2017-07-14 17:34] LFDMR opened #46 "Why to use WithI18n instead of i18n object directly"
Hi,
I encounter a problem when I use WithI18n, I got the following messages:
[code]

The code is
[code]

My configuration is:
[code]
And I use Redux with [this starter kit](https://github.com/davezuko/react-redux-starter-kit)

So I tried `import i18n from 'lingui-i18n'` and everything works.

So why one should use WithI18n ?

[2017-07-14 17:46] tricoder42 commented on #46
`I18nProvider` uses different instance of `i18n`. When you change language either in `I18nProvider` or `i18n` instance, it won't affect the other.

In your example, you're missing one parenthesis:

[code]

Maybe it's more readable to decorate default export:

[code]

[2017-07-14 17:53] LFDMR commented on #46
So I tried doing this:
[code]
The first got translated but not the second

Then I tried using the render part of Trans
[code]
And this worked for the inline translation.

So I wonder how to make something like this work:
[code]
I would have thought to use i18n.

[2017-07-14 17:57] LFDMR commented on #46
I tried your version it renders, but unfortunately it does not translate

[2017-07-14 18:05] tricoder42 commented on #46
[code]

The first has extra exclamation mark. What about this?

[code]

[code]

Yes, that's possible too. I usually prefer `i18n.t` syntax, but sometimes this might work better.

[code]

Unfortunately, this is not possible. Expressions are not evaluated at compile time, so `<Trans>{getTitle()}</Trans>` would result in message `{0}` and interpolated value of `getTitle()` (so the text would be stati

[2017-07-14 18:08] LFDMR commented on #46
[code]
I found a way:
[code]

[2017-07-14 18:10] tricoder42 commented on #46
Yes, no problem with that. I still wonder why `i18n.t` doesn't work for you.

Having this example:

[code]

*Welcome App 1* gets translated, but *Logo client* doesn't?
Could you please paste your message catalog?

[2017-07-14 18:16] LFDMR commented on #46
Yes exactly, same case for the  `{i18n.t'Welcome App 1!'}` with the exclamation mark added.

About that I got a problem with unpackCatalog, I was about to create a new issue.
To make things works I used a quick workaround
So my catalog is like this
[code]
And my I18nProvider is like this
[code]

[2017-07-14 18:31] tricoder42 commented on #46
Sounds like a regression. I'll take a look.

Thank you! 👍

[2017-07-14 18:34] LFDMR opened #47 "How to use unpackCatalog"
Hi I have a problem with unpackCatalog

My catalog is
[code]

And when I use `unpackCatalog(messages)` I get:
[code]
The key messages got undefined.

[2017-07-14 18:37] tricoder42 commented on #47
First you need to compile your catalog using `lingui compile` and then import the generated js file instead of json catalog.

`unpackCatalog` isn't documented very well. I'll add more info to docs.

Let me know if it helps.

[2017-07-14 18:47] LFDMR commented on #47
Yes it works !  :+1:

[2017-07-15 09:21] tricoder42 commented on #46
Unfortunately, I'm not able to replicate this bug. There's also an integration [test case](https://github.com/lingui/js-lingui/blob/master/packages/example-usecase/src/Usecases/ElementAttributes.test.js), which isn't failing.

Could you please paste here:
1. Your message catalogs
2. File with `I18nProvider`
3. Component with `WithI18n`

Do you have it in public repository somewhere?

[2017-07-15 13:02] LFDMR commented on #46
Yes, I made one, you can find it [here](https://github.com/LFDMR/test-lingui)

You just `yarn install` then `yarn start`
open `localhost:3000`

And you should see _Hi_ and _Welcome!_
The first is from Trans the second from i18n.

[2017-07-15 14:49] tricoder42 commented on #46
That's awesome! Thank you.

I found the root cause: Tagged template literals were converted to function calls by babel before lingui-react processed them. This is caused by `transform-runtime` plugin, which runs before any presets. If you remove it from webpack and babel config, the translation works fine.

I think you don't need `transform-runtime` if you already have `babel-preset-env` and you p

[2017-07-15 16:38] LFDMR commented on #46
Yes it works. Thank you !

[2017-07-15 17:05] tricoder42 commented on #46
Cool. Glad it works 👍

So the last thing in this issue is to document *Why to use WithI18n instead of i18n object directly*.

[2017-07-17 11:06] johansigfrids opened #48 "Extract messages from TypeScript files"
It would be really nice if the cli could extract messages from `.tsx?` files as well.

[2017-07-17 11:08] tricoder42 commented on #48
Sounds good.

What babel plugins are required to parse typescript files?

[2017-07-17 11:12] johansigfrids commented on #48
Hmm... A little bit of googling seems to indicate the PR for typescript plugins for babel hasn't landed yet. https://github.com/babel/babel/pull/5899

[2017-07-17 11:23] tricoder42 commented on #48
Messages from `jsx?` files are extracted by traversing AST tree from babel. If TypeScript uses different AST (https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API), then this would require writing another extraction tool, which would generate intermediate `_build/<filepath>` dictionaries (eg. `_build/components/App.json` contains messages from `src/components/App.ts`).

The intermed

[2017-07-17 14:11] johansigfrids commented on #48
I took a quick stab at it. What I have is [here](https://gist.github.com/johansigfrids/6743ea63ee4f2b0a64b5f845003d8b04), with both ts and js versions. All the fancy file handling is missing. Currently the `extract` function just expects a file name and returns a map of messages. This is all I have time for now. I might have some more time to look at it next week.

[2017-07-18 05:41] tricoder42 commented on #48
Awesome, thank you! I'll integrate it most probably tomorrow.

[2017-07-24 15:42] AndrewIngram opened #49 "React Native Support"
I'll expand this with issues as I find them, some may be unique to my project, so please bare with me:

1. When React Native's builder transforms the source files with Babel, it seems to fail when trying to transform the imported `lingui-react` module. The transform succeeds if I remove the `lingui-react` babel preset, and fails if I use it.

2. The provided components default to using `<span>` wh

[2017-07-24 15:44] AndrewIngram commented on #49
If it turns out that the branching logic is unnecessarily complex, it might be worth having a separate lib for react-native instead. At the moment I'm just exploring whether js-lingui is a viable alternative to react-intl for React Native use.

[2017-07-24 15:47] tricoder42 commented on #49
Thank you very much! 👍

So far it seems that switching `spans` for `Texts` might be enough (+ support for style prop), so it should be easy fix. I would rather have one lib which works in both environment than two separate libs. We'll see what's the easier way...

[2017-07-25 05:08] tricoder42 commented on #49
🤔  `react-intl` solves this using `textElement` prop in `IntlProvider`: https://github.com/yahoo/react-intl/issues/600

[2017-07-25 09:27] AndrewIngram commented on #49
That approach makes sense to me

[2017-07-29 11:58] tricoder42 commented on #48
Sorry, I was busy with my job and didn't get any chance to work on this issue. I'll continue after 13th August as I'm going on a vacation now.

[2017-07-29 11:58] tricoder42 commented on #49
Sorry, I was busy with my job and didn't get any chance to work on this issue. I'll continue after 13th August as I'm going on a vacation now.

[2017-08-01 21:56] queicherius opened #50 "RelativeDateTime component"
First off, thanks for this project. It's pretty much exactly what I wished for while being significantly smaller than other implementations.

[code]

Is there any way (now or planned) to format a date as a relative time string? Or is there another preferred way of dealing with these - I am thinking about a custom component and translation messages?

Or to word it differently, if you think that its

[2017-08-08 13:02] vitexikora opened #51 "Error on empty translation in fallbackLanguage"
Empty translation (`"translation": "",`) in language set as fallbackLanguage throws
[code]

[2017-08-08 13:10] vitexikora opened #52 "babel plugin tries to transform Select element from other than react-lingui library"
Extract command crashed on one of my components (helper one, without any translations), had to remove it from parsing via ignore pattern. The reason it is crashing is completely strange to me.
The entire file (`src\components\helpers\SearchableSelect.js`):
[code]

The error (@ `lingui-cli\node_modules\babel-core\lib\transformation\file\index.js:590`):
[code]

[2017-08-08 13:25] tricoder42 commented on #52
It's because component of the same name as Select is used in react-trans and parsed in babel plugin. The plugin doesn't check from where the component is included.

Good catch! I'll fix it once I get back from vacation

8. 8. 2017 v 13:10, vitexikora <notifications@github.com>:

[2017-08-08 13:55] vitexikora opened #53 "messages.json is looking different than in documentation"
Following https://lingui.gitbooks.io/js/tutorials/react.html got me to:
[code]
And then it shows nicely formatted language file:
[code]

However mine looks very different, containing origin values (it does compile though):
[code]

What am I doing wrong? I was just following the tutorial.

[2017-08-09 07:33] vitexikora opened #54 "Force update PureComponent on language change"
Having these two translations of the same word in a component
[code]
the placeholder is not updating correctly, while the usual `<Trans>` is. The component is updated upon language change, as well as the component with Provider. The placeholder is updated always on a second update (eg. a navigation), which causes it to be always in the wrong language when toggling languages (is delayed by 1 update

[2017-08-13 18:25] benbender opened #55 "[DX] Would love to see t() directly injected by WithI18n-hoc"
Hey,

I'm playing with lingui at the moment and I'm pleased so far ;) Just two little DX-Items to reason about:

a) is there is any reason not to inject the method t() directly into the wrapped component by using WithI18n()-hoc? Would save the devs some repitive keystrokes!

b) I would love to see the naming of WithI18n changed to withI18n. Most devs are using capital first letters for classes whi

[2017-08-13 20:35] tricoder42 commented on #55
Hello,
thank you for your valuable feedback and spending some time with jsLingui.

a) From i18n object you can get a lot more stuff than just `t` method - active language, info about language (:warning: planned feature) and all formatting methods: `t`, `plural`, `select`, `selectOrdinal`, `number` and `date`. In future the lib should also support custom formatters (e.g. `range`, `relative`, etc).

[2017-08-13 20:42] tricoder42 commented on #50
Hello,
yes I'm thinking about it. For now it might be enough to create custom component in your project.

I need to solve a related problem before implementing it in jsLingui or other package: How to release localized 3rd party components. Sth like namespacing for localized messages (#14).

`react-intl` suffers few problems with FormatRelative - you can't change wording of messages and you have to

[2017-08-13 20:50] tricoder42 commented on #54
You're right, messages and active languages and propagated using context. However, there's a subscribe/broadcast mechanism to bypass these kind of problems and triggering `forceUpdate` automatically when language is changed or messages are loaded.

I'll take a look into it. I think it might be caused, that `WithI18n` triggers `forceUpdate` on itself, but underlying PureComponent still ignores it.

[2017-08-13 20:51] tricoder42 commented on #53
That's definitely a bug. Tutorial is outdated, that format was using in `0.x` version of jsLingui.

[2017-08-13 20:53] tricoder42 commented on #51
Is it during compile or extract?

[2017-08-13 23:13] vitexikora commented on #51
during compile

[2017-08-13 23:18] vitexikora commented on #53
Ah, so this is meant to be correct. It is however far less user-friendly for a translator - a lot of unneccessary cruft for somebody, who should just translate the strings. Could there be a switch (eg. `lingui extract --compact`)?

[2017-08-14 04:38] tricoder42 commented on #53
There might be a switch `--format=compact`. I imagine somebody would like to export messages in nested JSON (e.g. `invoices.Invoice.title` message would be nested inside `invoices`, `Invoice` and `title` keys) or completely different format (like XML, XLIFF). This could be also configured globally in `package.json`.

I change the format, because I needed default message. When translator gets a mes

[2017-08-14 10:10] vitexikora commented on #53
Your solution is even better, however I am currently too busy to improve your lib. I convinced my boss to use jsLingui on new projects instead of react-i18n we used on others, mainly because of lingui-cli, which seemed awesome, however there were several bugs that I reported and I spent with it a whole day getting it to work. This project seems very promising though, few more features in my head a

[2017-08-14 11:04] tricoder42 opened #56 "Feature Request: Custom formats of message catalogs"
Followup to #53

Support custom formats of message catalog:
- flat JSON (only message & translation)
- nested keys JSON
- default one

[2017-08-14 11:05] tricoder42 commented on #53
Sounds good.

Don't worry, I'm gonna spend some time on grooming jsLingui issues, so I'll probably sweep this one as well.

If you still had some spare time, I'm curious what were the biggest blockers/pain points when you were implementing this (except for the bugs you've already reported).

[2017-08-14 14:55] vitexikora commented on #53
The bad thing is, that when using a stable non-beta library (>= 1.0), I do not expect any bugs during simple stuff, so I always expected, that Im doing something wrong, so there was a LOT of debugging and breaking code into pieces... Except from what I have reported, I spent a lot of time trying to achieve having some translated texts in a separate config file, eg.
routeConfig.js
[code]
and then t

[2017-08-14 15:10] vitexikora opened #58 "Translation with variable inside does not work in production without extracted & compiled texts"
Firstly, this issue only appears in production (without development prop on provider) and only if this translation wasnt extracted & compiled (just running those commands, no translation).
Having this:
[code]
should render (and on localhost/dev renders):
narozen 8.8.1943
narozen 8.8.1943
but on productions shows:
narozen {birthdate}
narozen {birthdate}

Issue disappeared after just running extract

[2017-08-14 15:23] tricoder42 commented on #58
Just remove `development` prop during development and you'll get the same environment as in production. I agree this should be more obvious and documented.

`development` prop is there just for convenience so you don't have to run extract&compile every time you change some component. However, you really need compiled message catalogs in production, because ICU message parser is very heavy and slow

[2017-08-14 15:28] tricoder42 commented on #53
Use `i18n._("Raw string")` for this, that's the "raw" method. In React, you have to use `<Trans id="Raw string" />`. I'll add this into docs.

However, this way the message won't be extracted. I need to add sth like `i18n.noop` which will just mark static messages for extraction, but won't perform any translation. So your example would be:

[code]

And later you would use:

[code]

Good points any

[2017-08-14 15:32] vitexikora commented on #58
Oh, I didnt know that development only runs this silently on background. Now that makes sense, so I should have these commands included in CI.
Having a loader would be cool, but this may as well introduce more complexity to the setup, when you would have to configure location and bundling of those files.
Just include in the docs, that in production, the compile has to be run beforehand.

[2017-08-14 15:42] vitexikora commented on #53
Nice, I should have asked :)
I only have 2 suggestions:
- With the Trans component - is it ok to use the ID for that? What if someone would like a raw string with an ID? Maybe it would be better to use a different prop..
- For the i18n.noop I would still need the i18n object, is it neccessary for the extraction? Slightly better would be a single purpose helper, that wouldnt need explicit instantia

[2017-08-14 16:14] vitexikora opened #59 "Feature Request: Remove dead translations"
`lingui extract` command could remove dead translations from messages.json that do not appear in the source code anymore (possibly with a switch)

[2017-08-14 17:50] tricoder42 commented on #59
Good point, one of planned features 👍

[2017-08-14 18:41] tricoder42 commented on #53
I don't understand what you mean. Either you use message IDs or source language as IDs:

[code]

or

[code]

In both cases `i18n._(route.title)` is equivalent to `<Trans id={route.title} />`

What might be missing in second example is default message, but we could use the same function signature as `i18n.t`: `noop('translation.title', { defaults: 'Message with {variable}' })`. However, later you w

[2017-08-14 19:18] #52 closed

[2017-08-14 19:28] tricoder42 opened #60 "Feature request: Allow no-op/lazy translations"
Followup from #53

Sometimes it's necessary to mark strings which will be translated in the future, but leave them intact for now:

[code]

[2017-08-14 19:28] tricoder42 commented on #53
Create a new issue for this feature: #60

[2017-08-14 19:55] vitexikora commented on #60
IMHO the method should be named most closely to what it actually does, which in this case is something like 'markForTranslation/Extraction', 'addTranslation', 'linguiString', or even 'internationalize', rather than 'noop'... Looking at this example code I would have no idea what it does. Just an opinion.

[2017-08-14 20:02] tricoder42 commented on #60
Yeah I have similar concern. I know this naming from [Django](https://docs.djangoproject.com/en/1.11/topics/i18n/translation/#marking-strings-as-no-op), but there is `ugettext_noop` so you at least know that it's related to gettext.

It's basically `i18n.t` without the translation, so maybe `i18n_noop`, `i18n_mark`, `i18n_add`, `i18n_dummy`, `i18n_future`, `i18n_lazy` (it could be also considered

[2017-08-16 10:37] benbender commented on #55
Hey,

I was talking about exposing t() as a shortcut, not about replacing the i18n-object ;)
I'll try to find time for a PR today.

Thanks for your work! 👍

[2017-08-16 19:50] benbender commented on #51
I can confirm the bug.

`/Users/bb/Development/test-setup/node_modules/messageformat-parser/parser.js:459
    if (input.charCodeAt(peg$currPos) === 123) {
             ^

TypeError: Cannot read property 'charCodeAt' of undefined
    at peg$parseargument (/Users/bb/Development/test-setup/node_modules/messageformat-parser/parser.js:459:14)
    at peg$parsetoken (/Users/bb/Development/test-setup/node

[2017-08-16 20:25] #51 closed

[2017-08-16 20:29] tricoder42 commented on #52
Fixed in babel-preset-lingui-react@**1.0.2** and babel-plugin-lingui-transform-react@**1.0.2**

[2017-08-16 20:30] tricoder42 commented on #58
I'll leave it open until I update the docs

[2017-08-16 20:30] tricoder42 commented on #51
Fixed in lingui-cli@**1.0.5**

[2017-08-17 20:44] felipeko opened #62 "Extract fails when files do not have import from 'lingui-react'"
Hi, i'm setting up lingui on my project, but i wont need i18n for all files, but i get the following errors when using extract on the project:
![image](https://user-images.githubusercontent.com/472649/29432829-6b79064e-8373-11e7-8563-17e9b5e399e5.png)

Individual files that import {Trans} work fine. Is there any way to just ignore files without import and keep extracting others?

Thanks.

[2017-08-17 20:53] felipeko opened #64 "Cannot add country locale such as pt_BR"
Hi, it's usual for some countries to have their own sub locale inside a language.

lingui-cli does appear to support this at the moment. Is it possible to add support?

Thanks again! And good job on the library!

[2017-08-18 04:41] tricoder42 commented on #64
Hey @felipeko! Thank you for your interest in thin project.

It should be relatively easy to add support for country locales. I tried to add en_US and it really fails on `Unknown locale(s): en_US`.

As far as I understand, language (`en`) defines plural rules and other possible language features (like text direction), while country defines date and number formats, right?

[2017-08-18 04:45] tricoder42 commented on #62
This shouldn't been happening after latest release of CLI (lingui-cli@1.0.5) and extract plugin (babel-plugin-lingui-extract-messages@1.0.3). I'll take a look

You can also ignore individual files or patterns with `srcPathIgnorePatterns` option as a temporary fix (see https://lingui.gitbooks.io/js/ref/cli.html#srcpathignorepatterns-array).

[2017-08-18 10:07] ivan7237d commented on #15
Reg. user-provided versus autogenerated IDs: I'm wondering if by adding support for "description" prop you would end up with the best of both worlds. If you autogenerate IDs as a hash of description + default message, you will be able to avoid clashes between short default messages that mean different things in different contexts.

Also I wonder if it would make sense to create an "Argument" HOC t

[2017-08-18 10:19] ivan7237d commented on #15
Actually what would be even more fun is using the jsdoc comments as descriptions for messages and message arguments.

[2017-08-18 10:28] tricoder42 commented on #15
Hello Ivan 👋

Good point, I'm planning to add comments for translators, something like this:

[code]

which would be extracted as:

[code]

It could be probably possible to add `description` prop directly to `<Trans>` component, but it JS it would become more verbose: `i18n.t('Registration', { description: "Heading at registration page" })`. I'm open to any ideas and PRs here!

Could you please pr

[2017-08-18 11:26] ivan7237d commented on #15
Hey Tomáš, yes, the comments approach sounds good, better than a prop. And as for arguments, if you have
[code]
then as far as I understand, currently the translation file will just have a number for `<MyComponent />`, and ideally you'd want to let the translators know what `<MyComponent />` is, so I was thinking of ways to achieve that. Here too, a comment would be nicer than a wrapper component

[2017-08-18 11:39] tricoder42 commented on #15
I see. Maybe we could use description for it:

[code]

and extracted description might be:

[code]

What do you think?

[2017-08-18 11:59] ivan7237d commented on #15
Hmm... I wonder if this is general enough. For example there could be multiple child components with the same name but different props or different children. Maybe this would work, looks a bit ugly but it's the usual way to add comments in JSX:
[code]

[2017-08-18 15:02] felipeko commented on #64
Yes, i think that's right. The messages can also be different from country to country.

[2017-08-21 15:37] mcongy commented on #62
Using latest release (lingui-cli@1.0.5) and extract plugin (babel-plugin-lingui-extract-messages@1.0.3).

Issue still persists.

[2017-08-21 15:42] mcongy commented on #56
Just to add my 2 cents:
I like the old format more. Even tho it's not that powerful, it's enough for my use-case.
It's way more clear and shorter. Adding 9 lines for a single translation isn't acceptable for me.

Anyway, great work with the project. Just started using it and I really like it so far!

[2017-08-21 15:51] tricoder42 commented on #56
You should never create translation files manually. That's the task for `lingui extract`. However, I agree that  the new format is too complex for translators or anyone who edits the message catalogs manually.

As the project grows, it becomes inevitable to add comments/description to messages or at least know from where the message comes from. Also, some people might eventually want to use other

[2017-08-21 15:54] mcongy opened #65 "[Feature request] Check for missing messages and exit with error code if found"
Hello,

My build pipeline is something like: lint > flow > test > build.
I would like to add checks for missing messages.

```lingui extract``` produces a nice catalog statistics, that show if there are some missing translations.

Problem is, I can't plug it to my pipeline. I need a check that exits with error code, if there are some missing translations.
I'd like my pipeline to abort build and sh

[2017-08-21 16:02] tricoder42 commented on #65
Definitely good point!

What about `lingui compile --validate`? There're might be other validations in the future, so it's a good start.

The reason why I prefer `compile` instead of `extract` is that in the near future I want to release `sync` command, which downloads translation from external service (like Transifex). The workflow would be `extract -> sync -> compile`, so the validation in last

[2017-08-21 21:18] #64 closed

[2017-08-21 21:22] mcongy commented on #56
By "adding 9 lines for a single translation" I meant what ```lingui extract``` does. A single-word translation adds 9 lines of JSON.

I mean this:
[code]
I do aggree that the old format isn't sufficent for a lot of use cases, but from my experience, it should be enough for a lot of people. Some people just prefer the easy solutions instead of the "correct in every possible way" solutions. And they

[2017-08-21 21:29] tricoder42 commented on #62
I'm not able to reproduce this bug.

It's the very same error? Could you please paste the file which causes this error?

[2017-08-21 22:02] felipeko commented on #62
Any simple file can cause this, for example:
[code]

Using extract gives me:
![image](https://user-images.githubusercontent.com/472649/29540096-2faa39b6-86a3-11e7-87af-eb2fb8029337.png)

[2017-08-22 08:41] #62 closed

[2017-08-22 09:06] tricoder42 commented on #62
Fixed in latest releases:

babel-plugin-lingui-extract-messages@1.0.5
babel-plugin-lingui-transform-react@1.0.4
babel-preset-lingui-react@1.0.3
lingui-cli@1.1.0

[2017-08-22 09:07] tricoder42 commented on #64
Fixed in latest releases:

lingui-cli@1.1.0
lingui-i18n@1.2.1
lingui-react@1.0.4

[2017-08-27 19:22] tricoder42 commented on #55
Hi @benbender,
just the follow up: This problem is a bit more complex.

Babel plugin is looking for `t` (`plural`, `select`, etc.) method bounded to `i18n` object. It doesn't even check if the `i18n` object comes from `lingui` or it's your own variable. I solved similar problem with `Trans` component in React by checking the imports at the top of file.

In this case I need to figure out, how to ch

[2017-08-27 20:41] tricoder42 commented on #54
I'm thinking about one possible workaround: every time active language is changed or message catalog updated, generate unique i18n-hash. `withI18n` will pass `i18n` object and `i18nHash` prop. This should work with PureComponent out of the box, as it does shallow comparison of props.

The only drawback is, that component will receive one extra prop. Every prop has a risk of possible collision with

[2017-08-28 07:43] #49 closed

[2017-08-28 07:43] #56 closed

[2017-08-28 07:43] #59 closed

[2017-08-28 07:43] #65 closed

[2017-08-28 07:47] tricoder42 commented on #55
Also, **b)** is fixed in latest `lingui-react@1.1.0` release.

[2017-08-28 07:49] tricoder42 commented on #49
Added `defaultRender` option to`I18nProvider` in latest `lingui-react@1.1.0` release.

[2017-08-28 07:57] tricoder42 commented on #59
Added `lingui extract --clean` option to remove obsolete translations.

[2017-08-28 07:58] tricoder42 commented on #56
Added `lingui extract --format minimal` option to generate flat JSON.

[2017-08-28 07:58] tricoder42 commented on #65
Added `lingui compile --strict` option, which fails if any catalog has missing translation.

[2017-08-28 08:46] herzaso opened #70 "Fix default ignore pattern to work on Windows"
I'm using `create-react-app` with `react-app-rewired` to enable making changes to webpack/babel without ejecting.

I've added the following `config-overrides.js` file (a `react-app-rewired` requirement):
[code]
This make sure to load the `.babelrc` file with the needed presets:
[code]

While this approach is working, `extract` is failing with the following exception:
[code]

**Expected:**
While I

[2017-08-28 08:51] tricoder42 commented on #70
Hello @herzaso,
there's already `srcPathIgnorePatterns` configuration (https://lingui.gitbooks.io/js/ref/cli.html), but the default value is `/node_modules/` so I wonder, why it tries to extract messages from node_modules.

[2017-08-28 09:04] herzaso commented on #70
@tricoder42 you are right, it was caused by the wrong path delimiter (maybe consider changing the regexp to support windows delimiter also).

Other than that, I know have another problem:
[code]

[2017-08-28 09:12] tricoder42 commented on #70
Do I understand it correctly, that you actually have this `.babelrc` in root of your repository?

[code]

All what you do in `config-overrides.js` is to tell webpack to use `.babelrc`, right? (`babelLoader.options.babelrc = true;`)

[2017-08-28 09:16] herzaso commented on #70
Yes. I have added the `es2015` preset just to make sure (although create-react-app should have it by default), but the result is the same

[2017-08-28 09:17] herzaso commented on #70
Nevermind, I have to add the "transform-object-rest-spread" plugin ...

[2017-08-28 09:19] tricoder42 commented on #70
Ah, you're right! That plugin isn't part of `env` preset! Good job! 👍

Thank you for reporting the bug with ignore patterns. I'll fix it soon.

[2017-08-28 20:47] tricoder42 commented on #48
Hi! I finally refactored cli to support other preprocessors than babel. I created package `typescript-lingui-extract-messages` where I placed your script: https://github.com/lingui/js-lingui/blob/master/packages/typescript-lingui-extract-messages/src/index.ts

However, I'm not able to compile it. Could you please send me configuration which you used to compile this file?

[2017-08-28 21:02] #70 closed

[2017-08-28 21:03] tricoder42 commented on #70
It should be fixed on latest release of `lingui-cli@1.2.1`. Could you please confirm it? Simply remove `srcPathIgnorePatterns` to test the default works correctly.

[2017-08-29 03:44] #58 closed

[2017-08-29 03:44] #53 closed

[2017-08-29 08:53] tricoder42 commented on #49
I've just tried adding `lingui-react` to React Native app and it works.

I had to update `babel-preset-react-native` to latest release, otherwise babel tried transform files in `node_modules` as well (which raises Transform error on one file from lingui-react).

[code]

All I had to do was add I18nProvider and set defaultRender prop:

[code]

Now I can use <Trans> component as usual:

[code]

In c

[2017-08-29 10:31] herzaso commented on #70
Running the cli did produce the table with number of labels although it didn't show any file being collected (whereas before it did log the file paths that were collected).

Since I wasn't sure, I removed the locale directory and ran `lingui add-locale en`, but got the following error:
[code]

[2017-08-29 10:33] tricoder42 commented on #70
I made the output more silent. Running `lingui extract --verbose` gives the full output as before.

The error is, however, weird. I'll take a look

[2017-08-29 12:59] johansigfrids commented on #48
You need to add `@types/node` as a dependency to get the typings for node.

Then you also need to set the target to es6 to get `Map` and module resolution to `node` in the tsc command:
[code]

[2017-08-31 05:43] herzaso opened #72 "using a wrapper arround js-lingui"
In order to remove dependency on the i18n package, I tried making a single-point-of-entry file for i18n.
Something along the lines of:
[code]

However, this resulted in two problems:
1. lingui-cli didn't collect any massage (using `lingui extract`)
2. I got a warning

although lingui-react is not missing in babel config file (without the wrapping file, the warning is gone).
Also, all strings were

[2017-08-31 07:32] tricoder42 commented on #72
Hi @herzaso,
unfortunately, this is not possible yet. Babel plugin (for transforming and extracting) is looking from `Trans` component from `lingui-react` package, so if import it from different place, it won't find it.

Could you please explain your usecase? What do you mean by `i18n package` and why are you trying to remove it?

[2017-08-31 08:34] herzaso commented on #72
At the moment, lingui looks like a promising package. However, since there are few maintainers and the traction from the community is not that high, there is a risk in using it for large applications.

In an effort to mitigate that risk, I thought about wrapping the i18n utilities, so I would be able to take control in the future if needs be without having to change my entire application.

[2017-08-31 08:40] tricoder42 commented on #72
I understand your concerns. I'm using this library in my project, so it won't go away anytime soon.

However, if I got hit by a tram accidentally and wouldn't be able to transfer ownership of this repo to other maintainer, you could still fork it, release it under your namespace (e.g: `@herzaso/lingui-react` or even different name) and then just search&replace all occurrences of `lingui-react`, ri

[2017-08-31 10:03] herzaso commented on #72
My example was simplified for the sake of making an argument.
In a large scale application, I'm not sure that a simple search and replace method would cut it.

Either way, it's your call...

[2017-08-31 11:02] tricoder42 commented on #72
If you wish to take initiative on this, the steps to implement such feature are follows:

1. Add new config to `lingui-conf`, sth like:

[code]

2. Update `babel-plugin-transform-lingui-react` to read this config and check for `Trans` component from custom package. Right now it only checks for `lingui-react` package.

3. That's all! Right now there's no checking for imports in `lingui-i18n`. I nee

[2017-09-01 13:50] vitexikora opened #73 ""Trans is not defined" error when using only Plural"
Lingui fires "Uncaught (in promise) ReferenceError: Trans is not defined" in a component that doesnt use Trans, only Plural (it is likely transformed?). But when I supply Trans, my linter is on fire (its not used) ...
I have to stick with:
[code]
in every component...

lingui-react 1.1.0
anyway, great job on the repo!

[2017-09-01 15:38] vitexikora opened #74 "Plural prop "zero" does not work as expected"
Given
[code]
This component:
[code]
renders `Nalezeno 0 koncertů`

While this component:
[code]
renders `Nenalezen žádný koncert`

Tested only in dev environment, lingui-react 1.1.0.

+ followup slightly related question:
How to get React elements into plural?
eg. `Nalezeno <span className={cls.highlight}>{resultCount}</span> koncertů`

[2017-09-01 18:13] tricoder42 commented on #74
Unfortunately, Czech language doesn't have `zero` plural category. See the official [cldr page](http://www.unicode.org/cldr/charts/latest/supplemental/language_plural_rules.html#cs)

So, the second example is actually correct!

Answer to follow up - the same way as you use React elements for singular:
[code]

Feel free to reopen if you had more questions 👍

[2017-09-01 18:13] #74 closed

[2017-09-01 18:20] tricoder42 commented on #74
By the way, you can combine also other i18n components, like Plural, Select, Trans. See the [test case](https://github.com/lingui/js-lingui/blob/master/packages/babel-plugin-lingui-transform-react/test/fixtures/nested-components/actual.js).

[2017-09-01 19:07] tricoder42 commented on #73
What version of `babel-preset-lingui-react` or `babel-plugin-lingui-transform-react` do you have?

[2017-09-01 19:08] tricoder42 commented on #73
Nevermind, I see the bug. Sorry, this is shameful 😳

[2017-09-01 19:16] tricoder42 commented on #73
Alright, false alarm. I can't reproduce it. There's also test case for it.

So, what version of babel-preset-lingui-react or babel-plugin-lingui-transform-react do you have?

[2017-09-04 06:03] herzaso commented on #72
Sorry @tricoder42 , I was preoccupied with other things.
Do you want me to issue a PR for this feature or did you just mention these steps so I could make the adjustments on my environment?

[2017-09-04 07:35] tricoder42 commented on #72
No worries! I was thinking about PR. You would have to fork both libs to make local adjustments, which seems to be suboptimal.

Cheers! 👍

[2017-09-04 10:09] benbender opened #75 "lingui doesn't work in Node.js"
Hey,

if I try to use lingui in a SSR environment and I'll get an exception, because lingui-formats directly accesses the window-object, which doesn't exist in a node-environment.

**Trace:**

    at Object.<anonymous> (/Users/bb/Development/xxx/src/node_modules/lingui-formats/dist/index.js:5:24)
    at Module._compile (module.js:573:30)
    at Module._extensions..js (module.js:584:10)
    at Obje

[2017-09-04 10:13] tricoder42 commented on #75
You're right, SSR isn't tested at the moment. However, I would consider it as a bug, because `Intl` object is present in Node.js. Interested in sending PR? This looks like a quick fix.

[2017-09-04 10:18] benbender commented on #75
Sure - You'll get the pull in a few minutes.

[2017-09-04 10:24] benbender commented on #75
Done, see #76

[2017-09-04 10:37] tricoder42 commented on #75
Thank you!

[2017-09-04 10:37] #75 closed

[2017-09-04 10:39] tricoder42 commented on #75
Fixed in latest release:
 - lingui-cli@1.2.2
 - lingui-formats@1.0.2
 - lingui-i18n@1.2.3
 - lingui-react@1.1.1

[2017-09-04 12:50] vitexikora commented on #73
Ups, I am very sorry, I didn't have the plugin `lingui-transform-react` included in `.babelrc`, only the preset... Wondering, that it had still otherwise worked 😮

[2017-09-04 12:50] #73 closed

[2017-09-04 12:51] tricoder42 commented on #73
That's interesting... plugin is part of preset, so you shouldn't include it manually unless you have a reason to do so. Could you please share your `.babelrc` config?

[2017-09-04 12:55] vitexikora commented on #73
[code]
however, before doing so, I also ran a `npm up lingui-react --save` which updated my lingui from 1.1.0 to 1.1.1

[2017-09-04 14:08] vitexikora opened #77 "Translations with variables stopped working on production after update"
I had a similar issue earlier, but now I have tried everything,  with zero results :/
After updating lingui-react to 1.1.1 and updating babel plugin to the latest version, some of my translation stopped working (in production -> dev = undefined). Only those, which have a variable or component inside and are **untranslated**, eg.
[code]
SearchResults.js:
[code]
It renders `Výsledky hledání pro {sea

[2017-09-05 06:02] herzaso commented on #72
Sorry @tricoder42 , I couldn't find how to pass the option validation (jest), and I don't have much time to work on it :(

[2017-09-05 07:06] tricoder42 commented on #72
Alright, let's close it for now and open it later when the time comes.Thank you anyway!

Right now I'm trying to figure out easier development setup and catalog namespaces so I could add support for code splitting...

[2017-09-05 07:06] #72 closed

[2017-09-05 07:15] tricoder42 commented on #77
This is related to #65. The CLI doesn't know, that message IDs are translations for `cs` language.

I'm thinking about *another* config variable: `sourceLanguage`. When set, translations are taken from message ID for given language during compile. What do you think?

It also means that you'll never get warning for missing translation for that language, but I guess it doesn't matter, because you're

[2017-09-05 07:21] vitexikora commented on #77
Well it has to be working without translations by showing the original, so it could help the translator & don't break the app design before translations are added.
So your solution would be adding `sourceLanguage: 'cs'` to the config, and then it would show the original for Czech language (but not the others)? What about `showOriginalWhenMissing` ?

[2017-09-05 07:30] tricoder42 commented on #77
So you would like to see Czech source string even for other languages? 🤔

I'm thinking that maybe it should be the default behavior. When developer what's to get an error about missing translation, they can use `lingui compile --strict`. Otherwise, the source string will be used, because missing translation should never happen in production (I guess it's better to see well-formatted message in wro

[2017-09-05 07:33] tricoder42 commented on #77
I guess the `sourceLanguage` config is still useful when you use natural language in message IDs. Usually it means, that one message catalog will always be untranslated (the source one - `cs` in your case) and you don't want to get an error when validating missing translations.

[2017-09-05 07:40] vitexikora commented on #77
Yes.

For this project, yes. English and other languages will be only marginally used and a few missing translations will not be a problem (of course we will try to have always 100%, but its better to have a minor tooltip/notification in Czech than an unformatted string).
And for a next big project (there will be a team of several devs), that I had also proposed lingui-js to be used 😊, we will use

[2017-09-05 07:41] tricoder42 commented on #77
Coolio! I'm just working on the fix, should be ready in an hour. Thank you for your feedback 👍

[2017-09-05 07:43] vitexikora commented on #77
Awesome! And yes, `sourceLanguage` is still useful, if we would add translation validation into our CI. I already have extract & compile there, so no message should be unformatted, even if someone forgot to do it before pushing.

[2017-09-05 08:53] vitexikora commented on #60
May I ask, how is this feature looking? I am really looking forward to it 👍 😊

[2017-09-05 09:20] vonovak commented on #49
@tricoder42 does `<Trans>` pass props to the underlying component? If so, you should be able to do

[code]

and then your `Text` receives them

[2017-09-05 09:24] tricoder42 commented on #49
It doesn't. That's what I'm afraid to do. We can't pass *all* props, because some of them are used by Trans component itself. We could pass *all other* props, but then adding any new prop to Trans component would be backward incompatible. That's my main concern.

[2017-09-05 09:29] vonovak commented on #49
@tricoder42 I see. This may be a dumb question, but why would I want to use the components:

[code]

over a function:

[code]

?

The function would be then used like

[code]

thanks a lot! really excited about RN support

[2017-09-05 09:39] tricoder42 commented on #49
Yeah, good question :)

I just found it more convenient to write: `<Trans>Hello World</Trans>` instead of `<span>{i18n.t`Hello World`}</span>`. When there're inlined components, the difference is even bigger:

[code]

(The example above isn't supported at the moment, because all i18n method return pure strings, not component trees).

Also, all i18n components are subscribed for locale/catalog chan

[2017-09-05 09:43] tricoder42 commented on #60
I was a bit busy in last few weeks, so I was happy to find at least some time to refactor cli.

However, this should be very easy, I'll take a look this week.

If you want to work on this, it's basically just:
1. Add another node matcher, similar to this: https://github.com/lingui/js-lingui/blob/master/packages/babel-plugin-lingui-transform-js/src/index.js#L7
2. Make sure, we replace node with sou

[2017-09-05 09:57] vitexikora commented on #60
Thats ok, its still cool, you have time to improve this lib and push it further 👍 Doesnt have to be all at once..

Given the typical usage of such function, I guess it should not be a problem. I would make it static and create an enhancement issue with a very low priority on it supporting even variables and tags. Just to keep all functions consistent, because I can imagine (in the future) people m

[2017-09-05 10:26] tricoder42 commented on #77
Fixed in lingui-cli@1.3.0

Would you like to share the name of your company so I can present it in README as a social proof?

[2017-09-05 10:26] #77 closed

[2017-09-05 10:29] tricoder42 commented on #77
Also, new CLI options published in [docs](https://lingui.gitbooks.io/js/content/ref/cli.html)

[2017-09-05 13:08] vitexikora opened #79 "Config params are considered unkown"
In the new `lingui-cli@1.3.0` parameters `sourceLocale` and `fallbackLocale` (as per https://lingui.gitbooks.io/js/content/ref/cli.html) are considered "unknown":

[code]

configuration:
[code]

However it does not affect functionality.

[2017-09-05 13:18] tricoder42 commented on #79
This is really weird. Seems like packages were published before the `prepublish` script finished. I checked dist dir locally and it has correct version of script, but updating `lingui-cli` to latest release really shows warning above :/

I forced patch release of packages and it's fixed:
lingui-cli@1.3.1
lingui-conf@0.10.2

Sorry for that :/

[2017-09-05 13:18] #79 closed

[2017-09-05 14:40] vonovak commented on #49
For other apps, the use cases might be different but personally I only have a couple components the render `Text` with some styles, and for that purpose I will only create components that are wrappers over `Trans` and that will handle most use cases.

[2017-09-05 22:33] #60 closed

[2017-09-05 22:35] tricoder42 commented on #60
Alright, added in latest releases:
 - lingui-cli@1.3.2
 - lingui-i18n@1.3.0
 - lingui-react@1.2.0

The function is named `i18nMark` after all. See the [docs](https://lingui.gitbooks.io/js/ref/react.html#i18nmark) for more info.

[2017-09-06 05:22] vitexikora commented on #60
Awesome!

[2017-09-13 12:14] vonovak opened #82 "Translation services accepting ICU?"
hi! I understand that I can get the catalog from `lingui` and send that to translation, as outlined [here](https://lingui.gitbooks.io/js/tutorials/react.html#loading-translated-messages), however, not many translation services work with ICU message format. ~~Can somebody point me to tools that work on Mac and are able to convert ICU to XLIFF, which is the translation industry standard?~~

Can some

[2017-09-13 12:36] tricoder42 commented on #82
I'll take a look at possible options. As far as I understand it, ICU MessageFormat is format of messages, while XLIFF is format of a message catalog.

Here's similar issue https://github.com/yahoo/babel-plugin-react-intl/issues/7

[2017-09-29 11:55] tricoder42 commented on #55
Closing for now, as I'm still not convinced about exposing `t` besides `i18n`.

I would rather make `const { t } = this.props.i18n` work, but that requires a bit of design change.

Thank you anyway for suggesting **b)**!

[2017-09-29 11:55] #55 closed

[2017-09-29 13:41] tricoder42 opened #85 "Documentation proofreading"
# Happy Hacktoberfest!

**Working on your first Pull Request?** You can learn how from this *free* series [How to Contribute to an Open Source Project on GitHub](https://egghead.io/series/how-to-contribute-to-an-open-source-project-on-github)

## Problem

There's a new [documentation](https://lingui.github.io/js-lingui/). However, I'm not a native english speaker and the documentation really needs

[2017-09-29 13:57] Andrew565 commented on #85
Getting started on this now. :)

[2017-09-29 14:01] ayushgangrade commented on #85
@tricoder42 I'm also helping !

[2017-09-29 14:05] tricoder42 opened #86 "Add babel-macros for React"
# Happy Hacktoberfest!

## Problem

babel-macros defines a standard interface for libraries that want to use compile-time code transformation. Once there're macros for most common tasks (css-in-js, preval, i18n), [create-react-app](https://github.com/facebookincubator/create-react-app/issues/2730) will adopt this plugin, which makes additional extensions of CRA apps much easier.

## How-to

Issue

[2017-09-29 14:07] tricoder42 commented on #85
@Andrew565 @ayushgangrade Wow, that was fast! You're awesome, thanks!

I added list of pages to issue description if you would like to split the work.

[2017-09-29 14:09] Andrew565 commented on #85
Thanks @tricoder42, I'll get started with the Migration, work bottom-up.

[2017-09-29 14:16] kentcdodds commented on #86
Awesome issue @tricoder42!

If anyone wants to take this up but you're new to writing babel plugins/working with ASTs then [read this](https://babeljs.io/blog/2017/09/11/zero-config-with-babel-macros) and look at the resources at the bottom :)

Good luck. This looks like a lot of fun!

[2017-09-29 14:19] ayushgangrade commented on #85
Cool! I'll start working on the guides! @Andrew565

[2017-09-29 15:00] tricoder42 opened #90 "Forward compatibility with React 16"
# Happy Hacktoberfest!

**Working on your first Pull Request?** You can learn how from this *free* series [How to Contribute to an Open Source Project on GitHub](https://egghead.io/series/how-to-contribute-to-an-open-source-project-on-github)

## Problem

React 16 was released this week and one of many features are [new render return types: strings](https://facebook.github.io/react/blog/2017/09/26

[2017-09-29 15:28] annuhdo commented on #90
Ooh could I take this up for Hacktoberfest?

[2017-09-29 15:30] tricoder42 commented on #90
@annuhdo Absolutely! Marking issue as assigned. Thank you very much! ✨

[2017-09-29 16:38] ayushgangrade commented on #85
@Andrew565 I did some edits for the guides. I'll try to find fixes and additions for tutorials now. Not just grammar edits, more content too!

[2017-09-29 17:07] Andrew565 commented on #85
That's it for the API docs, and the last I'm going to be working on this for now. Let me know if any tweaks are needed.

Good luck with your project here, it looks really good. I'll definitely be recommending it to my team when we get around to implementing i18n.

[2017-09-29 19:13] tricoder42 commented on #85
@Andrew565 Thank you very much, you really helped me a lot! I'm gonna merge all PRs on 1st October. 🎉

Ping me anytime if you need some help when implementing i18n.

[2017-09-30 04:36] BitYog commented on #85
Hey, @tricoder42. I can help with the React and CLI docs. I'm a native English speaker.

[2017-09-30 05:30] BitYog commented on #85
Hey @tricoder42. I've done the required changes and created a pull request.

[2017-09-30 06:05] tricoder42 commented on #85
@BitYog Thank you very much! Looks awesome! 🎉

[2017-09-30 06:07] BitYog commented on #85
Thanks. I'm a first timer in open source, and I absolutely loved your work
and the way you quickly replied. BTW, got any GitHub tips?

[2017-09-30 06:14] tricoder42 commented on #85
@BitYog You mean tips for using GitHub or for interesting projects at GitHub?

For the first, I'm afraid I don't know any secret tips :) I always have to google how to add commits to someone else PR, which is the most advanced thing I've ever done on GitHub :D

Interesting projects at GitHub: depends on what domain are you interested in. I enjoy how some people manage their projects, like @kentcdo

[2017-09-30 06:35] BitYog commented on #85
Hey,
Are you really merging all the PRs on 1st Oct?

On Sep 30, 2017 11:44 AM, "Tomáš Ehrlich" <notifications@github.com> wrote:

[2017-09-30 06:45] tricoder42 commented on #85
@BitYog I think I should to count them for #Hacktoberfest. I couldn't find the exact rules online and DigitalOcean didn't replied to one of my tweets.

Rules says:

I hope they'll list all PRs on GitHub from October 1st to October 31st.

[2017-09-30 06:47] BitYog commented on #85
👍👍👍

On Sep 30, 2017 12:15 PM, "Tomáš Ehrlich" <notifications@github.com> wrote:

[2017-09-30 13:09] kennethreitz commented on #85
Let me know if you run into any pipenv issues!

[2017-09-30 13:39] tricoder42 commented on #85
@Kennethreitz I [do](https://github.com/kennethreitz/pipenv/issues/773https://github.com/kennethreitz/pipenv/issues/773) ;) Thanks for great tool!

[2017-10-01 07:27] BitYog commented on #85
Merging our PRs today???

[2017-10-01 08:26] tricoder42 commented on #85
I’ll merge it tonight, I’m afk right now

1. 10. 2017 v 9:27, Yog Mehta <notifications@github.com>:

[2017-10-02 00:16] jenniferkaplannyc commented on #85
@tricoder42 Do you still need help with this? If so I'm happy to help once the pull requests have been merged.

[2017-10-02 05:41] tricoder42 commented on #85
@jenniferkaplannyc So far it's all reviewed and merged. I'm gonna add more sections to documentation this month. I'll let you know if you were still interested!

@Andrew565 @ayushgangrade @BitYog Thank you guys for great work!

[2017-10-02 05:41] #85 closed

[2017-10-02 05:45] #90 closed

[2017-10-05 08:03] vitexikora opened #99 "Plural tags failing to be transformed after updating Webpack & React"
Basically I just updates some of my deps (webpack 2->3, React 15.6->16, and some loaders) and after trying to run the project I am getting errors like this:

[code]

Every plural, each with an other props. Importing like this:
[code]

How to solve this ASAP? I tried some more combinations of props, reinstalling the babel preset, reinstalling whole lingui, nothing helped, I am using the lastest ver

[2017-10-05 08:03] vitexikora opened #100 "Support React v16"
Please update the dependency to support v16.

[2017-10-05 13:35] tricoder42 commented on #99
What's your `.babelrc` please?

[2017-10-05 13:42] tricoder42 commented on #99
Try adding plugins instead of preset:

[code]

This usually helps when you have `transform-runtime` plugin, but I would need to see your `.babelrc` to be sure.

[2017-10-05 13:42] vitexikora commented on #99
.babelrc variants that I tried without getting any results:
[code]
[code]
[code]

[2017-10-05 13:46] vitexikora commented on #99
Tried this, no help, same error:
[code]

[2017-10-05 14:05] tricoder42 commented on #99
I've added minimal test project to branch [`regression-99`](https://github.com/lingui/js-lingui/tree/regression-99/examples/regression-99), but I can't get the same error. Could you please try to clone this repo, checkout `regression-99` branch and run `npm start` inside `examples/regression-99` directory?

If it doesn't help, have you tried to turn it off and on again? :) In terms of Node.js it's

[2017-10-05 14:13] tricoder42 commented on #100
Fixed in `lingui-react@1.3.1`

[2017-10-05 14:13] #100 closed

[2017-10-05 14:20] vitexikora commented on #99
the minimum project was missing babel-core, so I installed it, however the error is there...
[code]

what could it be? nodejs version?

[2017-10-05 14:22] tricoder42 commented on #99
I have Node.js v8.5.0, what's your version?

[2017-10-05 14:30] vitexikora commented on #99
Yeah, that was it....
Just deployed it also on the server, which has node@v8.1.1, and it also works. My machine has ancient 4.4.7 (which is now in maintenance), so Im updating...
Still its weird that it worked before, but thats not important now.

Thanks a lot for assistance!

[2017-10-05 14:30] #99 closed

[2017-10-05 15:20] vitexikora commented on #99
So I can finally confirm this, after installing node v8.6.0 the problem disappeared.
It is likely worth reflecting in project dependencies, to save time anybody else, who would stumble upon this (currently there is node >4.0).

[2017-10-07 09:59] Kernle32DLL opened #101 "Where has the documentation gone?"
Hi,

while I am aware that the documentation is currently being reworked (as in pretty much every project ;-) ), at the moment no documentation is publicly available, making it very hard to work with js-lingui.

We have...
https://lingui.gitbooks.io/js/
https://www.gitbook.com/book/lingui/js/details
https://lingui.github.io/js-lingui/ (did work ~2 or 3 days ago)

... and none of them work.

[2017-10-07 11:15] tricoder42 commented on #101
Hi @Kernle32DLL,
I'm sorry for this inconvenience. For some reason GitHub doesn't serve documentation under some (for now unknown) circumstances.

The official documentation is https://lingui.github.io/js-lingui/. It works now.

**Followup:**
- I've setup ping monitor to periodically check, that documentation works.
- I'm gonna ask support what's going on and how can I debug it. Simply sending emp

[2017-10-07 11:16] #101 closed

[2017-10-08 08:48] Kernle32DLL opened #102 "Programatically compiling languages / catalog"
Hi,

I'm not sure if this is the right place to ask, but as I suppose that the feature I require is missing, I am opening an issue here.

Details here:
https://stackoverflow.com/questions/46619062/programatically-compile-languages-with-js-lingui

In short:
I'm looking for a way, to programmatically compile my languages / catalog. Pretty much what `lingui-cli compile` does, but in-code.

My use-cas

[2017-10-08 09:39] tricoder42 commented on #102
Hi @Kernle32DLL,
that's a great idea! Let's do it.

lingui compile command is defined in [lingui-compile.js](https://github.com/lingui/js-lingui/blob/master/packages/lingui-cli/src/lingui-compile.js). Basically we need to extract everything from [line 75](https://github.com/lingui/js-lingui/blob/master/packages/lingui-cli/src/lingui-compile.js#L74) plus loading plural rules on [lines 38-43](https:

[2017-10-08 15:46] Kernle32DLL commented on #102
@tricoder42 great, I will look into it :)

[2017-10-13 14:25] Peping opened #103 "Whitespace doesn't get ignored in multiline strings"
When I run `lingui extract` on a component like this, the string in my messages catalog is without whitespace. When I run with translated messages, the default value is shown instead of the translated one.

**Component.js**
[code]

**messages.json** and **cs.json**
[code]

All one-line strings are translated correctly, but as soon as you include line breaks, the translation is broken.

[2017-10-13 14:39] tricoder42 commented on #103
Thanks, I'll take a look!

[2017-10-14 06:08] tricoder42 commented on #103
Hi @Peping,
I tried your example in [`example/webpack-react`](https://github.com/lingui/js-lingui/tree/master/examples/webpack-react) and the problem was in your message id.

In your example:

[code]

There's an `is` missing in your message ID.

Feel free to reopen if it doesn't solve your problem with more info, but in `example/webpack-react` this fixes the problem.

[2017-10-14 06:08] #103 closed

[2017-10-14 06:12] tricoder42 commented on #103
Also please note that only insignificant whitespace is removed and it works exactly how React would process your whitespace.

[2017-10-14 20:47] NSLS opened #104 "How to deal with static catalogs"
Hi! This is a great library and the best I could find for react so far. However, after integrating it into my project, I've faced a problem of translating strings which do not belong to components. A common example is messages from your API, e.g. error messages or validation errors.

Usually you either make a separate file describing these messages and then it is parsed along with the extraction p

[2017-10-15 14:53] tricoder42 commented on #104
Hi @NSLS,
I see two ways how to achieve what you want. One is already supported and the other would have to be coded.

# 1. Translation of messages outside components

You can wrap messages with `i18n_mark` and then translate them from a variable:

[code]

You could generate such file automatically from your backend. Depends on your stack.

# 2. Merge catalogs

This isn't supported yet, but it's d

[2017-10-15 14:59] NSLS commented on #104
Thanks for the quick reply!

I think that first solution is totally acceptable, I have used the same method in my other projects before.

The second solution would also be useful, but IMO in a different context, e.g. when a project grows larger and codebase has to be split across multiple repositories.

I will try to look inside the lingui's code and see if I can implement the merging method.

But

[2017-10-15 14:59] #104 closed

[2017-10-23 09:55] shye0000 opened #105 "No messages extracted when running 'lingui extract'"
Hi, I followed the documentations to configure my react application but I got an error when running 'lingui extract':
[code]

Here is my .babelrc
[code]
And here is my lingui configuration in package.json:
[code]

Did I do something wrong? Does anyone has the same error? Thanks in advance for your helps.

[2017-10-23 10:17] tricoder42 commented on #105
Seems like there's a bug when no messages are extracted from source files. I've just pushed a [fix](https://github.com/lingui/js-lingui/pull/106), it should be released test suit finishes.

[2017-10-23 10:29] shye0000 commented on #105
@tricoder42 Yes I tried the new version 1.3.7, the error is gone.
![image](https://user-images.githubusercontent.com/6414361/31884419-3f75ba2a-b7ed-11e7-8b45-1246d818f488.png)

But I got another issue here, 0 message extracted.
And I my code I have Trans defined like this:
![image](https://user-images.githubusercontent.com/6414361/31884516-97e02f88-b7ed-11e7-9ac3-a6aeaf8bb60f.png)

[2017-10-23 13:41] tricoder42 commented on #105
@shye0000 Indeed, this seems to be another bug. Do you import Trans from `lingui-react`? Could you please paste the import section of your file?

[2017-10-23 14:11] shye0000 commented on #105
@tricoder42 Here is the file I tested:
filename: LayoutComponent.js
[code]

[2017-10-23 14:27] tricoder42 commented on #105
I tried this file with your `lingui` configuration and got 2 messages extracted:

<img width="503" alt="snimek obrazovky 2017-10-23 v 16 25 07" src="https://user-images.githubusercontent.com/827862/31894469-d655d63e-b80e-11e7-8a40-fe2f7c2c4c11.png">

So, what platform you're on? Linux/Windows?
Do you run `lingui extract` in the same directory where do you have `src` directory?
What's the output of

[2017-10-23 14:37] shye0000 commented on #105
@tricoder42 I'm on Linux and yes I run lingui extract in the same directory as the 'src' directory.
Here is the screen shot of the output in verbose mode:
![image](https://user-images.githubusercontent.com/6414361/31894992-4aed0232-b810-11e7-8944-8430ffdcc565.png)

[2017-10-23 14:39] tricoder42 commented on #105
If you look inside `locale` directory, is there `_build` subdirectory? If so, what's the content of `LayoutComponent.json`?

[2017-10-23 14:43] shye0000 commented on #105
@tricoder42 The subdirectory `_build` is created, but its empty without `LayoutComponent.json`.
![image](https://user-images.githubusercontent.com/6414361/31895267-080b3460-b811-11e7-817b-2bd3e58e8f7b.png)

[2017-10-23 14:59] shye0000 commented on #105
@tricoder42 Here is my project structure, maybe it helps? :)
![image](https://user-images.githubusercontent.com/6414361/31896230-883f8224-b813-11e7-811c-be2ba2c98d69.png)

[2017-10-23 15:08] tricoder42 commented on #105
@shye0000 It all seems to be good.

Could you please try:
1. Clone this repo `git@github.com:lingui/js-lingui.git`
2. Go to `examples/webpack-react` directory
3. Delete `locale` directory
4. Add locales `lingui add-locale en fr`
5. And finally run `lingui extract`?

[2017-10-23 15:22] tricoder42 commented on #105
Also, could you please paste here output of `npm list` command?

[2017-10-23 15:28] shye0000 commented on #105
@tricoder42 I tried the example project and it works.
Output of `npm list` :

[npmlist.json.zip](https://github.com/lingui/js-lingui/files/1407731/npmlist.json.zip)

[2017-10-23 15:39] shye0000 commented on #105
@tricoder42 I found the problem! I use 'babel-plugin-resolver' in my project (https://www.npmjs.com/package/babel-plugin-resolver)
`lingui extract` works if I remove it from babel plugins.

[2017-10-23 15:40] tricoder42 commented on #105
Wow, alright, I'll take a look why it causes problem with lingui. Thank you very much!

[2017-10-23 15:47] shye0000 commented on #105
@tricoder42 You are welcome! I really like js-lingui and would like to use it with my real projects. Hope you can find the solution soon, thanks a lot.

[2017-10-23 18:39] tricoder42 commented on #105
@shye0000 Found the root cause. It should be fixed now. Please update the root packages you use:

 - babel-plugin-lingui-extract-messages@1.1.5
 - babel-plugin-lingui-transform-react@1.1.2
 - babel-preset-lingui-react@1.0.9
 - lingui-cli@1.3.8
 - lingui-i18n@1.3.2
 - lingui-react@1.3.3

[2017-10-23 18:40] #105 closed

[2017-10-24 08:06] shye0000 commented on #105
@tricoder42 Thank you very much, works like a charm!

[2017-10-25 08:25] kirillku opened #110 "Compile/extract command doesn't work on Windows"
Getting this error when running command to add a new locale:
[code]

lingui-cli 1.3.7
windows 10 (tried both from command prompt and git bash)

[2017-10-25 08:33] kirillku commented on #17
Thank you for a nice react tutorial. But have some troubles using cli tool.
Could you add to `lingui-cli` section, what is `_build` folder, why it is created and should it be committed?

[2017-10-25 08:37] tricoder42 commented on #17
@kirillku Absolutely, good point 👍

In short:
- `_build` folder contains temporary message catalogs, one per each processed source file (babel plugins operate on single file, so I can't generate one message catalog from all sources).
- it can be safely ignored as well as compiled message catalogs (`messages.js`). Only `messages.json` files should be in repository.

I'll push updated docs soon.

[2017-10-25 08:38] tricoder42 commented on #110
@kirillku Thank you! It should be fixed in latest `lingui-cli@1.3.9`, could you please confirm?

[2017-10-25 12:52] kirillku commented on #110
Just checked with new version, having the same issue
[code]

[2017-10-25 18:48] tricoder42 commented on #110
Seems like you're using `<projectDir>` instead of `<rootDir>`. Take a look at [reference documentation](https://lingui.github.io/js-lingui/ref/lingui-conf.html) for more info.

Sorry I didn't notice for the first time. Another user said he has a problem with Windows as well and I found a place where file path wasn't created in platform agnostic way. Your problem seems to be different.

[2017-10-25 19:41] kirillku commented on #110
Ah, sorry, it's just placeholder, i replaced the actual path in the output with wrong string, in my `package.json` i'm using `<rootDir>`.

[2017-10-26 10:50] tricoder42 commented on #110
Ok, I'll take a look at test it on my windows machine.

In the meantime, please create `C:\<rootDir>\locale\cs\` manually.

[2017-10-27 09:51] RogerGodefroy commented on #110
I also note an issue when extracting on windows.

The getLocales function in ```api/formats/lingui.js``` receives the sources as:

```[ 'locale/en/messages.json' ]```

The regex wouldn't match to 'en', which would result in no match.

This gives me the following error on windows:

```No locales defined!```

[2017-10-29 13:44] jamuhl commented on #82
We now fully support icu format at https://locize.com (and plan to extend based on your feedback / demand):

- highlighting
- validation
- machine translations
- plural conversion between source and target language
- prettify of your icu strings

<img width="1152" alt="screen shot 2017-10-29 at 14 12 00" src="https://user-images.githubusercontent.com/977772/32144336-9f3063ec-bcb7-11e7-8608-32bce52

[2017-10-29 18:56] tricoder42 commented on #82
@vonovak Hi, sorry I miss the update of your question.

There're many mature services online which support ICU message format:

- [Crowdin](https://blog.crowdin.com/2016/11/09/icu-syntax-in-crowdin/)
- [PhraseApp](https://phraseapp.com/docs/guides/working-with-phraseapp/icu-message-format/)

Feel free to reopen if you had more question!

[2017-10-29 18:56] #82 closed

[2017-10-31 10:38] shye0000 opened #113 "Error "lingui: not found" if install lingui-cli locally"
Hi, I installed lingui-cli the latest version 1.3.9 locally in my new project, and added the scripts 'add-locale', 'extract', 'compile' in my package.json like this (as documented here: https://lingui.github.io/js-lingui/ref/lingui-cli.html):

![selection_247](https://user-images.githubusercontent.com/6414361/32219644-32f4dc84-be2f-11e7-961c-e543901ffe85.png)

But I got an error "lingui: not found

[2017-10-31 11:50] kirillku opened #114 "Make components work without I18nProvider"
I'm not sure is it bug or current behavior, but when there are no catalog passed to `I18nProvider` or no translation specified in `messages`, instead of showing default values, it shows translations strings inside the application.

example:
[code]
=>
[code]
should be something like:
[code]
Seems like it works properly only when `<I18nProvider development={dev} catalogs={{}} />`.

[2017-10-31 11:53] tricoder42 commented on #114
At least `development={dev}` is required, because I18nProvider doesn't have bundled message parser.

In production parser isn't required, because messages in catalogs are parsed and compiled to pure functions. However, in development it's necessary to use `development` prop and pass development data (plural rules and message parser).

[2017-10-31 14:08] shye0000 commented on #113
Sorry its my bad actually, I got "%20" in my project root folder name, after remove it resolve de problem.

[2017-11-01 11:58] shye0000 commented on #110
Same issues here when extracting and compiling on windows.

`No locales defined!`

[2017-11-01 12:15] tricoder42 commented on #114
Feel free to reopen if you have more questions.

[2017-11-01 12:16] tricoder42 commented on #113
No problem, I'm glad it works!

[2017-11-01 12:16] #113 closed

[2017-11-02 09:31] kirillku commented on #114
I have added `<I18nProvider development={dev} catalogs={{}} />`, but it still shows translations strings instead of default values in production (in dev it works fine). If there are any way to generate empty catalog, so it will include only those helper functions?

And as a possible feature, what do you think about making components work even without `I18nProvider` or with empty `I18nProvider`. Th

[2017-11-02 09:46] tricoder42 commented on #114
In production you should use compiled message catalogs always. There're guards all over the code, which checks that `NODE_ENV !== 'production'` and only then development code is executed. So it won't work even if you had some sort of *empty catalog*. It's similar to how prop-types work. In production, all unnecessary code is removed, minimizing the bundle size.

The easiest way is simply run `ling

[2017-11-02 13:16] kirillku commented on #114
I have `"sourceLocale": "en"` and `"fallbackLocale": "en"` in my `package.json`, but if I will remove `en: unpackCatalog(en)` from `I18nProvider`'s catalogs, it will not work and also will show warning.

I think if it would be possible for components to work without `I18nProvider`, all components could decide just by props, what to output, anyway it would be better than translation string. For exa

[2017-11-02 14:21] tricoder42 commented on #114
Yes, in production you always need to load compiled message catalog.
In development you either need source catalog and development data or compiled catalog as well.

---

Let's try to figure out how it should work.

# Translations

Babel plugins transfrom all i18n components to `Trans` and convert children to ICU MessageFormat string. For example:

[code]

becomes

[code]

`Trans` component render

[2017-11-03 08:17] kirillku commented on #114
How it seems to me, if `Plural` is used without `I18nProvider`, then it should decide based on props, which text to show, it shouldn't be exact right form, just something acceptable.  `other` prop is required and other props will be used if specified. And if the user want to show exact right messages, then he need to connect `I18nProvider` with language catalog.

[code]

[2017-11-03 08:38] shye0000 commented on #110
Any news about this issue?

[2017-11-03 08:40] tricoder42 commented on #110
@shye0000 I'll take a look over the weekend.

In the meantime, please create language directories manually (e.g: `locale/en`).

[2017-11-05 22:04] tricoder42 commented on #110
@RogerGodefroy @shye0000 It should be fixed in **lingui-cli@1.3.10**, could you please confirm?

[2017-11-08 22:09] shye0000 commented on #110
@tricoder42 I didn't try `add-locale` on windows, but it is still not working when `lingui extract` and `lingui compile` on windows.
Same error like before: `No locales defined!`

[2017-11-08 22:13] shye0000 commented on #110
@tricoder42 the `add-locale` is working on windows! Je just tested it. Thank you.

[2017-11-11 06:39] tricoder42 commented on #102
@Kernle32DLL Are you still working on this? May I help with anything? I'm gonna spend some time on this project in next few days, so I might fix it as well.

[2017-11-12 20:29] Kernle32DLL commented on #102
@tricoder42 Ah, I didn't get to look into it :S I will give it a spin tomorrow (monday), and get back to you.

[2017-11-13 16:23] ArnaudRinquin opened #116 "Fails to build when using react-native bundler"
Hi!

I've be trying to use lingui within a react-native project but I have an issue using the `lingui-react` babel. Running `react-native start` will fail with the following error, which is not really helping:

[code]

I think I don't have any error in my setup, which is dead simple:

Relevant deps:

[code]

Lingui config:

[code]

.babelrc:

[code]

File structure:

<img width="353" alt="screen s

[2017-11-13 20:08] tricoder42 commented on #116
Hi, I’m off until Wednesday. I’ll let you know once I’m back online 👍

13. 11. 2017 v 17:23, Arnaud Rinquin <notifications@github.com>:

[2017-11-13 21:52] Kernle32DLL commented on #102
I didn't have time to look at it - again. It seems I cannot develop with my windows machine (well, most of the tests fail, although they shouldn't from eye balling them - I suspect line feed incompatibility). I will look into that tomorrow, when I have access to my Ubuntu laptop.

[2017-11-14 07:02] tricoder42 commented on #102
No problem, I’m off until Wednesday, I can help you or do it then :)

13. 11. 2017 v 22:53, Björn Gerdau <notifications@github.com>:

[2017-11-14 11:46] ArnaudRinquin commented on #116
I recreated [a repo](https://github.com/ArnaudRinquin/rntest) so you can quickly replicate the issue.

The config is even more basic than the one I exposed above.

[2017-11-16 09:08] tricoder42 commented on #116
@ArnaudRinquin Thank you, that was super helpful!

**TL;DR:** I managed to track down this obscure bug and I've just released fix in **lingui-react@1.3.5**.

More info: For some reason, babel-plugins proces all source files in node_modules. This happens in react-native environment only, I haven't experienced it in webpack. When `lingui-transform-js` plugin transforms `lingui-react` lib, it finds `

[2017-11-16 09:09] tricoder42 commented on #110
@shye0000 So `add-locale` works, but `extract` and `compile` still fails, right?

[2017-11-16 09:13] tricoder42 commented on #116
@ArnaudRinquin Please let me know if it works for your project as well. I'm able to run your testing repo without any errors.

[2017-11-16 09:37] tricoder42 commented on #114
@kirillku I see, so basically we would have default plural rules:

0: zero
1: one
2: two
3: few
4: many
5+: other

when language specific plural rules aren't available, right?

[2017-11-16 10:04] kirillku commented on #114
@tricoder42 this is how i see general rules for plurals:
[code]

Also, didn't get what the diffirence between `many` and `other`, so didn't put it there.

[2017-11-16 10:20] tricoder42 commented on #114
The difference depends on language, but if we do it this way, we should probably define all [plural rules](http://cldr.unicode.org/index/cldr-spec/plural-rules).

I'm still deciding between default plural rules or using `other` form when no plural rules are loaded. We want to make the component work without I18nProvider. However, when component returns incorrect text because of default plural form

[2017-11-16 13:49] kirillku commented on #114
@tricoder42 From my point of view, it is ok if the wrong text is returned when no `I18nProvider` is used. The only point is that the return value should be readable, because it is better to get `1 books` instead of `{count, plural, other {# books}}`.

What do you think about this default behavior:
[code]
It uses only `other` and `one`. So it will be already enough for English. And other languages

[2017-11-16 13:56] shye0000 commented on #110
@tricoder42 yes, exactly

[2017-11-16 14:16] ArnaudRinquin commented on #116
I just tried it: 👌 Thanks @tricoder42 for the quick fix!

Awesome lib by the way: super simple yet comprehensive API and exactly the right CLI tooling we need. This project deserves more exposure!

[2017-11-16 14:25] tricoder42 commented on #116
Great, thank you! 👍 Getting exposure is hard, but people are starting using it, talking about it and writing blog posts, so it should get better :)

If you wish I could mention your project/company in README to get a bit of social proof

[2017-11-16 14:25] #116 closed

[2017-11-17 12:13] lzurbriggen opened #118 "Webpack loader for message catalogs"
My goal is to load my messages without manually compiling (`lingui compile`) them during development. I don't have a problem manually compiling them for a production build but having to do it manually after every change to the files is cumbersome.

I used create-react-app and ejected it to be able to add the lingui-react babel preset, which means I'm using webpack. I couldn't find a webpack loader

[2017-11-17 12:19] tricoder42 commented on #118
Not right now, but it's one of [planned features](https://github.com/lingui/js-lingui/blob/master/ROADMAP.md#webpack-loader--easy). I might take a look at it this weekend, but if you had experience with building webpack loaders, any help is appreciated 👍

I'll check the docs. If you use dev package, it's enough to load .json catalogs.

[2017-11-17 12:24] tricoder42 commented on #118
I admit I'm using compiled message catalogs everywhere, but the reason of i18n/dev package is that you shouldn't compile/extract messages in development (as long as you don't need them translated). You only need to extract/compile for production and when you want to add translation for given language.

[2017-11-17 12:49] lzurbriggen commented on #118
Unfortunately not, but good to hear that it's on the roadmap.

I guess there are different workflows. In my current I'd like to translate everything I'm working on step by step instead of passing all the strings to a translation agency when I'm done.

Thanks for your quick replies!

[2017-11-17 13:15] tricoder42 commented on #118
Yeah, I understand. I'll focus on this feature in next few days.

Cheers!

[2017-11-20 13:51] ingro commented on #110
Same problem here, let me know if there is something I could do to debug the issue!

[2017-11-20 14:23] tricoder42 commented on #110
@ingro I have to find Windows machine to test it anyway, but could you please copy-paste me the error? It's the same as above, file does no exist?

[2017-11-20 14:33] tricoder42 commented on #102
I did a bit research yesterday. The easiest way is copy package.json to `dist` dir and run `npm publish` from there. This makes *flat* module, and we can import `lingui-cli/api/compile`. However, it's not possible, because we use lerna to publish packages and lerna publishes always from package root. There's open feature for it https://github.com/lerna/lerna/issues/901

For now, it's possible to i

[2017-11-20 15:18] ingro commented on #110
Same error as above, `No locales defined!`.

Trying to run the script on bash for windows it runs even if not successfull, I got some strange babel-related issue, might be because i'm using Create-React-App.

[2017-11-20 15:25] tricoder42 commented on #110
@ingro Yes, CRA is problematic, because it hardcodes babel config into webpack confing. The easiest fix is to create `.babelrc` with `react-app` preset only. Anyway, I'm gonna test it on Windows tonight.

[2017-11-20 15:33] ingro commented on #110
Thanks for the suggestion, I was able to run the `extract` command without errors!

[2017-11-20 17:39] tricoder42 commented on #110
@ingro Awesome! Glad it works 👍

@kirillku @RogerGodefroy @shye0000 Do you also use create-react-app?

[2017-11-20 18:38] tricoder42 commented on #110
@kirillku @RogerGodefroy @shye0000 I managed to test all CLI commands in Windows environment and probably fixed the bug. Could you please test latest version of lingui-cli, **1.3.12**? I'm just a bit uncertain, because I mostly reverted all changes to original state.

[2017-11-20 18:41] #110 closed

[2017-11-20 20:10] RogerGodefroy commented on #110
I'll give it a try tomorrow. I'll let you know...

[2017-11-20 20:51] tricoder42 commented on #110
@XSlemX Uff, I really don't understand how I missed that. Using lingui-cli for 6 months and never saw this error :/

Dependencies are fixed in **lingui-cli@1.3.13**, thank you for debugging this!

[2017-11-21 10:36] kirillku commented on #110
@tricoder42 checked, everything works now

[2017-11-21 10:39] ingro commented on #110
Same here, good job @tricoder42 !

[2017-11-21 23:39] #54 closed

[2017-11-21 23:45] tricoder42 commented on #54
Fixed in **lingui-react@1.4.0**.

`i18nHash` is passed down from `withI18n` HOC by default. It can be disabled using `withHash = false` option (`withI18n({ withHash: false })`).

More info in [docs](https://lingui.github.io/js-lingui/guides/optimized-components.html)

[2017-11-22 11:27] lzurbriggen opened #122 "CLI: Ignore empty defaults"
I use IDs for my phrases, but I get an error when I try to extract in situations like these:

[code]
The error message is `Different defaults for the same message ID.` which makes sense, as the first phrase is provided without a default. As a workaround I just omit the default of the Trans component, but that doesn't seem ideal to me.

Would it be possible to basically ignore empty defaults and co

[2017-11-22 12:26] tricoder42 commented on #122
@lzurbriggen Absolutely! I designed jsLingui for natural language as IDs and added custom IDs later. Missing support for defaults in `i18n.t` tag is one evidence of it.

Fix coming soon.

[2017-11-22 13:22] #122 closed

[2017-11-22 13:22] tricoder42 commented on #122
Fixed in:
 - babel-plugin-lingui-extract-messages@1.1.7
 - lingui-cli@1.3.14

[2017-11-22 22:48] #118 closed

[2017-11-22 22:53] tricoder42 commented on #118
Just release **lingui-loader@0.1.0**. This is first release, please consider it experimental. I tried it with [webpack example](https://github.com/lingui/js-lingui/blob/master/examples/webpack-react/src/App.js#L25) and it works fine. I'm releasing it early to get feedback as soon as possible.

Quickstart
========

1. Install it

[code]

2. Load JSON message catalog using this loader:

[code]

or u

[2017-11-23 13:57] lzurbriggen commented on #118
This is very cool, thanks!

It works great so far (there's a problem changing languages, but that may be unrelated).

Just to describe how I'm using this in my react project:

I added it to my webpack config (dev _and_ prod in my case) the same way other loaders are configured
[code]

Now I can just import the json files without explicitly telling webpack how to load the files. This works great fo

[2017-11-23 14:12] tricoder42 commented on #118
Yes, this is great!

I was thinking that loader could also accept whole locale folder and return all catalogs, for cases like yours – when you don't need to load messages dynamically. Something like:

[code]

I'm not 100% sure, if webpack supports loading folders and then I would have to update `unpackCatalog` function. I'll test it later.

[2017-11-24 08:25] ludwigbacklund opened #125 "i18n.t fails on template literals"
Hi. I'm not sure if this is related to js-lingui or something else but I could use some help. I've been going through the tutorial and am now trying to translate a template literal with a variable that looks something like this:

``` i18n.t`Some text: ${someVar}` ```

but I get this error:

`Module build failed: TypeError: /.../file.js: Property key of ObjectProperty expected node to be of a type

[2017-11-24 09:09] tricoder42 commented on #125
Hello @ludwigbacklund,
this is definitely supposed to work! Just to clarify: is you example the same as in your code or do you use member expression instead of variable (e.g: ```i18n.t`Some text: ${object.key}` ```)?

Simple variables are supposed to work as seen in this [test case](https://github.com/lingui/js-lingui/blob/master/packages/babel-plugin-lingui-transform-js/test/fixtures/t/actual.js#

[2017-11-24 09:13] ludwigbacklund commented on #125
@tricoder42 Aha! Yes it is a member expression. So I should wait for an update on your side? :smile:

[2017-11-24 09:16] tricoder42 commented on #125
Yeah, I'm gonna fix it asap. This is inconsistency in API.

Just for your information, I generally prefer using variables in my code, because then I have named arguments in messages. Anything else is transformed to positional (numbered) argument:

[code]

[2017-11-24 09:20] ludwigbacklund commented on #125
@tricoder42 Nice, thank you!

[2017-11-24 10:27] #125 closed

[2017-11-24 10:28] tricoder42 commented on #125
Fixed in latest versions of plugin, presets and related packages:
 - babel-plugin-lingui-extract-messages@1.1.9
 - babel-plugin-lingui-transform-js@1.0.5
 - babel-preset-lingui-js@1.0.6
 - babel-preset-lingui-react@1.0.12
 - lingui-cli@1.4.1
 - lingui-loader@0.1.1

[2017-11-24 10:28] tricoder42 commented on #125
Thank you for reporting this issue! 👍

[2017-11-24 10:53] thibautRe opened #127 "babel-plugin-lingui-transform-js@v1.0.5 needs to be published"
Hey,

Following [this change](https://github.com/lingui/js-lingui/commit/44bf5289e0c8fd0f0b2d2fca43eca820b7d956ab#diff-1aa69097416b9d839428a77edb8ba12dR23), this package https://www.npmjs.com/package/babel-plugin-lingui-transform-js needs to be published to its new version (v1.0.5)

[2017-11-24 11:00] tricoder42 commented on #127
Ah, sorry, I accidentally messed up `lerna publish` process. Republished under new patch release:

 - babel-plugin-lingui-extract-messages@1.1.10
 - babel-plugin-lingui-transform-js@1.0.6
 - babel-preset-lingui-js@1.0.7
 - babel-preset-lingui-react@1.0.13
 - lingui-cli@1.4.2
 - lingui-loader@0.1.2

[2017-11-24 11:00] #127 closed

[2017-11-24 11:01] tricoder42 commented on #125
The previous versions were unpublished from npm as mentioned in #127. Fixed in:

 - babel-plugin-lingui-extract-messages@1.1.10
 - babel-plugin-lingui-transform-js@1.0.6
 - babel-preset-lingui-js@1.0.7
 - babel-preset-lingui-react@1.0.13
 - lingui-cli@1.4.2
 - lingui-loader@0.1.2

[2017-11-24 12:18] vonovak opened #128 "[question] How to use key and defaults with i18n.t function?"
hi! I'm wondering - in https://github.com/lingui/js-lingui/issues/15 you mention how to use key with the i18n.t function:

I'd like to ask - how do I provide a default message for the key? Thanks!

I did notice there is the `_` function in https://github.com/lingui/js-lingui/blob/master/packages/lingui-i18n/src/i18n.js#L158 but I haven't seen it documented so not sure if I should use it.

A relate

[2017-11-24 12:52] tricoder42 commented on #128
Hello @vonovak,
yeah, this is one missing piece in the puzzle. Right now there's no way to set default message using ```i18n.t`component.title` ``` syntax.

`i18n._` is low-level API. It's not documented, but definitely stable and won't go anyway. All tagged template literals (`i18n.t`, `i18n.plural` and so on) are transformed to low-level `i18n._` call:

[code]

The point is, that tagged template

[2017-11-24 13:11] vonovak commented on #128
Thanks @tricoder42
I don't have a strong opinion on the two options you gave - option one seems to be slightly more readable at the first sight, option two is more compact and makes it easier to add the custom key, plus it's not creating a new api (/ uses the existing one).

I'm just wondering: say I have a product whose name is "Great Product"

so the plan is: I do this once (or use the `Trans` c

[2017-11-24 13:36] tricoder42 commented on #128
Yes, this is actually supported right now, but only in combination with `Trans` tag:

[code]

The only problem would be if you define different defaults for the same key - this would raise an error.

The API maybe needs a bit of polishing. ```i18n.t(`id`)``` returns a function (template tag), so type-checkers will be confused if you use `const productName = i18n.t('product.name')`.

Also, the situ

[2017-11-24 14:24] Teloah commented on #17
Could you please also add a testing tutorial? Something of like this for React Intl: https://github.com/yahoo/react-intl/wiki/Testing-with-React-Intl
I'm mostly interested in testing using Jest and Enzyme.

[2017-11-24 14:48] tricoder42 commented on #128
Good point!

For now take a look at test cases for [example project](https://github.com/lingui/js-lingui/tree/master/examples/webpack-react/src/Usecases), especially [Children.test.js](https://github.com/lingui/js-lingui/blob/master/examples/webpack-react/src/Usecases/Children.test.js) shows the most common patterns.

[2017-11-24 14:48] tricoder42 commented on #17
Good point!

For now take a look at test cases for [example project](https://github.com/lingui/js-lingui/tree/master/examples/webpack-react/src/Usecases), especially [Children.test.js](https://github.com/lingui/js-lingui/blob/master/examples/webpack-react/src/Usecases/Children.test.js) shows the most common patterns.

[2017-11-27 11:45] LFDMR opened #130 "Does this.props.i18n.t works ?"
Hi,
I got a state component which called a component that need translation.
[code]
And when I do `lingui extract` I don't have the message in my messages.json files.

BUT if I used a stateless component like this:
[code]
Then
[code]
Everything works.

Should I do this extra step every time ?

I use
[code]

Thanks

[2017-11-27 12:25] thibautRe commented on #130
Can you try to extract `i18n` from `this.props` in your first example?

[code]

I am not entirely sure but I guess the babel-parser is looking for the expression `i18n.t(...)`, not `this.props.i18n.t(...)`

[2017-11-27 14:20] LFDMR commented on #130
Unfortunately, that does not work

[2017-11-27 14:23] LFDMR commented on #130
Nice it works this way!

[2017-11-27 14:55] LFDMR opened #131 "i18n.t for defaultProps"
Hi,
I wonder how I should use lingui for defaultProps who will be used as the title attribute.
[code]
When I use Trans, it render [Object]

[2017-11-27 14:59] tricoder42 commented on #131
I would recommend mark string in defaultProps as translated and pass variable either to `id` prop of `Trans` component or `i18n._` low-level method:

[code]

[2017-11-27 15:39] LFDMR commented on #131
Awesome !

[2017-11-27 16:04] #131 closed

[2017-11-28 06:58] tricoder42 commented on #130
@LFDMR Yes, @thibautRe is right. Babel plugin is looking for `i18n` object only. I'll fix it soon.

[2017-11-29 09:04] ludwigbacklund opened #132 "Locale lazy-loading breaks for me when running production build"
Hi, I could use some help with getting lazy-loading of locale files to work when running my application in production. I bootstrapped the project with create-react-app and it works in development but running the production build yields the following error, originating in the webpack function `webpackAsyncContext`

[code]

but the previous step in the stack trace was the `await import` in my I18nLo

[2017-11-29 20:21] tricoder42 commented on #132
Is it possible to share the bare minimum of your project? It would make debugging much easier. Otherwise I'll try what you said during weekend (bootstrap CRA, eject, setup lingui, add async loader).

[2017-11-30 18:52] ludwigbacklund commented on #132
I'm sorry, it's not possible for me to share the project I'm working on at the moment. I'll be working on it more on Tuesday if you can't find anything during the weekend.

[2017-12-05 08:07] vonovak commented on #128
Thanks for the comments. I use react (native), so I have the option of using the Trans component as well as the i18n.t function, I just wanted to get a better picture of the options.

I'll probably have a file with some very common translations, eg:

[code]

Since I work with React Native, I sometimes can use the trans component and other times I cannot - sometimes I need to be able to get a plain

[2017-12-07 21:07] Eishpirate opened #133 "User language and system language rules"
Not sure if this is already possible, but we have a requirement that a User can select the language they'd like to see the application in, but then there would be certain fields that wouldn't be affected by the user language, but rather the language of the Company they're logged into.

For example, a User could be using the application for a US based company and need to report on Sales Tax, but th

[2017-12-08 07:31] mcku opened #134 "messages.json gets deleted when there is a newline in translation string"
Hi,

I find js-lingui very useful and like the approach. Due to some other circumstances I have to use typescript and babel 7. Therefore using local packages of your repo in my project. Currently I am using simple ```<Trans>{children}</Trans>``` for translating content to Arabic. The initial extraction is fine and I get

Messages extracted!

Catalog statistics:
[code]

And then I fill in the ar pa

[2017-12-09 20:52] tricoder42 commented on #134
Hello @mcku,
thank you for your kind words! I'm glad you like this project 🎉

So, you forked the project and added support for typescript and babel 7? How did it went, was it difficult? There's some work on Typescript plugin by @johansigfrids (https://github.com/lingui/js-lingui/issues/48), but I didn't have time to dig into it as I don't have any experience with typescript.

I'm gonna try it, but

[2017-12-09 20:58] tricoder42 commented on #133
Hello @Eishpirate,
that's very interesting usecase.

It really sounds like you need two instances of i18n. It's easy to do it with vanilla JS – there's `setupI18n` factory function in `lingui-i18n` package. However, it's not supported right now with `lingui-react` because i18n object is passed through context. Even when you create two instances of this object, they would overwrite each other.

So

[2017-12-10 10:42] mcku commented on #134
Yes I did fork it and noticed you guys are using lerna and tried it but my fork is not current, in the end I have also added yarn workspaces in order to do things locally. What i did was just to replace babel dependencies with the babel 7 versions. Also I could not use the babel preset because the new babel does not want objects to be exported, but only functions. Maybe you can fix that when migra

[2017-12-11 07:35] ludwigbacklund commented on #132
I've not been able to figure out what's causing the error. Have you found anything that could cause something like this?

[2017-12-12 09:24] akkie commented on #128
@tricoder42 Is there currently a method which allows to use variables with the low-level API?

[code]
This doesn't work

[2017-12-12 09:35] tricoder42 commented on #128
@akkie Yes, that's exactly how it's supposed to work (see this [test case](https://github.com/lingui/js-lingui/blob/master/packages/lingui-i18n/src/i18n.test.js#L178)).

What's the content of `message` variable?
`{max}` placeholder isn't replaced with 50?
`{max}` placeholder is missing completely in final message?
Message isn't translated at all?

[2017-12-12 09:41] akkie commented on #128
@tricoder42 Ahh, sorry!

This is the message:
[code]

The placeholder will not be replaced.

[2017-12-12 09:52] tricoder42 commented on #128
No need to apologize! This library has a huge documentation dept, I'm gonna work on it during upcoming holidays (BTW, there're old  [tutorial](https://github.com/lingui/js-lingui/blob/master/docs-old/tutorials/js.md) for `lingui-i18n`).

Do you use `lingui-i18n` only or in combination with `lingui-react`? If solo, could you please try this minimum example:

[code]

I think the important part is `i

[2017-12-12 10:45] akkie commented on #128
I use it in combination with `lingui-react` and the message is contained in my catalog. I use the code within a Redux Saga which is completely decoupled from the React related code. I store the language and the catalog in my Redux store. So I'm able to fetch this data in my Saga and set it with the `i18n.load` and `i18n.use` functions, as you've it suggested. This works now with my English message

[2017-12-12 18:08] tricoder42 commented on #128
Use `.activate(language)` instead of `.use(language)`. `use` is for local language switching and creates a copy of i18n object, `activate` changes global language:

[code]

Do you use `babel-preset-lingui-react`? If not, you need to load `babel-plugin-lingui-transform-js` explicitly.

Also, js plugin is looking for `i18n.t` calls, so these examples won't work:
[code]

Does it solve your usecase?

[2017-12-13 07:48] akkie commented on #128
@tricoder42 `activate` works as expected. Thanks for the help and the great library :+1:

[2017-12-14 10:07] ludwigbacklund commented on #132
Disregard, it was me being a doofus! I had put `babel-polyfill` in `devDependencies` which means the `await import` broke when running in production.

[2017-12-14 10:07] #132 closed

[2017-12-14 10:08] tricoder42 commented on #132
Glad you figured it out! 👍  I'm sorry for lack of communication from my side, but I'm a bit overwhelmed last few weeks...

[2017-12-14 10:22] ludwigbacklund commented on #132
It's all good dude, `js-lingui` is amazing so thanks for doing what you do!

[2017-12-15 21:00] np-8 opened #135 "Rewrite development bash scripts to JS for Windows compatibility"
Hello,

I am trying to install the development version of js-lingui, following the instructions in [CONTRIBUTING.md](https://github.com/lingui/js-lingui/blob/master/CONTRIBUTING.md).  The `yarn run bootstrap`-part is throwing error which I can not circumvent.

### Setup
Windows 10, Running in PowerShell with Admin rights, npm v.5.5.0, Node v. 8.9.3, yarn v. 1.3.2.

### Full traceback
[code]

I als

[2017-12-16 00:48] sebhiticas opened #136 "Docs typo: DateFormat"
In the docs, it says `numberic` and should be `numeric`.

Url: https://lingui.github.io/js-lingui/ref/lingui-react.html?highlight=date#component-DateFormat

<img width="814" alt="jslingui-dateformat" src="https://user-images.githubusercontent.com/675541/34065541-cebc4f34-e1d0-11e7-9195-048bcd022aa7.PNG">

[2017-12-16 13:53] #136 closed

[2017-12-16 13:57] tricoder42 commented on #136
Thank you @sebhiticas for reporting this and @thibautRe for fixing! Updated docs are deployed now.

[2017-12-16 14:00] tricoder42 commented on #135
Hi @np-8, I think it's caused by [prepublish](https://github.com/lingui/js-lingui/blob/master/scripts/prepublish.sh) script, which is written in Bash. I tried to setup testing in Windows environment using Appveyor, but run into similar issue.

We should rewrite deployment script to node.js so it's more portable across platforms. I'll work on it during holidays

[2017-12-16 21:44] np-8 commented on #135
Ok nice to know that the source of errors is known 👍

[2017-12-17 10:20] np-8 opened #138 "Docs: Tools for translation"
Hi,

I think there should be some pointers in the docs for tools which can be used to translate the generated JSON files. I have come across only to few paid browser based (PhraseApp, Transifex, Locize, ...) solutions and one GPL licenced Java app: [i18n-editor](https://github.com/jcbvm/i18n-editor). It does not support the [lingui format](https://lingui.github.io/js-lingui/ref/lingui-conf.html#li

[2017-12-17 16:30] np-8 opened #139 "Suggestion: Optimize the length of message ID"
Hi,

I have been thinking, that when translating longer sentences, it would be nice if the message ID was not the English (or whatever development language) message, but shorter, random ID. After thinking it a bit more, I came up this question: Could it be possible that, in production code, the message ID's are just integers ranging from 1 to # of translated strings? This would be some kind of "mi

[2017-12-17 16:42] tricoder42 commented on #139
Yes, similar idea was suggested in one issue. It definitely make sense.

Question is if message IDs should be replaced with integers or hash.

One thing I would like to support in the future are translations in 3rd party libraries. For example, when you import `react-datepicker` which is translated using jsLingui, CLI should pick messages also from this 3rd party library and add them to your messa

[2017-12-17 16:49] tricoder42 commented on #138
I don't think there's any problem when using `minimal` JSON format. I think it could be the default format in future.

I don't use any external tool or service. I wrote my own few months ago and added `lingui sync` command as a proof of concept. Never published this command neither the service as I use it internally. However, my idea is that `lingui sync` should use API provided by i18n service (P

[2017-12-17 16:57] np-8 commented on #139
I would personally prefer integers to have even shorter message IDs, but maybe they both could exist as options. Handling duplicates could be something like this
1) Make message IDs for every string
2) Look at all duplicated IDs (if any).  Compare the "original nontranslated strings". If they are the same, do nothing. If they are not the same, use the ID `N+1`  (where `N` is the highest number use

[2017-12-17 17:04] np-8 commented on #138
Good to hear that there are no problems in using the less verbose `minimal` JSON format.

I think those plugins for i18n services make a lot of sense for bigger projects & for companies who can afford them. For others, a simple browser based / GUI tool would be really handy. The i18n-editor is not perfect, I feel it a little more comfortable than editing the JSON files.

How about the option to ex

[2017-12-17 17:10] tricoder42 commented on #138
Ah, sorry, I missed that question.

You can use [`"sourceLocale": "en"`](https://lingui.github.io/js-lingui/ref/lingui-conf.html#sourcelocale) in configuration and leave English message catalog untranslated.

For source locale:
- `lingui extract` doesn't show stats
- `lingui compile` uses message IDs as translations and
- `lingui compile --check` doesn't raise an error.

[2017-12-17 17:17] tricoder42 commented on #139
Good points. I think we could still use [0-9a-zA-Z] instead of integers to make IDs even more compact, maybe also include some chars? Doesn't exist any encoding which does exactly this?

[2017-12-17 17:36] np-8 commented on #139
Yeah thats even more compact. I think the name for that is "base 62" numbers (since there will be 62 different symbols). You can add as many special characters there if you want _even_ more shorter IDs. But I guess there are not many people using even 1000 message IDs, so the real effect is minimal (compared to changing the original string to an integer). But of course, optimization is fun, so why

[2017-12-17 18:07] np-8 opened #140 "lingui extract format --minimal not converting old messages.json files and produces faulty statistics."
The [lingui extract](https://lingui.github.io/js-lingui/ref/lingui-cli.html#extract) --format works when converting existing messages.json files from [minimal](https://lingui.github.io/js-lingui/ref/lingui-conf.html#minimal) to [lingui](https://lingui.github.io/js-lingui/ref/lingui-conf.html#lingui), but not vice versa. The output format is wrong, and the statistics are faulty (claims that no tran

[2017-12-17 18:36] tricoder42 commented on #139
Looks good! I'll see what I can do. This could probably land in next major release. I'll start writing release docs for features I want to include.

[2017-12-17 18:38] np-8 opened #141 "Suggestion: Copy message ID to translation for source locale"
The [lingui extract](https://lingui.github.io/js-lingui/ref/lingui-cli.html#extract) --format minimal command makes pretty messages.json files, like this:

[code]

## Suggestion
A flag called `--default-translation` or similar, which could be used like `lingui extract --format minimal --default-translation en_US`, which would produce

[code]
into locale/en_US/messages.json, to enhance translation

[2017-12-17 18:45] np-8 commented on #138
What I meant to ask was hard to explain in just a few words, so I created Issue #141 for that.

[2017-12-17 18:46] tricoder42 commented on #141
I think we could use existing `sourceLocale` config, but instead of handling source locale in `lingui extract` and `lingui compile` commands as described [here](https://github.com/lingui/js-lingui/issues/138#issuecomment-352270361), we could copy message IDs in `lingui extract` command.

My original idea was that catalog for `sourceLocale` could be completely ignored, but you're right that it may

[2017-12-17 18:47] tricoder42 commented on #140
I never intended to support this. Conversion from minimal to lingui is for backward compatibility.

I think we could either add `convert` command or `--from` option to `lingui extract` command to make conversion explicit.

[2017-12-17 19:08] np-8 commented on #140
In that case I think, that `lingui extract` should just throw an error if the format is not matching.

Then, conversion (from `minimal` too `lingui`) should be done by something like  `lingui convert-format-to lingui`. If using `--from` -flags, then adding a new format some day could cause problems (how would you know to which format you want to convert if you have multiple options?). Also, since

[2017-12-17 19:26] np-8 commented on #141
Using `sourceLocale` seems clever, since it is an existing configuration option. Copying message IDs in the `lingui extract` command solves the problem, and to me feels the correct path. I don't know would it make someone upset to see their `sourceLocale` languages message IDs (untranslated text) to be copied into the translation by default?  If it would, then we could add just a `--no-copy` optio

[2017-12-17 19:31] tricoder42 commented on #141
In that case it's harder to check for missing translations. It make sense only for few locales and those usecases are covered by fallbackLocale (e.g. en_US could use translations from en_GB if missing).

[2017-12-17 19:32] tricoder42 commented on #140
Yes, I agree `minimal` format should be default. Unfortunatelly it's backward incompatible change, so it'll land in next major release.

[2017-12-17 19:33] np-8 commented on #138
I played around with i18n-editor and found out that it does not like spaces in the message ID's. I think I saw somewhere a browser based free tool, which worked by running some HTTP server on your local machine.. But can't remember the name.

[2017-12-17 19:38] tricoder42 commented on #140
Format is defined using `"format": "lingui"` config. Source format would be taken from `--from` option and target from config.

[2017-12-17 19:54] np-8 commented on #140
You're right, both, _from_ and _to_, must be defined somehow. Using the "to" option from the config makes sense, and therefore using a `--from` flag is natural.

[2017-12-17 20:04] tricoder42 commented on #140
Maybe `--from-format` or `--convert-format` would be better.

I've just added draft of [release docs](https://github.com/lingui/js-lingui/blob/master/docs/releases/migration-2.rst)

[2017-12-17 20:34] np-8 commented on #140
Nice! 👍  I think it would be even clearer to have explicit `lingui convert --from lingui` -command, instead of bundling it with the `lingui extract` -command. But that's just a matter of taste.

[2017-12-17 20:34] tricoder42 opened #142 "Refactor build scripts"
- [x] Replace `lerna` with `yarn workspaces`
- [x] Fix build on Windows https://github.com/lingui/js-lingui/issues/135
- [x] Run test suit in Windows environment (AppVeyor?)
- [x] Release "flat" packages (move package.json inside dist dir and publish from there) https://github.com/lingui/js-lingui/issues/102
- [x] [Track bundle size](https://reactjs.org/blog/2017/12/15/improving-the-repository-inf

[2017-12-18 00:49] Kernle32DLL opened #143 "lingui-react: Why does I18nProvider render a div?"
It took me some time to figure out why there was a simple `div`, without any class or anything else attached, at the root of my application. As it turned out, this `div `was rendered out by `I18nProvider`, [as a container for its children](https://github.com/lingui/js-lingui/blob/b904b9d430ae8922ab22b35889cd612b42322daf/packages/lingui-react/src/I18nProvider.js#L108).

I presume this is from pre R

[2017-12-18 05:30] tricoder42 commented on #143
You could wrap your children into [<React.Fragment>](https://reactjs.org/docs/fragments.html). I18nProvider then receives only single child and doesn't render the wrapper div.

[code]

I'm gonna change this default behavior in next major version which should be release soon after holidays.

[2017-12-18 13:28] sebhiticas commented on #136
Thanks to you 👍 Awesome library BTW! Easy to use and gets the job done 💯

[2017-12-18 13:36] sebhiticas opened #144 "Feature request: DateFormat: time from now à la moment.js"
I didn't see any reference concerning this behavior, so here's my request: would it be possible to have something similar to moment.js with the time from now output?

Here's what I'm refering to: https://momentjs.com/docs/#/displaying/fromnow/

It looks like this:

Range | Key | Sample Output
-- | -- | --
0 to 44 seconds | s | a few seconds ago
44 to 44 seconds | ss | 44 seconds ago
45 to 89 secon

[2017-12-18 13:55] thibautRe commented on #144
You can have a look at [`date-fns`](https://date-fns.org/) if you want to Internationalize time difference. They provide locales and formatting, which seems to fit your needs.

[2017-12-18 14:29] sebhiticas commented on #144
Ok thanks.

[2017-12-20 15:08] rovansteen opened #145 "Define translatable messages with variables outside of React, use them inside component."
I have a validation function that returns an error if a field is missing and I'm trying to get that working with `js-lingui`. I have defined the field like this:
[code]

Now I'm kind of stuck how I can render this message in React and pass the attribute variable to this translation? I can't find anything about it in the documentation. I've tried all kinds of things with `<Trans />` by passing in p

[2017-12-20 15:52] tricoder42 commented on #145
Hi @rovansteen,
unfortunately, this usecase isn't supported. You can't pass a function as a variable.

The template string above is transformed to this code:

[code]

You could call it manually, but you need to pass `0` variable:

[code]

I guess that's not what you want, because now the function (`props => props.attribute`) is lost completely.

How you validation function looks like? Maybe you co

[2017-12-20 15:56] tricoder42 commented on #144
@sebhiticas Thank you for your request. It's already mentioned in #50, so I'm gonna close this as a duplicate. Please follow discussion there.

As mentioned there, before I start bundling translations with components, I need to solve a) local namespaces (related to lingui-i18n and lingui-react), b) how to package translations with components (related to lingui-cli)

For now, date-fns is the best a

[2017-12-20 15:56] #144 closed

[2017-12-20 16:01] rovansteen commented on #145
Hi @tricoder42 thanks for the quick response! Thanks for the tip. My validation function now looks like this:
[code]

But how do I get the attribute value to the string? It looks like the {attribute} is now hardcoded in the message.

[2017-12-20 16:03] tricoder42 commented on #145
Ah, sorry, my mistake! I'm missing `$` in template literal.

It should be:

[code]

[2017-12-20 16:28] rovansteen commented on #145
Okay that makes sense! However when I try to render it, I still get `The {attribute} is required`. I tried to render it plainly by like this:
[code]
and in `<Trans />` component like this:
[code]
but both don't work. How do I render this i18n message in to the React context with variables?

[2017-12-20 18:42] sebhiticas commented on #144
Totally understand. Thanks for your help!

[2017-12-21 10:55] tricoder42 commented on #145
I think you also need to access `i18n` from props.

I've added example of validation using [redux-form](https://github.com/lingui/js-lingui/tree/master/examples/react-redux-form). [`validate`](https://github.com/lingui/js-lingui/blob/master/examples/react-redux-form/src/Form.js#L18) function in `redux-form` takes form values and component props as parameters, so you can wrap form with `withI18n` a

[2017-12-22 09:05] lcordier42 opened #146 "Extract doesn't work with "require" and "React.createElement""
Hi,
When I use

[code]

lingui extract works fine, but extract doesn't work with "require" and with "React.createElement".

- Extract doesn't work with "require" :
When I replace
[code]
by pure JS
[code]
It doesn't works.

- Extract doesn't work with "React.createElement" :
When I replace
[code]
by
[code]
It doesn't work either.

If someone could tell me how I could make these two pure JS forms wo

[2017-12-22 12:21] tricoder42 commented on #146
Hello @lcordier42,
unfortunately, both babel plugins work only with JSX at the moment. It would require complete rewrite of both babel plugins.

Support for `const { Trans } = require('lingui-react')` is possible, but it won't be easy either. Right now, only files which import from `lingui-react` are transformed. This optimization prevents incorrect transforms, for example when you use `Select` co

[2017-12-23 15:21] tricoder42 commented on #47
Closing, as `unpackCatalog` is removed in upcoming major release 2.x

[2017-12-23 15:21] #47 closed

[2017-12-27 10:24] mojtabast opened #148 "Can I use lingui with Create React App?"
Hi,

I tried to use lingui with CRA but I'm getting an error when I run `lingui extract`

`
Extracting messages from source files…
/Users/hami/Work/Hami/tour/build/service-worker.js
/Users/hami/Work/Hami/tour/build/static/js/main.df94a9fa.js
/Users/hami/.config/yarn/global/node_modules/babel-core/lib/transformation/file/index.js:590
      throw err;
      ^

SyntaxError: /Users/hami/Work/Hami/tour

[2017-12-27 12:10] tricoder42 commented on #148
Try to create `.babelrc` with `react-app` preset:

[code]

I'm just migrating [old docs](https://github.com/lingui/js-lingui/blob/master/docs-old/guides/integrations.md#create-react-app), so this should be available in new docs soon.

[2017-12-27 12:39] rovansteen commented on #145
Thanks, that works perfectly. The example certainly clarifies a lot. 👍

[2017-12-27 12:39] #145 closed

[2017-12-27 13:40] mojtabast commented on #148
That works. Thanks.

[2017-12-28 08:43] #148 closed

[2017-12-31 10:55] mcku opened #149 "some <Trans> tag content are not being collected"
Hi,

In a project, I had started using lingui-react with <Trans> encapsulation for strings to be translated. This worked fine up until now, as some (1-2 out of 80) strings are just do not appear in the messages file. I believe they get lost in the way somehow, but have no idea where and why that has happened.

The content within <Trans> tags, which disappears in message file, renders fine in the b

[2017-12-31 10:57] tricoder42 commented on #149
Take a look at transformed source (without minification) and try to find location of these `<Trans>` tags.

Could you please share original line with `<Trans>` which is missing in extracted messages and if you manage to find it, also the transformed line?

[2017-12-31 12:21] mcku commented on #149
The _build directory contains some json files named "undefined.json". This directory tree also resembles the original jsx source tree. But each subfolder contains one undefined.json. It appears that if there is more than one file in a particular jsx tree subfolder, <Trans> from one of those in the source tree found its way to the output, but not the others.

[2017-12-31 12:23] tricoder42 commented on #149
Yes, that's definitely bug. ~What environment you're in? Windows/Linux?~

Oh, I just realized: Do you use Babel 7? I'm migrating jsLingui to new build system and as part of it I had to migrate to Babel 7 as well. I encountered exactly the same problem as you did.

[2017-12-31 13:09] mcku commented on #149
@tricoder42 I am using Linux.
Does changing the approach help? As in the typescript plugin, concatenating output to a single file using
`tsc --outFile dist/index.js --module system` and the output now has tags like `<lingui_react_1.Trans>Choose language</lingui_react_1.Trans>`
`<lingui_react_2.Trans>Messages</lingui_react_2.Trans>`
They look fine, and namespaced during concatenation I think. Howev

[2017-12-31 13:16] tricoder42 commented on #149
Extract plugin looks for <Trans> component only. Actually, it looks on how Trans component is imported and looks for the imported name. It doesn't support member expression yet, so this example won't work either:

[code]

This could be added to extract plugin, but it seems it doesn't fix our original problem. Extract plugin doesnt' work with Babel 7 because fix isn't released yet, but I could back

[2017-12-31 14:20] tricoder42 commented on #142
Fixed in #147

[2017-12-31 14:20] #142 closed

[2017-12-31 14:21] mcku commented on #149
Part 1 -- as you know, `tsc` can generate output in two ways. One is the concatenated single file output, e.g., `dist/index.js`, and the other is the jsx output (when tsc is run, given the project's proper config). So the `dist/index.js` is a bundle structured in systemjs manner..

[code]
Above, `lingui_react_4` was defined in `exports_35`. Is this supported? If so, that's what I saw in the typesc

[2017-12-31 14:28] tricoder42 commented on #149
No, at least not at the moment.

This should work (amazing workflow to be honest). I see you're using `@babel/core` (Babel 7), so I guess this is the same bug as I encountered. I'll backport patch to extract plugin asap.

[2017-12-31 14:35] mcku commented on #149
Thanks. Does a patch exist somewhere already?

[2017-12-31 14:39] tricoder42 commented on #149
Yes, it's [this](https://github.com/lingui/js-lingui/blob/next-2/packages/babel-plugin-lingui-extract-messages/src/index.js#L218) line in `next-2` branch/

[2017-12-31 14:47] tricoder42 commented on #149
Released in:
 - babel-plugin-lingui-extract-messages@1.1.11
 - lingui-cli@1.4.3

Let me know if it helps

[2017-12-31 14:48] tricoder42 commented on #149
Ups, sorry, wrong branch (nothing new was released).

It's fixed in:
- babel-plugin-lingui-extract-messages@1.1.12
- lingui-cli@1.4.4

[2017-12-31 15:18] mcku commented on #149
@tricoder42 It works perfectly!! Thanks so much.

[2017-12-31 15:18] #149 closed

[2018-01-03 07:46] mcku commented on #140
I think adding this feature would be useful. Because the extracted messages.json may get uploaded to 3rd party translation services. I don't know if any such services support lingui format.

[2018-01-03 08:19] tricoder42 commented on #140
I agree, `lingui` format is overkill for most usecases. The change is ready in `next-2` branch and will be released soon in [2.x release](https://github.com/lingui/js-lingui/blob/next-2/docs/releases/migration-2.rst#default-message-catalog-format).

[2018-01-03 23:42] Eishpirate commented on #133
Hey @tricoder42, sorry for late reply. Christmas and New Years is a mad house :) We have put this issue on hold for now, but when we get back to it in the next month or so, we're going to use your suggestion to use React components for user language and custom i18n object for company language. Will update you with the results when we've implemented.

Thanks for your help :)

[2018-01-18 12:51] papoola commented on #48
@tricoder42 looks like `/api/extractors/typescript.js` doesn't do anything yet. It shouldn't be difficult to link it to `typescript-lingui-extract-messages` by @johansigfrids I guess?

[2018-01-18 12:54] tricoder42 commented on #48
You're right, `/api/extractors/typescript.js` is just a placeholder, waiting to be linked to external package like `typescript-lingui-extract-messages`. Unfortunately I don't have any experience with Typescript so it has very low priority.

Are you willing to help me with this? If you don't have time for full PR I would appreciate at least an example typescript files which I can use for testing.

[2018-01-18 12:55] papoola commented on #48
I might be able to help. But I am wondering why it is necessary to have plugin also as a `TS` file?

[2018-01-18 12:57] tricoder42 commented on #48
It's not necessary, but @johansigfrids wrote it in Typescript and I don't mind. It's not a problem at all either way.

[2018-01-18 13:01] papoola commented on #48
@tricoder42 I will try to compile it and do a PR. I might have some questions here and there. If there any better ways to reach you other than here, let me know.

[2018-01-18 15:03] papoola commented on #48
We were able to compile TS file as https://gist.github.com/papoola/fc0e73c732f7541b2f5891a141b7798f but apparently this is wrong file format and cannot be imported by require `System is not defined`. Maybe we can manually change this file and use JS file instead so no transpile is needed any more. @johansigfrids @tricoder42 any ideas?

@tricoder42 I have used this for extractor https://gist.github

[2018-01-18 15:08] tricoder42 commented on #48
Have you used the command provided by @johansigfrids?

[code]

I'll take a look this weekend, I promise! I'm just finishing one project and I'm already few days behind...

I'll ping you once I have it running and ready for tests. Meanwhile, could you please copy-paste a snippet of a component written in TS which uses jsLingui? I'll use it for initial testing.

Thanks a lot!

[2018-01-18 17:00] papoola commented on #48
@tricoder42 yes, I used same line

I just created [above PR with my code](https://github.com/lingui/js-lingui/pull/150) + [a test react project with jsLingui](https://github.com/papoola/lingui-test-react-ts) so you can test it.

Hope you can get typescript extraction working :-) Let me know if you need anything else.

[2018-01-19 17:43] tricoder42 commented on #133
Ok, no worries. Feel free to reopen if you have more question!

[2018-01-19 17:43] #133 closed

[2018-01-22 15:24] tricoder42 opened #151 "Typescript support"
Finalize plugin for extracting messages from typescript files. This need somebody with Typescript experience.

Status
=====

Base of plugin is created in [typescript-extract-messages](https://github.com/lingui/js-lingui/tree/9f60e7ff931d2cd1a86d3731b036c766b46740b0/packages/typescript-extract-messages) package (original version created by @johansigfrids). It uses the same test suite as `babel-plug

[2018-01-22 15:26] tricoder42 commented on #48
Unfortunately, this is more complex than I expected. I'm closing this in favor of #151. It needs somebody with typescript experience to get the full test suit going.

[2018-01-22 15:26] #48 closed

[2018-01-23 08:09] #141 closed

[2018-01-23 08:09] #143 closed

[2018-01-23 08:10] tricoder42 commented on #140
Fixed in `@lingui/cli@2.0.0`. See [release docs](https://lingui.github.io/js-lingui/releases/migration-2.html#default-message-catalog-format)

[2018-01-23 08:10] #140 closed

[2018-01-23 08:11] tricoder42 commented on #128
Fixed in `@lingui/core@2.0.0`. See [release docs](https://lingui.github.io/js-lingui/releases/migration-2.html#custom-ids-for-lingui-core-methods)

[2018-01-23 08:11] #128 closed

[2018-01-23 08:12] tricoder42 commented on #102
Fixed in `@lingui/cli@2.0.0`. Scripts can be imported from `@lingui/cli/api`

[2018-01-23 08:12] #102 closed

[2018-01-23 08:18] tricoder42 commented on #134
Hey @mcku, sorry for delayed response!

New major version has just been released. Project uses yarn workspaces now and plugins are compatible with babel 7.

I never had problem with multiline strings. There're even test cases which check that newlines are handled correctly. Could you please post an example of `<Trans>` tag which produces faulty message?

[2018-01-30 18:10] tinynumbers opened #154 "Question: migration path from `react-intl` to `js-lingui`?"
Has there been any documented approach (or tooling) around ways to migrate an existing code-base from `react-intl` translations to `js-lingui` translations?

I have a rather large codebase that was originally built around `react-intl` but I'd like to change it to use `js-lingui` everywhere... but not finding much direction on tackling this project.

Any suggestions?

[2018-01-30 18:28] tricoder42 commented on #154
Hello @tinynumbers,
so *the question* has been finally asked. I was thinking about it from the beginning, but fortunately I started working on fresh new project when I come up with jsLingui.

This would be great to document and once the instructions are clear, we could turn them into codemod.

**TLDR: There's no clear migration path at the moment.**

# Components

I think the migration should coul

[2018-01-30 19:24] tinynumbers commented on #154
The only things we're importing from `react-intl` are:

* `addLocaleData` (only a couple of times)
* `defineMessages`
* [`FormattedMessage`](https://github.com/yahoo/react-intl/wiki/Components#formattedmessage)
* [`FormattedRelative`](https://github.com/yahoo/react-intl/wiki/Components#formattedrelative) (only a couple of times)
* `injectIntl`
* `IntlProvider` (only once)
* `messageDescriptorPropT

[2018-01-30 19:26] tricoder42 commented on #154
Ah, I forgot. `IntlProvider` is the same as `I18nProvider` (probably different props).

[2018-01-30 19:48] tinynumbers commented on #154
Follow-up question:  have you ever seen projects that use `react-intl` and `js-lingui` in parallel - both within the same application - with some UI components doing their translations via `react-intl` and others (again, within the same application) translating via `js-lingui`?

[2018-01-31 05:26] tricoder42 commented on #154
No, I haven't heard about any. Theoretically this should be possible, because `IntlProvider` and `I18nProvider` use different props in context. However, it also means you need to load two versions of message catalog, because jsLingui uses compiled version (`{ [key: string]: Function | string }`), while react-intl compiles messages on-the-fly.

[2018-01-31 16:09] tume commented on #154
I recently migrated small codebase from react-intl to js-lingui (by hand) and only hiccup was with DateFormat component.

It seems that react-intl's FormattedDate was internally calling new Date() so you could pass in just strings instead of just Date objects in js-lingui.

[2018-01-31 16:13] tricoder42 opened #155 "Accept date as a string in DateFormat component"
This change makes DateFormat compatible with FormattedDate/Time from react-intl

[2018-01-31 16:14] tricoder42 commented on #154
@tume That's actually good suggestion for improvement. I've just created an issue for it https://github.com/lingui/js-lingui/issues/155

[2018-01-31 17:05] tinynumbers commented on #154
Is it possible to use `i18n.t` as a direct replacement for react-intl's `intl.formatMessage`?  Since `i18n.t` expects a template string, it seems unusable if your message is stored in a variable?  Let me know if I'm misunderstanding the capabilities of `i18n.t`...

For now, in my proof-of-concept spike on this migration, I've been using `i18n._` instead of `.t`. Example:

A bunch of messages:

[co

[2018-01-31 19:13] tricoder42 commented on #154
Yes, you're correct. If you use `i18nMark`, you need to feed the variable to `i18n._`. `i18n.t` could be used directly like:

[code]

[2018-02-02 10:43] sedubois opened #157 "lingui.io does not load"
The website https://lingui.io which is linked from https://github.com/lingui does not load (loads indefinitely with no content appearing).

[2018-02-02 10:49] sedubois opened #158 "Create example on other repos"
To gain visibility I think it would be super useful to demonstrate the integration of js-lingui in other popular frameworks/libs, such as https://github.com/gatsbyjs/gatsby and https://github.com/zeit/next.js.

That's easy to say for me because unfortunately I have no time to contribute pull requests! But this looks like an inspiring project and I think it might deserve to be more visible, especia

[2018-02-02 11:52] ikhilko opened #159 "Using i18n utilities outside React but populating config from I18nProvider"
Hi, I'm trying to use your library in my react-native project. I'm using redux-saga and in some situations I need to call i18n api's outside React components (e.g. in sagas to show native Alert).
So I have done configuration with I18nProvider and then use Trans, i18n.t and other things in components. And that works well! But looks like I cannot use i18n from @lingui/core telling using I18nProvider

[2018-02-03 09:16] tricoder42 commented on #157
Yeah, the site is obsolete. I updated links in lingui org page. Thanks :)

[2018-02-03 09:16] #157 closed

[2018-02-03 09:18] tricoder42 commented on #158
I can't agree more. I'm a bit overwhelmed by work atm, but hopefully at the end of February I could focus on this.

[2018-02-10 11:35] mcku commented on #134
@tricoder42 Thanks a lot!! I am closing this then.

[2018-02-10 11:35] #134 closed

[2018-02-13 23:25] afrankel-sfdo opened #161 "Lint Warnings"
The default create react app linting rules throw warnings for the formatting of messages.js
[code]

[2018-02-14 08:50] thibautRe commented on #161
Since this file is generated, I suggest ignoring the whole `./src/locale` directory in your eslint config.

I haven't tried it out, but if you add a `.eslintignore` file at the root of the repo with the following content inside, that should do it

[code]

[2018-02-14 09:02] tricoder42 commented on #161
Hey @afrankel-sfdo,
as @thibautRe suggests, this seems to be a viable option. The `messages.js` file is generated and minified. I guess using `==` instead of `===` is part of minification.

[2018-02-14 16:05] afrankel-sfdo commented on #161
@thibautRe @tricoder42 thanks for the quick response, this solution makes sense, and worked for me!

[2018-02-14 16:05] #161 closed

[2018-02-18 20:55] lexkrstn opened #162 "@lingui/cli cannot find module 'babel-core'"
Typing `lingui extract` in the terminal I've got the following:
[code]
`@lingui/cli 2.0.2`

I suppose it should be `@babel/core` instead of `babel-core` there.

[2018-02-19 23:36] elios264 opened #163 "js-lingui does not work with @babel/core 7.0.0"
I'm trying to integrate js-lingui with my project but it keeps failing,
some of the errors I get are:

ERROR in ./src/client/appLoader.js
Module build failed: Error: Plugin/Preset files are not allowed to export objects, only functions.

or

@babel\plugin-transform-spread\lib\index.js:9
  var loose = options.loose;
                      ^

TypeError: Cannot read property 'loose' of undefined
    a

[2018-02-20 05:57] tricoder42 commented on #163
Hey @elios264,
I'm using new (7.x) babel in both examples (see this [`.babelrc`](https://github.com/lingui/js-lingui/blob/master/examples/webpack-react/.babelrc)).

What plugins you're using and how your `.babelrc` looks like?

[2018-02-20 05:59] tricoder42 commented on #159
Hey @ikhilko,
you can create your own `i18n` core object using `setupI18n` from `@lingui/core` and pass this object as an argument to `I18nProvider`. Once you have it, you should be able to use your `i18n` object everywhere outside React context.

Does it make sense? Please try it out and tell me if it works for you

[2018-02-20 06:02] tricoder42 commented on #17
@vonovak I'm gonna update contributor guide. Short answer:

1. Documentation uses [Sphinx](http://www.sphinx-doc.org/en/master/) and [reStructuredText](http://www.sphinx-doc.org/en/master/rest.html). It's inside `docs` directory.
2. To setup python virtualenv, run `pipenv install` inside `docs`
3. Run `make html` to build docs
4. After everychange, run `make html` to rebuild the docs. Incremental

[2018-02-20 10:38] lexkrstn commented on #163
I'm getting the first error too.
Just temporary fixed it by not using the preset and placing its plugins into babel config instead.
`@babel/core 7.0.0-beta.40`

[2018-02-20 11:09] lexkrstn opened #164 "Incorrect parsing locale string"
It seems like the function `loadLanguageData` from `@lingui/core/cjs` can only deal with only underscore sign being used as the locale separator. But when it comes to strings looking like `en-US` it fails to split them.

[2018-02-20 13:16] lexkrstn commented on #162
The same problem in:
`@lingui/cli/api/compile.js`
I've just hardcoded the sources in node_modules dir and after replacing all the `babel-*` entries to `@babel/*` the `lingui compile` seems to be working now without any errors.

[2018-02-20 13:28] tricoder42 commented on #162
Good catch! Don't know how this slipped through tests.

Interested in sending a PR?

[2018-02-20 14:51] elios264 commented on #163
Hi @tricoder42,

This is my .babelrc file

[code]
As stated in the [docs](https://lingui.github.io/js-lingui/tutorials/react.html#installing-jslingui) I added the preset,  but I see in the example you [provided me](https://github.com/lingui/js-lingui/blob/master/examples/webpack-react/.babelrc) you are not using the preset and instead the plugins directly, I also just tried that but is not working

[2018-02-20 15:04] pcraig3 commented on #162
Hey, I'm running into exactly this problem, just following [the current CLI tutorial](https://lingui.github.io/js-lingui/tutorials/cli.html).

I was planning to stay on `lingui-cli: "^1.4.4"` until this gets resolved.

[2018-02-20 16:23] lexkrstn commented on #162
@tricoder42 Sorry, I'd love to, but can't pass though initial tests. They fail with a bunch of oddly looking errors, something like that:
[code]
Don't know what the problem is.

[2018-02-20 17:38] tricoder42 commented on #163
@elios264 Thank you for detailed traceback, I'll take a look asap (latest this thursday).

There's a bug in `@lingui/cli` package, the dependencies in js files are wrong.

[2018-02-20 18:30] tricoder42 commented on #162
@lexkrstn Very interesting. You're using Windows? I guess the only problem can be whitespace, all other characters looks fine. Anyway, I'm just testing the fix. Should be published soon (today).

The problem is that Jest still uses `babel-core`, so tests don't fail when resolving incorrect package name.

[2018-02-20 18:42] #162 closed

[2018-02-20 18:43] tricoder42 commented on #162
Fixed in **2.0.3**

[2018-02-20 18:44] tricoder42 commented on #163
@elios264 `@lingui/cli` is fixed in **2.0.3**

[2018-02-20 20:20] elios264 commented on #163
Hi @tricoder42

I think you rushed a little bit on publishing a new version, it is still failling in [here](https://github.com/lingui/js-lingui/blob/master/packages/cli/src/api/compile.js#L2) and [here](https://github.com/lingui/js-lingui/blob/master/packages/cli/src/api/compile.js#L5);

![capture](https://user-images.githubusercontent.com/15863852/36447149-1a21e4fa-1649-11e8-8721-cd2087452b49.PNG

[2018-02-21 00:25] elios264 opened #166 "withI18n does not copy over static methods"
As stated in [React docs](https://reactjs.org/docs/higher-order-components.html#static-methods-must-be-copied-over) when creating a HOC, you need to copy over the static methods,

Some of my components declare static properties, but they are undefined when using `withI18n `

This fix is simple, the only addition is to call `hoistNonReactStatic ` over the hoisted and original component

[2018-02-21 05:44] tricoder42 commented on #166
Do you think this should be baked to jsLingui or simply adding a [note](https://reactjs.org/docs/higher-order-components.html#static-methods-must-be-copied-over) to documentation is enough?

[code]

I'm not sure if we should do it implicitly. Larger bundle is just one disadvantage, even though the package seems to be rather small.

[2018-02-21 06:23] tricoder42 commented on #163
@elios264 Bummer. I fixed @lingui/cli and both presets in **v2.0.4**. Still I'm not sure what causes TypeError with options.loose.

[2018-02-21 13:38] vonovak commented on #166
I think it is good practice to hoist the statics. I think you may also use render prop instead of a HOC and they don't need hoisting afaik.

[2018-02-21 14:38] elios264 commented on #166
I would add it to jsLingui, because "strictly" speaking any HOC should add additional functionality without removing other and `withI18n` is removing that feature, [react-redux](https://github.com/reactjs/react-redux/blob/master/package.json#L53) which also provides the `connect` HOC is also hoisting the static methods and props.

But in any case this can easly be done outside like you stated:
`ex

[2018-02-21 14:40] tricoder42 commented on #166
Make sense, I'll add it to keep HOC behavior consistent.

[2018-02-21 15:20] elios264 commented on #163
Hey @tricoder42

I installed and verified it is working now in **v2.0.4**. and the preset as well,
I think the TypeError with options.loose was happening due to mixing old `babel-*` deps with `@babel/*` deps, but since is that is fixed, options.loose error is gone as well.

Thank you!

I also have other question that I'm not sure where to ask;

in the docs you say:

**Why not reference `messages.j

[2018-02-21 15:24] tricoder42 commented on #163
In production you need alway reference `messages.js` (compiled catalog). There's a webpack loader to make things easier, which allows you to reference `messages.json` and the file is compiled to `messages.js` on-the-fly.

This is not only about language data (e.g. plurals). In production, the message parser isn't available (because it's slow and large) and compiled catalog contains messages compil

[2018-02-21 16:50] elios264 commented on #163
Great, I'm using the loader now.
Thanks!.

[2018-02-21 16:50] #163 closed

[2018-02-21 23:19] azangru commented on #154
@tricoder42 You mentioned above that react-intl's `intl.formatDate` corresponds to `i18n.date`, but I am having trouble accessing the `date` function on the injected `i18n` object. When I inspect the `i18n` object, I see that it has `plural`, `select`, `selectOrdinal` and `t` methods, but no `date` method. I have `@lingui/react` package version 2.0.2. Is there a convenient way to access the `date`

[2018-02-22 23:10] ikhilko commented on #159
@tricoder42 yes, it works! thanks

[2018-02-23 16:03] elios264 opened #169 "@lingui/babel-preset-react not working in production mode"
![capture](https://user-images.githubusercontent.com/15863852/36603438-5b7bf01a-1880-11e8-9f82-0091258d217c.PNG)

The section on the left fails to transform
`i18n.t  'Sample'` to `i18n._("Sample")` (avoiding backticks because of github editor)

Not sure why, but switching to use the plugins directly works.

This only fails in production :(

[2018-02-23 16:31] levito commented on #151
Is this still being worked on? jsLingui looks really nice, I'd love to use it for TypeScript projects!

[2018-02-23 16:35] tricoder42 commented on #151
@levito I'm still waiting for fellow contributor with knowledge of Typescript. Unfortunately don't have required knowledge to work on this and at the moment I don't have even time to learn and understand Typescript ecosystem.

Interested in contributing?

[2018-02-24 03:03] quentez commented on #151
@tricoder42 Babel has beta support for TypeScript in [version 7](http://artsy.github.io/blog/2017/11/27/Babel-7-and-TypeScript/).
Would that make it easier to write the extractor by relying on that instead?

[2018-02-26 23:04] ktunkiewicz commented on #169
I got the same issue. Using Webpack@3.10.0, Babel@7.0.0-beta.38 and js-lingui@2.0.4
Your fix doesn't work for me.

What I observed is that this only happens in "common" chunk (using CommonsChunkPlugin, in very basic configuration). It works fine in all other chunks.

The only difference between the develop and production build in our webpack configuration is this:
[code]

Couldn't find a fix. The

[2018-02-26 23:37] ktunkiewicz opened #171 "Babel throws "Plugin/Preset files are not allowed to export objects, only functions.""
lingui 2.0.4, babel 7.0.0-beta.40

[code]

There's a closed issue mentioning something like this: https://github.com/lingui/js-lingui/issues/163

The difference is that I actually *updated to 2.0.4 from 2.0.0 and got this error* (while the author of issue#163 had an opposite situation - he was getting this on 2.0.2 and it was "fixed" and updated to 2.0.4)

Any ideas how to fix that?

[2018-02-27 09:17] tricoder42 commented on #171
What's the output of `npm list | grep lingui` command?

As a workaround, could you replace the preset with plugins and try that?

[2018-02-27 09:18] tricoder42 commented on #169
Could you please try to replace preset with plugins?

[2018-02-27 14:31] elios264 opened #173 "Almost every step in contributing.md fails on windows machine."
Hi!

I tried contributing to the repository, I'm pretty new on the matter, but I miserably failed,
It says something about `yarn run bootstrap` but I think `contributing.md` is outdated.

and `yarn run test` and `yarn run watch` both fail on windows.

[2018-02-28 10:25] ktunkiewicz commented on #171
[code]

@tricoder42 not sure if you noticed that this happens when I run `lingui extract --clean`. How can I "replace the preset with plugins" in it?

[2018-02-28 11:12] ktunkiewicz commented on #169
Hah! I found what was wrong.

Basically, you *cannot* do something like this:
[code]

It has to be written like this:
[code]

The babel plugin will simply not see your `i18n.t` if it is written down as `props.i18n.t`.

Should this be considered a bug or not?

PS. Changing preset to plugins doesn't make any difference.
PSS. I guess the reason why it is only visible in production builds is that in d

[2018-02-28 11:14] tricoder42 commented on #169
Yeah, I would consider it bug, because this is annoying.

`i18n.t` is available in development only. In production, `i18n.t`, `i18n.plural` and other methods are replaced with `i18n._` which is low-level method for message formatting.

[2018-02-28 11:43] ktunkiewicz commented on #171
I also checked version 2.0.2 and it works fine, no errors, only when I switch to 2.0.4.

[2018-03-02 06:17] tricoder42 commented on #173
@elios264 You're right, the guide was outdated. I published updated version, please check it out and let me know if you have any more problems

[2018-03-02 06:17] #173 closed

[2018-03-02 07:11] tricoder42 commented on #171
Could you please show me your `.babelrc`? Running `lingui extract` inside one of examples works fine. It's weird it worked in 2.0.2 and doesn't work now though.

[2018-03-02 07:19] tricoder42 commented on #171
I was having the same problem on one of my projects which was still using Babel 6. I updated it to Babel 7 and now `lingui extract` works fine. Here's my `.babelrc`:

[code]

... but the [.babelrc](https://github.com/lingui/js-lingui/blob/master/examples/webpack-react/.babelrc) in example works fine as well.

Please let me know, I'm curious what's happening.

[2018-03-02 07:21] tricoder42 commented on #135
Hey, I've just updated [contributors guide](https://github.com/lingui/js-lingui/blob/master/CONTRIBUTING.md). All development scripts are written in JS, so it should be possible to run them on Windows as well.

[2018-03-02 07:21] #135 closed

[2018-03-02 07:22] tricoder42 commented on #169
Closing in favor of #130, which is exactly the same issue.

[2018-03-02 07:22] #169 closed

[2018-03-03 19:32] bs1180 commented on #171
I'm having this same issue trying to use Lingui with next.js. My .babelrc consists of:

[code]

Everything is on the latest version. Thanks for any help!

[2018-03-04 08:33] tricoder42 commented on #171
@bs1180 I just tried exactly the same config and I didn't get any error.

Could you please save output of `yarn list` or `npm list` to a file and upload it here?

[2018-03-05 10:31] bs1180 commented on #171
@tricoder42 Thanks for checking - here's an example that reproduces it: https://github.com/bs1180/lingui-nextjs.

The output of `yarn list | grep lingui` is:
[code]

[2018-03-05 10:35] rssfrncs opened #175 "Configure Lingui using a separate file"
As a developer i prefer (or have the choice) to write my configuration in a separate file instead of inside `package.json`.

Examples, .babelrc, .postcss.config.js, .eslintrc.js

[2018-03-05 12:04] ktunkiewicz commented on #171
@tricoder42 sorry for late answer, our project does not have `.babelrc` to start with.
So, firstly, we don't use `.babelrc`. Babel configuration is done through webpack config.
Secondly, we use Babel 6. Didn't migrate to Babel 7 yet.

But why should that matter for lingui? It requires babel 7 and downloads it to `@babel` namespace. So our `node_modules` have both Babel 6 and Babel7. All other ling

[2018-03-05 13:15] tricoder42 commented on #175
Make sense.

The package responsible for loading config is [`@lingui/conf`](https://github.com/lingui/js-lingui/tree/master/packages/conf). I guess there might be 3rd party package which does exactly the same (maybe in `jest` repo) - loads config from nearest `package.json` or specific file.

[2018-03-05 13:45] tricoder42 commented on #175
This might be useful: [config resolution](https://github.com/facebook/jest/blob/master/packages/jest-config/src/resolve_config_path.js) in Jest.

[2018-03-05 19:42] vonovak opened #176 "Add guide how to use i18n outside React context"
Hi, thanks for the lib!
I'm having the following issue:

consider having:

[code]

which gets transpiled into
[code]

My problem is that when `process.env.NODE_ENV !== "production"` evaluates to false, [body of this condition](https://github.com/lingui/js-lingui/blob/0d0aa92e334909a27ec0a38b2c99559e3c4558e5/packages/core/src/i18n.js#L172) is not executed.

The first param (`id`) of the function wi

[2018-03-05 19:46] tricoder42 commented on #176
Do you use compiled message catalogs? In production, there’s no need for strong substitution because messages with parameters should be functions (obtained by compiling messages using ‘lingui compile’)

5. 3. 2018 v 20:43, Vojtech Novak <notifications@github.com>:

[2018-03-05 20:23] vonovak commented on #176
@tricoder42 thanks for quick response, that will probably be it. I do see a correct entry in `messages.js` which I got by `lingui compile`, where for the message id, there is a function. Now, it seems like the `i18n.t` function is not picking up the values from `messages.js`, is there something special I need to do to wire them up? I did not see this in the docs. Thanks.

[2018-03-05 20:47] tricoder42 commented on #176
Do you have ‘this.props.i18n.t’ in your code or ‘i18n.t’? The first variant doesn’t work at the moment (it’s not picked by transform plugin)

5. 3. 2018 v 21:23, Vojtech Novak <notifications@github.com>:

[2018-03-05 20:48] vonovak commented on #176
the second one: i18n.t

[2018-03-06 06:01] tricoder42 commented on #176
What's your Babel config?

There's one issue when using presets, that some plugins (e.g transform-runtime) transform tagged template literals to function calls before lingui preset.

[2018-03-06 06:14] tricoder42 commented on #171
@ktunkiewicz  Messages are extracted using babel plugin, so you need full babel config. It might be a problem that we're mixing babel6 and babel7 plugins. I would suggest extract babel config from webpack one. Similar workaround is needed for create-react-app, neutrino and all other 0config tools which hard-code babel config to webpack one.

I guess we might use a different method to extract messa

[2018-03-06 08:57] vonovak commented on #176
My babelrc:
[code]

The problem is present even if I change the template literal to `i18n._("Maximum of {num} items can be selected", { num: 10 })` (not sure if this helps).

[2018-03-07 00:05] snegostup commented on #14
Catalog splitting is an absolutely necessary feature for any real world website or SPA. Is it planned to implement anytime soon?

[2018-03-07 10:36] morloy commented on #158
We're migrating our [website](https://www.ledgy.com) to jslingui now, but it's still a work-in-progress.

After a few hours of work I finally figured out how to integrate it with Gatsby.
If you follow the official documentation, some extra steps are necessary (instructions might be incomplete):
1. [Upgrade Gatsby to React v16](https://www.npmjs.com/package/gatsby-plugin-react-next)
2. Manually ins

[2018-03-07 11:28] tricoder42 commented on #158
@morloy This is great stuff, thank you for sharing! I've never worked with Gatsby, but as a static site tool it always operates in development mode?

[2018-03-07 11:52] morloy commented on #158
No, but when you build the site, I think everything gets bundled and minified with webpack. So no need to actually "compile" the `messages.json`. However, I haven't tested with complex features like plurals, etc.

[2018-03-07 11:57] rssfrncs opened #177 "How do you handle dynamic translations?"
Hi,

Is it possible to translate the example below?

[code]

If routes equals ['home', 'contact'] i'd expect two new keys to be extracted 'home' and 'contact'.

[2018-03-07 12:00] tricoder42 commented on #177
Yeah, first you need to use `i18nMark` to mark translatable strings and then pass it as an id either to `<Trans>` component or `i18n._` method:

[code]

[2018-03-07 12:01] tricoder42 commented on #158
The problem might be when you use variables or plurals inside translations. Then you'll probably have to use either compiled message catalog or `@lingui/loader` webpack loader which compiles catalogs on the fly.

[2018-03-07 12:02] rssfrncs commented on #177
@tricoder42 great and thanks for the quick response.

Can i suggest that this is added as a todo "to add to documentation"? I imagine that this is quite a common use-case and i couldn't find anything about it in the docs site.

[2018-03-07 12:05] tricoder42 commented on #177
It's documented in [reference docs](https://lingui.github.io/js-lingui/ref/lingui-react.html#i18nMark), but would be great to add it either to tutorial or how-to guide. It's a bit hidden in reference docs.

Maybe we just need to add a reference to a docs. Where were you looking when you were searching for this feature?

[2018-03-07 12:07] rssfrncs commented on #177
@tricoder42 I'd say this could be made search friendly by simply including "dynamic translation key". I used the docs site top level search.

[2018-03-07 12:08] tricoder42 commented on #177
Good point! Thanks 👍

[2018-03-07 13:07] ipeo commented on #171
I have th exact same issue

[2018-03-07 13:33] rssfrncs commented on #177
@tricoder42 just to confirm my reasoning here, i18nMark purpose is for lingui babel to identify and extract it's called value? The implementation of i18nMark is `key => key` and does 'nothing'.

[2018-03-07 13:43] tricoder42 commented on #177
Exactly, `@lingui/babel-plugin-extract-messages` finds `i18nMark` function calls and extracts it and remove `i18nMark` function completely.

[2018-03-07 19:55] rssfrncs commented on #159
@tricoder42 is any of @lingui/core documented? I have a similar requirement.

[2018-03-08 01:08] snegostup commented on #128
How should we handle the case when `id` has not been found in catalog? I mean not just rendering it but also doing logic like `if (translated === 'NOT_FOUND') {...}`

If I do `const translated = i18n._("bad_id", {defaults: "NOT_FOUND"})`, `translated` will equal to `"bad_id"` instead of `"NOT_FOUND"`

And `const translated = <Trans id={"bad_id"}>NOT_FOUND</Trans>` also won't work because in this c

[2018-03-09 11:22] purepennons opened #179 "Add support for .po file format"
I use [`react-intl`](https://github.com/yahoo/react-intl) first. But because of the writers requirement, we only can provide untranslated text with a complete statement. And js-lingui support rich-text formatting with component that solved my problem. However, I found another problem in my scenario.

In my scenario, writers only accept the sheet format (.csv, .xls).

And I found a tool [`translate

[2018-03-09 12:04] tricoder42 commented on #179
Nothing I’m aware off yet. You can either find converter from JSON to po or we could extend Lingui to handle Po file format. The CLI already works with several formats, so the API and example implementation is there.

9. 3. 2018 v 12:22, Chiahao Lin <notifications@github.com>:

[2018-03-09 14:27] purepennons commented on #179
Got it. Maybe implement a converter from `.json` to `.po` is easier for me at the time because of time pressure. If everything works fine, I will try to extend Lingui to handle `.po` format and send a PR.

[2018-03-10 02:18] snegostup opened #180 "lingui extract --verbose - better error handling"
Right now `srcFilename` is outputted **after** successful extraction. When there has been an error during extraction we can't see which file caused the error.

I propose to output `srcFilename` before extraction and after successful extraction output "Success". Something along these lines.
[code]

[2018-03-10 08:03] snegostup opened #181 "Extract doesn't work with new i18n._ signature?"
**tl;dr** when using new `i18n._` signature, output works but extraction doesn't. When using old signature - extraction works, but output doesn't.

According to [new docs](https://lingui.github.io/js-lingui/releases/migration-2.html#signature-of-i18n-changed) it should be used like this
[code]
But in this case `extract` doesn't pick up the `defaults`

_messages.json:_
[code]
When used with old sig

[2018-03-10 10:57] tricoder42 commented on #180
Sounds reasonable, interested in sending PR?

[2018-03-10 17:08] snegostup commented on #181
After looking at `@lingui/babel-plugin-extract-messages` I can confirm that when processing `i18n._` it doesn't look at third argument (which sets the `defaults`) and looks for `defaults` in second argument as in older signature.

@tricoder42 can you please suggest how can I use `i18n` outside react -
1) Using custom id
2) With properly working extraction
3) With properly working output

Thanks

[2018-03-14 03:36] HriBB commented on #177
But what if keys are not available at compile time? For example, I am loading a list of modules from the GraphQL server and render it in a drawer. How can I translate that?

[2018-03-14 07:20] purepennons opened #182 "Arguments format of `lingui add-locale` may need to be more flexible?"
In [`Intl`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl) (BCP 47), there are [some languages](https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry) named like `zh-Hans-TW`, `zh-Hans-CN` . It makes more sense to name the locale folder same as Intl naming, or it may be some confusion when importing the message files into `langua

[2018-03-14 12:39] ktunkiewicz opened #183 "Lingui handling only strings in variables"
Hello Lingui team.

This is more of a feature request, to see what's your view on this.

So, currently lingui only handles strings as variables, so I cannot do something like this:
[code]

this will result in:
`With our company you save [object Object]`

You may wonder why this is important for me. Well, we have a fairly big application which shows all kind of numbers and amount in different place

[2018-03-15 13:16] snegostup commented on #181
A little temporary workaround I've come up with:
[code]

[2018-03-15 23:48] panigrah commented on #130
I am getting a similar error. `react-dom.production.min.js:164 TypeError: t.t is not a function` when I use` i18n.t`.  I am using `withI18n()` HOC and using compose to combine a few different HOCs together. It works fine in development but not in production.

Any ideas on what I can change?

[2018-03-16 11:11] mlabrum commented on #86
Hey,

I've got a working solution for creating a macro form of `babel-plugin-transform-react`
https://github.com/mlabrum/js-lingui/tree/feature/macro/packages/react-macro

once https://github.com/lingui/js-lingui/pull/184 has landed I'll rebase it and submit it for a PR

Cheers :D

[2018-03-16 15:16] tricoder42 commented on #86
@mlabrum Awesome! I'm currently on vacation, so I have only limited time for review, but I'm excited that you're working on this. Kudos! 👍

[2018-03-16 15:24] tricoder42 commented on #183
Hello @ktunkiewicz,
I'm just curious, why can't you use directly this:

[code]

This would result in message: `With our company you save {savings, number}` which is still very comprehensive for translator.

[2018-03-16 15:30] tricoder42 commented on #177
@HriBB That's actually more complex and jsLingui doesn't support that at the moment.

If you know the messages, you could write a script which queries GraphQL server, extracts messages and then run `lingui compile`.
If you don't know the messages (e.g.: dynamic content on website), then you have to load message parser anyway. I need to figure out how to override default behaviour a force message p

[2018-03-16 16:00] rssfrncs commented on #177
@HriBB @tricoder42 perhaps the server should be handling translation in this case?

[2018-03-16 17:20] Smolations commented on #171
@tricoder42 I am having the same issue as @bs1180. I have tried node versions of 8.x and 9.x with the same result. Also tried using the plugins instead of the preset with no change. Is there a stable version of lingui that was written to work with babel6? If so, is there feature parity between that version and the current version?

[2018-03-16 18:29] machour commented on #183
@tricoder42 the problem is that the components aren't always that simple.
Here's my current use case:

[code]

knowing that `handleIssueCommentsEvent` is one of many functions doing approximately the same job, being able to have a component as variable would be really nicer to the eyes:

[code]

[2018-03-16 19:06] machour opened #186 "Idea: Help catching forgotten strings"
Hi @tricoder42 and cheers for this **excellent** library 🙌

What would you think about implementing some kind of debug mode in js-lingui that can be turned on/off by the developer to quickly spot the places where he forgot to use `<Trans>` ?

Here's what it would look like:

| Normal mode | Debug mode |
| ---------------- | --------------- |
|![simulator screen shot - iphone x - 2018-03-16 at 19 5

[2018-03-16 19:13] machour commented on #186
Replacing the output of components nested inside `<Trans>` with Xs would make that even nicer 😍

![screen shot 2018-03-16 at 8 12 08 pm](https://user-images.githubusercontent.com/304450/37540206-6a4af0dc-2956-11e8-855d-27b1f552ae60.png)

[2018-03-17 00:16] HriBB commented on #177
@tricoder42 it's similar to what I am doing now. I manually extract all the translations from GraphQL server, and build a `server/.cache/translations.js`, then include this folder in `srcPathDirs`. What if the `cli` had like a hook script, which would return a promise, and in this promise, user could add additional translations. You could include extra scripts, query the server, merge catalogs, ..

[2018-03-17 03:43] HriBB opened #188 "<Trans id={'msg.id'} /> does not work"
CLI extract parser does not handle attributes wrapped in curly brackets.

This works
[code]
This works
[code]
This does not work
[code]

I can make a PR if you'd like, just point me in the right direction.

I assume we need to add support in `babel-plugin-extract-messages`, right?

[2018-03-17 05:33] HriBB commented on #188
I created a #189 for this issue.

[2018-03-17 05:57] HriBB commented on #188
I'm trying to test this locally, but I cannot get the cli to work. Is there some documentation on contributing or how to setup the dev env?

[2018-03-17 21:58] morloy commented on #179
At [Ledgy](https://www.ledgy.com) we used [i18next-conv](https://github.com/i18next/i18next-gettext-converter) to convert between the `.json` (minimal format) and `.po` and translate our new website from English to German.
Generating a `.po` file from js-lingui was also very handy to bootstrap the translation with the [Google Translator Toolkit](https://translate.google.com).

[2018-03-17 22:03] morloy commented on #138
You can use [i18next-conv](https://github.com/i18next/i18next-gettext-converter) to convert between the minimal `.json` and `.po`. Works nicely together with PoEdit.

[2018-03-18 09:09] machour commented on #188
@HriBB there's a contributing guide at https://github.com/lingui/js-lingui/blob/master/CONTRIBUTING.md

[2018-03-18 11:42] machour opened #190 "Feature Request: Add sorting option to extract"
`extract` currently writes the messages in the order they were found while parsing the source directory.

adding a `--sort` option with the following values could be handy:

- "files": current behavior
- "message": alphabetically sorted by the source language

Maybe empty untranslated messages could be inserted at the top of the file, same way obsolete messages are currently at the bottom.

Would

[2018-03-18 13:01] machour opened #191 "Hint the user about why compilation fails"
Migrating from react-native-i18n to lingui, I needed to automate the catalog conversion a bit.

At some point, I messed up a string in a message.json file, and struggled a bit to find the culprit:

[code]

I managed to find the issue by tracing in lingui-compile:

[code]

catching errors from `messageformat-parser` and outputting something like `Error: Invalid string found in locale/eo/messages.js

[2018-03-18 15:04] morloy commented on #158
We've now finished with finished the redesign of your company website using GatsbyJS and js-lingui.
Have a look at the result at [Ledgy.com](https://www.ledgy.com) and of course the [source](https://github.com/morloy/ledgy.com) to learn how to run the two together.

[2018-03-19 15:06] ktunkiewicz commented on #183
@tricoder42 unfortunately live is rarely so simple :) If React allows something - expect it to be used by people. In my case I'm adding translations to an existing application, so I would have to refactor quite lot of code to remove this kind of usage (got this issue 20 times, so far).
Beside, being able to hold components in variables is just useful, as you see in @machour example.

[2018-03-20 08:45] snegostup commented on #141
Is it unusable with custom message ids?
[code]
(with `"sourceLocale": "en"` set in config)

extracts:
`"page.title":"page.title"` instead of `"page.title": "Hello World!"`

[2018-03-22 07:28] sedubois opened #194 "Comparison with other react intl libraries"
Is there a place where js-lingui is compared to e.g. react-intl, something that helps newcomers *why* they should be interested in this? Considering that react-intl is so popular, I think it would be quite important. Thanks for your time 🙏

[2018-03-22 07:30] sedubois opened #195 "ReactFest talk about i18n"
https://www.youtube.com/watch?v=6NwgHUcom_8

Was interesting to watch even if only mentions react-intl. CLDR, ICU, IETF standards + more complex examples of how to use message format. Sorry that it's not an "issue", please close...

[2018-03-22 14:22] machour commented on #171
@Smolations have you tried v2.0.2? Worked for me

[2018-03-22 16:37] sedubois commented on #194
Would be great to share such info with @elischutze: https://twitter.com/elibelly/status/976765290091614208

[2018-03-22 17:04] Smolations commented on #171
@machour I did try downgrading to several versions actually, but no change. You have 2.0.2 working in a next.js project?

[2018-03-22 17:15] machour commented on #171
@Smolations react-native

[2018-03-24 14:02] Photonios commented on #171
We also faced this problem. The breaking change was in `@lingui/cli` 2.0.2. `@lingui/cli` 2.0.1 still works if you have a Babel 6 version.

More specifically, this commit used to make it work: https://github.com/lingui/js-lingui/commit/99f3f5daf640928941e62d05b9f1ac5dfa3ccf7d#diff-17502638c53a6f9c1aad8483bb8b2551

After that commit, `@lingui/cli` breaks for anyone who uses Babel 6.

[2018-03-25 17:14] tricoder42 commented on #188
Hey @HriBB, thank you for the PR.

I'm wondering, what's the usecase? ID should be always either a string or a variable (inside JSX container). String is generated automatically in transform plugins. What about raising a warning about unnecessary JSX container when user accidentally types it?

[2018-03-25 17:24] tricoder42 commented on #190
Hey @machour, sounds good. Could you also please add corresponding config value to `lingui-conf`?

Should it be considered backward-incompatible change if we move untranslated messages to the top? I guess not, but it may be surprising when catalog will change between `lingui-cli` versions. Anyway, definitely sounds like a good idea.

Let me know if you need anything from me, I've just returned fro

[2018-03-25 17:28] tricoder42 commented on #186
Interesting idea 👍

I'll play with it for a while to see what's the best API.

[2018-03-25 17:32] tricoder42 commented on #183
Thank you @machour for a great example. It's more clear now. This might be a bit challenging, but I'll take a look.

[2018-03-25 17:35] tricoder42 commented on #158
This is really great! I'm gonna create showcase page in docs soon. Thank you for your effort!  👍

[2018-03-26 00:49] HriBB commented on #188
I find it faster to refactor and change props, if I use this format all the time `<Component prop={'string'} />`.

So when integrating `js-lingui` in one of my apps, I used `<Trans id={'msg.id'} />` in some places, and those messages were not extracted. After changing it to `<Trans id="msg.id'"/>`, all messages are extracted correctly.

It's not a problem, but might be worth mentioning in the docs

[2018-03-26 04:29] pcraig3 commented on #158
Hey there @tricoder42, thanks for all your effort thus far! Lingui looks like a super interesting project. Specifically, we've found the locale files very easy to work with and we would love to use it more broadly. We've been experimenting with it at work and had some good results in the past, but then some not-so-good results more recently.

- We tried integrating it with Next.js recently, but co

[2018-03-26 08:03] tricoder42 commented on #188
That's fine, sounds good. Thanks for clarifying! 👍

[2018-03-26 10:27] vonovak commented on #176
@ktunkiewicz the tutorial you linked seems to be react-specific since it talks about I18nProvider. I use the i18n.t calls outside of react components so this should work out of the box if I understand it correctly. I will try to create a repro that can be used to debug the problem.

[2018-03-27 13:58] dcroitoru commented on #158
I created a Gatsby starter that makes use of js-lingui:
https://github.com/dcroitoru/gatsby-starter-i18n-lingui.git

[2018-03-28 08:16] rssfrncs opened #196 "Jest SnapShot testing"
Hi,

Just wondering if there is anyway to simplify the output for snapshot testing?

What could be,

[code]

is actually,

[code]
There is less noise when the component is not wrapped in a provider in the test,

[code]

but this comes at the cost of testing the logic in the case of plurals.